<?php
$data_id   = $this->content['data_id'];
$course_id = $this->course['id'];
?>
<?php if ( $this->ajax == 0 ) { ?>
<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js' );
?>
    <div class="dashhead">
        <div class="title-wrap">
            <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
                <div class="subtitle"><?php echo $this->content['title']; ?> <i class="uk-icon-caret-down"></i></div>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li>
                            <a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard'); ?></a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses'); ?></a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $course_id; ?>">
                                <?php echo $this->title; ?>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl()?>/admin/courses/blockcontent/id/<?php echo $data_id; ?>">
                                <?php echo $this->content['title']; ?>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <?php } ?>
            <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
            <div class="subtitle"><h5><?php echo $this->translate("Content Type: ") . strtoupper($this->content['data_type']) ?></h5></div>
            <div>
            <a href="<?php echo $this->baseUrl()?>/courses/block/id/<?php echo $this->content['data_id'] ?>/course/<?php echo $this->course['id']?>" class="uk-button" target="_blank"><i class="uk-margin-small-right uk-icon-eye"></i> Preview</a>
            </div>

            <?php if ( $this->ajax == 0 ) { ?>
        </div>
    </div>
<?php } ?>
<?php
$partial_url = null;
$params      = array(
   'data_id'     => $data_id,
   'course_id'   => $course_id,
   'course'      => $this->course,
   'content'     => $this->content,
   'contentdata' => $this->contentdata,
   'groups'      => $this->groups
);

switch ($this->content['data_type']) {
    case 'content': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_content.phtml'; 
        break;
    case 'scorm': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_scorm.phtml'; 
        break;
    case 'assignment': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_assignment.phtml'; 
        break;
    case 'quiz': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_quiz.phtml'; 
        $params['countquestion'] = $this->countquestion;
        break;
    case 'support': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_support.phtml'; 
        break;
    case 'link': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_link.phtml'; 
        break;
    case 'video': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_video.phtml'; 
        break;
    case 'audio': 
        $partial_url = $this->baseUrl() .'/courses/partials/blockcontent_audio.phtml'; 
        break;
}
?>
<?php if ($partial_url): ?>
    <div class="tab-content <?php echo $this->content['data_type']; ?>">
        <?php echo $this->partial($partial_url, 'default', $params); ?>
    </div>
<?php endif; ?>
<?php if ( $this->content['data_type'] == 'wiki' ) { ?>
<!-- content -->
<div class="tab-content wiki">
    <form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
        <div class="uk-form-row">
            <input type="text" name="title" value="<?php echo $this->contentdata['title']?>" required class="uk-width-1-1 uk-form-large"/>
            <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
        </div>
        <div class="uk-form-row">
            <textarea name="content" class="textarea" id="blockcontent-content"><?php echo $this->contentdata['content']?></textarea>
        </div>
        <div class="uk-form-row">
            <input type="hidden" value="wiki" name="type"/>
            <button name="addcontent" class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        </div>
    </form>
</div>
<!-- content -->
<?php } ?>

<script type="text/javascript">
$(function() {
    AppAdmin.ckeditor();
    $(".select_new").select2({
      placeholder: "All groups",
      allowClear: true
    });
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        autoOpen: false,
        changeMonth: true
    });
});
</script>