<?php if ( $this->ajax == 0 ) { ?>
<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js' );
?>
    <div class="dashhead">
        <div class="title-wrap">
            <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
                <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                        <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                        <li><a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $this->course['id']?>"><?php echo $this->course['title']?></a></li>
                    </ul>
                </div>
            </div>
            <?php } ?>
            <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
            <?php if ( $this->ajax == 0 ) { ?>
        </div>
    </div>
<?php } ?>

<form method="post" class="uk-form uk-form-stacked" name="form-block-content" action="<?php echo $this->baseUrl()?>/admin/courses/block/id/<?php echo $this->id ?>">
    <div class="uk-form-row">
        <label class="uk-form-label" for="block-name"><?php echo $this->translate('Title')?></label>
        <div class="uk-form-controls">
            <input type="text" name="block-name" required id="block-edit-name" value="<?php echo $this->block['title']?>" class="uk-width-1-1 uk-form-large">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="block-desc"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <textarea name="block-desc" id="block-edit-desc" required class="uk-width-1-1 textarea">
                <?php echo $this->block['description']; ?>
            </textarea>
        </div>
    </div>

    <div class="uk-form-row-submit">
        <button type="reset" class="uk-button uk-modal-close"><?php echo $this->translate('Cancel')?></button>
        <button type="submit" name="editblock" value="Save" class="uk-button uk-button-primary"><?php echo $this->translate('Save')?></button>
    </div>
</form>

<script type="text/javascript">
    AppAdmin.ckeditor();
</script>