<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" enctype="multipart/form-data">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">

        <h3 class="uk-accordion-title"> Information</h3>
        <div class="uk-accordion-content">
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->title->setAttrib('class','uk-form-large uk-width-large')  ?>
                    <p class="desc">Give your course a name</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="code"><?php echo $this->translate('Code')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->code->setAttrib('class','uk-form-width-medium')  ?>
                    <p class="desc">Course code must be unique</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="excerpt"><?php echo $this->translate('Excerpt')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->excerpt->setAttrib('class','uk-form-width-large')  ?>
                    <p class="desc">Short description of the course</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="category_id"><?php echo $this->translate('Category')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->category_id->setAttrib('class','uk-form-width-large')  ?>
                    <p class="desc">Course category</p>
                </div>
            </div>

            <?php if ( $this->course['thumbnail'] != '' ) { ?>
                <div class="uk-form-row">
                    <label class="uk-form-label"><?php echo $this->translate('Current Thumbnail')?></label>
                    <div class="uk-form-controls">

                        <p><img class="uk-border-rounded" src="<?php echo $this->baseUrl()?>/thumb.php?w=100&amp;f=<?php echo DOCUMENT_PATH.'/'.$this->course['thumbnail']?>" alt="photo" /></p>
                        <p><label><input type="checkbox" name="deletephoto" value="1"> <?php echo $this->translate('Delete')?></label></p>

                    </div>
                </div>
            <?php } ?>

            <div class="uk-form-row">
                <label class="uk-form-label" for="thumbnail">Thumbnail</label>
                <div class="uk-form-controls">
                    <input name="files" type="file" class="fileupload img">
                    <p class="desc">Allowed file types: jpg, jpeg, png</p>
                </div>
            </div>

        </div>

        <h3 class="uk-accordion-title"> Description</h3>
        <div class="uk-accordion-content">
            <?php echo $this->form->description  ?>
        </div>

        <h3 class="uk-accordion-title"> Welcome Page</h3>
        <div class="uk-accordion-content">
            <?php echo $this->form->welcome  ?>
        </div>

        <h3 class="uk-accordion-title"> Options</h3>
        <div class="uk-accordion-content">
            <div class="uk-form-row">
                <label class="uk-form-label" for="visibility"><?php echo $this->translate('Visibility')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->visibility ?>
                    <p class="desc">Toggle course visibility</p>
                </div>
            </div>

            <div class="uk-form-row">
                <span class="uk-form-label" for="use_forum"><?php echo $this->translate('Enable Forums?')?></span>
                <div class="uk-form-controls">
                    <?php echo $this->form->use_forum->setAttrib('class','uk-checkbox-toggle') ?> <label for="use_forum">Yes</label>
                </div>
            </div>

            <div class="uk-form-row">
                <span class="uk-form-label" for="use_comments"><?php echo $this->translate('Enable Comments?')?></span>
                <div class="uk-form-controls">
                    <?php echo $this->form->use_comments->setAttrib('class','uk-checkbox-toggle') ?> <label for="use_comments">Yes</label>
                </div>
            </div>
            <?php
            $int = $type_val = null;
            if ( $this->course['accessperiod'] != '' )
            {
                $int = filter_var($this->course['accessperiod'], FILTER_SANITIZE_NUMBER_INT);
                $type_val = str_replace($int, '', $this->course['accessperiod']);
            }
            ?>
            <div class="uk-form-row">
                <span class="uk-form-label" for="accessperiod"><?php echo $this->translate('Has Access Period?')?></span>
                <div class="uk-form-controls">
                    <select name="accessperiod_opt"  id="accessperiod_toggle">
                        <option value="" <?php echo $this->course['accessperiod'] == null ? 'selected':''?>><?php echo $this->translate('No Limit')?></option>
                        <option value="1" <?php echo $this->course['accessperiod'] != null ? 'selected':''?>><?php echo $this->translate('Yes')?></option>
                    </select>
                    <div id="accessperiod_wrap"  <?php echo $this->course['accessperiod'] == null ? 'style="display:none"':''?>>
                        <strong>Select Period:</strong> <select name="accessperiod_num">
                            <?php for ( $i=1; $i<=100; $i++ ) { ?>
                                <option value="<?php echo $i;?>" <?php echo $int == $i ? 'selected':''?>><?php echo $i ?></option>
                            <?php } ?>
                        </select>
                        <?php $types = array('D' => 'Day(s)', 'W' => 'Week(s)', 'M' => 'Months', 'Y' => 'Year(s)'); ?>
                        <select name="accessperiod_type">
                            <?php foreach ( $types as $type => $label ) { ?>
                                <option value="<?php echo $type;?>" <?php echo $type_val == $type ? 'selected':''?>><?php echo $label ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="uk-accordion-title"> Learning Mode</h3>
        <div class="uk-accordion-content">
            <label class="check"><input <?php echo $this->course['learning_online'] == 1 ? 'checked':''?> type="checkbox" class="togglecheck" value="1" name="learning_online" /> Online</label>  <br />
            <label class="check"><input <?php echo $this->course['learning_ftf'] == 1 ? 'checked':''?> type="checkbox" class="togglecheck" value="1" name="learning_ftf" /> Face To Face </label>
            <p class="desc red">Do not modify if you are unsure.</p>
        </div>

        <div class="uk-form-row">
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Save')?></button>
            <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
        </div>
    </div>
</form>
<style type="text/css">
    #accessperiod_wrap { margin-top:5px; }
</style>
<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
                validators: {
                    notEmpty: {
                        message: 'Title is required'
                    }
                }
            },
            visibility: {
                validators: {
                    notEmpty: {
                        message: 'Visibility is required'
                    }
                }
            },
            code: {
                validators: {
                    remote: {
                        url: '/admin/ajax/course-code/',
                        type: 'POST',
                        delay: 1000,
                        data: function(validator, $field, value) {

                            return {
                                "current": '<?php echo $this->course['code']?>'
                            };
                        }
                    }
                }
            }
        }
    });

    function toggleAP()
    {
        var ap = $("#accessperiod_toggle").val();

        if ( ap == '1' )
        {
            $("#accessperiod_wrap").show();
        }
        else
        {
            $("#accessperiod_wrap").hide();
        }
    }

    $(function()
    {
        $('.togglecheck').toggleCheckbox([
            '<i class="uk-icon-circle-o toggleicon uncheck"></i>',
            '<i class="uk-icon-check-circle-o toggleicon checked"></i>'
        ]);

        $("#accessperiod_toggle").on('change', function()
        {
           toggleAP();
        });

        CKEDITOR.replace( 'description',
            {
                removePlugins : 'resize,placementtest',
                toolbar : 'Basic',
                height: 300
            });

        CKEDITOR.replace( 'welcome',
            {
                removePlugins : 'resize,placementtest',
                toolbar : 'Basic',
                height: 300
            });
    })

</script>
<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>