<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Grading')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard'); ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses'); ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $this->assignment['course_id']; ?>">
                            <?php echo $this->assignment['course_title']; ?>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/blockcontent/id/<?php echo $this->assignment['data_id']; ?>">
                            <?php echo $this->assignment['title']; ?>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/grading/id/<?php echo $this->course['id']?>/cid/">
                            <?php echo $this->translate('Grading')?>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->assignment['course_title']; ?></h1></div>
    </div>
</div>

<table class="uk-table uk-table-bordered">
    <tbody>
        <tr>
            <th width="190px"><?php echo $this->translate('Assignment'); ?></th>
            <td><?php echo $this->assignment['title']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Student'); ?></th>
            <td><?php echo $this->assignment['student_name']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Email'); ?></th>
            <td><?php echo $this->assignment['student_email']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Submitted File'); ?></th>
            <td>
                <i class="uk-icon uk-icon-file-o"></i>
                <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($this->assignment['file_url'])?>">
                     <?php echo $this->assignment['file_name']; ?>
                </a>
                  (<?php echo Cms_Common::formatFilesize($this->assignment['file_size']); ?>)
            </td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Submitted On'); ?></th>
            <td><?php echo Cms_Date::date($this->assignment['created_date']); ?></td>
        </tr>
    </tbody>
</table>

<br />

<form class="uk-form uk-form-horizontal" method="post" id="course-form" enctype="multipart/form-data">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <div class="uk-form-row">
            <label class="uk-form-label" for="grade"><?php echo $this->translate('Grade')?></label>
            <div class="uk-form-controls text">
                <?php echo $this->form->grade->setAttrib('class','uk-form-row')  ?>
                <p class="desc">Input Grade (Total Mark <?php echo $this->gradepoint ?>)</p>
            </div>
        </div>
        
        <div class="uk-form-row">
            <label class="uk-form-label" for="feedback"><?php echo $this->translate('Feedback')?></label>
            <div class="uk-form-controls text">
                <?php echo $this->form->feedback->setAttrib('class','uk-form-width-large')  ?>
            </div>
        </div>

        <div class="uk-form-row">
            <div class="uk-form-controls text">
                <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Save')?></button>
                <a class="uk-button" href="<?php echo $this->baseUrl()?>/admin/courses/grading/id/<?php echo $this->course['course_id']?>/cid/<?php echo $this->course['parent_id']?>">Back</a>
            </div>
        </div>
    </div>
</form>

<style type="text/css">
    #accessperiod_wrap { margin-top:5px; }
</style>
<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            grade: {
                validators: {
                    notEmpty: {
                        message: 'Title is required'
                    }
                }
            },
             visibility: {
                validators: {
                    notEmpty: {
                        message: 'Visibility is required'
                    }
                }
            },

        }
    });


    $(function()
    {

        CKEDITOR.replace( 'description',
            {
                removePlugins : 'resize,placementtest',
                toolbar : 'Basic',
                height: 300
            });


    })


    }

</script>
<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>
