<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Grading'); ?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard'); ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses'); ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $this->course['id']; ?>">
                            <?php echo $this->title; ?>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/blockcontent/id/<?php echo $this->assignment['data_id']; ?>">
                            <?php echo $this->nametitle; ?>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/grading/id/<?php echo $this->course['id']; ?>/cid/<?php echo $this->assignment['data_id']; ?>">
                            <?php echo $this->translate('Grading'); ?>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->title; ?></h1></div>
        <div class="subtitle"><h5><?php echo $this->nametitle; ?></h5></div>
    </div>
</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> 
    
    <?php
    $options = array(
        ''  => 'All Status',
        '0' => 'No Attempt',
        '1' => 'Pending for Grading',
        '2' =>'Graded'
    );
    ?>
    <select name="status">
        <?php foreach ($options as $key => $val): ?>
            <?php $selected = (isset($this->formdata['status']) && $this->formdata['status'] == $key ? 'selected="selected"' : '') ?>
            <option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $val; ?></option>
        <?php endforeach; ?>
    </select>

    <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>

    <?php if (!empty($this->formdata)): ?>
        <a href="/admin/courses/grading/id/<?php echo $this->id; ?>/cid/<?php echo $this->cid; ?>" class="uk-button uk-button-small">Reset</a>
    <?php endif; ?>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<div align='right'>
    <a class="uk-button" href="<?php echo $this->baseUrl()?>/admin/courses/download-all/id/<?php echo $this->id?>/cid/<?php echo $this->cid ?>">Download All Files</a>
</div>
<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="3"><?php echo $this->translate('Status')?></th>
            <?php /* <th data-tablesaw-sortable-col data-tablesaw-priority="3"><?php echo $this->translate('Download')?></th> */ ?>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Date Submitted')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Score')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Grade')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->results) > 0 ) { ?>
        <?php foreach ( $this->results as $row ) { ?>
            <tr>
                <td><?php echo $this->escape($row['firstname']) ?></a>
                </td>
                <td><?php echo $this->escape($row['email'])?></td>
                <td>
                    <?php if ( $this->escape($row['status'] == 0 )) { ?>
                        <?php echo $this->translate('No attempt');?>
                    <?php } elseif ($this->escape($row['status'] == 1 )) {?>
                        <?php echo $this->translate('Pending for grading');?>
                   <?php } elseif ($this->escape($row['status'] == 2 )) {?>
                        <?php echo $this->translate('Graded');?>
                    <?php } ?>
                </td>
                <?php /*
                <td>
                    <!--a target="_blank" href="<?php Cms_System_Links::dataFileUrl($this->escape($row['file_name']))?>" class="uk-icon-hover uk-icon-file-o"></a-->
                    <?php //echo $this->escape($row['data_id'])?>
                    <a target="_blank" href="<?php echo DOCUMENT_URL?><?php echo $this->escape($row['file_url'])?>" class="uk-icon-hover uk-icon-file-o"></a>
                    <a target="_blank" href="<?php echo DOCUMENT_URL?><?php echo $this->escape($row['file_url'])?>" onclick="linkModal">  <?php echo $this->escape($row['file_name']) ?></a>
                </td>
                */ ?>
                <td><?php echo Cms_Date::date($row['created_date']) ?></td>
                <td><?php echo $this->escape($row['grade']) ?>/<?php echo $this->escape($row['gradepoint']) ?></td>
                <td>

                    <div class="uk-button-group">
                        <a class="uk-button uk-button-small" target="_blank" href="<?php echo $this->baseUrl()?>/admin/courses/grade/id/<?php echo $this->escape($row['id']) ?>" data-uk-tooltip title="Grade">
                            <i class="uk-icon-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No data found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php echo $this->paginationControl($this->results,'Elastic','pagination.phtml'); ?>