<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>
<!--<ul class="uk-wizard uk-wizard-steps uk-grid uk-grid-collapse uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-margin-large-top"  data-uk-tab="{connect:'#tab-content'}">
    <li class="uk-step  uk-active">
        <div class="uk-step-content uk-text-truncate">
            <div class="uk-wizard-icon"></div>
            <div class="uk-wizard-title">Course Info</div>
            <div class="uk-wizard-desc">Basic course information</div>
        </div>
    </li>
    <li class="uk-step">
        <div class="uk-step-content">
            <div class="uk-wizard-icon"></div>
            <div class="uk-wizard-title">Description</div>
            <div class="uk-wizard-desc">Course description</div>
        </div>
    </li>
    <li class="uk-step">
        <div class="uk-step-content">
            <div class="uk-wizard-icon"></div>
            <div class="uk-wizard-title">Options</div>
            <div class="uk-wizard-desc">Course configurations</div>
        </div>
    </li>
    <li class="uk-step last">
        <div class="uk-step-content">
            <div class="uk-wizard-icon"></div>
            <div class="uk-wizard-title">Done!</div>
            <div class="uk-wizard-desc">voilà</div>
        </div>
    </li>
</ul>-->

<div class="dashhead">
    <div class="title-wrap">
        <div class="subtitle"><?php echo $this->translate('Courses')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">

        <h3 class="uk-accordion-title"> Information</h3>
        <div class="uk-accordion-content">
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->title->setAttrib('class','uk-form-large uk-width-large')  ?>
                    <p class="desc">Give your course a name</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="code"><?php echo $this->translate('Code')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->code->setAttrib('class','uk-form-width-medium')  ?>
                    <p class="desc">Course code must be unique</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="excerpt"><?php echo $this->translate('Excerpt')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->excerpt->setAttrib('class','uk-form-width-large')  ?>
                    <p class="desc">Short description of the course</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="category_id"><?php echo $this->translate('Category')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->category_id->setAttrib('class','uk-form-width-large')  ?>
                    <p class="desc">Course category</p>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="thumbnail">Thumbnail</label>
                <div class="uk-form-controls">
                    <div class="uk-form-file filesarea">
                        <button class="uk-button"><i class="uk-icon-cloud-upload uk-text-muted uk-margin-small-right"></i> Choose File</button>
                        <input name="files" type="file">
                    </div>
                    <p class="desc">Allowed file types: jpg, jpeg, png</p>
                </div>
            </div>

        </div>

        <h3 class="uk-accordion-title"> Description</h3>
        <div class="uk-accordion-content">
            <?php echo $this->form->description  ?>
        </div>

        <h3 class="uk-accordion-title"> Welcome Page</h3>
        <div class="uk-accordion-content">
            <?php echo $this->form->welcome  ?>
        </div>

        <h3 class="uk-accordion-title"> Options</h3>
        <div class="uk-accordion-content">
            <div class="uk-form-row">
                <label class="uk-form-label" for="visibility"><?php echo $this->translate('Visibility')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->visibility ?>
                    <p class="desc">Toggle course visibility</p>
                </div>
            </div>

            <div class="uk-form-row">
                <span class="uk-form-label" for="use_forum"><?php echo $this->translate('Enable Forums?')?></span>
                <div class="uk-form-controls">
                    <?php echo $this->form->use_forum->setAttrib('class','uk-checkbox-toggle')->setAttrib('checked','checked') ?> <label for="use_forum">Yes</label>
                </div>
            </div>

            <div class="uk-form-row">
                <span class="uk-form-label" for="use_comments"><?php echo $this->translate('Enable Comments?')?></span>
                <div class="uk-form-controls">
                    <?php echo $this->form->use_comments->setAttrib('class','uk-checkbox-toggle')->setAttrib('checked','checked') ?> <label for="use_comments">Yes</label>
                </div>
            </div>
        </div>

        <h3 class="uk-accordion-title"> Learning Mode</h3>
        <div class="uk-accordion-content">
            <label class="check"><input <?php echo $this->course['learning_online'] == 1 ? 'checked':''?> type="checkbox" class="togglecheck" value="1" name="learning_online" /> Online</label>  <br />
            <label class="check"><input <?php echo $this->course['learning_ftf'] == 1 ? 'checked':''?> type="checkbox" class="togglecheck" value="1" name="learning_ftf" /> Face To Face </label>
            <p class="desc red">Do not modify if you are unsure.</p>
        </div>

        <div class="uk-form-row">
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
            <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
        </div>
    </div>
</form>

<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
            visibility: {
                validators: {
                    notEmpty: {
                        message: 'Visibility is required'
                    }
                }
            },
            code: {
                validators: {
                    remote: {
                        url: '/admin/ajax/course-code/',
                        type: 'POST',
                        delay: 1000
                    }
                }
            }
        }
    });

    $(function()
    {
        $('.togglecheck').toggleCheckbox([
            '<i class="uk-icon-circle-o toggleicon uncheck"></i>',
            '<i class="uk-icon-check-circle-o toggleicon checked"></i>'
        ]);

        CKEDITOR.replace( 'description',
        {
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: 300
        });

        CKEDITOR.replace( 'welcome',
        {
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: 300
        });
    })

</script>

<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>