
<div class="dashhead">
    <div class="uk-float-right uk-margin-top">
            <a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $this->course['id']?>" class="uk-button"><i class="uk-margin-small-right uk-icon-book"></i> Back To Course</a>
    </div>

    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Report')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $this->course['id']?>"><?php echo $this->course['title']?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->scorm['title']?></h1></div>
    </div>
</div>

<br />

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th><?php echo $this->translate('Name')?></th>
            <th><?php echo $this->translate('Email')?></th>
            <!--<th><?php echo $this->translate('Attempt')?></th>-->
            <th><?php echo $this->translate('Started On')?></th>
            <th><?php echo $this->translate('Last Accessed')?></th>
            <th><?php echo $this->translate('Status')?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->results as $row ) { ?>
        <tr>
            <td><?php echo $row['firstname']. ' '.$row['lastname']?></td>
            <td><?php echo $row['email']?></td>
            <!--<td><?php echo $row['attempts']?></td>-->
            <td><?php echo Cms_Date::date($row['created_date']) ?></td></td>
            <td><?php echo Cms_Date::date($row['lastaccessed']) ?></td></td>
            <td><?php echo $row['status']?></td>
        </tr>
        <?php } ?>
    </tbody>
</table>