<script>

$(function() {
	// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
	$( "#dialog:ui-dialog" ).dialog( "destroy" );


	$( "#dialog-add-prerequisite" ).dialog({
		modal: true,
		autoOpen: false,
		width: 650		
	});
});

function add()
{	
	$("#dialog-add-prerequisite").dialog('open');
}

function toggleDiv(e){
	type = $(e).val();
	

	if(type==1 || type==3){
		$("#div_grade_open").hide();
		$("#div_ch_open").hide();
		$("#div_subject_open").show();
	}
	else if (type == 2 )
	{
		$("#div_grade_open").hide();
		$("#div_ch_open").show();
		$("#div_subject_open").hide();
	}
	else
	{
		$("#div_grade_open").show();
		$("#div_ch_open").hide();
	}

	
}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'course-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>



<fieldset><legend><?php echo $this->translate("Course Info")?></legend>
	<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<td width="25%"><strong><?php echo $this->translate("Course Name")?></strong></td>
			<td><?php echo $this->subject["SubjectName"]?></td>
		</tr>
		<tr>			
			<td width="25%"><strong><?php echo $this->translate("Course Code")?></strong></td>
			<td><?php echo $this->subject["SubCode"]?></td>			
		</tr>
		<tr>			
			<td width="25%"><strong><?php echo $this->translate("Program Majoring")?></strong></td>
			<td><?php if($this->subject["IDProgramMajoring"]) echo $this->subject["BahasaDescription"]; else echo $this->translate("Common");?></td>			
		</tr>
	</table>	  
</fieldset>

<br />


<div id="dialog-add-prerequisite" title="Add Requisite" style="display:none">
<?php echo $this->form; ?>
</div>

<div class="opt float">
	<button onclick="add();"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Requisite')?></button> 
</div>

<h3><?php echo $this->translate("Course Requisite Lists")?></h3>
<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
	<tr>		  
		<th ><?php echo $this->translate("Requisite Type")?></th>
		<th ><?php echo $this->translate("Course Code")?></th>	
		<th ><?php echo $this->translate("Course Name")?></th>	
		<th ><?php echo $this->translate("Requirement")?></th>
		<th ></th>
	</tr>
	<?php 
	$pretype[0]=$this->translate('Pass with Grade');
	$pretype[1]=$this->translate('Complete Subject');
	$pretype[2]=$this->translate('Total Credit Hours');
	$pretype[3]=$this->translate('Co-requisite');
	
	if(count($this->subject_prerequisite)>0){
		foreach($this->subject_prerequisite as $sp){			
	?>
	<tr>
		<td><?php echo $pretype[$sp["PrerequisiteType"]]?></td>
		<td><?php if($sp["SubCode"]=="") echo "-"; else echo $sp["SubCode"]; ?></td>
		<td><?php if($sp["SubjectName"]=="") echo "-"; else echo $sp["SubjectName"]; ?></td>
		<td><?php if($sp["PrerequisiteType"]==0 || $sp["PrerequisiteType"]==2) echo $sp["PrerequisiteGrade"]; else echo '-';?></td>
		<td class="options center"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'delete-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$this->idSubject,'IdSubjectPrerequisites'=>$sp["IdSubjectPrerequisites"],'idLandscapeSub'=>$this->idLandscapeSub,'idProgramMajoring'=>$this->idProgramMajoring),'default',true);?>">Delete</a></td>
	</tr>
	<?php } }else{ ?>
	<tr>
		<td colspan="5"><?php echo $this->translate("There is no data in the list")?></td>
	</tr>
	<?php }//end if else?>
</table>	

