<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />
<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
    	if (this.validate()) 
		{
			return true;
		} else {
        	return false;
		}
	</script>

	<table class="table" width="100%">
		<tr>
			<th colspan="4" class="alt"><?php echo $this->translate("Copy Landscape");?></th>
		</tr>
		<tr>
			<td width="15%"><?php echo $this->translate("Programme Name");?></td>
			<td width="35%"><?php echo $this->programinfo['ProgramName'];?></td>
			<td width="15%"><?php echo $this->translate("Effective Intake")?></td>
			<td><?php echo $this->form->IdStartSemester ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Landscape Description");?></td>
			<td><?php echo $this->form->ProgramDescription;?></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="4" align="center">
			<?php echo $this->form->Save?>
			</td>
		</tr>
	</table>
</form>

<script type="text/javascript">
dojo.addOnLoad(function() {
	dijit.byId('IdStartSemester').set('value','');
	dijit.byId('IdStartSemester').set('placeHolder','<?php echo $this->translate('Select')?>');
});
</script>