<script type="text/javascript">
function add(){		
	
	window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape', 'action'=>'add-landscape','landscapeId'=>$this->landscapeId,'programId'=>$this->programId),'default',true); ?>";

	return false;
	
}

$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	$( "#dialog-change-status" ).dialog({
		modal: true,
		autoOpen: false,
		width: 400,
		buttons : 	{
	          "Save": function() {
	           	$("#landscape_status").submit();
	          },
	          Cancel: function() {
	            $( this ).dialog( "close" );
	          }	
		}
	});
});

function changeStatus(idLand)
{		
	if(!idLand){
		alert('Please select Landscape first.');
	}else{
		//popup dialog box
		$('#idLandscape').val(idLand);
		$('#dialog-change-status').dialog('open');
	}

	return false;
}


	
</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		   <li>
				<a href="#" onclick="return add();" >
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>

<h3><?php echo $this->programinfo[0]['ProgramName'] ?></h3>


<table class="table" width="100%" cellpadding="5" cellspacing="1">
			
	<tr>
		<th><?php echo $this->translate("Landscape Type");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<th><?php echo $this->translate("Programme Scheme");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Created Date");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Default");?></th>
		<th></th>	        	
	</tr>
	
	<?php 
	if (count($this->paginator)):
		foreach ($this->paginator as $lobjlandscape): 
	?>
	
	<tr>
		<td><?php print_r($this->escape($lobjlandscape['DefinitionDesc']));?></td>
		<td><?php print_r($this->escape($lobjlandscape['ProgramDescription']));?></td>
		<td><?php echo $lobjlandscape['ProgramMode'].' - '.$lobjlandscape['StudyMode'].' - '.$lobjlandscape['ProgramType'] ?></td>
		<td><?php echo $this->escape($lobjlandscape['IntakeId']);?></td>
		<td><?php echo $this->escape(date('d-m-Y',strtotime($lobjlandscape['UpdDate'])));?></td>	       		
		<td>
		<?php 
		if($lobjlandscape['Active'] == 1) {
				echo "Active";
		}elseif($lobjlandscape['Active'] == 2){
				echo "InActive";
		} else {
				echo "Draft";
		}
		?>
		</td>
		<td align='center'>
		<?php 
			if($lobjlandscape['Default']==1){
				$default = $this->translate("Yes");					
			}else{
				$default = $this->translate("No");		
			}
		?>	
		
		<?php if($lobjlandscape['Active'] == 1) { ?>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'set-default','id'=>$this->programId,'idlandscape'=>$lobjlandscape['IdLandscape']),'default',true);?>"><?php echo $default;?></a></td>
		<?php } ?>				
		
		<td class="options center">
			
			<?php //if($lobjlandscape['Active'] != 1 && $lobjlandscape['Active'] != 2){?>
			<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'edit-landscape','id'=>$this->programId,'idlandscape'=>$lobjlandscape['IdLandscape']),'default',true);?>"><?php echo $this->translate('Edit')?></a>
			<?php //} ?>
		
			  <?php if($lobjlandscape['LandscapeType']!=44){?>
				 | <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'view-landscape','id'=>$this->programId,'idlandscape'=>$lobjlandscape['IdLandscape']),'default',true);?>"><?php echo $this->translate('View')?></a>				   
			<?php }elseif($lobjlandscape['LandscapeType']==44){?>
				 | <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'view-block-landscape','id'=>$this->programId,'idlandscape'=>$lobjlandscape['IdLandscape']),'default',true);?>"><?php echo $this->translate('View')?></a>
			<?php } ?>

			
			| <a href="#" onclick="return changeStatus(<?php echo $lobjlandscape['IdLandscape'] ?>)"><?php echo $this->translate('Change Status')?></a>
			
			| <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'copy-landscape','id'=>$this->programId,'idlandscape'=>$lobjlandscape['IdLandscape']),'default',true);?>"><?php echo $this->translate('Copy')?></a>
			
			<?php if ( $this->roleid == 1 ) { ?>
			| <a style="color:red" href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'delete-landscape','id'=>$this->programId,'idlandscape'=>$lobjlandscape['IdLandscape']),'default',true);?>" onclick="return sure()"><?php echo $this->translate('Delete')?></a>

			<?php } ?>
			
							   
		</td>
		
		<?php endforeach; ?>
		<?php endif; ?>
	</tr>
</table>
<div class="opt">
	<div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
</div>


<div id="dialog-change-status" title="Change Landscape Status">
<form id="landscape_status" method="post" action="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape', 'action'=>'change-status','programId'=>$this->programId),'default',true); ?>">
<input type="hidden" id="idLandscape" name="idLandscape" value="">
<input type="hidden" id="idProgram" name="idProgram" value="<?php echo $this->programId; ?>">
<table class="" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td>Status</td>
		<td width="5px">:</td>
		<td>
		<select name="Active" id="Active">
			<option value="0"><?php echo $this->translate("Draft")?></option>
			<option value="1"><?php echo $this->translate("Active")?></option>
			<option value="2"><?php echo $this->translate("In-active")?></option>
		</select>
		</td>
	</tr>	
</table>
</form>
</div>

