<script type="text/javascript">

	$(function() {
		 $( "#tabs" ).tabs();
	});

	$(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
	
		$( "#dialog-view" ).dialog({
			modal: true,
			autoOpen: false,
			width: 600,
			buttons: {
				'Close': function() {
				$( this ).dialog( "close" );
				}
			}
		});
	 });

	 function view(idSubject,idLandscapeSub,idMajoring){

			url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'view-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>/idSubject/"+idSubject+"/idLandscapeSub/"+idLandscapeSub+"/idMajoring/"+idMajoring;

			$('#dialog-view').load(url);
			$( "#dialog-view" ).dialog('open');
	 }

	 function back(){

			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true);?>";
	}
	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="#" onclick="back()" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>

<div style="width:100%;">

<h3><?php echo $this->translate("Landscape Info")?></h3>
	<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Program Name")?></strong></td>
			<td><?php echo $this->landscape["ArabicName"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Landscape Type")?></strong></td>
			<td><?php echo $this->landscape["DefinitionDesc"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Intake")?></strong></td>
			
			<td><?php echo $this->landscape["IntakeDesc"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Program Scheme")?></strong></td>
			
			<td><?php echo $this->landscape["ProgramMode"];?> - <?php echo $this->landscape["StudyMode"];?> - <?php echo $this->landscape["ProgramType"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Minimum Total Credit Hours")?></strong></td>
			
			<td><?php echo $this->landscape["TotalCreditHours"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Maximum No of Repeat Course")?></strong></td>
			
			<td><?php echo $this->landscape["MaxRepeatCourse"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Maximum No of Repeat Course for exam")?></strong></td>
		
			<td><?php echo $this->landscape["MaxRepeatExam"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Total Semester")?></strong></td>
			
			<td><?php echo $this->landscape["SemsterCount"];?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Assessment Method")?></strong></td>
			
			<td><?php echo ucfirst($this->landscape["AssessmentMethod"]);?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Add / Drop")?></strong></td>
			
			<td><?php  echo ($this->landscape["AddDrop"] == 1 ? $this->translate("Yes"): $this->translate("No"))?></td>
		</tr>
		<tr>
			<td width="30%"><strong><?php echo $this->translate("Description")?></strong></td>
			
			<td><?php echo $this->landscape["ProgramDescription"];?></td>
		</tr>		
	</table>
	
	<br />
	
	<table class="table vcenter" width="100%" cellpadding="5" cellspacing="0" border="0" id='programInfo'> 
		<thead>
		<tr>
			<th><?php echo $this->translate('Semester Type');?></th>
			<th width='30%'><?php echo $this->translate('Minimum No Required Pass Courses');?></th>
			<th width="30%" colspan="2"><?php echo $this->translate('Registration Rule Min/Max');?></th>
			
		</tr>
		</thead>
		<tbody>
			<?php 
			if(count($this->landscape_details)>0){
				foreach($this->landscape_details as $ld){
			?>
				<tr>
					<td align='center' rowspan='2'><?php echo $ld['SemesterType'];?></td>
					<td align='center' rowspan='2'><?php echo $ld['MinReqPassCourse'];?></td>
					<td align='center' rowspan='2'>
					<?php 
					if ($ld['Type']==1) echo $this->translate('No of Course');	
					if ($ld['Type']==2) echo $this->translate('No of Credit Hours');	
					?>
					</td>
					<td align='center' width="10%" style="background:#fff"><?php echo $ld['MinRegCourse'];?></td>
					
				</tr>
				<tr>
					<td align='center' style="background:#fff"><?php echo $ld['MaxRegCourse'];?></td>
				</tr>
			<?php } } ?>
		</tbody>		
	</table>

<br><br><br>

<fieldset><legend><?php echo $this->translate("Program Requirement List")?></legend>
<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<th width="200"><?php echo $this->translate('Course Type')?></th>
			<th width="100px"><?php echo $this->translate('Compulsory')?></th>
			<th width="100px"><?php echo $this->translate('Minimum Credit Hours')?></th>
			
		</tr>
		  
		  
		   <?php 
		   if(count($this->programrequirement)>0){
		   	 $total_credit_hours=0;
		  	 foreach($this->programrequirement as $req){
		  	 	
		  	 $total_credit_hours = $total_credit_hours + $req["CreditHours"];
		  	?>
			<tr class='shade'>
				<td><?php echo $req["DefinitionDesc"]?></td>
				<td align="center"><?php echo ($req["Compulsory"]==1) ? $this->translate("Yes"): $this->translate("No")?></td>
				<td align="center"><?php echo $req["CreditHours"]?></td>
			</tr>
			<?php } //end foreach ?>
		   
						
		<tr>
			<td align="right" colspan=2>Total</td>
			<td align="center"><strong><?php echo $total_credit_hours;?></strong></td>			
		</tr>
		<?php }//end if ?>
	</table>
</fieldset>

<br><br><br><br>

<fieldset><legend><?php echo $this->translate("Common Courses")?></legend>

  <h3><?php echo $this->translate("Compulsory Courses")?></h3>
  
  <br>
   <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>					
					<th width="50px">Semester</th>
					<th width="200">Course Name</th>
					<th width="50px">Course Code</th>
					<th width="100px">Course Type</th>					
					<th width="50px">Credit Hour</th>	
					<th width="50px">Prerequsite</th>				
				</tr>
				
				<?php 
				if(is_array($this->compulsory_course)){
					$total_credit_hours=0;
					foreach($this->compulsory_course as $common) { 			
								
						$total_credit_hours = $total_credit_hours + $common["CreditHours"];
												
				?>
					<tr class='shade'>
						<td align="center"><?php echo $common["IdSemester"]?></td>
						<td align="left"><?php echo $common["SubjectName"]?></td>
						<td align="center"><?php echo $common["SubCode"]?></td>
						<td align="center"><?php echo $common["DefinitionDesc"]?></td>						
						<td align="center"><?php echo $common["CreditHours"]?></td>
						<td align="center"><a href="#" onclick="view('<?php echo $common["IdSubject"];?>','<?php echo $common["IdLandscapeSub"]; ?>');">View</a></td>
					</tr>
				<?php } }?>
				<tr>
						<td align="right" colspan="4" bgcolor="#F5F6CE"><strong><?php echo $this->translate("Total")?></strong></td>
						<td align="center" bgcolor="#F5F6CE"><strong><?php echo $total_credit_hours;?></strong></td>
						<td></td>
				</tr>
		   </table>
		   
  <br>
  
  <h3><?php echo $this->translate("Not Compulsory Courses")?></h3>
  
   <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>					
					<th width="50px">Semester</th>
					<th width="200">Course Name</th>
					<th width="50px">Course Code</th>
					<th width="100px">Course Type</th>					
					<th width="50px">Credit Hour</th>
					<th width="50px">Requsite</th>						
				</tr>
				
				<?php 
				if(is_array($this->elective_course)){
					$total_elective_credit_hours=0;
					foreach($this->elective_course as $elective) { 			
								
						$total_elective_credit_hours = $total_elective_credit_hours + $elective["CreditHours"];
												
				?>
					<tr class='shade'>
						<td align="center"><?php echo $elective["IdSemester"]?></td>
						<td align="left"><?php echo $elective["SubjectName"]?></td>
						<td align="center"><?php echo $elective["SubCode"]?></td>
						<td align="center"><?php echo $elective["DefinitionDesc"]?></td>						
						<td align="center"><?php echo $elective["CreditHours"]?></td>		
						<td align="center"><a href="#" onclick="view('<?php echo $elective["IdSubject"];?>','<?php echo $elective["IdLandscapeSub"]; ?>');">View</a></td>				
					</tr>
				<?php } }?>
				<tr>
						<td align="right" colspan="4" bgcolor="#F5F6CE"><strong><?php echo $this->translate("Total")?></strong></td>
						<td align="center" bgcolor="#F5F6CE"><strong><?php echo $total_elective_credit_hours;?></strong></td>
						<td></td>
				</tr>
		   </table>
  	      
</fieldset>	

<br><br><br><br>


<fieldset><legend><?php echo $this->translate("Majoring Courses")?></legend>

<div id="tabs">
	<ul>    	
	<?php 
		if($this->majoring){		
			$i=1;	
			foreach($this->majoring as $major){
	?>
    		<li><a href="#tabs-<?php echo $i?>"><?php echo $major["BahasaDescription"]?></a></li>  
    	  
    <?php	$i++; } //end foreach 
		} //end if
	?>   		
  	</ul>
  	
  	
  	<?php 
		if($this->majoring){		
			$i=1;	
			foreach($this->majoring as $major){
				
				$landscapeSubjectDb =  new GeneralSetup_Model_DbTable_Landscapesubject();
				$compulsory_majoring_course = $landscapeSubjectDb->getMajoringCourse($this->programId,$this->landscapeId,$major["IDProgramMajoring"],1);
				$notcompulsory_majoring_course = $landscapeSubjectDb->getMajoringCourse($this->programId,$this->landscapeId,$major["IDProgramMajoring"],2);
				
	?>
  	<div id="tabs-<?php echo $i?>">  	       
  	      
  	    <br>
		<h3><?php echo $this->translate("Compulsory Courses")?></h3>		
		<br>
		
  	       <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>					
					<th width="50px">Semester</th>
					<th width="200">Course Name</th>
					<th width="50px">Course Code</th>
					<th width="100px">Course Type</th>					
					<th width="50px">Credit Hour</th>	
					<th width="50px">Prerequsite</th>					
				</tr>
				
				<?php 
				if(is_array($compulsory_majoring_course)){
					$total_major_credit_hours=0;
					foreach($compulsory_majoring_course as $major) { 			
								
						$total_major_credit_hours = $total_major_credit_hours + $major["CreditHours"];
												
				?>
					<tr class='shade'>
						<td align="center"><?php echo $major["IdSemester"]?></td>
						<td align="left"><?php echo $major["BahasaIndonesia"]?></td>
						<td align="center"><?php echo $major["SubCode"]?></td>
						<td align="center"><?php echo $major["DefinitionDesc"]?></td>						
						<td align="center"><?php echo $major["CreditHours"]?></td>
						<td align="center"><a href="#" onclick="view('<?php echo $major["IdSubject"];?>','<?php echo $major["IdLandscapeSub"]; ?>','<?php echo $major["IDProgramMajoring"]?>');">View</a></td>
						
					</tr>
				<?php } }?>
				<tr>
						<td align="right" colspan="4" bgcolor="#F5F6CE"><strong><?php echo $this->translate("Total")?></strong></td>
						<td align="center" bgcolor="#F5F6CE"><strong><?php echo $total_major_credit_hours;?></strong></td>						
				</tr>
				
		   </table>
		   
		   <br>
		   
		   <h3><?php echo $this->translate("Not Compulsory Courses")?></h3>
		  
			
			 <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>					
					<th width="50px">Semester</th>
					<th width="200">Course Name</th>
					<th width="50px">Course Code</th>
					<th width="100px">Course Type</th>					
					<th width="50px">Credit Hour</th>	
					<th width="50px">Prerequsite</th>					
				</tr>
				
				<?php 
				if(is_array($notcompulsory_majoring_course)){
					$total_major_credit_hours=0;
					foreach($notcompulsory_majoring_course as $major) { 			
								
						$total_major_credit_hours = $total_major_credit_hours + $major["CreditHours"];
												
				?>
					<tr class='shade'>
						<td align="center"><?php echo $major["IdSemester"]?></td>
						<td align="left"><?php echo $major["BahasaIndonesia"]?></td>
						<td align="center"><?php echo $major["SubCode"]?></td>
						<td align="center"><?php echo $major["DefinitionDesc"]?></td>						
						<td align="center"><?php echo $major["CreditHours"]?></td>
						<td align="center"><a href="#" onclick="view('<?php echo $major["IdSubject"];?>','<?php echo $major["IdLandscapeSub"]; ?>','<?php echo $major["IDProgramMajoring"]?>');">View</a></td>
						
					</tr>
				<?php } }?>
				<tr>
						<td align="right" colspan="4" bgcolor="#F5F6CE"><strong><?php echo $this->translate("Total")?></strong></td>
						<td align="center" bgcolor="#F5F6CE"><strong><?php echo $total_major_credit_hours;?></strong></td>						
				</tr>
				
		   </table>
		
		<br>
		
  	</div>
  	<?php	$i++; } //end foreach 
		} //end if
	?>   
	
</div>
</fieldset>

<div id="dialog-view" title="Course Prerequisite"></div>

</div>
<br><br>