
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      

      
      <!-- CSS -->
      <script>
        $(document).ready(function(){
    $('#opener-4').click(function(){
        alert('hi');
    $("ui-widget-overlay").css("background-color", "transparent");

})
    });
</script>
      
      
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#dialog-1" ).dialog({
               autoOpen: false, 
                maxWidth:600,
                    maxHeight: 500,
                    width: 600,
                    height: 500,
               modal: true,
               buttons: {
                  close: function() {$(this).dialog("close");}
               },
            });
            $( "#opener-4" ).click(function() {
               $( "#dialog-1" ).dialog( "open" );
            });
         });
      </script>
<?php
$auth = Zend_Auth::getInstance();
$user_id = $auth->getIdentity()->id;
?>
<?php Cms_Hooks::start(); ?>
<!-- <div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
                <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
        </div>
    </div>
</div> -->
<?php Cms_Hooks::end('content.top'); ?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <!-- <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li><a href="/calendar/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li> -->
    <li class="uk-active"><a href="#"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>
<div id = "dialog-1" title = "Chat">Chat
<div class="uk-grid">

    <div class="uk-width-medium-7-10">
    <!-- content -->
        
<!--         <h3>Chat with this Course Learners</h3>-->

        <div class="tab uk-active" id="profile">
            <div class="message_box_chat"></div>
            <div class="user_info_chat">
                <input name="shout_message_box" id="shout_message_box" autofocus='true' type="text" placeholder="Type Message and Hit Enter" />
            </div>
        </div>
     <!-- /content -->
    </div>

	<div class="uk-width-medium-3-10">
	<!-- side -->
		<div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
			<div class="uk-panel-content message_box_users">
                <div class="infolist">
                    <div>
                        <div class="infolist">
                            <div><span><strong>Online Users: </strong></span><?php echo number_format($this->totalusers) ?></div>
                            <div class="infolist uk-margin-left uk-margin-top user-list">
                                <?php foreach ($this->onlineusers as $user) : ?>
                                    <?php if ($user['user_id'] === $user_id) : ?>
                                        <div><i><?php echo Cms_Common::limitText('You (' . $user['firstname'] . ' ' . $user['lastname'] . ')',35) ?></i></div>
                                    <?php else : ?>
                                        <div><?php echo Cms_Common::limitText($user['firstname'] . ' ' . $user['lastname'],35) ?></div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                        </div> 
                    </div>
                </div>
	        </div>
        </div>
	<!-- /side -->
	</div>
</div>
</div>
      <button id = "opener-4">Open Dialog</button>

<style type="text/css">
    .outline { margin-top:15px }
    .user-list { color: #008cdd; }
</style>

<script>
//method to trigger when user hits enter key
$("#shout_message_box").keypress(function(evt) {
    if(evt.which == 13) {
        var imessage = $('#shout_message_box').val();
        post_data = { 'message':imessage, 'type':'course', 'course_id':'<?php echo $this->course_id ?>' };
       
        //send data to "shout.php" using jQuery $.post()
        $.post('<?php echo $this->baseUrl() ?>/chat/index', post_data, function(data) {
           
            //append data into messagebox with jQuery fade effect!
            $(data).hide().appendTo('.message_box_chat').fadeIn();

            //keep scrolled to bottom of chat!
            var scrolltoh = $('.message_box_chat')[0].scrollHeight;
            $('.message_box_chat').scrollTop(scrolltoh);
           
            //reset value of message box
            $('#shout_message_box').val('');
           
        }).fail(function(err) {
            //alert HTTP server error
            alert(err.statusText);
        });
    }
});

//automatically refresh after every 10000 milliseconds.
load_data = {'fetch':1, 'course_id':'<?php echo $this->course_id ?>'};
window.setInterval(function(){
 $.post('<?php echo $this->baseUrl() ?>/chat/index', load_data,  function(data) {
    $('.message_box_chat').html(data);
    var scrolltoh = $('.message_box_chat')[0].scrollHeight;
    $('.message_box_chat').scrollTop(scrolltoh);
 });
}, 5000);
</script>