
<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>
</div>

<div class="uk-float-right">
    <i class="uk-icon uk-icon-refresh"> </i>
    <a onclick="location.href='<?php echo $this->baseUrl() ?>/admin/chat';"><?php echo $this->translate('Refresh')?></a>
</div>

<form class="uk-form" method="post" id="permission-form">
<!--onsubmit=" return UIkit.modal.prompt('Keep last messages:', '10', function(newvalue){ $('#keep_message').val(newvalue); $('#permission-form').submit(); });"-->
<table class="uk-table uk-table-stacked uk-table-admin">
    <tr>
        <th style="width:50%;text-align:right"><?php echo $this->translate('Title') ?></th>
        <th style="width:50%;text-align:left"><?php echo $this->translate('Value') ?></th>
    </tr>
    <tr>
        <td style="width:50%;text-align:right"><?php echo $this->translate('Total Global Messages Sent') ?>: </td>
        <td style="width:50%;text-align:left"><?php echo $this->totalglobal ?></td>
    </tr>
    <tr>
        <td style="width:50%;text-align:right"><?php echo $this->translate('Total Course Messages Sent') ?>: </td>
        <td style="width:50%;text-align:left"><?php echo $this->totalcourse ?></td>
    </tr>
    <tr>
        <td style="width:50%;text-align:right"><?php echo $this->translate('Total Personal Messages Sent') ?>: </td>
        <td style="width:50%;text-align:left"><?php echo $this->totalpersonal ?></td>
    </tr>
</table>

<!--div class="uk-form-submit uk-align-center">
    <button class="uk-button uk-button-primary" type="submit" name="truncate"><?php echo $this->translate('Truncate All Messages')?></button>
    <input type="hidden" name="keep_message" id="keep_message" value="10"/>
</div-->
</form>

<script>
    $(function()
    {
        $('.togglecheck').toggleCheckbox([
            '<i class="uk-icon-circle-o toggleicon uncheck"></i>',
            '<i class="uk-icon-check-circle-o toggleicon checked"></i>'
        ]);
    });
</script>

<style type="text/css">
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>
