<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/forum/"><?php echo $this->translate('Forum')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form">

    <div class="uk-form-row">
        <label class="uk-form-label" for="name"><?php echo $this->translate('Subject')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->name->setAttrib('class','uk-form-large uk-width-large')  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Course')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->course_id->setAttrib('onchange','getGroup()')->setAttrib('class','uk-form-large uk-width-large');  ?>
            <p class="desc">Tag Announcement to Course</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Group')?></label>
        <div class="uk-form-controls">
            <span id="group_id_div"><?php echo $this->translate('Please select course first'); ?></span>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="excerpt"><?php echo $this->translate('Message')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->description  ?>
        </div>
    </div>

    <!--div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Display Only')?></label>
        <div class="uk-form-controls text">
            <input type="checkbox" name="display_only"  value="1" class="uk-checkbox-toggle" id="display_only"/> <label for="display_only">Yes</label>
            <p class="desc">If enabled, replies are not disabled. Default: No</p>
        </div>
    </div-->

    <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>

<script type="text/javascript">

    function toggleAP()
    {
        var ap = $("#accessperiod_toggle").val();

        if ( ap == '1' )
        {
            $("#accessperiod_wrap").show();
        }
        else
        {
            $("#accessperiod_wrap").hide();
        }
    }

    $(function(){

        $("#accessperiod_toggle").on('change', function()
        {
            toggleAP();
        });

        $("#display_only").on('change', function(){
           if ( $(this).is(':checked') )
           {
               $("#code").removeAttr("required");
               $("#code").parent().parent().hide();
               $('#course-form').formValidation('destroy');
               initValidation();
           }
           else
           {
               $("#code").attr("required","required");
               $('#course-form').formValidation('destroy');
               $("#code").parent().parent().show();
               initValidation();
           }
        });

        CKEDITOR.replace( 'description',
        {
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: 300
        });

        initValidation();
    });

    function initValidation()
    {
        $('#course-form').formValidation({
            framework: 'uikit',
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'Title is required'
                        }
                    }
                },
                description: {
                    validators: {
                        notEmpty: {
                            message: 'Description cannot be empty'
                        }
                    }
                }
            }
        });
    }

    function getGroup() 
    {
        var course_id = $("#course_id").val();

        $.ajax({
            url: "/forum/get-forum-group/",
            data: { 'course_id': course_id },
            type: 'POST',
            dataType: 'json',
            success: function (data) 
            {
                if (data.length > 0) 
                {
                    $("#group_id_div").empty();
                    var selection = "<select class='select_new uk-form-medium uk-width-medium' name='group_id[]' id='group_id' multiple='multiple'>";

                    $.each(data, function (index) 
                    {
                        selection += "<option value='" + data[index].group_id + "'>" + data[index].group_name + "</option>";
                    });

                    selection += "</select>";

                    $("#group_id_div").append(selection);
                    $(".select_new").select2({
                        placeholder: "All groups",
                        allowClear: true
                    });
                }
                else
                {
                    $("#group_id_div").html("<i><?php echo $this->translate('All Groups') ?></i>");
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }

</script>