<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">

            <a href="<?php echo $this->baseUrl()?>/admin/forum/add" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('Add Forum')?> </a>

        </div>
        <div class="subtitle"><?php echo $this->translate('Forum')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>
</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist" width="40%"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Course')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
        <?php if ( count($this->results) == 0 ) { ?>
        <tr>
            <td colspan="4"><?php echo $this->translate('No forum yet.')?></td>
        </tr>
        <?php } else { ?>
        <?php foreach ( $this->results as $row) { ?>
            <tr <?php echo $row['display_only'] == 1 ? 'style="background:#f1f1f1"':''?>>
                <td>
                    <?php echo $row['display_only'] == 1 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Forum Closed"></span>':''?>
                    <?php if ( $row['display_only'] == 1 ) { ?>
                    <strong <?php echo $row['display_only'] == 1 ? 'class="uk-text-muted"':''?>><?php echo $row['name']?></strong>
                     <?php } else { ?>
                     <a <?php echo $row['display_only'] == 1 ? 'class="uk-text-muted"':''?> target="_blank" href="<?php echo $this->baseUrl()?>/forum/forum-thread/course/<?php echo $row['course_id'] ?>/forum/<?php echo $row['id']?>"><?php echo $row['name']?></>
                     <?php } ?>
                </td>
                <td><span title="<?php echo $row['course_name'] ?>" data-uk-tooltip=""><?php echo $row["course_code"] ?></td>
                <td><?php echo Cms_Date::date($row['created_date']) ?></td>
                <td>
                    <div class="uk-button-group">
                        <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/forum/edit/id/<?php echo $row['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-cog"></i></a>
                        <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this forum? All related postings, attachments etc. will be deleted as well.')?>')" href="<?php echo $this->baseUrl()?>/admin/forum/delete/id/<?php echo $row['id']?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                    </div>
                </td>
            </tr>
        <?php } ?>
        <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>