
<div class="clearfix">
    <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                    <h4>Member Renew Fee</h4>
                    <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                                    <label>Member Name</label>
                                    <td><?php echo $this->form->field2;?></td>
                                    
                                </div>                                 
                            </div>
                            
                        
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                     <?php echo $this->form->Search;?>
                                <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberRenewFee', 'action'=>'add'),'default',true);?>';" /> 
                                    <input type="reset" class="btn btn-primary" value='Clear'>
                                </div>
                            </div>                           
                        </div>
                    </div>

                   </form> 
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
    <tr>
        <th>Member Name</th>
        <th>Sub Type</th>       
        <th>Currency</th>
        <th>Amount</th>
        <th>Fee Type</th>
        <th>Nationality</th> 
            

        
        
    </tr>
    </thead>
    <tbody>
        <?php if (($this->paginator)):?>
        <?php foreach ($this->paginator as $member ): ?>
    <tr>
        <td>
            <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'MemberRenewFee', 'action'=>'edit', 'Id'=>$member['id']),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($member['member_name']);?>
            </a>
           

        </td>
              
                <td><?php echo $this->escape($member['member_subtype_name']);?></td>
                <td><?php echo $this->escape($member['DefinitionDesc']);?></td>
             
                <td><?php echo $this->escape($member['amount']);?></td>
               <td><?php echo $this->escape($member['Feetype']);?></td>
               <td><?php
                         $nt_var =   $this->escape($member['nationality']);

                         if($nt_var == "MY")
                         {
                            echo "Malaysian";
                         }
                         else
                         {
                            echo "Non  Malaysian";
                         }
                    ?></td>
          
                   

    </tr>
    </tbody>
         <?php endforeach; ?>
        
       
                  <?php else: ?>
     
                    <?php echo 'No result found';?>
                    <?php endif;?>
                
</table> 
</div>
</div>
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>
