<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
        <div class="uk-form-controls">
            <input type="text" name="title" required class="uk-form-large uk-form-width-large"/>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('SCORM Package')?></label>
        <div class="uk-form-controls">
            <div class="uk-form-file filesarea">
                <button class="uk-button"><i class="uk-icon-cloud-upload uk-text-muted uk-margin-small-right"></i> Choose File</button>
                <input name="files" type="file" required>
                <span class="desc"><?php echo $this->translate('Compatible with SCORM 1.2 and 2004')?></span>
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
            <div class="uk-form-controls">
                <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                    <?php foreach ($this->groups as $groups) : ?>
                        <?php $mapId = @$groups['map_id'] ?>
                        <?php if ((int)$mapId > 0) : ?>
                            <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                        <?php else: ?>
                            <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        
        <div class="uk-form-row">
            <input type="hidden" value="scorm" name="type"/>
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        </div>
    </div>
</form>