<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
    <h2><?php echo $this->translate('Adding a new Assignment')?></h2>
    
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Assignment Name')?></label>
        <div class="uk-form-controls">
            <input type="text" name="title" required class="uk-form-width-large"/>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <!--textarea name="description" class="uk-form-width-medium"></textarea-->
            <textarea name="description" class="uk-form-width-large textarea" id="modal-assignment-textarea"></textarea>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
        <div class="uk-form-controls">
            <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                <?php foreach ($this->groups as $groups) : ?>
                    <?php $mapId = @$groups['map_id'] ?>
                    <?php if ((int)$mapId > 0) : ?>
                        <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                    <?php else: ?>
                        <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

   <!--Date-->
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Due Date')?></label>
        <div class="uk-form-controls">
           <input type="text" name="date_start" required class="datepicker" value="<?php echo $this->content['date_start']?>"/>
            -<input type="text" name="date_end" required class="datepicker" value="<?php echo $this->content['date_end']?>" />
        </div>
    </div>

    <!--Time-->
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Time')?></label>
        <div class="uk-form-controls">
            <select class="select_time" id="time_start" name="time_start">
            <?php $time = ""; ?>
            <?php $j=30; ?>
                <?php for($i=0; $i<24; $i++) : ?>
                    <?php $i=($j==30) ? $i:--$i;?>
                    <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                        <?php $selected = (($this->content['time_start'] == $time) ? " selected" : ""); ?>
                            <option value="<?php echo $time ?>"<?php echo $selected ?>><?php echo $time ?></option>
                <?php endfor; ?>
            </select>
                - 
            <select class="select_time" id="time_end" name="time_end">
            <?php $time = ""; ?>
            <?php $j=30; ?>
                <?php for($i=0; $i<24; $i++) : ?>
                    <?php $i=($j==30) ? $i:--$i;?>
                    <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                        <?php $selected = (($this->content['time_end'] == $time) ? " selected" : ""); ?>
                            <option value="<?php echo $time ?>"<?php echo $selected ?>><?php echo $time ?></option>
                <?php endfor; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Files')?></label>
        <div class="uk-form-controls">
            <input name="files" type="file" required class="fileupload all">
            <p class="desc"><?php echo $this->translate('Supported Types: xls, zip, ppt, rar, jpg, pdf, doc, docx, xlsx pptx')?></p>
        </div>
    </div>
    
    <!--grade maximum point-->
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Grade Point')?></label>
        <div class="uk-form-controls">
            <input type="text" name="gradepoint"  required class="uk-form-row"/>
        </div>
    </div>

    <div class="uk-form-row">
        <input type="hidden" value="assignment" name="type"/>
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
    </div>
</form>