<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Quiz Title')?></label>
        <div class="uk-form-controls">
            <input type="text" value="" name="title" required class="uk-form-medium uk-form-width-large"/>
            <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <textarea name="description" class="uk-form-width-large"></textarea>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
        <div class="uk-form-controls">
            <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                <?php foreach ($this->groups as $groups) : ?>
                    <?php if ((int)$groups['map_id'] > 0) : ?>
                        <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                    <?php else: ?>
                        <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="answer1"><?php echo $this->translate('Allow multiple attempt')?></label>
        <div class="uk-form-controls">
            <select class="select" id="multiattempt" name="multiattempt">
                <?php for($i=0; $i<=10; $i++): ?>
                    <option value="<?php echo $i; ?>">
                        <?php echo ($i==0 ? $this->translate('Unlimited') : $i); ?>
                    </option>
                <?php endfor; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Date')?></label>
        <div class="uk-form-controls">
            <label class="desc">Start </label>
            <input type="text" name="date_start" required class="datepicker" value=""/>

            <label class="desc">End</label>
            <input type="text" name="date_end" required class="datepicker" value="" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Time')?></label>
        <div class="uk-form-controls">
            <label class="desc">Start </label>
            <select class="select_time" id="time_start" name="time_start">
            <?php $time = ""; ?>
            <?php $j=30; ?>
                <?php for($i=0; $i<24; $i++) : ?>
                    <?php $i=($j==30) ? $i:--$i;?>
                    <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                    <option value="<?php echo $time ?>"><?php echo $time ?></option>
                <?php endfor; ?>
            </select>
                 
            <label class="desc">End </label>
            <select class="select_time" id="time_end" name="time_end">
            <?php $time = ""; ?>
            <?php $j=30; ?>
                <?php for($i=0; $i<24; $i++) : ?>
                    <?php $i=($j==30) ? $i:--$i;?>
                    <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                    <option value="<?php echo $time ?>"><?php echo $time ?></option>
                <?php endfor; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Grade Point')?></label>
        <div class="uk-form-controls">
            <input type="text" name="gradepoint" value=""  required class="uk-form-row" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Grade Pass')?></label>
        <div class="uk-form-controls">
            <input type="text" name="gradepass" value="<?php echo $this->content['gradepass']?>"  required class="uk-form-row" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="answer1"><?php echo $this->translate('Grading method')?></label>
        <div class="uk-form-controls">
            <select name="grading_method">
                <option value="1">Highest Grade</option>
                <option value="2">Last Attempt</option>
             </select> 
        </div>
    </div>
 
    <div class="uk-form-row">
        <input type="hidden" value="quiz" name="type"/>
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
    </div>
</form>