<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
        <div class="uk-form-controls">
            <input type="text" name="title" placeholder="<?php echo $this->translate('Title')?>" required class="uk-width-1-1 uk-form-large"/>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Content')?></label>
        <div class="uk-form-controls">
            <textarea name="content" class="textarea" id="addcoursecontent-content"><?php echo $this->contentdata['content']?></textarea>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
        <div class="uk-form-controls">
            <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                <?php foreach ($this->groups as $groups) : ?>
                    <?php $mapId = @$groups['map_id'] ?>
                    <?php if ((int)$mapId > 0) : ?>
                        <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                    <?php else: ?>
                        <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <input type="hidden" value="content" name="type"/>
        <button name="addcontent" class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
    </div>
</form>

<script type="text/javascript">
$(function() {
    
});
</script>