<h2><?php echo $this->translate('Video')?></h2>

<ul class="uk-tab" data-uk-switcher="{connect:'#switcher-video'}">
    <li class="uk-active"><a href="#"><i class="uk-icon-upload"></i> <?php echo $this->translate('Upload Video')?></a></li>
    <li><a href="#"><i class="uk-icon-youtube-play"></i> <?php echo $this->translate('Youtube')?></a></li>
</ul>

<div id="switcher-video" class="uk-switcher uk-margin">
    <div>
        <form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
           <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <input type="text" name="title" required class="uk-form-medium uk-form-width-large"/>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
                <div class="uk-form-controls">
                    <textarea name="description" class="uk-form-width-large"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
                <div class="uk-form-controls">
                    <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                        <?php foreach ($this->groups as $groups) : ?>
                            <?php $mapId = @$groups['map_id'] ?>
                            <?php if ((int)$mapId > 0) : ?>
                                <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                            <?php else: ?>
                                <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Thumbnail')?></label>
                <div class="uk-form-controls">
                    <input name="thumb" type="file" required class="fileupload img">
                    <p class="desc"><?php echo $this->translate('Supported Types: jpg jpeg gif png')?></p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Video')?></label>
                <div class="uk-form-controls">
                    <input name="files" type="file" required class="fileupload mp4">
                    <p class="desc"><?php echo $this->translate('Supported Types: mp4')?></p>
                </div>
            </div>
            <div class="uk-form-row">
                <input type="hidden" value="video" name="type"/>
                <input type="hidden" value="upload" name="video-type"/>
                <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
            </div>
        </form>
    </div>
    <div>
        <form class="uk-form uk-form-horizontal addcontent-form" method="post">
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Youtube Link')?></label>
                <div class="uk-form-controls">
                    <div id="video-thumb" class="uk-form-width-medium uk-margin-bottom" style="display:none"></div>
                    <input type="hidden" value="" name="thumb" id="video-thumb-value" />
                    <input type="text" name="url" onchange="AppAdmin.checkVideo(this, 'videotitle','video-thumb')" placeholder="http://www.youtube.com/watch?v=PHAc3_MEjgQ" required class="uk-form-large uk-form-width-large"/>
                      <br>sample link : https://www.youtube.com/watch?v=ZHH-zbNgJx0
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <input type="text" name="title" id="videotitle" required class="uk-form-large uk-form-width-large"/>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
                <div class="uk-form-controls">
                    <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                        <?php foreach ($this->groups as $groups) : ?>
                            <?php $mapId = @$groups['map_id'] ?>
                            <?php if ((int)$mapId > 0) : ?>
                                <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                            <?php else: ?>
                                <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
                <div class="uk-form-controls">
                    <textarea name="description" class="uk-form-width-large"></textarea>
                </div>
            </div>

            <div class="uk-form-row">
                <input type="hidden" value="video" name="type"/>
                <input type="hidden" value="youtube" name="video-type"/>
                <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
            </div>
        </form>
    </div>
</div>