
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
<fieldset>
<legend><?php echo $this->translate("Semester Search");?></legend>
	<form action="<?php echo $this->baseUrl();?>/generalsetup/semestermaster/index/search/1" method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("Semester Name");?></td>
					<td><?php echo $this->lobjform->field3;?></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td ><?php echo $this->translate("Active");?></td>
					<td ><?php echo $this->lobjform->field7;?></td>
				</tr>
				<tr>
				<td align = "center" colspan = "4">

							<?php echo $this->lobjform->Search;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestermaster', 'action'=>'newsemester'),'default',true);?>';" />	
							<?php echo $this->lobjform->Clear;?>
				</td>
				
				</tr>
		</table>
	</form>
</fieldset> 
<br/>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Semester Name");?></th>
		<th><?php echo $this->translate("Semester Code");?></th>
	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjsemester): ?>
	<tr>
		<td><a href="<?php echo $this->baseUrl();?>/generalsetup/semestermaster/editsemester/id/<?php echo $this->escape($lobjsemester['IdSemesterMaster']);?>" ><?php print_r($this->escape($lobjsemester['SemesterMainName']));?></a></td>
		<td><?php print_r($this->escape($lobjsemester['SemesterMainCode']));?></td>
		<?php endforeach; ?>
		<?php endif; ?> 
	</tr>
</table>
<div class="pagination opt"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
									'/partials/my_pagination_control.phtml'); ?></div>