<?php
    $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 

?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'announcements','action'=>'index'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" enctype="multipart/form-data" id="form_announce" onsubmit="return checkForm()">
	<div>
		<table width="100%" cellpadding="3" cellspacing="1">
			<tr>
				
				<td colspan="2" style="padding-bottom:20px">
					<input class="input-txt" placeholder="<?php echo $this->Translate('Title')?>" type="text" name="title" id="title" value="<?php echo $this->escape($this->info['title'])?>" required="required" />
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Type")?></td>
				<td>
					<?php
					$types = explode(',',$this->info['type']);
					?>
					<?php foreach ( $this->annTypes as $type_id => $type_name ) : ?>
					<input type="checkbox" class="chk" name="type[]" <?php echo in_array($type_id, $types) ? 'checked="checked"':''?> id="<?php echo $type_id?>" value="<?php echo $type_id?>"> <label for="<?php echo $type_id?>"><?php echo $type_name ?></label>
					<?php endforeach; ?>
				</td>
			</tr>
			
		</table>	
	</div>
	
	<br />
	
	<h3 class="title"><?php echo $this->translate("Content"); ?></h3>
	
	<textarea name="content" id="content" class="tpl_content"><?php echo $this->info['content']?></textarea>

	<br /><br />

	<fieldset>
		<legend><?php echo $this->translate('Attachments')?></legend>
		<?php if ( !empty($this->files) ) { ?>
		<table class="table">
			<tr>
				<th><?php echo $this->translate('File')?></th>
				<th><?php echo $this->translate('Downloads')?></th>
				<th></th>
			</tr>
			<?php foreach ( $this->files as $file ) : ?>
			<tr id="filerow-<?php echo $file['id']?>">
				<td><a href="<?php echo DOCUMENT_URL.$file['fileurl']?>" class="fancy"><?php echo $file['filename']?></td>
				<td align="center"><?php echo $file['total_download']?></td>
				<td><a href="#" onclick="return deleteFileAjax('<?php echo $file['id']?>')"><?php echo $this->translate('Delete')?></a></td>
			</tr>
			<?php endforeach; ?>
		</table>
		<br />
		<?php } ?>
		<div class="formnice">
			<div class="row">
				<div class="attach-wrap">
				<input type="file" name="attachment1" class="attach"  />
				<a href="#" onclick="return addattach()"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Another')?></a>
			</div>
			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx, zip</small>
			</div>
		</div>
	</fieldset>

	<br />

	<fieldset>
		<legend><?php echo $this->translate('Filtering Options')?></legend>
		
		<div class="formnice">
		<p><strong><?php echo $this->translate('Programme')?></strong> 
                    <select name="program_id" id="program_id" class="select">
-				<option value=""><?php echo $this->translate('All'); ?></option>
				<?php foreach ( $this->progList as $program ) { ?>
				<option value="<?php echo $program['IdProgram']?>" <?php echo $program['IdProgram'] == $this->info['program_id']?'selected="selected"':''?>><?php echo $program['ProgramName'] ?></option>
				<?php } ?>
			</select>
		</p>
		<p><strong><?php echo $this->translate("Intake")?></strong>
                    <select name="intake_id" id="intake_id" class="select">
-				<option value=""><?php echo $this->translate('All'); ?></option>
				<?php foreach ( $this->intakeList as $intake ) { ?>
				<option value="<?php echo $intake['IdIntake']?>"  <?php echo $intake['IdIntake'] == $this->info['intake_id']?'selected="selected"':''?>><?php echo $intake['IntakeDesc'] ?></option>
				<?php } ?>
			</select>

		</p>
		<p><strong><?php echo $this->translate("Semester")?></strong>
                    <select name="semeter_id" id="semester_id" class="select">
-				<option value=""><?php echo $this->translate('All'); ?></option>
				<?php foreach ( $this->semList as $sem ) { ?>
				<option value="<?php echo $sem['IdSemesterMaster']?>"  <?php echo $sem['IdSemesterMaster'] == $this->info['semester_id']?'selected="selected"':''?>><?php echo $sem['SemesterMainName'].' - '.$sem['SemesterMainCode'] ?></option>
				<?php } ?>
			</select>

		</p>
		</div>
	</fieldset>
	
	<br />
	
	<fieldset>
		<legend><?php echo $this->translate('Publishing Options')?></legend>
		
		<p><input type="checkbox" name="active" id="active" value="1" <?php echo $this->info['active'] == 1 ?'checked="checked"':''?>/> <label for="active"><?php echo $this->translate('Active')?></label></p>
		<p><input type="checkbox" name="sticky" id="sticky" value="1" <?php echo $this->info['sticky'] == 1 ?'checked="checked"':''?> /> <label for="sticky"><?php echo $this->translate('Important?')?></label>
			<span class="icon icon-info-circled info tooltip"></span>
			<span class="tooltiptext">
				<?php echo $this->translate('This will make the announcement appears as pinned and will always be on top')?>
			</span>
		</p>
		<p><input type="checkbox" name="html" id="html" value="1" <?php echo $this->info['html'] == 1 ?'checked="checked"':''?> /> <label for="html"><?php echo $this->translate('Is HTML?')?></label>
			<span class="icon icon-info-circled info tooltip"></span>
			<span class="tooltiptext">
				<?php echo $this->translate('Switch between editor modes of normal textbox and enhanced editor')?>
			</span>
		</p>

	</fieldset>
	
	<br />

	<div class="form-opt">
		<input class="btn-submit" type="submit" value="<?php echo $this->translate('Save')?>" />
	</div>
</form>

<script type="text/javascript">
$(function() {
	
	//enableEditor();
	$("#html").on('change', function()
	{
		if ( $(this).is(':checked') )
		{
			enableEditor();
		}
		else
		{
			disableEditor();
		}
	});

	$("#html").trigger('change');
});

function deleteFileAjax(id)
{
	var ret = confirm("Are you sure to delete");
	
	$.ajax({
		url: "<?php echo $this->baseUrl()?>/generalsetup/announcements/delete-file",
		type: "post",
		data: {'id':id},
		dataType: 'json',
		success: function(data)
		{
			if (data.msg == '' )
			{
				$('#filerow-'+id).remove();
			}
			else
			{
				alert(data.msg);
			}
		},
		error:function(){
			  alert("failure");
		}  
	});

	return false;
}

function addattach()
{
	var total = $(".attach").length;
	var next = total+1;

	if (next > 5 )
	{
		alert('<?php echo $this->translate('You can only upload up to 5 attachments')?>');
		return false;
	}

	$(".attach-wrap").append('<br /><input type="file" name="attachment'+next+'" class="attach" />');
	return false;
}

function enableEditor()
{
	CKEDITOR.replace( 'content',{
		removePlugins : 'resize,placementtest',
		toolbar : 'Full',
		height: '400px'
	} );
}

function disableEditor()
{
	if (CKEDITOR.instances['content'])
	{
		CKEDITOR.instances['content'].destroy();
		$("#content").val( strip_tags($("#content").val()) );
	}
}

function strip_tags(input, allowed) 
{ 
  allowed = (((allowed || '') + '')
    .toLowerCase()
    .match(/<[a-z][a-z0-9]*>/g) || [])
    .join(''); // making sure the allowed arg is a string containing only tags in lowercase (<a><b><c>)
  var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi,
    commentsAndPhpTags = /<!--[\s\S]*?-->|<\?(?:php)?[\s\S]*?\?>/gi;
  return input.replace(commentsAndPhpTags, '')
    .replace(tags, function ($0, $1) {
      return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : '';
    });
}

function checkForm()
{
	var total = $(".chk:checked").length;
	if (total == 0)
	{
		alert('<?php echo $this->translate('No type selected')?>');
		return false;
	}

	return true;
}

$(function(){
    
});

function disablevalue(element){
    var list = $( "#"+element ).val();
    
    if (list != null){
        if(list[0]=="0"){
            $("#"+element+" option[value='0']").removeAttr('disabled');
            $("#"+element+" option[value!='0']").attr('disabled', true );
            //$this->progList
        }else{
            $("#"+element+" option[value='0']").attr('disabled', true );
            $("#"+element+" option[value!='0']").removeAttr('disabled');
        }
    }else{
       $("#"+element+" option").removeAttr('disabled'); 
    }
}
</script>

<style type="text/css">
.tpl_content { width:100%; height:400px; }
#title { width:100%; font-size:16px; padding:8px !important; }
</style>