<script type="text/javascript">
dojo.addOnLoad(function(){
	dijit.byId('IdSubject').set('value','');
	dijit.byId('IdSubject').set('placeHolder','Select Subject');
	});
function fnGetSubjectCode(idsubject) {
	if(idsubject != "" && idsubject != undefined)
	{ 
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/generalsetup/subjectprerequisites/getsubjectcode/idsubject/"+idsubject,
			handleAs:'text',
			load:function(data){ 
				dijit.byId('SubjectCode').set('value',data);					
			}
	   }
		dojo.xhrGet(xhrArgs); 
	} 
}
fnGetSubjectCode(<?php echo $this->idsub;?>);



var rowid = <?php echo $this->pacntr+1;?>;

function addSubjectprogramDetails() {
	
	var subjecttype = dijit.byId("CheckSubject").checked;
	
	if(subjecttype == true){
		var SubjectID = dijit.byId("IdSubject").value;	
		var SubjectnameName = dijit.byId("IdSubject").displayedValue;
		var SubCode = dijit.byId("SubjectCode").displayedValue;			
	}else {			
		var SubjectID = 0;	
		var SubjectnameName = dijit.byId("SubjectNamenew").value;
		var SubCode = 0;
	}	
		
	var Mark = dijit.byId("Mark").value;
	
		var trow=document.getElementById('hor').insertRow(rowid);
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);		
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);
		var tcol5=trow.insertCell(4);
		
		tcol1.innerHTML= "<input type='hidden' value='"+SubjectID+"' name=SubjectIDgrid[]><input type='hidden' value='"+SubjectnameName+"' name=SubjectnameNamegrid[]>"+SubjectnameName;;
		tcol2.innerHTML= SubCode;
		tcol3.innerHTML= "<?php echo $this->pgmname;?>";
		tcol4.innerHTML= "<input type='hidden' value='"+Mark+"' name=Markgrid[]>"+Mark;		
		tcol5.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
		rowid++;
	
}

function deleteRow(r)
{
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById('hor').deleteRow(i);
	rowid--;	
}
</script>
<fieldset>
<legend><?php echo $this->translate("$this->Program Subject Marks Requirments");?></legend>
<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
		<?php echo $this->lobjSubjectprogramform->UpdDate;?>
		<?php echo $this->lobjSubjectprogramform->UpdUser;?>
		<?php echo $this->lobjSubjectprogramform->IdSubjectProgram;?>
		<?php echo $this->lobjSubjectprogramform->IdProgram;?>
		
		<table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th colspan = "4"><?php echo $this->translate("$this->Subject $this->Program Details");?></th>
			</tr>
			<tr>
				<td>Program Name</td>
				<td><?php echo $this->pgmname;?></td>
				<td></td>
				<td></td>
			</tr>
			
			<tr>
				<td><?php echo $this->translate("Select $this->Subject");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjSubjectprogramform->IdSubject;?><br>
				<input type="text" id="SubjectCode" name="SubjectCode" dojoType="dijit.form.ValidationTextBox" value="" disabled></td>
				<td><?php echo $this->translate("$this->Subject Name");?></td>
				<td><?php echo $this->lobjSubjectprogramform->SubjectNamenew;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("If").''.$this->translate("$this->Subject  In List");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjSubjectprogramform->CheckSubject;?></td>
				<td><?php echo $this->translate("$this->Subject Marks");?></td>
				<td><?php echo $this->lobjSubjectprogramform->Mark;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Active");?></td>
				<td><?php echo $this->lobjSubjectprogramform->Active;?></td>
				<td></td>
				<td></td>
			</tr>		
			<tr>
				<td colspan = "4" align = "right"><?php echo $this->lobjSubjectprogramform->Add;?></td>
			</tr>		
		</table>		
		<table id="hor" class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th><?php echo $this->translate("$this->Subject Name");?></th>
				<th><?php echo $this->translate("$this->Subject Code");?></th>
				<th><?php echo $this->translate("Program Name");?></th>
	        	<th><?php echo $this->translate("$this->Subject Marks");?></th>
	        	<th><?php echo $this->translate("Delete");?></th>
			</tr>
			<?php if (count($this->paginator)): 
				foreach ($this->paginator as $lobjProgramList ): ?>
					<tr>
					<?php if($lobjProgramList['IdSubject']==0){?>
						<td><?php echo $this->escape($lobjProgramList['SubjectNamenew']);?>
						<input type='hidden' value="<?php echo $this->escape($lobjProgramList['IdSubject']);?>" name=SubjectIDgrid[]>
						<input type='hidden' value="<?php echo $this->escape($lobjProgramList['SubjectNamenew']);?>" name=SubjectnameNamegrid[]>
						</td>
					<?php }else{?>
						<td><?php echo $this->escape($lobjProgramList['SubjectName']);?>
						<input type='hidden' value="<?php echo $this->escape($lobjProgramList['IdSubject']);?>" name=SubjectIDgrid[]>
						<input type='hidden' value="<?php echo $this->escape($lobjProgramList['SubjectName']);?>" name=SubjectnameNamegrid[]>
						</td>	
						<?php }?>
						<td><?php print_r($this->escape($lobjProgramList['SubCode']));?></td>
						<td><?php print_r($this->escape($lobjProgramList['ProgramName']));?></td>
						<td><?php print_r($this->escape($lobjProgramList['Mark']));?>
						<input type='hidden' value="<?php print_r($this->escape($lobjProgramList['Mark']));?>" name=Markgrid[]>
						</td>
						<td><a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a></td>
					</tr>
				<?php endforeach;
			endif; ?>
			<tr>
				<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
			</tr>
		</table>
								
		<table class="table" width="100%" cellpadding="5" cellspacing="1">          
			<tr>
				<td colspan = "4" align = "right">
					<?php echo $this->lobjSubjectprogramform->Save;?>					
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'subjectprogram', 'action'=>'index'),'default',true);?>';" />												
				</td>
			</tr>
		</table>
	</form>
</fieldset>	

	