<div class="toolbar">
	<h2><?php echo $this->title ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25"></th>
		<th><?php echo $this->translate("Title")?></th>
		<th><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td align="center">
		<?php if ( $data['sticky'] == 1 ) { ?>
		<span class="sticky icon-star"></span>
		<?php } ?>
		</td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'portal','controller'=>'announcements', 'action'=>'view', 'id'=>$data['id']),'default',true);?>">
				<?php echo $data['title']; ?>
			</a>
		</td>
		<td><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="3"><?php echo $this->translate('No announcements yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','pagination.phtml');
?>