<div class="toolbar">
	<h2><?php echo $this->title ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/announcements"><?php echo $this->title?></a></li>
		<li><strong><?php echo $this->info['title']?></strong></li>
	</ul>
</div>

<div class="announcement-wrap">
	<div class="date"><span class="icon icon-clock"></span> <?php echo date('d-m-Y', strtotime($this->info['created_date']))?></div>
	<h2><?php echo $this->info['title']?></h2>
	
	<div class="text">
	<?php echo $this->info['content']?>
	</div>

	<?php if ( !empty($this->files) ) { ?>
	<div class="attachments">
	<h3><span class="icon icon-download"></span><?php echo $this->translate('Attachments')?></h3>
	<ol>
		<?php foreach ( $this->files as $file ) : ?>
		<li><a href="<?php echo DOCUMENT_URL.$file['fileurl']?>" class="fancy"><?php echo $file['filename']?></a> <span class="size"><?php echo format_filesize($file['filesize'])?></span></li>
		<?php endforeach; ?>
	</ol>
	</div>
	<?php } ?>

	<div class="foot">
		<span class="views"><?php echo $this->translate('Views')?> <?php echo number_format($this->info['views'])?></span>
		<div class="social-likes">
			<div class="facebook" title="Share link on Facebook">Facebook</div>
			<div class="twitter" title="Share link on Twitter">Twitter</div>
			<div class="plusone" title="Share link on Google+">Google+</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/jquery/plugin/social/social-likes_birman.css" type="text/css"/>
<script src="<?php echo $this->baseUrl()?>/js/jquery/plugin/social/social-likes.min.js"></script>