.uk-tab-line > li > a
{
    border:none;
    position:relative;
    top:1px;
    padding: 8px 12px 8px 12px;
    border-bottom: 2px solid transparent;
    font-size:1.2em;
}

.uk-tab-line > li:not(.uk-active) > a:hover,
.uk-tab-line  > li:not(.uk-active) > a:focus,
.uk-tab-line  > li.uk-open:not(.uk-active) > a {
    margin-bottom: -1px;
    padding-bottom: 8px;
}

.uk-tab-line > li > a:hover,
.uk-tab-line > li > a:focus,
.uk-tab-line > li.uk-open > a
{
    border:none;
    background:transparent;
    border-bottom: 2px solid #378ae7;
    border-radius: 0;
    padding: 8px 12px 8px 12px;
}

.uk-tab-line > li.uk-active > a {
    font-weight:bold;
    background:transparent;
    border-bottom-color:#378ae7;
}

.uk-tab-line {
    border-bottom: 2px solid #dddddd !important;
}

.typing-indicator {
    background-color: #cce4ff;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    display: table;
    margin: 0 auto;
    position: relative;
    -webkit-animation: 2s bulge infinite ease-out;
    animation: 2s bulge infinite ease-out;
}
.typing-indicator:before, .typing-indicator:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dfeeff;
}
.typing-indicator:after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}
.typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
    -webkit-animation: 1s blink infinite 0.3333s;
    animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
    -webkit-animation: 1s blink infinite 0.6666s;
    animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
    -webkit-animation: 1s blink infinite 0.9999s;
    animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes bulge {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
@keyframes bulge {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

#loader { position: absolute; top:40%; left:50%; margin-left:-30px; z-index:100;}

input[type="checkbox"].uk-checkbox-toggle {
    position: absolute;
    margin: 8px 0 0 16px;
}
input[type="checkbox"].uk-checkbox-toggle + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
    cursor:pointer;
}
input[type="checkbox"].uk-checkbox-toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].uk-checkbox-toggle + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].uk-checkbox-toggle + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].uk-checkbox-toggle:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].uk-checkbox-toggle:checked + label:before {
    background: #55D069;
}

/* timeline */
.timeline {
    margin:0;
    padding: 0px;
    list-style: none;
    position: relative;
    border:1px solid #eee;
}

/* The line */
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #ddd;
    left: 22px;
}

.timeline > li {
    position: relative;
    padding:15px;
    margin:0;
    border-bottom:1px solid #eee;

}

.timeline > li:last-child {border:none; }

.timeline > li .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    color: #ccc;
    background: #fff;
    border-radius: 50%;
    border:4px solid #ddd;
    text-align: center;
    left: 8px;
    top: 10px;
    padding:2px;

}

.timeline.admin:before { content:''; width:0; }
.timeline.admin > li:hover { background:#fafafa }

.timeline > li:hover  .icon { border-color:#96dc51; color:#73cf19 }
.timeline .label { margin-left:40px;  }

/* uk-panel-alt */
.uk-panel-alt { border-radius:0; padding:0; background:#fff }
.uk-panel-alt .uk-panel-title { font-size:1em; font-weight:bold; border-bottom:1px solid #ddd; padding:8px; margin:0; }
.uk-panel-alt .uk-panel-content { padding:8px }

/* uk-subnav-large */

.uk-subnav-large li a { font-size:1.3em; padding:0.5rem 1rem }
.uk-subnav-large li a .icon { margin-right:10px; font-size:0.9em  }

/* uk-table-bordered */
.uk-table-bordered { border:1px solid #ddd; }
.uk-table-bordered th { background:#fbfbfb }

/* button loading */
.button-loading {
    position: relative;
    background:#1888c8 !important;
}
.button-loading:before {
    margin: -11px 0 0 -9px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    -webkit-border-radius: 18px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 18px;
    -moz-background-clip: padding;
    border-radius: 18px;
    background-clip: padding-box;
    border: rgba(255, 255, 255, 0.25) 2px solid;
    border-top-color: #ffffff;
    -webkit-animation: animation-rotate 750ms linear infinite;
    -moz-animation: animation-rotate 750ms linear infinite;
    -o-animation: animation-rotate 750ms linear infinite;
    animation: animation-rotate 750ms linear infinite;
}


@-webkit-keyframes animation-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes animation-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes animation-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes animation-rotate {
    100% {
        transform: rotate(360deg);
    }
}