<?php 
$studinfo = $this->studentinfo;
$hasPhoto = $studinfo['photo'] == '' ? 0 : 1;
$uploadFolder = DOCUMENT_PATH;

?>
<div class="toolbar">
	<h2><?php echo $this->translate('Profile Photo')?></h2>
</div>

<?php if ( $this->errMsg != '' ) { ?>
<div class="error"><?php echo $this->errMsg ?></div>
<?php } ?>

<h3 class="alt"><span class="icon icon-camera"></span> <?php echo $this->translate('Current Photo')?></h3>

<div class="current">
	<?php if ( $hasPhoto ) { ?>
		<div class="photo-wrap">
			<img src="<?php echo $this->baseUrl()?>/thumb.php?w=320&f=<?php echo $uploadFolder.'/'.$studinfo['photo'] ?>" />
		</div>
	<?php } else { ?>
		<div class="photo-wrap">
			<div class="defphoto"><span class="icon icon-user"></span></div>
		</div>
		<div class="notice"><span class="icon icon-info-circled"></span> <?php echo $this->translate('You have not set a profile photo yet.')?></div>
	<?php } ?>
</div>

<br /><br />

<div id="tabs">
	<ul>
		<li><a href="#upload" class="active"><?php echo $this->translate('Upload Photo')?></a></li>
		<li><a href="#takephoto"><?php echo $this->translate('Take Photo')?></a></li>
	</ul>
	<div id="upload" class="tab">
		<form method="post" enctype="multipart/form-data" onsubmit="return checkupload()">
			<input type="file" value="" name="photo" class="uploadfile" onchange="checktype(this)" />
			<div id="msg-file"></div>
			<br />
			
			<div class="note"><small><span class="icon icon-info-circled"></span> <?php echo $this->translate('The maximum size of your profile photo is 4 MB.')?></small></div>
			
			<div class="submit">
				<input type="submit" name="saveupload" class="btn-submit" value="<?php echo $this->translate('Upload')?>" id="upload-btn"/>
			</div>
		</form>
	</div>

	<div id="takephoto" class="tab">
		<div class="notice">
			<span class="icon icon-attention"></span> <?php echo $this->translate('This feature does not work on mobile phone or tablets.')?>
		</div>
		<div class="wrap-webcam boxes">
			<div class="box">
				<h3><?php echo $this->translate('Webcam')?></h3>
				<div class="box-content">
					<div id="camera"></div>
					<a href="#" onclick="return takephoto();" class="btn"><span class="icon icon-camera"></span> <?php echo $this->translate('Take Photo')?></a>
				</div>
			</div>
			<div class="box col-1-2">
				<h3><?php echo $this->translate('Photo')?></h3>
				<div class="box-content">
					<canvas id="canvas" height="240" width="320"></canvas>
					<form method="post" action="" onsubmit="return checkwebcam()">
					<input type="hidden" name="imagedata" value="" id="imagedata" />
					<input type="submit" name="savewebcam" class="btn strong" value="<?php echo $this->translate('Save Photo')?>" />
					</form>
				</div>
			</div>		
		</div>
	</div>
</div>
<style type="text/css">
#takephoto .wrap-webcam {  }
#takephoto .wrap-webcam .box { } 
.boxes .box { float:left; width: 48%; margin-right:15px; border-color:#ddd; padding:0; }
.boxes .box:nth-child(2n) { margin-right:0; } /* 2nd element */
#content .defphoto { background:#eee; color:#fff; text-align:center; padding:20px; position:relative; }
#content .defphoto .icon { font-size:48px; }
#content .photo-wrap { width: 330px; border:5px solid #fff; margin-bottom:10px; }
.note small {font-size:10px; color:#aaa; }
.submit { margin-top:10px }

.btn { font-size:11px !important; font-weight:bold; }

#webcam, #canvas {
	width: 320px;
	background:#eee;
}

</style>
<script type="text/javascript">
	$(function()
	{
		$("#tabs").tabs();

		var pos = 0;
		var ctx = null;
		var cam = null;
		var image = null;
		var canvas = document.getElementById("canvas");

		if (canvas.getContext) {
			ctx = document.getElementById("canvas").getContext("2d");
			ctx.clearRect(0, 0, 320, 240);
			image = ctx.getImageData(0, 0, 320, 240);
		}
		
		$("#camera").webcam({
			width: 320,
			height: 240,
			mode: "callback",
			swffile: "<?php echo $this->baseUrl()?>/js/jquery/plugin/webcam/jscam_canvas_only.swf",
			onTick: function() {},
			onSave: function(data) 
			{
				var col = data.split(";");
			    var img = image;

			    for(var i = 0; i < 320; i++) {
					var tmp = parseInt(col[i]);
					img.data[pos + 0] = (tmp >> 16) & 0xff;
					img.data[pos + 1] = (tmp >> 8) & 0xff;
					img.data[pos + 2] = tmp & 0xff;
					img.data[pos + 3] = 0xff;
					pos+= 4;
				}
			    if (pos >= 0x4B000) {
					ctx.putImageData(img, 0, 0);
					pos = 0;
				}

			    var data = canvas.toDataURL();
				var rep = data.replace(/data:image\/png;base64,/g,''); 
				
				$("#imagedata").val(rep);
			},
			onCapture: function() {
				webcam.save();
			},
			debug: function() {},
			onLoad: function() {}
		});	
	});

	function takephoto()
	{
		//webcam.capture();
		document.getElementById('XwebcamXobjectX').capture();

		return false;
	}
	
	function checktype(me)
	{
		var note = $('#msg-file');
		var what = $(me);
		var file = what.val();
	
	
		var urlString = /\.jpg|\.jpeg|\.png|\.gif/i;
		var urlType = file.match(urlString);
	
	
		if ( urlType == null )
		{
			$("#upload-btn").attr("disabled","disabled").addClass("disabled");
			note.html('<span class="red"><?php echo $this->translate('File must be: ').' .jpg, .png, .gif'; ?></span>');
		}
		else
		{
			$("#upload-btn").removeAttr("disabled").removeClass("disabled");
			note.html('');	
		}
	}

	function checkwebcam()
	{
		var imgdata = $("#imagedata").val();
		if ( imgdata == '' )
		{
			alert('<?php echo $this->translate('Please take a picture first')?>');
			return false;
		}

		return true;
	}
	function checkupload()
	{
		var checkempty = $(".uploadfile").filter(function() {
		    return !this.value;
		}).length;

		if ( checkempty == 0 )
		{
			return true;
		}

		alert('<?php echo $this->translate('Please select a file to upload')?>');
		return false;
	}
</script>