<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
?>
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php echo $this->headMeta(); ?>
	<?php echo $this->headTitle(); ?>
	<link rel="shortcut icon" href="<?php echo $this->baseUrl()?>/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/uikit.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/style.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/pages/register.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/assets/animate.min.css">


	<link href="<?php echo $this->baseUrl()?>/font/entypo/entypo.css" media="screen" rel="stylesheet" type="text/css" />
	<!-- <link href="<?php echo $this->baseUrl()?>/font/awesome/font-awesome.css" media="screen" rel="stylesheet" type="text/css" /> -->
	<script src="<?php echo $this->baseUrl()?>/js/modernizr.js"></script>

	<?php
	//////////////////////// JQUERY ////////////////////////
	$this->jQuery()->enable();
	$this->jQuery()->useCdn(false);
	$this->jQuery()->setVersion('1.11.1');
	$this->jQuery()->setLocalPath($this->baseUrl().'/js/plugins/jquery/jquery-1.11.0.min.js');

	//////////////////////// END JQUERY ////////////////////////

	echo $this->headLink();
	echo $this->jQuery();
	?>
	<script src="<?php echo $this->baseUrl()?>/js/uikit.min.js"></script>

	<script src="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.css">

	<?php
	echo $this->headScript();
	?>

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<style type="text/css">
	html { height:100%; background:#fff url('/images/assets/bg.png') repeat-x bottom left; background-attachment:fixed }
	body { background:transparent; }
	.login-wrap { background:#fff }
	@media (max-width: 480px) {
		html { background:#fff }
	}
</style>
<?php echo $this->layout()->content; ?>

</body>
</html>