<script type="text/javascript">
	function getTitle(){
		
		var r_menu_id = $('#r_menu_id').val();
				
		if(r_menu_id!=0){

			if(r_menu_id==1){
				$('#r_title_id').empty();
				$('#r_title_id').append('<option value="0">None</option>');

				$('#r_screen_id').empty();
				$('#r_screen_id').append('<option value="0">None</option>');
				
			}else{
				$.ajax({
					url: "/default/ajax-utility/ajax-get-title",
				    type: "post",
				    async : false,
				    data: {'menu_id':r_menu_id},
				    dataType: 'json',
				    success: function(data){
				    	$('#r_title_id').empty();
						$('#r_title_id').append('<option value="">-- Please Select --</option>');
					    	
					    	$.each(data, function(index) {
					    		$('#r_title_id').append('<option value="'+data[index].sm_id+'">'+data[index].sm_name+'</option>');	
					    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('r_title_id');
				      
					},
					complete: function() {
						hideLoading('r_title_id');
					}   
				});
			}
		}
	}

	function getScreen(){
		
		var r_menu_id = $('#r_menu_id').val();
		var r_title_id = $('#r_title_id').val();
				
		if(r_menu_id!=0 && r_title_id!=0){
			$.ajax({
				url: "/default/ajax-utility/ajax-get-screen",
			    type: "post",
			    async : false,
			    data: {'menu_id':r_menu_id,'title_id':r_title_id},
			    dataType: 'json',
			    success: function(data){
				    
			    	$('#r_screen_id').empty();
					$('#r_screen_id').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#r_screen_id').append('<option value="'+data[index].sm_id+'">'+data[index].sm_name+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('r_screen_id');
			      
				},
				complete: function() {
					hideLoading('r_screen_id');
				}   
			});
		}
	}

	function showLoading(target,target_div){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php echo $this->form; ?>