
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
<fieldset>
<legend><?php echo $this->translate($this->Program).' '.$this->translate("Search");?></legend>
	<form action="<?php echo $this->baseUrl();?>/generalsetup/coursemaster/index/search/1" method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("$this->Program Name");?></td>
					<td><?php echo $this->lobjform->field3;?></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td ><?php echo $this->translate("Active");?></td>
					<td ><?php echo $this->lobjform->field7;?></td>
				</tr>
				<tr>
				<td align = "center" colspan = "4">

							<?php echo $this->lobjform->Search;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'coursemaster', 'action'=>'newcourse'),'default',true);?>';" />	
							<?php echo $this->lobjform->Clear;?>
				</td>
				
				</tr>
		</table>
	</form>	
    </fieldset> 
    <br/>

	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjcourse): ?>
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<td><a href="<?php echo $this->baseUrl();?>/generalsetup/coursemaster/editcourse/id/<?php echo $this->escape($lobjcourse['IdCoursemaster']);?>" ><?php print_r($this->escape($lobjcourse['CourseName']));?></a></td>
			<?php endforeach; ?>
			<?php endif; ?> 
		</tr>
		
	</table>
	<div class="pagination opt">
		<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
									'/partials/my_pagination_control.phtml'); ?>
	</div>