<div class="message toolbar">
	<h2><?php echo $this->translate("Add Course Offered"); ?></h2>
	<div class="toolbar-button">
		<ul>	
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectoffer', 'action'=>'index', 'idsemester'=>$this->idsem),'default',true);?>';" >
                        <span class='back'></span>
                        <?php echo $this->translate("Back");?>
                        </a>
                    </li>
		</ul>
	</div>
</div>

<br/>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br/>
<fieldset>
<legend><?php echo $this->translate("Course Search"); ?></legend>
<?php 
echo $this->form;
?>
</fieldset>
<br/>
<fieldset>
<div style="width:100%;">
<form name="savefrm" action="/generalsetup/subjectoffer/run/type/add" method="POST">
<table id="hor" class="table" width="100%">
	<tr>
		<th><?php echo $this->translate->_("Subject")?></th>
		<th><?php echo $this->translate->_("Subject")." ".$this->translate->_("Code")?></th>
		<th><?php echo $this->translate->_("Minimum")." ".$this->translate->_("Quota")?></th>
		<th><?php echo $this->translate->_("Maximum")." ".$this->translate->_("Quota")?></th>
                <!--<th><?php //echo $this->translate->_("Unit")?></th>-->
		<th><?php echo $this->translate->_("Reservation")?></th>
		<th><?php echo $this->translate->_("Offer")?></th>
	</tr>
	<?php 
        if ($this->courses != FALSE){
	foreach($this->courses as $coffered){
	?>
	<tr>
                <td><?php echo $coffered['SubjectName']?><?php echo "-"?><?php echo $coffered['SubCode']?></td>
		<td><?php echo $coffered['SubCode']?></td>
		<td><input size=10 type="text" name="minquota[<?php echo $coffered['idsub']?>]"></td>
		<td><input size=10 type="text" name="maxquota[<?php echo $coffered['idsub']?>]"></td>
                <!--<td><input size=10 type="text" name="unit[<?php //echo $coffered['idsub']?>]"></td>-->
		<td><input size=10 type="text" name="reservation[<?php echo $coffered['idsub']?>]"></td>
		<td>
		<input type="checkbox" name="idsubject[<?php echo $coffered['idsub']?>]" value="<?php echo $coffered['idsub']?>">
		</td>
			
	</tr>
	<?php 
        }}
	?>	
	<tr class="shade">
	<td>&nbsp;</td>
	<td><b>Set DEFAULT Quota:</b></td>
	<td><input size=10 type="text" name="dminquota" value=10></td>
	<td><input size=10 type="text" name="dmaxquota" value=100></td>
        <!--<td><input size=10 type="text" name="dunit" value=10></td>-->
	<td><input size=10 type="text" name="dreservation" value=10></td>
	<td>&nbsp;</td>
	</tr>
	<tr class="shade">
	<td colspan=8 align="center"><input type="submit" value="Save"></td>	
	</tr>	
</table>
<input type="hidden" name="IdSemester" value="<?php echo $this->idsem;?>"> 
<input type="hidden" name="IdCollege" value="<?php echo $this->idcol;?>">
</form>
</div>
</fieldset>