<script type="text/javascript">
function addScheme(){

	flag=true;
	if(dijit.byId("programMode").value==''){
	    dijit.byId("programMode").attr('required','true');
		dijit.byId("programMode").focus();
		flag = false;
	}

	if(dijit.byId("studyMode").value==''){
	    dijit.byId("studyMode").attr('required','true');
		dijit.byId("studyMode").focus();
		flag = false;
	}

	if(dijit.byId("programType").value==''){
	    dijit.byId("programType").attr('required','true');
		dijit.byId("programType").focus();
		flag = false;
	}
        
        if(dijit.byId("Duration").value==''){
	    dijit.byId("Duration").attr('required','true');
		dijit.byId("Duration").focus();
		flag = false;
	}
        
        if(dijit.byId("DurationType").value==''){
	    dijit.byId("DurationType").attr('required','true');
		dijit.byId("DurationType").focus();
		flag = false;
	}
        
        if(dijit.byId("OptimalDuration").value==''){
	    dijit.byId("OptimalDuration").attr('required','true');
		dijit.byId("OptimalDuration").focus();
		flag = false;
	}
        
        if(dijit.byId("OptDurationType").value==''){
	    dijit.byId("OptDurationType").attr('required','true');
		dijit.byId("OptDurationType").focus();
		flag = false;
	}

	if(flag == true) {
		 addDataScheme();
	}
	return flag;
}

function addDataScheme(){	
	
	var table = $('#programSchemeList tbody');
	$(table).empty();
	
	$.ajax({
		url: "/generalsetup/program/ajax-save-program-info",
	    type: "post",
	    async : false,
	    data: {'IdProgram':<?php echo $this->LintIdProgram;?>,'ProgramMode':dijit.byId("programMode").value,'StudyMode':dijit.byId("studyMode").value,'ProgramType':dijit.byId("programType").value,'type':'program_scheme', 'Duration':dijit.byId("Duration").value, 'DurationType':dijit.byId("DurationType").value, 'OptimalDuration':dijit.byId("OptimalDuration").value, 'OptDurationType':dijit.byId("OptDurationType").value},
	    dataType: 'json',
	    success: function(data){
	    	var duration_type = new Array('', 'Semester', 'Year');
	    	
	    	 if(data.length>0){
	        	  for(var i=0; i<data.length; i++){
	        	  	

			    	var content = "<tr>" +
			    	         	    "<td align='center'>"+data[i].ProgramMode+"</td>"+
                                                        "<td>"+data[i].StudyMode+"</td>" +	
                                                        "<td>"+data[i].ProgramType+"</td>" + 
                                                        "<td align='center'>"+data[i].OptimalDuration+" "+ duration_type[data[i].OptDurationType] +"</td>" + 
                                                        "<td align='center'>"+data[i].Duration+" "+duration_type[data[i].DurationType] +"</td>" +  
                                                        "<td align='center'><a href='#' onClick='deleteProgramScheme("+data[i].IdProgramScheme+")'><?php echo $this->translate('Delete'); ?></a></td>"+
                                                      "</tr>";			    					
			    	
			    	$(table).append(content);  
	        	  }
	    	 } 
		},
		error:function(){
	          alert("Error insert Program Scheme");
		},
		beforeSend: function() {
			showLoading('programSchemeList','loading_target');
	      
		},
		complete: function() {
			hideLoading('programSchemeList','loading_target');
		}   
	});

}

function showLoading(target1,target){
	$('#'+target1).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");

}

function hideLoading(target1,target){
	$('#loading').remove();
	$('#'+target1).show();
}

function deleteProgramScheme(IdProgramScheme){

	var table = $('#programSchemeList tbody');
	$(table).empty();
	
	$.ajax({
		url: "/generalsetup/program/ajax-delete-program-info",
	    type: "post",
	    async : false,
	    data: {'IdProgram':<?php echo $this->LintIdProgram;?>,'IdProgramScheme':IdProgramScheme,'type':'program_scheme'},
	    dataType: 'json',
	    success: function(data){

	    	duration_type = new Array('', 'Semester', 'Year');
	    	
	    	 if(data){
	        	  for(var i=0; i<data.length; i++){
	        	  	

			    	var content = "<tr>" +
			    	         	    "<td align='center'>"+data[i].ProgramMode+"</td>"+
                                                        "<td>"+data[i].StudyMode+"</td>" +	
                                                        "<td>"+data[i].ProgramType+"</td>" + 
                                                        "<td align='center'>"+data[i].Duration+" "+duration_type[data[i].DurationType] +"</td>" +  
                                                        "<td align='center'>"+data[i].OptimalDuration+" "+ duration_type[data[i].OptDurationType] +"</td>" + 
                                                        "<td align='center'><a href='#' onClick='deleteProgramScheme("+data[i].IdProgramScheme+")'><?php echo $this->translate('Delete'); ?></a></td>"+
                                                      "</tr>";			    					
			    	
			    	$(table).append(content);  
	        	  }
	    	 } 
	    	
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading('programSchemeList','loading_target');
	      
		},
		complete: function() {
			hideLoading('programSchemeList','loading_target');
		}   
	});
}

</script>

<table class="table" width="100%" >
                    <tr>
                            <th colspan = "2"><?php echo $this->translate("Scheme Info");?></th>
                        </tr>
                         <tr>
                         <td ><?php echo $this->translate("Mode of Programme");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjprogramForm->programMode;?></td>
                        </tr>
                        <tr>
                         <td ><?php echo $this->translate("Mode of Study");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjprogramForm->studyMode;?></td>
                        </tr>
                         <tr>
                         <td ><?php echo $this->translate("Programme Type");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjprogramForm->programType;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Min Duration");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->OptimalDuration;?><?php echo $this->lobjprogramForm->OptDurationType;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Max Duration");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->Duration;?><?php echo $this->lobjprogramForm->DurationType;?></td>
                        </tr>
                        <tr>
                           <td colspan="4" align = "center"><?php echo $this->lobjprogramForm->Insert_Scheme;?><?php echo $this->lobjprogramForm->Erase_Scheme;?><input type='hidden' name='idRow' id='idRow' value='0'></input></td>
                        </tr>
                    </table>
                   
                    <h3><?php echo $this->translate("Scheme List");?></h3>
                    <div id='loading_target' ></div> 
                    <table  class="table" width="100%"  id="programSchemeList">
                        <thead>
                        <tr>
                        <th><?php echo $this->translate("Programme Mode");?></th>
                        <th><?php echo $this->translate("Study Mode");?></th>
                        <th><?php echo $this->translate("Programme Type");?></th>
                                        <th><?php echo $this->translate("Min Duration");?></th>
                                        <th><?php echo $this->translate("Max Duration");?></th>
                        <th><?php echo $this->translate("");?></th>	                        	
                        </tr>
                        </thead>
                        <tbody>
                        <?php 
                        if(count($this->program_scheme)>0){
                        foreach($this->program_scheme as $ps) {?>
                        <tr>
                        <td><?php echo $ps['ProgramMode']?></td>
                        <td><?php echo $ps['StudyMode']?></td>
                        <td><?php echo $ps['ProgramType']?></td>
                                        <td><?php echo $ps['OptimalDuration']." ".($ps['OptDurationType']==1 ? 'Semester':'Year');?></td>
                                        <td><?php echo $ps['Duration']." ".($ps['DurationType']==1 ? 'Semester':'Year');?></td>
                        <td>
                         <a href='#' title="<?php echo $this->translate("Delete");?>" onClick='deleteProgramScheme("<?php echo $ps['IdProgramScheme'];?>"); return false;'><?php echo $this->translate("Delete");?></a>
                         |
	      	<a href='#' title="<?php echo $this->translate("Edit");?>" onClick='editProgramScheme"<?php echo $ps['IdProgramScheme'];?>");'><?php echo $this->translate("Edit"); ?></a>
	      	</td>
                        </tr>
                        <?php }} ?>
                        </tbody>
                </table>
                