<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'instructor-workload', 'action'=>'add'),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Position'); ?></th>
        <th><?php echo $this->translate('Job Type'); ?></th>
        <th><?php echo $this->translate('Workload Type'); ?></th>
        <th><?php echo $this->translate('Value'); ?></th>
        <th><?php echo $this->translate('Update By'); ?></th>
        <th><?php echo $this->translate('Update Date'); ?></th>
        <th></th>
    </tr>
    <?php
    if ($this->list){
    $i = 0;
    foreach ($this->list as $loop){
    $i++;
    ?>
    <tr>
        <td align="center"><?php echo $i; ?></td>
        <td align="center"><?php echo $loop['positionname']; ?></td>
        <td align="center"><?php echo $loop['twi_jobtype']==1 ? 'Full Time':'Part Time'; ?></td>
        <td align="center"><?php echo $loop['workloadtypename']; ?></td>
        <td>
            <?php 
            if ($loop['twi_workloadtype'] == 963){
                echo 'Credit Hours (min) : '.$loop['twi_min'].'<br/>Credit Hours (max) : '.$loop['twi_max'];
            }else{
                echo 'No of Student : '.$loop['twi_nostudent'];
            }
            ?>
        </td>
        <td align="center"><?php echo $loop['updname']; ?></td>
        <td align="center"><?php echo date('d-m-Y H:i:s', strtotime($loop['twi_upddate'])); ?></td>
        <td class='option' align='center'>
            <a href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'instructor-workload', 'action'=>'edit', 'id'=>$loop['twi_id']),'default',true);?>'><?php echo $this->translate('Edit'); ?></a>
            | 
            <a href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'instructor-workload', 'action'=>'delete', 'id'=>$loop['twi_id']),'default',true);?>'><?php echo $this->translate('Delete'); ?></a>
        </td>
    </tr>
    <?php
    }
    }
    ?>
</table>