<script type="text/javascript">
    $(function(){
        $('#min').attr('type', 'number');
        $('#max').attr('type', 'number');
        $('#nostudent').attr('type', 'number');
    });
    
    function defineWorkloadType(id){
        if (id == 963){
            $('.teaching').show();
            $('.supervsion').hide();
            $('#min').attr('required', true);
            $('#max').attr('required', true);
            $('#nostudent').removeAttr('required');
        }else if (id == 964){
            $('.supervsion').show();
            $('.teaching').hide();
            $('#nostudent').attr('required', true);
            $('#min').removeAttr('required');
            $('#max').removeAttr('required');
        }else{
            $('.supervsion').hide();
            $('.teaching').hide();
            $('#nostudent').removeAttr('required');
            $('#min').removeAttr('required');
            $('#max').removeAttr('required');
        }
    }
    
    function comparenumbermin(number){
        if ($('#max').val()!='' && $('#max').val()!='undefined'){
            if (number >= $('#max').val()){
                alert('Minimum credit hours should be less than maximum credit hours');
                $('#min').val('');
            }
        }
    }
    
    function comparenumbermax(number){
        if ($('#min').val()!='' && $('#min').val()!='undefined'){
            if (number <= $('#min').val()){
                alert('Maximum credit hours should be greater than minimum credit hours');
                $('#max').val('');
            }
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'staffmaster', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Add'); ?></legend>
    <form method="post" id='add' name='add'>
        <input type="hidden" id="staffid" name="staffid" value="<?php echo $this->id; ?>">
        <table width='100%'>
            <tr>
                <td><?php echo $this->translate('Workload Type'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->workloadtype; ?></td>
            </tr>
            <tr class='teaching' style='display: none;'>
                <td><?php echo $this->translate('Credit Hours (Min)'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->min; ?></td>
            </tr>
            <tr class='teaching' style='display: none;'>
                <td><?php echo $this->translate('Credit Hours (Max)'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->max; ?></td>
            </tr>
            <tr class='supervsion' style='display: none;'>
                <td><?php echo $this->translate('No. of Student'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->nostudent; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type='submit' id='save' name='save' value='save'><?php echo $this->translate('Add'); ?></button>
                    <button type='reset' id='reset' name='reset' value='reset' onclick="defineWorkloadType(0);"><?php echo $this->translate('Reset'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Instructor Workload'); ?></legend>
    
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Workload Type'); ?></th>
            <th><?php echo $this->translate('Value'); ?></th>
            <th><?php echo $this->translate('Update By'); ?></th>
            <th><?php echo $this->translate('Update Date'); ?></th>
            <th></th>
        </tr>
        <?php
        if ($this->info){
        $i = 0;
        foreach ($this->info as $loop){
        $i++;
        ?>
        <tr>
            <td align="center"><?php echo $i; ?></td>
            <td align="center"><?php echo $loop['workloadtypename']; ?></td>
            <td>
                <?php 
                if ($loop['tiw_workloadtype'] == 963){
                    echo 'Credit Hours (min) : '.$loop['tiw_min'].'<br/>Credit Hours (max) : '.$loop['tiw_max'];
                }else{
                    echo 'No of Student : '.$loop['tiw_nostudent'];
                }
                ?>
            </td>
            <td align="center"><?php echo $loop['updname']; ?></td>
            <td align="center"><?php echo date('d-m-Y H:i:s', strtotime($loop['tiw_upddate'])); ?></td>
            <td class='option' align='center'>
                <a href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'instructor-workload', 'action'=>'delete-individual', 'id'=>$loop['tiw_id']),'default',true);?>'><?php echo $this->translate('Delete'); ?></a>
            </td>
        </tr>
        <?php
        }
        }
        ?>
    </table>
</fieldset>