<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

 <script type="text/javascript">
dojo.addOnLoad(function(){			
	dijit.byId("TemplateName").focus();
	dijit.byId('idDefinition').set('value','');
	dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
}
</script>
<style type="text/css">

#add_template_style fieldset
{ 
    width: 100% !important;
}

</style>
<div  id="add_template_style" class="uk-grid"><fieldset>
    <legend><?php echo $this->translate("Member Experience")." ".$this->translate("Add");?> </legend>

<form class="uk-form" id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/admin/member-experience/add">
<script type="dojo/method" event="onSubmit" >
				if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("content1").set('value',content);
			 }

                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
</script>

		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
        	
            <th></th>
            <th></th>
       	</tr>
        <?php echo $this->form->UpdDate;?>
        <?php echo $this->form->UpdUser;?>
		
         <tr>
        	<td class="label"><?php echo $this->translate("Member")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->dropdown_member;?></td>
       
        	<td class="label"><?php echo $this->translate("Degree")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->dropdown_degree;?></td>
           
        </tr>
        <tr>
        	            <td class="label"><?php echo $this->translate("Sub Type");?> <span class="reqMark"></span></td>
            <td ><?php echo $this->form->sub_type;?></td>
            <td class="label"><?php echo $this->translate("Experience")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->experience_name;?></td>

        </tr>
        
	</table>
	

    <table width="100%">
    		<!-- <script type="text/javascript">
			dojo.require("dijit._editor.plugins.FontChoice");
			dojo.require("dojox.editor.plugins.LocalImage");
			if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
				alert(content);
			 }

	</script> -->
	<input dojoType = "dijit.form.TextBox" type="hidden" name="content1"  id = "content1">                                    
	<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock']"></td>


    </table> 
    
	<table align = "right">
		<tr>
        	<td>
					<?php echo $this->form->Save;?>
                     <input name="Clear" type="reset" class="uk-button"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
					<input type="button" class="uk-button"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberExperience', 'action'=>'index'),'default',true);?>';" />	

            </td>
        </tr>
    </table>

    </form>
</fieldset> 
</div>
<script type="text/javascript">
    
    $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/Qualification/getsubtype',
                   // dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);

                            $('#sub').val(response);

                                                // if(response == 1)
                                                // {
                                                //     alert('Applicant Approved ');
                                                // }
                                                // else if(response == 3)
                                                // {
                                                //     alert ('Error in sending email');
                                                // }
                                                // else
                                                // {
                                                //     alert(response);
                                                // }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>
<script>
     $('#sub').attr('type','number');
</script>
