
<style type="text/css">

#add_template_style fieldset
{ 
    width: 100% !important;
}

</style>

<fieldset id="add_template_style">
    <legend><?php echo $this->translate("Member")." ".$this->translate("Edit");?></legend>
	<form class="uk-form"  id="myform" name="myform" method="post" action="">
	<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("TemplateBody").set('value',content);
					return true;
                } else {
                    return false;
                }
				</script>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
            <td class="label"><?php echo $this->translate("Member")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->id_member;?></td>
       
            <td class="label"><?php echo $this->translate("Degree")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->id_degree;?></td>
           
        </tr>
        <tr>
            <td class="label"><?php echo $this->translate("Sub Type");?> <span class="reqMark"></span></td>
            <!-- <td ><?php echo $this->form->id_member_subtype;?></td> -->
            <td ><select id='sub' name='id_member_subtype' value=''>
          <option>-- Select Subtype --</option>
                 </select></td>
            <td class="label"><?php echo $this->translate("Experience")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->exp_name;?></td>

        </tr>                                               
	</table>  
        <table width="100%">
    		<script type="text/javascript">
			dojo.require("dijit._editor.plugins.FontChoice");
			</script>            
			<input  dojoType = "dijit.form.TextBox" id = "TemplateBody" type = "hidden" name = "TemplateBody" value = ""> 
			                        
			<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock']">                           
 				<?php echo $this->TemplateBody;?> 	                                       
			</td>
    </table>
	<table>
    
    <table align = "right">
    	<tr>
        	<td>
			    	<?php echo $this->form->Save;?>
					<input type="button" class="uk-button" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberExperience', 'action'=>'index'),'default',true);?>';" />	
            </td>
        </tr>
    </table>

    
	</form>

</fieldset>

<script type="text/javascript">
    
    $('#member').ready(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);
                           

         // Add options
                    var len = response.length;

                  //  alert(len);

                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");
                    $("#sub").attr('style','width:150px');

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
     $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);
                           

         // Add options
                    var len = response.length;

                  //  alert(len);

                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");
                    $("#sub").attr('style','width:150px');

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>