<div id="searchDiv">
<fieldset>
<legend><?php echo $this->translate("Member Experience Search");?></legend>
<div class="search" style="margin-left:20px;">

<form class="uk-form"  id="searchform" name="searchform" method="post" action="">
<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>

	<table width="100%">
    <tr>
    	<td><?php echo $this->translate("Member Name");?></td>
     	<td><?php echo $this->form->field2;?></td>
     	
        
        
    <tr>
    	<td colspan="4" align="center">
		    	<?php echo $this->form->Search;?>
				<input type="button" class="uk-button" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberExperience', 'action'=>'add'),'default',true);?>';" />	
		        <input name="Clear" type="reset" class="uk-button"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>                   
        </td>
	</tr>
	</table>
</form>	
</div>
</fieldset> 
</div>      
 
<br />


		<table class="uk-table uk-table-stacked uk-table-admin">
    <tr>
        <th><?php echo $this->translate("Member Name");?></th>
        <!-- <th><?php echo $this->translate('Sub Type');?></td> -->
        <th><?php echo $this->translate('Degree Type');?></td>
        <th><?php echo $this->translate('Experience Name');?></td>
        
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $member ): ?>
    <tr>
        <td>
        	<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'MemberExperience', 'action'=>'edit', 'Id'=>$member['id_exp']),'default',true);?>" rel="lyteframe" 
   				rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($member['member_name']);?>
   			</a>
           

   		</td>
    	    	<!-- <td><?php echo $this->escape($member['id_member_subtype']);?></td> -->
                <td><?php echo $this->escape($member['DefinitionDesc']);?></td>
                <td><?php echo $this->escape($member['exp_name']);?></td>


        <?php endforeach; ?>
        <?php endif; ?>
    </tr>
</table> 
<div class="pagination opt">
	<?php echo $this->paginationControl($this->paginator,'Sliding',
		'/partials/my_pagination_control.phtml'); ?>
</div>