<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/curriculum/"><?php echo $this->translate('Curriculum')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >

    <div class="uk-form-row">
        <label class="uk-form-label" for="name"><?php echo $this->translate('Name')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->name->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Parent')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->parent_id->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>


    <div class="uk-form-row">
        <label class="uk-form-label" for="code"><?php echo $this->translate('Code')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->code->setAttrib('class','uk-form-width-medium')->setAttrib('required','required')  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="excerpt"><?php echo $this->translate('Excerpt')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->excerpt  ?>
            <p><span class="desc">255 Characters max. No HTML allowed.</span></p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="description"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->description  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Display Only')?></label>
        <div class="uk-form-controls text">
            <input type="checkbox" name="display_only"  value="1" class="uk-checkbox-toggle" id="display_only"/> <label for="display_only">Yes</label>
            <p class="desc">If enabled, curriculum will only be used to as a parent. Default: No</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Allow Courses Registration')?></label>
        <div class="uk-form-controls text">
            <input type="checkbox" name="allow_course_registration"  value="1" class="uk-checkbox-toggle" id="allow_course_registration"/> <label for="allow_course_registration">Yes</label>
            <p class="desc">If enabled, courses under this curriculum can be registered individually. Default: No</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="visibility"><?php echo $this->translate('Course Mode')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->mode ?>
            <p class="desc">Set course mode</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="visibility"><?php echo $this->translate('Visibility')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->visibility ?>
            <p class="desc">Toggle course visibility</p>
        </div>
    </div>

    <?php
    $int = $type_val = null;
    ?>
    <div class="uk-form-row">
        <span class="uk-form-label" for="accessperiod"><?php echo $this->translate('Has Access Period?')?></span>
        <div class="uk-form-controls">
            <select name="accessperiod_opt"  id="accessperiod_toggle">
                <option value=""><?php echo $this->translate('No Limit')?></option>
                <option value="1"><?php echo $this->translate('Yes')?></option>
            </select>
            <div id="accessperiod_wrap"  style="display:none">
                <strong>Select Period:</strong> <select name="accessperiod_num">
                    <?php for ( $i=1; $i<=100; $i++ ) { ?>
                        <option value="<?php echo $i;?>" <?php echo $int == $i ? 'selected':''?>><?php echo $i ?></option>
                    <?php } ?>
                </select>
                <?php $types = array('D' => 'Day(s)', 'W' => 'Week(s)', 'M' => 'Months', 'Y' => 'Year(s)'); ?>
                <select name="accessperiod_type">
                    <?php foreach ( $types as $type => $label ) { ?>
                        <option value="<?php echo $type;?>" <?php echo $type_val == $type ? 'selected':''?>><?php echo $label ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
    </div>

    <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>

<script type="text/javascript">

    function toggleAP()
    {
        var ap = $("#accessperiod_toggle").val();

        if ( ap == '1' )
        {
            $("#accessperiod_wrap").show();
        }
        else
        {
            $("#accessperiod_wrap").hide();
        }
    }

    $(function(){

        $("#accessperiod_toggle").on('change', function()
        {
            toggleAP();
        });

        $("#display_only").on('change', function(){
           if ( $(this).is(':checked') )
           {
               $("#code").removeAttr("required");
               $("#code").parent().parent().hide();
               $('#course-form').formValidation('destroy');
               initValidation();
           }
           else
           {
               $("#code").attr("required","required");
               $('#course-form').formValidation('destroy');
               $("#code").parent().parent().show();
               initValidation();
           }
        });

        initValidation();
    });

    function initValidation()
    {
        $('#course-form').formValidation({
            framework: 'uikit',
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'Title is required'
                        }
                    }
                },
                description: {
                    validators: {
                        notEmpty: {
                            message: 'Description cannot be empty'
                        }
                    }
                }
            }
        });
    }

</script>