

<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">

            <a href="<?php echo $this->baseUrl()?>/admin/curriculum/add" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('New Curriculum')?> </a>

        </div>
        <div class="subtitle"><?php echo $this->translate('Courses')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>
</div>

<?php /*
<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>
*/ ?>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist" width="40%"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Code')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
        <?php if ( count($this->results) == 0 ) { ?>
        <tr>
            <td colspan="4"><?php echo $this->translate('No curriculum yet.')?></td>
        </tr>
        <?php } else { ?>
        <?php foreach ( $this->results as $row) { ?>
            <tr <?php echo $row['display_only'] == 1 ? 'style="background:#f1f1f1"':''?>>
                <td>
                    <?php echo $row['visibility'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Not Active"></span>':''?>
                    <?php echo str_repeat('&nbsp;&nbsp;', $row['depth'])?>
                    <?php if ( $row['display_only'] == 1 ) { ?>
                    <strong <?php echo $row['visibility'] == 0 ? 'class="uk-text-muted"':''?>><?php echo $row['name']?></strong>
                     <?php } else { ?>
                     <a <?php echo $row['visibility'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/curriculum/view/id/<?php echo $row['id']?>"><?php echo $row['name']?></>
                     <?php } ?>
                </td>
                <td>
                    <?php if ( $row['display_only'] == 0 ) { ?>
                    <?php echo $row['display_only'] == 1 ? '<div class="uk-text-muted">&mdash;</div>' : $row['code'] ?>
                    <?php } ?>
                </td>
                <td>
                <?php if ( $row['display_only'] == 0 ) { ?>
                    <?php echo Cms_Date::date($row['created_date']) ?>
                <?php } ?>
                </td>
                <td>
                <?php //if ( $row['display_only'] == 0 ) { ?>
                    <div class="uk-button-group">
                        <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/curriculum/edit/id/<?php echo $row['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-cog"></i></a>
                        <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this category?')?>')" href="<?php echo $this->baseUrl()?>/admin/curriculum/delete/id/<?php echo $row['id']?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                    </div>
                <?php //} ?>
                </td>
            </tr>
        <?php } ?>
        <?php } ?>
    </tbody>
</table>