<div class="dashhead">
    <div class="title-info">
        <?php if ( isset($this->modified_user) ) { ?>
        <?php echo $this->translate('Last Modified') ?>: <?php echo Cms_Date::date($this->cat['modified_date'])?> <br />
            <?php echo $this->translate('By')?>: <?php echo $this->modified_user['username'] ?>
        <?php } ?>
    </div>
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/curriculum/"><?php echo $this->translate('Curriculum')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<?php foreach ( $this->categories as $category) { ?>
<?php if ( isset($this->coursesByCat[$category['id']]) ) { ?>
<table class="uk-table uk-table-stacked uk-table-admin uk-margin-bottom">
    <thead>
    <tr>
        <th colspan="2"><?php echo $category['name']?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ( $this->coursesByCat[$category['id']] as $row) { ?>
        <tr>
            <td>
                <a href="<?php echo $this->baseUrl()?>/admin/courses/view/id/<?php echo $row['id']?>"><?php echo $row['title'] ?></a>
            </td>
            <td width="15%">

            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php } ?>
<?php } ?>