

<div class="dashhead">
    <div class="title-wrap">
        <div class="subtitle"><?php echo $this->translate('Dashboard')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <?php if(isset($this->formdata['search'])): ?> <a href="/admin/report/" class="uk-button uk-button-small">Reset</a> <?php endif; ?>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Code')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="3"><?php echo $this->translate('Category')?></th>
            <!--th data-tablesaw-sortable-col data-tablesaw-priority="4"><?php echo $this->translate('Content Count')?></th-->
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->results) > 0 ) { ?>
    <?php foreach ( $this->results as $index=>$row ) { ?>
        <tr>
            <td>
                <?php echo $row['visibility'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Hidden"></span>':''?>

                <a <?php echo $row['visibility'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/report/view/id/<?php echo $row['id']?>"><?php echo $this->escape($row['title']) ?></a>
            </td>
            <td><?php echo $this->escape($row['code'])?></td>
            <td><?php echo $row['category_name']?></td>
            <!--td><?php echo $this->content_data[$index]['total_content']?></td-->
            <td><?php echo Cms_Date::date($row['created_date']) ?></td>
            <td>

                <div class="uk-button-group">
                    <a target="_blank" class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/courses/<?php echo $row['code_safe']?>" data-uk-tooltip title="Preview Course"><i class="uk-icon-search-plus"></i></a>
                </div>
            </td>
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No courses found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>
