<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js' );
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/sortable/jquery.fn.sortable.js' );
?>
<style type="text/css">
.infolist-alt > li > span { min-width: 20px; }
</style>
<div class="dashhead">


    <?php if ($this->content['data_type'] == 'scorm' || !$this->nowin) : ?>

        <div class="uk-float-right uk-margin-top">
            <a onclick="window.history.back()" href="#<?php /*<?php //echo $this->baseUrl()?>/admin/report/view/id/<?php echo $this->course['id']?>*/?>" class="uk-button"><i class="uk-margin-small-right uk-icon-book"></i> Back To Tracking</a>
        </div>
    <?php endif; ?>
    
    <div class="title-wrap">
        <div class="title"><h1><?php echo $this->translate($this->course['title'])?></h1></div>
    </div>
</div>

<div class="uk-panel uk-panel-box uk-panel-box-secondary">
    <ul class="uk-list uk-list-space">
        <li>
            <i class="uk-icon-user uk-icon-justify"></i> 
            <?php if(!$this->nowin): ?>
                <a href="/admin/users/tracking/id/<?php echo $this->user_data['id']; ?>">
            <?php endif; ?>
                <?php echo $this->user_data['firstname'] .' '. $this->user_data['lastname']; ?>
            <?php if(!$this->nowin): ?>
                </a>
            <?php endif; ?>
        </li>
        <li>
            <i class="uk-icon-file-text uk-icon-justify"></i> <?php echo $this->content['title']?> <small>(<?php echo $this->translate('Type')?>: <?php echo Cms_System_Course::getContentName($this->content['data_type']) ?>)</small>
        </li>
    </ul>
</div>

<table class="uk-table uk-table-stacked uk-table-admin tablesaw" data-tablesaw-mode="columntoggle">

<?php if($this->content['data_type'] == 'scorm') : ?>

    <thead>
        <tr>
            <th colspan="2">Content Access Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="uk-margin-left">Content Type</span></td>
            <td><strong><?php echo Cms_System_Course::getContentName($this->content['data_type']) ?></strong></td>
        </tr>
        <tr>
            <td><span class="uk-margin-left">Title</span></td>
            <td><strong><?php echo $this->content['title'] ?></strong></td>
        </tr>
        <tr>
            <td><span class="uk-margin-left">Description</span></td>
            <td><strong><?php echo ($this->content['description']) ? $this->content['description'] : "-" ?></strong></td>
        </tr>
        <tr>
            <td><span class="uk-margin-left">Trackable?</span></td>
            <td><strong><?php echo ($this->content['trackable'] == 1) ? "Yes" : "No" ?></strong></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="2">Content Access Progress</th>
        </tr>
    </thead>
    <?php $i=0; ?>
    <?php if(isset($this->general['status'])): ?>
        <tbody>
            <tr>
                <td><span class="uk-margin-left">Progress</span></td>
                <td>
                <?php
                    $percentage = 0;
                    if (strcasecmp($this->general['status'], 'completed') == 0) {
                        $percentage = 100;
                    }
                ?>
                    <div class="uk-progress uk-progress-mini" style="width:40%" data-uk-tooltip title="<?php echo $percentage ?>%">
                        <div class="uk-progress-bar" style="width:<?php echo ($percentage == 0) ? '1' : $percentage ?>%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="uk-margin-left">Last Accessed</span></td>
                <td><strong><?php echo Cms_Date::date($this->general['lastaccessed'], Cms_Options::getOption('dateformat.long')) ?></strong></td>
            </tr>
            <tr>
                <td><span class="uk-margin-left">Total Views</span></td>
                <td><strong><?php echo $this->general['total_access'] ?></strong></td>
            </tr>
            <tr>
                <td><span class="uk-margin-left">View Time</span></td>
                <td><strong><?php echo convertSeconds($this->general['duration']) ?></strong></td>
            </tr>
            <tr>
                <td><span class="uk-margin-left">Status</span></td>
                <td><strong><?php echo ucwords($this->general['status']) ?></strong></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">SCORM Quiz Details</th>
            </tr>
        </thead>
        
        <tbody id="quiz_detail_score">
            <?php if (count($this->score) > 0) : ?>
                <tr>
                    <td><span class="uk-margin-left">Score</span></td>
                    <td><strong><?php echo $this->score['cmi.score.scaled'] ?></strong> out of <strong><?php echo $this->score['cmi.score.max'] ?></strong></td>
                </tr>
            <?php else : ?>
                <tr>
                    <td colspan="2"><span class="uk-margin-left"><?php echo $this->translate('User has not answered any Quiz yet') ?></span></td>
                </tr
            <?php endif; ?>
        </tbody>

        <?php if (count($this->interactions) > 0) : ?>
            <tbody id="quiz_detail_header">
                <tr>
                    <td colspan="2" class="left"><strong><span class="quiz_detail_header">Quizzes Taken</span></strong></td>
                </tr>
            </tbody>

            <tbody id="quiz_detail_content">
                <?php foreach($this->interactions['cmi']['interactions'] as $key => $interaction) : ?>

                    <tr>
                        <td><span class="uk-margin-left uk-align-right">Quiz <?php echo ++$i ?></span></td>
                        <td>
                            <ul class="infolist border-quiz">
                                <li>
                                    <span>Quiz Type</span>
                                    <?php echo ucwords($interaction['type']) ?>
                                </li>
                                <li>
                                    <span>Taken On</span>
                                    <?php echo Cms_Date::date($interaction['timestamp'], Cms_Options::getOption('dateformat.long')) ?>
                                </li>
                                <li>
                                    <span>Weighting</span>
                                    <?php echo $interaction['weighting'] ?>
                                </li>
                                <li>
                                    <span>Result</span>
                                    <?php echo ucwords($interaction['result']) ?>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        <?php endif; ?>
    <?php else: ?> <?php // if(isset($this->general['status'])): ?>
        <tbody>
            <tr>
                <td colspan="2"><?php echo $this->translate('No activity recorded yet.')?></td>
            </tr>
        </tbody>
    <?php endif; ?>

<?php else : ?>
    <thead>
        <tr>
            <th data-tablesaw-priority="1"><?php echo $this->translate('No')?></th>
            <th data-tablesaw-priority="2"><?php echo $this->translate('Accessed On')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->users) > 0 ) { ?>
        <?php $i = 0; ?>
        <?php foreach ( $this->users as $users ) { ?>
            <tr>
                <td><?php echo ++$i; ?>.</td>
                <td><?php echo Cms_Date::date($users['created_date'], 'F j, Y, g:i a')?></td>
            </tr>
        <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="2"><?php echo $this->translate('No tracking report found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
<?php endif; ?>

</table>

<style>
    .border-quiz {
       -moz-tab-size: 4;
        background: #fafafa none repeat scroll 0 0;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #444;
        overflow: auto;
        padding: 10px;
    }
</style>

<?php

function convertSeconds($secs)
{
        $units = array(
                "week"   => 7*24*3600,
                "day"    =>   24*3600,
                "hour"   =>      3600,
                "minute" =>        60,
                "second" =>         1,
        );
    // specifically handle zero
        if ( $secs == 0 ) return "0 seconds";
        $s = "";
        foreach ( $units as $name => $divisor ) {
                if ( $quot = intval($secs / $divisor) ) {
                        $s .= "$quot $name";
                        $s .= (abs($quot) > 1 ? "s" : "") . ", ";
                        $secs -= $quot * $divisor;
                }
        }
        return substr($s, 0, -2);
}

?>