<style type="text/css">
.infolist-alt > li > span { min-width: 20px; }
</style>
<div class="dashhead">
    <div class="uk-float-right uk-margin-top">
        <a href="<?php echo $this->baseUrl()?>/admin/report/" class="uk-button"><i class="uk-margin-small-right uk-icon-pie-chart"></i> Back To Tracking</a>
    </div>
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Tracking')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/report/"><?php echo $this->translate('Tracking')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/report/view/id/<?php echo $this->course['id']?>"><?php echo $this->course['title']?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->course['title']?></h1></div>
        <!--div class="title"><h2><?php echo $this->user['firstname'].' '.$this->user['lastname'] ?></h2></div-->
    </div>
</div>

<?php if($this->user): ?>
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <ul class="uk-list uk-list-space">
            <li>
                <i class="uk-icon-user uk-icon-justify"></i> 
                <a href="/admin/users/tracking/id/<?php echo $this->user['id']; ?>"><?php echo $this->user['firstname'] .' '. $this->user['lastname']; ?></a>
            </li>
        </ul>
    </div>
<?php endif; ?>

<br />

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th><?php echo $this->translate('Material Name')?></th>
            <th><?php echo $this->translate('Content Type')?></th>
            <th><?php echo $this->translate('Created Date')?></th>
            <th><?php echo $this->translate('Option')?></th>
        </tr>
    </thead>
    <tbody>
        <?php $l = 0; ?>
        <?php if ( count($this->blocks) > 0 ) { ?>
            <?php foreach ( $this->blocks as $block ) { ?>
                <?php
                    if ( isset($this->content[$block['id']]) ) {
                        foreach ($this->content[$block['id']] as $content) 
                        {
                            $link = $this->baseUrl() . "/courses/block/id/" . $content['data_id'] . "/course/" . $this->course['id'] . '" target="_blank';
                            $onclick = "";
                    ?>
                        <tr>
                            <td><i class="uk-icon-<?php echo Cms_System_Course::getContentIcon($content['data_type'])?> uk-icon-justify"></i> &nbsp; 
                                <?php $user_params = ($this->user ? '/user/'.$this->user_id : ''); ?>
                                <a href="<?php echo $this->baseUrl()?>/admin/report/view-scorm/id/<?php echo $this->course_id ?>/content/<?php echo $content['data_id']?><?php echo $user_params; ?>"<?php echo $onclick ?> data-uk-tooltip title="View Content Tracking Report"><?php echo $content['title'] ?></a>
                            </td>
                            <td><?php echo Cms_System_Course::getContentName($content['data_type'])?></td>
                            <td><?php echo $content['created_date']?></td>
                            <td><a class="uk-button uk-button-small" href="<?php echo $link ?>" data-uk-tooltip title="Preview Content"><i class="uk-icon-search-plus"></i></a></td>
                        </tr>
                        <?php $l++; 
                        }
                    }
                }
            } 
            if ($l == 0) { ?>
            <tr>
                <td colspan="4"><?php echo $this->translate('No content found')?></td>
            </tr>
        <?php } ?>
    </tbody>
</table>
