<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js' );
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/sortable/jquery.fn.sortable.js' );
?>
<div class="dashhead">
    <div class="uk-float-right uk-margin-top">
        <a onclick="window.history.back()" href="#<?php /*<?php //echo $this->baseUrl()?>/admin/report/view/id/<?php echo $this->course['id']?>*/?>" class="uk-button"><i class="uk-margin-small-right uk-icon-book"></i> Back To Course</a>
    </div>

    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Tracking')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/report/"><?php echo $this->translate('Tracking')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/report/view/id/<?php echo $this->course['id']?>"><?php echo $this->course['title']?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/report/view-scorm/id/<?php echo $this->course_id?>/content/<?php echo $this->data_id?>"><?php echo $this->content['title']?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->course['title'])?></h1></div>
    </div>
</div>

<div class="uk-panel uk-panel-box uk-panel-box-secondary">
    <ul class="uk-list uk-list-space">
        <li>
            <i class="uk-icon-file-text uk-icon-justify"></i> <?php echo $this->content['title']?> <small>(<?php echo $this->translate('Type')?>: <?php echo Cms_System_Course::getContentName($this->content['data_type']) ?>)</small>
        </li>
    </ul>
</div>

<br />

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin tablesaw" data-tablesaw-mode="columntoggle">

    <?php if ($this->content['data_type'] == 'scorm') : ?>
        <thead>
            <tr>
                <th data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
                <th data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
                <th data-tablesaw-priority="4"><?php echo $this->translate('Started')?></th>
                <th data-tablesaw-priority="3"><?php echo $this->translate('Last Accessed')?></th>
                <th data-tablesaw-priority="6"><?php echo $this->translate('Duration')?></th>
                <th data-tablesaw-priority="2"><?php echo $this->translate('Score')?></th>
                <th data-tablesaw-priority="5"><?php echo $this->translate('Status')?></th>
            </tr>
        </thead>
        <tbody>
        <?php if ( count($this->users) > 0 ) { ?>
            <?php foreach ( $this->users as $users ) { ?>
                <tr>
                    <td>
                        <?php if ( $users['status'] == 'completed' ) { ?>
                            <span class="uk-icon-check green" data-uk-tooltip title="<?php echo ucfirst($users['status'])?>"></span>
                        <?php } else { ?>
                            <span class="uk-icon-close red" data-uk-tooltip title="<?php echo ucfirst($users['status'])?>"></span>
                        <?php } ?>

                        <a href="<?php echo $this->baseUrl()?>/admin/report/view-scorm-detail/id/<?php echo $this->course_id ?>/content/<?php echo $users['data_id'] ?>/user/<?php echo $users['user_id'] ?>/nowin/1"><!-- onclick="detail(<?php echo $users['data_id']?>, <?php echo $this->course_id?>, <?php echo $users['user_id']?>)" data-uk-tooltip title="<?php echo $this->translate('View detailed report')?>"--><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
                    <td><?php echo $users['email']?></td>
                    <td><?php echo Cms_Date::date($users['first_access'], Cms_Options::getOption('dateformat.long')) ?></td>
                    <td><?php echo Cms_Date::date((($users['lastaccessed']) ? $users['lastaccessed'] : $users['first_access']), Cms_Options::getOption('dateformat.long')) ?></td>
                    <td>
                    <?php
                        $minutes = $users['duration'];

                        echo convertSeconds($minutes);
                    ?>
                    </td>
                    <td><?php echo ($users['score']) ? $users['score'] : "0" ?></td>
                    <td><?php echo ucfirst($users['status']) ?></td>
                </tr>
            <?php } ?>
        <?php } else { ?>
            <tr>
                <td colspan="6"><?php echo $this->translate('No tracking report found.')?></td>
            </tr>
        <?php } ?>
        </tbody>

    <?php else : ?>
        <thead>
            <tr>
                <th data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
                <th data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
                <th data-tablesaw-priority="6"><?php echo $this->translate('Accessed')?></th>
                <th data-tablesaw-priority="4"><?php echo $this->translate('First Access')?></th>
                <th data-tablesaw-priority="3"><?php echo $this->translate('Last Accessed')?></th>
            </tr>
        </thead>
        <tbody>
        <?php if ( count($this->users) > 0 ) { ?>
            <?php foreach ( $this->users as $users ) { ?>
                <tr>
                    <td>
                        <a href="#" onclick="detail(<?php echo $users['data_id']?>, <?php echo $this->course_id?>, <?php echo $users['user_id']?>)" data-uk-tooltip title="<?php echo $this->translate('View detailed report')?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
                    <td><?php echo $users['email']?></td>
                    <td><?php echo $users['total'] ?></td>
                    <td><?php echo Cms_Date::date($users['first_access'], Cms_Options::getOption('dateformat.short'))?></td>
                    <td><?php echo @Cms_Date::date((($users['last_access']) ? $users['last_access'] : $users['first_access']), Cms_Options::getOption('dateformat.short')) ?></td>
                </tr>
            <?php } ?>
        <?php } else { ?>
            <tr>
                <td colspan="6"><?php echo $this->translate('No tracking report found.')?></td>
            </tr>
        <?php } ?>
        </tbody>
    <?php endif; ?>

</table>

<!-- detail modal -->
<div id="detail-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>

        <div class="uk-modal-header" id="detail-modal-header">
            <h3><?php echo $this->title?></h3>
        </div>

        <div id="detail-modal-container">
        </div>
    </div>
</div>
<!-- /detail modal -->

<script>
    function detail(data_id, course_id, user_id)
    {
        var modal = UIkit.modal("#detail-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: '<?php echo $this->baseUrl()?>/admin/report/view-scorm-detail/id/' + course_id + '/content/' + data_id + '/user/' + user_id + '/nowin/1',
                type: 'GET',
                data_type: 'html',
                beforeSend: function() {
                    $('#detail-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#detail-modal").data("id", data_id);
                setTimeout(function() { $("#detail-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }
</script>

<?php

function convertSeconds($secs)
{
        $units = array(
                "week"   => 7*24*3600,
                "day"    =>   24*3600,
                "hour"   =>      3600,
                "minute" =>        60,
                "second" =>         1,
        );
    // specifically handle zero
        if ( $secs == 0 ) return "0 seconds";
        $s = "";
        foreach ( $units as $name => $divisor ) {
                if ( $quot = intval($secs / $divisor) ) {
                        $s .= "$quot $name";
                        $s .= (abs($quot) > 1 ? "s" : "") . ", ";
                        $secs -= $quot * $divisor;
                }
        }
        return substr($s, 0, -2);
}

?>