 <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <?php if(!empty($this->get_qualifiacion)):?>
                            <?php foreach($this->get_qualifiacion as $module):?>
                            <div class="col-sm-6">
                                <div class="course-block">
                                    <h4><a href="#"><?php echo $module['name']?></a></h4>
                                    <p><?php echo $module['description']?></p>
                                    <div class="row cousre-block-bottom">
                                        <div class="col-xs-6">
                                            <span class="type">Module Type</span>
                                            <span><?php echo $module['level']?></span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="type">Exempted</span>

                                            <span> <?php if(!empty($module['exempted_status'])){?>
                                             <?php if($module['exempted_status'] == 1){
                                                    
                                                    echo 'Exempted';  
                                                    }else{
                                                     echo 'Registered';
                                                    }?></span> 
                                                    <?php }?></span>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                        <?php endif;?>
                            
                        
                                                       
                        </div> 
                        
                <h4>E</h4>  
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            
                        </thead>
                        <tbody>
                                                                                           
                        </tbody>
                    </table>                 
                </div>                                                                      
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-4 col-md-12">
                            <div class="renew-block">
                                <h3 class="uk-panel-title">Users</h3>

            <ul class="uk-list">
                <li>Registered users: <strong><?php echo $this->totalusers ?></strong></li>
                <li>Total Online: <strong><?php echo $this->totalonline ?></strong></li>
                <li>Admin Online: <strong><?php echo $this->totalonlineadmin ?></strong></li>
            </ul>

                            </div>
                        </div>
                        <div class="col-sm-8 col-md-12">
                            <h4>Recent Activity</h4>
                            <ul class="recent-activity">
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>  
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>  
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>  
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>                                                                              
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
       
