<div class="clearfix">
                    <h4>Card Details</h4>
                    <div class="filter-block">
                    <div class="clearfix">
<form method="POST" action="https://uat-emerchant.cimbbank.com.my/BPG/admin/payment/PaymentInterface.jsp">
<table class="table">


<tr>
    <td>Amount</td>
    <td><input type="text" name="AMOUNT" class="form-control" id="AMOUNT" value="<?php echo $this->payment_data['AMOUNT']?>" readonly/>
    </td>
  </tr>
<tr>
    <td>CARD CVV</td>
    <td><input type="text" name="CARD_CVC" class="form-control" id="CARD_CVC" value="<?php echo $this->payment_data['CARD_CVC']?>" readonly/>
    </td>
  </tr>

<tr>
     <td>CARD EXPIRY MONTH</td>
    <td><input type="text" name="CARD_EXP_MM" class="form-control" id="CARD_EXP_MM" value="<?php echo $this->payment_data['CARD_EXP_MM']?>" readonly/>
  </tr>

  <tr>
    <td>CARD EXPIRY YEAR</td>
    <td><input type="text" name="CARD_EXP_YY" class="form-control" id="CARD_EXP_YY" value="<?php echo $this->payment_data['CARD_EXP_YY']?>" readonly/></td>
  </tr>
<tr>
  <td>CARD NO</td>
    <td><input type="text" name="CARD_NO" class="form-control" id="CARD_NO"  value="<?php echo $this->payment_data['CARD_NO']?>" readonly/></td>
  </tr>
  
<input type="hidden" name="CARD_TYPE" id="CARD_TYPE" value="<?php echo $this->payment_data['CARD_TYPE']?>" readonly/>



<input type="hidden" name="MERCHANT_ACC_NO" id="MERCHANT_ACC_NO" value="<?php echo $this->payment_data['MERCHANT_ACC_NO']?>" readonly/></td>
  <input type="hidden" name="MERCHANT_TRANID" id="MERCHANT_TRANID" value="<?php echo $this->payment_data['MERCHANT_TRANID']?>" readonly/>

  <input type="hidden" name="RESPONSE_TYPE" id="RESPONSE_TYPE" value="HTTP" readonly/>
  <!-- <td>Return URL</td> -->
    <td><input type="hidden" name="RETURN_URL" id="RETURN_URL" value="<?php echo $this->payment_data['RETURN_URL']?>" readonly/></td>
  </tr>

  <input type="hidden" name="SECURE_SIGNATURE" id="SECURE_SIGNATURE" value="<?php echo $this->payment_data['SECURE_SIGNATURE']?>" readonly/>
      <input type="hidden" name="TRANSACTION_TYPE" id="TRANSACTION_TYPE" value="<?php echo $this->payment_data['TRANSACTION_TYPE']?>" readonly/>
      <input type="hidden" name="TXN_DESC" id="TXN_DESC" value="<?php echo $this->payment_data['TXN_DESC']?>" readonly/>

  
  
  <tr>
  <td> <input type="submit" class="btn btn-primary" value='Submit'></td>
  </tr>
  
</table>
</form>