<form method="POST" action="https://uat-emerchant.cimbbank.com.my/BPG/admin/payment/PaymentInterface.jsp">
<table>


<tr>
	  <td><input type="text" name="AMOUNT" id="AMOUNT" value="1.00" /></td>
	</tr>
<tr>
	  <td><input type="text" name="CARD_CVC" id="CARD_CVC" value="008" /></td>
	</tr>

<tr>
	  <td><input type="text" name="CARD_EXP_MM" id="CARD_EXP_MM" value="12" /></td>
	</tr>

	<tr>
	  <td><input type="text" name="CARD_EXP_YY" id="CARD_EXP_YY" value="19" /></td>
	</tr>
<tr>
	  <td><input type="text" name="CARD_NO" id="CARD_NO" value="5521159000096241" /></td>
	</tr>
	
<tr>
	  <td><input type="text" name="CARD_TYPE" id="CARD_TYPE" value="M" /></td>
	</tr>



<tr>
	  <td><input type="text" name="MERCHANT_ACC_NO" id="MERCHANT_ACC_NO" value="000001090700089" /></td>
	</tr>
<tr>
	  <td><input type="text" name="MERCHANT_TRANID" id="MERCHANT_TRANID" value="11111122" /></td>
	</tr>
	

	<!-- <tr>
	  <td><input type="text" name="AUTH_DATE" id="AUTH_DATE" value="21-12-2018 15:36:46" /></td>
	</tr>

	<tr>
	  <td><input type="text" name="AUTH_ID" id="AUTH_ID" value="001201" /></td>
	</tr>
	
	
	
	<tr>
	  <td><input type="text" name="CAPTURE_DATE" id="CAPTURE_DATE" value="21-12-2018 15:36:46" /></td>
	</tr>


	<tr>
	  <td><input type="text" name="CUSTOMER_ID" id="CUSTOMER_ID" value="1.00" /></td>
	</tr>

	<tr>
	  <td><input type="text" name="FR_LEVEL" id="FR_LEVEL" value="-1" /></td>
	</tr>
	<tr>
	  <td><input type="text" name="FR_SCORE" id="FR_SCORE" value="-1" /></td>
	</tr>

	

	
	
	

	<tr>
	  <td><input type="text" name="TRANSACTION_ID" id="TRANSACTION_ID" value="452345342534" /></td>
	</tr>
	
	  <td><input type="text" name="TRAN_DATE" id="TRAN_DATE" value="21-12-2018 14:12:44" /></td>
	</tr>
	<tr>
	  <td><input type="text" name="TXN_STATUS" id="TXN_STATUS" value="A" /></td>
	</tr> -->

	<tr>
	  <td><input type="text" name="RESPONSE_TYPE" id="RESPONSE_TYPE" value="HTTP" /></td>
	</tr>

<tr>
	  <td><input type="text" name="RETURN_URL" id="RETURN_URL" value="http://ciif.com/PaymentGateway/response" /></td>
	</tr>

	<tr>
	  <td><input type="text" name="SECURE_SIGNATURE" id="SECURE_SIGNATURE" value="51678FF6EBAA4B4A2D9C2E42251EF14EB67EA843A2EA4D36C3848FB2EF940A1BB98CF4212DF594278FF00092987CBE9EE50AF2E6D2B140FD2D24F61DE53BF091" /></td>
	</tr>
<tr>
	  <td><input type="text" name="TRANSACTION_TYPE" id="TRANSACTION_TYPE" value="3" /></td>
	</tr>

	<tr>
	  <td><input type="text" name="TXN_DESC" id="TXN_DESC" value="APPROVED" /></td>
	</tr>

	
	
	<tr>
	<td><input type="submit" value="submit" /></td>
	</tr>
</table>
</form>