

<div class="clearfix">
                    <h4>Card Details</h4>
                    <div class="filter-block">
                    <div class="clearfix">

                       <!--  <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Card Name</label>
                                  <?php echo $this->form->card_name  ?>                 
                               </div>                                
                            </div>
                          </div>
                           <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Card Number</label>
                                    <?php echo $this->form->card_no ?>                 
                               </div>                                
                            </div>
                          </div>
                    <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Card Expiry Date</label>
                                  <?php echo $this->form->card_expiry_date  ?>                 
                               </div>                                
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Cvv</label>
                                    <?php echo $this->form->cvv ?>                 
                               </div>                                
                            </div>                            
                        </div>
              <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Amount</label>
                                    <?php echo $this->form->amount ?>                 
                               </div>                                
                            </div> -->
 <form method="POST" action="">
<table class="table">


<tr>
  <td><label>Amount</label></td>
    <td><input type="text" name="AMOUNT" class="form-control" id="amount" value="" /></td>
  </tr>
<tr>
    <td><label>Card Cvv</label></td>
    <td><input type="password" name="CARD_CVC" class="form-control" id="CARD_CVC" value="" /></td>
  </tr>

<tr>
  <td><label>CARD EXPIRY MONTH</label></td>
    <td><input type="text" name="CARD_EXP_MM" class="form-control" id="CARD_EXP_MM" value="" /></td>
  </tr>

  <tr>
    <td><label>CARD EXPIRY YEAR</label></td>
    <td><input type="text" name="CARD_EXP_YY"  class="form-control" id="CARD_EXP_YY" value="" /></td>
  </tr>
<tr>
  <td><label>CARD NUMBER</label></td>
    <td><input type="text" name="CARD_NO" class="form-control" id="CARD_NO" value="" /></td>
  </tr>
  <tr>
  <td><label>CARD TYPE</label></td>
    <td><select name="CARD_TYPE" class="form-control" id="CARD_TYPE">
                  <option value="M">MASTER CARD</option>
                  <option value="V">VISA CARD</option>
        </select>
    </td>
  </tr>
<input type="hidden" name="TRANSACTION_TYPE" class="form-control" id="TRANSACTION_TYPE" value="3" hidden />
<input type="hidden" name="TXN_DESC" class="form-control" id="TXN_DESC" value="Approved" />

  <tr>
  <td><div class="row">
                          <div class="button-group">
                    <input type="submit" class="btn btn-primary" value='Submit'>
               <button type="button" class="btn btn-primary">Cancel</button>
                   
                </div>  </td>
  </tr>
</table>
</form>                            
                        </div>
                         

                         </div>
                       
                      
                     </div> 
                                                                   
                                   
                                                                                                                                        
                    </div>                                                  
                </div>

    </form>
  </div>
  
  <script type="text/javascript">
$(document).ready(function()
{   
    $("#card_expiry_date").datepicker({
        dateFormat: 'MM yy',
        changeMonth: true,
        changeYear: true,
        showButtonPanel: false,

        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month  :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).val($.datepicker.formatDate('MM yy', new Date(year, month, 1)));
        }
    });

    $("#card_expiry_date").focus(function () {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });
    });
});
</script>  
<script>
 $("#card_no").attr('type','number')
  $("#cvv").attr('type','number')

  $("#amount").attr('readonly',true)
  $("#amount").val('<?php echo $this->amount;?>'+'.00')
</script>
