
<div class="clearfix">
                    
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            
                                <tr><td><th>Amount</th></td><td><?php echo $this->result[0]['amount'];?></td></tr>  
                                <tr><td><th>Card Holder Name</th></td><td>
                                <?php echo $this->result[0]['card_name'];?></td></tr>  
                                <tr><td><th>Card Expiry Date</th></td><td>
                                 <?php echo $this->result[0]['card_expiry_date'];?></td></tr>  

                                <tr><td><th>Card Number</th></td><td>
                                 <?php echo $this->result[0]['card_no'];?></td></tr>  

                                
                                                     
                            
                        </thead>
                        <tbody>
                         <!--   <?php if ( count($this->result) == 0 ) { ?>
        <tr>
            <td colspan="3"><?php echo $this->translate('No Programme Exemption created yet.')?></td>
        </tr>
        <?php } else { ?>
        <?php foreach ( $this->result as $row) : ?>
        
            
            <tr><?php echo $row['card_name'];?></tr>
            <tr><?php echo $row['card_expiry_date'];?></tr>
            <tr><?php echo $row['card_no'];?></tr>
             
           
       </tbody>
            <?php endforeach; ?>

        <?php } ?> -->
</table> 


