 <?php

include_once 'Zend/CIMB/Cimb.php';

$ipay88 = new Cimb('M10617');

$response = $ipay88->getResponse();

?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>iPay88 - Test - Response</title>
</head>

<body>
  <h1>CIMB payment gateway</h1>

  <?php if ($this->response['TXN_STATUS']): ?>
    <p><b>Your transaction was successful.</b></p>
  <?php else: ?>
    <h3 style="color: #51bed4"><b>Your transaction failed.</b></h3>
  <?php endif; ?>
 <div class="table-responsive">
  <table class="table table-striped">
    <?php if ($response): ?>
      <tr><td><?php echo "Status :-  <b> ".' ';echo  ($this->response['TXN_STATUS'] == "A") ? "Successful":"Failed"; ?></td></tr>
      <tr><td><?php echo "</b>Message :-  <b> ".'  '.$this->response['RESPONSE_DESC']; ?></td></tr>
      <tr><td><?php echo "</b>Transaction ID :-  <b> ".'  '.$this->response['TRANSACTION_ID']; ?></td></tr>
      <tr><td><?php echo "</b>Amount :-  <b> ".'  '.$this->response['AMOUNT']; ?></td></tr>

          
    <?php else: ?>
      <tr>
        <td colspan="2">No response or transaction failed.</td>
      </tr>
    <?php endif; ?>
  </table>
</div>
</body>

</html>