<script type="text/javascript">
    function print(){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'checklist-report', 'action'=>'print'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php
        if ($this->formData){
            ?>
            <ul>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick='print();'>
                        <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a>
                </li>
            </ul>
            <?php
        }
        ?>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="post" id="search" name="search"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<?php
if ($this->calendar) {
    ?>
    <h3><?php echo $this->translate('Calendar'); ?></h3>
    <hr>
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('Activity Type'); ?></th>
            <th><?php echo $this->translate('Date From'); ?></th>
            <th><?php echo $this->translate('Date To'); ?></th>
        </tr>
        <?php
        if ($this->calendar) {
            foreach ($this->calendar as $calendar) {
                ?>
                <tr>
                    <td><?php echo $calendar['ActivityName']; ?></td>
                    <td><?php echo $calendar['StartDate'] != null && $calendar['StartDate'] != '' ? date('d-m-Y', strtotime($calendar['StartDate'])) : ''; ?></td>
                    <td><?php echo $calendar['EndDate'] != null && $calendar['EndDate'] != '' ? date('d-m-Y', strtotime($calendar['EndDate'])) : ''; ?></td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <br/>
    <?php
}

if ($this->subOffer) {
    ?>
    <h3><?php echo $this->translate('Course Offered'); ?></h3>
    <hr>
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('No.') ?></th>
            <th><?php echo $this->translate('Course') ?></th>
            <th><?php echo $this->translate('Course Code') ?></th>
            <th><?php echo $this->translate('Course Section') ?></th>
            <th><?php echo $this->translate('Exam Schedule') ?></th>
        </tr>
        <?php
        if ($this->subOffer) {
            $no = 0;
            foreach ($this->subOffer as $subOffer) {
                $no++;
                ?>
                <tr>
                    <td><?php echo $no; ?></td>
                    <td><?php echo $subOffer['SubjectName']; ?></td>
                    <td><?php echo $subOffer['SubCode']; ?></td>
                    <td>
                        <table class="table" width="100%">
                            <tr>
                                <th><?php echo $this->translate("Section Name") ?></th>
                                <th><?php echo $this->translate("Section Code") ?></th>
                                <th><?php echo $this->translate("Semester") ?></th>
                                <th><?php echo $this->translate("Lecturer") ?></th>
                                <th><?php echo $this->translate("Programme") ?></th>
                                <th><?php echo $this->translate("Max Occupancy") ?></th>
                            </tr>
                            <?php
                            if (isset($subOffer['groupssection']) && count($subOffer['groupssection']) > 0) {
                                foreach ($subOffer['groupssection'] as $group) {
                                    ?>
                                    <tr>
                                        <td><?php echo $group["GroupName"]; ?></td>
                                        <td align='center'><?php echo $group["GroupCode"]; ?></td>
                                        <td align='center'><?php echo $group["semester_name"]; ?></td>
                                        <td align='center'><?php echo($group["IdLecturer"] != 0 ? $group["FullName"] : $this->translate("-")); ?></td>
                                        <td>
                                            <ul class="prog-list">
                                                <?php
                                                if (sizeof($group['program']) > 0) {
                                                    foreach ($group['program'] as $pro):
                                                        ?>
                                                        <li><?php echo $pro['ProgramCode'] . ' - ' . $pro['mop'] . ' ' . $pro['mos'] . ' ' . $pro['pt']; ?></li>
                                                        <?php
                                                    endforeach;
                                                }
                                                ?>
                                            </ul>
                                        </td>
                                        <td align="center"><?php echo $group["maxstud"]; ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </table>
                    </td>
                    <td>
                        <table class="table" width="100%">
                            <tr>
                                <th><?php echo $this->translate('Exam Date'); ?></th>
                                <th><?php echo $this->translate('Exam Start Time'); ?></th>
                                <th><?php echo $this->translate('Exam End Time'); ?></th>
                                <th><?php echo $this->translate('Exam Center'); ?></th>
                            </tr>
                            <?php
                            if (isset($subOffer['examschedule']) && count($subOffer['examschedule']) > 0) {
                                foreach ($subOffer['examschedule'] as $examschedule) {
                                    ?>
                                    <tr>
                                        <td align="center"><?php echo $examschedule['es_date'] != null ? date('d-m-Y', strtotime($examschedule['es_date'])) : ''; ?></td>
                                        <td align="center"><?php echo $examschedule['es_start_time']; ?></td>
                                        <td align="center"><?php echo $examschedule['es_end_time']; ?></td>
                                        <td><?php echo $examschedule['ec_name']; ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </table>
                    </td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <br />
    <?php
}

if ($this->program) {
    ?>
    <h3><?php echo $this->translate('Registration Item'); ?></h3>
    <hr>
    <?php
    foreach ($this->program as $program){
        if (isset($program['program_scheme']) && count($program['program_scheme']) > 0){
            foreach ($program['program_scheme'] as $programScheme){
                ?>
                <fieldset>
                    <legend><?php echo $program['ProgramName'].' ('.$programScheme['mop'].' '.$programScheme['mos'].' '.$programScheme['pt'].')'; ?></legend>
                    <table class="table" width="100%">
                        <tr>
                            <th><?php echo $this->translate('Item'); ?></th>
                            <th><?php echo $this->translate('Chargeable'); ?></th>
                            <th><?php echo $this->translate('Mandatory'); ?></th>
                            <th><?php echo $this->translate('Refund Policy'); ?></th>
                        </tr>
                        <?php
                        if (isset($programScheme['item']) && count($programScheme['item']) > 0) {
                            foreach ($programScheme['item'] as $item) {
                                ?>
                                <tr>
                                    <td><?php echo $item['item_name']; ?></td>
                                    <td align="center"><?php echo $item['chargable']==1 ? 'Yes':'No'; ?></td>
                                    <td align="center"><?php echo $item['mandatory']==1 ? 'Yes':'No'; ?></td>
                                    <td>
                                        <?php
                                        if (isset($item['activity']) && count($item['activity']) > 0){
                                            foreach ($item['activity'] as $activity) {
                                                ?>
                                                <table width="100%">
                                                    <tr>
                                                        <td><?php echo $this->translate('Activity'); ?></td>
                                                        <td width="1%">:</td>
                                                        <td><?php echo $activity['ActivityName']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td><?php echo $this->translate('Start/End Date'); ?></td>
                                                        <td width="1%">:</td>
                                                        <td><?php echo date('d-m-Y', strtotime($activity['StartDate'])).' - '.date('d-m-Y', strtotime($activity['EndDate'])); ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td><?php echo $this->translate('Calculation Type'); ?></td>
                                                        <td width="1%">:</td>
                                                        <td><?php echo $activity['ria_calculation_type']==0 ? 'Percentage':'Amount'; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td><?php echo $this->translate('Amount'); ?></td>
                                                        <td width="1%">:</td>
                                                        <td><?php echo $activity['ria_amount']; ?></td>
                                                    </tr>
                                                </table>
                                                <br />
                                                <?php
                                            }
                                        }
                                        ?>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </table>
                </fieldset>
                <br/>
                <?php
            }
        }
    }
}
