@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('Simple-Line-Icons.eot');
	src:url('Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('Simple-Line-Icons.woff') format('woff'),
		url('Simple-Line-Icons.ttf') format('truetype'),
		url('Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Simple-Line-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="line-"] {
*/
.line-user-female, .line-user-follow, .line-user-following, .line-user-unfollow, .line-trophy, .line-screen-smartphone, .line-screen-desktop, .line-plane, .line-notebook, .line-moustache, .line-mouse, .line-magnet, .line-energy, .line-emotline-smile, .line-disc, .line-cursor-move, .line-crop, .line-credit-card, .line-chemistry, .line-user, .line-speedometer, .line-social-youtube, .line-social-twitter, .line-social-tumblr, .line-social-facebook, .line-social-dropbox, .line-social-dribbble, .line-shield, .line-screen-tablet, .line-magic-wand, .line-hourglass, .line-graduation, .line-ghost, .line-game-controller, .line-fire, .line-eyeglasses, .line-envelope-open, .line-envelope-letter, .line-bell, .line-badge, .line-anchor, .line-wallet, .line-vector, .line-speech, .line-puzzle, .line-printer, .line-present, .line-playlist, .line-pin, .line-picture, .line-map, .line-layers, .line-handbag, .line-globe-alt, .line-globe, .line-frame, .line-folder-alt, .line-film, .line-feed, .line-earphones-alt, .line-earphones, .line-drop, .line-drawer, .line-docs, .line-directions, .line-direction, .line-diamond, .line-cup, .line-compass, .line-call-out, .line-call-in, .line-call-end, .line-calculator, .line-bubbles, .line-briefcase, .line-book-open, .line-basket-loaded, .line-basket, .line-bag, .line-action-undo, .line-action-redo, .line-wrench, .line-umbrella, .line-trash, .line-tag, .line-support, .line-size-fullscreen, .line-size-actual, .line-shuffle, .line-share-alt, .line-share, .line-rocket, .line-question, .line-pie-chart, .line-pencil, .line-note, .line-music-tone-alt, .line-music-tone, .line-microphone, .line-loop, .line-logout, .line-login, .line-list, .line-like, .line-home, .line-grid, .line-graph, .line-equalizer, .line-dislike, .line-cursor, .line-control-start, .line-control-rewind, .line-control-play, .line-control-pause, .line-control-forward, .line-control-end, .line-calendar, .line-bulb, .line-bar-chart, .line-arrow-up, .line-arrow-right, .line-arrow-left, .line-arrow-down, .line-ban, .line-bubble, .line-camcorder, .line-camera, .line-check, .line-clock, .line-close, .line-cloud-download, .line-cloud-upload, .line-doc, .line-envelope, .line-eye, .line-flag, .line-folder, .line-heart, .line-info, .line-key, .line-link, .line-lock, .line-lock-open, .line-magnifier, .line-magnifier-add, .line-magnifier-remove, .line-paper-clip, .line-paper-plane, .line-plus, .line-pointer, .line-power, .line-refresh, .line-reload, .line-settings, .line-star, .line-symbol-female, .line-symbol-male, .line-target, .line-volume-1, .line-volume-2, .line-volume-off, .line-users {
	font-family: 'Simple-Line-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.line-user-female:before {
	content: "\e000";
}
.line-user-follow:before {
	content: "\e002";
}
.line-user-following:before {
	content: "\e003";
}
.line-user-unfollow:before {
	content: "\e004";
}
.line-trophy:before {
	content: "\e006";
}
.line-screen-smartphone:before {
	content: "\e010";
}
.line-screen-desktop:before {
	content: "\e011";
}
.line-plane:before {
	content: "\e012";
}
.line-notebook:before {
	content: "\e013";
}
.line-moustache:before {
	content: "\e014";
}
.line-mouse:before {
	content: "\e015";
}
.line-magnet:before {
	content: "\e016";
}
.line-energy:before {
	content: "\e020";
}
.line-emotline-smile:before {
	content: "\e021";
}
.line-disc:before {
	content: "\e022";
}
.line-cursor-move:before {
	content: "\e023";
}
.line-crop:before {
	content: "\e024";
}
.line-credit-card:before {
	content: "\e025";
}
.line-chemistry:before {
	content: "\e026";
}
.line-user:before {
	content: "\e005";
}
.line-speedometer:before {
	content: "\e007";
}
.line-social-youtube:before {
	content: "\e008";
}
.line-social-twitter:before {
	content: "\e009";
}
.line-social-tumblr:before {
	content: "\e00a";
}
.line-social-facebook:before {
	content: "\e00b";
}
.line-social-dropbox:before {
	content: "\e00c";
}
.line-social-dribbble:before {
	content: "\e00d";
}
.line-shield:before {
	content: "\e00e";
}
.line-screen-tablet:before {
	content: "\e00f";
}
.line-magic-wand:before {
	content: "\e017";
}
.line-hourglass:before {
	content: "\e018";
}
.line-graduation:before {
	content: "\e019";
}
.line-ghost:before {
	content: "\e01a";
}
.line-game-controller:before {
	content: "\e01b";
}
.line-fire:before {
	content: "\e01c";
}
.line-eyeglasses:before {
	content: "\e01d";
}
.line-envelope-open:before {
	content: "\e01e";
}
.line-envelope-letter:before {
	content: "\e01f";
}
.line-bell:before {
	content: "\e027";
}
.line-badge:before {
	content: "\e028";
}
.line-anchor:before {
	content: "\e029";
}
.line-wallet:before {
	content: "\e02a";
}
.line-vector:before {
	content: "\e02b";
}
.line-speech:before {
	content: "\e02c";
}
.line-puzzle:before {
	content: "\e02d";
}
.line-printer:before {
	content: "\e02e";
}
.line-present:before {
	content: "\e02f";
}
.line-playlist:before {
	content: "\e030";
}
.line-pin:before {
	content: "\e031";
}
.line-picture:before {
	content: "\e032";
}
.line-map:before {
	content: "\e033";
}
.line-layers:before {
	content: "\e034";
}
.line-handbag:before {
	content: "\e035";
}
.line-globe-alt:before {
	content: "\e036";
}
.line-globe:before {
	content: "\e037";
}
.line-frame:before {
	content: "\e038";
}
.line-folder-alt:before {
	content: "\e039";
}
.line-film:before {
	content: "\e03a";
}
.line-feed:before {
	content: "\e03b";
}
.line-earphones-alt:before {
	content: "\e03c";
}
.line-earphones:before {
	content: "\e03d";
}
.line-drop:before {
	content: "\e03e";
}
.line-drawer:before {
	content: "\e03f";
}
.line-docs:before {
	content: "\e040";
}
.line-directions:before {
	content: "\e041";
}
.line-direction:before {
	content: "\e042";
}
.line-diamond:before {
	content: "\e043";
}
.line-cup:before {
	content: "\e044";
}
.line-compass:before {
	content: "\e045";
}
.line-call-out:before {
	content: "\e046";
}
.line-call-in:before {
	content: "\e047";
}
.line-call-end:before {
	content: "\e048";
}
.line-calculator:before {
	content: "\e049";
}
.line-bubbles:before {
	content: "\e04a";
}
.line-briefcase:before {
	content: "\e04b";
}
.line-book-open:before {
	content: "\e04c";
}
.line-basket-loaded:before {
	content: "\e04d";
}
.line-basket:before {
	content: "\e04e";
}
.line-bag:before {
	content: "\e04f";
}
.line-action-undo:before {
	content: "\e050";
}
.line-action-redo:before {
	content: "\e051";
}
.line-wrench:before {
	content: "\e052";
}
.line-umbrella:before {
	content: "\e053";
}
.line-trash:before {
	content: "\e054";
}
.line-tag:before {
	content: "\e055";
}
.line-support:before {
	content: "\e056";
}
.line-size-fullscreen:before {
	content: "\e057";
}
.line-size-actual:before {
	content: "\e058";
}
.line-shuffle:before {
	content: "\e059";
}
.line-share-alt:before {
	content: "\e05a";
}
.line-share:before {
	content: "\e05b";
}
.line-rocket:before {
	content: "\e05c";
}
.line-question:before {
	content: "\e05d";
}
.line-pie-chart:before {
	content: "\e05e";
}
.line-pencil:before {
	content: "\e05f";
}
.line-note:before {
	content: "\e060";
}
.line-music-tone-alt:before {
	content: "\e061";
}
.line-music-tone:before {
	content: "\e062";
}
.line-microphone:before {
	content: "\e063";
}
.line-loop:before {
	content: "\e064";
}
.line-logout:before {
	content: "\e065";
}
.line-login:before {
	content: "\e066";
}
.line-list:before {
	content: "\e067";
}
.line-like:before {
	content: "\e068";
}
.line-home:before {
	content: "\e069";
}
.line-grid:before {
	content: "\e06a";
}
.line-graph:before {
	content: "\e06b";
}
.line-equalizer:before {
	content: "\e06c";
}
.line-dislike:before {
	content: "\e06d";
}
.line-cursor:before {
	content: "\e06e";
}
.line-control-start:before {
	content: "\e06f";
}
.line-control-rewind:before {
	content: "\e070";
}
.line-control-play:before {
	content: "\e071";
}
.line-control-pause:before {
	content: "\e072";
}
.line-control-forward:before {
	content: "\e073";
}
.line-control-end:before {
	content: "\e074";
}
.line-calendar:before {
	content: "\e075";
}
.line-bulb:before {
	content: "\e076";
}
.line-bar-chart:before {
	content: "\e077";
}
.line-arrow-up:before {
	content: "\e078";
}
.line-arrow-right:before {
	content: "\e079";
}
.line-arrow-left:before {
	content: "\e07a";
}
.line-arrow-down:before {
	content: "\e07b";
}
.line-ban:before {
	content: "\e07c";
}
.line-bubble:before {
	content: "\e07d";
}
.line-camcorder:before {
	content: "\e07e";
}
.line-camera:before {
	content: "\e07f";
}
.line-check:before {
	content: "\e080";
}
.line-clock:before {
	content: "\e081";
}
.line-close:before {
	content: "\e082";
}
.line-cloud-download:before {
	content: "\e083";
}
.line-cloud-upload:before {
	content: "\e084";
}
.line-doc:before {
	content: "\e085";
}
.line-envelope:before {
	content: "\e086";
}
.line-eye:before {
	content: "\e087";
}
.line-flag:before {
	content: "\e088";
}
.line-folder:before {
	content: "\e089";
}
.line-heart:before {
	content: "\e08a";
}
.line-info:before {
	content: "\e08b";
}
.line-key:before {
	content: "\e08c";
}
.line-link:before {
	content: "\e08d";
}
.line-lock:before {
	content: "\e08e";
}
.line-lock-open:before {
	content: "\e08f";
}
.line-magnifier:before {
	content: "\e090";
}
.line-magnifier-add:before {
	content: "\e091";
}
.line-magnifier-remove:before {
	content: "\e092";
}
.line-paper-clip:before {
	content: "\e093";
}
.line-paper-plane:before {
	content: "\e094";
}
.line-plus:before {
	content: "\e095";
}
.line-pointer:before {
	content: "\e096";
}
.line-power:before {
	content: "\e097";
}
.line-refresh:before {
	content: "\e098";
}
.line-reload:before {
	content: "\e099";
}
.line-settings:before {
	content: "\e09a";
}
.line-star:before {
	content: "\e09b";
}
.line-symbol-female:before {
	content: "\e09c";
}
.line-symbol-male:before {
	content: "\e09d";
}
.line-target:before {
	content: "\e09e";
}
.line-volume-1:before {
	content: "\e09f";
}
.line-volume-2:before {
	content: "\e0a0";
}
.line-volume-off:before {
	content: "\e0a1";
}
.line-users:before {
	content: "\e001";
}