body { margin:1em;  }
html { }

@media (max-width: 480px) {

}

@media (max-width: 768px) {

}

.logo { margin-bottom:1.5em }

@media (min-width: 769px) {
    #form-register { border:2px solid #eee; padding:1.5em }
}

