<fieldset>
	<legend><?php echo $this->translate("Semester Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/generalsetup/semester/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Semester Name");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td><?php echo $this->translate("Semester Code");?></td>
                                    <td><?php echo $this->lobjform->field2;?></td>
                                </tr>
                                <tr>
                                    <td ><?php echo $this->translate($this->defaultlanguage);?></td>
                                    <td ><?php echo $this->lobjform->field28;?></td>
                                    <td ><?php echo $this->translate("Active");?></td>
                                    <td ><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Semester Name");?></th>
	        	<th><?php echo $this->translate($this->defaultlanguage);?></th>
	        	<th><?php echo $this->translate("Semester Code");?></th>
	        	<th><?php echo $this->translate("Date"); ?></th>
	        	<th><?php echo $this->translate("Academic Year"); ?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjsemester): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/generalsetup/semester/semester-detail-program/id/<?php echo $this->escape($lobjsemester['IdSemesterMaster']);?>" ><?php echo $this->escape($lobjsemester['SemesterMainName']);?></a></td>
	        	<td><?php print_r($this->escape($lobjsemester['SemesterMainDefaultLanguage']));?></td>
	        	<td><?php print_r($this->escape($lobjsemester['SemesterMainCode']));?></td>
	        	<td align="center"><?php echo date('d-m-Y', strtotime($this->escape($lobjsemester['SemesterMainStartDate'])));?> - <?php echo date('d-m-Y', strtotime($this->escape($lobjsemester['SemesterMainEndDate'])));?></td>
	        	<td><?php print_r($this->escape($lobjsemester['academicYear']));?></td> 
	        </tr>    
	        <?php endforeach; ?>
	            <?php endif; ?> 
			
			<tr>
	        	<td colspan="3" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>