@import url('../font/proxima-nova.css');

/* Misc */
@import url('pages/misc.css');

body {
	background:#fdfdfd;
	font: 300 14px / 20px "Proxima Nova", Helvetica, Arial, sans-serif;
}

.uk-dropdown.carat::before {
   position: absolute;
   top: -7px;
   left: 14px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }
.uk-dropdown.carat::after {
	position: absolute;
	top: -6px;
	left: 15px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
  }

#footer .socials { float: right; width: 100px; list-style-type: none; }
#footer .info { font-size: 11px; }
#footer .foot-wrap .contact { float: right; }

.site-navbar { 
                /*border-bottom:1px solid #ccc;*/
                background:#62a8d1; 
                /*padding:10px 0;*/
                box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
                height: 65px;
             }

header .uk-navbar-nav.home { padding:10px 0;}
header .uk-navbar-nav.home > li:not(.user) > a { text-transform:uppercase; font-weight:700; color:#6E6E6E }
header .uk-navbar-nav.home .uk-parent a.item {  padding:5px 10px; height:auto;  }

header .uk-navbar-nav.home > li.uk-open:not(.user) a { border-radius: 3px !important }
header .uk-navbar-nav.home > li:hover:not(.user) > a, header .uk-navbar-nav > li.uk-active:not(.user) > a { box-shadow:none; border-color:transparent; text-shadow:none; background:#D01F2F; color:#fff;  border-radius:3px !important;}
header .uk-navbar-nav.home > li.user a.link { font-weight:bold }

header .avatar { width:32px; margin-right:15px }
header .search { margin-top:5px; }
header .logo img { height:115px; padding-right:10px; }
header .logo.admin img { height:45px; padding-right:10px; }
header .logo.small img { height:45px; padding:0; }
header .logo.small {  }
header .logo {  }
header .uk-navbar-nav .uk-parent a.item {  padding:5px 10px; height:auto;  }

header .uk-navbar-nav > li:hover > a,
header .uk-navbar-nav > li > a:focus,
header .uk-navbar-nav > li.uk-open > a {
  background-color: transparent;
  box-shadow:none;
  border-color:transparent;
}

header .uk-navbar-nav > li.uk-open a { border-radius: 3px !important }
header .uk-navbar-nav > li.uk-active > a { box-shadow:none; border-color:transparent; text-shadow:none; background:#3986de; color:#fff;  border-radius:3px !important;}

.uk-button-outline { background:none; text-shadow:none; border:1px solid #ccc; color:#fff;  }
.uk-button-hero { text-transform:uppercase; font-weight:600; padding:0 30px; text-shadow:none; }

.uk-breadcrumb { margin-bottom:25px; margin-top:-15px; }
.uk-breadcrumb > li:nth-child(n+2):before {
    display: inline-block;
    margin: 0 8px;
    content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    color:#ddd;
}

.uk-breadcrumb li a i { color:#bfbfbf }

.uk-panel .uk-search-field { width:140px }
.uk-panel .uk-search-field + .uk-button { margin-left:5px; padding:0; }


.hero-form { min-width:300px; }
.hero-form .text { font-size:1.2em; height:40px !important; padding:10px; width:80%; color:#ccc !important; background:#333 !important; border-color:#444 !important }
.hero-form button { padding:5px 15px }

.muted { color:#b9b9b9 }
.panels { padding:50px 0; }

body > footer { background:#333; color:#ccc; font-size:0.8em; padding:5px 0 }

#main { min-height:600px }

/*Tri Step*/
ul.tri-steps{
    list-style-type: none;
    min-width:900px;
    width:100%;
    padding: 0;
    margin: 0;
}

ul.tri-steps li{
    position:relative;
    float: left;
    color: #FFFFFF;
    background: url('../../images/tristep-start.gif') no-repeat;
    line-height: 53px;
    font-weight: bold;
    font-size: 110%;
    text-align:center;
    overflow:hidden;
    height: 53px;
    width: 145px;
    padding: 2px 0 0;
}

ul.tri-steps li .text{
    line-height: 49px;
    padding: 0 35px 0 2px;
}
ul.tri-steps li span{
    color: #FFF; margin: 0 5px 0 0;
}
ul.tri-steps li.empty{
}
ul.tri-steps li.start {

}
ul.tri-steps li.next{
}
ul.tri-steps li.current{
    color: #FFF;
    background: url('../../images/tristep-current.gif') no-repeat;
}
ul.tri-steps li.prevDone{
    background: url('../../images/tristep-prev.gif') no-repeat;
}
ul.tri-steps li.last{
    background: url('../../images/tristep-last.gif') no-repeat;
}
ul.tri-steps li.lastCurrent{
    background: url('../../images/tristep-lastcurrent.gif') no-repeat;
}


ul.tri-steps li.current a:link, ul.tri-steps li.current a:visited,
ul.tri-steps li.last a:link, ul.tri-steps li.last a:visited,
ul.tri-steps li.lastCurrent a:link, ul.tri-steps li.lastCurrent a:visited,
ul.tri-steps li.empty a:link, ul.tri-steps li.empty a:visited,
ul.tri-steps li.prevDone a:link, ul.tri-steps li.prevDone a:visited
{
    color: #FFFFFF;
}

.clear {
    clear:both;
}


/* calendar */
#calendar { padding:10px; }
#calendar h2 { color:#666; font-size:15px; font-weight:bold; }
#calendar tbody .fc-row {min-height: 1em !important;}
.fc-day-number:hover{
    cursor:pointer !important;
    color:dodgerblue !important;
}

/* small */
@media (max-width: 480px) {
    .uk-hero h1 { font-size:1.2em; margin:0; }
    .uk-hero .hero-form .text { font-size:1em; height:40px !important; padding:10px; width:80%; color:#ccc !important; background:#333 !important; border-color:#444 !important }
    .uk-hero .hero-form button { padding:5px 15px }
    .uk-hero .text { font-size:0.9em }

    .slide { height:300px !important }
}

/* medium */
@media (min-width: 768px) {

}

/* large */
@media (min-width: 960px) {

}

/* x-large */
@media (min-width: 1220px) {

}


/* horizontal divider */
.divider {
    text-align: center;
    position: relative;
}
.divider span {
    display: inline-block;
}
.divider span:before,
.divider span:after {
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    content: " ";
    width: 35%;
    position: absolute;
    left: 0;
    top: 10px;
}
.divider span:after {
    right: 0;
    left: auto;
}

/* zend */
ul.errors li { color:red; font-size:0.8em }

/* misc */
h1.title, h2.title, h3.title { font-weight: bold; }

.course-list { margin-top:15px; margin-bottom:15px; }
.course-list .course { margin-bottom:10px; border:1px solid #fff; border-bottom:1px solid #ececec; padding:15px 0; overflow:hidden; }
.course-list .course .icon { float:left; margin-left:10px; font-size:30px; color:#c8d1d3; background:#fafafa; margin-right:15px; text-align:center; }
.course-list .course .wrap { padding:20px; display:block; }
.course-list .course .title { font-size:18px; }
.course-list .course .code { padding:4px; font-size:0.7em; text-transform:uppercase; color:#aaa}
.course-list .course .info { margin-left:50px }
.course-list .course .meta { color:#a0a0a0; font-size:0.8em; text-transform:uppercase; margin-bottom:10px;  }
.course-list .course:hover { border:1px solid #eee; }

.uk-block-hero { background:#dfa3a2 }

.infolist { list-style:none; margin:0; padding:0; }
.infolist li:not(:last-child) { padding:0; margin:0; overflow:hidden; margin-bottom:10px }
.infolist li span { float:left; min-width:110px; font-weight:bold; }
.infolist li span i { margin-right:5px;}

.welcome { background:#d3efd4; color:#29782d; font-size:2.5em; letter-spacing:0px;  }
.welcome .animated { font-size:2.3em }

table.uk-table-main { border:1px solid #eee !important; }
table.uk-table-main th { background:#f8f8f8; }

.text-info { color:cornflowerblue }

/* curr list */
.curr-list { }
.curr-list .curriculum { margin-bottom:10px; overflow:hidden; }
.curr-list .curriculum .icon { float:left; }
.curr-list .curriculum .icon .svg { fill: #bbb }
.curr-list .curriculum  .info { margin-left:40px; }

/* progress */
/** Colors **/
ol.progress-track {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 2em 1em;
    table-layout: fixed;
    width: 100%;
}
ol.progress-track li {
    display: table-cell;
    /*line-height: 3em;*/
    position: relative;
    text-align: center;
}
ol.progress-track li .icon-wrap {
    border-radius: 50%;
    top: -1.5em;
    color: #fff;
    display: block;
    height: 2.5em;
    margin: 0 auto -2em;
    left: 0;
    right: 0;
    position: relative;
    width: 2.5em;
}
ol.progress-track li .progress-text {
    position: relative;
    top: 10px;
}
ol.progress-track li.progress-done {
    border-top: 7px solid #62A8D1;
    transition: border-color 1s ease-in-out;
    -webkit-transition: border-color 1s ease-in-out;
    -moz-transition: border-color 1s ease-in-out;
}
ol.progress-track li.progress-done.progress-current .icon-wrap {
    background-color: #0070c0;
    color:#fff;
}

ol.progress-track li.progress-done .icon-wrap {
    background-color: #3f6175;
    border: 5px solid #62A8D1;
}
ol.progress-track li.progress-todo {
    border-top: 7px solid #dddddd;
    color: black;
}
ol.progress-track li.progress-todo .icon-wrap {
    background-color: #FFF;
    border: 5px solid #dddddd;

    color: #ccc;

}
ol.progress-track li .icon-wrap .icon { font-size:1.3em;  margin-top:3px; display:block; }

.linkicon { margin-right:5px; color:#ccc }

.uk-nav-usermenu { }
.uk-nav-usermenu li a { border-left:3px solid #fff; }
.uk-nav-usermenu li.uk-active a { border-color:#009dd8; font-weight:bold; color:#444 }
.uk-nav-usermenu li a:hover { font-weight:bold; color:#444 }

/* status */
.status-pending span { background:#d7472f }
.status-active span { background:#74df25; }
.status-cancelled span { background:#ccc }
[class*='status-'] span { display:block; padding:1px 3px; text-transform:uppercase; text-align:center; color:#fff; font-size:0.8em }

.userphoto { border:1px solid #eee; padding:10px; margin-bottom:25px; }

.uk-form .desc { margin:0; font-size:0.8em; color:#999  }
.uk-form .desc:before { font-family:"FontAwesome"; content:"\f05a"; color:#ccc; margin-right:5px; }
span.req { color:red; margin-left:5px; }

.uk-select { border:1px solid #eee; font:normal 14px "Proxima Nova", Helvetica, Arial, sans-serif; padding:2px; }




#ciifp_navbar
{
   background-color: #37B1BE;
   height: 80px;
    width: 103%;
}

#ciifp_navbar a:link
{
    padding-top: 5px;
    padding-right: 2px;
    float: right;
}

#ciifp_navbar #nv_msg
{
    float: left;
    color: #FFFFFF;
    padding-top:30px;
    padding-left: 10px;
}

.login-wrap
{
    padding-left: 50%;
    padding-bottom: 10px;
}