<div class="clearfix">
    <form class="uk-form"  id="myform" name="myform" method="post" action="">
                    <h4>Country Setup</h4>
                    
                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Country Name</label>
                                    <td><?php echo $this->form->name;?></td>
                                    
                                </div>                                 
                            </div>
                           
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <td><?php echo $this->form->description;?></td>
                                    
                                </div>                                 
                            </div>
                               <hr class="dark-diver">                                                  
                <div class="button-group">
                    <?php echo $this->form->Save;?>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'companymaster', 'action'=>'index'),'default',true);?>';">Cancel</button>
                </div>
                            </div>                           
                        </div>
                                            