<style type="text/css">
#exemption-form th { vertical-align: top; }
#exemption-form textarea { width: 100% }
#add-new-file { margin-left: 8px; }
#submit-btn { color: #fff; }
</style>

<ol class="progress-track">
    <li class="progress-done progress-current">
        <div class="icon-wrap">
            <i class="icon uk-icon-file animated zoomIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Extension of TIme Form')?></span>
    </li>
</ol>

<h2><?php echo $this->translate('Extension of TIme')?></h2>

<form class="uk-form" id="extendtime-form" method="post" enctype="multipart/form-data">
    <table class="uk-table uk-table-stacked uk-table-main">
        <tr>
            <th width="15%"><?php echo $this->translate('Qualification'); ?></th>
            <td width="85%" colspan="2"><?php echo $this->curriculum['name']; ?>
            <input type="hidden" name="IdProgram" id="IdProgram" value="<?php echo $this->curriculum['external_id'];?>">
            </td>
        </tr>
        <?php if (!empty($this->courses)): ?>
            <!--<tr>
                <th><?php /*echo $this->translate('Module'); */?></th>
                <td colspan="2">
                    <select class="select" name="IdSubject" id="IdSubject">
                        <?php /*if (!$this->IdSubject): */?>
                            <option value="0">Please Select</option>
                        <?php /*endif; */?>
                        <?php /*foreach ($this->registeredCourses as $row): */?>
                            <?php /*
                            if ($this->IdSubject && $this->IdSubject != $row['IdSubject']):
                                continue;
                            endif; 
                            */?>
                            <option value="<?php /*echo $row['IdStudentRegSubjects'].':'.$row['IdSubject']; */?>"><?php /*echo $row['SubCode']; */?> - <?php /*echo $row['SubjectName']; */?></option>
                        <?php /*endforeach; */?>
                    </select>
                </td>
            </tr>-->
        <?php endif; ?>
        <tr>
            <th><?php echo $this->translate('Remarks'); ?></th>
            <td colspan="2">
                <textarea rows="3" cols="150" placeholder="" name="reason" id="reason"></textarea>
            </td>
        </tr>
        <tr>
            <th>
                <?php echo $this->translate('Supporting Document'); ?>
            </th>
            <td colspan="2">

                <button class="uk-button uk-button-small" id="add-new-file" type="button">Add new file</button>
                
                <table class="uk-table uk-table-condensed uk-table-main" id="upload-table">
                    <tr>
                        <td><input type="file" name="document[0]" class="input-document" /></td>
                        <td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <br />

    <hr />


    <div class="uk-text-right">
        <p class="uk-text-muted">By clicking the "Submit" button, you agree to these <a href="#">Terms of Service</a>. </p>
        <input type="button" class="uk-button" name="back" value="<?php echo $this->translate('Back')?>" onclick="javascript:history.go(-1)"/>
        <input type="hidden" id="IdStudentRegistration" name="IdStudentRegistration" value="<?php echo $this->studentDetail[0]['IdStudentRegistration']?>" />
        <input type="submit" class="uk-button uk-button-primary" id="submit-btn" value="<?php echo $this->translate('Submit')?>" />
    </div>
</form>

<script type="text/javascript">
$('#add-new-file').click(function() {
    newFileUpload();
});

$(document).on('click', 'button.remove-tr', function(e) {
    $(this).parents('tr:first').remove();

    if(!$('.input-document').length) {
        newFileUpload();
    }
});

function ltrim(stringToTrim) {
    return stringToTrim.replace(/^\s+|\s+$/g,"");
}

$('#extendtime-form').submit(function(e) {
    var document_count = 0;

    /*if ($('#IdSubject').length && $('#IdSubject').val() == '0')
    {
        e.preventDefault();
        alert('Please select a module');
        return false;
    }*/

    comment=ltrim($('textarea#reason').val());
    if(comment==""){
        e.preventDefault();
        alert('Kindly input your remark/reason for time extension');
        $( "#reason" ).focus();
        return false;
    }

    $('.input-document').each(function(e) {
        if($(this).val().length) {
            document_count++;
            return false;
        }
    });

    /*if(!document_count) {
        e.preventDefault();
        alert('/ //echo $this->translate("Please upload supporting document"); ?>');
        return false;
    }*/

    var proceed = confirm('Submit this Extension of Time application?');
    if(!proceed) {
        return false;
    }
});

var document_index = 1;

function newFileUpload() {
    $('#upload-table').append('<tr><td><input type="file" name="document['+document_index+']" class="input-document" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
    document_index++;
}
</script>