<style type="text/css">
#exemption-form th { vertical-align: top; }
#exemption-form textarea { width: 100% }
#add-new-file { margin-left: 8px; }
#submit-btn { color: #fff; }
</style>

<ol class="progress-track">
    <li class="progress-done">
        <div class="icon-wrap">
           <i class="icon uk-icon-check animated bounceIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Catalog')?></span>
    </li>

    <li class="progress-done progress-current">
        <div class="icon-wrap">
            <i class="icon uk-icon-file animated zoomIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Credit Transfer Form')?></span>
    </li>
</ol>

<h2><?php echo $this->translate('Credit Transfer')?></h2>

<form class="uk-form" id="exemption-form" method="post" enctype="multipart/form-data">
    <table class="uk-table uk-table-stacked uk-table-main">
        <tr>
            <th width="15%"><?php echo $this->translate('Program'); ?></th>
            <td width="85%" colspan="2"><?php echo $this->curriculum['name']; ?></td>
        </tr>
        <?php if (!empty($this->courses)): ?>
            <tr>
                <th><?php echo $this->translate('Module'); ?></th>
                <td colspan="2">
                    <select class="select" name="IdSubject" id="IdSubject">
                        <?php if (!$this->IdSubject): ?>
                            <option value="0">Please Select</option>
                        <?php endif; ?>
                        <?php foreach ($this->courses as $row): ?>
                            <?php 
                            if ($this->IdSubject && $this->IdSubject != $row['external_id']):
                                continue;
                            endif; 
                            ?>
                            <option value="<?php echo $row['external_id']; ?>"><?php echo $row['code']; ?> - <?php echo $row['title']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
        <?php endif; ?>
        <tr>
            <th><?php echo $this->translate('Remarks'); ?></th>
            <td colspan="2">
                <textarea rows="5" placeholder="" name="reason"></textarea>
            </td>
        </tr>
        <tr>
            <th>
                <?php echo $this->translate('Supporting Document'); ?>
            </th>
            <td colspan="2">

                <button class="uk-button uk-button-small" id="add-new-file" type="button">Add new file</button>
                
                <table class="uk-table uk-table-condensed uk-table-main" id="upload-table">
                    <tr>
                        <td><input type="file" name="document[0]" class="input-document" /></td>
                        <td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <br />

    <hr />


    <div class="uk-text-right">
        <p class="uk-text-muted">By clicking the "Submit" button, you agree to these <a href="#">Terms of Service</a>. </p>
        <input type="button" class="uk-button" name="back" value="<?php echo $this->translate('Back')?>" onclick="javascript:history.go(-1)"/>
        <input type="submit" class="uk-button uk-button-primary" id="submit-btn" value="<?php echo $this->translate('Submit')?>" />
    </div>
</form>

<script type="text/javascript">
$('#add-new-file').click(function() {
    newFileUpload();
});

$(document).on('click', 'button.remove-tr', function(e) {
    $(this).parents('tr:first').remove();

    if(!$('.input-document').length) {
        newFileUpload();
    }
});

$('#exemption-form').submit(function(e) {
    var document_count = 0;

    if ($('#IdSubject').length && $('#IdSubject').val() == '0')
    {
        e.preventDefault();
        alert('Please select module to Credit Transfer');
        return false;
    }

    $('.input-document').each(function(e) {
        if($(this).val().length) {
            document_count++;
            return false;
        }
    });

    if(!document_count) {
        e.preventDefault();
        alert('<?php echo $this->translate("Please upload supporting document"); ?>');
        return false;
    }

    var proceed = confirm('Submit this Credit Transfer application?');
    if(!proceed) {
        return false;
    }
});

var document_index = 1;

function newFileUpload() {
    $('#upload-table').append('<tr><td><input type="file" name="document['+document_index+']" class="input-document" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
    document_index++;
}
</script>