<ol class="progress-track">
    <li class="progress-done">
        <div class="icon-wrap">
            <i class="icon uk-icon-check animated bounceIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Catalog')?></span>
    </li>

    <li class="progress-done ">
        <div class="icon-wrap">
            <i class="icon uk-icon-search animated zoomIn"></i>
        </div>
        <span class="progress-text">Review &amp; Confirm</span>
    </li>

    <li class="progress-done progress-current">
        <div class="icon-wrap">
            <i class="icon uk-icon-shopping-cart"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Payment')?></span>
    </li>
</ol>

<h1><i class="uk-icon-check-circle"></i> Payment</h1>
<p>
    <a href="<?php echo $this->pay_url ?>" class="uk-button"><?php echo $this->translate('Proceed to Payment')?></a>
</p>

<style type="text/css">

    h1 i { color:#8de348 }

</style>

<!--<h1><i class="uk-icon-check-circle"></i> Course Enrollment</h1>
<p class="uk-alert uk-alert-success">
    Thank you for enrolling in <strong><?php echo $this->course['title']?></strong>. We hope you enjoy the course.
</p>

<p>
    <a href="<?php echo $this->baseUrl()?>/dashboard/" class="uk-button"><?php echo $this->translate('Continue')?></a>
</p>

<style type="text/css">

    h1 i { color:#8de348 }

</style>-->