<h2><?php echo $this->translate('Payment') ?></h2>

<form method="post" id="form-checkoutmode" name="form-checkoutmode" action="">


    <?php

    $userid = $this->userid;
    $fee = $this->amount;

    //$fee = $this->arrayData['feeProgramDetl']['fsi_amount'];
    ?>
    <table class="uk-table uk-table-stacked uk-table-main">
        <tr>
            <th colspan="2"><strong><?php echo $this->translate('Invoice No') ?>
                    : <?php echo $this->invnum?></strong></th>
        </tr>

        <tr>
            <td><?php echo $this->translate('Amount') ?></td>
            <td align="right">MYR <?php echo $fee?></td>
        </tr>

        <?php if ($this->invoice['dn_amount'] != '0.00') { ?>
            <tr>
                <td><?php echo $this->translate('Discount') ?></td>
                <td align="right">-</td>
                <!--<td align="right">MYR <?php /*echo $fee*/?></td>-->
            </tr>
        <?php } ?>
        <tr>
            <td><?php echo $this->translate('GST Tax 6%') ?></td>
            <td align="right">-</td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Total') ?></td>
            <td align="right">MYR <?php echo $fee?></td
    </table>

    <table class="uk-table uk-table-stacked uk-table-main">
        <tr>
            <th colspan="2"><strong><?php echo $this->translate('Payment Mode') ?></strong></th>
            <th width="10%"><strong><?php echo $this->translate('Service Fees'); ?></strong></th>
            <th width="10%"><strong><?php echo $this->translate('Net Amount'); ?></strong></th>
        </tr>
        <?php
        //$this->paymentmodelist = array("description"=>"Credit Card (MIGS)","description"=>"FPX");
        //pr($this->paymentmodelist);
        foreach ( $this->paymentmodelist as $payment ): ?>
            <?php //$cur_code = $payment['cur_code']; ?>
            <tr>
                <td width="2px">
                    <input type="radio" id="payment_mode" name="payment_mode" class="payment_mode" value="<?php echo $payment['IdPaymentMode']; ?>"/>
                    <input type="hidden" name="payment_amount" id="payment_amount" value="<?php echo $fee ?>">
                    <input type="hidden" name="foc_<?php //echo $payment['id']; ?>" id="foc_<?php //echo //$payment['id']; ?>" value="<?php //echo $payment['foc'] ?>">

                </td>
                <td><?php echo $payment['description']; ?>
                    <?php //if ($payment['fees_type'] == 2): ?>
                       <!-- (with 2% Service Charges)-->
                    <?php //endif; ?>

                </td>
                <td align="right"><?php //echo $cur_code; ?><?php //echo number_format($payment['fees_display_amount'], 2); ?></td>
                <td align="right" class="net_amount_with_fees">


                    MYR <?php echo $fee?>
                </td>
            </tr>
        <?php endforeach; ?>
        <?php ?>
        <input type="hidden" name="txnid" id="txnid" value="<?php echo $this->txnid ?>">

    </table>

    <h3>Declaration</h3>
    <?php //pr($this->program); ?>
    <input type="checkbox" name="agreement" id="agreement"/>
    I hereby declare that the information given is true and accurate. If I passed the examination and the
    information given is found to be not true, I understand that AICB reserves the right to Cancel the
    examination result and take action according to the rules and regulation
    of <strong><?php echo isset($this->program['ProgramName'])?$this->program['ProgramName']:$this->order['course_name']; ?></strong>.

    <hr>
    <div class="uk-text-right">
        <p class="uk-text-muted">By clicking the "Confirm" button, you agree to these <a href="#">Terms of Service</a>.</p>
        <a href="<?php echo $this->baseUrl() ?>/dashboard"
           class="uk-button uk-button"><?php echo $this->translate('Back') ?></a>
        <button type="button" class="uk-button uk-button-primary"  id="pay-button" onclick="validateForm();">
            <i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Confirm'); ?>
        </button>
<!--        <button type="submit" id="confirm" class="uk-button uk-button-primary" > --><?php //echo $this->translate('Confirm'); ?><!--</button>-->
    </div>
</form>

<script type="text/javascript">
$(function() {
    $('#agreement').change(function(e) {
        if ($(this).is(':checked'))
            $('#confirm').attr("disabled", false);
        else
            $('#confirm').attr("disabled", true);
    });

    $('#form-checkoutmode').submit(function(e) {
        if ( !$('.payment_mode:checked').length ) {
            e.preventDefault();
            alert('Please select Payment Mode');
            return false;
        }

        var proceed = confirm ( 'Are you sure?' );
        /*if (!proceed) {
            e.preventDefault();
            return false;
        } else {alert("here");*/
            location.href = "/register/checkout-modedemoupd/memid/<?php echo $this->memid?>/progNameId/"+progNameId;
            //$('#form-checkoutmode').attr('action', "/register/checkout-modedemoupd/memid/<?php //echo $this->memid?>/progNameId/"+progNameId).submit();
        //}
         /*if (confirm(proceed)) {
            form=document.getElementById('form-checkoutmode');
            form.action='/register/checkout-modedemoupd/memid/ //echo $this->memid/progNameId/'+progNameId;
            //form.action='/register/checkout-modedemo/userid/ //echo $userid/totalpay/'+totalpayment+'/calcpay/'+calcpay;
            form.submit();
        }*/
    });
});
    
    function validateForm() {
        if ( !$('.payment_mode:checked').length ) {
            alert('Please select Payment Mode');
            return false;
        } else {
            form=document.getElementById('form-checkoutmode');
            //form.action='/register/checkout-modedemo/progNameId/<?php //echo $this->progNameId?>/memid/<?php //echo $this->memid?>';
            form.action='/register/checkout-modedemo';
            form.submit();
        }
    }
</script>