<h2><?php echo $this->translate('Payment') ?></h2>

<form method="post" id="form-checkoutmode" action="/register/skippayment"><?php //pr($this->invoice)?>
    <table class="uk-table uk-table-stacked uk-table-main">
        <input type="hidden" name="invoice_id" id="invoice_id" value="<?php echo $this->invoice['id']; ?>">
        <input type="hidden" name="order_id" id="order_id" value="<?php echo $this->invoice['order_id']; ?>">
        <input type="hidden" name="IdStudentRegistration" id="IdStudentRegistration" value="<?php echo $this->invoice['IdStudentRegistration']; ?>">
        <input type="hidden" name="course_id" id="course_id" value="<?php echo $this->courseid; ?>">
        <tr>
            <th colspan="2"><strong><?php echo $this->translate('Invoice No') ?>
                    : <?php echo $this->invoice['bill_number']; ?></strong></th>
        </tr>

        <tr>
            <td><?php echo $this->translate('Amount') ?></td>
            <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice['bill_amount_gst'], 'symbol' => $this->invoice['cur_code'])) ?></td>
        </tr>

        <?php if ($this->invoice['dn_amount'] != '0.00') { ?>
            <tr>
                <td><?php echo $this->translate('Discount') ?></td>
                <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice['dn_amount'], 'symbol' => $this->invoice['cur_code'])) ?></td>
            </tr>
        <?php } ?>
        <tr>
            <td><?php echo $this->translate('GST Tax 6%') ?></td>
            <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice['gst_amount'], 'symbol' => $this->invoice['cur_code'])) ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Total') ?></td>
            <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice['bill_balance'], 'symbol' => $this->invoice['cur_code'])) ?></td
    </table>

    <table class="uk-table uk-table-stacked uk-table-main">
        <tr>
            <th colspan="2"><strong><?php echo $this->translate('Payment Mode') ?></strong></th>
            <th width="10%"><strong><?php echo $this->translate('Service Fees'); ?></strong></th>
            <th width="10%"><strong><?php echo $this->translate('Net Amount'); ?></strong></th>
        </tr>
        <?php foreach ( $this->paymentmodelist as $payment ): ?>
            <?php $cur_code = $payment['cur_code']; ?>
            <tr>
                <td width="2px">
                    <input type="radio" name="payment_mode" class="payment_mode" value="<?php echo $payment['id']; ?>"/>
                    <input type="hidden" name="foc_<?php echo $payment['id']; ?>" id="foc_<?php echo $payment['id']; ?>" value="<?php echo $payment['foc'] ?>">

                </td>
                <td><?php echo $payment['description']; ?>
                    <?php if ($payment['fees_type'] == 2): ?>
                        (with <?php echo $payment['fees_percentage']; ?>% Service Charges)
                    <?php endif; ?>

                </td>
                <td align="right"><?php echo $cur_code; ?><?php echo number_format($payment['fees_display_amount'], 2); ?></td>
                <td align="right" class="net_amount_with_fees">
                    <?php echo $cur_code; ?><?php echo number_format($payment['net_amount_with_fees'], 2); ?>
                </td>
            </tr>
        <?php endforeach; ?>
        <?php?>
        <tr>
            <td><input type="radio" name="payment_mode" class="payment_mode" value="-999"/></td>
            <td>FPX - Skip Payment</td>
            <td align="right"></td>
            <td align="right"></td>
        </tr>
    </table>

    <h3>Declaration</h3>
    <?php //pr($this->program); ?>
    <input type="checkbox" name="agreement" id="agreement"/>
    I hereby declare that the information given is true and accurate. If I passed the examination and the
    information given is found to be not true, I understand that IBFIM reserves the right to Cancel the
    examination result and take action according to the rules and regulation
    of <strong><?php echo isset($this->program['ProgramName'])?$this->program['ProgramName']:$this->order['course_name']; ?></strong>.

    <hr>
    <div class="uk-text-right">
        <p class="uk-text-muted">By clicking the "Confirm" button, you agree to these <a href="#">Terms of Service</a>.</p>
        <a href="<?php echo $this->baseUrl() ?>/dashboard"
           class="uk-button uk-button"><?php echo $this->translate('Back') ?></a>
        <button type="submit" id="confirm" class="uk-button uk-button-primary" disabled> <?php echo $this->translate('Confirm'); ?></button>
    </div>
</form>

<script type="text/javascript">
$(function() {
    $('#agreement').change(function(e) {
        if ($(this).is(':checked'))
            $('#confirm').attr("disabled", false);
        else
            $('#confirm').attr("disabled", true);
    });

    $('#form-checkoutmode').submit(function(e) {
        if ( !$('.payment_mode:checked').length ) {
            e.preventDefault();
            alert('Please select Payment Mode');
            return false;
        }

        var proceed = confirm ( 'Are you sure?' );
        if (!proceed) {
            e.preventDefault();
            return false;
        }
    });
});
</script>