<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ddlist/ddlist.min.js' );
$this->headLink()->appendStylesheet( $this->baseUrl().'/js/plugins/ddlist/ddlist.css' );
?>
<?php echo $this->headLink()->appendStylesheet($this->baseUrl() . '/js/plugins/fullcalendar/fullcalendar.min.css'); ?>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/plugins/moment/moment.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/plugins/fullcalendar/fullcalendar.js"></script>
<style type="text/css">
    #calendar-container { height: 430px; overflow-y: scroll; }
    #select-th { text-align: center; display: none; }
    tr.selected > td { background-color: #ebf7fd; }
    #alert-no-schedule { display: none; }
    #exam-detail-loader { display: none; }
    .center { text-align: center; }
</style>
<ol class="progress-track">
    <li class="progress-done progress-current">
        <div class="icon-wrap">
            <i class="icon uk-icon-search animated zoomIn"></i>
        </div>
        <span class="progress-text">Exam Registration</span>
    </li>

    <!--<li class="progress-todo ">
        <div class="icon-wrap">
            <i class="icon uk-icon-shopping-cart"></i>
        </div>
        <span class="progress-text"><?php /*echo $this->translate('Payment')*/?></span>
    </li>-->
</ol>

<div class="uk-alert uk-alert-danger" id="alert-no-schedule">
    <?php echo $this->translate('No exam has been scheduled for program'); ?> <?php echo $this->cart[0]['name']; ?>
</div>

<h2><?php echo $this->translate('Exam Registration')?></h2>

<!--<form method="post" id="form-enroll"  action="--><?php //echo $this->baseUrl()?><!--/user/dashboard/tab/exam">-->
<form method="post" id="form-enroll"  action="<?php echo $this->baseUrl()?>/exam/examcheckout">
    <input type="hidden" value="<?php echo Cms_Common::token()?>" name="token"/>

    <input type="hidden" name="StudentCategory" id="StudentCategory"
           value="<?php echo $this->cart[0]['data']['StudentCategory']; ?>">
    <input type="hidden" name="IdMode" id="IdMode"
           value="879">
    <input type="hidden" name="IdProgramScheme" id="IdProgramScheme"
           value="">
    <input type="hidden" name="fs_id" id="fs_id"
           value="">

    <?php if ( count($this->cart) > 0 ) { ?>
        <table class="uk-table uk-table-stacked uk-table-main">
            <tr>
                <th width="15%"><?php echo $this->translate('Program'); ?></th>
                <td width="85%" colspan="2">
                    <?php echo $this->cart[0]['name']; ?>
                    <input type="hidden" name="IdProgram" id="IdProgram" value="<?php echo $this->cart[0]['data']['IdProgram']; ?>">
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Learning Mode'); ?></th>
                <td colspan="2">
                    <select class="IdLandscape uk-select" name="IdLandscape" id="IdLandscape" class="select">
                        <option value="0"><?php echo $this->translate('Please select') ?></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Exam Name'); ?></th>
                <td colspan="2">
                    <select class="examsetup_id uk-select" name="examsetup_id" id="examsetup_id" class="select">
                        <option value="0"><?php echo $this->translate('Please select') ?></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Exam Paper'); ?></th>
                <td colspan="2">
                    <table id="schedule-table" class="uk-table uk-table-bordered" width="100%" style="display: none">
                        <thead>
                        <tr>
                            <th width="5%" id="select-th"><strong><?php echo $this->translate('Select'); ?></strong></th>
                            <th width="35%"><?php echo $this->translate('Paper Name'); ?></th>
                            <th width="30%"><?php echo $this->translate('Exam Centre'); ?></th>
                            <th width="15%"><?php echo $this->translate('Exam Date'); ?></th>
                            <th width="15%">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="center">
                        <img src="<?php echo $this->baseUrl(); ?>/images/loading.gif" id="exam-detail-loader" />
                    </div>
                </td>
            </tr>

            <!--<tr>
                <td colspan="2" width="90%" class="uk-text-right"><strong>Amount</strong></td>
                <td class="price uk-text-right"><?php /*echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR ' ))*/?></td>
            </tr>
            <tr style="display:none" class="discount-row">
                <td colspan="2" class="uk-text-right"><strong>Discount (<span class="discount"></span>) <span
                            class="discount-desc"></span></strong></td>
                <td class="totaldiscount uk-text-right"><?php /*echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR ')) */?></td>
            </tr>
            <tr>
                <td class="uk-text-right" colspan="2"><strong><?php /*echo $this->translate('GST Tax 6%') */?>
                        :</strong>
                </td>
                <td class="totaltax  uk-text-right"><?php /*echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR ' ))*/?></td>
            </tr>
            <tr>
                <td class="uk-text-right" colspan="2"><strong><?php /*echo $this->translate('Total') */?>:</strong></td>
                <td class="totalprice  uk-text-right"><strong><?php /*echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR')) */?></strong></td>
            </tr>-->
            </tbody>
        </table>

    <?php } ?>

    <hr />

    <div class="uk-text-right">
        <!--<p class="uk-text-muted">By clicking the "Proceed to Payment" button, you agree to these <a href="#">Terms of Service</a>. </p>-->
        <input type="button" class="uk-button" name="back" value="<?php echo $this->translate('Back')?>" onclick="javascript:history.go(-1)"/>
<!--        <input type="submit" class="uk-button uk-button-primary" name="register" id="register-btn" value="--><?php //echo $this->translate('Proceed to Payment')?><!--" />-->
<!--        <input type="submit" href="--><?php //echo $this->baseUrl() ?><!--/user/dashboard/tab/exam" class="uk-button uk-button-primary" name="register" id="register-btn" value="--><?php //echo $this->translate('Register Exam')?><!--" />-->
        <input type="submit" class="uk-button uk-button-primary" name="register" id="register-btn" value="<?php echo $this->translate('Register Exam')?>" />

    </div>


</form>

<script type="text/javascript">
    <?php //jspack_start(); ?>
    function schedule(id,regtype, e,cid)
    {
        var parent = $(e).parents("tr");
        var modal = UIkit.modal("#schedule-modal");

        var scheduleId = $('#scheduleId').val();

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'schedule'),'default',true);?>",
                data: "id="+id+'&regtype='+regtype+'&courses='+parent.data("courses")+"&cid="+cid,
                type: 'POST',
                beforeSend: function() {
                    $('#schedule-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
                .done(function ( data ) {
                    $("#schedule-modal").data("id", id);
                    setTimeout(function() { $("#schedule-modal-container").html ( data ); } , 500 );
                });
        }

        return false;
    }
    function addFriend()
    {
        var modal = UIkit.modal("#content-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'addfriend'),'default',true);?>",
                data: {},
                type: 'POST',
                beforeSend: function() {
                    $('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
                .done(function ( data ) {
                    setTimeout(function() { $("#modal-container").html ( data ); } , 500 );
                });
        }

        return false;
    }

    function checkSchedule()
    {
        var fail = 0;
         $(".scheduledata").each(function() {
         if ( $(this).val() == '' )
         {
         fail = 1;
         $(this).parent().find("i").addClass("uk-text-danger");
         }
         });

         if ( fail == 1 )
         {
         alertify.alert("You need to select course schedules first before proceeding.");
         return false;
         }

        return true;
    }



    var currency = '';
    var total = 0;
    var tax = <?php echo Cms_Options::__('taxamount')?>;
    var totaldiscount = 0;
    var totalapplication = 1;


    function updatePrice(ExamOption) {

        total = 0;
        totaldiscount = 0;

        /*
         * DEBUG PARAM
         * $ curl -d 'IdMode=578&IdProgram=1&IdProgramScheme=0&Category=579&totalStudent=1&ExamOption={"0":"2","1":"6"}' http://ibfim-sms.local/services/api/get/Finance/do/getAmountExam
         */

        var IdMode = $('#IdMode').val();
        var IdProgram = $('#IdProgram').val();
        var IdProgramScheme = $('#IdProgramScheme').val();
        var StudentCategory = $('#StudentCategory').val();

        var ExamOption = JSON.stringify(ExamOption);

        if (ExamOption) {
            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'amountexam'),'default',true);?>",
                data: 'IdMode=' + IdMode + '&IdProgram=' + IdProgram + '&IdProgramScheme=' + IdProgramScheme + '&Category=' + StudentCategory + "&totalStudent=" + totalapplication + "&ExamOption=" + ExamOption,
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
                    //$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function () {

                }
            })

                .done(function (data) {

                    var debug_data = JSON.stringify(data);
                    $("#underground_debug").html(debug_data);

                    if (data.error == 0) {

                        $("#fs_id").val(data.fee.fs_id);
                        $(".price").html(data.fee.cur_code + " <span class='price_value'>" + data.totalFee.toFixed(2) + '</span>');
                        $(".price .price_value").each(function () {
                            total += parseFloat($(this).html());
                        });

                        currency = data.fee.cur_code;
                        updateTotal();
                    }
                    /*  else {
                     if (schedule_data != '') {
                     //TAK ADA PROGRAM SCHEME, PERGI CHECK FEE STRUCTURE OK?
                     alertify.alert('This program is not offered in blended mode. Please select either Face-to-face or Online mode for all courses in this program.');
                     }
                     }*/
                });
        }

    }

    function updateTotal() {

        var IdMode = $('#IdMode').val();
        var IdProgram = $('#IdProgram').val();

        $.ajax({
            url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'discount'),'default',true);?>",
            data: 'categoryId=' + (totalapplication == 1 ? 1 : 2) + '+&totalStudent=' + totalapplication + '&companyId=0&isStudent=0&IdMode=' + IdMode + '&IdProgram=' + IdProgram+ '&registrationItem=' + 879,
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                //$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
            },
            complete: function () {

            }
        }).done(function (data) {

            if (data.error == 0 && typeof data.discountAmount === "undefined") {
                //tade data...
                $(".discount-row").hide();
            }
            else {
                if (data.discountAmount > 0.00) {
                    $(".discount-row").show();

                    if (data.CalculationType == 'Percentage') {
                        totaldiscount = ( parseFloat((data.discountAmount) / 100) * total ).toFixed(2);
                        $(".discount").html(data.discountAmount + "%");
                        $(".discount-desc").html(data.description);
                    }
                    else {
                        totaldiscount = parseFloat(data.discountAmount).toFixed(2);
                        $(".discount").html("MYR " + data.discountAmount);
                        $(".discount-desc").html('');
                    }

                    $(".totaldiscount").html("-" + currency + " " + totaldiscount);
                }
                else {
                    $(".discount-row").hide();
                }
            }

            //calculate total
            total = total - totaldiscount;
            var totaltax = ( parseInt(tax) / 100) * total;
            var totalprice = total + totaltax;

            $('.totaltax').html(currency + " <span class='totaltax_value'>" + totaltax.toFixed(2) + '</span>');
            $('.totalprice').html(currency + " <span class='totalprice_value'>" + (totalprice).toFixed(2) + '</span>');

        });
    }

    function deleteGuest(id)
    {
        var msg = 'Are you sure you want to remove this person?';

        alertify.confirm(msg, function () {

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'removefriend'),'default',true);?>",
                data: 'id='+id,
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    //$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            }).done(function ( data ) {

                if ( data.error == 0 )
                {
                    $("#friend-"+id).remove();
                    updatePrice();
                }
            });


        });

        return false;
    }

    <?php //jspack_output() ?>
</script>

<div style="display:none;" id="underground_debug"></div>

<div id="select-date-dialog" title="<?php echo $this->translate('Select Schedule/Session'); ?>"></div>

<script type="text/javascript">

    $(function(){
        var IdLandscape = $('#IdLandscape option:selected').val(47);
        $("select#IdLandscape").val('47').trigger('change');
        /*$('#IdLandscape').val(58);

        yourFunction(); //this calls it on load
        $("select#marca").change(yourFunction);*/

        /*var examsetup_id = parseInt(24);
//        var IdLandscape  = $('#IdLandscape').val(58);
        var IdLandscape = $('#IdLandscape option:selected').val(58);
        var IdProgram = $('#IdProgram').val();
        alert(examsetup_id+" = "+IdLandscape+" = "+IdProgram);
        $( "#IdLandscape" ).trigger( "change" );*/
//        $( "#examsetup_id" ).trigger( "change" );

    });


    var ExamOption = [];

    $('#select-date-dialog').dialog({
        autoOpen: false,
        width: '925px',
        modal: true,
        resizable: false
    });

    $('#IdProgram').change(function(e) {
        var IdProgram = parseInt($(this).val());

        $('#IdLandscape').html('<option value="0">Please select</option>');
        $('#examsetup_id').html('<option value="0">Please select</option>');
        $('#schedule-table tbody').html('');
        $('#select-th').hide();

        if(!IdProgram) {
            return false;
        }

        var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-landscape/';
        $.post(ajaxUrl, { IdProgram:IdProgram}, function(data) {
            if($.isEmptyObject(data)) {
                alert('No exam has been scheduled for program <?php echo $this->cart[0]['name']; ?>');
                return false;
            }

            $.each(data, function (index, row) {
                $('#IdLandscape').append('<option value="'+row.IdLandscape+'">'+row.mode_of_program_desc+'</option>');
            });
        }, 'JSON')
            .fail(function() {
                alert('Failed to get Learning Mode');
                return false;
            })
            .always(function() {

            });
    });

    $(document).on('change', 'select#select-exam-year', function(e) {
        $('#select-date-dialog').dialog('close');
        var esd_id = $('#modal-esd-id').val();
        getExamDate(esd_id);
    });

    $(document).on('click', 'button.select-date-btn', function(e) {
        e.preventDefault();
        var esd_id = parseInt($(this).data('esd-id'));
        getExamDate(esd_id);
    });

    function getExamDate(esd_id) {
        var btn_object  = $('.select-date-btn[data-esd-id='+esd_id+']');
        var ec_id       = parseInt($(btn_object).parents('tr:first').find('.ec_id').val());
        var paper_desc  = $(btn_object).parents('tr:first').find('.paper_desc').text();
        var module_desc = $(btn_object).parents('tr:first').find('.module_desc').text();
        var ec_desc     = $(btn_object).parents('tr:first').find('.ec_id option:selected').text();
        var year        = $('#select-exam-year').val();

        if(!ec_id) {
            alert('Please select Exam Center first');
            return false;
        }

        var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-date/';
        $.post(ajaxUrl, { esd_id:esd_id, ec_id:ec_id, year:year } , function(data) {
            $('#select-date-dialog').html(data);
            $('#info-paper').text(': '+paper_desc);
            $('#info-module').text(': '+module_desc);
            $('#info-exam-center').text(': '+ec_desc);
            $('#info-date').text(': Please select date');

            setTimeout(function(){
                $('.calendar').fullCalendar('render');
            }, 100);

            $('#modal-esd-id').val(esd_id);
            $('#select-date-dialog').dialog('open');
        })
        .fail(function() {
            $('#select-date-dialog').dialog('close');
            alert('Failed to get Exam Date');
            return false;
        })
        .always(function() {

        });
    }

    function getLearningModeFromIdProgram()
    {
        var IdProgram = parseInt($('#IdProgram').val());

        //$('#IdLandscape').html('<option value="0">Please select</option>');
        $('#examsetup_id').html('<option value="0">Please select</option>');
        $('#schedule-table tbody').html('');

        if(!IdProgram) {
            return false;
        }

        var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-landscape/';
        $.post(ajaxUrl, { IdProgram:IdProgram}, function(data) {
            if($.isEmptyObject(data)) {
                $('#alert-no-schedule').show();
                $('#register-btn, #examsetup_id, #IdLandscape').prop('disabled', true);
                
                setTimeout(function() {
                    alert('No exam has been scheduled for program <?php echo $this->cart[0]['name']; ?>');
                }, 500);
                return false;
            }

            $.each(data, function (index, row) {

                if (row.IdLandscape == 47) {
                    var sel = 'selected';
                } else {
                    var sel = '';
                }

                $('#IdLandscape').append('<option value="'+row.IdLandscape+'" data-idprogramscheme="'+row.IdProgramScheme+'"'+sel+'>'+row.mode_of_program_desc+'</option>');
            });
        }, 'JSON')
            .fail(function() {
                alert('Failed to get Learning Mode');
                return false;
            })
            .always(function() {

            });

//        $("select#IdLandscape").val('47').trigger('change');
    }

    $('#IdLandscape').change(function(e) {
        //var IdLandscape  = parseInt(58);
        var IdLandscape = parseInt($(this).val());
        var IdProgram   = parseInt($('#IdProgram').val());

        $('#examsetup_id').html('<option value="0">Please select</option>');
        $('#schedule-table tbody').html('');
        $('#select-th').hide();

        if(!IdLandscape) {
            return false;
        }

        $('#IdProgramScheme').val($('#IdLandscape > option:selected').data('idprogramscheme'));

        var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-option/';
        $.post(ajaxUrl, { IdLandscape:IdLandscape, std_id: <?php echo $this->std_id; ?> } , function(data) {
            if($.isEmptyObject(data)) {
                alert('No exam has been scheduled for learning mode '+ $('#IdLandscape :selected').text());
                return false;
            }

            $.each(data, function (index, row) {
                $('#examsetup_id').append('<option value="'+row.es_id+'">'+row.es_name+' - '+row.es_online_desc+'</option>');
            });
        }, 'JSON')
            .fail(function() {
                alert('Failed to get Exam Option');
                return false;
            })
            .always(function() {

            });
    });

    $('#examsetup_id').change(function(e) {
        /*var examsetup_id = parseInt(24);
        var IdLandscape  = parseInt(58);
        var IdProgram = $('#IdProgram').val();*/

        var examsetup_id = parseInt($(this).val());
        var IdLandscape  = parseInt($('#IdLandscape').val());
        var IdProgram    = parseInt($('#IdProgram').val());
        ExamOption = [];
        $('#schedule-table').show();

        $('#schedule-table tbody').html('');
        $('#select-th').hide();

        if(!examsetup_id) {
            return false;
        }

        var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-detail/';
        $('#exam-detail-loader').show();
        $('#IdLandscape,#examsetup_id').prop('disabled', true);
        
        $.post(ajaxUrl, { es_id:examsetup_id, std_id: <?php echo $this->std_id; ?> } , function(data) {
            $('#exam-detail-loader').hide();
            $('#IdLandscape,#examsetup_id').prop('disabled', false);
            
            if($.isEmptyObject(data)) { 
                alert('No exam has been scheduled for exam option '+ $('#examsetup_id :selected').text());
                return false;
            }

            var register_all = true;

            $.each(data, function (index, row) {

                ExamOption.push(index,row.pe_id);
                // $('#IdMode').val(row.IdMode);
                // $('#IdProgramScheme').val(row.IdProgramScheme);

                var select_paper_td = '';
                var disabled_this = '';

                if (row.register_all == '0')
                {
                    register_all = false;
                    $('#select-th').show();

                    disabled_this = ' disabled ';
                    select_paper_td = '<td class="select_paper_td" align="center">'+
                                            '<input type="radio" name="select_paper" class="select_paper" value="'+index+'" data-pe-id='+row.pe_id+' />' +
                                        '</td>';

                }
                var html = '';

                if (row.allow_registration == '1')
                {
                    html =  '<tr>'+
                        select_paper_td +
                        '<td class="paper_desc">' + row.pe_name + ' <br>' + row.module_desc + '</td>' +
                        '<td align="center">' +
                        '<select class="ec_id uk-select uk-width-large" '+disabled_this+'>' +
                        '<option value="0">Please select</option>';

                    $.each(row.sorted_exam_centers, function(ec_index, ec_row) {
                        html += '<option value="'+ec_row.ec_id+'">'+ec_row.ec_name+'</option>';
                    });

                    html += '</select>'+
                        '</td>'+
                        '<td align="center">'+
                        '<input type="hidden" name="examsetupdetail_id[]" data-esd-id="'+row.esd_id+'" class="examsetupdetail_id" value="'+row.esd_id+'" />'+
                        '<input type="hidden" name="examschedule_id[]" data-esd-id="'+row.esd_id+'" class="examschedule_id '+disabled_this+'" value="" />'+
                        '<input type="hidden" name="examcenter_id[]" data-esd-id="'+row.esd_id+'" class="examcenter_id" value="" />'+
                        '<input type="hidden" name="examtaggingslot_id[]" data-esd-id="'+row.esd_id+'" class="examtaggingslot_id" value="" />'+
                        '<div class="es_date" data-esd-id="'+row.esd_id+'"></div>'+
                        '</td>'+
                        '<td align="center">'+
                        '<button href="#" class="select-date-btn uk-button uk-button-primary" data-esd-id="'+row.esd_id+'" '+disabled_this+'>'+
                            '<i class="uk-icon-calendar uk-margin-small-right"></i> <?php echo $this->translate("Select Date"); ?>'+
                        '</button>'+
                        '</td>'+
                        '</tr>';
                }
                else
                {
                    html = '<tr>';

                    if (row.register_all == '0')
                    {
                        html += '<td></td>';
                    }

                    html += '<td class="paper_desc">' + row.pe_name + ' <br>' + row.module_desc + '</td>';
                    
                    if (row.prerequisites.length)
                    {
                        html += '<td class="uk-text-danger" colspan="3">Require prerequisite';
                        html += '<ul>';

                        $.each(row.prerequisites, function(pre_id, pre_row) {
                            html += '<li>';
                            html += pre_row.pep_grade_status_text + ' in ' + pre_row.pep_based_on_text;

                            if (pre_row.required_pe_desc.length)
                            {
                                html += ' '+ pre_row.required_pe_desc;

                                if (pre_row.required_IdProgram_desc.length)
                                {
                                    html += ' of '+ pre_row.required_IdProgram_desc;
                                }
                            }
                            else
                            {
                                if (pre_row.required_IdProgram_desc.length)
                                {
                                    html += ' :: Program '+ pre_row.required_IdProgram_desc;
                                }

                                if (pre_row.required_IdLandscape_desc.length)
                                {
                                    html += ' :: '+ pre_row.required_IdLandscape_desc + ' Learning Mode';
                                }

                                if (pre_row.required_IdSubject_desc.length)
                                {
                                    html += ' :: Module '+ pre_row.required_IdSubject_desc;
                                }
                            }

                            html += '</li>';
                        });
                        html += '</ul></td>';
                    }
                    else
                    {
                        html += '<td class="uk-text-danger" colspan="3">' + row.checking.message +'</td>';
                    }
                    
                    html += '</tr>';
                }

                
                $('#schedule-table tbody').append(html);
            });

            if (register_all)
            {
                updatePrice(ExamOption);
            }

        }, 'JSON')
            .fail(function() {
                alert('Failed to get Exam Detail');
                return false;
            })
            .always(function() {

            });


    });


    // $(document).on('click', 'a.select-date-btn', function(e) {
    //     e.preventDefault();
    //     var ec_id       = parseInt($(this).parents('tr:first').find('.ec_id').val());
    //     var esd_id      = parseInt($(this).data('esd-id'));
    //     var paper_desc  = $(this).parents('tr:first').find('.paper_desc').text();
    //     var module_desc = $(this).parents('tr:first').find('.module_desc').text();
    //     var ec_desc     = $(this).parents('tr:first').find('.ec_id option:selected').text();

    //     if(!ec_id) {
    //         alert('Please select Exam Centre first');
    //         return false;
    //     }

    //     var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-date/';
    //     $.post(ajaxUrl, { esd_id:esd_id, ec_id:ec_id } , function(data) {
    //         $('#select-date-dialog').html(data);
    //         $('#info-paper').text(': '+paper_desc);
    //         $('#info-module').text(': '+module_desc);
    //         $('#info-exam-center').text(': '+ec_desc);
    //         $('#info-date').text(': Please select date');

    //         setTimeout(function(){
    //             $('.calendar').fullCalendar('render');
    //         }, 100);

    //         $('#select-date-dialog').dialog('open');
    //     })
    //         .fail(function() {
    //             $('#select-date-dialog').dialog('close');
    //             alert('Failed to get Exam Date');
    //             return false;
    //         })
    //         .always(function() {

    //         });
    // });

    $('#form-enroll').submit(function(e) {
//        if(!$('input.examschedule_id[type=hidden]').length) {
//            e.preventDefault();
//            alert('Please complete the form');
//            return false;
//        }

        var proceed = true;

        if ($('.select_paper:visible').length && !$('.select_paper:visible:checked').length)
        {
            e.preventDefault();
            alert('Please select Paper');
            return false;
        }


        $.each($('input.examschedule_id[type=hidden]:not(.disabled)'), function() {
            if(!$(this).val().length) {
                proceed = false;
                return false;
            }
        });

        if(!proceed) {
            e.preventDefault();
            alert('Please select exam date');
            return false;
        }

        proceed = confirm("Are you sure?");
        if(!proceed) {
            e.preventDefault();
            return false;
        }

        $('#IdProgramScheme').val($('#IdLandscape > option:selected').data('idprogramscheme'));

    });

    $(document).on('change', 'select.ec_id', function(e) {
        $(this).parents('tr:first').find('input.examschedule_id').val('');
        $(this).parents('tr:first').find('div.es_date').html('');
    });

    $(document).on('change', 'input.select_paper', function(e) {
        $('.ec_id, .select-date-btn').prop('disabled', true);
        $('.examschedule_id').addClass('disabled');

        $('tr.selected').removeClass('selected');

        $('#schedule-table').find('.examschedule_id, .examcenter_id, .examtaggingslot_id').val('');
        $('#schedule-table').find('.ec_id').val('0');
        $('#schedule-table').find('.es_date').html('');

        $(this).closest('tr').addClass('selected');
        $(this).closest('tr').find('.ec_id, .select-date-btn').prop('disabled', false);
        $(this).closest('tr').find('.examschedule_id').removeClass('disabled');

        var pe_id = $(this).data('pe-id');
        ExamOption = [];
        ExamOption.push(pe_id);
        updatePrice(ExamOption);
    });

    $(function() {
        getLearningModeFromIdProgram();
        $("#select-date-dialog").css("background-color", "#FFFEF6");
    });
</script>
