<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ddlist/ddlist.min.js' );
$this->headLink()->appendStylesheet( $this->baseUrl().'/js/plugins/ddlist/ddlist.css' );
?>
<div class="uk-grid">
    

  
    <div class="uk-width-medium-8-10">
<ol class="progress-track">
    <li class="progress-done">
        <div class="icon-wrap">
           <i class="icon uk-icon-check animated bounceIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Catalog')?></span>
    </li>

    <li class="progress-done progress-current">
        <div class="icon-wrap">
            <i class="icon uk-icon-search animated zoomIn"></i>
            </div>
            <span class="progress-text">Review &amp; Confirm</span>
    </li>

    <li class="progress-todo ">
        <div class="icon-wrap">
            <i class="icon uk-icon-shopping-cart"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Payment')?></span>
    </li>
</ol>

<h2>
    <?php echo $this->translate('Confirm Registration')?>
    <span class="uk-float-right"><small><a onclick="return coupon()" class="uk-button uk-button-mini" href="#" id="couponLink"> Got Coupon Code?</a></small></span>
</h2>

<form method="post" id="form-enroll"  action="<?php echo $this->baseUrl()?>/register/checkout">
<input type="hidden" value="<?php echo Cms_Common::token()?>" name="token"/>

<table class="uk-table uk-table-stacked uk-table-main">
    <thead>
        <tr>
            <th><?php echo $this->translate('Item')?></th>
            <th width="30%"><?php echo $this->translate('Session')?></th>
            <th width="120" class="uk-text-right"><?php echo $this->translate('Price')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->cart) == 0 ) { ?>
    <tr>
        <td colspan="3"><?php echo $this->translate('Empty')?></td>
        <?php $back_link = "/dashboard" ?>
    </tr>
    <?php } else { ?>
    <?php foreach ( $this->cart as $row ) { ?>
    <tr class="item-row" data-id="<?php echo $row['id']?>" data-idmode="OL" data-courses="<?php echo $row['data']['courses']?>" data-idprogram="<?php echo $row['data']['IdProgram']?>" data-idprogramscheme="<?php echo $row['data']['IdProgramScheme']?>" data-category="<?php echo $row['data']['StudentCategory']?>" data-idsubject="<?php echo $row['data']['IdSubject']?>">
        <td>
            <a href="<?php echo $row['link']?>"><?php echo $row['code']?> : <?php echo $row['name']?></a></td>
            <?php $back_link = $row['link'] ?>
        <td>
            <i class="uk-icon-calendar-check-o linkicon"></i> <a href="#" class="uk-button uk-button-mini" onclick="return schedule(<?php echo $row['id']?>,'<?php echo $row['regtype']?>', this,'<?php echo $this->cid?>')"> <?php echo $this->translate('View')?></a>
            <input type="hidden" value="" id="schedule-<?php echo $row['id']?>" class="scheduledata" name="scheduledata[<?php echo $row['id']?>]" />
        </td>
        <td class="price uk-text-right"><?php echo new Zend_Currency(array('value' => $row['price'], 'symbol' => 'MYR' ))?></td>
    </tr>
    <?php } ?>
    <?php } ?>
    <tr style="display:none" class="discount-row">
        <td>Discount (<span class="discount"></span>) <span class="discount-desc"></span></td>
        <td></td>
        <td class="totaldiscount uk-text-right"><?php echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR ' ))?></td>
    </tr>
    <tr style="display:none;" class="coupon-row">
        <td class="uk-text-right" colspan="2"><strong><?php echo $this->translate('Coupon')?> (<span id="couponNumber"></span>):</strong></td>
        <td class="totalcoupon  uk-text-right"><?php echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR ' ))?></td>
    </tr>
    <tr>
        <td class="uk-text-right" colspan="2"><strong><?php echo $this->translate('GST Tax 6%')?>:</strong></td>
        <td class="totaltax  uk-text-right"><?php echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR ' ))?></td>
    </tr>
    <tr>
        <td class="uk-text-right" colspan="2"><strong><?php echo $this->translate('Total')?>:</strong></td>
        <td class="totalprice  uk-text-right"><?php echo new Zend_Currency(array('value' => 0, 'symbol' => 'MYR' ))?></td>
    </tr>
    </tbody>
</table>

<br />
<h3 class="group-opt" style="display:none"><i class="uk-icon-dollar uk-text-muted"></i> <a href="#" onclick="$(this).parent().hide(); $('#group-wrap').show(); return false;"><?php echo $this->translate('Unlock Group Discount')?></a></h3>

<div id="group-wrap" style="<?php echo !empty($this->guests) ? '': 'display:none'?>">
    <span class="uk-float-right">
        <i class="uk-text-muted uk-icon-close"></i> <a href="#" onclick="$('.group-opt').show(); $('#group-wrap').hide(); return false;"> No Thanks</a>
    </span>
<h3><?php echo $this->translate('Friends')?> <i class="uk-icon-question-circle text-info" data-uk-tooltip title="You can enrol more people to unlock group discount. You must at least enrol 2 more people for this."></i></h3>
<table class="uk-table uk-table-stacked uk-table-main" id="friends-table">
    <thead>
    <tr>
        <th width="60%"><?php echo $this->translate('Name')?></th>
        <th width="10%"><?php echo $this->translate('Email')?></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php $i=0; ?>
    <?php if ( !empty($this->guests)) { ?>
    <?php foreach ( $this->guests as $guest ) { ?>
        <tr class="row" id="friend-<?php echo $guest['unique']?>"><?php $i++ ?>

            <td><?php echo $guest['firstname'].' '.$guest['lastname']?></td>
            <td><?php echo $guest['email']?></td>
            <td class="uk-text-center"><a href='#' onclick="return deleteGuest('<?php echo $guest['unique']?>')" title='<?php echo $this->translate('Delete')?>'><i class='uk-icon-trash-o'></i></a></td>
        </tr>
    <?php } ?>
    <?php } ?>
    <?php if ( $i < 2 ) { ?>
    <tr class="empty">
        <td colspan="3" class="uk-text-muted"><?php echo $this->translate('Add at least '.(2-$i).' '.($i==0?'':'more').' to unlock discount.')?></td>
    </tr>
    <?php } ?>
    </tbody>
</table>
<a href="#" onclick="return addFriend();"><i class="uk-icon-user-plus uk-text-success"></i> <?php echo $this->translate('Add Friend')?> </a>
</div>

<br />

<hr />

<div class="uk-text-right">
    <p class="uk-text-muted">By clicking the "Confirm" button, you agree to these <a href="#">Terms of Service</a>. </p>
<!--    <input type="button" class="uk-button uk-button-large" name="paylater" value="--><?php //echo $this->translate('Pay Later')?><!--" onclick="paylaterautopaid('test')"/>-->
    <input type="button" class="uk-button uk-button-large" name="back" value="<?php echo $this->translate('Back')?>" onclick="redirect('<?php echo $back_link //echo Cms_System_Course::link($this->course_id,$this->course['id']); ?>')"/>
<input type="submit" class="uk-button uk-button-large uk-button-primary" name="register" value="<?php echo $this->translate('Confirm')?>" />
</div>

</form>

<!-- content modal -->
<div id="content-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h3><?php echo $this->translate('Add Friend')?></h3>
        </div>

        <div id="modal-container" data-uk-observe>

        </div>
    </div>
</div>
<!-- /content modal -->

<!-- schedule modal -->
<div id="schedule-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>

        <input type="hidden" name="scheduleIdBlock" id="scheduleIdBlock" value="">

        <div class="uk-modal-header">
            <h3><?php echo $this->translate('Training Session')?></h3>
        </div>

        <div id="schedule-modal-container">
        </div>
    </div>
</div>
<!-- /schedule modal -->

<!-- coupon modal -->
<div id="coupon-modal" class="uk-modal">
    <form class="uk-form" onsubmit="return false;">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <button type="button" class="uk-modal-close uk-close"></button>

            <div class="uk-modal-header">
                <h3><?php echo $this->translate('Coupon Code')?></h3>
            </div>

            <div id="coupon-modal-container">
                <ul class="infolist">
                    <li>
                        <span>Coupon Code:</span>
                        <input type="text" name="couponCode" id="couponCode" class="uk-form uk-form-width-large uk-margin-left" value="" placeholder="Enter a valid coupon code and Click 'Validate'">
                        <small id="errorMsgCoupon" style="display:none;" class="uk-text-danger" data-fv-validator="notEmpty" data-fv-for="couponCode" data-fv-result="INVALID">Please enter a value</small>
                    </li>
                </ul>
            </div>

            <div class="uk-modal-footer">
                <span>
                    <a href="#" onclick="return UIkit.modal('#coupon-modal').hide();" class="uk-button" id="cancelCoupon"> Cancel</a>
                    <a href="#" onclick="return validateCouponCode()" class="uk-button uk-button-primary" id="validateCoupon"> Validate</a>
                </span>
            </div>
        </div>
    </form>
</div>
<!-- /coupon modal -->

<script type="text/javascript">
    <?php //jspack_start(); ?>

    var couponValue = 0;

    function validateCouponCode()
    {
        var couponCode = $("#couponCode").val();
        var totalprice = window.fullprice;
        var currency = window.currency;

        if (couponCode)
        {   
            $("#couponCode").removeClass('uk-form-danger');
            $("#errorMsgCoupon").hide();

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'coupon'),'default',true);?>",
                data: { 'couponCode' : couponCode, 'currency' : currency, 'totalprice' : totalprice },
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    $(".totaltax, .totalprice, .totaldiscount").html('<i class="uk-text-muted">calculating ...</i>');
                },
            })
            .done(function (data) {

                if (data.error_message != '') {
                    UIkit.modal.alert(data.error_message);
                }
                else
                {
                   $(".coupon-row").show();
                    $("#couponNumber").html(couponCode);

                    if (data.calculation_type == 'Percentage')
                    {
                        percent = totalprice * (data.calculation_amount / 100);
                        valueOf = number_format(percent, 2, '.', '');

                        $(".totalcoupon").html('- ' + currency + ' ' + valueOf);
                        window.couponValue = valueOf;
                    }
                    else
                    {
                        $(".totalcoupon").html('- ' + currency + ' ' + data.calculation_amount);
                        window.couponValue = data.calculation_amount;
                    } 
                }

                updatePrice();
            });

            UIkit.modal('#coupon-modal').hide();
        }
        else
        {
            $("#couponCode").addClass('uk-form-danger');
            $("#errorMsgCoupon").show();
        }
        return false;
    }
    function schedule(id,regtype, e,cid)
    {
        var parent = $(e).parents("tr");
        var modal = UIkit.modal("#schedule-modal");

        var scheduleId = $('#scheduleId').val();
        var schedule_data = $("#schedule-" + id).val();

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'schedule'),'default',true);?>",
                data: "id="+id+'&regtype='+regtype+'&courses='+parent.data("courses")+"&cid="+cid+"&schedule_data="+schedule_data,
                type: 'POST',
                beforeSend: function() {
                    $('#schedule-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#schedule-modal").data("id", id);
                setTimeout(function() { $("#schedule-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }
    function coupon()
    {
        var modal = UIkit.modal("#coupon-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {

            if ($("#schedule-<?php echo $row['id']?>").val() == '')
            {
                UIkit.modal.alert("Please select session first");
            }
            else
            {
                modal.show();
                $("#couponCode").focus();
            }
            
        }

        return false;
    }
    function addFriend()
    {
        var modal = UIkit.modal("#content-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'addfriend'),'default',true);?>",
                data: {},
                type: 'POST',
                beforeSend: function() {
                    $('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                setTimeout(function() { $("#modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }

    function checkSchedule()
    {
        /*var fail = 0;
        $(".scheduledata").each(function() {
            if ( $(this).val() == '' )
            {
                fail = 1;
                $(this).parent().find("i").addClass("uk-text-danger");
            }
        });

        if ( fail == 1 )
        {
            alertify.alert("You need to select course schedules first before proceeding.");
            return false;
        }*/

        return true;
    }

    $(function()
    {
        $("#form-enroll").on('submit', function()
        {
            return checkSchedule();
        });

        updatePrice();
    });


    var currency = '';
    var total = 0;
    var tax = <?php echo Cms_Options::__('taxamount')?>;
    var totaldiscount = 0;
    var totalapplication = 0;
    var fullprice = 0;

    function getLearningMode(mode)
    {
        switch (mode)
        {
            case "FTF":
                return 578;
            break;
            case "FTF-OL":
                return 1038;
            break;
            case "OL":default:
                return 577
            break;
        }
    }

    function updatePrice()
    {
        var totalfriends = $("#friends-table tbody tr.row").length;
        totalapplication = totalfriends + 1;

        total = 0;
        totaldiscount = 0;

        $(".item-row").each(function()
        {
            var IdProgram = $(this).data('idprogram');
            var IdProgramScheme = $(this).data('idprogramscheme');
            var StudentCategory = $(this).data('category');
            var IdSubject = $(this).data('idsubject');
            var IdMode = getLearningMode($(this).data('idmode'));
            var id = $(this).data('id');

            var schedule_data = $("#schedule-"+id).val();
            var post_schedule = schedule_data == '' ? '{}' : JSON.stringify(schedule_data);


            if(schedule_data) {
                //alert('IdMode'+IdMode+'IdProgram='+IdProgram+'&IdProgramScheme='+IdProgramScheme+'&Category='+StudentCategory+'&IdSubject='+IdSubject);
                $.ajax({
                    url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'amount'),'default',true);?>",
                    data: 'IdMode=' + IdMode + '&IdProgram=' + IdProgram + '&IdProgramScheme=' + IdProgramScheme + '&Category=' + StudentCategory + '&IdSubject=' + IdSubject + "&totalStudent=" + totalapplication + "&schedule=" + schedule_data,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                        //$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                    },
                    complete: function () {

                    }
                })

                    .done(function (data) {
                        var debug_data = JSON.stringify(data);
                        $("#underground_debug").html(debug_data);
//alert(data);alert('error-'+data.error);//exit;
                        data.error = 0;//letak je ni nk bagi dia keluar harga, data return ada cume error val xdetect
                        if (data.error == 0) {


                            $(".price").html(data.fee.cur_code + " <span class='price_value'>" + data.amountStudent.toFixed(2) + '</span>');
                            $(".price .price_value").each(function () {
                                total += parseFloat($(this).html());
                            });

                            currency = data.fee.cur_code;

                            updateTotal();
                        }
                        else {
                            if (schedule_data != '') {
                                //TAK ADA PROGRAM SCHEME, PERGI CHECK FEE STRUCTURE OK?
                                //alertify.alert('This program is not offered in blended mode. Please select either Face-to-face or Online mode for all courses in this program.');
                                alertify.alert('This program is not offered in the selected learning mode. Please contact IBFIM for further information.');
                            }
                        }
                    });
            }
        });
    }

    function updateTotal()
    {

        $(".item-row").each(function () {
            var IdMode = getLearningMode($(this).data('idmode'));
            var IdProgram = $(this).data('idprogram');

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'discount'),'default',true);?>",
                data: 'categoryId=' + (totalapplication == 1 ? 1 : 2) + '+&totalStudent=' + totalapplication + '&companyId=0&isStudent=0&IdMode=' + IdMode + '&IdProgram=' + IdProgram,
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
                    //$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function () {

                }
            }).done(function (data) {

                if (data.error == 0 && typeof data.discountAmount === "undefined") {
                    //tade data...
                    $(".discount-row").hide();
                }
                else {
                    if (data.discountAmount > 0.00) {
                        $(".discount-row").show();

                        if (parseInt(data.type) == 1) {
                            totaldiscount = ( parseFloat((data.discountAmount) / 100) * total ).toFixed(2);
                            $(".discount").html(data.discountAmount + "%");
                            $(".discount-desc").html(data.description);
                        }
                        else {
                            totaldiscount = parseFloat(data.discountAmount).toFixed(2);
                            $(".discount").html("MYR " + data.discountAmount);
                            $(".discount-desc").html('');
                        }

                        $(".totaldiscount").html("-" + currency + " " + totaldiscount);
                    }
                    else {
                        $(".discount-row").hide();
                    }
                }

                //calculate total
                window.fullprice = total;

                // discount
                total = total - totaldiscount;

                // coupon
                total = total - window.couponValue;

                var totaltax = ( parseInt(tax) / 100) * total;
                var totalprice = total + totaltax;

                $('.totaltax').html(currency + " <span class='totaltax_value'>" + totaltax.toFixed(2) + '</span>');
                $('.totalprice').html(currency + " <span class='totalprice_value'>" + (totalprice).toFixed(2) + '</span>');

            });
        });
    }

    function deleteGuest(id)
    {
        var msg = 'Are you sure you want to remove this person?';

        alertify.confirm(msg, function () {

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'removefriend'),'default',true);?>",
                data: 'id='+id,
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    //$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            }).done(function ( data ) {

                if ( data.error == 0 )
                {
                    $("#friend-"+id).remove();
                    updatePrice();
                }
            });


        });

        return false;
    }

    // helper function
    function number_format (number, decimals, decPoint, thousandsSep) {

        number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
        var n = !isFinite(+number) ? 0 : +number
        var prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
        var sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
        var dec = (typeof decPoint === 'undefined') ? '.' : decPoint
        var s = ''

        var toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec)
            return '' + (Math.round(n * k) / k)
                .toFixed(prec)
            }

        // @todo: for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.')
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || ''
            s[1] += new Array(prec - s[1].length + 1).join('0')
        }

        return s.join(dec)
    }

<?php //jspack_output() ?>
</script>
<script type="text/javascript">
    function paylaterautopaid(val) {
        alert(val);


        $.ajax({


            type: "POST",
            url: "<?php echo $this->url(array('module'=>'default','controller'=>'register', 'action'=>'autopaid'),'default',true);?>",
            //data: $("#form-enroll").serialize(), // serializes the form's elements.
            data: 'IdMode=5' ,
            dataType: 'json',
            success: function(data)
            {
                //alert(data);exit;

            }
        });
    }
</script>
<div style="display:none;" id="underground_debug"></div>