<style type="text/css">
#exemption-form th { vertical-align: top; }
#exemption-form textarea { width: 100% }
#add-new-file { margin-left: 8px; }
#submit-btn { color: #fff; }
</style>

<ol class="progress-track">
    <li class="progress-done">
        <div class="icon-wrap">
           <i class="icon uk-icon-check animated bounceIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Catalog')?></span>
    </li>

    <li class="progress-done progress-current">
        <div class="icon-wrap">
            <i class="icon uk-icon-file animated zoomIn"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Exemption Form')?></span>
    </li>
</ol>

<h2><?php echo $this->translate('Confirm Application')?></h2>

<form class="uk-form" id="exemption-form" method="post" enctype="multipart/form-data" action="<?php echo $this->baseUrl(); ?>/register/apply-exemption/i/<?php echo $this->encoded_i; ?>">
    <table class="uk-table uk-table-stacked uk-table-main">
        <tr>
            <th width="15%"><?php echo $this->translate('Program'); ?></th>
            <td width="85%" colspan="2"><?php echo $this->course['name']; ?></td>
        </tr>
        <tr>
            <th width="15%"><?php echo $this->translate('Mode'); ?></th>
            <td width="85%" colspan="2">
                <?php 
                if($this->data['mode'] == 'CS') echo 'Challenge Status';
                elseif($this->data['mode'] == 'FT') echo 'Fast Track';
                ?>
            </td>
        </tr>
        <tr>
            <th width="15%"><?php echo $this->translate('Remarks'); ?></th>
            <td width="85%" colspan="2">
                <textarea rows="5" placeholder="" name="reason"></textarea>
            </td>
        </tr>
        <tr>
            <th width="15%">
                <?php echo $this->translate('Supporting Document'); ?>
            </th>
            <td width="85%" colspan="2">

                <button class="uk-button uk-button-small" id="add-new-file" type="button">Add new file</button>
                
                <table class="uk-table uk-table-condensed uk-table-main" id="upload-table">
                    <tr>
                        <td><input type="file" name="document[0]" class="input-document" /></td>
                        <td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <hr />

    <div class="uk-text-right">
        <p class="uk-text-muted">By clicking the "Submit" button, you agree to these <a href="#">Terms of Service</a>. </p>
        <input type="button" class="uk-button uk-button-large" name="back" value="<?php echo $this->translate('Back')?>" onclick="javascript:history.go(-1)"/>
        <input type="submit" class="uk-button uk-button-large uk-button-primary" id="submit-btn" value="<?php echo $this->translate('Submit')?>" />
    </div>
</form>

<script type="text/javascript">
$('#add-new-file').click(function() {
    newFileUpload();
});

$(document).on('click', 'button.remove-tr', function(e) {
    $(this).parents('tr:first').remove();

    if(!$('.input-document').length) {
        newFileUpload();
    }
});

$('#exemption-form').submit(function(e) {
    var document_count = 0;

    $('.input-document').each(function(e) {
        if($(this).val().length) {
            document_count++;
            return false;
        }
    });

    if(!document_count) {
        e.preventDefault();
        alert('<?php echo $this->translate("Please upload supporting document"); ?>');
        return false;
    }

    var proceed = confirm('Submit this exemption application?');
    if(!proceed) {
        return false;
    }
});

var document_index = 1;

function newFileUpload() {
    $('#upload-table').append('<tr><td><input type="file" name="document['+document_index+']" class="input-document" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
    document_index++;
}
</script>