<!-- <h1>What is IBFIM?</h1>

<p>From February 2001, we were designated as an industry-owned institute dedicated to producing well-trained, high competence personnel and executives with the required talent in the Islamic finance industry.</p>
<p> We trust that our strength lies in the holistic approach of ensuring that our customers' strategic goals are achieved through our result-oriented services. </p>


<h2>IBFIM's Online Learning</h2>

<iframe class="uk-responsive-width" src="//www.youtube.com/embed/c-y9WDMpyIQ?rel=0" width="800" height="450" allowfullscreen="allowfullscreen" frameborder="0"></iframe> -->

<h2><a href="/docs/TBE_Individual_User_Guide.pdf" class="item">TBE Registration Guide</h2>



