
<h2><?php echo $this->translate('Activate Account')?></h2>

<?php
if ( $this->successMsg != '' )
{
    ?>
    <div class="uk-alert uk-alert-success">
        <div class="text"><?php echo $this->successMsg ?></div>
    </div>
    <?php
} else {
    if ( trim($this->errMsg) != '' )
    {
        ?>
        <div class="uk-alert uk-alert-danger uk-margin-bottom">
            <div class="text"><?php echo $this->errMsg ?></div>
        </div>
        <?php
    }
?>
<?php if ( $this->c == 0 ) { ?>
<?php Cms_Hooks::hook('registration.message') ?>
<?php } ?>
<div class="login-wrap uk-border-rounded">
<form class="uk-form uk-form-stacked uk-text-left" method="post" id="form-activate">
    <input type="hidden" name="token" value="<?php echo Cms_Common::token()?>" />
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Name')?></label>
        <div class="uk-form-controls">
            <?php echo $this->user['firstname'].' '.$this->user['lastname'] ?>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('NRIC or Username')?></label>
        <div class="uk-form-controls">
            <?php echo $this->user['username']?>
        </div>
    </div>
    <?php if ( $this->c == 0 ) { ?>
    <div class="uk-form-row">
        <label class="uk-form-label" for="username"><?php echo $this->translate('Username')?></label>
        <div class="uk-form-controls">
            <input type="text" value="" id="username" required class="uk-form-medium uk-form-width-large" name="username" />
        </div>
    </div>
    <?php } ?>
    <div class="uk-form-row">
        <label class="uk-form-label" for="email"><?php echo $this->translate('Password')?></label>
        <div class="uk-form-controls">
            <input type="password" value="" id="password" required class="uk-form-medium uk-form-width-large" name="password" placeholder="" />
        </div>
    </div>
    <div class="uk-form-row">
        <p><input type="checkbox" id="privacy" name="privacy" value="1" required /> <?php echo $this->translate('I understand the terms and agree to provide my information in accordance to the PDPA notice. Click <a href="/index/privacy">here</a> to view the PDPA. ')?></p>
    </div>
    <div class="uk-form-row">
        <button type="submit" name="register" class=" uk-button uk-button-primary"><?php echo $this->translate('Submit')?></button>
    </div>
</form>
</div>

<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/plugins/maskedinput/maskedinput.js"></script>
<script type="text/javascript">
    var mask = "999999999999";

    $(function(){

        <?php if ( $this->user['nationality'] == 'MY' && $this->c == 0) { ?>
        $("#username").mask(mask);
        <?php } ?>

        $('#form-activate').formValidation({
            framework: 'uikit',
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: 'Username is required'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9\._-]+$/i,
                            message: 'The username can consist of alphabetical characters, underscore, dash and dots only'
                        },
                        stringLength: {
                            min:3,
                            max: 25,
                            message: 'Username too short. It must be at least 3 characters long.'
                        },
                        remote: {
                            url: '/index/check-username/',
                            type: 'POST',
                            delay: 1000,
                            message: 'Username already taken. Try another.'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'Title is required'
                        },
                        stringLength: {
                            min:3,
                            message: 'Password too short. It must be at least 3 characters long.'
                        }

                    }
                },
                privacy: {
                    validators: {
                        notEmpty:{
                            message: 'Please agree to the terms before submitting.'
                        }
                    }
                }

            }
        });
    });

</script>
<?php } ?>