<h2><?php echo $this->translate('Forgot Password')?></h2>

<?php
if ( $this->successMsg != '' )
{
    ?>
    <div class="uk-alert uk-alert-success">
        <div class="text"><?php echo $this->successMsg ?></div>
    </div>
    <?php
} else {
    if ( trim($this->errMsg) != '' )
    {
        ?>
        <div class="uk-alert uk-alert-danger uk-margin-bottom">
            <div class="text"><?php echo $this->errMsg ?></div>
        </div>
        <?php
    }
?>
<div class="login-wrap uk-border-rounded">
<form class="uk-form uk-form-stacked uk-text-left validate" method="post" id="form-forgot">
    <input type="hidden" name="token" value="<?php echo Cms_Common::token()?>" />
    <div class="uk-form-row">
        <!--
        <label class="uk-form-label" for="email"><?php echo $this->translate('Email Address')?></label>
        -->
        <label class="uk-form-label" for="username"><?php echo $this->translate('Username')?> / <?php echo $this->translate('IC Number')?></label>
        <div class="uk-form-controls">
            <input type="text" value="" required class="uk-form-medium uk-form-width-large" name="username" placeholder="Username / IC Number" />
        </div>
    </div>
    <div class="uk-form-row">
        <button type="submit" name="register" class=" uk-button uk-button-primary"><?php echo $this->translate('Submit')?></button>
    </div>
</form>
</div>
<?php } ?>