<!-- <?php Cms_Hooks::start(); ?>
<div class="uk-slidenav-position uk-hero"  data-uk-slideshow="{animation: 'scroll'}">
    <ul class="uk-slideshow ">
        <li>
            <img src="<?php echo $this->baseUrl()?>images/homepage-hero3.jpg" alt="" />
            <div class="uk-overlay-panel uk-overlay-background  uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <h1>Online Application</h1>
                    <p class="desc">Apply here for Membership Admission or Qualification Enrollment</p>
                    <!-- <p class="text">sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p> -->
                    <a href="/register" class="uk-button uk-button-large uk-button-outline uk-button-hero">Apply Now</a>
                </div>
            </div>
        </li>
        <li>
            <img src="<?php echo $this->baseUrl()?>/images/homepage-hero.jpg" alt="" />
            <div class="uk-overlay-panel uk-overlay-background  uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <h1><?php echo "CIIFP Online" ?></h1>

                    <!--<form method="post" class="uk-form hero-form">
                        <input type="text" placeholder="What Do You Want To Learn?" name="keyword" class="text"/> <button class="uk-button uk-button-primary" type="submit" name="search"><i class="uk-icon-search"></i></button>
                    </form>-->

                    <a href="/courses" class="uk-button uk-button-large uk-button-outline uk-button-hero">Browse Modules</a>

                    <!-- <p class="muted uk-hidden-small">Learning anytime, anywhere.</p> -->



                </div>
            </div>
        </li>
        <li>
            <img src="<?php echo $this->baseUrl()?>images/homepage-hero3.jpg" alt="" />
            <div class="uk-overlay-panel uk-overlay-background  uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <h1>Sign Up Today!</h1>
                    <!-- <p class="text">sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p> -->
                    <a href="/register" class="uk-button uk-button-large uk-button-outline uk-button-hero">Sign Up</a>
                </div>
            </div>
        </li>
    </ul>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>

</div>
<!-- <?php// Cms_Hooks::end('content.top'); ?> -->

<!--<div class="uk-text-center uk-margin-top uk-margin-bottom">
    <img src="<?php /*echo $this->baseUrl()*/?>/images/assets/cqif-trophy.png" alt="" />
</div>-->
<!--
<div class="uk-container uk-container-center">
    <div class="uk-grid panels" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-cog uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <h2 class="uk-h3">Certification</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-thumbs-o-up uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <h2 class="uk-h3">Quality</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-cloud-download uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <h2 class="uk-h3">Anywhere</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>

-->



<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/components/slideshow.min.js"></script>