<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    
</head>

<body> 
   <div class="login-wrapper">
    <div class="container">
       <div class="row">
           <div class="col-sm-6">
            <div class="ciif-logo">
                <a href="#"><img src="img/ciif_logo.svg" alt="CIIF" /></a>
            </div>             
           </div>
           
           <div class="col-sm-6">
           <div class="login-block">
              <?php
                 Cms_Hooks::hook('breadcrumbs');
                Cms_Common::displayFlash();
                ?>          
            <h2 class="login-title">Login</h2>
            <p id='user' style="color:red"></p>
            <form method="post"  id="form-login">
            <div class="form-group">
                <label>Username</label>

                 <input type="" id="username" name="username" required autofocus type="text" class="form-control">
                
                   <?php if ($this->key) : ?>
              <input type="hidden" id="key" name="key" value="<?php echo Cms_Common::encrypt($this->key);?>" />
                <?php endif; ?>
            </div> 
            <div class="form-group">
                <label>Password</label>
                  <input type="password" name="password" required autofocus type="text" class="form-control">
               
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>  
             </form>                    
            <div class="login-links">
                <p><a href="#">Forgot password?</a></p>
                <hr />
                <p>Don't have an account? <a href="/register">Register</a></p>
            </div>                 
           </div>             
           </div>
       </div>
    </div>       
   </div>       
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
</body>

</html>