<div class="container">
    <div class="row">
        <form method="post">
            <textarea name="query" >
                
            </textarea>
            <input type="submit" class="">
    </form>
        
    </div>
</div>