<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    
</head>

<body> 
   <header class="top-header">
     <div class="container">
      <div class="brand-logo">
          <a href="#"><img src="img/ciif_logo.svg" alt="" /></a>
      </div>              
     </div>     
   </header>  
   <div class="register-wrapper">
    <form class="uk-form uk-form-stacked uk-text-left" method="post" id="form-register" enctype="multipart/form-data">
   <div class="container">
       <div class="row">
           <div class="col-sm-8 register-block">
               <h4 class="form-title">Personal Details</h4>
               <div class="row">
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Country of origin <span class="requried">*</span></label>
                       <?php echo $this->form->countryList ?>
                        
                    </div>                        
                   </div>                  
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>NRIC/Passport No. <span class="font-small">eg: 770707075777</span> <span class="requried">*</span></label>
            <?php echo $this->form->username->setAttrib('class','cap form-control') ?>
                    </div>                        
                   </div>
               </div>
              <div class="row">
               <div class="col-sm-2">
                    <div class="form-group">
                        <label>Salutation <span class="requried">*</span></label>
                        <?php echo $this->form->Salutation?>
                       
                    </div>                        
                   </div>                       
                   <div class="col-sm-4">
                    <div class="form-group">
                        <label>First Name <span class="requried">*</span></label>
                       
                        <?php echo $this->form->firstname->setAttrib('class','cap form-control') ?>
                    </div>                        
                   </div>                  
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Last Name <span class="requried">*</span></label>
              <?php echo $this->form->lastname->setAttrib('class','cap form-control') ?>
                    </div>                      
                   </div> 
             </div>
             <div class="row">                                         
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email Address <span class="requried">*</span></label>
              <?php echo $this->form->email->setAttrib('class','form-control') ?><div id='email_data'>
              </div>
                    </div>                        
                   </div>                  
                   <div class="col-sm-6">
                    <div class="form-group">
                      <label>Contact Number <span class="requried">*</span></label>
                         <table>
                          <tr><td>
                          <input type="number" id='c_code' name="c_code" style="width: 4em"></td>
                        <td><?php echo $this->form->contactno->setAttrib('class','form-control') ?></td>
                      </tr>
                    </table>                     
                   </div>
               </div>
               </div>  
               <div class="row">                                            
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Password <span class="requried">*</span></label>
            <?php echo $this->form->password->setAttrib('class','form-control') ?>
                    </div>                      
                   </div>   
                                                                  
               </div>
              <!--  <h4 class="form-title">CIIFP Membership Details
                <span class="common-questions-text" data-toggle="modal" data-target="#ciifpmembershipdetails" data-question="Cessation of Membership" data-answer="9">( Click here admission requirements )</span></h4>
              
               <div class="row">
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Membership Classification <span class="requried">*</span></label>
                               <?php echo $this->form->membershiptype ?>
                    </div>                        
                   </div>    
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Sub Classification <span class="requried">*</span></label>
                         <?php echo $this->form->subclassifaication ?>
                    </div>                        
                   </div>                                    
               </div>
               <div class="row">
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Professional Designation <span class="requried">*</span></label>
                          <?php echo $this->form->prof_des ?>
                    </div>                        
                   </div>    
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Qualification <span class="requried">*</span></label>
                            <?php echo $this->form->ddlQualification ?>

                    </div>                        
                   </div>                                    
               </div>   
               <div class="row">
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Work Experience <span class="requried">*</span></label>
                              <?php echo $this->form->workexperience ?>
                    </div>                        
                   </div>                                      
               </div>   -->
              <!--  <h4 class="form-title">Fee Structure</h4> 
               <div class="row">
                   <div class="col-sm-12">
                    <div class="form-group">
                        <label>Your Fee is:<?php echo $this->form->total_fee_amount ?></label>
                    </div>                        
                   </div>                                      
               </div>   --> 
             
              <!--  <h4 class="form-title">Experience</h4>  
               <div class="row">
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Do yo have industrial experience? <span class="requried">*</span></label>
                        <div class="clearfix">
                                 <label class="radio-inline">
                                  <input type="radio" name="Experience_type" id="Experience_type-1" value="Yes"><span class="check-radio"></span> Yes
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="Experience_type" id="Experience_type-0" value="No"><span class="check-radio"></span> No
                                </label>                            
                        </div>                                             
                    </div> 
                    <div class="form-group">
                       <?php echo $this->form->industrialExp ?>                          
                    </div>                       
                   </div> 
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label>Do yo have lecturing experience? <span class="requried">*</span></label>
                        <div class="clearfix">
                                <label class="radio-inline">
                                  <input type="radio" name="lectureshipRadio" id="lectureshipRadio-1" value="Yes"><span class="check-radio"></span> Yes
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="lectureshipRadio" id="lectureshipRadio-0" value="No"><span class="check-radio"></span> No
                                </label>                            
                        </div>                                             
                    </div> 
                    <div class="form-group">
                        <?php echo $this->form->lectureship ?>                         
                    </div>                       
                   </div>                                                          
               </div>                                                                    
               <h4 class="form-title">Upload Documents</h4> 
               <div class="form-group"> 

                   <div> <label>Academic Documents <span class="requried">*</span></label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file" type="button">Add new file
                            </button>

                      <input type="file"  name="file1[]" id="file1[]" class="form-control" required />  </div>
                      <div id='upload-table1'> 
                      </div>               
               </div>
               <div class="form-group">                    
                    <div><label>Work Experience Documents <span class="requried">*</span></label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file2" type="button">Add new file
                            </button>
                    <input type="file" name="file2[]" id="file2[]" class="form-control" required /> </div>
                    <div id='upload-table2'> 
                      </div>                  
               </div>
               <div class="form-group">                    
                    <label>Previous Membership Documents</label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file3" type="button">Add new file
                            </button>
                    <input type="file" name="file3[]" id="file3[]" class="form-control" />  
                    <div id='upload-table3'> 
                      </div>                
               </div>
               <div class="form-group">                    
                    <label>Nominaton Letter Documents </label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file4" type="button">Add new file
                            </button>
                    <input type="file" name="file4[]" id="file4[]" class="form-control" /> 
                    <div id='upload-table4'> 
                      </div>                   
               </div> -->
               <div  id="myModal" class="modal"  style="width: 900px;">
                <div class="modal-content">
                        <span class="close">&times;</span> 
<li>if he fails to make an appeal to the Grand Council within the prescribed time  against the decision of a Disciplinary Committee to expel him from membership for disciplinary misconduct pursuant to the Disciplinary Rules made by the Grand Council under Article 10 or his appeal against such a decision has been dismissed by the Grand Council.</li>
                            
    </div>
  </div>

              <!--  <div class="form-group">                    
                    <label>Other Documents </label>
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file5" type="button">Add new file
                            </button> 
                    <input type="file" name="file5[]" id="file5[]" class="form-control" />     
                    <div id='upload-table5'> 
                    
                    </div>              
               </div>   -->
                <div class="form-group">
                 <div class="checkbox">
                    <label>
                      <input type="checkbox" id="privacy" name="privacy" value="1" required />
                      <span class="check-radio"></span>
                      I understand the terms and agree to provide my information in accordance to the PDPA notice.<br>
                     <a href="#"><span class="common-questions-text" data-toggle="modal" data-target="#ciifpmembershipdetails" data-question="Cessation of Membership" data-answer="9">Click here</span></a> to view the PDPA.
                    </label>
                  </div>            
                </div> 
                <hr /> 
                <div class="clearfix m-b30">
                <a  style="display: none" href="<?php echo $this->url(array('controller'=>'index', 'action'=>'send'),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = auto">send email</a>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    <button type="Reset" id='button_reset' name="button_reset" class="btn btn-link">Reset</button>
                   
                </div>
           </div>
           </form>
           <div class="col-sm-4">
               <div class="terms-condition-section">
                   <h3>Terms &amp; Conditions</h3>
                   <p>These Terms and Conditions of Membership, together with the Standards and Guidelines of the Chartered Institute of Islamic Finance Professionals ("CIIF"), will govern your membership with us.</p>
                   <p>Please also see the CIIF Website Disclaimer which apply to your use of the CIIF website <a href="#">www.ciif-global.org</a> </p>                   
                   <ul class="terms-condition-list">
                       <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Interpretation" data-answer="1">Interpretation</span>
                            <span id="answer1" class="hidden">Words which have their first letter capitalised shall bear the meaning as set out in the Schedule. </span>
                        </li>
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Membership" data-answer="2">Membership</span>
                            <span id="answer2" class="hidden">
                                <p>In accordance with the Memorandum and Articles of Association (M&amp;A) of the CIIF, there are five Membership Classifications, with sub-Classifications outlined in the CIIF Standards and Guidelines. Provisions relating to these Classifications and any sub-Classifications of Membership of the CIIF shall be contained in the Standards and Guidelines.</p>
                                <p>Applicants must satisfy the CIIF prescribed membership criteria, as contained in the Standards and Guidelines, and detailed on the CIIF’s website www.ciif-global.org/web/membership. All applications for membership will be considered in accordance with clause 9 of these Terms and Conditions of Membership.</p>
                                <p>Applicants must ensure that all information and documentation submitted for the determination of membership classification are true, correct, and factual (i.e. must not lead or amount to misrepresentation).</p>
                                <p>Existing members may seek for the elevation of their Membership by satisfying the prescribed membership criteria for the next Membership Classification. Any Member whose Membership is eligible for elevation will be subject to assessment by the Admission &amp; Membership Committee (AMC) and the endorsement by the Grand Council.</p>
                            </span>                            
                        </li>
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Rights of Membership" data-answer="3">Rights of Membership</span>
                            <span id="answer3" class="hidden">
                                <p>In accordance with sub-Article 9.1 of the M&amp;A, every member other than a Student Member, Associate Member and Honorary Member shall be entitled to receive notice of every general meeting of the Institute and to attend and vote thereat.</p>
                                <p>All Members, of whatever grade of membership, should be concerned with the maintenance of good practice within the profession and must commit themselves to the Code of Ethics and Code of Professional Conduct and supporting procedures, which set out the ethical values and standards of professional conduct to which Members must adhere.</p>
                                <p>Membership entitles, where applicable, the use of the relevant Professional Designation as recognition of the Membership Classification attained by the Member and remains subject to the terms detailed in the Standards.</p>
                            </span>                            
                        </li>
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Membership Services" data-answer="4">Membership Services</span>
                            <span id="answer4" class="hidden">
                                <p>As part of the CIIF commitment to provide quality Membership Services, the CIIF will:</p>
                                <ul>
                                    <li>Establish, make available and support programmes of education, training and qualifications and continuing professional development with recognised standards of achievement to support the systematic development of Members;</li>
                                    <li>Provide access to the Members’ portal on the CIIF website;</li>
                                    <li>Provide access to the internal and external discounted member benefits, and concessions subject to the relevant terms and conditions; and</li>
                                    <li>Establish, develop and maintain links with other bodies and organisations at local, national and international level; including the provision of the local face-to-face networking and online communities and discussion forums.</li>
                                </ul>
                            </span>                            
                        </li> 
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Membership Term" data-answer="5">Membership Term</span>
                            <span id="answer5" class="hidden">
                                The Membership Term is yearly, and subject to renewal every 12 months.
                            </span>                            
                        </li>
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Membership Fees" data-answer="6">Membership Fees</span>
                            <span id="answer6" class="hidden">
                                <p>Membership of the CIIF in each category of Membership and access to the Membership Services shall be conditional upon the payment of the appropriate subscription fee.</p>
                                <p>In accordance with Clause 8.2 below, any membership fees paid WILL NOT BE REFUNDABLE AFTER 30 DAYS OF PAYMENT should members decide to discontinue, terminate, or cancel their membership with the CIIF.</p>
                                <p>Members are advised that the CIIF may also, in certain circumstances, reassess the Membership classification and/or status of any Member whose Membership has ceased.</p>
                            </span>                            
                        </li> 
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Membership Application and Maintenance" data-answer="7">Membership Application and Maintenance</span>
                            <span id="answer7" class="hidden">
                                <p>In accordance with the CIIF Standards (CS1 : 9) and Guidelines (CG1 : 4):</p>
                                <ul>
                                    <li>Once a candidate has been admitted as a member, to ensure continued membership with the CIIF, the member must comply with the following:
                                    <p>timely payment of membership fees (within 30 days of the date on the Membership Fee Notice, or any extended deadline as agreed by the CIIF);</p>
                                    <p>meet the requisite CPD requirements as set out in the standards on continuing professional development to be set by the CIIF; and</p>
                                    <p>fulfil any other such requirements as set out in the Guidelines (CG1 : 4) for maintenance of membership.</p>
                                    </li>
                                    <li>In the event any member fails to pay the subscription fee within 3 months after such fee becomes due and payable, the CIIF has the power to suspend the membership of such member. Upon full payment of the outstanding subscription fee, such suspension shall be lifted.</li>
                                    <li>An audit may be conducted from time to time on members to determine whether each has satisfied membership requirements under these Standards.</li>
                                </ul>
                                <p>In accordance with the CIIF Standards (CS1 : 13):</p>
                                <ul>
                                    <li>All members shall abide by the code of ethics and professional conduct to be set by the CIIF (Code and Ethics and Professional Conduct);</li>
                                    <li>The CIIF has the power and discretion to reprimand, suspend, and/or terminate the membership of any member if a finding of professional misconduct is made against that member. In the event that the CIIF is in receipt of an allegation or complaint of professional misconduct against its member, it shall direct a review or investigation to be initiated. Upon the CIIF’s satisfaction that there is a reasonable basis to the allegation or complaint, the CIIF shall direct a hearing to be conducted by giving sufficient notice to the affected member, following the due process outlined in the Standards to be issued from time to time. The determination in such hearing shall, for the purpose of the Standards, constitute a conclusive finding.</li>
                                </ul>
                            </span>                            
                        </li> 
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Right to Discontinue, Terminate, or Cancel Membership" data-answer="8">Right to Discontinue, Terminate, or Cancel Membership</span>
                            <span id="answer8" class="hidden">
                                <p>Members shall have the right to discontinue their membership within 30 days of the date of their annual membership fees invoices by contacting the CIIF Membership Team at +603-2276 5232 or e-mail at <a href="mailto:membership@ciif-global.org">membership@ciif-global.org</a>.</p>
                                <p>Members may also terminate or cancel their Membership subscriptions within 30 days of paying the annual membership fees for a full refund. A written notice must be provided to the CIIF, subject to clause 9 below. THERE WILL BE NO REFUNDS OF ANY ANNUAL MEMBERSHIP FEES AFTER 30 DAYS OF PAYMENT.</p>
                            </span>                            
                        </li> 
                        <li>
                            <span class="common-questions-text" data-toggle="modal" data-target="#termsConditionModal" data-question="Cessation of Membership" data-answer="9">Cessation of Membership</span>
                            <span id="answer9" class="hidden">
                                <p>In accordance with sub-Article 8.1 of the M&amp;A – A member shall cease to be a member of the Institute and his name shall be removed from the Register of Members on the occurrence of any one of the following events:</p>
                                <ul>
                                    <li>in the event of his death;</li>
                                    <li>if he by notice in writing to the Institute resigns his membership;</li>
                                    <li>if he becomes of unsound mind;</li>
                                    <li>if he is convicted or indicted of any criminal offences;</li>
                                    <li>if he shall be adjudged a bankrupt or make any composition or arrangement with his creditors;</li>
                                    <li>if he fails to make an appeal to the Grand Council within the prescribed time  against the decision of a Disciplinary Committee to expel him from membership for disciplinary misconduct pursuant to the Disciplinary Rules made by the Grand Council under Article 10 or his appeal against such a decision has been dismissed by the Grand Council.</li>
                                </ul>
                            </span>                            
                        </li>                                                                                                                                                  
                   </ul>                   
               </div>
           </div>
       </div>
   </div>       
   </div>   
<!-- ALL Terms & Conditions Modal Starts -->
<div id="termsConditionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header common-questions-header-modal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Terms &amp; Conditions</h3>
            </div>
            <div class="modal-body">
                <div class="question">
                    <h3 id="dynamic-question"></h3>
                </div>
                <div class="answer">
                    <p id="dynamic-answer">
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                
            </div>
        </div>

    </div>
</div>
<div id="ciifpmembershipdetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header common-questions-header-modal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Personal Data Protection Act Disclosure (PDPA)</h3>
            </div>
            <div class="modal-body">
                <div class="question">
                    <p id="dynamic-question">I have read and filled up this application form to be a Member of Charted Institute of Islamic Finance Professionals (CIIF) and understood regarding the processing of my personal data, and I hereby consent to have CIIF to process my personal data for the purposes and to the extent stated above. <br><br>
                    CIIF would like to contact you about other products or services available which may be of interest to you.
                    </p>

                </div>
                <div class="answer">
                    <p id="dynamic-answer">
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                
            </div>
        </div>

    </div>
</div>

<!--     <style>
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
   
    position: absolute;
    top: 20%;
    left: 10%;
  
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
}
</style> -->
<!-- ALL Terms & Conditions Modal Starts -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("btn1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script>

      $(document).ready(function(){
         $('#c_code').attr('type','number');
         $('#c_code').attr('min','0');
     $('#countryList').val('121');
      })
    //Common Questions Modal
    $('#termsConditionModal').on('show.bs.modal', function (event) {
        var span = $(event.relatedTarget); // Button that triggered the modal
        var question = span.data('question'); // Extract info from data-* attributes        
        var modal = $(this);
        modal.find('#dynamic-question').text(question);

        var id = span.data('answer'); // Extract info from data-* attributes        
        var Answer = $('#answer' + id).html();
        modal.find('#dynamic-answer').html(Answer);
    });    
    </script>  
<script>
  $('#membershiptype').change(function () {

    var memberType = $('#membershiptype').val();
    if(memberType == 1 || memberType == 3 )
      {
        $("#prof_des").prop("disabled", true);
      }
  });

        $('#membershiptype').change(function () {

    var memberType = $('#membershiptype').val();
      if(memberType == 4 || memberType == 5 )
        {
        
         $("#prof_des").prop("disabled", false);
        }
        });

    $(document).ready(function() {
       $('#contactno').attr('type','number');
       $('#contactno').attr('min','0');

  


      $('#email').blur(function(e) {

        
        var emailID = $('#email').val()
              atpos = emailID.indexOf("@");
              dotpos = emailID.lastIndexOf(".");
         
              if (atpos < 1 || ( dotpos - atpos < 2 )) 
              {
                $('#email_data').append("Invalid email-id");
                  $('#email').val('');
                  $('#email').focus();
                  $('#email_data').empty();
                  
                
        }

    });

 $('#membershiptype').change(function () {


            var MemberId = $('#membershiptype').val();
              
                $('#subclassifaication').empty(); 


                    $.ajax({
                    type:'post',
                    //<?php //echo $this->baseUrl()?>/admin/ajax/delete-content
                    url:'<?php echo APP_URL; ?>/ajax/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                   //alert(response);     


                   $("#subclassifaication").append("<option value=''>--- Please Select--- </otion>");
                   // Add options
                    var len = response.length;

                    if(len == 0)
                    {
                       $("#subclassifaication").append("<option value='0'>Student </option>");
                    }

                  //  alert(len);

                  //  $("#subclassifaication").empty();
                  
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_subtype'];
                        var name = response[i]['member_subtype_name'];

                        
                        $("#subclassifaication").append("<option value='"+id+"'>"+name+"</option>");

                    }
                 //   $("#subclassifaication").prop("disabled", false);

                                               
                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

  $('#total_fee_amount').attr('readonly',true);


  $('#Experience_type-1').attr('checked','checked');
  $('#lectureshipRadio-1').attr('checked','checked');


 $(':radio').click(function(){
      var radioId = $(this).attr('id');
      //alert(radioId);
      if(radioId == 'Experience_type-0')
      {
       //var RadioVal = $(this).attr('value');  
       $('#industrialExp').hide();
      }
      if(radioId == 'Experience_type-1')
      {
        $('#industrialExp').show();
      }
      if(radioId == 'lectureshipRadio-0')
      {   
        $('#lectureship').hide();
      }
      if(radioId == 'lectureshipRadio-1')
      {
        $('#lectureship').show();
      }

  });

$("#ddlQualification").change(function(){


      var MemberId = $('#membershiptype').val();
      var SubTypeId = $("#subclassifaication").val();
      var qualificationsId = $('#ddlQualification').val();
     $("#workexperience").empty();

      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/ajax/getexperience',
                dataType :'json',
                data:
                    {
                      member_id : MemberId,
                      member_sub_id : SubTypeId,
                      degree_id : qualificationsId
                    },
                success:function(response)
                {

                    var len = response.length;
                    $("#workexperience").empty();
                    $("#workexperience").append("<option value=''>--- Please Select--- </option>");
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_exp'];
                        var name = response[i]['exp_name'];
    
                      $("#workexperience").append("<option value='"+id+"'>"+name+"</option>");

                    }
  
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });


   });


$("#username").blur(function(event){
    event.preventDefault();
     var username = $('#username').val();
     if(username != '')
     {
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getuser',
                dataType :'json',
                data:
                    {
                      username : username,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                                  
                alert('NRIC/Passport no already exists');
                $('#username').val('');
                $('#username').focus();
                              
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   }
 });

$("#contactno").blur(function(event){
    event.preventDefault();  
     var email = $('#email').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getemail',
                dataType :'json',
                data:
                    {
                      email : email,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                      $('#email_data').empty();     
                    $('#email_data').append("Email-Id already exists");                 
                      
                        $('#email').val('');
                $('#email').focus();
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });


 $('#workexperience').change(function(){
  
      var nationality_type = $('#nationality').val();

      if(nationality_type == "MY")
      {
        nationality_type;        
      }
      else
      {
        nationality_type = "OTH";
      }



   

      var memberType = $('#membershiptype').val();

      var degree = $('#ddlQualification').val();
      if(memberType == 1)
      {
        $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType,
                      degreeType : degree
                    },
              dataType: 'json',
              success: function(response)
                                { 

                               
                                  $('#total_fee_amount').val(response[0]['totalamount']+" "+response[0]['Currency']);
                                  $('#id_feestructure').show();
                                  //$("#total_fee_amount").prop('disabled', true);
                                  $('#total_fee_amount').show();

                                   
                                },
              error: function(e){
                                console.log(e);
                                } 

            });
      }
      var memberSubType = $('#subclassifaication').val();
      var degree = $('#ddlQualification').val();

      $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType,
                      degreeType : degree
                    },
              dataType: 'json',
              success: function(response)
                                { 

                               
                                  $('#total_fee_amount').val(response[0]['totalamount']+" "+response[0]['Currency']);
                                  $('#id_feestructure').show();
                                  //$("#total_fee_amount").prop('disabled', true);
                                  $('#total_fee_amount').show();

                                   
                                },
              error: function(e){
                                console.log(e);
                                } 

            });

   });




    
$(function()
{
   if (!$('#nationality').val().length)
   {
       $('#nationality').val('MY').change();
       $('#username').focus();
   }
   // $('#nationality').attr('value','MY');
   //  $('#nationality').attr('value','MY');
  $(".cap").on('keyup change', function()
    {
      var val = $(this).val();
      $(this).val( val.charAt(0).toUpperCase() + val.slice(1) );
    }); 
});



  
//   Academic Upload

   $('#add-new-file').click(function () {
  
        newFileUpload();
    });

  var document_index = 1;

   function newFileUpload() {
        $('#upload-table1').append('<tr><td><input style="float:left;" type="file"  name="file1[' + document_index + ']" class="input-document form-control" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
          document_count++;
            newFileUpload();
        }
    });


    $('#addcpd').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });

// Work Experience Upload



$('#add-new-file2').click(function () {
        newFileUpload1();
    });

  var document_index = 1;

   function newFileUpload1() {
        $('#upload-table2').append('<tr><td><input style="float:left;" type="file" name="file2[' + document_index + ']" class="input-document form-control" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

  $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });

   $('INPUT[type="file"]').change(function () {
   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'pdf':
        case 'gif':
        case 'doc':
        case 'docx':
        case 'xsls':
        case 'xls':
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';
    }
});
    $('#addcpd2').submit(function (e) {
        var document_count = 0;

        $('.input-document').each(function (e) {
          
                      if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });





//Previous MemberShip Document Upload


$('#add-new-file3').click(function () {
        newFileUpload2();
    });

  var document_index = 1;

   function newFileUpload2() {
        $('#upload-table3').append('<tr><td><input style="float:left;" type="file" name="file3[' + document_index + ']" class="input-document form-control" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd3').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });



 //Nomination Upload


$('#add-new-file4').click(function () {
   
        newFileUpload3();
    });

  var document_index = 1;

   function newFileUpload3() {
        $('#upload-table4').append('<tr><td><input style="float:left;" type="file" name="file4[' + document_index + ']" class="input-document form-control"/></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd4').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });




// Other Document Upload


$('#add-new-file5').click(function () {

        newFileUpload4();
    });

  var document_index = 1;

   function newFileUpload4() {
        $('#upload-table5').append('<tr><td><input style="float:left;" type="file" name="file5[' + document_index + ']" class="input-document form-control" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


});





</script>

</body>

</html>