<h2><?php echo $this->translate('Reset Password')?></h2>

<?php
if ( $this->successMsg != '' )
{
	?>
	<div class="uk-alert uk-alert-success">
		<div class="text"><?php echo $this->successMsg ?></div>
	</div>
	<?php
} else {
	if ( trim($this->errMsg) != '' )
	{
		?>
		<div class="uk-alert uk-alert-danger uk-margin-bottom">
			<div class="text"><?php echo $this->errMsg ?></div>
		</div>
		<?php
	}
	?>
	<div class="login-wrap uk-border-rounded">
		<form class="uk-form uk-form-stacked uk-text-left validate" method="post" id="form-forgot">
			<input type="hidden" name="token" value="<?php echo Cms_Common::token()?>" />
			<div class="uk-form-row">
				<label class="uk-form-label" for="password"><?php echo $this->translate('New Password')?></label>
				<div class="uk-form-controls">
					<input type="password" value="" required class="uk-form-medium uk-form-width-large" id="password" name="password"/>
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label" for="confirmpassword"><?php echo $this->translate('Confirm Password')?></label>
				<div class="uk-form-controls">
					<input type="password" value="" required class="uk-form-medium uk-form-width-large" id="confirmpassword" data-fv-identical="true"
						   data-fv-identical-field="password"
						   data-fv-identical-message="The password and its confirm are not the same" name="confirmpassword"/>
				</div>
			</div>
			<div class="uk-form-row">
				<button type="submit" name="register" class=" uk-button uk-button-primary"><?php echo $this->translate('Submit')?></button>
			</div>
		</form>
	</div>
<?php } ?>