<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
        <li><strong><?php echo $this->title?></strong></li>
    </ul>
    
    <div class="back"><a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/index"><?php echo $this->translate('Back')?></a></div>
</div>
<br />

<form method="post" action="" name="form_app" id="appform" target="_blank">
	<h3><?php echo $this->translate('Application Information')?></h3>

	<table width="100%" class="table">
		<tr>
                    <td width="25%"><?php echo $this->translate('Semester')?> <span class="reqMark">*</span></td>
                    <td>
                        <select class="select" id="stype" name="semester" required="">
                            <option label="-- Select --" value="">-- Select --</option>
                            <?php
                            if ($this->semester){
                            foreach ($this->semester as $semLoop){
                            ?>
                            <option label="<?php echo $semLoop['SemesterMainName']; ?>" value="<?php echo $semLoop['IdSemesterMaster']; ?>"><?php echo $semLoop['SemesterMainName']; ?></option>
                            <?php
                            }
                            }
                            ?>
                        </select>
                    </td>
		</tr>
		<!--<tr>
			<td><?php //echo $this->translate('Semester')?></td>
			<td>
				<label><input type="radio" name="semester" value="1" /> <?php //echo $this->translate('January')?></label>
				<label><input type="radio" name="semester" value="2" /> <?php //echo $this->translate('June')?></label>
				<label><input type="radio" name="semester" value="3" /> <?php //echo $this->translate('September')?></label>
			
			</td>
		</tr>-->
	</table>

	<br />
        <h3><?php echo $this->translate('Education Background')?></h3>
        <table width="100%" class="table">
            <tr>
                <td width="25%"><?php echo $this->translate('Highest Qualification Level'); ?> <span class="reqMark">*</span></td>
                <td>
                    <select class="select" id="edulevel" name="edulevel" required="">
                        <option label="-- Select --" value="">-- Select --</option>
                        <?php
                        if ($this->eduLvlList){
                        foreach ($this->eduLvlList as $eduLvlLoop){
                        if ($this->education['ae_qualification']==$eduLvlLoop['IdQualification']){
                            $selected = 'selected=""';
                        }else{
                            $selected = '';
                        }
                        ?>
                        <option <?php echo $selected; ?> label="<?php echo $eduLvlLoop['QualificationLevel']; ?>" value="<?php echo $eduLvlLoop['IdQualification']; ?>"><?php echo $eduLvlLoop['QualificationLevel']; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Class/CGPA'); ?> <span class="reqMark">*</span></td>
                <td><input type="text" name="cgpa" id="cgpa" class="inputtext quarter" value="<?php echo $this->education['ae_result'] ?>" required=""></td>
            </tr>
        </table>
        <br/>
	<h3><?php echo $this->translate('Family Background')?></h3>
	<table width="100%" class="table">
		<tr>	
			<td width="25%"><?php echo $this->translate('Total Number of Dependent(s)')?> <span class="reqMark">*</span></td>
			<td><input type="text" class="inputtext quarter" name="totaldependent" value="" required=""></td>
		</tr>
	</table>

	<br />

	<h3><?php echo $this->translate('Working Experience')?></h3>
	<table width="100%" class="table">
		<tr>
			<td width="25%"><?php echo $this->translate('I am currently')?> <span class="reqMark">*</span></td>
			<td>
                                <label><input type="radio" name="empstatus" class="empstatus" value="0" required=""/> <?php echo $this->translate('Employed')?></label>
				<label><input type="radio" name="empstatus" class="empstatus" value="1" /> <?php echo $this->translate('Self-Employed')?></label>
				<label><input type="radio" name="empstatus" class="empstatus" value="2" /> <?php echo $this->translate('Unemployed')?></label>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Type of Industry')?> <span class="reqMark hidereq">*</span></td>
			<td>
                            <?php
                            if ($this->industryW){
                            foreach ($this->industryW as $industryWLoop){
                            ?>
                            <label><input required="" type="radio" name="industry" class="industry" value="<?php echo $industryWLoop['id']; ?>" /> <?php echo $industryWLoop['name']; ?></label>
                            <?php
                            }
                            }
                            ?>
			</td>
		</tr>
                <tr>
			<td><?php echo $this->translate('Currency')?> <span class="reqMark hidereq">*</span></td>
			<td>
                            <?php 
                            if ($this->currency){
                            foreach ($this->currency as $currencyLoop){
                            ?>
                            <label><input required="" type="radio" name="currency" class="currency" value="<?php echo $currencyLoop['idDefinition']; ?>" /> <?php echo $currencyLoop['DefinitionDesc']; ?></label>
                            <?php 
                            }
                            }
                            ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Income Per Month')?> <span class="reqMark hidereq">*</span></td>
			<td>
				<input type="text" class="inputtext quarter" id="income" name="income" value="" required=""> <br />
				<small class="desc">For non-Malaysians, please convert to USD</small>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Company Name')?> <span class="reqMark hidereq">*</span></td>
			<td>
				<input type="text" class="inputtext" id="compaddress" name="compaddress" value="" required="">
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Your Email Address in Company')?> <span class="reqMark hidereq">*</span></td>
			<td>
				<input type="text" class="inputtext" id="compemail" name="compemail" value="" required="">
			</td>
		</tr>
		</table>

	<br />	
	<h3><?php echo $this->translate('Declaration')?></h3>
	<div class="dec">
            <table>
                <tr>
                    <td>
                        <input type="checkbox" value="1" name="declaration" required="">
                    </td>
                    <td>
                        <p>I <strong></strong> do solemnly and sincerely declare that;</p>
                        <p>1)	The information and particulars contained in my application are true;</p>
                        <p>2)	I make this solemn declaration conscientiously believing the same to be true, and by virtue of the provisions of the Statutory Declarations Act 1960.</p>
                        <p>3)	I have read, agreed and hereby consent to the collection and processing my personal information in accordance with the <a target="_blank" href="http://www.inceif.org/data-privacy-declaration/">INCEIF Privacy Notice</a>.</p>
                    </td>
                </tr>
            </table>
        </div>
	<br />
	<input type="submit" value="<?php echo $this->Translate('Submit & Print')?>" name="submit" class="btn-submit"/>
        <br/>
        <br/>
        <p><i>You are required to upload the completed form with the attestation obtained from the Notary Public or Commissioner of Oaths.</i></p>
</form>

<script type="text/javascript">
	$(function(){
            $("input:radio[name=empstatus]").click(function() {
                var value = $(this).val();
                
                if (value == 2){
                    $('.hidereq').hide();
                    $('.industry').attr('disabled', true);
                    $('.currency').attr('disabled', true);
                    $('#income').attr('disabled', true);
                    $('#compaddress').attr('disabled', true);
                    $('#compemail').attr('disabled', true);
                    
                    $('.industry').removeAttr('required');
                    $('.currency').removeAttr('required');
                    $('#income').removeAttr('required');
                    $('#compaddress').removeAttr('required');
                    $('#compemail').removeAttr('required');
                }else{
                    $('.hidereq').show();
                    $('.industry').attr('required', true);
                    $('.currency').attr('required', true);
                    $('#income').attr('required', true);
                    $('#compaddress').attr('required', true);
                    $('#compemail').attr('required', true);
                    
                    $('.industry').removeAttr('disabled');
                    $('.currency').removeAttr('disabled');
                    $('#income').removeAttr('disabled');
                    $('#compaddress').removeAttr('disabled');
                    $('#compemail').removeAttr('disabled');
                }
            });
            
            $('#appform').on('submit', function(){
                setTimeout(function(){
                    window.location = '<?php echo $this->baseUrl()?>/studentfinance/scholarship';
                }, 2000);
            });
        });
</script>