<script>
    function checkForm(){
        if ($('.subject:checked').length > 0){
            if ($('.subject:checked').length > <?php echo $this->coveredCourse; ?>){
                alert('Only <?php echo $this->coveredCourse; ?> subject covered, You select more than <?php echo $this->coveredCourse; ?> subjects');
                return false;
            }else{
                var a = confirm('Are sure to proceed');

                if (a == true){
                    return true;
                }else{
                    return false;
                }
            }
        }else{
            alert('Please tick atleast one subject');
            return false;
        }
    }
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
        <li><strong><?php echo $this->title?></strong></li>
    </ul>

    <div class="back"><a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/index"><?php echo $this->translate('Back')?></a></div>
</div>
<br/>
<h3><?php echo $this->translate('Registered Courses')?></h3>

<form method="post" id="formsub" name="formsub" onsubmit="return checkForm()">
<table width="100%" class="table">
	<tr>
            <th width="25px"></th>
            <th><?php echo $this->translate('Course Name')?></th>
            <th><?php echo $this->translate('Course Code')?></th>
	</tr>
	<?php foreach ( $this->courses as $course ) { ?>
        <?php 
        if (in_array($course['IdSubject'], $this->courseArr)){
            $checked = 'checked="" disabled=""';
        }else{
            $checked = '';
        }
        ?>
	<tr>
            <td align="center"><input type="checkbox" class="subject" name="sub[<?php echo $course['IdStudentRegSubjects']?>]" value="<?php echo $course['IdSubject']?>" <?php echo $checked; ?> /></td>
            <td><?php echo $course['SubjectName']?></td>
            <td><?php echo $course['SubCode']?></td>
	</tr>
	<?php }?>
</table>
<input type="submit" name="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit"/>
</form>