<style type="text/css">
    th{
        text-align: center !important;
    }
</style>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<?php if ( empty($this->info) && $this->availability == true) { ?>
<div class="opt">
	<a class="btn" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship','action'=>'apply'), 'default', true);?>"><span class="icon icon-check"></span> <?php echo $this->translate('Apply')?></a>
</div>
<?php } ?>
<?php 
if ($this->availability == false){
?>
<div class="error">
    <p>Application for financial assistance is now closed. For issues of concern please send an email to financial.assistance@inceif.org</p>
</div>
<?php 
}
?>
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Date Submitted");?></th>
                <th><?php echo $this->translate("Application Type"); ?></th>
		<th><?php echo $this->translate("Status");?></th>
                <?php 
                if (($this->info['sa_status'] == 1 || $this->info['sa_status'] == 5) and $this->availability == true){
                ?>
                <th><?php echo $this->translate(""); ?></th>
                <?php 
                }
                ?>
                <th><?php echo $this->translate("Remarks");?></th>
		<th></th>
	</tr>
	<?php
	if ( !empty($this->info ) ):
	?>
	<tr>
		<td align="center"><?php echo format_date_to_view($this->info['sa_createddt'],'full'); ?></td>
                <td align="center"><?php echo $this->translate("New Application"); ?></td>
		<td align="center"><?php echo $this->info['sa_status_name']?></td>
                <?php 
                if (($this->info['sa_status'] == 1 || $this->info['sa_status'] == 5) && $this->availability == true){
                ?>
                <td width="30%">
                    <form method="post" id='formupload' enctype="multipart/form-data" action='<?php echo $this->baseUrl()?>/studentfinance/scholarship/upload'>
                        <input type="hidden" id='id' name='id' value='<?php echo $this->info['sa_id']; ?>'>
                        <input type="file" id='file' name='file' required="">
                        <br/>
                        <br/>
                        <button type="submit" id='upload' name='file' class='btn-submit'><span class="icon icon-upload"></span> <?php echo $this->translate('Upload Completed Form')?></button>
                        <?php 
                        if ($this->upl){
                        ?>
                        <br/>
                        <?php
                        $no = 1;
                        foreach ($this->upl as $upl){
                        ?>
                        <br/>
                        <?php echo $no ?>) <a href="<?php echo DOCUMENT_URL.$upl['sau_filelocation']; ?>" target='_blank'><?php echo $upl['sau_filename']; ?></a><br/>
                        <?php
                        $no++;
                        }
                        ?>
                        <?php
                        }
                        ?>
                    </form>
                </td>
                <?php 
                }
                ?>
                <td width="20%" style="word-wrap:break-word;" align="left"><?php echo $this->info['sa_remarks']?></td>
		<td class="options" align="center">
			
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'view', 'id'=>$this->info['sa_id']),'default',true);?>"><?php echo $this->translate('Review')?></a> 
			
			<?php if ( ($this->info['sa_status'] == 2 || $this->info['sa_status'] == 7) && !empty($this->courseAvailability)) { ?>
			| <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'courses', 'id'=>$this->info['sa_id']),'default',true);?>"><?php echo $this->translate('Select Courses')?></a>
			<?php } ?>
		
		</td>
	</tr>
	<?php 
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No application yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>