
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
        <li><strong><?php echo $this->title?></strong></li>
    </ul>
    
    <div class="back"><a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/index"><?php echo $this->translate('Back')?></a></div>
</div>
<br />
<div class="opt thin">
    <a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/print/id/<?php echo $this->id; ?>" class="btn flat regslip" target="_blank"><span class="icon icon-print"></span> <?php echo $this->translate('Print Application Form')?></a>
</div>
	<h3><?php echo $this->translate('Application Information')?></h3>

	<table width="100%" class="table">
		<tr>
                    <td width="25%"><?php echo $this->translate('Semester')?></td>
                    <td>
                        <select class="select" id="stype" name="semester" disabled="">
                            <option label="-- Select --" value="">-- Select --</option>
                            <?php
                            if ($this->semester){
                            foreach ($this->semester as $semLoop){
                            if ($semLoop['IdSemesterMaster'] == $this->info['sa_semester_id']){
                                $selected = 'selected=""';
                            }else{
                                $selected = '';
                            }
                            ?>
                            <option <?php echo $selected; ?> label="<?php echo $semLoop['SemesterMainName']; ?>" value="<?php echo $semLoop['IdSemesterMaster']; ?>"><?php echo $semLoop['SemesterMainName']; ?></option>
                            <?php
                            }
                            }
                            ?>
                        </select>
                    </td>
		</tr>
		<!--<tr>
			<td><?php //echo $this->translate('Semester')?></td>
			<td>
				<label><input type="radio" name="semester" value="1" /> <?php //echo $this->translate('January')?></label>
				<label><input type="radio" name="semester" value="2" /> <?php //echo $this->translate('June')?></label>
				<label><input type="radio" name="semester" value="3" /> <?php //echo $this->translate('September')?></label>
			
			</td>
		</tr>-->
	</table>

	<br />
        <h3><?php echo $this->translate('Education Background')?></h3>
        <table width="100%" class="table">
            <tr>
                <td width="25%"><?php echo $this->translate('Highest Qualification Level'); ?></td>
                <td>
                    <select class="select" id="edulevel" name="edulevel" disabled="">
                        <option label="-- Select --" value="">-- Select --</option>
                        <?php
                        if ($this->eduLvlList){
                        foreach ($this->eduLvlList as $eduLvlLoop){
                        if ($this->info['edulevel']==$eduLvlLoop['IdQualification']){
                            $selected = 'selected=""';
                        }else{
                            $selected = '';
                        }
                        ?>
                        <option <?php echo $selected; ?> label="<?php echo $eduLvlLoop['QualificationLevel']; ?>" value="<?php echo $eduLvlLoop['IdQualification']; ?>"><?php echo $eduLvlLoop['QualificationLevel']; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Class/CGPA'); ?></td>
                <td><input type="text" name="cgpa" id="cgpa" class="inputtext quarter" value="<?php echo $this->info['cgpa']; ?>" disabled=""></td>
            </tr>
        </table>
        <br/>
	<h3><?php echo $this->translate('Family Background')?></h3>
	<table width="100%" class="table">
		<tr>	
			<td width="25%"><?php echo $this->translate('Total Number of Dependent(s)')?></td>
			<td><input type="text" class="inputtext quarter" name="totaldependent" value="<?php echo $this->info['totaldependent']; ?>" disabled=""></td>
		</tr>
	</table>

	<br />

	<h3><?php echo $this->translate('Working Experience')?></h3>
	<table width="100%" class="table">
		<tr>
			<td width="25%"><?php echo $this->translate('I am currently')?></td>
			<td>
                                <label><input type="radio" name="empstatus" class="empstatus" value="0" disabled="" <?php echo $this->info['empstatus']==0 ? 'checked=""':''; ?>/> <?php echo $this->translate('Employed')?></label>
				<label><input type="radio" name="empstatus" class="empstatus" value="1" disabled="" <?php echo $this->info['empstatus']==1 ? 'checked=""':''; ?>/> <?php echo $this->translate('Self-Employed')?></label>
				<label><input type="radio" name="empstatus" class="empstatus" value="2" disabled="" <?php echo $this->info['empstatus']==2 ? 'checked=""':''; ?>/> <?php echo $this->translate('Unemployed')?></label>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Type of Industry')?></td>
			<td>
                            <?php
                            if ($this->industryW){
                            foreach ($this->industryW as $industryWLoop){
                            if ($industryWLoop['id']==$this->info['industry']){
                                $selected = 'checked=""';
                            }else{
                                $selected = '';
                            }
                            ?>
                            <label><input <?php echo $selected; ?> disabled="" type="radio" name="industry" class="industry" value="<?php echo $industryWLoop['id']; ?>" /> <?php echo $industryWLoop['name']; ?></label>
                            <?php
                            }
                            }
                            ?>
			</td>
		</tr>
                <tr>
			<td><?php echo $this->translate('Currency')?></td>
			<td>
                            <?php 
                            if ($this->currency){
                            foreach ($this->currency as $currencyLoop){
                            if ($currencyLoop['idDefinition']==$this->info['currency']){
                                $selected = 'checked=""';
                            }else{
                                $selected = '';
                            }
                            ?>
                            <label><input <?php echo $selected; ?> disabled="" type="radio" name="currency" class="currency" value="<?php echo $currencyLoop['idDefinition']; ?>" /> <?php echo $currencyLoop['DefinitionDesc']; ?></label>
                            <?php 
                            }
                            }
                            ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Income Per Month')?></td>
			<td>
				<input type="text" class="inputtext quarter" id="income" name="income" value="<?php echo $this->info['income'];?>" disabled=""> <br />
				<small class="desc">For non-Malaysians, please convert to USD</small>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Company Name')?></td>
			<td>
				<input type="text" class="inputtext" id="compaddress" name="compaddress" value="<?php echo $this->info['compaddress'];?>" disabled="">
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Your Email Address in Company')?></td>
			<td>
				<input type="text" class="inputtext" id="compemail" name="compemail" value="<?php echo $this->info['compemail'];?>" disabled="">
			</td>
		</tr>
		</table>

	<br />
        <br/>
        <?php 
        if (($this->info['sa_status'] == 1 || $this->info['sa_status'] == 5) && $this->availability == true){
        ?>
        <form method="post" id='formupload' enctype="multipart/form-data" action='<?php echo $this->baseUrl()?>/studentfinance/scholarship/upload'>
        <h3><?php echo $this->translate('New Application Form')?></h3>
        <table width="100%" class="table">
		<tr>
			<td width="25%"><?php echo $this->translate('Upload Completed Form')?></td>
                        <td><input type="file" id='file' name='file' required=""></td>
		</tr>
                <tr>
                    <td><input type="hidden" id='id' name='id' value='<?php echo $this->id; ?>'></td>
                    <td><button type="submit" id='upload' name='file' class='btn-submit'><span class="icon icon-upload"></span> <?php echo $this->translate('Upload')?></button></td>
                </tr>
        </table>
        </form>
        <br/>
        <?php 
        }
        ?>
        <table width="100%" class="table">
            <tr>
                <th>No</th>
                <th>File Name</th>
                <th>Date</th>
                <th></th>
            </tr>
            <?php
            if ($this->upl){
            $no = 1;
            foreach ($this->upl as $upl){
            ?>
            <tr>
                <td><?php echo $no; ?></td>
                <td><?php echo $upl['sau_filename']; ?></td>
                <td><?php echo date('d-m-Y H:i:s', strtotime($upl['sau_upddate'])) ?></td>
                <td><a href="<?php echo DOCUMENT_URL.$upl['sau_filelocation']; ?>" target='_blank'>View</a><?php if ($this->info['sa_status'] == 1 || $this->info['sa_status'] == 5){?> | <a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/deleteupl/id/<?php echo $upl['sau_id']; ?>/sa_id/<?php echo $this->id; ?>">Delete</a><?php } ?></td>
            </tr>
            <?php
            $no++;
            }
            }
            ?>
        </table>
	<br />
        <?php 
        if ($this->courseList){
        ?>
        <h3><?php echo $this->translate('Registered Courses')?></h3>
        <table width="100%" class="table">
            <tr>
                <th><?php echo $this->translate('Course Name'); ?></th>
                <th><?php echo $this->translate('Course Code'); ?></th>
            </tr>
            <?php
            foreach ($this->courseList as $courseLoop){
            ?>
            <tr>
                <td><?php echo $courseLoop['SubjectName']; ?></td>
                <td align="center"><?php echo $courseLoop['SubCode']; ?></td>
            </tr>
            <?php
            }
            ?>
        </table>
        <br/>
        <?php 
        }
        ?>
	<h3><?php echo $this->translate('Declaration')?></h3>
	<div class="dec">
            <table>
                <tr>
                    <td>
                        <input type="checkbox" value="1" name="declaration" checked="" disabled="">
                    </td>
                    <td>
                        <p>I <strong></strong> do solemnly and sincerely declare that;</p>
                        <p>1)	The information and particulars contained in my application are true;</p>
                        <p>2)	I make this solemn declaration conscientiously believing the same to be true, and by virtue of the provisions of the Statutory Declarations Act 1960.</p>
                        <p>3)	I have read, agreed and hereby consent to the collection and processing my personal information in accordance with the <a target="_blank" href="http://www.inceif.org/data-privacy-declaration/">INCEIF Privacy Notice</a>.</p>
                    </td>
                </tr>
            </table>
        </div>
	<br />

<script type="text/javascript">
	function checkForm()
	{
		return true;
	}

	$(function()
	{
		$("#appform :input").attr("disabled", true);
	});
</script>