
<form class="uk-form" id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Role category</h4>
                     <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Role Category</label>
                                   <?php echo $this->form->username ?>                 
                               </div>                                
                            </div>
                                                      
                        </div>
                      
                        <div class="button-group">
                    <input type="submit" class="btn btn-primary " value='Submit'>
                     <input type="reset" class="btn btn-primary" value="Clear" >
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'role', 'action'=>'relelist'),'default',true);?>';" />
                </div> 
                     </div> 
                    <hr class="dark-diver">                                                  
                                                                                                                        
                    </div>                                                  
                </div>

 </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Menu Name</th>
                                <th>Description</th>                     
                            </tr>
                        </thead>
                        <tbody>
                             <?php foreach ( $this->users as $users ) { ?>
                           <tr>
                               
                                <td><a href="<?php echo $this->baseUrl()?>/admin/rolesubmenu/edit/id/<?php echo $users['id']?>"><?php echo $users['DefinitionDesc']?></a></td>
                                <td><?php echo $users['menu']?></td>
                           <td><?php echo $users['description']?></td>
                           
                            </tr>
                            <?php }?>
                    </tbody>
                </table>

<script type="text/javascript">
    
    $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);
                           

         // Add options
                    var len = response.length;

                  //  alert(len);

                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");

                }

                                                // if(response == 1)
                                                // {
                                                //     alert('Applicant Approved ');
                                                // }
                                                // else if(response == 3)
                                                // {
                                                //     alert ('Error in sending email');
                                                // }
                                                // else
                                                // {
                                                //     alert(response);
                                                // }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>

