
<form class="uk-form" id="myform" name="myform" method="post" action="">
                                                 
                </div>

 </form>
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role</th>
                                                 
                            </tr>
                        </thead>
                        <tbody>
                             <?php foreach ( $this->users as $users ) { ?>
                           <tr>
                               
                                <td><a href="<?php echo $this->baseUrl()?>/admin/rolesubmenu/add/id/<?php echo $users['idDefinition']?>"><?php echo $users['DefinitionDesc']?></a></td>
                                        
                           
                            </tr>
                            <?php }?>
                    </tbody>
                </table>

<script type="text/javascript">
    
    $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);
                           

         // Add options
                    var len = response.length;

                  //  alert(len);

                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");

                }

                                                // if(response == 1)
                                                // {
                                                //     alert('Applicant Approved ');
                                                // }
                                                // else if(response == 3)
                                                // {
                                                //     alert ('Error in sending email');
                                                // }
                                                // else
                                                // {
                                                //     alert(response);
                                                // }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>

