
<script type="text/javascript">
dojo.addOnLoad(function() {
	dijit.byId('field2').focus();
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	/*dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');*/
	dijit.byId('field20').set('value','');
	dijit.byId('field20').set('placeHolder','Select');
});

function fnGetColgDeptList(IdCollege){
	if(IdCollege != "")
		{
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/subjectsoffered/getcolgdeptlist/IdCollege/"+IdCollege,
					handleAs:'json',
					load:function(data){
						AutoFillNextEditableDropDown("field20",data);
					}
			   }
			dojo.xhrGet(xhrArgs);
		}
	}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>

<div class="breadcrum">
	<ul class="tri-steps">
		
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Course Master"); ?></a></div></li>
		
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectprerequisites','action'=>'index'),'default',true);?>"><?php echo $this->translate("Requisite"); ?></a></div></li>

		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectequivalent','action'=>'index'),'default',true);?>"><?php echo $this->translate("Equivalent"); ?></a></div></li>
		
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectdetails','action'=>'index'),'default',true);?>"><?php echo $this->translate("Details"); ?></a></div></li>
	
	</ul>
	<div class="clear"></div>
</div>
<br/>

<div class="message toolbar">
    <h2><?php echo $this->translate("Course Details"); ?></h2>
    <!--<div class="toolbar-button">
    </div>-->
</div>
<br/><br />
<fieldset>
	<legend><?php echo $this->translate("$this->Subject Search");?></legend>
	 <form action="<?php echo $this->baseUrl();?>/generalsetup/subjectmaster/index/search/1" method="POST">
		 <dl class="zend_form">
			   <dt><?php echo $this->translate("$this->College Name");?></dt>
			   <dd ><?php echo $this->lobjform->field5;?></dd>
			   <!--<dt><?php //echo $this->translate("Branch Name");?></dt>
			   <dd ><?php //echo $this->lobjform->field8;?></dd>-->
			   <dt><?php echo $this->translate("$this->Department Name");?></dt>
			   <dd ><?php echo $this->lobjform->field20;?></dd>
			   <dt><?php echo $this->translate("$this->Subject Name");?></dt>
			   <dd ><?php echo $this->lobjform->field2;?></dd>
			   <dt><?php echo $this->translate("$this->Subject Code");?></dt>
			   <dd ><?php echo $this->lobjform->field3;?></dd>
			   <dt><?php echo $this->defaultlanguage;?></dt>
			   <dd ><?php echo $this->lobjform->field4;?></dd>
			   <dt ><?php echo $this->translate("Active");?></dt>
			   <dd ><?php echo $this->lobjform->field7;?></dd>
			   <dd align = "center" colspan = "4">
				<?php echo $this->lobjform->Search;?>
				<?php echo $this->lobjform->Clear;?>
			   </dd>
		 </dl>
	</form>
</fieldset>
<br/>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">

<tr>
	<th><?php echo $this->translate("$this->Subject Name");?></th>
	<th><?php echo $this->translate("Course Code");?></th>
	<th><?php echo $this->translate("Course Type");?></th>
	<th><?php echo $this->translate("$this->College Name");?></th>
	<th><?php echo $this->translate("Credit Hours");?></th>
	<th></th>
</tr>
<?php if (count($this->paginator)): ?>
<?php foreach ($this->paginator as $lobjsubject ): ?>
<tr>
	<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectdetails', 'action'=>'newsubjectdetails' , 'id'=>$lobjsubject['IdSubject'],'code'=>$lobjsubject['SubCode'],'name'=>$lobjsubject['SubjectName']),'default',true);?>" ><?php echo $lobjsubject['SubjectName'];?></a></td>
	 <td><?php echo $lobjsubject['SubCode'];?></td>
	<td><?php echo $this->escape($lobjsubject['CourseName']);?></td>
	<td><?php  echo $this->escape($lobjsubject['BranchName']); ?></td>
		<td><?php echo $this->escape($lobjsubject['CreditHours']);?></td>
				<td align="center" class="options"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectdetails', 'action'=>'newsubjectdetails' , 'id'=>$lobjsubject['IdSubject'],'code'=>$lobjsubject['SubCode'],'name'=>$lobjsubject['SubjectName']),'default',true);?>" ><?php echo $this->translate('Edit'); ?></a></td>
  <?php endforeach; ?>
	<?php endif; ?>
</tr>
</table>
<div class="pagination">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>
