<div class="clearfix">
                    <h4>Barring category</h4>
                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Barring Category</label>
                                    <td><?php echo $this->form->barring_name;?></td>
                                    
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <td><?php echo $this->form->amount;?></td>
                                    
                                </div>                                 
                            </div>
                            
                            <div class="col-sm-12 col-md-4">
                            	<div class="filter-button-group">
                                   
                            <?php echo $this->form->Save;?>
                     <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
					<input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Barring', 'action'=>'index'),'default',true);?>';" />   
         
                      
                                    
                                    
                                </div>                                 
                            </div>
                          </form>
                                                      
                        </div>
                    </div>
                    
          







 <script type="text/javascript">
dojo.addOnLoad(function(){			
	dijit.byId("TemplateName").focus();
	dijit.byId('idDefinition').set('value','');
	dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
}
</script>
