<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <div class="breadcrum">
            <ul class="tri-steps">
                <li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'attendance'),'default',true);?>"><?php echo $this->translate("Attendance"); ?></a></div></li>
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'record-verification'),'default',true);?>"><?php echo $this->translate("Record Verification"); ?></a></div></li>
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'guests'),'default',true);?>"><?php echo $this->translate("Guest"); ?></a></div></li>
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection'),'default',true);?>"><?php echo $this->translate("Certificate Collection"); ?></a></div></li>
                <li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'payment'),'default',true);?>"><?php echo $this->translate("Payment Online"); ?></a></div></li>
            </ul>
            <div class="clear"></div>
        </div>

        <?php if($this->allow==false){?>
            <div class="error"><span class="icon icon-alert"></span>
                Attendance confirmation is now closed.
                <br>
                <br>
                <div class="text2">
                    The deadline to confirm your attendance was <?php echo date('d-m-Y',strtotime($this->convocation['c_confirm_attendance_enddate']));?>. We are unable to take any attendance
                    confirmation after this date. For issues of concern please email the team at  <a href="mailto:graduandaffairs@ibfim.org.
	">graduandaffairs@ibfim.org</a>.
                </div>
            </div>
        <?php } ?>

        <?php
        if ( !empty($this->errMsg ) ) { ?>
            <div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>
        <?php } else { ?>

            <h2 class="alt"><?php echo $this->translate('Attendance Confirmation'); ?></h2>

            <form name="attendanceForm" id="attendanceForm" method="post" action="">
                <input type="hidden" name="c_id" value="<?php echo $this->check['c_id']; ?>">
                <table class="text2">
                    <tr>
                        <td><?php if($this->check['confirm_attend'] == NULL) { echo 'You have not confirmed your convocation attendance. Will you attend the convocation ceremony?'; } else {  echo 'Will you attend this convocation? :-'; } ?>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <?php //if ( ($this->check['confirm_attend'] != 1) && ($this->check['confirm_attend'] != 0)) {
                            if ($this->check['confirm_attend'] == NULL) {
                                if ($this->allow == true) { ?>
                                    <input type="radio" name="confirm_attendance" value="1"
                                           id="confirm_attendance_yes" <?php if ($this->check['confirm_attend'] == '') {
                                        echo 'checked';
                                    } else if ($this->check['confirm_attend'] == 1) {
                                        echo 'checked';
                                    } ?> checked/> <label
                                        for="confirm_attendance_yes"><?php echo $this->translate('Yes'); ?></label>
                                    <input type="radio" name="confirm_attendance" value="0"
                                           id="confirm_attendance_no" <?php echo ($this->check['confirm_attend'] == 0) ? 'checked' : ''; ?> />
                                    <label for="confirm_attendance_no"><?php echo $this->translate('No'); ?></label>

                                <?php }
                            } else { ?>
                                <b><?php if ($this->check['confirm_attend'] == '1') {
                                        echo 'YES';
                                    } else {
                                        echo 'NO';
                                    } ?></b>
                            <?php } ?>
                        </td>
                    </tr>
                    <?php //if ( ($this->check['confirm_attend'] != 1) && ($this->check['confirm_attend'] != 0)) {
                    if ($this->check['confirm_attend'] == NULL) {
                        if($this->allow==true){ ?>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" class="btn-submit" value="<?php echo $this->Translate('Submit')?>" />
                                </td>
                            </tr>
                        <?php	}
                    } else { ?>
                        <tr>
                            <td colspan="2">
                                Confirmed Date: <?php echo ($this->check['confirm_date'])?>
                            </td>
                        </tr>
                    <?php } ?>
                </table>

            </form>
        <?php } ?>

        <br>
        <div class="text2">
            <p>
                <?php if(isset($this->fee['fv_amount'])){?>
                    The convocation fee is <strong>RM</strong> <strong><?php echo (isset($this->fee['fv_amount'])) ? $this->fee['fv_amount']:0.00; ?></strong> (this fee is applicable ONLY for those attending the convocation ceremony). <?php } ?> <!--Once you have confirmed
                your attendance, please proceed to the Finance tab to arrange for the payment. Alternatively the payment can be made by cash or credit
                card upon collection of the convocation regalia. --><?php //echo date('d-m-Y', strtotime($this->convocation['c_confirm_attendance_enddate'])); ?>

            </p>
        </div>
        <script type="text/javascript">
            $(function()
            {
                <?php if($this->allow==false) { ?>
                $('input[name=confirm_attendance]').attr('disabled','disabled');
                <?php } ?>
            });
        </script>
        <style type="text/css">
            table td input[type=radio] { vertical-align:baseline }
        </style>

        </div>
    </div>
</div>