<table class="uk-table uk-table-bordered" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th><?php echo $this->translate("Country")?></th>
        <th><?php echo $this->translate("Amount (MYR) ")?></th>
    </tr>
    <?php
    if(count($this->countries)>0){
        foreach($this->countries as $country){

            ?>
            <tr>
                <td align='left'><?php echo $country['CountryName']; ?></td>
                <td align='center'><?php echo $country['fic_amount']; ?></td>
            </tr>
        <?php }
        if($country['fic_idCountry']==121){
            //display state
            if(count($this->state_malaysia)>0){
                foreach($this->state_malaysia as $state){
                    ?>
                    <tr>
                        <td align='left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $state['StateName']; ?></td>
                        <td align='center'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $state['fic_amount']; ?></td>
                    </tr>

                <?php 				}
            }
        }
    }?>
</table>