<style>
    #textBold{
        font-weight:bold;
    }
    #note{
        font-weight:normal;
        text-transform: lowercase;
    }
    th {
        text-align: center !important;
    }
    ul {
        padding-left: 15px !important;
    }
</style>
<script>

    $( document ).ready(function() {


        $('#collectionForm').submit(function(event) {

            if($("input:radio[name='scroll_collection']").is(":checked")) {
                submit = true;
            }
            else {
                alert('Please select Scroll & Transcript collection type.');
                submit = false;
            }
            

            if(submit == true)
            {

                if( ( $("input:radio[name=scroll_collection]").is(":checked") && $( "input:radio[name=scroll_collection]:checked" ).val()==2 ) ||   ( $("input:radio[name=photo_collection]").is(":checked") && $( "input:radio[name=photo_collection]:checked" ).val()==2 ))  {

                    status = true;

                    if( $('#scroll_address1').val() == ''){
                        alert('Please enter address.');
                        status =  false;
                    }else

                    if( $('#scroll_postcode').val() == ''){
                        alert('Please enter postcode.');
                        status =  false;
                    }else

                    if ($('#scroll_country').val() == '') {
                        alert('Please select country.');
                        status =  false;
                    }else

                    if ($('#scroll_state').val() == '') {
                        alert('Please select state.');
                        status =  false;
                    }else

                    if ($('#scroll_city').val() == '') {
                        alert('Please select city.');
                        status =  false;
                    }else

                    if(	status ==  false ){
                        return false;
                    }else{
                        return true;
                    }

                }else{
                    return true;
                }
            }
            else
            {
                return false;
            }

            event.preventDefault();

        });


        <?php if (isset($this->collect) && ($this->collect['scroll_collection'] == 2 || $this->collect['photo_collection'] == 2)){?>

        $( ".mailAddress" ).show();

        <?php }else{ ?>

        $( ".mailAddress" ).hide();

        <?php } ?>


        <?php if (isset($this->collect) && ($this->collect['photo_collection'] == 2)){?>

        $('#photo_number').show();

        <?php }else{ ?>

        $('#photo_number').hide();

        <?php } ?>



        $('input:radio').click(function() {

            if( $("input:radio[name=scroll_collection]").is(":checked") && $( "input:radio[name=scroll_collection]:checked" ).val()==2 ){

                $( ".mailAddress" ).show();
            }else{

                $( ".mailAddress" ).hide();
            }


            if( $("input:radio[name='photo_collection']").is(":checked") && $( "input:radio[name=photo_collection]:checked" ).val()==2 ){
                $('#photo_number').show();
                $( ".mailAddress" ).show();
            }else{
                $('#photo_number').hide();
                if($( "input:radio[name=scroll_collection]:checked" ).val()!=2) {
                    $( ".mailAddress" ).hide();
                }
            }

        });


        $('.linkDialog').click(function(e){
            var url = $(this).attr('href');
            $( "#dialog-box" ).load(url);
            $( "#dialog-box" ).dialog('open');
            return false;
        });

        $( "#dialog-box" ).dialog({
            autoOpen: false,
            width: 650,
            modal: true
        });


    });

    function getState(country_id, element,selectedState){

        $.ajax({
            url: "/default/utility/get-state",
            type: "post",
            async : false,
            data: {'country_id':country_id},
            dataType: 'json',
            success: function(data){

                console.log(data);

                $('#'+element).empty();
                $('#'+element).append('<option value="">-- Please Select --</option>');

                $.each(data, function(index) {
                    if(selectedState==data[index].idState){
                        var selected = 'selected';
                    }else{
                        var selected = '';
                    }
                    $('#'+element).append('<option value="'+data[index].idState+'" '+selected+'>'+data[index].StateName+'</option>');
                });
            },
            error:function(){
                alert("failure");
            },
            beforeSend: function() {
                showLoading(element);

            },
            complete: function() {
                hideLoading(element);
            }
        });
    }

    function getCity(idState, element,selectedCity){


        var targetElement = '#city';
        $.ajax({
            url: "<?php echo $this->url(array('module'=>'default','controller'=>'utility', 'action'=>'get-city'),'default',true);?>",
            data: {'state_id':idState},
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                showLoading(element);
            },
            complete: function() {
                hideLoading(element);
            },
            success: function(data) {

                $('#'+element).empty();
                $('#'+element).append('<option value="">-- Please Select --</option>');

                $.each(data, function(index) {
                    if(selectedCity==data[index].idCity){
                        var selected = 'selected';
                    }else{
                        var selected = '';
                    }
                    $('#'+element).append('<option value="'+data[index].idCity+'" '+selected+'>'+data[index].CityName+'</option>');
                });
            }
        });
    }

    function checkOthers(val,target_element)
    {
        var e_val = $(val).val();

        if (e_val == '99')
        {
            $("#"+target_element).show();
        }
        else
        {
            $("#"+target_element).hide();
        }
    }

    function showLoading(element){
        $('#'+element).hide();
        $('#'+element).after("<div id='loading'><img src='/images/ajax-loader-bar.gif' /></div>");
    }

    function hideLoading(element){
        $('#loading').remove();
        $('#'+element).show();
    }

    $(function()
    {

        <?php if( $this->collect['scroll_country'] != '' ) { ?>
        getState(<?php echo $this->collect['scroll_country']?>,'scroll_state',<?php echo $this->collect['scroll_state']?>);
        <?php } ?>

        <?php if( $this->collect['scroll_state'] != '' ) { ?>
        getCity(<?php echo $this->collect['scroll_state']?>,'scroll_city',<?php echo $this->collect['scroll_city']?>);
        <?php } ?>

        <?php if ($this->collect['scroll_state'] == 99 ){?>
        $("#scroll_state_others").show();
        <?php } ?>

        <?php if ($this->collect['scroll_city'] == 99 ){?>
        $("#scroll_city_others").show();
        <?php } ?>


    });


</script>

<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <div class="breadcrum">
            <ul class="tri-steps">
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'attendance'),'default',true);?>"><?php echo $this->translate("Attendance"); ?></a></div></li>
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'record-verification'),'default',true);?>"><?php echo $this->translate("Record Verification"); ?></a></div></li>
                <li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'guests'),'default',true);?>"><?php echo $this->translate("Guest"); ?></a></div></li>
                <li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection'),'default',true);?>"><?php echo $this->translate("Certificate Collection"); ?></a></div></li>
                <li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'payment'),'default',true);?>"><?php echo $this->translate("Payment Online"); ?></a></div></li>
            </ul>
            <div class="clear"></div>
        </div>

        <h2><?php echo $this->translate('Certificate Collection'); ?></h2>
        <form name='collectionForm' id='collectionForm' method='post' action=''>

        <table class="uk-table uk-table-bordered" width="100%">
            <tr>
                <th width='30%'><?php echo $this->translate('Item'); ?></th>
                <th width='30%'><?php echo $this->translate('Certificate'); ?></th>
            </tr>
            <tr>
                <td width="" align="center"><?php echo $this->translate('Self Collect'); ?></td>
                <td align="center">
                    <?php if(!isset($this->collect['IdStudentRegistration'])){ ?>
                        <input class='collection' type="radio" name="scroll_collection" id="scroll_collection" value="1" <?php echo ($this->collect['scroll_collection']==1) ? 'checked':'';?>>
                    <?php } else { ?>
                        <input class='collection' type="radio" name="scroll_collection" id="scroll_collection" value="1" <?php echo ($this->collect['scroll_collection']==1) ? 'checked':'';?> readonly disabled>
                    <?php }?>
                </td>
            </tr>
            <tr>
                <td width="" align="center"><?php echo $this->translate('Courier'); ?> (<a href='<?php echo $this->baseUrl()?>/graduation/chargers' class='linkDialog'>List of Charges</a>)</td>
                <td align="center">
                    <?php if(!isset($this->collect['IdStudentRegistration'])){ ?>
                        <input class='courier collection' type="radio" name="scroll_collection" id="scroll_collection" value="2" <?php echo ($this->collect['scroll_collection']==2) ? 'checked':'';?>>
                    <?php } else { ?>
                        <input class='courier collection' type="radio" name="scroll_collection" id="scroll_collection" value="2" <?php echo ($this->collect['scroll_collection']==2) ? 'checked':'';?> readonly disabled>
                    <?php }?>
                </td>
            </tr>

            <tr class='mailAddress'>
                <th colspan=2><?php echo $this->translate('Mailing Address'); ?></th>
            </tr>
            <tr class='mailAddress'>
                <td width=""><?php echo $this->translate('Address 1'); ?><br><?php echo $this->translate('Example: No. 2 Jalan Ria'); ?></td>
                <td>
                    <textarea name='scroll_address1' id='scroll_address1' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>><?php echo $this->collect['scroll_address1'];?></textarea>

                    <!--<input type='text' class='inputtext' name='scroll_address1' value='<?php echo $this->collect['scroll_address1'];?>'>-->
                </td>
            <tr  class='mailAddress'>
                <td width=""><?php echo $this->translate('Address 2'); ?><br><?php echo $this->translate('Example: Taman Ria'); ?></td>
                <td><textarea name='scroll_address2' id='scroll_address2' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>><?php echo $this->collect['scroll_address2'];?></textarea><!-- <input type='text' class='input-txt' name='scroll_address2' value='<?php echo $this->collect['scroll_address2'];?>'> --></td>
            <tr  class='mailAddress'>
                <td width=""><?php echo $this->translate('Postcode'); ?></td>
                <td><input type='text' class='inputtext' name='scroll_postcode' id='scroll_postcode' value='<?php echo $this->collect['scroll_postcode'];?>' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>></td>
            <tr class='mailAddress'>
                <td width=""><?php echo $this->translate('Country'); ?></td>
                <td>
                    <select name='scroll_country' id='scroll_country' class='select' onchange='getState(this.value,"scroll_state");' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>>
                        <option value=''>-- Please Select --</option>
                        <?php foreach($this->country_data as $country){
                            if($country['idCountry']==$this->collect['scroll_country']){
                                $sel = 'selected';
                            }else{
                                $sel = '';
                            }
                            ?>
                            <option value='<?php echo $country['idCountry'];?>' <?php echo $sel; ?>><?php echo $country['CountryName'];?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr  class='mailAddress'>
                <td width=""><?php echo $this->translate('State'); ?></td>
                <td>
                    <select name='scroll_state' id='scroll_state' class='select' onchange='getCity(this.value,"scroll_city"); checkOthers(this,"scroll_state_others");' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>>
                        <option value=''>-- Please Select --</option>
                    </select>
                    <input placeHolder='Please specify' type='text' name='scroll_state_others' id='scroll_state_others' class='inputtext' style='display:none' value='<?php echo $this->collect['scroll_state_others'];?>' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>>
                </td>
            </tr>
            <tr  class='mailAddress'>
                <td width=""><?php echo $this->translate('City'); ?></td>
                <td>
                    <select name='scroll_city' id='scroll_city' class='select' onchange='checkOthers(this,"scroll_city_others");' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>>
                        <option value=''>-- Please Select --</option>
                    </select>
                    <input placeHolder='Please specify' type='text' name='scroll_city_others' id='scroll_city_others' class='inputtext' style='display:none' value='<?php echo $this->collect['scroll_city_others'];?>' <?php if(isset($this->collect['IdStudentRegistration'])){ echo 'disabled readonly';} ?>>
                </td>
            </tr>
        </table>
            <?php if(!isset($this->collect['IdStudentRegistration'])){?>
                <div class='submit'>
                    <input type="submit" name="update" class="btn-submit" value="<?php echo $this->translate('Submit'); ?>">
                </div>
            <?php } ?>
    </form>

        <br>
        <table class='text2'>
            <tr>
                <td><span id='textBold'>Important Note: </span> The graduands are not allowed to collect the Certificate if they have any outstanding debts.</td>
            </tr>
            <tr>
                <td>
                    <span id='textBold'>Certificate Service</span>
                    <table>
                        <tr>
                            <td>1.</td>
                            <td>You are required to pay the courier service as per the list of charges.</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>You must provide complete postal address. PO Box number is not accepted.</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>For us to proceed with the service, you must:
                                <ul>
                                    <li>Pay the courier service charges. Please proceed to Finance tab to arrange for the payment (only applicable upon submission of the above details).
                                    </li>
                                    <li>Enter/email us the photo reference number which will be given to you by convocation official.
                                    </li>
                                </ul></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Tracking Number will be given once the certificate has been posted.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <div id="dialog-box" title="<?php echo $this->translate("List of Charges"); ?>">
            <div id='loading'>Loading...</div>
        </div>
    </div>
</div>
