
<script>
    $(function() {
        $( ".cancelLink" ).click(function(event) {

            event.preventDefault();

            var msg = confirm('Are you sure you want to cancel this application?');
            if(msg){
                url = $(this).attr('href');
                window.location = url;
            }
        });
    });
</script>

<style type="text/css">
    th {
        text-align: center !important;
    }
</style>

<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <div class="breadcrum">
            <ul class="tri-steps">
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'attendance'),'default',true);?>"><?php echo $this->translate("Attendance"); ?></a></div></li>
                <li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'record-verification'),'default',true);?>"><?php echo $this->translate("Record Verification"); ?></a></div></li>
                <li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'guests'),'default',true);?>"><?php echo $this->translate("Guest"); ?></a></div></li>
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection'),'default',true);?>"><?php echo $this->translate("Certificate Collection"); ?></a></div></li>
                <li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'payment'),'default',true);?>"><?php echo $this->translate("Payment Online"); ?></a></div></li>
            </ul>
            <div class="clear"></div>
        </div>

            <h2><?php echo $this->translate('Guest Application'); ?></h2>

        <?php if($this->allow==false){?>
            <div class="error"><span class="icon icon-alert"></span>
                Application for additional guests is now closed.The deadline to apply for additional guests was
                <?php echo date('d-m-Y',strtotime($this->convocation['c_guest_app_enddate']));?>. We are unable to take any request for additional guests after this date. For issues of concern please email the team at  <a href="mailto:graduandaffairs@ibfim.org.
                ">graduandaffairs@ibfim.org</a>.
            </div>
        <?php } ?>

        <input type="hidden" name="c_id" value="<?php echo $this->guest['c_id']; ?>">
        <table width="100%" class="uk-table uk-table-bordered">
            <tr>
                <th width="25%"><?php echo $this->translate('Application Date')?></th>
                <th width="10%"><?php echo $this->translate('Total Guests Application')?></th>
                <th width="10%"><?php echo $this->translate('Status')?></th>
                <th width="10%"><?php echo $this->translate('Total Guest Approved')?></th>
                <th width="10%"><?php echo $this->translate('Amount Due')?></th>
                <th><?php echo $this->translate('Remarks')?></th>
                <th></th>
            </tr>
            <?php if ( empty($this->guest) ) {?>
                <tr>
                    <td colspan="7"><?php echo $this->translate('No application found');?></td>
                </tr>
            <?php } else {?>
                <tr>
                    <td align="center"><?php echo $this->guest['applied_date'] ?></td>
                    <td align="center"><?php echo $this->guest['guests']?></td>
                    <td align="center"><?php echo $this->guest['status']?></td>
                    <td align="center"><?php echo  $this->guest['guest_approve']?></td>
                    <td align="center">
                        <?php if($this->guest['status']=='APPROVED') { ?>
                            <?php echo $this->guest['cur_symbol_prefix'].' '.number_format($this->guest['bill_amount'],2) ?>
                        <?php } ?>
                    </td>
                    <td align="center"><?php echo $this->guest['note']?></td>
                    <td align="center">
                        <?php if ($this->allow==true && $this->guest['status']=='APPLIED') { ?>
                            <a class='cancelLink' href="<?php echo $this->baseUrl()?>/graduation/guests-cancel"><?php echo $this->translate('Cancel')?></a>
                        <?php } ?>
                    </td>
                </tr>
            <?php }?>
        </table>

        <?php if ($this->allow==true && empty($this->guest) ) { ?>
            <div class="opt" align='left'>
                <a href="<?php echo $this->baseUrl()?>/graduation/guests-add" class="uk-button uk-button-primary"><?php echo $this->translate('Apply')?></a>
            </div>
        <?php } ?>

        <br>
        <div class='text2'>
            <?php if(isset($this->feeConvoData)){?>
                The guest invitation is <strong><?php echo $this->feeConvoData['cur_symbol_prefix'].' '.number_format($this->feeConvoData['fv_amount'],2); ?></strong> per invitation.
            <?php } ?>
                Please note that the guest request is not guaranteed. It will be based on availability.
        </div>
    </div>
</div>
