<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <div class="message toolbar">

            <div class="uk-width-medium-8-10">
                <div class="breadcrum">
                    <ul class="tri-steps">
                        <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'attendance'),'default',true);?>"><?php echo $this->translate("Attendance"); ?></a></div></li>
                        <li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'record-verification'),'default',true);?>"><?php echo $this->translate("Record Verification"); ?></a></div></li>
                        <li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'guests'),'default',true);?>"><?php echo $this->translate("Guest"); ?></a></div></li>
                        <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection'),'default',true);?>"><?php echo $this->translate("Certificate Collection"); ?></a></div></li>
                        <li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'payment'),'default',true);?>"><?php echo $this->translate("Payment Online"); ?></a></div></li>
                    </ul>
                    <div class="clear"></div>
                </div>

            <h2><?php echo $this->translate('Additional Guests'); ?></h2>
        </div>

        <form method="post" id="form_guests" onsubmit="return checkForm()" class="appform">
            <!-- group -->
            <div class="group">

                <div class="row">
                    <label><?php echo $this->translate('Total Guests')?> <span class="reqMark">*</span></label>
                    <div class="element">
                        <select class="inputtext reqfield" name="guests" id="guests">
                            <?php for($i=1; $i<=2; $i++){?>
                                <option value='<?php echo $i; ?>'><?php echo $i;?></option>
                            <?php } ?>
                        </select>
                        <!--<input class="inputtext reqfield" type="text" name="guests" id="guests" value=""/>-->
                    </div>
                </div>
                <div class="row">
                    <label>Description</label>
                    <div class="element">
                        <textarea name="note" id="note" class="textarea" rows="24" cols="80"></textarea>
                    </div>
                </div>
                <!-- /group -->
                <div class="submit">
                    <input type="submit" name="save" id="save" value="Submit" class="btn-submit" />
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script type="text/javascript">
    <?php jspack_start() ?>
    $(function()
    {

    });

    function checkForm()
    {
        var error = 0;

        $("#form_guests .reqfield").each(function()
        {
            if ( $(this).attr("type") != 'radio' )
            {
                var field = $(this).parent().prev().html();

                var p = $(this).val();

                if ( p == '' )
                {
                    //alert(field+" cannot be empty");
                    $(this).parent().prev().addClass("req");
                    $(this).focus();

                    error = 1;
                    //return false;
                }
                else
                {
                    $(this).parent().prev().removeClass("req");
                }
            }
        });

        if ( error == 1 )
        {
            alert('Please fill in all the required fields');
            return false;
        }


        $(window).unbind('beforeunload');

        return true;
    }

    <?php jspack_output() ?>
</script>