
    <ol class="progress-track">
        <li class="progress-done">
            <div class="icon-wrap">
                <i class="icon uk-icon-search animated zoomIn"></i>
            </div>
            <span class="progress-text">Verify Certificate</span>
        </li>

        <li class="progress-done progress-current">
            <div class="icon-wrap">
                <i class="icon uk-icon-shopping-cart"></i>
            </div>
            <span class="progress-text"><?php echo $this->translate('Payment') ?></span>
        </li>
    </ol>

    <h2><?php echo $this->translate('Payment') ?></h2>

    <form
        method      ="post"
        id          ="form_payment"
        action      ="<?php echo $this->baseUrl() ?>/graduation/pay/invoice_id/<?php echo $this->invoice_id; ?>/order_id/<?php echo $this->order_id; ?>"
        name        ="form_payment">

        <table class="uk-table uk-table-stacked uk-table-main">
            <tr>
                <th colspan="2"><strong><?php echo $this->translate('Invoice No') ?>
                        : <?php echo $this->invoice_list[0]['bill_number']; ?></strong></th>
            </tr>

            <tr>
                <td><?php echo $this->translate('Amount') ?></td>
                <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice_list[0]['amount'], 'symbol' => $this->invoice_list[0]['cur_code'])) ?></td>
            </tr>

            <?php if ($this->invoice['dn_amount'] != '0.00') { ?>
                <tr>
                    <td><?php echo $this->translate('Discount') ?></td>
                    <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice_list[0]['dn_amount'], 'symbol' => $this->invoice_list[0]['cur_code'])) ?></td>
                </tr>
            <?php } ?>
            <tr>
                <td><?php echo $this->translate('GST Tax 6%') ?></td>
                <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice_list[0]['gst_amount'],'symbol' => $this->invoice_list[0]['cur_code'])) ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Total') ?></td>
                <td align="right"><?php echo new Zend_Currency(array('value' => $this->invoice_list[0]['bill_amount'], 'symbol' => $this->invoice_list[0]['cur_code'])) ?></td>
            </tr>
        </table>


        <input type="hidden" name="invoiceId" id="invoiceId" value="<?php echo $this->invoiceId; ?>">
        <input type="hidden" name="orderId" id="orderId" value="<?php echo $this->orderId; ?>">
        <table class="uk-table uk-table-stacked uk-table-main">
            <tr>
                <th colspan="2"><strong><?php echo $this->translate('Payment Mode') ?></strong></th>
                <th width="10%"><strong><?php echo $this->translate('Service Fees'); ?></strong></th>
                <th width="10%"><strong><?php echo $this->translate('Net Amount'); ?></strong></th>
            </tr>
            <?php foreach ($this->paymentmodelist as $payment):

                $cur_code = $payment['cur_code'];
                ?>
                <tr>
                    <td width="2px">
                        <input type="radio" name="payment_mode" id="payment_mode" value="<?php echo $payment['id']; ?>"/>
                        <input type="hidden" name="foc_<?php echo $payment['id']; ?>" id="foc_<?php echo $payment['id']; ?>" value="<?php echo $payment['foc'] ?>">

                    </td>
                    <td><?php echo $payment['payment_mode']; ?>
                        <?php if ($payment['fees_type'] == 2): ?>
                            (with <?php echo $payment['fees_percentage']; ?>% Service Charges)
                        <?php endif; ?>

                    </td>
                    <td><?php echo $cur_code; ?><?php echo number_format($payment['fees_display_amount'], 2); ?></td>
                    <td align="right" class="net_amount_with_fees">
                        <?php echo $cur_code; ?><?php echo number_format($payment['net_amount_with_fees'], 2); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>

        <h3>Declaration</h3>
        <input type="checkbox" name="agreement" id="agreement"/>
        I hereby declare that the information given is true and accurate. If I passed the examination and the
        information given is found to be not true, I understand that IBFIM reserves the right to Cancel the
        examination result and take action according to the rules and regulation
        of <strong><?php echo $this->program['ProgramName']; ?></strong>.

        <hr>
        <div class="uk-text-right">
            <p class="uk-text-muted">By clicking the "Confirm" button, you agree to these <a href="#">Terms of Service</a>.
            </p>
            <a href="<?php echo $this->baseUrl() ?>/graduation/payment"
               class="uk-button uk-button"><?php echo $this->translate('Back') ?></a>
            <button type="submit" id="confirm" name="confirm"
                    class="uk-button uk-button-primary" disabled> <?php echo $this->translate('Confirm'); ?>
            </button>
        </div>
    </form>

    <script type="text/javascript">
        $(function() {

            $('#agreement').change(function(e) {
                if ($(this).is(':checked'))
                    $('#confirm').attr("disabled", false);
                else
                    $('#confirm').attr("disabled", true);
            });
        });

    </script>



