<script>
    var currency_use = null;

    function validate_form(){
        if( $(".bill:checked").length > 0 ){
            return true;
        }else{
            alert('<?php echo $this->translate('Please select at least 1 item to pay');?>');
            return false;
        }
    }
</script>


<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <div class="breadcrum">
            <ul class="tri-steps">
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'record-verification-certificate'),'default',true);?>"><?php echo $this->translate("Record Verification"); ?></a></div></li>
                <li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection-certificate'),'default',true);?>"><?php echo $this->translate("Certificate Collection"); ?></a></div></li>
                <li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection-certificate'),'default',true);?>"><?php echo $this->translate("Payment Online"); ?></a></div></li>
            </ul>
            <div class="clear"></div>
        </div>
        <h2><?php echo $this->translate('Online Payment'); ?></h2>

        <form id="payment_list" action="" method="post" onsubmit="return validate_form();">
            <table class="uk-table uk-table-bordered" width="100%">
                <tr>
                    <th width="20px">&nbsp;</th>
                    <th width="100px"><?php echo $this->translate("Date")?></th>
                    <th><?php echo $this->translate("Reference No")?></th>
                    <th><?php echo $this->translate("Description")?></th>
                    <th width="150px"><?php echo $this->translate("Debit Amount")?></th>
                    <th width="150px"><?php echo $this->translate("Credit Amount")?></th>
                    <th width="150px"><?php echo $this->translate("Balance")?></th>
                </tr>
                <?php
                $i=0;
                if(count($this->bill)>0){
                    $balance = 0;
                    foreach ($this->bill as $entry):

                        $desc = '';
                        if($entry['MigrateCode']){
                            $desc .= $entry['bill_description'];
                        }else{
                            $desc .= ($entry['IdSubject']) ? $entry['SubCode'].' - ' : '';
                            $desc .= $entry['fi_name'];
                        }

                        /*$desc = $entry['fi_name'];
                            if($entry['IdSubject']){
                                $desc = $entry['SubCode'].' '.$entry['SubjectName'].' - '.$entry['item_name'];
                            }	*/
                        ?>
                        <tr>
                            <td align="center">
                                <input type="checkbox" name="invoice[]"  class="bill" value="<?php echo $entry['idDet']?>" data-currency_code="<?php echo $entry['cur_code']?>" />
                            </td>
                            <td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
                            <td><?php echo $entry['bill_number']; ?></td>
                            <td><?php echo $desc; ?></td>
                            <td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['amount'], 2, '.', ','); ?></td>
                            <td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['paid'], 2, '.', ','); ?></td>
                            <td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['balance'], 2, '.', ','); ?></td>
                        </tr>
                        <?php
                    endforeach;
                }
                ?>
            </table>
            <?php if(count($this->bill)>0){ ?>
               <div class="uk-text-right">
                    <p class="uk-text-muted">By clicking the "Proceed to Payment" button, you agree to these <a href="#">Terms of Service</a>. </p>
                    <input type="button" class="uk-button" name="back" value="<?php echo $this->translate('Back')?>" onclick="javascript:history.go(-1)"/>
                    <input type="submit" class="uk-button uk-button-primary" name="register" value="<?php echo $this->translate('Proceed to Payment')?>" />
                </div>
            <?php }?>
        </form>




        </div>
    </div>