<script>
    $(document).ready(function(){
        $('#checklistForm').submit(function(event) {

            var numberChecked = $('input:checkbox:checked').length;
            var totalCheckbox = $('input:checkbox').length;

            if(numberChecked != totalCheckbox){
                alert("You have to verify all record verification item.");
                return false;
            }else{
                //return false;
                return true;
            }
            //return false;
            event.preventDefault();
        });
    });

</script>

<style>
    #textBold{
        font-weight:bold;
        text-transform: uppercase;
    }
</style>

<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <div class="breadcrum">
            <ul class="tri-steps">
                <li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'record-verification-certificate'),'default',true);?>"><?php echo $this->translate("Record Verification"); ?></a></div></li>
                <li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'collection-certificate'),'default',true);?>"><?php echo $this->translate("Certificate Collection"); ?></a></div></li>
                <li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'graduation','action'=>'payment-certificate'),'default',true);?>"><?php echo $this->translate("Payment Online"); ?></a></div></li>
            </ul>
            <div class="clear"></div>
        </div>

        <h2><?php echo $this->translate('Record Verification'); ?></h2>
        <form method="post" name='checklistForm' id='checklistForm'>
            <table class="uk-table uk-table-bordered" width="100%">
                <tr>
                    <th width="1%"></th>
                    <th>
                        <?php echo $this->translate('Record Verification Item'); ?>
                    </th>
                    <th>
                        <?php echo $this->translate('Remarks')?>
                    </th>
                </tr>
                <?php
                if(count($this->checklist)>0){
                    foreach ($this->checklist as $checklist): ?>
                        <!--<tr class="clrow">
			<td><input type="checkbox" class="cl" name="checklist_id[<?php echo $checklist['psc_id']; ?>]" value="1" <?php echo  $checklist['psc_status'] == 1 ? 'checked="checked"':'' ?>/></td>
			<td>
				<?php echo $checklist['ChecklistName']; ?>
			</td>
			<td>
				<input type="text" id="clr_<?php echo $checklist['psc_id']?>" class="inputtext" name="checklist_remarks[<?php echo $checklist['psc_id']?>]" value="<?php echo $checklist['remarks_message']?>" />
				<input type="hidden" name="checklist_all[<?php echo $checklist['psc_id']?>]" value="" />
			</td>
		</tr>
	-->
                <tr class="clrow">
                    <td><input type="checkbox" class="cl" name="checklist_id[]" id='checklist_id' value='<?php echo $checklist['id']; ?>'  <?php echo  $checklist['ischecked'] == 1 ? 'checked="checked"':'' ?> <?php echo  $checklist['disabled'] == 1 ? 'disabled=""':'' ?>></td>
                    <td>
                        <?php echo $checklist['name']; ?>
                        <br>
                        <span id='textBold'><?php echo isset($checklist['profile_info']) ? $checklist['profile_info']:''; ?></span>
                    </td>
                    <td><input class="input-text" type='text' name="remarks[<?php echo $checklist['id']; ?>]" id="remarks" value="<?php echo (isset($checklist['remarks_message'])) ? html_entity_decode($checklist['remarks_message'],ENT_QUOTES):""; ?>" <?php echo  $checklist['disabled'] == 1 ? 'disabled=""':'' ?>></td>
                </tr>
                    <?php endforeach ?>
                <?php }else{ echo '<tr><td colspan=3>No records</td></tr>';} ?>
            </table>
            <?php
            if($this->allow==true && count($this->checklist)>0 && $this->flag_submission==false){ ?>
                <div class="submit">
                    <input type="submit" class="btn-submit" value="<?php echo $this->translate("Submit")?>" />
                </div>
            <?php } ?>
        </form>

        <p>If there is any change on your name and/or your MyKad/Passport number, please enter the changes in
            the remarks column.If there is any change on your permanent address, contact number or email address, please go to your
            Profile tab and edit your Contact Info.
        </p>

    </div>
</div>
