<script type="text/javascript">
    function getCourse(semesterId){
        
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'learning-material', 'action'=>'get-course'),"default",true);?>/id/"+semesterId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('course');
            },
            complete: function() {
		hideLoading('course');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubCode+' - '+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>';
            });
            $('#course').html(content);
        })
        .fail(function() {
            alert("error load courses"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->course; ?></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="button" class="btn-submit" name="clear" value="clear" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'learning-material', 'action'=>'index'),'default',true);?>';"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <thead>
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme') ?></th>
            <th><?php echo $this->translate('Mode') ?></th>
            <th><?php echo $this->translate('Sponsorship') ?></th>
            <th><?php echo $this->translate('Scholarship') ?></th>
            <th><?php echo $this->translate('Discount Plan') ?></th>
            <th><?php echo $this->translate('') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php 
        if ($this->studentList){
        $no = 0;
        foreach ($this->studentList as $studentLoop){
        $no++;
        ?>
        <tr>
            <td><?php echo $no; ?></td>
            <td><?php echo $studentLoop['appl_fname'].' '.$studentLoop['appl_lname']; ?></td>
            <td><?php echo $studentLoop['registrationId'] ?></td>
            <td><?php echo $studentLoop['ProgramCode']; ?></td>
            <td><?php echo $studentLoop['mos']; ?></td>
            <td>
                <?php 
                echo GeneralSetup_Model_DbTable_LearningMaterial::getSponsorship($studentLoop['IdStudentRegistration']);
                ?>
            </td>
            <td>
                <?php 
                echo GeneralSetup_Model_DbTable_LearningMaterial::getScholarship($studentLoop['IdStudentRegistration']);
                ?>
            </td>
            <td>
                <?php 
                echo GeneralSetup_Model_DbTable_LearningMaterial::getDiscountPlan($studentLoop['IdStudentRegistration']);
                ?>
            </td>
            <td align="center"><a href="<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'learning-material', 'action'=>'view', 'id'=>$studentLoop['IdStudentRegistration'], 'subjectid'=>$this->formData['course'], 'semesterid'=>$this->formData['semester']),'default',true);?>"><?php echo $this->translate('Learning Material'); ?></a></td>
        </tr>
        <?php 
        }
        }
        ?>
    </tbody>
</table>