<script type="text/javascript">
    $(function() {
        $( "#dialog:ui-dialog" ).dialog( "destroy" );

        $( "#adddialog" ).dialog({
            modal: true,
            autoOpen: false,
            width: 650,
            buttons: {
                "Save": function(){
                    if ($('#isbn').val() == '' || $('#accesscode').val() == ''){
                        alert('Please fill in all required fields.');
                    }else{
                        $("#addform").attr('action', '/generalsetup/learning-material/add');
                        $("#addform").submit();
                        $(this).dialog("close");
                    }
                },
                "Cancel": function() {
                    if (sure('<?php echo $this->translate('Are you sure?')?>') === true){
                        $(this).dialog("close");
                    }
                }
            }
        });
    });
    
    function addLearningMaterial(){
        $("#adddialog" ).dialog('open');
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'learning-material', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<h3><?php echo $this->translate('Student Info'); ?></h3>
<table class="table" width="100%">
    <tr>
        <td><?php echo $this->translate('Name'); ?></td>
        <td><?php echo $this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_lname']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student ID'); ?></td>
        <td><?php echo $this->studentInfo['registrationId']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Programme'); ?></td>
        <td><?php echo $this->studentInfo['ProgramName']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Mode'); ?></td>
        <td><?php echo $this->studentInfo['mos']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Sponsorship'); ?></td>
        <td><?php echo GeneralSetup_Model_DbTable_LearningMaterial::getSponsorship($this->studentInfo['IdStudentRegistration']); ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Scholarship'); ?></td>
        <td><?php echo GeneralSetup_Model_DbTable_LearningMaterial::getScholarship($this->studentInfo['IdStudentRegistration']); ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Discount Plan'); ?></td>
        <td><?php echo GeneralSetup_Model_DbTable_LearningMaterial::getDiscountPlan($this->studentInfo['IdStudentRegistration']); ?></td>
    </tr>
</table>
<br/>
<h3><?php echo $this->translate('Learning Material'); ?></h3>
<div style="float:right; overflow: hidden;">
    <button type="button" class="btn-submit" onclick="addLearningMaterial();"><?php echo $this->translate('Add Learning Material'); ?></button>
</div>
<br/>
<br/>
<br/>
<br/>
<form method="post" id="editform">
    <table class="table" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate('No.'); ?></th>
                <th><?php echo $this->translate('ISBN'); ?></th>
                <th><?php echo $this->translate('Access Code'); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php 
            if ($this->isbnList){
            $no = 0;
            foreach ($this->isbnList as $isbnLoop){
            $no++;
            ?>
            <tr>
                <td align="center" valign="middle"><?php echo $no; ?></td>
                <td align="center" valign="middle"><?php echo $isbnLoop['tlm_ISBN']; ?></td>
                <td align="center" valign="middle">
                    <input class="input-txt" type="text" id="editaccesscode" name="editaccesscode[<?php echo $isbnLoop['lmt_id']; ?>]" value="<?php echo $isbnLoop['lmt_accesscode']; ?>" required="">
                </td>
                <td align="center" valign="middle">
                    <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'learning-material', 'action'=>'delete', 'id'=>$isbnLoop['lmt_id'], 'studentid'=>$this->studentInfo['IdStudentRegistration'], 'subjectid'=>$this->subjectid, 'semesterid'=>$this->semesterid),'default',true);?>"><?php echo $this->translate('Delete'); ?></a>
                </td>
            </tr>
            <?php
            }
            ?>
            <tr>
                <td colspan="4" align="center" valign="middle">
                    <button type="submit" name="edit" id="edit" class="btn-submit"><?php echo $this->translate('Save'); ?></button>
                </td>
            </tr>
            <?php
            }
            ?>
        </tbody>
    </table>
</form>
<div id="adddialog" title="Add Learning Management">
    <form method="post" id="addform">
        <table>
            <tr>
                <td><?php echo $this->translate('ISBN'); ?> <span class="reqMark">*</span></td>
                <td>:</td>
                <td>
                    <select id="isbn" name="isbn" class="select" required="">
                        <option label="-- Please Select --" value="">-- Please Select --</option>
                        <?php 
                        if ($this->learningMaterialList){
                        foreach ($this->learningMaterialList as $learningMaterialLoop){
                        ?>
                        <option label="<?php echo $learningMaterialLoop['tlm_ISBN']; ?>" value="<?php echo $learningMaterialLoop['tlm_id']; ?>"><?php echo $learningMaterialLoop['tlm_ISBN']; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Access Code'); ?> <span class="reqMark">*</span></td>
                <td>:</td>
                <td>
                    <input class="input-txt" type="text" id="accesscode" name="accesscode" value="" required="">
                    <input type="hidden" id="studentid" name="studentid" value="<?php echo $this->studentInfo['IdStudentRegistration']; ?>">
                    <input type="hidden" id="semesterid" name="semesterid" value="<?php echo $this->semesterid; ?>">
                    <input type="hidden" id="subjectid" name="subjectid" value="<?php echo $this->subjectid; ?>">
                </td>
            </tr>
        </table>
    </form>
</div>