<?php //echo $this->headLink()->prependStylesheet($this->baseUrl() . '/css/home.css'); ?>
<style type="text/css">
	.enrollexam-btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.enrollexam-caret {
		margin-left: -2px;
	}

	.enrollexam-caret li > a {
		padding: 0 15px;
	}
</style>
<div class="tab" id="exam">
    <div class="uk-alert">
        <strong>Chartered Banker</strong> -
        The Chartered Banker is the gold standard for professionals working
        in  the  banking  sector,  recognised  and  supported  by  major  financial
        services organisations across the globe, the Chartered Banker gives
        you a world class qualification that will help you achieve and maintain
        standards of excellence and professionalism expected by clients and
        employers. The globally recognised Chartered Banker designation is
        jointly  conferred  by  AICB  and  the  Chartered  Banker  Institute  in  the
        United  Kingdom,  the  only  body  in  the  world  able  to  confer  this
        designation.
    </div>
    <table class="uk-table uk-table-stacked uk-table-main" width="100%">
        <th colspan="2">EDUCATION PATHWAY </th>
        </tr>
        <tr>
            <td><label class="uk-form-label" for="email"><strong><?php echo $this->translate('Membership Designation')?></strong></label></td>
            <td>
                <select id="lvlbnker">
                    <option value=""> --- Please Select ---</option>
                    <option value="1"> Executive Banker (Level 1) </option>
                    <option value="2"> Professional Banker (Level 2) </option>
                    <option value="3"> Chartered Banker (Level 3) </option>
                </select>

            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <th colspan="2">EDUCATION QUALIFICATION </th>
        </tr>
        <tr>
            <td width="40%"><label class="uk-form-label" for="email"><strong><?php echo $this->translate('Qualification')?></strong></label></td>
            <td>
                <div class="uk-form-controls" id="lvl1" style="display: none">
                    <strong><u>Standard Route</u></strong><br><br>
                    <input type="checkbox"> Diploma or equivalent or;<br>
                    <input type="checkbox"> SPM + 3 years banking experience<br><br>
                </div>
                <div class="uk-form-controls" id="lvl2" style="display: none">
                    <strong><u>Standard Route</u></strong><br><br>
                    <input type="checkbox"> Recognised <i>Executive Banker (Level 1) </i>OR;<br>
                    <input type="checkbox"> Recognised Degree OR;<br>
                    <input type="checkbox"> AICB foundation level qualification <i>* to complete 3 Professional Banker modules</i> OR; <br>
                    <input type="checkbox"> AICB intermediate level qualification <i>* to complete 2 Professional Banker modules</i> <br><br>
                </div>
                <div class="uk-form-controls" id="lvl3" style="display: none">
                    <strong><u>Accelerated Route</u></strong><br><br>
                    <input type="checkbox"> Recognised <i>Professional Banker (Level 2)</i> OR;<br>
                    <input type="checkbox"> Professional accountancy qualification OR CFA Charter holder + 5 Years work experience in FSI <i>* to complete 3 Chartered Banker modules</i> OR;<br>
                    <input type="checkbox"> Senior Banker Pathway - :<br>
                    <ul>
                        <li>C-1 (at least 5 Years in this position)/ C-2 (at least 3 years in this position) AND;</li>
                        <li>15 years banking experience AND;</li>
                        <li>Degree or equivalent CCP/IBBM Diploma (C-1 to complete 2 Chartered Banker modules;C2 - to complete 3 Chartered Banker modules)</li>
                    </ul>
                    <br><br>
                </div>

            </td>
        </tr>
    </table>
</div>
<div class="uk-grid">

	<form class="uk-form uk-form-stacked uk-text-left" method="post" id="form-register">
		<!-- recaptcha -->
		<div class="uk-form-row uk-margin-large-bottom">
			<script src='https://www.google.com/recaptcha/api.js'></script>
			<label class="uk-form-label" for="password"><?php echo $this->translate('Security')?></label>
			<div class="uk-form-controls">
				<div class="g-recaptcha" data-sitekey="<?php echo RECAPTCHA_KEY ?>"></div>
			</div>
		</div>
		<!-- /recaptcha -->

		<!-- pdpa -->
		<div class="uk-form-row">
			<p><input type="checkbox" id="privacy" name="privacy" value="1" required /> <?php echo $this->translate('I understand the terms and agree to provide my information in accordance to the PDPA notice. Click <a href="/index/privacy">here</a> to view the PDPA. ')?></p>
		</div>
		<div class="uk-form-row">
			<button type="submit" name="register" class="uk-button"><?php echo $this->translate('Submit')?></button>
		</div>
	</form>
			<!-- /content -->
</div>

<script type="text/javascript">
	$(document).ready(function(){

        $('#lvl1').hide;
        $('#lvl2').hide;
        $('#lvl3').hide;
	});

    $('#lvlbnker').on('change', function() {
        var levelbanker = $('#lvlbnker').val();
        if(levelbanker != ""){
            if(levelbanker == "1"){
                $('#lvl1').css({'display':''});
                $('#lvl2').css({'display':'none'});
                $('#lvl3').css({'display':'none'});
            }
            if(levelbanker == "2"){
                $('#lvl2').css({'display':''});
                $('#lvl1').css({'display':'none'});
                $('#lvl3').css({'display':'none'});
            }
            if(levelbanker == "3"){
                $('#lvl3').css({'display':''});
                $('#lvl1').css({'display':'none'});
                $('#lvl2').css({'display':'none'});
            }
        }else{
            $('#lvl1').css({'display':'none'});
            $('#lvl2').css({'display':'none'});
            $('#lvl3').css({'display':'none'});
        }
		//	alert( $('#lvlbnker').val());
	})
</script>