
<script type="text/javascript">
	function del(){
		if(confirm('<?php echo $this->translate("Confirm to delete?"); ?>')){
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-subject', 'action'=>'delete', 'id'=>$this->subject['ss_id']),'default',true); ?>";
		}
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-subject', 'action'=>'edit', 'id'=>$this->subject['ss_id']),'default',true);?>'">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-subject', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div width="500px">
	<table class="table2" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="150px"><?php echo $this->translate("Subject Name"); ?></th>
			<td><?php echo $this->subject['ss_subject']; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Subject Name"); ?> (Indonesia)</th>
			<td><?php echo $this->subject['ss_subject_bahasa']; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Basic Core Subject"); ?></th>
			<td><?php echo $this->subject['ss_core_subject']==1?$this->translate("Yes"):$this->translate("No"); ?></td>
		</tr>
	</table>	
</div>