@import url('../font/proxima-nova.css');
body {
    color: #717171;/*Verdana,Helvetica*/
    font-family: "Verdana,Helvetica;
    font-size: 11px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}

.timeline {
    display: table;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
}
.timeline:before {
    content: "";
    width: 6px;
    margin-left: -4px;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 30px;
    background-color: #ddd;
    z-index: 0;
}
.timeline .timeline-date {
    position: absolute;
    width: 150px;
    left: -200px;
    top: 50%;
    margin-top: -9px;
    text-align: right;
}
.timeline .timeline-icon {
    position: absolute;
    left: -41px;
    top: -2px;
    top: 50%;
    margin-top: -15px;
}
.timeline .time-icon {
    width: 30px;
    height: 30px;
    line-height: 26px;
    display: inline-block !important;
    z-index: 10;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
}
.timeline .time-icon:before {
    font-size: 16px;
    margin-top: 5px;
}
.timeline-item {
    display: table-row;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-item.alt {
    text-align: right;
}
.timeline-item.alt:before {
    display: none;
}
.timeline-item.alt .panel {
    margin-right: 25px;
    margin-left: 0;
}
.timeline-item.alt .timeline-date {
    left: auto;
    right: -200px;
    text-align: left;
}
.timeline-item.alt .timeline-icon {
    left: auto;
    right: -41px;
}
.timeline-item.active {
    display: table-caption;
    text-align: center;
}
.timeline-item.active:before {
    width: 1%;
}
.timeline-item.active .timeline-caption {
    display: inline-block;
    width: auto;
}
.timeline-item.active .timeline-caption h5 span {
    color: #fff;
}
.timeline-item.active .panel {
    margin-left: 0;
}
.timeline-item.active .timeline-date, .timeline-item.active .timeline-icon {
    position: static;
    margin-bottom: 10px;
    display: inline-block;
    width: auto;
}
.timeline-caption {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.timeline-caption .panel {
    display: inline-block;
    position: relative;
    margin-left: 25px;
    text-align: left;
}
.timeline-caption h5 {
    margin: 0;
}
.timeline-caption h5 span {
    display: block;
    color: #666;
    margin-bottom: 4px;
    font-size: 13px;
}
.timeline-caption p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
}
.timeline-footer {
    display: table-row;
}
.timeline-footer a {
    display: table-cell;
    text-align: right;
}
.timeline-footer .time-icon {
    margin-right: -15px;
    z-index: 5;
}
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-body {
    padding: 15px;
}
.panel-body:before, .panel-body:after {
    display: table;
    content: " ";
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    display: table;
    content: " ";
}
.panel-body:after {
    clear: both;
}
.panel>.list-group {
    margin-bottom: 0;
}
.panel>.list-group .list-group-item {
    border-width: 1px 0;
}
.panel>.list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel>.list-group .list-group-item:last-child {
    border-bottom: 0;
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel>.table, .panel>.table-responsive {
    margin-bottom: 0;
}
.panel>.panel-body+.table, .panel>.panel-body+.table-responsive {
    border-top: 1px solid #dddddd;
}
.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
    border: 0;
}
.panel>.table-bordered>thead>tr>th:first-child, .panel>.table-responsive>.table-bordered>thead>tr>th:first-child, .panel>.table-bordered>tbody>tr>th:first-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:first-child, .panel>.table-bordered>tfoot>tr>th:first-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child, .panel>.table-bordered>thead>tr>td:first-child, .panel>.table-responsive>.table-bordered>thead>tr>td:first-child, .panel>.table-bordered>tbody>tr>td:first-child, .panel>.table-responsive>.table-bordered>tbody>tr>td:first-child, .panel>.table-bordered>tfoot>tr>td:first-child, .panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left: 0;
}
.panel>.table-bordered>thead>tr>th:last-child, .panel>.table-responsive>.table-bordered>thead>tr>th:last-child, .panel>.table-bordered>tbody>tr>th:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:last-child, .panel>.table-bordered>tfoot>tr>th:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child, .panel>.table-bordered>thead>tr>td:last-child, .panel>.table-responsive>.table-bordered>thead>tr>td:last-child, .panel>.table-bordered>tbody>tr>td:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>td:last-child, .panel>.table-bordered>tfoot>tr>td:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right: 0;
}
.panel>.table-bordered>thead>tr:last-child>th, .panel>.table-responsive>.table-bordered>thead>tr:last-child>th, .panel>.table-bordered>tbody>tr:last-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th, .panel>.table-bordered>tfoot>tr:last-child>th, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th, .panel>.table-bordered>thead>tr:last-child>td, .panel>.table-responsive>.table-bordered>thead>tr:last-child>td, .panel>.table-bordered>tbody>tr:last-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .panel>.table-bordered>tfoot>tr:last-child>td, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading>.dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}
.panel-title>a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
.panel-group .panel+.panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
    border-top: 0;
}
.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}
.panel-default {
    border-color: #dddddd;
}
.panel-default>.panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #dddddd;
}
.panel-default>.panel-heading>.dropdown .caret {
    border-color: #333333 transparent;
}
.panel-default>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}
.panel-primary {
    border-color: #428bca;
}
.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}
.panel-primary>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #428bca;
}
.panel-primary>.panel-heading>.dropdown .caret {
    border-color: #ffffff transparent;
}
.panel-primary>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #428bca;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-success>.panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-success>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}
.panel-success>.panel-heading>.dropdown .caret {
    border-color: #468847 transparent;
}
.panel-success>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}
.panel-warning {
    border-color: #faebcc;
}
.panel-warning>.panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-warning>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #faebcc;
}
.panel-warning>.panel-heading>.dropdown .caret {
    border-color: #c09853 transparent;
}
.panel-warning>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #faebcc;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel-danger>.panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-danger>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ebccd1;
}
.panel-danger>.panel-heading>.dropdown .caret {
    border-color: #b94a48 transparent;
}
.panel-danger>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #ebccd1;
}
.panel-info {
    border-color: #bce8f1;
}
.panel-info>.panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #bce8f1;
}
.panel-info>.panel-heading>.dropdown .caret {
    border-color: #3a87ad transparent;
}
.panel-info>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #bce8f1;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-clip: padding-box;
}
.popover.top {
    margin-top: -10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-left: -10px;
}
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
.popover-content {
    padding: 9px 14px;
}
.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover .arrow {
    border-width: 11px;
}
.popover .arrow:after {
    border-width: 10px;
    content: "";
}
.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999999;
    border-top-color: rgba(0,0,0,0.25);
    border-bottom-width: 0;
}
.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
    content: " ";
}
.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999999;
    border-right-color: rgba(0,0,0,0.25);
    border-left-width: 0;
}
.popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0;
    content: " ";
}
.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0,0,0,0.25);
    border-top-width: 0;
}
.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
    content: " ";
}
.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999999;
    border-left-color: rgba(0,0,0,0.25);
    border-right-width: 0;
}
.popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
    content: " ";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fa-lg {
    font-size: 1.3333333333333333em;
    line-height: .75em;
    vertical-align: -15%
}
.fa-2x {
    font-size: 2em
}
.fa-3x {
    font-size: 3em
}
.fa-4x {
    font-size: 4em
}
.fa-5x {
    font-size: 5em
}
.fa-fw {
    width: 1.2857142857142858em;
    text-align: center
}
.fa-ul {
    padding-left: 0;
    margin-left: 2.142857142857143em;
    list-style-type: none
}
.fa-ul>li {
    position: relative
}
.fa-li {
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    top: .14285714285714285em;
    text-align: center
}
.fa-li.fa-lg {
    left: -1.8571428571428572em
}
.fa-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}
.pull-right {
    float: right
}
.pull-left {
    float: left
}
.fa.pull-left {
    margin-right: .3em
}
.fa.pull-right {
    margin-left: .3em
}
.fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

@media (min-width: 768px) {
    .app, .app body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .app .hbox.stretch {
        height: 100%;
    }
    .app .vbox>section, .app .vbox>footer {
        position: absolute;
    }
    .app .vbox.flex>section>section {
        overflow: auto;
    }
    .hbox {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
    }
    .hbox>aside, .hbox>section {
        display: table-cell;
        vertical-align: top;
        height: 100%;
        padding: 0;
        float: none;
    }
    .hbox>aside.show, .hbox>aside.hidden-sm, .hbox>section.show, .hbox>section.hidden-sm {
        display: table-cell !important;
    }
    .vbox {
        display: table;
        border-spacing: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .vbox>section, .vbox>footer {
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .vbox>header ~ section {
        top: 50px;
    }
    .vbox>section.w-f {
        bottom: 50px;
    }
    .vbox>footer {
        top: auto;
        z-index: 1000;
    }
    .vbox>footer ~ section {
        bottom: 50px;
    }
    .vbox.flex>header, .vbox.flex>section, .vbox.flex>footer {
        position: inherit;
    }
    .vbox.flex>section {
        display: table-row;
        height: 100%;
    }
    .vbox.flex>section>section {
        position: relative;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }
    .ie .vbox.flex>section>section {
        display: table-cell;
    }
    .vbox.flex>section>section>section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .aside-xs {
        width: 48px;
    }
    .aside {
        width: 180px;
    }
    .aside-sm {
        width: 150px;
    }
    .aside-md {
        width: 220px;
    }
    .aside-lg {
        width: 250px;
    }
    .aside-xl {
        width: 300px;
    }
    .aside-xxl {
        width: 450px;
    }
    .scrollable {
        -webkit-overflow-scrolling: touch;
    }
}
.hbox>aside, .hbox>section {
    padding: 0 !important;
}
.header, .footer {
    min-height: 50px;
    padding: 0 15px;
}
.header>p, .footer>p {
    margin-top: 15px;
    display: inline-block;
}
.header>.btn, .header>.btn-group, .header>.btn-toolbar, .footer>.btn, .footer>.btn-group, .footer>.btn-toolbar {
    margin-top: 10px;
}
.header>.btn-lg, .footer>.btn-lg {
    margin-top: 0;
}
.header .nav-tabs, .footer .nav-tabs {
    border: none;
    margin-left: -15px;
    margin-right: -15px;
}
.header .nav-tabs>li a, .footer .nav-tabs>li a {
    border: none !important;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.header .nav-tabs>li a:hover, .header .nav-tabs>li a:focus, .footer .nav-tabs>li a:hover, .footer .nav-tabs>li a:focus {
    background-color: transparent;
}
.header .nav-tabs>li.active a, .footer .nav-tabs>li.active a {
    color: #717171;
}
.header .nav-tabs>li.active a, .header .nav-tabs>li.active a:hover, .footer .nav-tabs>li.active a, .footer .nav-tabs>li.active a:hover {
    background-color: #f7f7f7;
}
.header .nav-tabs.nav-white>li.active a, .header .nav-tabs.nav-white>li.active a:hover, .footer .nav-tabs.nav-white>li.active a, .footer .nav-tabs.nav-white>li.active a:hover {
    background-color: #fff;
}
.header.navbar, .footer.navbar {
    min-height: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding: 0;
}
.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}
.no-touch .scrollable.hover {
    overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
    overflow: visible;
    overflow-y: auto;
}

@media print {
    html, body, .hbox, .vbox {
        height: auto;
    }
    .vbox>section, .vbox>footer {
        position: relative;
    }
}

.line {
    *width:100%;
    height: 2px;
    margin: 10px 0;
    font-size: 0;
    overflow: hidden;
    background-color: transparent;
    border-width: 0;
    border-top: 1px solid #e8e8e8;
}
.line-xs {
    margin: 0;
}
.line-lg {
    margin-top: 15px;
    margin-bottom: 15px;
}
.line-dashed {
    border-style: dashed;
    background: transparent;
}
.no-line {
    border-width: 0;
}
.no-border, .no-borders {
    border-color: transparent;
    border-width: 0;
}
.no-radius {
    border-radius: 0;
}
.block {
    display: block;
}
.block.hide {
    display: none;
}
.inline {
    display: inline-block !important;
}
.pull-right-lg {
    float: right;
}
.pull-none {
    float: none;
}
.rounded {
    border-radius: 500px;
}
.btn-s-xs {
    min-width: 90px;
}
.btn-s-sm {
    min-width: 100px;
}
.btn-s-md {
    min-width: 120px;
}
.btn-s-lg {
    min-width: 150px;
}
.btn-s-xl {
    min-width: 200px;
}
.l-h-2x {
    line-height: 2em;
}
.l-h-1x {
    line-height: 1.2;
}
.l-h {
    line-height: 1.5;
}
.v-middle {
    vertical-align: middle !important;
}
.v-top {
    vertical-align: top !important;
}
.v-bottom {
    vertical-align: bottom !important;
}
.font-thin {
    font-weight: 300;
}
.font-normal {
    font-weight: normal;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.text-md {
    font-size: 0.85em;
}
.text-sm {
    font-size: 12px;
}
.text-xs {
    font-size: 10px;
}
.text-ellipsis {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-uc {
    text-transform: uppercase;
}
.text-lt {
    text-decoration: line-through;
}
.text-ul {
    text-decoration: underline;
}
.box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.avatar {
    border: 1px solid rgba(255,255,255,0.35);
    display: block;
    border-radius: 500px;
    white-space: nowrap;
}
.avatar img {
    border-radius: 500px;
}
.wrapper-sm {
    padding: 10px;
}
.wrapper {
    padding: 15px;
}
.wrapper-lg {
    padding: 30px;
}
.wrapper-xl {
    padding: 50px;
}
.padder {
    padding-left: 15px;
    padding-right: 15px;
}
.padder-v {
    padding-top: 15px;
    padding-bottom: 15px;
}
.no-padder {
    padding: 0 !important;
}
.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}
.pull-out {
    margin: -10px -15px;
}
.b-a {
    border: 1px solid #cfcfcf;
}
.b-t {
    border-top: 1px solid #cfcfcf;
}
.b-r {
    border-right: 1px solid #cfcfcf;
}
.b-b {
    border-bottom: 1px solid #cfcfcf;
}
.b-l {
    border-left: 1px solid #cfcfcf;
}
.b-light {
    border-color: #e4e4e4;
}
.b-dark {
    border-color: #374b5e;
}
.b-primary {
    border-color: #77c587;
}
.b-success {
    border-color: #9bc877;
}
.b-info {
    border-color: #5fc7c8;
}
.b-warning {
    border-color: #ffcb4d;
}
.b-danger {
    border-color: #fc8174;
}
.b-black {
    border-color: #353535;
}
.b-white {
    border-color: #fff;
}
.b-2x {
    border-width: 2px;
}
.b-3x {
    border-width: 3px;
}
.r {
    border-radius: 2px 2px 2px 2px;
}
.r-l {
    border-radius: 2px 0 0 2px;
}
.r-r {
    border-radius: 0 2px 2px 0;
}
.r-t {
    border-radius: 2px 2px 0 0;
}
.r-b {
    border-radius: 0 0 2px 2px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-n {
    margin: 0;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.media-xs {
    min-width: 50px;
}
.media-sm {
    min-width: 80px;
}
.media-md {
    min-width: 90px;
}
.media-lg {
    min-width: 120px;
}
.thumb {
    width: 64px;
    display: inline-block;
}
.thumb-lg {
    width: 128px;
    display: inline-block;
}
.thumb-md {
    width: 90px;
    display: inline-block;
}
.thumb-xs {
    width: 18px;
    display: inline-block;
}
.thumb-sm {
    width: 36px;
    display: inline-block;
}
.thumb-wrapper {
    padding: 2px;
    border: 1px solid #ddd;
}
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.img-full {
    max-width: 100%;
}
.img-full>img {
    max-width: 100%;
}
.clear {
    display: block;
    overflow: hidden;
}
.scroll-x, .scroll-y {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.scroll-y {
    overflow-y: auto;
}
.scroll-x {
    overflow-x: auto;
}
.no-touch .scroll-x, .no-touch .scroll-y {
    overflow: hidden;
}
.no-touch .scroll-x:hover, .no-touch .scroll-x:focus, .no-touch .scroll-x:active {
    overflow-x: auto;
}
.no-touch .scroll-y:hover, .no-touch .scroll-y:focus, .no-touch .scroll-y:active {
    overflow-y: auto;
}
.no-touch .hover-action {
    display: none;
}
.no-touch .hover:hover .hover-action {
    display: inherit;
}

#flotTip {
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.bg-gradient {
    /*background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(40,50,60,0)), to(rgba(40,50,60,0.05)));
    background-image: -webkit-linear-gradient(top, rgba(40,50,60,0), 0, rgba(40,50,60,0.05), 100%);
    background-image: -moz-linear-gradient(top, rgba(40,50,60,0) 0, rgba(40,50,60,0.05) 100%);
    background-image: linear-gradient(to bottom, rgba(40,50,60,0) 0, rgba(40,50,60,0.05) 100%);
    background-repeat: repeat-x;*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#0c28323c', GradientType=0);
    filter: none;
}
.bg-light {
    background-color: #f1f1f1;
    color: #717171;
}
.bg-light.lt, .bg-light .lt {
    background-color: #f7f7f7;
}
.bg-light.lter, .bg-light .lter {
    background-color: #fefefe;
}
.bg-light.dk, .bg-light .dk {
    background-color: #ebebeb;
}
.bg-light.dker, .bg-light .dker {
    background-color: #e4e4e4;
}
.bg-light .bg {
    background-color: #f1f1f1;
}
.bg-dark {
    background-color: #2e3e4e;
    color: #9db1c5;
}
.bg-dark.lt, .bg-dark .lt {
    background-color: #374b5e;
}
.bg-dark.lter, .bg-dark .lter {
    background-color: #41586e;
}
.bg-dark.dk, .bg-dark .dk {
    background-color: #25313e;
}
.bg-dark.dker, .bg-dark .dker {
    background-color: #1b252e;
}
.bg-dark .bg {
    background-color: #2e3e4e;
}
.bg-dark a {
    color: #adbece;
}
.bg-dark a:hover {
    color: #fff;
}
.bg-dark a.list-group-item:hover, .bg-dark a.list-group-item:focus {
    background-color: inherit;
}
.bg-dark .nav .caret {
    border-top-color: #9db1c5;
    border-bottom-color: #9db1c5;
}
.bg-dark .nav>li>a {
    color: #adbece;
}
.bg-dark .nav>li>a:hover {
    color: #fff;
    background-color: #25313e;
}
.bg-dark .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-dark .nav .open>a {
    background-color: #25313e;
}
.bg-dark.navbar .nav>li.active>a {
    color: #fff;
    background-color: #25313e;
}
.bg-dark .open>a, .bg-dark .open>a:hover, .bg-dark .open>a:focus {
    color: #fff;
}
.bg-dark .text-muted {
    color: #8da4bb !important;
}
.bg-dark .icon-muted {
    color: #4a647e !important;
}
.bg-black {
    background-color: #282828;
    color: #9b9b9b;
}
.bg-black.lt, .bg-black .lt {
    background-color: #353535;
}
.bg-black.lter, .bg-black .lter {
    background-color: #424242;
}
.bg-black.dk, .bg-black .dk {
    background-color: #1b1b1b;
}
.bg-black.dker, .bg-black .dker {
    background-color: #0f0f0f;
}
.bg-black .bg {
    background-color: #282828;
}
.bg-black a {
    color: #a8a8a8;
}
.bg-black a:hover {
    color: #fff;
}
.bg-black a.list-group-item:hover, .bg-black a.list-group-item:focus {
    background-color: inherit;
}
.bg-black .nav .caret {
    border-top-color: #9b9b9b;
    border-bottom-color: #9b9b9b;
}
.bg-black .nav>li>a {
    color: #a8a8a8;
}
.bg-black .nav>li>a:hover {
    color: #fff;
    background-color: #1b1b1b;
}
.bg-black .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-black .nav .open>a {
    background-color: #1b1b1b;
}
.bg-black.navbar .nav>li.active>a {
    color: #fff;
    background-color: #1b1b1b;
}
.bg-black .open>a, .bg-black .open>a:hover, .bg-black .open>a:focus {
    color: #fff;
}
.bg-black .text-muted {
    color: #8e8e8e !important;
}
.bg-black .icon-muted {
    color: #4e4e4e !important;
}
.bg-primary {
    background-color: #8C2F31;
    color: #EA737E;
}
.bg-primary.lt, .bg-primary .lt {
    background-color: #77c587;
}
.bg-primary.lter, .bg-primary .lter {
    background-color: #F36164;
}
.bg-primary.dk, .bg-primary .dk {
    background-color: #53b567;
}
.bg-primary.dker, .bg-primary .dker {
    background-color: #48a75b;
}
.bg-primary .bg {
    background-color: #65bd77;
}
.bg-primary a {
    color: #ffffff;
}
.bg-primary a:hover {
    color: #fff;
}
.bg-primary a.list-group-item:hover, .bg-primary a.list-group-item:focus {
    background-color: inherit;
}
.bg-primary .nav .caret {
    border-top-color: #e2f3e5;
    border-bottom-color: #e2f3e5;
}
.bg-primary .nav>li>a {
    color: #ffffff;
}
.bg-primary .nav>li>a:hover {
    color: #fff;
    background-color: #53b567;
}
.bg-primary .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-primary .nav .open>a {
    background-color: #53b567;
}
.bg-primary.navbar .nav>li.active>a {
    color: #fff;
    background-color: #53b567;
}
.bg-primary .open>a, .bg-primary .open>a:hover, .bg-primary .open>a:focus {
    color: #fff;
}
.bg-primary .text-muted {
    color: #d0ebd6 !important;
}
.bg-primary .icon-muted {
    color: #77c587 !important;
}
.bg-success {
    background-color: #B83D40;
    color: #ebf4e4;
}
.bg-success.lt, .bg-success .lt {
    background-color: #9bc877;
}
.bg-success.lter, .bg-success .lter {
    background-color: #a9d089;
}
.bg-success.dk, .bg-success .dk {
    background-color: #81ba53;
}
.bg-success.dker, .bg-success .dker {
    background-color: #74ad46;
}
.bg-success .bg {
    background-color: #8ec165;
}
.bg-success a {
    color: #ffffff;
}
.bg-success a:hover {
    color: #fff;
}
.bg-success a.list-group-item:hover, .bg-success a.list-group-item:focus {
    background-color: inherit;
}
.bg-success .nav .caret {
    border-top-color: #ebf4e4;
    border-bottom-color: #ebf4e4;
}
.bg-success .nav>li>a {
    color: #ffffff;
}
.bg-success .nav>li>a:hover {
    color: #fff;
    background-color: #81ba53;
}
.bg-success .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-success .nav .open>a {
    background-color: #81ba53;
}
.bg-success.navbar .nav>li.active>a {
    color: #fff;
    background-color: #81ba53;
}
.bg-success .open>a, .bg-success .open>a:hover, .bg-success .open>a:focus {
    color: #fff;
}
.bg-success .text-muted {
    color: #deedd2 !important;
}
.bg-success .icon-muted {
    color: #9bc877 !important;
}
.bg-info {
    background-color: #EAC0C1;
    color: #FFFFFF;
}
.bg-info.lt, .bg-info .lt {
    background-color: #5fc7c8;
}
.bg-info.lter, .bg-info .lter {
    background-color: #72cdce;
}
.bg-info.dk, .bg-info .dk {
    background-color: #3fb4b5;
}
.bg-info.dker, .bg-info .dker {
    background-color: #38a1a2;
}
.bg-info .bg {
    background-color: #4cc0c1;
}
.bg-info a {
    color: #ffffff;
}
.bg-info a:hover {
    color: #fff;
}
.bg-info a.list-group-item:hover, .bg-info a.list-group-item:focus {
    background-color: inherit;
}
.bg-info .nav .caret {
    border-top-color: #d1efef;
    border-bottom-color: #d1efef;
}
.bg-info .nav>li>a {
    color: #ffffff;
}
.bg-info .nav>li>a:hover {
    color: #fff;
    background-color: #3fb4b5;
}
.bg-info .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-info .nav .open>a {
    background-color: #3fb4b5;
}
.bg-info.navbar .nav>li.active>a {
    color: #fff;
    background-color: #3fb4b5;
}
.bg-info .open>a, .bg-info .open>a:hover, .bg-info .open>a:focus {
    color: #fff;
}
.bg-info .text-muted {
    color: #bee8e8 !important;
}
.bg-info .icon-muted {
    color: #5fc7c8 !important;
}
.bg-warning {
    background-color: #EA737E;
    color: #d1efef;
}
.bg-warning.lt, .bg-warning .lt {
    background-color: #ffcb4d;
}
.bg-warning.lter, .bg-warning .lter {
    background-color: #ffd266;
}
.bg-warning.dk, .bg-warning .dk {
    background-color: #ffbc1a;
}
.bg-warning.dker, .bg-warning .dker {
    background-color: #ffb400;
}
.bg-warning .bg {
    background-color: #ffc333;
}
.bg-warning a {
    color: #ffffff;
}
.bg-warning a:hover {
    color: #fff;
}
.bg-warning a.list-group-item:hover, .bg-warning a.list-group-item:focus {
    background-color: inherit;
}
.bg-warning .nav .caret {
    border-top-color: #fff8e6;
    border-bottom-color: #fff8e6;
}
.bg-warning .nav>li>a {
    color: #ffffff;
}
.bg-warning .nav>li>a:hover {
    color: #fff;
    background-color: #ffbc1a;
}
.bg-warning .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-warning .nav .open>a {
    background-color: #ffbc1a;
}
.bg-warning.navbar .nav>li.active>a {
    color: #fff;
    background-color: #ffbc1a;
}
.bg-warning .open>a, .bg-warning .open>a:hover, .bg-warning .open>a:focus {
    color: #fff;
}
.bg-warning .text-muted {
    color: #fff0cc !important;
}
.bg-warning .icon-muted {
    color: #ffcb4d !important;
}
.bg-danger {
    background-color: #fb6b5b;
    color: #ffffff;
}
.bg-danger.lt, .bg-danger .lt {
    background-color: #fc8174;
}
.bg-danger.lter, .bg-danger .lter {
    background-color: #fc988d;
}
.bg-danger.dk, .bg-danger .dk {
    background-color: #fa5542;
}
.bg-danger.dker, .bg-danger .dker {
    background-color: #fa3e29;
}
.bg-danger .bg {
    background-color: #fb6b5b;
}
.bg-danger a {
    color: #ffffff;
}
.bg-danger a:hover {
    color: #fff;
}
.bg-danger a.list-group-item:hover, .bg-danger a.list-group-item:focus {
    background-color: inherit;
}
.bg-danger .nav .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.bg-danger .nav>li>a {
    color: #ffffff;
}
.bg-danger .nav>li>a:hover {
    color: #fff;
    background-color: #fa5542;
}
.bg-danger .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.bg-danger .nav .open>a {
    background-color: #fa5542;
}
.bg-danger.navbar .nav>li.active>a {
    color: #fff;
    background-color: #fa5542;
}
.bg-danger .open>a, .bg-danger .open>a:hover, .bg-danger .open>a:focus {
    color: #fff;
}
.bg-danger .text-muted {
    color: #fff2f0 !important;
}
.bg-danger .icon-muted {
    color: #fc8174 !important;
}
.bg-white {
    background-color: #fff;
    color: #717171;
}
.bg-white a {
    color: #2e3e4e;
}
.bg-white a:hover {
    color: #1b252e;
}
.bg-white .text-muted {
    color: #979797 !important;
}
.bg-white-only {
    background-color: #fff;
}
.bg-empty {
    background-color: transparent;
}
.pos-rlt {
    position: relative;
}
.pos-stc {
    position: static;
}
.pos-abt {
    position: absolute;
}