/*-->
CUSTOM FONTS
<--*/

@font-face {
    font-family: 'Latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#Latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#Latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#Latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{font-family: 'Latoregular'; font-size: 16px; color: #333; background-color: #fff;}
ul{ list-style: none; margin: 0px; padding: 0px;}
a{ color: #00bcd3;}
.requried {
    color: red;
}
label {
    font-weight: normal;
}
.form-control {
    height: 40px;
}
.btn-primary {
    border-color: #00bcd3;
    background-color: #00bcd3;
    color: #fff;
    transition: all 0.25s ease-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #0093a5;
}
.btn-inverse {
    border-color: #00bcd3;
    background-color: #fff;
    color: #00bcd3;
    transition: all 0.25s ease-out;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active {
    background-color: #00bcd3;
    color: #fff;
}
.ciif-logo {
    text-align: center;    
}
.ciif-logo a {
    display: inline-block;
}
.login-title {
    color: #00bcd3;
    text-transform: uppercase;    
    font-family: 'Latolight';
    border-bottom: 1px solid #00bcd3;
    margin-bottom: 30px;
}
.login-block .btn {
    height: 50px;
    text-transform: uppercase;
    font-family: 'Latobold';
    font-size: 18px;
}
.login-block .form-control {
    height: 45px;
}
.login-links {
    margin-top: 30px;
}

.top-header {
    background-color: #00bcd3;
    padding-top: 10px;    
    padding-bottom: 10px;
}
.brand-logo img {
    width: 215px;
}
.form-title {
    border-bottom: 1px solid #00bcd3;
    padding-bottom: 5px;
    margin-top: 30px;  
    color: #00bcd3;
    margin-bottom: 30px;
}
.radio label, .checkbox label {
    padding-left: 30px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    opacity: 0;
}
.radio-inline, .checkbox-inline {
    position: relative;
    padding-left: 30px;
}
.checkbox input[type=checkbox] ~ .check-radio, .checkbox-inline input[type=checkbox] ~ .check-radio,
.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 3px;
    left: 0px;
    transition: all 0.1s ease-out;
}

.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio {
    border-radius: 10px;
}

.checkbox input[type=checkbox]:checked ~ .check-radio, .checkbox-inline input[type=checkbox]:checked ~ .check-radio {
    background: url('../img/check-mark.svg') no-repeat center center #00bcd3;
    background-size: 12px;
    border-color: #00bcd3;
}
.radio input[type=radio]:checked ~ .check-radio, .radio-inline input[type=radio]:checked ~ .check-radio {
    background: url('../img/radio-mark.svg') no-repeat center center #fff;
    background-size: 12px;
    border-color: #00bcd3;
}
.font-small {
    font-size: 12px;
}
.m-b30 {
    margin-bottom: 30px;
}
.terms-condition-section h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.terms-condition-section p {
    font-size: 14px;
}

.terms-condition-list {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 30px;
}
.terms-condition-list li{
    font-size: 18px;
    color: #00bcd3;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
}
.terms-condition-list li:hover{
    color: #0093a5;
    text-decoration: none;
}

#dynamic-answer ul {
    padding-left: 30px;
    list-style: disc;    
}
#dynamic-answer ul li {
    padding-bottom: 15px;
}
.brand-logo-dashboard {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #33c9dc;
    text-align: center;
    margin-bottom: 30px;
}
.brand-logo-dashboard a {
    display: inline-block;
}
.brand-logo-dashboard a img {
    width: 215px;
}
.side-bar {
    background-color: #00bcd3;
    margin-left: -15px;
    width: calc(100% + 30px);    
}
.page-container {
    background-color: #e4e7ec;
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar-nav {
    list-style: none;
    padding-left: 0px;
    border-bottom: 1px solid #33c9dc;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.sidebar-nav li a {
    color: #fff;
    position: relative;
    display: block;
    transition: all 0.25s ease-out;
}
.sidebar-nav li a:hover {
    background-color: #1ac3d7;
    text-decoration: none;
}
.sidebar-nav li a .icon {
    position: absolute;
    left: 40px;
    top: 12px;
    width: 30px;
    height: 30px;
    background: url(../img/dashboard.svg) no-repeat center center transparent;
}
.sidebar-nav li a.active {
    background-color: #fff;
    color: #00bcd3;
}
.sidebar-nav li a.active .i-dashboard {
    background-image: url(../img/dashboard_active.svg);
}
.sidebar-nav li a .i-membership {
    background-image: url(../img/i_membership.svg);
}
.sidebar-nav li a.active .i-membership {
    background-image: url(../img/i_membership_active.svg);
}
.sidebar-nav li a .i-qualification {
    background-image: url(../img/i_qualification.svg);
}
.sidebar-nav li a.active .i-qualification {
    background-image: url(../img/i_qualification_active.svg);
}
.sidebar-nav li a .i-examination {
    background-image: url(../img/i_examination.svg);
}
.sidebar-nav li a.active .i-examination {
    background-image: url(../img/i_examination_active.svg);
}
.sidebar-nav li a .i-cpd {
    background-image: url(../img/i_cpd.svg);
}
.sidebar-nav li a.active .i-cpd {
    background-image: url(../img/i_cpd_active.svg);
}
.sidebar-nav li a .i-account {
    background-image: url(../img/i_account.svg);
}
.sidebar-nav li a.active .i-account {
    background-image: url(../img/i_account_active.svg);
}
.sidebar-nav li a .i-calendar {
    background-image: url(../img/i_calendar.svg);
}
.sidebar-nav li a.active .i-calendar {
    background-image: url(../img/i_calendar_active.svg);
}
.page-top {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px;
}
.top-right-nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.top-right-nav > li {
    float: left;
}
.top-right-nav > li + li {
    padding-left: 20px;
}
.top-right-nav > li > a {
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    display: block;
    background: url(../img/search_icon.svg) no-repeat center center transparent;
}
.top-right-nav > li > a.notification {
    background-image: url(../img/notification_icon.svg);
}
.top-right-nav > li > a.settings {
    background-image: url(../img/settings_icon.svg);
}
.table>thead>tr>th {
    background-color: #fff;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 10px 20px;
}
.breadcrumb {
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
    font-size: 14px;
}
.custom-tabs {
    margin-top: 20px;
}
.custom-tabs .tab-content {
    background-color: #fff;
    padding: 20px;
}
.custom-tabs .nav-tabs>li {
    
}
.custom-tabs .nav-tabs>li>a {
    color: #333;
    text-transform: uppercase;
    border-radius: 0px;
}

.custom-tabs .nav-tabs>li.active>a,
.custom-tabs .nav-tabs>li.active>a:hover,
.custom-tabs .nav-tabs>li.active>a:focus {
    background: none;
    border: 0px none;
    color: #00bcd3;    
}
.custom-tabs .nav-tabs>li.active>a {
    position: relative;
    font-family: 'Latobold';
}
.custom-tabs .nav-tabs>li.active>a:after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00bcd3;
    left: 0px;
    bottom: -2px;
    content: '';
    display: block;
}
.form-static .form-title {
    margin-top: 10px;
    margin-bottom: 15px;
}
.form-static .control-label{
    text-transform: uppercase;
    font-size: 14px;
    color: #a2a2a2;
    margin-bottom: 0px;    
}
.form-static .form-control-static {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.button-group {
    padding: 20px 0px;
    text-align: right;
}
.button-group .btn + .btn {
    margin-left: 10px;
}

.document-block {
    text-align: center;
    border: 1px solid#ccc;
    border-radius: 5px;   
    margin-bottom: 20px;
}
.document-block img {
    width: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.document-block p {
    font-size: 14px;
    margin-bottom: 5px;
}
.document-block .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
}
.upcoming-events {
    color: #fff;
    padding-left: 40px;
    margin-bottom: 30px;
    padding-right: 20px;
}
.upcoming-events h4 {
    text-transform: uppercase;
}
.upcoming-event-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.upcoming-event-list li a {
    color: #fff;
}
.upcoming-event-list li > span {
    display: block;
    font-size: 14px;
    color: #b1f7ff;
}
.user-information {
    position: relative;
    margin-left: 30px;
    padding-left: 80px;
}
.user-pic {
    position: absolute;
    left: 0px;
    top: 0px;
}
.user-information h4 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.user-information p {
    margin-bottom: 0px;
    color: #7c7c7c;
}
.course-block {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.course-block h4 {
    margin-top: 0px;
    font-size: 20px;
}
.cousre-block-bottom {
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    text-align: center;
}
.cousre-block-bottom .type {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    color: #808080;
}
.renew-block {
    background-color: #f7941d;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.renew-block h2 {
    margin-top: 0px;
}
.renew-block .btn {
    display: block;
    color: #f7941d;
    background-color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.recent-activity li {
    padding-left: 40px;
    font-size: 14px;
    background: url(../img/activity_icon.svg) no-repeat 0px 5px;
    background-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter-block {
    background-color: #fff;
    padding: 10px 20px;  
    margin-bottom: 30px;
}
.membership-details {
    background-color: #f7941d;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.membership-details img {
    width: 40px;
    margin-bottom: 15px;
}

.membership-details p {
    text-transform: uppercase;
    font-size: 14px;
    color: #fddfbc;
}

.membership-details h4 {
    font-size: 16px;
    font-family: 'Latobold';
}
.dark-diver {
    border-color: #c1c1c1;
}

 
@media screen and (min-width: 1200px){

}

@media screen and (min-width: 992px){
    .bg-wrapper {
        background: #00bcd3;
        background: -moz-linear-gradient(left, #00bcd3 0%, #00bcd3 25%, #e4e7ec 25%, #e4e7ec 100%);
        background: -webkit-linear-gradient(left, #00bcd3 0%,#00bcd3 25%,#e4e7ec 25%,#e4e7ec 100%);
        background: linear-gradient(to right, #00bcd3 0%,#00bcd3 25%,#e4e7ec 25%,#e4e7ec 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd3', endColorstr='#e4e7ec',GradientType=1 );                  
    }
    .filter-button-group {
        margin-top: 30px;
    }    
}

@media screen and (min-width: 768px){
    .login-wrapper {
    background: #00bcd3;
    background: -moz-linear-gradient(left, #00bcd3 0%, #00bcd3 50%, #ffffff 50%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #00bcd3 0%,#00bcd3 50%,#ffffff 50%,#ffffff 100%);
    background: linear-gradient(to right, #00bcd3 0%,#00bcd3 50%,#ffffff 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd3', endColorstr='#ffffff',GradientType=1 );
        width: 100%;
        height: 100vh;
        padding-top: 100px;
    }  
    .ciif-logo {
        margin-top: 150px;
    }
    .ciif-logo img {
        width: 350px;
    }
    .login-block {
        width: 350px;
        margin: 0 auto;
    }    
    .terms-condition-section {
        padding-left: 50px;
    }
    .register-wrapper {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 67%, #e4e7ec 67%, #e4e7ec 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 67%,#e4e7ec 67%,#e4e7ec 100%);
    background: linear-gradient(to right, #ffffff 0%,#ffffff 67%,#e4e7ec 67%,#e4e7ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e7ec',GradientType=1 );    
    }    
    .sidebar-nav li a {
        padding: 15px 0px 15px 90px;
    }
    .page-top {
        margin-left: -30px;
        width: calc(100% + 60px);
        padding-right: 15px;
        min-height: 55px;
    }
    .bg-wrapper {
        min-height: 100vh;
    }
    .user-information  {        
        padding-right: 140px;
    }
    .user-pic img {
        width: 60px;
    }
    .member-group {
        float: right;
    }
    .member-float {
        float: left;
        margin-top: 7px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .ciif-logo img {
        width: 290px;
    }
    .brand-logo-dashboard a img {
        width: 180px;
    }
    .bg-wrapper {
        background: #00bcd3;
        background: -moz-linear-gradient(left, #00bcd3 0%, #00bcd3 33%, #e4e7ec 33%, #e4e7ec 100%);
        background: -webkit-linear-gradient(left, #00bcd3 0%,#00bcd3 33%,#e4e7ec 33%,#e4e7ec 100%);
        background: linear-gradient(to right, #00bcd3 0%,#00bcd3 33%,#e4e7ec 33%,#e4e7ec 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd3', endColorstr='#e4e7ec',GradientType=1 );                  
    }    
    .sidebar-nav li a {
        padding-left: 70px;
    }
    .sidebar-nav li a .icon {
        left: 20px;
    }
    .upcoming-events {
        padding-left: 20px;
    }
}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
    .ciif-logo {
        background-color: #00bcd3;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -15px;
        width: calc(100% + 30px);      
    }
    .ciif-logo img {
        width: 160px;
    }
}

