<script type="text/javascript">
    function addAwardLevel(){
        window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'awardlevel', 'action'=>'newaward'),'default',true);?>";
    }
    
    function editAwardLevel(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any award level first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'awardlevel', 'action'=>'editaward'));?>/id/"+id;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("Award Level");?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
		<a href="#" onclick="javascript:addAwardLevel()">
		<span class='add'></span>
		<?php echo $this->translate("Add");?>
		</a>
            </li>
            
        </ul>
    </div>
</div>
<br><br>
<div id="searchDiv">
	<fieldset>
	<legend><?php echo $this->translate("Search");?></legend>
	<div class="search" style="margin-left:20px;">
	<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/generalsetup/awardlevel/index/search/1" method="POST"  name= "form1" id= "form1">
		<script type="dojo/method" event="onSubmit">
 		 if (this.validate()) {
			return true;
		} else {
		return false;}
		</script>
                <dl class="zend_form">
                    <dt><?php echo $this->translate("Award Name");?></dt>
                    <dd><?php echo $this->lobjform->field2;?></dd>		
                    <dt><?php echo $this->translate("Award Code");?></dt>
                    <dd><?php echo $this->lobjform->field3;?></dd>	
                    <dd><?php echo $this->lobjform->field7;?></dd>
                    <dd>
                    <?php echo $this->lobjform->Search;?>
                    <?php echo $this->lobjform->Clear;?>
                    </dd>
                </dl>
                </form>	
		</div>
	</fieldset> 
	 <br/>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
					
		<th><?php echo $this->translate("Award Name");?></th>
		<th><?php echo $this->translate("Award Code");?></th>
		<th><?php echo $this->translate("Active");?></th>
		<th>&nbsp;</th>
	</tr>
	<?php if (count($this->paginator)): 
		foreach ($this->paginator as $lobjAwardList ): ?>
			<tr>	 
				<td><?php echo $this->escape($lobjAwardList['DefinitionDesc']);?></td>
				<td><?php print_r($this->escape($lobjAwardList['DefinitionCode']));?></td>
				<td align="center"><?php echo ($lobjAwardList['Active']==1) ? $this->translate('Yes'):$this->translate('No'); ?></td>
				<td align="center">
					<a href="<?php echo $this->baseUrl();?>/generalsetup/awardlevel/editaward/id/<?php echo $this->escape($lobjAwardList['idDefinition']);?>" >
						<?php echo $this->translate('Edit');?>
					</a>
				</td>
			</tr>
		<?php endforeach;
	endif; ?>
</table>
<div class="pagination opt"><?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
</div>