
<body class = "claro">
    <div class="message toolbar">
    <h2><?php echo $this->translate("Add Award Level");?></h2>
        <div class="toolbar-button">
            <ul>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'awardlevel', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
    <br></br>
	<fieldset>
	
		<div class="register">
			<div class="profile_tab">
				<form dojoType="dijit.form.Form" action="" method="POST"  name= "myform" id= "myform">
				<script type="dojo/method" event="onSubmit">
  					if (this.validate()) {
						return duplicate();
						//return true;
					} else {
						return false;
					}
				</script>
					 <table class="table" width="100%" >
						<tr>
							<td><?php echo $this->translate("Definition Code");?><span class="reqMark">*</span></td>
							<td>
								<?php echo $this->lobjNewawardform->DefinitionCode;?>
								<?php echo $this->lobjNewawardform->idDefType;?>								
							</td>							
							<td><?php echo $this->translate("Definition Description");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjNewawardform->DefinitionDesc;?>	</td>
						</tr>
						
						<tr>
							<td><?php echo $this->defaultlanguage;?><span class="reqMark"></span></td>
							<td><?php echo $this->lobjNewawardform->BahasaIndonesia;?></td>							
							<td><?php echo $this->translate("Description");?><span class="reqMark"></span></td>
							<td><?php echo $this->lobjNewawardform->Description;?>
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
							<td><?php echo $this->lobjNewawardform->Status;?></td>
							<td colspan=2></td>
						</tr>						
					</table>
					<?php echo $this->lobjSchemesetupForm->UpdDate;?>
        			<?php echo $this->lobjSchemesetupForm->UpdUser;?>
	                <div class="form-opt">
						<?php echo $this->lobjNewawardform->Save; ?>						
					</div>
					
				</form>
			</div>
		</div>
	</fieldset>
</body>