<form class="uk-form" id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Add Receipt</h4>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-sm-3">
                               <div class="form-group">                    
                                    <label>Payee Name</label>
                                    <?php echo $this->form->name;?>                 
                               </div>                                
                            </div>
                                           
                            <div class="col-sm-3">
                               <div class="form-group">                    
                                    <label>Invoice</label>
                                    <?php echo $this->form->invoice;?>                 
                               </div>                                
                           </div>

                            <div class="col-sm-3">
                               <div class="form-group">                    
                                    <label>Invoice amount</label>
                                    <?php echo $this->form->field6;?>                 
                               </div>                                
                            </div>
                    </div>

                        <div class="row">
                            <div class="col-sm-3">
                               <div class="form-group">                    
                                    <label>Mode of Payment</label>
                                    <?php echo $this->form->modeofpayment;?>                 
                               </div>                                
                            </div>
                        
                            <div class="col-sm-3">
                               <div class="form-group">                    
                                    <label>Amount</label><br>
                                    <?php echo $this->form->amount;?>                 
                               </div>                                
                            </div>
                    
                         
                          <div class="col-sm-3">
                                <div class="filter-button-group">
                                    <button class="btn btn-primary" type="button" onclick="javacript:addreceipt();" >Add</button>
                                </a>
                   
                                </div>
                            </div>                           
                        </div>


                        <table class="table table filter-block table-striped" width="100%" id="regreceipt">
<thead>     
    <tr>
        <th colspan="4">Amount Details</th></tr>
        <tr>
           
        <th>Name</th><th>Invoice Amount</th><th>Mode Of Payment</th><th>Amount</th><th>Action</th></tr>
    </tr>
</thead>
<tbody>
</tbody>
</table>
                     </div> 
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    <input type="submit" id="submit"class="btn btn-primary" value='Submit'>
                    
                    <input type="button" id="clear"class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'receipt', 'action'=>'index'),'default',true);?>';" />
                </div>                    
                                                                                                                                        
                    </div>                                                  
                </div>

    </form>


<script type="text/javascript">
    
     $(document).ready(function(){
    $('#submit').hide();
    $('#clear').hide();
});
    $('#name').change(function () {

        

            var id = $('#name').val();
            

                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/receipt/getinvoicedata',
                    dataType :'json',
                       data:{id : id
                         },
                    success:function(response)
                    {
                         $("#amount").empty();
                        console.log(response);
                    var len = response.length;

                                     
    
                $("#invoice").empty();
  $("#invoice").append("<option value=''>Select</option>");

                for( var i = 0; i<len; i++){
                    var id = response[i]['id_invoice']+'@@'+response[i]['amount'];
                    var name = response[i]['invoice_no'];

                    var description = response[i]['description'];


                    $("#invoice").append("<option value='"+id+"'>"+name+"</option>");
                   
                  
                     // $("#amount").val(response[i]['amount']);

                }

                                             

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});


               

                  function getamount($id)
                    {
                         console.log($id);
                          $arrayval = $id.split('@@');//explode("@@",$id);
                        
                         $('#invoiceamount').val($arrayval[1]);

                    }  


                    function addreceipt()
{

        flag = true;
        // if($('#course_list').val()=='') {
        //     flag=false;
        // }

        if(flag == true){ 
          $('#submit').show();
        $('#clear').show();  
            var idrow  = $("#idRow").val();
            idrow = Math.abs(idrow)+1;          
            addreceiptRow(idrow);
            $("#idRow").val(idrow);
        }

        else
        {
            alert("Fill the Required Information");
        }  

}
        function addreceiptRow(idrow)
    {
        
        var table = $('#regreceipt tbody');

        var content = "<tr id='"+idrow+"'>" +
                       "<td align='left'><input type='hidden' value='"+ $('#name').val()+"'  name=name[]> " +$('#name option:selected').text()+"</td>"+
                     
                      "<td align='left'><input type='hidden' value='"+ $('#invoiceamount').val()+"'  name=invoiceamount[]>"+$('#invoiceamount').val()+"</td>"+
                      "<td align='left'><input type='hidden' value='"+ $('#member').val()+"'  name=member[]> " +$('#member option:selected').text()+"</td>"+
                       "<td align='left'><input type='hidden' value='"+ $('#amount').val()+"'  name=amount[]>"+$('#amount').val()+"</td>"+

                      "<td align='left'><a href='#' onClick='deleteProgramRow("+idrow+"); return false;'>Delete</a></td>" +
                      '</tr>';

        $(table).append(content);
    }

function deleteProgramRow(x){
         $('#submit').hide();
    $('#clear').hide();
        var row = "#"+x;

        $(row).remove();
    }



  
      </script>