<div class="clearfix">
     <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                    <h4>Receipt</h4>
                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                   <label>Receipt Number</label>
                                    <?php echo $this->form->receipt;?>
                                   
                                    
                                </div>                                 
                            </div>
                          </form>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                    <input class="btn btn-primary" name='Search' type="submit" value='Search'>
                                   <a href="<?php echo $this->baseUrl() ?>/admin/receipt/add">
                                    <button class="btn btn-primary" type="button">Add</button>

                                </a>
                    <input class="btn btn-primary" type="reset" value="Clear">
                                </div>
                            </div>                           
                        </div>
                    </div>
                   </form> 
                <div class="table-responsive">
             <table class="table table filter-block table-striped">
                <tr>
                    <th><?php echo $this->translate("Receipt No");?></th>
                    <th><?php echo $this->translate('Name');?></td>
                   <th><?php echo $this->translate('Amount');?></td>
                    <th><?php echo $this->translate('Download');?></td>      
    </tr>
        <?php if (count($this->result)): ?>
        <?php foreach ($this->result as $member ): ?>
    <tr>
       
               <td><?php echo $this->escape($member['receipt_number']);?></td> 
                <td><?php echo $this->escape($member['firstname'].' '.$member['lastname']);?></td>
                <td><?php echo $this->escape($member['amount']);?></td>
                <td>
            <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'receipt', 'action'=>'receipt', 'Id'=>$member['receipt_number']),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape('Download');?>
            </a>
           

        </td>
             
                
             

<?php endforeach; ?>
        
       
                <?php endif; ?>
                <?php if(empty($this->result)):?>
                <?php echo 'No result found';?>
                <?php endif;?>
                

    </tr>
</table> 

