<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
    	<th><?php echo $this->translate("Roles Name");?></th>
        <th ><?php echo $this->defaultlanguage;?></th>
    </tr>
    
    <?php 
    if (count($this->paginator)): 
    	foreach ($this->paginator as $lobjcourse): 
    ?>
  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        	<td>
        		<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'navigation', 'action'=>'menu', 'role_id'=>$this->escape($lobjcourse['idDefinition']) ),'default',true); ?>" ><?php print_r($this->escape($lobjcourse['DefinitionDesc']));?></a>
        	</td>
        	<td><?php echo $this->escape($lobjcourse['BahasaIndonesia']);?></td>
       	</tr>
	<?php 
		endforeach;
	endif; 
	?>
	<tr>
        <td colspan="8" align="right">
        	<div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>
</table>
	