
<?php Cms_Hooks::start(); ?>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
                <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li class="uk-active"><a href="#"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li><a href="/calendar/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
    <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>



<div class="uk-grid">

    <div class="uk-width-medium-7-10">

    <!-- content -->
    <?php $total = $group_total = 0; ?>
    <?php if (count($this->announcements) > 0) { ?>
        <?php foreach ($this->announcements as $list) { ?>
        <?php

            // grouping
            $specific_group = "globe"; //"globe";
            $specific_title = "Course general announcement"; //"Global Content";
            
            if (!empty($list['specific_group'])) 
            {
                $group_total++;

                $specific_group = "user";
                $specific_title = "'" . addslashes(@$list["specific_group_name"]) . "' group announcement";
            }
            else
            {
                $total++;
            }

        ?>
            <div class="description uk-panel uk-panel-box uk-panel-alt uk-margin-bottom <?php echo $specific_group ?>-div">
                <div class="uk-float-right uk-margin-right">
                    <!-- group -->
                        <i class="uk-icon-<?php echo $specific_group ?>" data-uk-tooltip title="<?php echo $specific_title ?>"> </i>
                    <!-- /group -->
                </div>
                <div class="uk-panel-content">
                    <h3 class="title"><?php echo $list['title'] ?></h3>
                    <div class="uk-comment-meta">by <?php echo $this->escape($list['firstname'] . " " . $list['lastname'])?> | <?php echo Cms_Date::date($list['created_date']) ?></div>
                    <div class="uk-comment-meta"><h4><?php echo $list['description'] ?></h4></div>
                </div>
            </div>
        <?php } ?>
    <!-- /content -->

    <?php } else { ?>

        <div class="uk-placeholder uk-text-center">
            <i class="uk-icon-bell-o uk-icon-medium uk-text-muted uk-margin-small-right"></i> 
            <?php echo $this->translate('No announcement yet.'); ?>
        </div>

    <?php } ?>

    </div>

	<div class="uk-width-medium-3-10">
	<!-- side -->
		<div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
			<div class="uk-panel-content">
                    <div>
                        <ul class="infolist">
                            <li>
                                <span>Total</span>
                                <font class="uk-margin-left"><?php echo $this->total_announcements ?></font>
                            </li>
                            <li>
                                <span>On this page:</span>
                            </li>
                            <li class="uk-margin-left">
                                <a href="#" onclick="$('.user-div').hide();$('.globe').show();">
                                    <span>General </span>
                                </a>
                                <?php echo number_format($total); ?>
                            </li>
                            <li class="uk-margin-left">
                                <a href="#" onclick="$('.globe').hide();$('.user-div').show();">
                                    <span>Group </span>
                                </a>
                                <?php echo number_format($group_total); ?>
                            </li>
                        </ul>
                    </div> 
				</ul>
			</div>
		</div>
        
	<!-- /side -->
	</div>
</div>

<style type="text/css">
    .outline { margin-top:15px }
</style>

<?php echo $this->paginationControl($this->announcements,'Elastic','pagination.phtml'); ?>