<script>
var currency_use = null;

//$(function() {
//	$( ".bill" ).change(function(){
//		
//		if( $(this).is(":checked") ){
//			
//			if(currency_use!=null && currency_use != $(this).data('currency_code') ){
//				alert('<?php echo $this->translate('Please select invoice that is in '); ?>'+currency_use);
//	
//				$(this).prop('checked',false);
//			}else{
//				currency_use = $(this).data('currency_code');
//			}	
//		}
//
//		if( $(".bill:checked").length == 0 ){
//			currency_use = null;	
//		}	
//	});
//});

function validate_form(){
	if( $(".bill:checked").length > 0 ){
		return true;
	}else{
		alert('<?php echo $this->translate('Please select at least 1 item to pay');?>');
		return false;
	}
}
</script>



<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Finance')?></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<form id="payment_list" action="" method="post" onsubmit="return validate_form();">
	<table class="table" width="100%">
		<tr>
			<th width="20px">&nbsp;</th>
			<th width="100px"><?php echo $this->translate("Date")?></th>
			<th><?php echo $this->translate("Reference No")?></th>				
			<th><?php echo $this->translate("Description")?></th>
			<th width="150px"><?php echo $this->translate("Debit Amount")?></th>
			<th width="150px"><?php echo $this->translate("Credit Amount")?></th>
			<th width="150px"><?php echo $this->translate("EBIP Amount")?></th>
				<th width="150px"><?php echo $this->translate("Balance")?></th>
		</tr>
		<?php 
		$i=0;
			if(count($this->bill)>0){ 
			$balance = 0;
			foreach ($this->bill as $entry):
			
			$desc = '';
			if($entry['MigrateCode']){
				$desc .= $entry['bill_description'];
			}else{
				$desc .= ($entry['IdSubject']) ? $entry['SubCode'].' - ' : '';
				$desc .= $entry['fi_name'];
			}
				
			/*$desc = $entry['fi_name'];
				if($entry['IdSubject']){
					$desc = $entry['SubCode'].' '.$entry['SubjectName'].' - '.$entry['item_name'];
				}	*/	
		?>
		<tr>
			<td align="center">
				<input type="checkbox" name="invoice[]"  class="bill" value="<?php echo $entry['idDet']?>" data-currency_code="<?php echo $entry['cur_code']?>" />
			</td>
			<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
			<td><?php echo $entry['bill_number']; ?></td>				
			<td><?php echo $desc; ?></td>
			<td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['amount'], 2, '.', ','); ?></td>
			<td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['paid'], 2, '.', ','); ?></td>
			<td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['ebAmount'], 2, '.', ','); ?></td>
			<td align='left'><?php echo $entry['cur_code']?> <?php echo number_format($entry['balance'], 2, '.', ','); ?></td>
		</tr>
		<?php 
			endforeach;
		}
		?>
	</table>
	<?php if(count($this->bill)>0){ ?>
	<div style="width:100%; text-align:center;">
		<input type="submit" class="btn-submit" value="<?php echo $this->translate('Proceed');?>" />
		<input type="button" class="btn-cancel" value="<?php echo $this->translate('Cancel');?>" onclick="window.location = '<?php echo $this->baseUrl()?>/' " />
	</div>
	<?php }?>
</form>