<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Finance')?></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>
<h3><?php echo $this->translate('Unsuccessful Payment.');?></h3>

<?php if(isset($this->txn_info)){?>
<table>
	<tr>
		<td><?php echo $this->translate('Payment Transaction ID')?></td>
		<td>:</td>
		<td><?php echo $this->txn_info['mt_txn_no']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Bank Batch No')?></td>
		<td>:</td>
		<td><?php echo $this->txn_info['mt_rep_batch_no']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Payment Amount')?></td>
		<td>:</td>
		<td><?php echo $this->txn_info['mt_rep_amount']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Status')?></td>
		<td>:</td>
		<td><?php echo $this->txn_info['mt_rep_txn_response_code_desc']?></td>
	</tr>
	
</table>
<?php }?>