<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Finance')?></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<h3><?php echo $this->translate('Item to pay');?></h3>
<form method="post">
<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate('Date')?></th>
			<th><?php echo $this->translate('Reference No')?></th>
			<th><?php echo $this->translate('Description')?></th>
			<th width="200px"><?php echo $this->translate('Amount')?></th>
		</tr>
	</thead>
	<tbody>
	<?php
	$currency = new Zend_Currency(array('currency'=>$this->currency['cur_code']));
	
	$total = 0;
	if(count($this->invoice_list)>0){ 
		foreach($this->invoice_list as $invoice):
		$total += $invoice['amount'];
		
		$desc = $invoice['bill_description'];
		if($invoice['IdSubject']){
			$desc = $invoice['SubCode'].' '.$invoice['SubjectName'].' - '.$invoice['item_name'];
		}
	?>
	<tr>
		<td><?php echo date('d-m-Y', strtotime($invoice['date_create']) ); ?></td>
		<td><?php echo $invoice['bill_number'];?></td>
		<td><?php echo $desc;?></td>
		<td><?php echo $this->currency['cur_code'].' '.$invoice['amount'].$invoice['cur_symbol_suffix'];?></td>
	</tr>
	<?php 
		endforeach;
	}
	?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" align="right" style="font-weight: bold;"><?php echo $this->translate('Total');?>:</td>
			<td style="font-weight: bold;">
				<?php 
				
				//echo $currency->toCurrency($total, array('currency'=>$this->currency['cur_code']));
				echo $this->currency['cur_code']?> <?php echo $total?>
				<input type="hidden" class="inputtext" style="width:50px" name="amount" value="<?php echo $total?>" />
			</td>
		</tr>
	</tfoot>
</table>
<div style="width:100%; text-align:center;">
		<input type="submit" class="btn submit" value="<?php echo $this->translate('Pay');?>" />
		<input type="button" class="btn cancel" value="<?php echo $this->translate('Cancel');?>" onclick="window.location = '<?php echo $this->baseUrl()?>/studentfinance/payment/index' " />
</div>
</form>
