<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Finance')?></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<h3><?php echo $this->translate('An error occurs');?></h3>