
<div class="dashhead">
    <div class="uk-float-right uk-margin-right">
        <a href="/admin/reportamc/View/id/<?php echo $this->program?>" style="float:right;"><i class="uk-margin-small-right uk-icon-book"></i>Download ExCo Report</a>
    </div>
    <div class="title-wrap">
      
        <div class="title"><h3><?php echo $this->translate('ExCo Report')?></h3></div>
    </div>
</div>
 

<form class="uk-form uk-form-horizontal" method="post">
    <div class="row">
        <div class="col-xs-6">
        <label class="uk-form-label"><?php echo $this->translate('MEMBERSHIP CLASSIFICATION')?></label>
        <div class="uk-form-controls">

            <select name="program" class="form-control">
                <option value=''>All</option>
                <?php foreach ($this->programlevel as $id): ?>
                    <option value="<?php echo $id['idmember']; ?>">
                        <?php echo $id['member_name']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label class="uk-form-label"><?php echo $this->translate('')?></label>
       <div class="uk-form-controls">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>
  
</form>
<br><br>

 <div class="table-responsive">
                    <table class="table table filter-block table-striped">
    <tr>
        <th><?php echo $this->translate("Name");?></th>
        <th><?php echo $this->translate('IC Number');?></td>
      <!--   <th><?php echo $this->translate(' Type');?></td> -->
         
            
        <th><?php echo $this->translate('Program Level');?></td>
    </tr>
        <?php if (count($this->paginator)):?>
        <?php foreach ($this->paginator as $member ): ?>
    <tr>
         
       
                <td><?php echo $this->escape($member['firstname'].'     '. $member['lastname']);?></td>
                <td><?php echo $this->escape($member['username']);?></td>
                <td><?php echo $this->escape($member['member_name']);?></td>


        <?php endforeach; ?>
        <?php endif; ?>
    </tr>

</table> 
