<form class="uk-form" id="myform" name="myform" method="post" action="">

<div class="clearfix">
                    <h4>Membership Sub Category</h4>
                <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Membership category</label>
                                    <?php  echo $this->form->id_member;?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Membership Subtype Category</label>
                                    <?php  echo $this->form->member_subtype_name;?>                 
                               </div>                                
                            </div>                            
                        </div>
                        <div class="button-group">
                     <input type="submit" class="btn btn-primary " value='Submit'>
                     <input type="reset" class="btn btn-primary" value="Clear" >
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberSubType', 'action'=>'index'),'default',true);?>';" />
                </div>  
                     </div> 
                    <hr class="dark-diver">                                                  
                                  
                                                                                                                                        
                    </div>                                                  
                </div>

</form>