    <div class="clearfix">
        <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                    <h4>Membership Sub Category</h4>
                    <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Membership category</label>
                                    <td><?php echo $this->form->field2;?></td>
                                    
                                </div>                                 
                            </div>
                            
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                    <?php echo $this->form->Search;?>
                                    
                                    <a href="<?php echo $this->baseUrl() ?>/admin/MemberSubType/add">
                                    <button class="btn btn-primary" type="button">Add</button>

                                </a>
                                  
                                      <a href="<?php echo $this->baseUrl() ?>/admin/MemberSubType">
                                    <button class="btn btn-primary" type="button">Clear</button>

                                </a>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </form>    
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Membership category</th>
                                <th>Membership SubType category</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $member ): ?>
                            <tr>
                                <td>
                                     <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'MemberSubType', 'action'=>'edit', 'Id'=>$member['id_subtype']),'default',true);?>" rel="lyteframe" 
                                            rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($member['member_name']);?>
                                    </a>
                                </td>
                                <td><?php echo $this->escape($member['member_subtype_name']);?></td>                                
                            </tr>
                                                                                                                                                             
                        </tbody>
                     <?php endforeach; ?>
                <?php endif; ?>

    </tr>
</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>