<div class="dashhead">
    <div class="title-wrap">
        <div class="subtitle"><?php echo $this->translate('Reporting')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post">
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Course')?></label>
        <div class="uk-form-controls">
            <select name="course" class="uk-form-width-large">
                <option value="0">All</option>
                <?php foreach ($this->courses_list as $id => $title): ?>
                    <option value="<?php echo $id; ?>">
                        <?php echo $title; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Nationality')?></label>
        <div class="uk-form-controls">
            <select name="nationality" class="uk-form-width-large">
                <option value="0">All</option>
                <?php foreach ($this->countries as $code => $title): ?>
                    <option value="<?php echo $code; ?>">
                        <?php echo $title; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"></label>
        <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-primary">Generate</button>
        </div>
    </div>
</form>