<div class="dashhead">
    <div class="title-wrap">
        <div class="title"><h1><?php echo $this->translate('Reporting')?></h1></div>
    </div>
</div>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th width="30"></th>
            <th><?php echo $this->translate('Report'); ?></th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>
            <a href="<?php echo $this->baseUrl(); ?>/admin/reporting/completion-status/">
                <?php echo $this->translate('List of Users (Completion Status)'); ?>
            </a>
        </td>
    </tr>
</table>