<script type="text/javascript">
dojo.addOnLoad(function(){
	});

</script>
<fieldset>
<legend><?php echo $this->translate->_("Sponsor").' '.$this->translate->_("Template");?></legend>
<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					var sid = dijit.byId('idAccount').value;
					if(sid == ''){
					alert('Please Select Heads To Sponsor');
					return false;
		
					}
					return true;
                } else {
                    return false;
                }
				</script>
		<?php echo $this->lobjsponsortemplateform->UpdDate;?>
		<?php echo $this->lobjsponsortemplateform->UpdUser;?>
		<table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th colspan = "4"><?php echo $this->translate("Template Details");?></th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Template Name");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjsponsortemplateform->templateName;?></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Description");?></td>
				<td><?php echo $this->lobjsponsortemplateform->Description;?></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Heads To Sponsor");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjsponsortemplateform->idAccount;?></td>
				<td></td>
				<td></td>
			</tr>		
		</table>
								
		<table class="table" width="100%" cellpadding="5" cellspacing="1">          
			<tr>
				<td colspan = "4" align = "right">
					<?php echo $this->lobjsponsortemplateform->Save;?>					
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'sponsortemplate', 'action'=>'index'),'default',true);?>';" />												
				</td>
			</tr>
		</table>
	</form>
	</div>
	</div>
</fieldset>		