<form class="uk-form" id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Membership Fee</h4>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Member</label>
                                    <?php  echo $this->form->dropdown_member;?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                                     <label>Member Subtype</label>
                                     <td ><select id='sub' class='form-control' name='Sub_type' required>
                                            <option>-- Select Subtype --
                                            </option>
                                            </select></td>                             
                            </div>                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Currency</label>
                                    <?php  echo $this->form->dropdown_currency;?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Amount</label>
                                   <?php echo $this->form->amount;?>                 
                               </div>                                
                            </div>                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Nationality</label>
                                    <?php echo $this->form->ddl_nationality;?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Fee</label>
                                    <?php  echo $this->form->dropdown_fee;?>                 
                               </div>                               
                            </div>                            
                        </div>
                        <div class="row">
                           
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Effective Date</label>
                                     <?php echo $this->form->effective_date;?>                  
                               </div>                                
                            </div>
                                                      
                  <div class="col-sm-6">
                     <div class="form-group"> 
         
                    <label class="uk-form-label" for="title"><?php echo $this->translate('Gst')?></label>
                        <?php echo $this->form->gst  ?>
                    </div>
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
           
                <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->active  ?>
                    </div>
          
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group"> 
                <label class="uk-form-label" for="title"><?php echo $this->translate('Calculated Fee')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->calculated_amount ?>
                    </div>
        </div>
    </div>
</div>
                     </div> 
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    <input type="submit" class="btn btn-primary" value='Submit'>
                    
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberFeeStructure', 'action'=>'index'),'default',true);?>';" />
                </div>                    
                                                                                                                                        
                    </div>                                                  
                </div>

    </form>


<script type="text/javascript">
    $(document).ready(function(){
        $('#calculated_amount').attr('readonly',true);

    $('#gst').change(function(){

        var gst =$('#gst').val();
        var amount = $('#amt').val();
        var gst_amount = (amount/100)*gst;
        var total_amount = parseFloat(amount)+parseFloat(gst_amount);
        $('#calculated_amount').val(total_amount);
        alert(amount)
        alert(gst)
    })
  })
    $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);
                           

         // Add options
                    var len = response.length;

                  //  alert(len);
                 // $('#sub').attr('width','180px');
                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>
<script>
     
      $('#amt').attr('type','number');
</script>
 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      

 <script>
         $(function() {
            $( "#effective_date" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#end_date" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>