<div class="clearfix">
     <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                    <h4>Membership Fee</h4>
                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Member Name</label>
                                    <td><?php echo $this->form->field2;?></td>
                                    
                                </div>                                 
                            </div>
                          </form>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                    <input class="btn btn-primary" name='Search' type="submit" value='Search'>
                                   <a href="<?php echo $this->baseUrl() ?>/admin/MemberFeeStructure/add">
                                    <button class="btn btn-primary" type="button">Add</button>

                                </a>
                    <input class="btn btn-primary" type="reset" value="Clear">
                                </div>
                            </div>                           
                        </div>
                    </div>
                   </form> 
                <div class="table-responsive">
             <table class="table table filter-block table-striped">
                
                <tr>
                    <th><?php echo $this->translate("Member Name");?></th>
                    <th><?php echo $this->translate('Sub Type');?></td>
       
                   <th><?php echo $this->translate('Currency');?></td>
                   <th><?php echo $this->translate('Amount');?></td>
                   <th><?php echo $this->translate(' Fee Type');?></td>
                   <th><?php echo $this->translate(' Nationality');?></td> 
                   <!-- <th><?php //echo $this->translate(' Degree');?></td>  -->

        
        
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $member ): ?>
    <tr>
        <td>
            <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'MemberFeeStructure', 'action'=>'edit', 'Id'=>$member['id']),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($member['member_name']);?>
            </a>
           

        </td>
               <!--  <td><?php echo $this->escape($member['member_name']);?></td> -->
                <td><?php echo $this->escape($member['member_subtype_name']);?></td>
                <td><?php echo $this->escape($member['DefinitionDesc']);?></td>
             
                <td><?php echo $this->escape($member['amount']);?></td>
               <td><?php echo $this->escape($member['Feetype']);?></td>
               <td><?php
                         $nt_var =   $this->escape($member['nationality']);

                         if($nt_var == "MY")
                         {
                            echo "Malaysian";
                         }
                         else
                         {
                            echo "Non  Malaysian";
                         }
                    ?></td>
<!-- <td><?php //echo $this->escape($member['degree']);?></td>
 -->        <?php endforeach; ?>
        
       
                <?php endif; ?>
                <?php if(empty($this->paginator)):?>
                <?php echo 'No result found';?>
                <?php endif;?>
                

    </tr>
</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>
