<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'language', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
	<script type="dojo/method" event="onSubmit">
	if (this.validate()) {
		return true;
	} else {
		return false;
	}
	</script>
			 <table class="table" width="100%" >
			<tr>
				<th colspan = "4"><?php echo $this->translate("Language Details");?></th>
			</tr>
			<tr>
				<td ><?php echo $this->translate("System");?><span class="reqMark">*</span></td>
				<td ><?php echo $this->lobjlonguageForm->system;?>
					<?php echo $this->lobjlonguageForm->id;?>
					<?php echo $this->lobjlonguageForm->createddt;?>
					<?php echo $this->lobjlonguageForm->createdby;?></td>
				<td ><?php echo $this->translate("English");?><span class="reqMark">*</span></td>
				<td  ><?php echo $this->lobjlonguageForm->english;?></td>
			</tr>
			<tr> 
				<td><?php echo $this->translate($this->Language);?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjlonguageForm->arabic;?></td>
				<td colspan=2></td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<?php echo $this->lobjlonguageForm->Save;?>
				</td> 
				   
			</tr>           
			
  </table>

</Form>