<h4>Programme Exemption Fee</h4>


<form class="uk-form uk-form-horizontal" method="post" id="course-form" >
    <div class="filter-block">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"> 
                <div class="uk-form-row">
                    <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Route')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->program_route->setAttrib('class','form-control')  ?>
                    </div>

                </div>
            </div>
        </div>
            <div class="col-sm-6">
                <div class="form-group"> 
                     <div class="uk-form-row">
                        <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Level')?></label>
                            <div class="uk-form-controls">
                                <?php echo $this->form->program_level->setAttrib('class','form-control')  ?>
                            </div>
                    </div>
                </div>
            </div>
    </div>
        
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Programme')?></label>
                <div class="uk-form-controls">
                   <select class="form-control" id="program_category" name='program_category'><option> --Please Select--</option></select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group"> 

             <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Effective Date')?></label>
                    <div class="uk-form-controls">
                    <?php echo $this->form->effective_date;  ?>
                    </div>
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
             <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Amount')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->amount  ?>
                    </div>
            </div>
        </div>
  </div>
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Amount Type')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->amount_type  ?>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
           <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Description')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->description  ?>
                    </div>
            </div>
        </div>
    </div>

<div class="col-sm-6">
        <div class="form-group"> 
           <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Gst')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->gst  ?>
                    </div>
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->active  ?>
                    </div>
            </div>
        </div>
    </div>

        <div class="col-sm-6">
        <div class="form-group"> 
           <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Calculated Fee')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->calculated_amount ?>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>



<div class="uk-form-row" align="center">
    <button class="btn btn-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="btn btn-inverse" type="reset"><?php echo $this->translate('Clear')?></button>
         <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'programme-exemption-fee', 'action'=>'index'),'default',true);?>';" /> 
</div>
</form>
</div>
<script type="text/javascript">
    $("#program_route").attr('required',true);
          $("#program_level").attr('required',true);
          $("#program_category").attr('required',true);
          $("#start_date").attr('required',true);
          $("#amount").attr('required',true);
          $("#gst").attr('required',true);
          $("#calculated_amount").attr('required',true);
          $("#active").attr('required',true);
$(document).ready(function(){

      
       $('#start_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#start_date').attr('readonly','true');
        $('#end_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#end_date').attr('readonly','true');
    })

    $('#program_category').change(function () {
             var ProgramRoute = $('#program_route').val();
            var ProgramLevel = $('#program_level').val();
            var Program = $('#program_category').val();
       

                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/ProgrammeExemptionFee/validiate-program',
                    dataType :'json',
                    data:{program_route : ProgramRoute,program_level:ProgramLevel,program_category : Program
                         },
                    success:function(response){
                   
                    var len = response.length;
                    if(response == 0){
                        alert('Programme is already registered')
                         $("#program_category").empty();
                    }
              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    }); 
});
    $('#program_level').change(function () {
             var ProgramRoute = $('#program_route').val();
            var ProgramLevel = $('#program_level').val();

                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/ProgrammeFee/getprogram',
                    dataType :'json',
                    data:{program_route : ProgramRoute,program_level:ProgramLevel
                         },
                    success:function(response){
                       
                    var len = response.length;

                  
                $("#program_category").empty();
                for( var i = 0; i<len; i++){
                   var id = response[i]['id'];
                    var name = response[i]['name'];

                    
                    $("#program_category").append("<option value='"+id+"'>"+name+"</option>");

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

</script>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      

 <script>

    $(document).ready(function(){
        $('#calculated_amount').attr('readonly',true);

    $('#gst').change(function(){
        var gst =$('#gst').val();
        var amount = $('#amount').val();
        var gst_amount = (amount/100)*gst;
        var total_amount = parseFloat(amount)+parseFloat(gst_amount);
        $('#calculated_amount').val(total_amount);

    })
});

         $(function() {
            $( "#effective_date" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#end_date" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>
