<form class="uk-form" id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Programme Exemption Fee</h4>
                     <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Programme Route</label>
                                   <?php echo $this->form->program_route->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Programme Level</label>
                                    <?php echo $this->form->program_level->setAttrib('class','form-control');?>                 
                               </div>                                
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Programme Module</label>
                                    <?php echo $this->form->program_category->setAttrib('class','form-control');?>                 
                               </div>                                
                            </div>
                                                     
                        </div>
                        <div class="button-group">
                    <input type="submit" class="btn btn-primary " value='Submit'>
                     <input type="reset" class="btn btn-primary" value="Clear" >
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'programme-exemption-fee', 'action'=>'add'),'default',true);?>';" />
                </div> 
                     </div> 
                    <hr class="dark-diver">                                                  
                                                                                                                        
                    </div>                                                  
                </div>

 </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Programme Route</th>
                                <th>Programme Level</th>
                                <th>Programme Module</th>
                                <th>Amount</th>                      
                              
                            </tr>
                        </thead>
                        <tbody>
                           <?php if ( count($this->results) == 0 ) { ?>
        <tr>
            <td colspan="3"><?php echo $this->translate('No Programme Exemption created yet.')?></td>
        </tr>
        <?php } else { ?>
        <?php foreach ( $this->results as $row) { ?>
        <tr>
            <td>
                <?php echo $row['active'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Not Active"></span>':''?>
                 <?php //echo str_repeat('&nbsp;&nbsp;', $row['depth'])?><a <?php echo $row['active'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/programme-exemption-fee/edit/id_program/<?php echo $row['id_program']?>"><?php echo $row['level']?></a>
            </td>
            <td><?php echo $this->escape($row['route']);?></td>
            <td><?php echo $this->escape($row['name']);?></td>
            <td><?php echo $this->escape($row['amount']);?></td>
           </tr>
       </tbody>
            <?php } ?>
        <?php } ?>
</table> 

<script type="text/javascript">
    
    $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                        //alert(response);
                           

         // Add options
                    var len = response.length;

                  //  alert(len);

                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");

                }

                                                // if(response == 1)
                                                // {
                                                //     alert('Applicant Approved ');
                                                // }
                                                // else if(response == 3)
                                                // {
                                                //     alert ('Error in sending email');
                                                // }
                                                // else
                                                // {
                                                //     alert(response);
                                                // }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>

