<?php

$this->headLink()->appendStylesheet($this->baseUrl().'/js/calendario/calendario.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/intro/introjs.min.css');

$this->headScript()->appendFile($this->baseUrl().'/js/calendario/jquery.calendario.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/scroll/jquery.scroll.min.js', 'text/javascript');
$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/intro/intro.min.js', 'text/javascript');

$LastUpdated = $this->lastupdated;
?>
<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="help" style="position:absolute"><a href="#" onclick="return showIntro()"><span class="icon icon-help-circled"></span> Need A Tour?</a></div>

<div class="lastlogin"><span class="icon icon-clock"></span> <?php echo $this->translate('Last logged in')?>: <?php echo $LastUpdated == '' ? $this->translate('Never'): '<time datetime="'.getDateTimeValue(strtotime($LastUpdated)).'">'.time_ago(strtotime($LastUpdated)).'</time>'?></div>


<!-- grid -->
<div class="grid">
<div class="col-2-3">
<!-- 2/3 -->
	<?php $totalimportant = $this->importantannouncements; ?>
	<?php foreach ( $this->importantannouncements as $announce ) :?>
	<div class="announcement" id="announce-<?php echo $announce['id']?>">
		<span class="opt"><a href="#" onclick="return readannouncement('<?php echo $announce['id']?>')" title="<?php echo $this->translate('Click to hide')?>"><span class="icon icon-cancel"></span></a></span>
		<div class="title"><?php echo $announce['title']?></div>
		<div class="text"><?php echo $announce['html'] == 1 ? $announce['content'] : nl2br($announce['content']) ?></div>
		<?php if ( !empty($announce['files']) ) { ?>
		<div class="attachments">
		<ul>
			<?php foreach ( $announce['files'] as $file ) : ?>
			<li><span class="icon icon-attach"></span> <a href="<?php echo DOCUMENT_URL.$file['fileurl']?>" class="fancy"><?php echo $file['filename']?></a> <span class="size"><?php echo format_filesize($file['filesize'])?></span></li>
			<?php endforeach; ?>
		</ul>
		</div>
		<?php } ?>
	</div>
	<?php endforeach; ?>
	
	<div class="" style="border:1px solid #efefef" data-step="3" data-intro="Calendar showing events based on IBFIM academic calendar.">
		<div class="custom-calendar-wrap">
			<div id="custom-inner" class="custom-inner">
				<div class="custom-header cf">
					<nav>
						<span id="custom-prev" class="custom-prev"></span>
						<span id="custom-next" class="custom-next"></span>
					</nav>
					<h3><span id="custom-month" class="custom-month"></span> <span id="custom-year" class="custom-year"></span></h3> 
				</div>
				<div id="calendar" class="fc-calendar-container"></div>
			</div>
		</div>
	</div>
	
	<br />
	
	
	
	<?php if($this->profileStatus == 92) { ?>
	
			<?php if(!empty($this->regSubjects)) { ?>
			<div class="opt float thin"><a href="<?php echo $this->baseUrl()?>/course-registration/index/manage" class="tooltip2"><span class="icon icon-cog"></span></a><span class="tooltiptext">Manage Registration</span></div>
			<?php } ?>
			<h3><?php echo $this->translate("Registered Courses for Semester ").' '.$this->semester['SemesterMainName'];?></h3>
		
			<?php if(!empty($this->regSubjects)) { ?>
			<table id="regged-courses" class="maintable" width="100%" cellpadding="5" cellspacing="1">
				<tr>			  	  		  	   
					<th><?php echo $this->translate("Course Name")?></th>
					<th><?php echo $this->translate("Course Code")?></th>
					<?php if ( $this->program['SchemeCode'] != 'PS' ) { ?>
					<th class="center"><?php echo $this->translate("Credit Hours")?></th>
					<?php } ?>
					<th><?php echo $this->translate("Status")?></th>
					<th><?php echo $this->translate("Exam Center")?></th>
				</tr>	
				<?php   
				foreach($this->regSubjects as $course){  
					if($course["credit_hour_registered"]!=''){
						$credit_hour = $course["credit_hour_registered"];
					}else{
						$credit_hour = $course["CreditHours"];
					}
				?>	
				<tr>			  			  	
					<td><?php echo $course["SubjectName"]; ?></td>
					<td><?php echo $course["SubCode"]; ?></td>
					<?php if ( $this->program['SchemeCode'] != 'PS' ) { ?>
					<td align="center"><?php echo $credit_hour; ?></td>
					<?php } ?>
					<td> 
					<?php echo CourseRegistration_IndexController::courseStatus($course['Active'],$course['exam_status']); ?>
					</td>
					<td><?php  
							   $course['er_idCity'] = $course['er_idCity'] == 0 ? null : $course['er_idCity'];

							   if($course['CourseType']!=1 || $this->program['IdScheme'] == 11){
							   		 echo '<span class="desc">&mdash;</span>';
							   }else{
								   if($course['ecs_publish']==1) {
										echo ($course['ec_name']!='') ? $course['ec_name']:'To be confirmed'; 
								   }
								   else if ( $course['er_idCity'] != null || $course['er_idCityOthers'] != null  ) {
										echo 'To be confirmed';  
								   }
								   else if ( $course['Active']==3 || in_array($course['exam_status'], array('CT','EX','U'))  ) {
									 echo '<span class="desc">&mdash;</span>';
								   }
								   else{ 
								   		echo '<span class="req nocenter">Not selected.</span> <a href="'.$this->baseUrl().'/course-registration/index/manage">Update</a>';
								   }
							   }?>
							   
							   </td>
				</tr>
				<?php } ?>
			</table>
			<?php }else { //end array seemester?>
				
				<div class="notice"><? echo $this->translate('There are no courses registered for current semester.');?></div>
		
			<?php }?>
	<?php }	 ?>

<!-- /2/3 -->
</div>
<div class="col-1-3">
	<div class="boxes">
	<!-- box -->
	<div class="box" data-step="4" data-intro="Upcoming Events in the academic calendar.">
		<h3><?php echo $this->translate('Upcoming Events')?></h3>
		<div class="box-content">
			<ul class="news">
				<?php foreach ( $this->events as $event ) { ?>
				<li>
					<p class="title"><?php echo $event['ActivityName']?></p>
					<p class="date"><?php echo date('d-m-Y', strtotime($event['StartDate']))?> - <?php echo date('d-m-Y', strtotime($event['EndDate']))?></p>
				</li>
			<?php }?>
			</ul>
			<a href="<?php echo $this->baseUrl()?>/portal/calendar" class="more"><?php echo $this->translate('View All')?> <span class="icon icon-right-open"></span></a>
		</div>
	</div>
	<!-- /box -->

	<!-- box -->
	<div class="box" data-step="5" data-intro="Announcements are listed here.">
		<h3><?php echo $this->translate('Announcements')?></h3>
		<div class="box-content" id="side-announcements">
			<ul class="news">
			<?php if ( !empty($this->announcements) ) { ?>
			<?php foreach ( $this->announcements as $feed ) { ?>
			<?php
			$new = empty($feed['read_id']) && time() <= (strtotime($feed['created_date'])+172800) ? '<span class="label new">'.$this->translate('New').'</span>' : '';
			?>
				<li>
					<?php if ( $feed['sticky'] == 1 ) { ?>
					<span class="sticky icon-star"></span>
					<?php } ?>
					<p class="title"><a href="<?php echo $this->baseUrl()?>/portal/announcements/view/id/<?php echo $feed['id']?>"><?php echo $feed['title']?></a> <?php echo $new ?></p>
					<p class="date"><?php echo date('d-m-Y', strtotime($feed['created_date']))?></p>
				</li>
			<?php }?>
			<?php }?>
			</ul>
			<a href="<?php echo $this->baseUrl()?>/portal/announcements" class="more"><?php echo $this->translate('View All')?> <span class="icon icon-right-open"></span></a>
		</div>
	</div>
	<!-- /box -->

	<!-- box -->
	<div class="box">
		<h3><?php echo $this->translate('INCEIF News')?></h3>
		<div class="box-content">
			<ul class="news">
				<?php foreach ( $this->news as $news ) {?>
				<li>
					<p class="title"><a href="<?php echo $news['link']?>" target="_blank"><?php echo $news['title']?></a></p>
					<p class="date"><?php echo date('d-m-Y', strtotime($news['date']) )?></p>
				</li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<!-- /box -->
	</div>
</div>
</div>
<!-- /grid -->
<style type="text/css">
	.boxes .box .box-content { padding:0 }
	.boxes .box ul li { padding:5px 10px }
	.boxes .box ul li:hover { background:#eef8ff }
	.boxes .box ul li:hover .date {color:#9aa9b4 !important }
	.boxes .box .more { text-transform:uppercase; font-size:11px; text-align:right; display:block; padding:3px; }
	.boxes .box .more .icon { font-size:12px }
	.boxes .box .more:hover .icon { color:#0ea9d7; }
	.custom-header h3 { margin-top:5px; }
	.tooltip2 .icon-cog { color:#ccc; font-size:14px; }
	.attachments { margin-top:10px; }
	.attachments ul { list-style:none }
	.attachments ul li .icon { color:#ccc; font-size:12px }
	.label.new { font-size:9px; text-transform:uppercase; color:#87582f; padding:0px 2px; background:#f8eb5e }
	.midline { margin-bottom:10px; color:#eea509 !important; }
	/*.midline:hover { color:# !important; }*/
	#side-announcements { height:300px; overflow:auto }
</style>

<script type="text/javascript">
<?php jspack_start(); ?>
$(document).ready(function() {
	$("#side-announcements").niceScroll({cursorcolor:"#ccc"});
    $('#sidebar .profile-photo .photo').bind('touchstart', function(e) { 
 	    e.preventDefault();
        $(this).toggleClass('hover');
    });
	
	var CalEvents = <?php echo $this->eventsData;?>;
	
	initCalendar(CalEvents);

	$(".box").hover(function()
	{
		$(this).find('.box-opt').show();
	},
	function()
	{
		$(this).find('.box-opt').hide();
	});

	var ann = $(".announcement:not(:first)").length;
	if ( (ann+1) > 2 )
	{
		$(".announcement:not(:first)").hide();
		$(".announcement").last().after('<a href="#" onclick="return showAnnouncements()" class="midline">'+ann+' more announcements</a>');
	}

	$(".profile-photo").attr('data-step','3');
	$(".profile-photo").attr('data-intro','You may change your photo here');
	$(".menu").attr('data-step','2');
	$(".menu").attr('data-intro', 'This is the main portal menu');
	$("#regged-courses").attr('data-step','6');
	$("#regged-courses").attr('data-intro', 'Registered courses for your current semester will be listed here.');

	var totalcenter = $(".nocenter").length;

	if ( parseInt(totalcenter) > 0 )
	{
		$('.help').before('<div class="error message"><span class="icon icon-attention"></span> You have subjects registered that requires you to select exam center. <a href="<?php echo $this->baseUrl()?>/course-registration/index/manage/" class="btn">Update</a></span></div><br />');
	}

	
});

function showIntro()
{
	introJs().setOption('showBullets', false).start();
	return false;
}

function showAnnouncements()
{
	$(".announcement:not(:first)").show();
	$(".midline").remove();
	return false;
}

function togglebox(what)
{
	$(what).parent().parent().find('.box-content').toggle();
	
	if ( $(what).find('span').hasClass('icon-plus') )
	{
		$(what).find('span').removeClass('icon-plus');
		$(what).find('span').addClass('icon-minus');
	}
	else
	{
		$(what).find('span').removeClass('icon-minus');
		$(what).find('span').addClass('icon-plus');
	}

	return false;
}

function readannouncement(id)
{
	$.ajax({
		url: "<?php echo $this->baseUrl()?>/ajax-utility/readannouncement",
		type: "post",
		data: {'id':id},
		success: function(data)
		{
			$('#announce-'+id).remove();
			
		},
		error:function(){
			  alert("failure");
		}  
	});

	return false;
}
<?php jspack_output(); ?>
</script>