<style>
.quota{
	color:green;
}
.quota full{
	color:red;
}
</style>
<h2 class="curr-title"> Examination Dates  & No of Registered Candidates     </h2>
<form class="uk-form uk-form-horizontal" method="post" id="search-form" >

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Exam Center')?></label>
        <div class="uk-form-controls"><?php echo $this->form->ec_id;  ?>
        </div>
    </div>
	<div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Date From')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->date_from;  ?>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Date To')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->date_to;  ?>
        </div>
    </div>
    <!--<div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Day')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->days;  ?>
        </div>
    </div>  

    --><div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="search"><i class="uk-icon-search"></i> <?php echo $this->translate('Search')?></button>
        
        <a href="<?php echo $this->baseUrl(); ?>/schedule/download/">
            <button type="button" class="uk-button"><i class="uk-icon-download"></i> Download Schedule for <?php echo date('Y'); ?></button>
        </a>
    </div>
</form>

<?php if(count($this->ec_list)>0 && count($this->exam_dates)>0) { ?>

    <table class="uk-table" width="100%">
        <tr>
            <th><?php echo $this->translate('Venue/Date'); ?></th>
            <?php
            if(count($this->exam_dates)>0){
                foreach($this->exam_dates as $edate){
            ?>
            <th><?php echo date('d-m-Y',strtotime($edate['es_date']));?><br><?php echo date('l',strtotime($edate['es_date']));?></th>
            <?php }
            }?>
        </tr>
        <?php
        if(count($this->ec_list)>0){
        foreach($this->ec_list as $ec){?>
        <tr>
            <th>
                <?php echo $ec['ec_name'];?>
                <?php if ($this->admin): ?>
                    <br/>
                    EC_ID = <?php echo $ec['ec_id']; ?>
                <?php endif; ?>
            </th>
             <?php
            if(count($this->exam_dates)>0){
                foreach($this->exam_dates as $key_date=>$edate){
            ?>
            
            <td>
            <!-- exam schedule -->
            <?php //echo $ec['exam_date_schedule'][$key_date]['schedule']['es_id_list'] ?>
            <!-- display slot -->
            <?php
            echo '<table>';
            foreach($ec['exam_date_slot'][$key_date]['slot'] as $slot){
                
                if($slot['total_candidate']==$ec['total_quota']){
                    $quota = '<span class="quota full">Full</span>';
                }else{
                    $quota = '<span class="quota">'.$slot['total_candidate'].'/'.$ec['total_quota'].'</span>';
                }
        
                $admin_data = ($this->admin ? $sts_id = '<br/>ES_ID = '. $slot['es_id'] .'<br/>STS_ID = ' . $slot['sts_id'] : '');
                
                echo '<tr><td>'.date("h:i a",strtotime($slot['sl_starttime'])). $admin_data. '</td><td>'.$quota .'</td></tr>';
            }
            echo '</table>';
            ?>
            </td>
            <?php }
            } ?>
        </tr>
        <?php }
        }?>
    </table>
<?php } else if ($this->search && count($this->exam_dates) <= 0) {?>
    <br />
    <div class="uk-alert uk-alert-danger"><i class="uk-icon-warning"></i> <?php echo $this->translate('There are no exam slots available on the selected dates'); ?></div>
<?php } ?>