<table class="uk-table uk-table-bordered">
    <thead>
    <th><?php echo $this->translate('Membership') ?></th>
    <th><?php echo $this->translate('Expiry Date') ?></th>
    <th><?php echo $this->translate('Renewal Date') ?></th>
    <th><?php echo $this->translate('Status') ?></th>
    <th><?php echo $this->translate('Type') ?></th>
    <th><?php echo $this->translate('Renewal Date') ?></th>
    <th><?php echo $this->translate('Renewal Fee') ?></th>
    <th><?php echo $this->translate('New Expiry Date') ?></th>
    <th><?php echo $this->translate('Status') ?></th>
    </thead>
    <?php
    if(count($this->history)>0){
        foreach ($this->history as $application){
            ?>
            <tr>
                <td><?php echo $application["MembershipName"]; ?></td>
                <td><?php echo (isset($application["mr_activation_date"])) ? date('d-m-Y', strtotime($application["mr_activation_date"])):'-'; ?></td>
                <td><?php echo (isset($application["mr_expiry_date"])) ? date('d-m-Y', strtotime($application["mr_expiry_date"])):'-'; ?></td>
                <td><?php echo $application["prevStatus"]; ?></td>


                <?php $MembershipDB = new App_Model_Membership_Membership();
                $membership = $MembershipDB->getMembershipInfoByIdHistory($application['mr_id']);?>
                <td><?php echo $membership["type"]; ?></td>
                <td><?php echo (isset($membership["mr_activation_date"])) ? date('d-m-Y', strtotime($membership["mr_activation_date"])):'-'; ?></td>
                <td>RM <?php echo $application["mrh_amount_fee"]; ?></td>
                <td><?php echo (isset($membership["mr_expiry_date"])) ? date('d-m-Y', strtotime($membership["mr_expiry_date"])):'-'; ?></td>
                <td><?php echo $membership["mr_status"]; ?></td>

            </tr>
        <?php }
    }else {
        echo '<tr><td colspan=5>No records found.</td></tr>';
    }?>
</table>