<table class="uk-table uk-table-bordered">
    <thead>
    <th><?php echo $this->translate('Renew Membership') ?></th>
    <th><?php echo $this->translate('Date Apply') ?></th>
    <!--<th><?php /*echo $this->translate('Renewal Period') */?></th>-->
    <th><?php echo $this->translate('Status') ?></th>
    <th><?php echo $this->translate('Action') ?></th>
    </thead>
    <?php

    if (count($this->reinstate_list) > 0) {
        foreach ($this->reinstate_list as $application) {
            ?>
            <tr>
                <td><?php echo $application["MembershipName"]; ?></td>
                <td><?php echo (isset($application["ma_submit_date"])) ? date('d-m-Y', strtotime($application["ma_submit_date"])) : '-'; ?></td>
                <td><?php echo $application["ma_status"]; ?></td>
                <td>
                    <?php
                    if ($application["ma_status_id"] == 1616) {
                        echo '<a href="/membership/pay-reinstatement/mr_id/' . $application["ma_prev_mrid"] . '">Pay</a>';
                    } elseif($application["ma_status_id"]==1615){
                        echo '<a href="/membership/reinstatement-membership/mr_id/'.$application["ma_prev_mrid"].'">Upload Document</a>';
                    }else{
                        echo 'Pending Approval';
                    }?>
                </td>
            </tr>
        <?php }
    } else {
        echo '<tr><td colspan=5>No records found.</td></tr>';
    } ?>
</table>