<table class="uk-table uk-table-bordered">
                    <thead>
                    <th><?php echo $this->translate('Upgrade Membership') ?></th>
                    
                    <th><?php echo $this->translate('Date Apply') ?></th>
                    <th><?php echo $this->translate('Date Approve') ?></th>
                    <th><?php echo $this->translate('Date Activation') ?></th>
                    <th><?php echo $this->translate('Status') ?></th>
                    <!-- <th><?php echo $this->translate('Action') ?></th> -->
                    </thead>
                    <?php
                    if(count($this->upgrade_list)>0){
                        // echo '<pre>';
                        // print_r($this->upgrade_list);
                        // die();
                    foreach ($this->upgrade_list as $application){
                    ?> 
                    <tr>
                        <td><?php echo $application["MembershipName"]; ?></td>  
                        
					    <td><?php echo (isset($application["ma_submit_date"])) ? date('d-m-Y', strtotime($application["ma_submit_date"])):'-'; ?></td>
                        <td><?php echo (isset($application["prev_reg_date"])) ? date('d-m-Y', strtotime($application["prev_reg_date"])):'-'; ?></td>
                        <td><?php echo (isset($application["prev_expiry_date"])) ? date('d-m-Y', strtotime($application["prev_expiry_date"])):'-'; ?></td>
					   
						<td><?php echo $application["status"]; ?></td>
                        <td>
                        	<?php 
                        	if($application["ma_status_id"]==1616){
                        		echo '<a href="/membership/pay-upgrade/id/'.$application["ma_id"].'">Pay</a>';
                    		}?>
                        </td>                            
                    </tr>
                    <?php }
                    }else {
                     echo '<tr><td colspan=5>No records found.</td></tr>';
                    }?>
                </table>