<head>
	<script type="text/javascript">
			dojo.addOnLoad(function() {
 				$("input#StateName").focus();
			});


			function validateUsername( value, constraint )
			{
				
			// I believe the whole reason you have to hack at control to get it to 
			// display an error is due to the nature of the xhrGet call. Since the
			// call is being made asychronously, the method would have already
			// returned a result to the html control before query has finished.
			// Therefore you have to do the extra method calls below. Also note
			// that when the form goes for submission, it calls each controls validator
			// method again! Meaning it will query the webpage again.
			var loginID = dijit.byId( "StateName" );
			var countryId=<?php echo $this->idcountry?>;
			
			var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;

			if( "" == loginID.value ) {
			    // for some required=true is not kicking in, so we are forcing it.
			    bNoNameFound = false;
			}
			else {      
			    if( false == loginID._focused ) {
			        console.log( "Checking username..." );
			        dojo.xhrGet({
			            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/state/getstatename/StateName/"+value+"/countryId/"+countryId,
			            handleAs: 'text',
			            content: { l: value},
			            timeout: 10000, 
			            load: function( data ) {
			                if ( data ) {
			                    // setting the state to error since the username is already taken
			                    console.log(loginID)
			                    bNoNameFound = false;
			                    loginID.set( "state", "Error" );
			                    loginID.displayMessage( "The State is already taken..." );
			                    // used to change the style of the control to represent a error
			                    loginID._setStateClass();
			                    console.log( "Invalid username" ); 
			                }
			                else
			                {
			                    bNoNameFound = true;
			                    loginID.set( "state", "" );
			                    loginID.displayMessage( "" );
			                }
			            }
			        });
			    }
			}

			return bNoNameFound;
			}


			function validateStatecode( value, constraint )
			{
				
			// I believe the whole reason you have to hack at control to get it to 
			// display an error is due to the nature of the xhrGet call. Since the
			// call is being made asychronously, the method would have already
			// returned a result to the html control before query has finished.
			// Therefore you have to do the extra method calls below. Also note
			// that when the form goes for submission, it calls each controls validator
			// method again! Meaning it will query the webpage again.
				
			var loginID = dijit.byId( "StateCode" );
			var countryId=<?php echo $this->idcountry?>;
			
			var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;

			if( "" == loginID.value ) {
			    // for some required=true is not kicking in, so we are forcing it.
			    bNoNameFound = false;
			}
			else {      
			    if( false == loginID._focused ) {
			        console.log( "Checking username..." );
			        dojo.xhrGet({
			            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/state/getstatecode/StateCode/"+value+"/countryId/"+countryId,
			            handleAs: 'text',
			            content: { l: value},
			            timeout: 10000, 
			            load: function( data ) {
			                if ( data ) {
			                    // setting the state to error since the username is already taken
			                    console.log(loginID)
			                    bNoNameFound = false;
			                    loginID.set( "state", "Error" );
			                    loginID.displayMessage( "The State Code is already taken..." );
			                    // used to change the style of the control to represent a error
			                    loginID._setStateClass();
			                    console.log( "Invalid username" ); 
			                }
			                else
			                {
			                    bNoNameFound = true;
			                    loginID.set( "state", "" );
			                    loginID.displayMessage( "" );
			                }
			            }
			        });
			    }
			}

			return bNoNameFound;
			}
			
		</script>
	</head>
<div style="overflow: hidden;">
<ul class="stepsmenu">
    <li class="first"><a href="<?php echo $this->baseUrl();?>/generalsetup/countrymaster">Country Master</a></li>
    <li class="second"><a href="<?php echo $this->baseUrl();?>/generalsetup/state">State</a></li>
    <li class="third"><a href="<?php echo $this->baseUrl();?>/generalsetup/city">City</a></li>
</ul>
</div>
<div class="message toolbar">
    <h2><?php echo $this->translate("Add State"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'state', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>

        </ul>
    </div>
</div>
<br><br>
	<fieldset>
    	<legend><?php echo $this->translate("Province");?></legend>
        		<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
						<?php echo $this->lobjStateForm->UpdUser;?><?php echo $this->lobjStateForm->UpdDate;?>
						<script type="dojo/method" event="onSubmit" >
                			if (this.validate()) {
								return true;
                			} else {
                    			return false;
                			}
						</script>
                        <table class="table" width="100%" >
							<tr>
                            <th colspan = "4"><?php echo $this->translate("State Details") ;?></th>
                       		</tr>
                        	<tr>
                            	<td><?php echo $this->translate("Country Name") ?></td>
                             	<td><?php echo $this->lobjStateForm->idCountry;?></td> 
                             	</tr>
                          	<tr>
                            	<td><?php echo $this->translate("State Name")?><span class="reqMark">*</span></td>
                             	<td><?php echo $this->lobjStateForm->StateName;?></td>
                             	</tr>
							<tr>
                            	<td><?php echo $this->translate("State Code")?><span class="reqMark">*</span></td>
                             	<td><?php echo $this->lobjStateForm->StateCode;?></td>
                             	</tr>
							
                               <tr>
                        		<td><?php echo $this->translate("Active") ?></td>
                        		<td><?php echo $this->lobjStateForm->Active;?></td> 
                            	</tr>
                			<tr>
                            	<td align = "right" colspan="4"><?php echo $this->lobjStateForm->Save;?>
                           		<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'state', 'action'=>'index'),'default',true);?>';" />	
                            	</td> 
                       		</tr>
                		</table>
            		</form>
        	</fieldset>
			<fieldset>
				<table class="table" width="100%" cellpadding="5" cellspacing="1">
					<tr>
						<th><?php echo $this->translate("State Name");?></th>
						<th><?php echo $this->translate("State Code");?></th>
                                                <th><?php echo $this->translate("");?></th>
					</tr>
				
						<?php if (count($this->paginator)): ?>
						<?php foreach ($this->paginator as $lobjStateModel ): ?>
						<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    					<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'state', 'action'=>'statelist' ,'id'=>$lobjStateModel['idCountry'],'edit'=>'true','idState'=>$lobjStateModel['idState']),'default',true);?>" ><?php print_r($this->escape($lobjStateModel['StateName']));?></a></td>
						<td><?php print_r($this->escape($lobjStateModel['StateCode']));?></td>
                        						
                                                <td align="center"><a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'city', 'action'=>'citylist', 'id'=>$lobjStateModel['idState']),'default',true);?>';"><?php echo $this->translate('Add City'); ?></a></td>
							<?php endforeach; ?>
						<?php endif; ?>
						<tr>
	        			<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   						</tr>
			</table>
		</fieldset>
