
.admin-sidebar {  min-height:700px; padding-top:20px; position:relative; }
.admin-content {  }
.admin-sidebar .icon {font-size:18px; margin-right:10px; color:#999 }


.admin-sidebar > .uk-nav > li > a { font-size:1.1em; }
.admin-sidebar > .uk-nav > li > a .icon  { color:#ccc; font-size:1.3em; position:relative; bottom:-3px; }
.admin-sidebar > .uk-nav > li > a:hover .icon  { color:#22bce3 }
.admin-sidebar > .uk-nav > li > a:hover { }
.admin-sidebar .uk-nav-sub {margin-left:35px }
.admin-sidebar .uk-active .icon { color:#72b508!important }
.admin-sidebar .uk-active > a { font-weight:700 }
.admin-sidebar .uk-nav-sub li a { font-size:0.9em; color:#777; }
.admin-sidebar .uk-nav-sub li a:hover { color:#111 }


.fixed .site-navbar { position:fixed; width:100%; z-index:10 }
.fixed .admin-sidebar > .uk-nav { z-index:2;margin-top:50px; }
.fixed .admin-content { margin-top:80px; }

.site-navbar { background: linear-gradient(to bottom, #fff 0%,#efefef 100%); }

.dashhead { padding:10px; margin-bottom:20px; border-bottom:1px solid #eee;  }
.dashhead .subtitle { font-size:0.8em; color:#adadad; text-transform:uppercase; }
.dashhead .title > * { margin:0; letter-spacing:-1px }
.dashhead .search { margin-top:20px }
.dashhead .more { font-size:0.8em }
.dashhead .title-info { float:right; font-size:0.8em; color:#c7c7c7; margin-top:5px }
.dashhead .subtitle i { color:#ccc; font-size:1.1em; margin-left:3px; }

.dashhead .uk-nav { position:relative; }
.dashhead .uk-nav:before {
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:12px;
    border-left:1px solid #ccc;
    content:"";
}


.dashhead .uk-nav li a:before { content:"\25CB"; background:#fff; left:8px; color:#bbb; font-size:1.1em; position:absolute; }
.dashhead .uk-nav li a { padding-left:25px; }
.dashhead .uk-nav a:hover:before { background:#3c8fe5; color:#fff }
.dashhead .uk-nav li:last-child a:before { content:"\25C9" }

.events-note {font-size:0.9em;}
.events-note:not(:last-child) { margin-bottom:10px;  }
.events-note i { margin-right:5px }

#preload { position:fixed; top:0; left:0; width:100%; height:100%; background:#fff;  z-index:100; }

table.uk-table-admin { border:1px solid #eee !important; }
table.uk-table-admin th { background:#f8f8f8; }

.pagination a, .pagination span { font-size:0.9em; }

.desc { margin:0; font-size:0.8em; color:#999  }
.desc:before { font-family:"FontAwesome"; content:"\f05a"; color:#ccc; margin-right:5px; }

.alertify button {  font-size:0.9em !important; padding:4px 8px !important; line-height:1.5em !important; min-height: auto !important; }
.alertify button.ok { background:#3b97df !important; color:#fff !important; border:none }

.fsm.message { margin-top:15px; }

.dot {
    display:inline-block;
    border:1px solid #ccc;
    border-radius: 25px;
    padding:3px;
    background:#efefef;
    margin:0 5px;
}

.dot.green
{
    background:limegreen;
    border:1px solid green;
}

.uk-content-em
{
    padding:10px;
    border:1px solid #efefef;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.025);
}

/* MISC */
.fileareathumb { width:100px; border:1px solid #ccc; border-radius:3px; }
.uploadlist { text-align:left; margin:10px 0 0 0;padding:0; }
.uploadlist li {  margin-bottom:10px !important; padding-left:10px }
.uploadlist li:last-child { margin-bottom:0 }
.uk-form-horizontal .uk-form-label {  }
.uk-form-controls.text { padding-top:4px }
.uk-form-row-submit { margin-top:30px !important; }
.uk-tab [class*='uk-icon-'] { color:#aaa }

@media (max-width: 767px) {
    .admin-sidebar { min-height:auto; background:#666; padding-top:0; display:none }
    .admin-sidebar li a { color:#fff }
    .admin-sidebar .uk-nav-sub li a { color:#eee }
    .admin-sidebar .uk-nav-sub li a:hover { color:#ddd }
    .admin-container { padding:0 10px }
}

@media (min-width: 768px) {
    .admin-sidebar { display:block !important }
    .admin-content { padding-right:10px; }
}

.loading-spinner { margin-left:5px; opacity:0.5 }




/* ========================================================================
   Component: Wizard
 ========================================================================== */

.uk-wizard {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
    padding: 0;
    list-style: none;
}
* + .uk-wizard {
    margin-top: 20px;
}
.uk-wizard .uk-step {
    padding: 10px 10px 10px 15px;
    position: relative;
}

.uk-wizard:not(.uk-wizard-vertical) .uk-step:not(:last-child):before,
.uk-wizard:not(.uk-wizard-vertical) .uk-step:not(:last-child):after {
    content: '';
    width: 0;
    height: 0;
    border-image: none;
    border-style: solid;
    position: absolute;
    right: 0;
    top: 50%;
    border-width: 20px 8px;
    margin-top: -20px;
    margin-right: -17px;
    z-index: 1;
}

.uk-wizard .uk-step.last:before, .uk-wizard .uk-step.last:after  { border: none !important; }

.uk-wizard:not(.uk-wizard-vertical) .uk-step:not(:last-child):before {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
}
.uk-wizard:not(.uk-wizard-vertical) .uk-step:not(:last-child):after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    right: 1px;
}
.uk-wizard.uk-wizard-hover .uk-step:not(.uk-active):hover {
    background-color: #fafafa;
}
.uk-wizard.uk-wizard-hover .uk-step:not(.uk-active):hover:after {
    border-left-color: #fafafa;
}
.uk-wizard:not(.uk-wizard-vertical) .uk-step + .uk-step {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.uk-wizard.uk-wizard-vertical .uk-step + .uk-step {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.uk-wizard .uk-step.uk-active {
    background-color: #f1f1f1;
}
.uk-wizard .uk-step.uk-active:after {
    border-left-color: #f1f1f1 !important;
}
.uk-wizard .uk-complete .uk-wizard-icon:before {
    font-family: 'FontAwesome' !important;
    font-size: 30px !important;
    content: "\f00c" !important;
    color: #21ba45;
}
.uk-wizard .uk-complete .uk-wizard-icon > * { display: none; }
.uk-wizard .uk-step-content {}
.uk-wizard .uk-wizard-title {
    font-family: 'RobotoSlab-Regular', Arial, sans-serif;
    font-size: 16px;
}
.uk-wizard .uk-active .uk-wizard-title {
    color: #0077dd;
}
.uk-wizard .uk-wizard-desc {
    font-size: 13px;
    color: #aaa;
}
.uk-wizard .uk-active .uk-wizard-desc {
    color: #555;
}
.uk-wizard .uk-wizard-icon {
    float: left;
    font-size: 30px;
    line-height: 38px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    min-width: 30px;
}

/* Link */

.uk-wizard .uk-step > a:hover { text-decoration: none; }

/* Step count modificator */

.uk-wizard.uk-wizard-steps { counter-reset: ordered; }
.uk-wizard.uk-wizard-steps .uk-step-content {}
.uk-wizard.uk-wizard-steps .uk-wizard-icon:before {
    content: counters(ordered, ".", decimal);
    counter-increment: ordered;
    font-family: inherit;
    font-size: 40px;
    font-weight: 700;
}

/* Vertical modificator */

.uk-wizard.uk-wizard-vertical .uk-step.uk-active:before,
.uk-wizard.uk-wizard-vertical .uk-step.uk-active:after {
    content: '';
    width: 0;
    height: 0;
    border-image: none;
    border-style: solid;
    position: absolute;
    right: 0;
    top: 50%;
    border-width: 20px 8px;
    margin-top: -20px;
    margin-right: -17px;
    z-index: 1;
}
.uk-wizard.uk-wizard-vertical .uk-step.uk-active:before {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
}
.uk-wizard.uk-wizard-vertical .uk-step.uk-active:after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    right: 1px;
}

.green { color:green }
.red { color: red }
