body { background:transparent; }
.login-wrap { /* background:#fff; background-image: linear-gradient(110deg, #fff 0%, #f1f1f1 100%); */ padding:2em; /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); */ margin-top:3em;  }
.login-wrap .logo { margin-bottom:2rem }
.login-wrap .logo img { /* height:100px !important; */ }
.login-wrap .foot { font-size:12px; }
.login-wrap input[type=text], .login-wrap input[type=password] {
  background-color: #D01F2F;
}
.login-wrap input[type=text]:hover, .login-wrap input[type=password]:hover, .login-wrap input[type=text]:focus, .login-wrap input[type=password]:focus {
  background-color: #D01F2F;
  color: #fff;
}
.login-icon-key { height: 15px; }
.login-left { font-weight: 600; text-align: left !important; }
.login-bold { font-weight: 400; font-size: 13px; }
.login-submit
{
	text-align: center;
	font-size: 14px;
	font-family:  'Open Sans', Arial, sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
  border-radius: 3px;

	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	background: -moz-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #5c9bfa), color-stop(100%, #4786ed));
	background: -webkit-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -o-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: -ms-linear-gradient(top, #5c9bfa 0%, #4786ed 100%);
	background: linear-gradient(to bottom, #5cc0fa 0%, #47b8ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9bfa', endColorstr='#4786ed', GradientType=0 );
}
.login-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
  border-radius: 3px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background: -moz-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #5c9bfa), color-stop(100%, #357ae8));
	background: -webkit-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -o-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: -ms-linear-gradient(top, #5c9bfa 0%, #357ae8 100%);
	background: linear-gradient(to bottom, #4dafe8 0%, #3fa6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9bfa', endColorstr='#3da5d6', GradientType=0 );
}
.login-vbottom {
  padding-top: 10px;
}
.login-footer {
    bottom: 30px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* html { background-image: linear-gradient(90deg, #a0dcff 0%, #60b2e2 100%);} */
html { height:100%; background:#fff url('/images/assets/bg.png') repeat-x bottom left;}

@media (max-width: 480px) {
    .login-wrap { margin:3em 0.5em }
}
@media (max-height: 600px) {
  .login-footer { display: none; }
}
@media (max-width: 768px) {
    .login-wrap { margin:3em 1.5em }
}
