<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Groups')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Groups')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Group Name')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->group_name->setAttrib('class','uk-form-width-large')  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Group Description')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->group_desc->setAttrib('class','uk-form-width-large')  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('By Program ?')?></label>
        <div class="uk-form-controls">
            <label for="by_program"><?php echo $this->translate('No')?> </label><?php echo $this->form->by_program  ?><label for="by_program"><?php echo $this->translate('Yes')?></label>
        </div>
    </div>

    <div class="uk-form-row" style="display:none;" id="program_row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Program')?></label>
        <div class="uk-form-controls">
            <select name="programId" id="programId" class="uk-form-width-large" onchange="changeCourse()">
                <option value=""><?php echo $this->translate('Select') ?></option>

                <?php foreach ($this->program as $program) { ?>
                <optgroup label="<?php echo $program['name']; ?>">
                    <?php

                    if (isset($program['program'])) {

                        foreach ($program['program'] as $prg) {
                            ?>
                            <option value="<?php echo $prg['id']; ?>"><?php echo $prg['name']; ?></option>
                        <?php }
                    }
                    } ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row" style="display:block;" id="course_row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Course')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->course_id->setAttrib('class','uk-form-width-large')  ?>
        </div>
    </div>

    <div class="uk-form-row" style="display:none;" id="display_course_row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Courses')?></label>

        <div id="courses_program" class="uk-form-controls">
            <?php echo $this->translate('Please select Program') ?>
        </div>

        <div id="courses_program_div" class="uk-form-controls">
            <select multiple="multiple" name="select_courses_program[]" id="select_courses_program" class="select courses_program" placeholder="Select Course" style="display:none;width:100%">
            </select>
        </div>
    </div>
    
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
        <div class="uk-form-controls">
            <label for="active"><?php echo $this->translate('No')?></label><?php echo $this->form->active  ?><label for="active"><?php echo $this->translate('Yes')?></label>
        </div>
    </div>

    <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>

<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            name: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: 'Description cannot be empty'
                    }
                }
            }
        }
    });

   function changeCourse(element) {

        var idProgram = $('#programId').val();

        if (idProgram != '') {
            $.ajax({
                url: "<?php echo $this->url(array('module'=>'admin','controller'=>'groups', 'action'=>'get-course'),'default',true);?>",
                data: {'idProgram': idProgram},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    $('#courses_program').empty();

                    if ($("#programId").val()== 74 || $("#programId").val()== 75 || $("#programId").val()== 76 || $("#programId").val()== 77)
                    {
                        var i = 0;
                        $("#select_courses_program").show();
                        $("#select_courses_program").select2().css('width', '100%');
                        $.each(data, function (index) {
                            i++;
                            $("#select_courses_program").append ("<option value='" + data[index].id + "'>" + data[index].code + " - " + data[index].title + "</option>");
                        });

                        if (i == 0)
                        {
                            $("#select_courses_program").append ("<option value='0' selected>No Course Found</option>");
                        }
                    }
                    else{
                        $("#select_courses_program").hide();
                        $("#courses_program").append("<table style='background-color:#ffffff;' bgcolor='white'>");

                        var i = 0;
                        $.each(data, function (index) {
                            $("#courses_program").append ("<tr><td>" + ++i + ".</td><td>" + data[index].code + " - " + data[index].title + "</td></tr>");
                        });

                        if (i == 0)
                        {
                            $("#courses_program").append ("<tr><td>No Course Found</td></tr>");
                        }

                        $("#courses_program").append('</table>');
                    }


                },
                error: function () {
                    alert("failure");
                },
            });
        }
    }

    function displayProgramCourse(){
        $("#program_row, #course_row, #display_course_row").toggle();

        if ($("#by_program").prop("checked")) {
            $("#course_id").removeAttr("required");
        }else{
            $("#course_id").removeAttr("required");
        }
    }


</script>