<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
$groupInfo = $this->group;
?>
<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Groups')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/groups/"><?php echo $this->translate('Groups')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $groupInfo['group_name']?> (<?php echo $groupInfo['course_code'] ?>)</h1></div>
    </div>
</div>

<form method="post" class="uk-form search" id="search_enrollment">

    <div class="title-wrap">
        <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" id="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
        <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
        <div class="uk-float-right uk-margin-top">
            <a id="add_user" href="#" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('Add selected')?> </a>
        </div><br/>&nbsp;
    </div>

    <table class="uk-table uk-table-stacked uk-table-admin tablesaw" data-tablesaw-mode="columntoggle">
        <thead>
            <tr>
                <th data-tablesaw-priority="persist">
                    <input type="checkbox" name="user_id[<?php echo $count++; ?>]" class="user_checkbox_all" value="<?php echo $users['id']; ?>">
                    <?php echo $this->translate('Name')?>
                </th>
                <th data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
                <th data-tablesaw-priority="6"><?php echo $this->translate('Role')?></th>
                <th data-tablesaw-priority="4"><?php echo $this->translate('Active')?></th>
                <th data-tablesaw-priority="3"><?php echo $this->translate('Last Access')?></th>
            </tr>
        </thead>
        <tbody>
        <?php if ( count($this->users) > 0 ) { ?>
        <?php $count = 0; ?>
        <?php foreach ( $this->users as $users ) { ?>
            <tr>
                <td>
                    <input type="checkbox" name="user_id[<?php echo $count++; ?>]" class="user_checkbox" value="<?php echo $users['id']; ?>">
                    <?php echo $users['firstname'].' '.$users['lastname'] ?>
                </td>
                <td><?php echo $users['email']?></td>
                <td><?php echo $users['role']?></td>
                <td><?php echo $users['active'] == 1 ? $this->translate('Yes') : $this->translate('No')?></td>
                <td><?php echo Cms_Date::date($users['register_date'], Cms_Options::getOption('dateformat.short')) ?></td>
            </tr>
           <?php } ?>
        <?php } else { ?>
            <tr>
                <td colspan="6"><?php echo $this->translate('No users found.')?></td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</form>

<script>

    $("#add_user").on("click", function() {
        $("#search_enrollment").submit();
    });

    $(".user_checkbox_all").on("click", function() {
        $(".user_checkbox").each(function(i, e) {
            if (!$(this).is(':checked')) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }
        });
    });

</script>
<?php
echo $this->paginationControl($this->users,'Elastic','/pagination.phtml');
?>