<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
$groupInfo = $this->group;
?>

<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-float-right uk-margin-top uk-button-group">
            <a href="<?php echo $this->baseUrl() ?>/admin/groups/get-user-for-group/id/<?php echo $this->group_id?>" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('Add User to Group')?> </a>
            <a href="<?php echo $this->baseUrl() ?>/admin/groups" class="uk-button uk-button-primary"><i class="uk-icon-group uk-margin-small-right"></i> <?php echo $this->translate('Back to Groups')?> </a>
        </div>

        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Groups')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/groups/"><?php echo $this->translate('Groups')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $groupInfo['group_name']?> (<?php echo $groupInfo['course_code'] ?>)</h1></div>
    </div>
</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin tablesaw" data-tablesaw-mode="columntoggle">
    <thead>
        <tr>
            <td colspan="2"><?php echo $this->translate('List of Users in this Group'); ?></td>
            <td colspan="4" align="right"><?php echo (count($this->users) > 0 ) ? $this->total_user . " " . $this->translate('total users') : ""; ?></td>
        </tr>
        <tr>
            <th data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
            <th data-tablesaw-priority="6"><?php echo $this->translate('Role')?></th>
            <th data-tablesaw-priority="4"><?php echo $this->translate('Active')?></th>
            <th data-tablesaw-priority="3"><?php echo $this->translate('Last Access')?></th>
            <th data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->users) > 0 ) { ?>
    <?php foreach ( $this->users as $users ) { ?>
        <tr>
            <td><a href="<?php echo $this->baseUrl()?>/admin/users/edit/id/<?php echo $users['id']?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
            <td><?php echo $users['email']?></td>
            <td><?php echo $users['role']?></td>
            <td><?php echo $users['active'] == 1 ? $this->translate('Yes') : $this->translate('No')?></td>
            <td><?php echo Cms_Date::date($users['register_date'], Cms_Options::getOption('dateformat.short')) ?></td>
            <td>
                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to remove this user from this group?')?>')" href="<?php echo $this->baseUrl()?>/admin/groups/delete-user-tag/id/<?php echo $users['id']?>/group/<?php echo $this->group_id?>" data-uk-tooltip title="Remove from group"><i class="uk-icon-trash-o"></i></a>
                </div>
            </td>
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No users found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->users,'Elastic','/pagination.phtml');
?>

<!-- content modal -->
<div id="content-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>

        <div class="uk-modal-header" id="content-modal-header">
            <h3>Add User to Group</h3>
        </div>

        <div id="content-modal-container">
        </div>
    </div>
</div>
<!-- /content modal -->

<script>
function popup_add()
    {
        var modal = UIkit.modal("#content-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: '<?php echo $this->baseUrl() ?>/admin/groups/get-user-for-group/nowin/1',
                type: 'GET',
                beforeSend: function() {
                    $('#content-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                setTimeout(function() { $("#content-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }
</script>