<script>
		dojo.addOnLoad(function(){
			//OnLoadAction();
			dijit.byId('field5').set('value','');
			dijit.byId('field5').set('placeHolder','Select');
			dijit.byId('field8').set('value','');
			dijit.byId('field8').set('placeHolder','Select');	
             });
             </script>
<fieldset>
<legend><?php echo $this->translate("Bank Details");?></legend>
<form action="<?php echo $this->baseUrl();?>/generalsetup/bankdetails/index/search/1" method="POST">
				<table width="100%">
    							 <tr>
                                    <td><?php echo $this->translate('Bank').' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field5;?></td>
                                   	<td><?php echo $this->translate('Account').' '.$this->translate("Type");?></td>
     								<td><?php echo $this->lobjform->field8;?></td>
                                </tr>
                                <tr>
                                	<td><?php echo $this->translate("Account Number");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td ><?php echo $this->translate("Active");?></td>
                                    <td ><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                    <td align = "center" colspan = "4">
								        <?php echo $this->lobjform->Search;?>
								        <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'bankdetails', 'action'=>'newbankdetails'),'default',true);?>';" />	
								        <?php echo $this->lobjform->Clear;?>
								    </td>
                                </tr>
             </table>
</form>	
</fieldset> 
<!--  Grid Display -->       
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    	<th><?php echo $this->translate("Account Number")?></th>
    	<th><?php echo $this->translate("Account Type")?></th>
        <th><?php echo $this->translate("Bank Name")?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $arrbankdetails ): ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
   		<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'bankdetails', 'action'=>'editbankdetails' , 'id'=>$arrbankdetails['IdAccount']),'default',true);?>" ><?php echo($this->escape($arrbankdetails['AccountNumber']));?></a></td> 
    	<td><?php echo $this->escape($arrbankdetails['DefinitionDesc']);?></td>
    	<td><?php echo $this->escape($arrbankdetails['BankName']);?></td>
    	<?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
    </tr>
</table>
</fieldset>      
