<div class="pagination">
<ul class="uk-pagination">
	<?php if (isset($this->previous)): ?>
		 <li><a href="<?php echo $this->url(array('page'=>$this->previous)) ?>"><i class="uk-icon-caret-left"></i></a></li>
	<?php else: ?>
		<li class="uk-disabled"><span><i class="uk-icon-caret-left"></i></span></li>
	<?php endif; ?>
	<!-- Numbered page links -->
	<?php foreach ($this->pagesInRange as $page): ?>
		<?php if ($page != $this->current): ?>
			<li><a href="<?php echo $this->url(array('page'=>$page)) ?>"><?php echo $page ?></a></li>
		<?php else: ?>
			<li class="uk-active"><span><?php echo $page ?></span></li>
		<?php endif; ?>
	<?php endforeach; ?>
	
	<?php if (isset($this->next)): ?>
		 <li><a href="<?php echo $this->url(array('page'=>$this->next)) ?>"><i class="uk-icon-caret-right"></i></a></li>
	<?php else: ?>
		<li class="uk-disabled"><span><i class="uk-icon-caret-right"></i></span></li>
	<?php endif; ?>
</ul>
</div>