<?php
	$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/lib/moment.min.js');
    $this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.js');
	$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.css');
	$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.print.css', 'print');
	$this->headScript()->appendFile($this->baseUrl().'/js/plugins/scroll/jquery.scroll.min.js', 'text/javascript');
?>

<?php Cms_Hooks::start(); ?>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
                <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li class="uk-active"><a href="#"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
    <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>



<div class="uk-grid">

    <div class="uk-width-medium-7-10">
    <!-- content -->
    	<div id="calendar"></div>
    <!-- /content -->
    </div>
		<div class="uk-width-medium-3-10">
		<!-- side -->
			<div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
				<div class="uk-panel-content">
					<!--div class="events-note">
		                <i class="uk-icon-calendar uk-text-danger"></i> 
                            <?php echo $this->translate('You have no events today.') ?>
		            </div-->
		            <div class="events-note uk-margin-bottom">
		                <i class="uk-icon-calendar uk-text-danger"></i> 
                        <?php if (count($this->weekEvent) == 0) : ?>
                            <?php echo $this->translate('You have no events this week') ?>
                        <?php else : ?>
                            <?php $i=0 ?>
                            <span class="strong"><?php echo $this->translate("This week's event(s):") ?></span><br/>
                            <?php foreach ($this->weekEvent as $event) : ?>
                                <span class="uk-margin-left">
                                    <?php echo ++$i . ". " ?><a href="javascript:void(0)" onlick="openModalDetail('event-div-<?php echo $event['id']?>')" data-uk-modal="{target:'#modalEventDetail_<?php echo $event['id']?>'}"><?php echo $event['title'] . "<br/>" ?></a>
                                </span>

                                <div class="uk-modal" id="modalEventDetail_<?php echo $event['id']?>">
                                    <div class="uk-modal-dialog">
                                        <div class="uk-modal-header"><h2><?php echo $event['title'] ?></h2></div>
                                        <div class="uk-modal-content-details">
                                            <ul class="infolist">
                                                <li>
                                                    <span><i class="uk-icon-calendar-check-o uk-text-muted"> </i>Date: </span>
                                                        <?php echo textDate($event['date_start'],$event['date_end']) ?>
                                                </li>
                                                <li>
                                                    <span><i class="uk-icon-clock-o uk-text-muted"> </i>Time: </span>
                                                        <?php echo $event['time_start'] . " - " . $event['time_end'] ?>
                                                </li>
                                                <li>
                                                    <span><i class="uk-icon-question-circle uk-text-muted"> </i>Description: </span>
                                                        <?php echo $event['description'] ?>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-modal-footer" align="right"><button class="uk-button uk-modal-close uk-close"></button></div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php endif; ?>

		            </div>
				</div>
			</div>
		<!-- /side -->
		</div>
</div>

<div class="uk-modal" id="modalEventDetail_empty">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header"><h2 id="modal-empty-title"></h2></div>
        <div class="uk-modal-content-details-empty"></div>
        <div class="uk-modal-footer" align="right"><button class="uk-button uk-modal-close uk-close"></button></div>
    </div>
</div>

<style type="text/css">
    .outline { margin-top:15px }
</style>

<script type="text/javascript">

    var eventsData = [];

    <?php foreach ($this->event as $event) : ?>
        <?php $description = str_replace("\r\n", "<br />",$event['description']); ?>
        eventsData['<?php echo $event['date_start'] ?>'] = [];
        eventsData['<?php echo $event['date_start'] ?>'] = '<ul class="infolist"><li><span><i class="uk-icon-calendar-check-o uk-text-muted"> </i>Date: </span><?php echo textDate($event['date_start'],$event['date_end']) ?></li><li><span><i class="uk-icon-clock-o uk-text-muted"> </i>Time: </span><?php echo $event['time_start'] . " - " . $event['time_end'] ?></li><li><span><i class="uk-icon-question-circle uk-text-muted"> </i>Description: </span><?php echo $description; ?></li></ul>';
    <?php endforeach; ?>

    function openModalDetail(division) {
        var htmlData = $(division);
        $("#uk-modal-content-details").html(htmlData);
    }

    $(document).ready(function() {
        var modal = UIkit.modal("#modalEventDetail_empty");

        $('#calendar').fullCalendar({
            header: {
                left: 'prev, today',
                center: 'title',
                right: 'next'
            },
            aspectRatio: 2,
            editable: false,
            //eventLimit: true, // allow "more" link when too many events
            events: [
            	<?php foreach ($this->event as $event) : ?>
            		{
            			'title': 	'<?php echo addslashes($event['title']) ?>',
            			'start': 	'<?php echo $event['date_start'] ?>',
            			'end': 		'<?php echo date('Y-m-d', strtotime('+1 day', strtotime($event['date_end']))) ?>'
            		},
            	<?php endforeach; ?>
            ],
            dayClick: function(date, jsEvent, view) {
                subDate = date.format();

                if (typeof eventsData[subDate] == 'undefined') {
                    // populate the calendar event to div
                    $("#modal-empty-title").html(subDate);
                    $(".uk-modal-content-details-empty").html("No event for this date");
                } else {
                    // populate the calendar event to div
                    $("#modal-empty-title").html(date.format());
                    $(".uk-modal-content-details-empty").html(eventsData[subDate]);
                }

                if ( modal.isActive() ) { modal.hide(); } 
                else                    { modal.show(); }

                $(".fc-day").each(function(i,e) {
                    $(this).removeClass('fc-state-highlight');
                    $(this).css('background', '');
                });

                // change the day's background color to highlight
                $(this).css('background', '#fbf9ec none repeat scroll 0 0');
                
            }
        });
    });

</script>
<?php
function textDate($start_date, $end_date )
{
    $start_date = strtotime($start_date);
    $end_date = strtotime($end_date);
//

    if ($end_date != '') {
        $year1 = date('Y', $start_date);
        $year2 = date('Y', $end_date);
        $month1 = date('m', $start_date);
        $month2 = date('m', $end_date);

        if ($start_date < $end_date) {
            if ($year1 != $year2) {
                $holiday_date = date('F j, Y', $start_date) . ' to ' . date('F j, Y', $end_date);
            }
            else {
                if ($month1 != $month2) {
                          $holiday_date = date('F j', $start_date) . '&ndash;' . date('F j', $end_date) . ', '. date('Y', $end_date);
                }
                else {
                          $holiday_date = date('j', $start_date) . '&ndash;' . date('j F', $end_date) . ', '. date('Y', $end_date);
                }
            }
        }
        else if ( $start_date == $end_date) {
             $holiday_date = date('j F, Y', $start_date);
        }else {
                $holiday_date = 'Invalid date range.';
        }
    }
    else {
            $holiday_date = date('F j, Y', $start_date);
    }

    return $holiday_date;
}
?>