<h2><?php echo $this->translate('Edit Video File')?></h2>

<ul class="uk-tab" data-uk-switcher="{connect:'#switcher-video'}">
    <li <?php echo $this->contentdata['video_type']=='upload'?'class="uk-active"':'class="uk-disabled"'?>><a href="#"><i class="uk-icon-upload"></i> <?php echo $this->translate('Upload Video')?></a></li>
    <li <?php echo $this->contentdata['video_type']=='youtube'?'class="uk-active"':'class="uk-disabled"'?>><a href="#"><i class="uk-icon-youtube-play"></i> <?php echo $this->translate('Youtube')?></a></li>
</ul>

<div id="switcher-video" class="uk-switcher uk-margin">
    <div>
        <form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">

            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <input type="text" value="<?php echo $this->content['title']?>" name="title" required class="uk-form-medium uk-form-width-large"/>
                    <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
                <div class="uk-form-controls">
                    <textarea name="description" class="uk-form-width-large"><?php echo $this->content['description']?></textarea>
                </div>
            </div>

            <?php if ( $this->contentdata['video_thumb'] != '' ) { ?>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Current Thumbnail')?></label>
                <div class="uk-form-controls">
                    <p><img class="uk-border-rounded" src="<?php echo $this->baseUrl()?>/thumb.php?w=100&amp;f=<?php echo DOCUMENT_PATH.$this->contentdata['video_thumb']?>" alt="photo" /></p>
                </div>
            </div>
            <?php } ?>

            <div class="uk-form-row">
               <label class="uk-form-label"><?php echo $this->translate('New Thumbnail')?></label>
               <div class="uk-form-controls">
                   <input name="thumb" id="thumb" type="file"  class="fileupload img">
                   <p class="desc"><?php echo $this->translate('Supported Types: jpg jpg png')?></p>
               </div>
           </div>

           <div class="uk-form-row">
               <label class="uk-form-label"><?php echo $this->translate('Video')?></label>
               <div class="uk-form-controls">
                   <video controls width="200">
                       <source src="<?php echo Cms_System_Links::dataFileUrl($this->contentdata['video_url'])?>" type="video/mp4">
                   </video>
               </div>
           </div>

           <div class="uk-form-row">
               <label class="uk-form-label"><?php echo $this->translate('Upload New')?></label>
               <div class="uk-form-controls">
                   <input name="files" id="video" type="file"  class="fileupload mp4">
                   <p class="desc"><?php echo $this->translate('Supported Types: mp4')?></p>
               </div>
           </div>
           <div class="uk-form-row">
               <input type="hidden" value="video" name="type"/>
               <input type="hidden" value="upload" name="video-type"/>
               <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
           </div>
       </form>
   </div>

   <div>
       <form class="uk-form uk-form-horizontal addcontent-form" method="post">
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Youtube Link')?></label>
                <div class="uk-form-controls">
                    <div id="video-thumb" class="uk-form-width-medium uk-margin-bottom">
                        <img src="<?php echo $this->contentdata['video_thumb']?>" alt="" />
                    </div>
                    <input type="hidden" value="<?php echo $this->contentdata['video_thumb']?>" name="thumb" id="video-thumb-value" />
                    <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
                    <input type="text" value="<?php echo $this->contentdata['video_url']?>" name="url" onchange="AppAdmin.checkVideo(this, 'videotitle','video-thumb')" required class="uk-form-medium uk-form-width-large"/>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <input type="text" value="<?php echo $this->content['title']?>" name="title" id="videotitle" required class="uk-form-medium uk-form-width-large"/>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
                <div class="uk-form-controls">
                    <textarea name="description" class="uk-form-width-large"><?php echo $this->content['description']?></textarea>
                </div>
            </div>

            <div class="uk-form-row">
                <input type="hidden" value="video" name="type"/>
                <input type="hidden" value="youtube" name="video-type"/>
                <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
            </div>
       </form>
   </div>
</div>