<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
    <h2><?php echo $this->translate('Edit Supporting File')?></h2>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
        <div class="uk-form-controls">
            <input type="text" value="<?php echo $this->content['title']?>" name="title" required class="uk-form-medium uk-form-width-large"/>
            <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <textarea name="description" class="uk-form-width-large textarea" id="content_support_description"><?php echo $this->content['description']?></textarea>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
        <div class="uk-form-controls">
            <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                <?php foreach ($this->groups as $groups) : ?>
                    <?php if ((int)$groups['map_id'] > 0) : ?>
                        <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                    <?php else: ?>
                        <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Files')?></label>
        <div class="uk-form-controls">
            <?php if ( !empty($this->contentdata) ) { ?>
            <table class="uk-table uk-table-bordered">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('File Name')?></th>
                        <th><?php echo $this->translate('Size')?></th>
                        <th><?php echo $this->translate('Option')?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ( $this->contentdata as $file ) { ?>
                    <tr id="filerow-<?php echo $file['id']?>">
                        <td><a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a></td>
                        <td><?php echo Cms_Common::formatFilesize($file['file_size'])?></td>
                        <td><a href="#" onclick="return AppAdmin.deleteFile(<?php echo $file['id']?>)"><i class="uk-icon-trash-o"></i> <?php echo $this->translate('Delete')?></a></td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
            <?php } ?>

            <h4><?php echo $this->translate('Upload More')?></h4>
            <input name="files" type="file" class="fileupload all">
            <p class="desc"><?php echo $this->translate('Supported Types: xls, zip, ppt, rar, jpg, pdf, doc, docx, xlsx ')?></p>
        </div>
    </div>

    <div class="uk-form-row">
        <input type="hidden" value="support" name="type"/>
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
    </div>
</form>