<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
    <h2><?php echo $this->translate('Edit Assignment')?></h2>
    
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Assignment')?></label>
        <div class="uk-form-controls">
            <input type="text" value="<?php echo $this->content['title']?>" name="title" required class="uk-form-width-large"/>
            <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <textarea name="description" class="textarea" id="blockcontent-content"><?php echo $this->content['description']?></textarea>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
        <div class="uk-form-controls">
            <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                <?php foreach ($this->groups as $groups) : ?>
                    <?php if ((int)$groups['map_id'] > 0) : ?>
                        <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                    <?php else: ?>
                        <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
      <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Due Date')?></label>
                <div class="uk-form-controls">
                    <label class="desc">Start </label>
                   <input type="text" name="date_start" required class="datepicker" value="<?php echo $this->content['date_start']?>"/>
                    <label class="desc">End</label>
                    <input type="text" name="date_end" required class="datepicker" value="<?php echo $this->content['date_end']?>" />
                </div>
            </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="title"><?php echo $this->translate('Time')?></label>
            <div class="uk-form-controls">
                <label class="desc">Start </label>
                <select class="select_time" id="time_start" name="time_start">
                <?php $time = ""; ?>
                <?php $j=30; ?>
                    <?php for($i=0; $i<24; $i++) : ?>
                        <?php $i=($j==30) ? $i:--$i;?>
                        <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                            <?php $selected = (($this->content['time_start'] == $time) ? " selected" : ""); ?>
                                <option value="<?php echo $time ?>"<?php echo $selected ?>><?php echo $time ?></option>
                    <?php endfor; ?>
                </select>
                     
                    <label class="desc">End </label>
                <select class="select_time" id="time_end" name="time_end">
                <?php $time = ""; ?>
                <?php $j=30; ?>
                    <?php for($i=0; $i<24; $i++) : ?>
                        <?php $i=($j==30) ? $i:--$i;?>
                        <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                            <?php $selected = (($this->content['time_end'] == $time) ? " selected" : ""); ?>
                                <option value="<?php echo $time ?>"<?php echo $selected ?>><?php echo $time ?></option>
                    <?php endfor; ?>
                </select>
            </div>
        </div>
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Files')?></label>
        <div class="uk-form-controls">
            <?php if ( !empty($this->contentdata) ) { ?>
            <table class="uk-table uk-table-bordered">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('File Name')?></th>
                        <th><?php echo $this->translate('Size')?></th>
                        <th><?php echo $this->translate('Option')?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ( $this->contentdata as $file ) { ?>
                    <tr id="filerow-<?php echo $file['id']?>">
                        <td><a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a></td>
                        <td><?php echo Cms_Common::formatFilesize($file['file_size'])?></td>
                        <td><a href="#" onclick="return AppAdmin.deleteFile(<?php echo $file['id']?>)"><i class="uk-icon-trash-o"></i> <?php echo $this->translate('Delete')?></a></td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
            <?php } ?>

            <h4><?php echo $this->translate('Upload More')?></h4>
            <!--input name="files" type="file" required class="fileupload all"-->
             <input name="files" type="file" class="fileupload all">
            <p class="desc"><?php echo $this->translate('Supported Types: xls, zip, ppt, rar, jpg, pdf, doc, docx, xlsx ')?></p>
        </div>
        <!--grade maximum point-->
        <?php if ($this->content['gradepoint']==null || $this->content['gradepoint']==0 ){ ?>
            <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Grade Point')?></label>
                <div class="uk-form-controls">
                    <input type="text" name="gradepoint" value="<?php echo $this->content['gradepoint']?>"  required class="uk-form-row" />
                </div>
            </div>
        <?php }else{?>
        <div class="uk-form-row">
                <label class="uk-form-label"><?php echo $this->translate('Grade Point')?></label>
                <div class="uk-form-controls">
                    <input type="text" name="gradepoint"  value="<?php echo $this->content['gradepoint']?>" required class="uk-form-row" readonly/>
                </div>
            </div>
        <?php }?>
        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Grading')?></label>
            <div class="uk-form-controls">
                <a target="_blank" class="uk-button" href="<?php echo $this->baseUrl()?>/admin/courses/grading/id/<?php echo $this->course['id']?>/cid/<?php echo $this->content['data_id']?>">
                    <?php echo $this->translate('View/Grade all submissions')?>
                </a>
            </div>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('')?></label>
        <div class="uk-form-controls">
            <input type="hidden" value="assignment" name="type"/>
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Save')?></button>
        </div>
    </div>
</form>