<form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
    <h2><?php echo $this->translate('Edit SCORM')?></h2>
    
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
        <div class="uk-form-controls">
            <input type="text" name="title" value="<?php echo $this->escape($this->content['title'])?>" required class="uk-form-medium uk-form-width-medium"/>
            <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
        <div class="uk-form-controls">
            <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                <?php foreach ($this->groups as $groups) : ?>
                    <?php if ((int)$groups['map_id'] > 0) : ?>
                        <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                    <?php else: ?>
                        <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="uk-form-row">
        <input type="hidden" value="scorm" name="type"/>
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
    </div>
</form>