<div class="tab-content quiz">
    <form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
        <h2><?php echo $this->translate('Edit Quiz')?></h2>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Quiz Title')?></label>
            <div class="uk-form-controls">
                <input type="text" value="<?php echo $this->content['title'] ?>" name="title" required class="uk-form-medium uk-form-width-large"/>
                <input type="hidden" name="course_id" value="<?php echo $this->course['id'] ?>" />
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
            <div class="uk-form-controls">
                <textarea name="description" class="uk-form-width-large"><?php echo $this->content['description']?></textarea>
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Groups')?></label>
            <div class="uk-form-controls">
                <select name="group[]" class="select_new uk-form-medium uk-form-width-large" multiple="multiple" class="uk-form-width-large">
                    <?php foreach ($this->groups as $groups) : ?>
                        <?php if ((int)$groups['map_id'] > 0) : ?>
                            <option value="<?php echo $groups['group_id'] ?>" selected><?php echo ucwords($groups['group_name']) ?></option>
                        <?php else: ?>
                            <option value="<?php echo $groups['group_id'] ?>"><?php echo ucwords($groups['group_name']) ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label" for="answer1"><?php echo $this->translate('Attempt allowed')?></label>
            <div class="uk-form-controls">
                      <?php /* //saved for the LUL
                     <select class="smultiattempt" id="multiattempt" name="multiattempt">
                      <option value="<?php echo $this->content['multiattempt']?>">Unlimited</option>
                      <option value="<?php echo $this->content['multiattempt']?>">1</option>
                       <option value="<?php echo $this->content['multiattempt']?>">2</option>
                        <option value="<?php echo $this->content['multiattempt']?>">3</option>
                                        <option value="<?php echo $this->content['multiattempt']?>">4</option>
                                     <option value="<?php echo $this->content['multiattempt']?>">5</option>
                                  <option value="<?php echo $this->content['multiattempt']?>">6</option>
                                <option value="<?php echo $this->content['multiattempt']?>">7</option>
                             <option value="<?php echo $this->content['multiattempt']?>">8</option>
                            <option value="<?php echo $this->content['multiattempt']?>">9</option>
                           <option value="<?php echo $this->content['multiattempt']?>">10</option>
                    </select>                          
                    */ ?>
                <select class="smultiattempt" id="multiattempt" name="multiattempt">
                    <?php for($i=0; $i<=10; $i++): ?>
                        <option  value="<?php echo $i; ?>" <?php echo ($this->content['multiattempt'] == $i ? 'selected':''); ?>>
                            <?php echo ($i==0 ? $this->translate('Unlimited') : $i); ?>
                        </option>
                    <?php endfor; ?>
                </select>
            </div>
        </div>
    
        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Date')?></label>
            <div class="uk-form-controls">
                <label class="desc">Start </label>
               <input type="text" name="date_start" required class="datepicker" value="<?php echo $this->content['date_start']?>"/>
                <label class="desc">End</label>
                <input type="text" name="date_end" required class="datepicker" value="<?php echo $this->content['date_end']?>" />
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label" for="title"><?php echo $this->translate('Time')?></label>
            <div class="uk-form-controls">
                <label class="desc">Start </label>
                <select class="select_time" id="time_start" name="time_start">
                <?php $time = ""; ?>
                <?php $j=30; ?>
                    <?php for($i=0; $i<24; $i++) : ?>
                        <?php $i=($j==30) ? $i:--$i;?>
                        <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                            <?php $selected = (($this->content['time_start'] == $time) ? " selected" : ""); ?>
                                <option value="<?php echo $time ?>"<?php echo $selected ?>><?php echo $time ?></option>
                    <?php endfor; ?>
                </select>
                     
                    <label class="desc">End </label>
                <select class="select_time" id="time_end" name="time_end">
                <?php $time = ""; ?>
                <?php $j=30; ?>
                    <?php for($i=0; $i<24; $i++) : ?>
                        <?php $i=($j==30) ? $i:--$i;?>
                        <?php $time = ((strlen($i)<2) ? "0".$i : $i) . ":" . (($j==30) ? $j="00" : $j=30) . ":00" ?>
                            <?php $selected = (($this->content['time_end'] == $time) ? " selected" : ""); ?>
                                <option value="<?php echo $time ?>"<?php echo $selected ?>><?php echo $time ?></option>
                    <?php endfor; ?>
                </select>
            </div>
        </div>
        
        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Total Question')?></label>
            <div class="uk-form-controls">
                <?php echo $this->countquestion?>
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Questions')?></label>
            <div class="uk-form-controls">
                <a href="<?php echo $this->baseUrl()?>/admin/quiz/view/bid/<?php echo $this->data_id; ?>/course/<?php echo $this->course_id; ?>" class="uk-button" target="_new"> View All Questions</a>
            </div>
        </div>
        
        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Grade Point')?></label>
            <div class="uk-form-controls">
                <input type="text" name="gradepoint" value="<?php echo $this->content['gradepoint']?>"  required class="uk-form-row" />
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Grade Pass')?></label>
            <div class="uk-form-controls">
                <input type="text" name="gradepass" value="<?php echo $this->content['gradepass']?>"  required class="uk-form-row" />
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Grading method')?></label>
            <div class="uk-form-controls">
                <?php
                $method = array(
                    1 => 'Highest Grade',
                    2 => 'Last Attempt'
                );
                ?>
                <select name="grading_method">
                    <?php foreach($method as $val => $desc): ?>
                        <?php $selected = ($val == $this->content['grading_method'] ? 'selected="selected"' : ''); ?>
                        <option value="<?php echo $val; ?>" <?php echo $selected; ?>>
                            <?php echo $desc; ?>
                        </option>
                    <?php endforeach; ?>
                 </select> 
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Grading')?></label>
            <div class="uk-form-controls">
                <a target="_blank" href="<?php echo $this->baseUrl()?>/admin/quiz/grading/id/<?php echo $this->course_id; ?>/cid/<?php echo $this->data_id; ?>" class="uk-button">
                    <?php echo $this->translate('View/Grade All Student Attempt')?>
                </a>
            </div>
        </div>

        <br />

        <div class="uk-form-row">
            <input type="hidden" value="quiz" name="type"/>
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Save')?></button>
        </div>
    </form>
</div>