
<script type="text/javascript">
dojo.addOnLoad(function() {
	dijit.byId('field28').focus();
	<?php
	if(isset( $this->idCollege )){
	?>
		dijit.byId('field5').set('value','<?php echo $this->idCollege; ?>');
	<?php
	}else{
	?>
		dijit.byId('field5').set('value','');
		dijit.byId('field5').set('placeHolder','Select');		
	<?php
	}
	?>
	
	/*dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');*/
	dijit.byId('field20').set('value','');
	dijit.byId('field20').set('placeHolder','Select');
});

function fnGetColgDeptList(IdCollege){
	if(IdCollege != "")
		{
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/subjectsoffered/getcolgdeptlist/IdCollege/"+IdCollege,
					handleAs:'json',
					load:function(data){
						AutoFillNextEditableDropDown("field20",data);
					}
			   }
			dojo.xhrGet(xhrArgs);
		}
	}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function addCourse(){
    window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster', 'action'=>'newsubjectmaster'),'default',true);?>";
}
</script>

<div class="breadcrum">
	<ul class="tri-steps">
		
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Course Master"); ?></a></div></li>
		
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectprerequisites','action'=>'index'),'default',true);?>"><?php echo $this->translate("Requisite"); ?></a></div></li>

		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectequivalent','action'=>'index'),'default',true);?>"><?php echo $this->translate("Equivalent"); ?></a></div></li>
		
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectdetails','action'=>'index'),'default',true);?>"><?php echo $this->translate("Details"); ?></a></div></li>
	
	</ul>
	<div class="clear"></div>
</div>

<br />


<div class="message toolbar">
    <h2><?php echo $this->translate("Course Master"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="addCourse()" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br>
						
<fieldset>
	<legend><?php echo $this->translate("$this->Subject Search");?></legend>
	 <form action="<?php echo $this->baseUrl();?>/generalsetup/subjectmaster/index/search/1" method="POST">
		<dl class="zend_form">      
			<dt><?php echo $this->translate("Department");?></dt>
			<dd><?php echo $this->lobjform->field5;?></dd>
			<!--<dt><?php //echo $this->translate("Branch");?></dt>
			<dd><?php //echo $this->lobjform->field8;?></dd>-->
			<dt><?php echo $this->translate("Unit");?></dt>
			<dd ><?php echo $this->lobjform->field20;?></dd>
			<dt><?php echo $this->translate("Course Name");?></dt>
			<dd><?php echo $this->lobjform->field2;?></dd>
			<dt><?php  echo $this->translate("Course Name").' ('.$this->translate($this->defaultlanguage).")";?></dt>
			<dd><?php echo $this->lobjform->field28;?></dd>
			<dt><?php echo $this->translate("Course Code");?></dt>
			<dd ><?php echo $this->lobjform->field3;?></dd>
			<dt><?php echo $this->translate("Active");?></dt>
			<dd><?php echo $this->lobjform->field7;?></dd>
			<dd>
			<?php echo $this->lobjform->Search;?>
			<!--<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php //echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php //echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster', 'action'=>'newsubjectmaster'),'default',true);?>';" />-->
			<?php echo $this->lobjform->Clear;?>
			</dd>
		</dl>
	</form>
</fieldset>
<br/>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">

<tr>
	<th><?php echo $this->translate("Course Code");?></th>
	<th><?php echo $this->translate("Course Name");?></th>
	<th><?php echo $this->translate("Course Name");?> (<?php echo $this->translate($this->defaultlanguage);?>)</th>
	<th><?php echo $this->translate("Course Type");?></th>
	<th><?php echo $this->translate("Department");?></th>
	<th><?php echo $this->translate("Credit Hours");?></th>
					<th><?php echo $this->translate("");?></th>
</tr>
<?php if (count($this->paginator)): ?>
<?php foreach ($this->paginator as $lobjsubject ): ?>
<tr>
				<td><?php echo $this->escape($lobjsubject['SubCode']);?></td>
	<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster', 'action'=>'subjectmasterlist' , 'id'=>$lobjsubject['IdSubject']),'default',true);?>" ><?php echo $this->escape($lobjsubject['SubjectName']);?></a></td>
		<td><?php echo $this->escape($lobjsubject['subjectMainDefaultLanguage']);?></td>
	<td><?php echo $this->escape($lobjsubject['CourseName']);?></td>
	<td><?php  echo $this->escape($lobjsubject['collegename']); ?></td>
	<td align="center"><?php echo $this->escape($lobjsubject['CreditHours']);?></td>
			<td align="center" class="options">
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster', 'action'=>'subjectmasterlist' , 'id'=>$lobjsubject['IdSubject']),'default',true);?>" >
					<?php echo $this->translate("Edit"); ?>
				</a>
			</td>
</tr>  
<?php endforeach; ?>
	<?php endif; ?>
</table>
<div class="pagination">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>
