<style>
	/*.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode {
		width: 85%;	
		margin: 3px 2px;
    	padding: 0 6px;
	}*/
</style>

<script type="text/javascript">
var SUCreditH = 0;
var SUBJCREDITHOUR=0;
var COMPCREDITHOUR=0;
var x=0;
var SCR = new Array();

dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){
                dijit.byId('componentType').set('value','');
                dijit.byId('componentType').set('placeHolder','Select');
                dijit.byId('methodOfTeaching').set('value','');
                dijit.byId('methodOfTeaching').set('placeHolder','Select');
                dijit.byId('attendanceType').set('value','');
                dijit.byId('attendanceType').set('placeHolder','Select');
                dijit.byId('tlm_materialType').set('value','');
                dijit.byId('tlm_materialType').set('placeHolder','Select');
                dijit.byId('tlm_materialStatus').set('value','');
                dijit.byId('tlm_materialStatus').set('placeHolder','Select');
                dijit.byId('tlm_status').set('value','');
                dijit.byId('tlm_status').set('placeHolder','Select');
                dijit.byId('tlm_semester').set('value','');
                dijit.byId('tlm_semester').set('placeHolder','Select');
                
	});


	function fnCourseType(CourseType) {
	if(CourseType != "" || CourseType != undefined)
	{	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/generalsetup/subjectmaster/getmandatoryfields/CourseType/"+CourseType,
			handleAs:'json',
			load:function(data){
				if(data['MandatoryCreditHrs']== "0") {
					dijit.byId('CreditHours').set('value','0');
					dijit.byId('CreditHours').set('readOnly',true);
				} else {
					dijit.byId('CreditHours').set('value','');
					dijit.byId('CreditHours').set('readOnly',false);
				}

				if(data['MandatoryAmount']== "0") {
					dijit.byId('AmtPerHour').set('value','0');
					dijit.byId('AmtPerHour').set('readOnly',true);
				} else {
					dijit.byId('AmtPerHour').set('value','');
					dijit.byId('AmtPerHour').set('readOnly',false);
				}
			}
	   }
		dojo.xhrGet(xhrArgs);
	 }
	}

	function fnShowReligion(reltype) {
		var x = dijit.byId('ReligiousSubject').checked;

		if(x==true){
			dijit.byId('IdReligion').set('readOnly',false);
		}else{
			dijit.byId('IdReligion').set('readOnly',true);
		}

	}

	var rowid = <?php echo count($this->larrcomponent)+1;?>;
        var rowid2 = <?php echo count($this->larrlearningmaterial)+1;?>;
        var subArray  = new Array();
	var subjArray  = new Array();
        var subArray2  = new Array();

	<?php if($this->larrcomponent) {?>
	<?php foreach($this->larrcomponent as $larrcomponent) { ?>
		subArray.push("<?php echo $this->value.$larrcomponent['componentTypeName'];?>");
	<?php }} ?>
        console.log(subArray);
        
        <?php if($this->larrlearningmaterial) {?>
	<?php foreach($this->larrlearningmaterial as $larrlearningmaterial) { ?>
		subArray2.push("<?php echo $this->value.$larrlearningmaterial['tlm_materialTypeName'];?>");
	<?php }} ?>
        console.log(subArray2);

	function addsubjectcreditHours() {

                var flag = true;
		var componentType =dojo.byId("componentType").value
		if(componentType==''){
		    dijit.byId("componentType").attr('required','true');
			dijit.byId("componentType").focus();
			return false;
		}
                
                /*var instructorContactHours =dojo.byId("instructorContactHours").value
		if(instructorContactHours==''){
		    dijit.byId("instructorContactHours").attr('required','true');
			dijit.byId("instructorContactHours").focus();
			return false;
		}
                
                var workloadHours =dojo.byId("workloadHours").value
		if(workloadHours==''){
		    dijit.byId("workloadHours").attr('required','true');
			dijit.byId("workloadHours").focus();
			return false;
		}
                
                var OEEWorkloadHours =dojo.byId("OEEWorkloadHours").value
		if(OEEWorkloadHours==''){
		    dijit.byId("OEEWorkloadHours").attr('required','true');
			dijit.byId("OEEWorkloadHours").focus();
			return false;
		}
                
                var methodOfTeaching =dojo.byId("methodOfTeaching").value
		if(methodOfTeaching==''){
		    dijit.byId("methodOfTeaching").attr('required','true');
			dijit.byId("methodOfTeaching").focus();
			return false;
		}
                
                var attendanceType =dojo.byId("attendanceType").value
		if(attendanceType==''){
		    dijit.byId("attendanceType").attr('required','true');
			dijit.byId("attendanceType").focus();
			return false;
		}*/

		if(flag == true) {
			subjectcreditInsert();
		}
		return flag;

	}

	function subjectcreditInsert(){


		var componentType = dijit.byId("componentType").value;
                var componentTypeName = dijit.byId("componentType").displayedValue;
                var instructorContactHours = dojo.byId("instructorContactHours").value;
                var workloadHours = dojo.byId("workloadHours").value;
                var OEEWorkloadHours = dojo.byId("OEEWorkloadHours").value;
                var methodOfTeaching = dijit.byId("methodOfTeaching").value;
                var methodOfTeachingName = dijit.byId("methodOfTeaching").displayedValue;
                var attendanceType = dijit.byId("attendanceType").value;
                var attendanceTypeName = dijit.byId("attendanceType").displayedValue;

                subArray.push(componentTypeName);
                //console.log(subArray);
                if(arrHasDupes(subArray))
                {
                        subArray = subArray.unique();
                        alert("Duplicate Component");
                } else {

                var trow=document.getElementById('hor').insertRow(rowid);
                var tcol1=trow.insertCell(0);
                var tcol2=trow.insertCell(1);
                var tcol3=trow.insertCell(2);
                var tcol4=trow.insertCell(3);
                var tcol5=trow.insertCell(4);
                var tcol6=trow.insertCell(5);
                var tcol7=trow.insertCell(6);

                tcol1.innerHTML= "<input type='hidden' value='"+componentType+"' name=componentTyperid[]>"+componentTypeName;
                tcol2.innerHTML= "<input type='hidden' value='"+instructorContactHours+"' name=instructorContactHoursid[]>"+instructorContactHours;
                tcol3.innerHTML= "<input type='hidden' value='"+workloadHours+"' name=workloadHoursid[]>"+workloadHours;
                tcol4.innerHTML= "<input type='hidden' value='"+OEEWorkloadHours+"' name=OEEWorkloadHoursid[]>"+OEEWorkloadHours;
                tcol5.innerHTML= "<input type='hidden' value='"+methodOfTeaching+"' name=methodOfTeachingid[]>"+methodOfTeachingName;
                tcol6.innerHTML= "<input type='hidden' value='"+attendanceType+"' name=attendanceTypeid[]>"+attendanceTypeName;
                tcol7.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this,'+workloadHours+',\''+componentTypeName+'\'); return false;"><?php echo $this->translate("Delete"); ?></a>';
                rowid++;
                }
        }

	function deleteRow(r,SCH,IdcomponentsName)
	{
		rowid--;
		subjArray.splice(parseInt(i-1),1);  
		var i=r.parentNode.parentNode.rowIndex;
                
                var makeArr = IdcomponentsName;
                subArray.splice(subArray.indexOf(makeArr), 1);
                
		document.getElementById('hor').deleteRow(i);
	}

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}

	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }

	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}

function loadDepartment() {
    var idfaculty = dijit.byId("IdFaculty").value;
    var xhrArgs = {
        url: '<?php echo $this->baseUrl();?>'+'/generalsetup/subjectmaster/getdepartment/idFaculty/'+idfaculty,
        handleAs:'json',
        load:function(data){
            AutoFillNextEditableDropDown('IdDepartment',data);
        }
    }
    dojo.xhrGet(xhrArgs);
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
        var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

$(function(){
    $( "#tabs" ).tabs();
});

function addLearningMaterial() {

        var flag = true;
        var tlm_materialType =dojo.byId("tlm_materialType").value
        if(tlm_materialType==''){
            dijit.byId("tlm_materialType").attr('required','true');
                dijit.byId("tlm_materialType").focus();
                return false;
        }

        /*var tlm_materialStatus =dojo.byId("tlm_materialStatus").value
        if(tlm_materialStatus==''){
            dijit.byId("tlm_materialStatus").attr('required','true');
                dijit.byId("tlm_materialStatus").focus();
                return false;
        }

        var tlm_status =dojo.byId("tlm_status").value
        if(tlm_status==''){
            dijit.byId("tlm_status").attr('required','true');
                dijit.byId("tlm_status").focus();
                return false;
        }

        var tlm_ISBN =dojo.byId("tlm_ISBN").value
        if(tlm_ISBN==''){
            dijit.byId("tlm_ISBN").attr('required','true');
                dijit.byId("tlm_ISBN").focus();
                return false;
        }

        var tlm_author =dojo.byId("tlm_author").value
        if(tlm_author==''){
            dijit.byId("tlm_author").attr('required','true');
                dijit.byId("tlm_author").focus();
                return false;
        }

        var tlm_specialInstructor =dojo.byId("tlm_specialInstructor").value
        if(tlm_specialInstructor==''){
            dijit.byId("tlm_specialInstructor").attr('required','true');
                dijit.byId("tlm_specialInstructor").focus();
                return false;
        }*/

        if(flag == true) {
            learningMaterialInsert();
        }
        return flag;

}

function learningMaterialInsert(){

        var tlm_materialType = dijit.byId("tlm_materialType").value;
        var tlm_materialTypeName = dijit.byId("tlm_materialType").displayedValue;
        var tlm_materialStatus = dijit.byId("tlm_materialStatus").value;
        var tlm_materialStatusName = dijit.byId("tlm_materialStatus").displayedValue;
        var tlm_status = dijit.byId("tlm_status").value;
        var tlm_statusName = dijit.byId("tlm_status").displayedValue;
        var tlm_ISBN = dojo.byId("tlm_ISBN").value;
		var tlm_title = dojo.byId("tlm_title").value;
        var tlm_author = dojo.byId("tlm_author").value;
        var tlm_specialInstructor = dojo.byId("tlm_specialInstructor").value;
        var tlm_semester = dijit.byId("tlm_semester").value;
        var tlm_semesterName = dijit.byId("tlm_semester").displayedValue;

        subArray2.push(tlm_materialTypeName);
                
        if(arrHasDupes(subArray2))
        {
            subArray2 = subArray2.unique();
            alert("Duplicate Leraning Material");
        } else {
            var trow2=document.getElementById('learningMaterial').insertRow(rowid2);
            var tcol1=trow2.insertCell(0);
            var tcol2=trow2.insertCell(1);
            var tcol3=trow2.insertCell(2);
            var tcol4=trow2.insertCell(3);
            var tcol5=trow2.insertCell(4);
            var tcol6=trow2.insertCell(5);
            var tcol7=trow2.insertCell(6);
            var tcol8=trow2.insertCell(7);
			var tcol9=trow2.insertCell(8);

            tcol1.innerHTML= "<input type='hidden' value='"+tlm_materialType+"' name=tlm_materialTypeid[]>"+tlm_materialTypeName;
            tcol2.innerHTML= "<input type='hidden' value='"+tlm_materialStatus+"' name=tlm_materialStatusid[]>"+tlm_materialStatusName;
            tcol3.innerHTML= "<input type='hidden' value='"+tlm_status+"' name=tlm_statusid[]>"+tlm_statusName;
			tcol4.innerHTML= "<input type='hidden' value='"+tlm_title+"' name=tlm_titleid[]>"+tlm_title;
            tcol5.innerHTML= "<input type='hidden' value='"+tlm_ISBN+"' name=tlm_ISBNid[]>"+tlm_ISBN;
            tcol6.innerHTML= "<input type='hidden' value='"+tlm_author+"' name=tlm_authorid[]>"+tlm_author;
            tcol7.innerHTML= "<input type='hidden' value='"+tlm_specialInstructor+"' name=tlm_specialInstructorid[]>"+tlm_specialInstructor;
            tcol8.innerHTML= "<input type='hidden' value='"+tlm_semester+"' name=tlm_semesterid[]>"+tlm_semesterName;
            tcol9.innerHTML='<a href="javascript:void(0);" onClick="deleteLearningMaterialRow(this,\''+tlm_materialTypeName+'\'); return false;"><?php echo $this->translate("Delete"); ?></a>';
            rowid2++;
        }
}

function deleteLearningMaterialRow(r, IdcomponentsName)
{
        rowid2--;
        subArray2.splice(parseInt(i-1),1);  
        var i=r.parentNode.parentNode.rowIndex;

        var makeArr = IdcomponentsName;
        subArray2.splice(subArray2.indexOf(makeArr), 1);

        document.getElementById('learningMaterial').deleteRow(i);
}
</script>

<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Course"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<div id="tabs" class="clean-tabs">
<ul>
    <li><a href="#tab-1"><?php echo $this->translate('Course Details');?></a></li>
    <li><a href="#tab-2"><?php echo $this->translate('Course Component');?></a></li>
    <li><a href="#tab-3"><?php echo $this->translate('Learning Materials');?></a></li>
</ul>
<Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/subjectmaster/subjectmasterlist/id/<?php echo $this->idsubject; ?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                 if (this.validate()) {
					if(SUCreditH < SUBJCREDITHOUR)
					{
						alert("Components Total Credit Hours Should be Equal to Subject Total Credit Hours");
						return false;
					}
					else
					{
						return true;
					}
                }
				else
				{
                    return false;
                }
				</script>
<div id="tab-1"><!-- tab 1 start -->
<table class="table" width="100%" >
	<tr>
    	<th colspan = "4"><?php echo $this->translate("$this->Subject Details");?></th>
	</tr>
        <tr>
    	<td><?php echo $this->translate("Subject Name");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjsubjectmasterForm->SubjectName;?></td>
        <td><?php echo $this->translate($this->Subject).' '.$this->translate("Coordinator");?><span
			class="reqMark">*</span></td>
        <td>
            <?php echo $this->lobjuniversityForm->IdStaff;?>
            <?php echo $this->lobjsubjectmasterForm->UpdDate;?>
            <?php echo $this->lobjsubjectmasterForm->UpdUser;?>
        </td>
	</tr>
	<tr>
    	<td><?php echo $this->translate("$this->Subject Name");?> (<?php echo $this->translate($this->defaultlanguage);?>)</td>
        <td ><?php echo $this->lobjsubjectmasterForm->subjectMainDefaultLanguage;?></td>
        <td><?php echo $this->translate("$this->Subject Code");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjsubjectmasterForm->SubCode;?></td>
	</tr>
	
	<!-- <tr>
		<td><?php //echo $this->translate("Amount Per Hour");?><span
			class="reqMark"></span></td>
		<td><?php //echo $this->lobjsubjectmasterForm->AmtPerHour;?></td>
		<td><?php //echo $this->translate("Minimum Credit Hours");?><span class="reqMark">*</span></td>
		<td><?php //echo $this->lobjsubjectmasterForm->MinCreditHours;?></td>
		</tr>
		-->
	<tr>
	<td><?php echo $this->translate("Course Type");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjsubjectmasterForm->CourseType;?></td>
                    <td><?php echo $this->translate("Credit Hours");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjsubjectmasterForm->CreditHours;?></td>
		
	</tr>
	<tr>
		<td><?php echo $this->translate("Faculty Name");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjsubjectmasterForm->IdFaculty;?></td>
		<td><?php echo $this->translate("$this->Department Name");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->IdDepartment;?></td>
	</tr>
	<tr>
        <td><?php echo $this->translate($this->Subject).' '.$this->translate("Description");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->courseDescription;?></td>
		<td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
		<td><?php echo $this->lobjsubjectmasterForm->Active;?></td>
	</tr>
        <tr>
            <td><?php echo $this->translate("Audit");?></td>
            <td><?php echo $this->lobjsubjectmasterForm->audit; ?></td>
        </tr>
</table>
</div><!-- end tab 1 -->
<div id="tab-2"><!-- tab 2 start -->
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate($this->Subject).' '.$this->translate("Component");?></th>
	</tr>

	<!--<tr>
		<td><?php //echo $this->translate("Component Name");?><span class="reqMark">*</span></td>
		<td><?php //echo $this->lobjsubjectmasterForm->Idcomponents;?></td>
		<td><?php //echo $this->translate("Credit Hours");?><span	class="reqMark">*</span></td>
		<td><?php //echo $this->lobjsubjectmasterForm->CreditHour;?></td>
	</tr>-->
        <tr>
		<td><?php echo $this->translate("Component Type");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjsubjectmasterForm->componentType;?></td>
		<td><?php echo $this->translate("Instructor Contact Hours");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->instructorContactHours;?></td>
	</tr>
        <tr>
		<td><?php echo $this->translate("Workload Hours");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->workloadHours;?></td>
		<td><?php echo $this->translate("OEE Workload Hours");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->OEEWorkloadHours;?></td>
	</tr>
        <tr>
		<td><?php echo $this->translate("Method Of Teaching");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->methodOfTeaching;?></td>
		<td><?php echo $this->translate("Attendance Type");?></td>
		<td><?php echo $this->lobjsubjectmasterForm->attendanceType;?></td>
	</tr>
	<tr>
		<td colspan="4" align="right"><?php echo $this->lobjsubjectmasterForm->Add;?></td>
	</tr>
</table>
<table id="hor" class="table" width="100%" cellpadding="5"
	cellspacing="1">
	<tr>
		<!--<th><?php //echo $this->translate("Component Name")?></th>
		<th><?php //echo $this->translate("Credit Hours")?></th>-->
                <th><?php echo $this->translate("Component Type")?></th>
                <th><?php echo $this->translate("Instructor Contact Hours")?></th>
                <th><?php echo $this->translate("Workload Hours")?></th>
                <th><?php echo $this->translate("OEE Workload Hours")?></th>
                <th><?php echo $this->translate("Method Of Teaching")?></th>
                <th><?php echo $this->translate("Attendance Type")?></th>
		<th><?php echo $this->translate("")?></th>
	</tr>

	<?php  $varcount= count($this->larrcomponent);
	 foreach($this->larrcomponent as $larrComponent) {?>
	<tr>
            <td><?php echo $larrComponent['componentTypeName'];?><input type="hidden" name="componentTyperid[]" value="<?php echo $larrComponent['componentType']; ?>"></td>
            <td><?php echo $larrComponent['instructorContactHours'];?><input type="hidden" name="instructorContactHoursid[]" value="<?php echo $larrComponent['instructorContactHours']; ?>" ></td>
            <td><?php echo $larrComponent['workloadHours'];?><input type="hidden" name="workloadHoursid[]" value="<?php echo $larrComponent['workloadHours']; ?>"></td>
            <td><?php echo $larrComponent['OEEWorkloadHours'];?><input type="hidden" name="OEEWorkloadHoursid[]" value="<?php echo $larrComponent['OEEWorkloadHours']; ?>"></td>
            <td><?php echo $larrComponent['methodOfTeachingName'];?><input type="hidden" name="methodOfTeachingid[]" value="<?php echo $larrComponent['methodOfTeaching']; ?>"></td>
            <td><?php echo $larrComponent['attendanceTypeName'];?><input type="hidden" name="attendanceTypeid[]" value="<?php echo $larrComponent['attendanceType']; ?>"></td>
		<td><a href="javascript:void(0);" onClick="deleteRow(this,'<?php echo $larrComponent['workloadHours'];?>','<?php echo $larrComponent['componentTypeName'];?>');" ><?php echo $this->translate('Delete');?></a></td>
	</tr>
	<?php }?>
</table>
</div><!-- end tab 2 -->
<div id="tab-3"><!-- tab 3 start -->
<table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Learning Material"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Material Type"); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjsubjectmasterForm->tlm_materialType; ?></td>
            <td><?php echo $this->translate("Material Status"); ?></td>
            <td><?php echo $this->lobjsubjectmasterForm->tlm_materialStatus; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Status"); ?></td>
            <td><?php echo $this->lobjsubjectmasterForm->tlm_status; ?></td>
            <td><?php echo $this->translate("Title"); ?></td>
            <td><?php echo $this->lobjsubjectmasterForm->tlm_title; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Author"); ?></td>
            <td><?php echo $this->lobjsubjectmasterForm->tlm_author; ?></td>
			<td><?php echo $this->translate("ISBN Number"); ?></td>
			<td><?php echo $this->lobjsubjectmasterForm->tlm_ISBN; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Semester"); ?></td>
            <td><?php echo $this->lobjsubjectmasterForm->tlm_semester; ?></td>
			<td><?php echo $this->translate("Special Instructions"); ?></td>
			<td><?php echo $this->lobjsubjectmasterForm->tlm_specialInstructor; ?></td>
        </tr>
        <tr>
            <td colspan="4" align="right"><?php echo $this->lobjsubjectmasterForm->AddLearningMaterial;?></td>
	</tr>
</table>
<table id="learningMaterial" class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
            <th><?php echo $this->translate("Material Type")?></th>
            <th><?php echo $this->translate("Material Status")?></th>
            <th><?php echo $this->translate("Status")?></th>
			<th><?php echo $this->translate("Title")?></th>
            <th><?php echo $this->translate("ISBN Number")?></th>
            <th><?php echo $this->translate("author")?></th>
            <th><?php echo $this->translate("Special Instructor")?></th>
            <th><?php echo $this->translate("Semester")?></th>
            <th><?php echo $this->translate("")?></th>
	</tr>
        <?php 
        if (count($this->larrlearningmaterial)):
        foreach ($this->larrlearningmaterial as $learningMaterialLoop):
        ?>
        <tr>
            <td><?php echo $learningMaterialLoop["tlm_materialTypeName"];?><input type="hidden" name="tlm_materialTypeid[]" value="<?php echo $learningMaterialLoop['tlm_materialType']; ?>"></td>
            <td><?php echo $learningMaterialLoop["tlm_materialStatusName"];?><input type="hidden" name="tlm_materialStatusid[]" value="<?php echo $learningMaterialLoop['tlm_materialStatus']; ?>"></td>
            <td><?php echo $learningMaterialLoop["tlm_statusName"];?><input type="hidden" name="tlm_statusid[]" value="<?php echo $learningMaterialLoop['tlm_status']; ?>"></td>
			<td><?php echo $learningMaterialLoop["tlm_title"];?><input type="hidden" name="tlm_titleid[]" value="<?php echo $learningMaterialLoop['tlm_title']; ?>"></td>
            <td><?php echo $learningMaterialLoop["tlm_ISBN"];?><input type="hidden" name="tlm_ISBNid[]" value="<?php echo $learningMaterialLoop['tlm_ISBN']; ?>"></td>
            <td><?php echo $learningMaterialLoop["tlm_author"];?><input type="hidden" name="tlm_authorid[]" value="<?php echo $learningMaterialLoop['tlm_author']; ?>"></td>
            <td><?php echo $learningMaterialLoop["tlm_specialInstructor"];?><input type="hidden" name="tlm_specialInstructorid[]" value="<?php echo $learningMaterialLoop['tlm_specialInstructor']; ?>"></td>
            <td><?php echo $learningMaterialLoop["tlm_semesterName"];?><input type="hidden" name="tlm_semesterid[]" value="<?php echo $learningMaterialLoop['tlm_semester']; ?>"></td>
            <td><a href="javascript:void(0);" onClick="deleteLearningMaterialRow(this,'<?php echo $learningMaterialLoop['tlm_materialTypeName'];?>');" ><?php echo $this->translate('Delete');?></a></td>
        </tr>
        <?php 
        endforeach;
        endif;
        ?>
</table>
</div><!-- end tab 3 -->
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td align="center" colspan="4"><?php echo $this->lobjsubjectmasterForm->Save;?>
                    &nbsp;<input type='button' class="btn-submit" label="<?php echo $this->translate('Back')?>" value='<?php echo $this->translate('Back')?>' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster', 'action'=>'index'),'default',true);?>';" />
		</td>
	</tr>
</table>
</Form>
</div>