<?php $this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js' ); ?>
<ul class="uk-nav uk-nav-side">
    <li class="uk-nav-header"><?php echo $this->translate('Activities')?></li>
    <li><a href="#" onclick="return addContent('content')"><i class="uk-icon-file-text-o"></i> <?php echo $this->translate('Content Page')?></a></li>
    <li><a href="#" onclick="return addContent('scorm')"><i class="uk-icon-file-archive-o"></i> <?php echo $this->translate('SCORM Package')?></a></li>
    <li><a href="#" onclick="return addContent('assignment')"><i class="uk-icon-pencil-square-o"></i> <?php echo $this->translate('Assignment')?></a></li>
    <li><a href="#" onclick="return addContent('quiz')"><i class="uk-icon-check-circle-o"></i> <?php echo $this->translate('Quiz')?></a></li>
	<!--li><a href="#" onclick="return addContent('wiki')"><i class="uk-icon-wikipedia-w"></i> <?php echo $this->translate('Wiki')?></a></li-->
    <li class="uk-nav-header"><?php echo $this->translate('Resources')?></li>
    <li><a href="#" onclick="return addContent('support')"><i class="uk-icon-download"></i> <?php echo $this->translate('Support Materials')?></a></li>
    <li><a href="#" onclick="return addContent('link')"><i class="uk-icon-link"></i> <?php echo $this->translate('Link')?></a></li>
    <li><a href="#" onclick="return addContent('video')"><i class="uk-icon-video-camera"></i> <?php echo $this->translate('Video')?></a></li>
    <li><a href="#" onclick="return addContent('audio')"><i class="uk-icon-volume-up"></i> <?php echo $this->translate('Audio')?></a></li>
    <?php /* <li><a href="#" onclick="return addContent('glossary')"><i class="uk-icon-book"></i> <?php echo $this->translate('Glossary')?></a></li> */ ?>
</ul>
<div id="modal-wrap">
    <div class="modal-tab">

        <!-- content -->
        <div class="tab-content content">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_content.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- content -->

        <!-- scorm -->
        <div class="tab-content scorm">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_scorm.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- scorm -->

       <!-- assignment -->
        <div class="tab-content assignment">

            <?php echo $this->partial('/ajax/partials/addcoursecontent_assignment.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>

        </div>
        <!-- assignment -->

        <!-- quiz -->
        <div class="tab-content quiz">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_quiz.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- quiz -->

        <!-- support -->
        <div class="tab-content support">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_support.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- support -->

        <!-- link -->
        <div class="tab-content link">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_link.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- link -->

        <!-- video -->
        <div class="tab-content video">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_video.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- video -->

        <!-- audio -->
        <div class="tab-content audio">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_audio.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- audio -->

        <!-- glossary -->
        <div class="tab-content glossary">
            <?php echo $this->partial('/ajax/partials/addcoursecontent_glossary.phtml', 'default', array(
                'course_id' => $this->course['course_id'],
                'course'    => $this->course,
                'groups'    => $this->groups,
            )); ?>
        </div>
        <!-- glossary -->

	 <!-- wiki -->
        <!--div class="tab-content wiki">
            <form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">

                <div class="uk-form-row">
                    <input type="text" name="title" placeholder="<?php //echo $this->translate('Title')?>" required class="uk-width-1-1 uk-form-large"/>
                </div>
                <div class="uk-form-row">
                    <textarea name="content" class="textarea" id="modal-content-textarea"></textarea>
                </div>
                <div class="uk-form-row">
                    <input type="hidden" value="wiki" name="type"/>
                    <button name="addcontent" class="uk-button uk-button-primary" type="submit"><?php //echo $this->translate('Submit')?></button>
                </div>
            </form>
        </div-->
        <!-- wiki -->

    </div>
</div>

<script>
    $(function()
    {
       $(".addcontent-form").each(function()
       {
           $(this).on("submit", function(){
               var id = $("#content-modal").data("id");
               $(this).prepend('<input type="hidden" name="block_id" value="'+id+'" />');
           });

           $(this).formValidation({ framework: 'uikit' }).on('success.form.fv', function(e){
               appInit.button(e);
           });
       });

        appInit.all();
        AppAdmin.ckeditor();
    });

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        autoOpen: false,
        changeMonth: true
    });

    $(".select_new").select2({
      placeholder: "All groups",
      allowClear: true
    });

    $('.timepicker').timepicker({ 'timeFormat': 'H:i:s' });
</script>
