<form class="uk-form uk-form-stacked uk-text-left" method="post" id="form-addfriend">

    <div class="uk-form-row uk-grid">

        <div class="uk-width-1-2">
            <label class="uk-form-label" for="firstname"><?php echo $this->translate('First Name')?></label>
            <div class="uk-form-controls">
                <?php echo $this->form->firstname->setAttrib('class','cap uk-form-medium uk-width-1-1') ?>
            </div>
        </div>
        <div class="uk-width-1-2">
            <label class="uk-form-label" for="lastname"><?php echo $this->translate('Last Name')?></label>
            <div class="uk-form-controls">
                <?php echo $this->form->lastname->setAttrib('class','cap uk-form-medium uk-width-1-1') ?>
            </div>
        </div>

    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="email"><?php echo $this->translate('Email')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->email->setAttrib('class','uk-form-medium uk-width-1-1') ?>
        </div>
    </div>

    <?php Cms_Hooks::hook('registration.extra'); ?>

    <div class="uk-form-row">
        <button type="submit" name="register" class=" uk-button uk-button-primary uk-button-large"><?php echo $this->translate('Add')?></button>
    </div>

</form>

<script type="text/javascript">

    $(function()
    {
        $(".cap").on('keyup change', function()
        {
            var val = $(this).val();
            $(this).val( val.charAt(0).toUpperCase() + val.slice(1) );
        });

        $('#form-addfriend')
            .formValidation({framework: 'uikit'})
            .on('success.form.fv', function(e) {
                //e.preventDefault();

                addFriendProcess();
                return false;
            });

        $("#form-addfriend").submit(function() {


        });
    });

    function addFriendProcess()
    {
        $.ajax({
            url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'addfriend'),'default',true);?>",
            data: $('#form-addfriend').serialize(),
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {

            },
            complete: function(){

            }
        })
        .done(function ( data ) {

            if ( $("#friends-table tbody tr.row").length >= 2 )
            {
                $("#friends-table tbody").append("<tr class='row' id='friend-"+data.unique+"'><td>"+data.name+"</td><td>"+data.email+"</td><td class='uk-text-center'><a href='#' onclick=\"return deleteGuest('"+data.unique+"')\" title='<?php echo $this->translate('Delete')?>'><i class='uk-icon-trash-o'></i></a></td></tr>");
            }
            else
            {
                $("#friends-table tbody tr.empty").before("<tr class='row' id='friend-"+data.unique+"'><td>"+data.name+"</td><td>"+data.email+"</td><td class='uk-text-center'><a href='#'  onclick=\"return deleteGuest('"+data.unique+"')\" title='<?php echo $this->translate('Delete')?>'><i class='uk-icon-trash-o'></i></a></td></tr>");

                var left = (2-$("#friends-table tbody tr.row").length);
                $("#friends-table tbody").find('tr.empty td').html("Add at least "+left+" more to unlock discount.");
            }

            if ( $("#friends-table tbody tr.row").length >= 2 )
            {
                $("#friends-table tbody").find('tr.empty').remove();
            }

            updatePrice();

            var modal = UIkit.modal("#content-modal");
            modal.hide();
        });
    }


</script>