
<ul id="content-grid" class="sort-grid">
    <li data-id="<?php echo $this->block['id']?>">

        <!-- block -->
        <h3 class="title"><?php echo $this->block['title']?></h3>
        <div class="description"><?php echo $this->block['description']?></div>

        <div id="awesome">
            <ul class="timeline admin greedy" id="sortable">

                <?php foreach ($this->content as $content) { ?>

                    <li class="necklace" id="id-<?php echo $content['data_id']?>">
                        <div class="icon" title="<?php echo Cms_System_Course::getContentName($content['data_type'])?>" data-uk-tooltip>
                            <i class="uk-icon-<?php echo Cms_System_Course::getContentIcon($content['data_type'])?>"></i>
                        </div>

                        <div class="label"><?php echo $content['title'] ?></div>
                    </li>

                <?php } ?>
            </ul>
        </div>

    </li>
</ul>

<div class="uk-float-right">
    <a class="uk-button uk-button-primary" href="<?php echo $this->url(array('module'=>'admin','controller'=>'courses', 'action'=>'view'),'default',true);?>/id/<?php echo $this->course_id ?>"><?php echo $this->translate('Save Order') ?></a>
</div>

<script>
    $(function() {
        $( "#sortable" ).sortable({
            update: function( event, ui ) {
                var sorted = $( "#sortable" ).sortable( "serialize", { key: "sort" } );

                $.ajax({
                    url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'content-arrange'),'default',true);?>",
                    data: { 'choices[]': sorted, 'blockId': '<?php echo $this->block_id ?>' },
                    type: 'POST',
                    beforeSend: function() {},
                    complete: function() {}
                })
                .done(function ( data ) { });
            }
        });
    });
</script>