<!-- <div class="uk-alert"><i class="uk-icon-info-circle"></i> Only face to face courses have learning sessions available for selection.</div>-->
<?php if ( !empty($this->data) ) { ?>
<form method="post" id="form-schedule">
<table class="uk-table uk-table-bordered">
    <thead>
        <th><?php echo $this->translate('Course')?></th>
        <th width="25%"><?php echo $this->translate('Learning Mode')?></th>
        <th width="30%"><?php echo $this->translate('Schedule')?></th>
    </thead>
    <tbody>
    <?php foreach ( $this->data['courses'] as $course ) {  ?>
        <tr>
            <td>
                <?php echo $course['SubjectName'] ?>
                <div class="uk-text-muted"><?php echo $course['SubCodeNew'] ?></div>
            </td>
            <td>
                <select class="learningmode uk-select" name="learningmode[<?php echo $course['IdSubject']?>]" data-idsubject="<?php echo $course['IdSubject'] ?>">
                    <?php if ( $this->courses[$course['SubCodeNew']]['learning_online'] == 1 ) { ?><option value="OL"><?php echo $this->translate('Online')?></option><?php } ?>
                    <?php if ( $this->courses[$course['SubCodeNew']]['learning_ftf'] == 1 ) { ?>
                    <?php if ( isset($this->data['schedule'][$course['IdSubject']])) {?>
                    <option value="FTF"><?php echo $this->translate('Face to Face')?></option>
                    <?php } ?>
                    <?php } ?>
                </select>
            </td>
            <td>
                <?php if ( !empty($this->data['schedule'][$course['IdSubject']]['listGroup'])) {?>
                <div class="schedule-wrap" id="schedule-wrap-<?php echo $course['IdSubject']?>">
                    <?php foreach ( $this->data['schedule'][$course['IdSubject']] as $schedule ) { ?>

                     <select placeholder="Select" class="select schedule" id="schedule-select-<?php echo $course['IdSubject']?>" name="<?php echo $course['IdSubject']?>">
                        <?php foreach ( $schedule as $class ) { ?>
                            <?php $selected = ""; ?>
                            <?php if ($this->schedule_data[$course['IdSubject']] == $class['sc_id']) : ?>
                                <?php $selected = " selected='selected'"; ?>
                            <?php endif; ?>

                            <option value="<?php echo $class['sc_id']?>" data-imagesrc="/images/assets/calendar_mini.png" data-description="<?php echo $class['sc_duration']==0 ? '1':$class['sc_duration'] ?> <?php echo $class['sc_duration']>1 ?'days':'day'?> (<?php echo $class['available'] ?> <?php echo $class['available'] > 1 ? 'seats' : 'seat' ?>)" <?php echo $selected ?>>
                                <?php echo textDate($class['sc_date_start'], $class['sc_date_end']) ?>
                            </option>
                        <?php } ?>
                    </select>

                    <?php }?>
                <?php } else { ?>
                    </div>
                    <em><?php echo $this->translate('No schedule available'); ?></em>
                <?php } ?>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<input type="submit" class="uk-button uk-button-primary" value="<?php echo $this->translate('Submit')?>" />
</form>

<?php } else { ?>
    <div class="uk-alert uk-alert-danger">No schedule found.</div>
<?php } ?>

<style type="text/css">
    .learningmode { width:125px }
</style>

<script type="text/javascript">

    function changeDefaultLearningMode()
    {
        var data = $("#schedule-<?php echo $this->post_id ?>").val();

        if ( data == '' )
        {
            $(".learningmode").each(function()
            {
                $(this).val('FTF');

                if (!(typeof $("#schedule-select-"+$(this).data('idsubject')).val() === "undefined")) {
                    $("#schedule-select-" + $(this).data('idsubject')).ddlist('enable', false);
                    
                }
                setTimeout(function() {
                    if (!(typeof $("#schedule-select-"+$(this).data('idsubject')).val() === "undefined")) {
                        $("#schedule-select-" + $(this).data('idsubject')).ddlist('enable', true);
                    }
                }, 1000);
            });
        }
    }

    function initForm()
    {
        var id = $("#schedule-modal").data("id");
        var data = $("#schedule-"+id).val();

        if ( data != '' )
        {
            data = $.parseJSON(data);

            jQuery.each(data, function(i, val) {
                var type = val == 0 ? 'OL' : 'FTF';
                $("[data-idsubject="+i+"]").val(type);

                $("#schedule-select-"+i).val(val);

                if (!(typeof $("#schedule-select-"+i).val() === "undefined")) {
                    $("#schedule-select-"+i).ddlist('enable', (type=='FTF'?true:false));
                }
            });
        }
    }

    function initDD()
    {
        $(".select").each(function()
        {
            $(this).ddlist({width:180});
            $(this).ddlist('enable', true);
        });
    }


    $(document).ready(function()
    {
        initDD();
        changeDefaultLearningMode();

        $(".learningmode").each(function(i,elem) 
        {
            if (!(typeof $("#schedule-select-"+$(this).data('idsubject')).val() === "undefined")) {
                if ( $(this).val() != 'OL' )
                {
                    $("#schedule-select-"+$(this).data('idsubject'))[0].selectedIndex = 0;
                    $("#schedule-select-"+$(this).data('idsubject')).ddlist('enable', true);
                }
                else
                {
                    $("#schedule-select-"+$(this).data('idsubject')).ddlist('enable', false);
                }
            }
        });

        //repopulate
        initForm();

    });

    $(".learningmode").on('change', function()
    {
        if (!(typeof $("#schedule-select-"+$(this).data('idsubject')).val() === "undefined")) {
            if ( $(this).val() != 'OL' )
            {
                $("#schedule-select-"+$(this).data('idsubject'))[0].selectedIndex = 0;
                $("#schedule-select-"+$(this).data('idsubject')).ddlist('enable', true);
            }
            else
            {
                $("#schedule-select-"+$(this).data('idsubject')).ddlist('enable', false);
            }
        }
    });

    $("#form-schedule").on('submit', function()
    {
        var dataobj = {};
        //var data =  JSON.stringify($(this).serializeArray());

        var startmode = '';
        var endmode = '';
        var i = 0;
        var schedule = '';

        $(".learningmode").each(function()
        {
            i = i+1;
            schedule = $(this).val() == 'OL' ? 0 : $("#schedule-select-"+$(this).data('idsubject')).val();
            dataobj[$(this).data('idsubject')] = schedule;

            if ( i == 1 ) startmode = $(this).val();
            endmode = $(this).val();
        });



        var mode = '';
        if ( startmode == endmode )
        {
            mode = startmode;
        }
        else
        {
            mode = 'FTF-OL';
        }

        //$(".uk-table-main tbody tr.item-row[data-idsubject=\""+$(this).data('idsubject')+"\"]").data('idmode', $(this).val() );
        $(".uk-table-main tbody tr.item-row").data('idmode', mode );

        var data = JSON.stringify(dataobj);

        var id = $("#schedule-modal").data("id");
        $("#schedule-"+id).val(data);

        $("#schedule-"+id).parent().find("i").removeClass("uk-text-danger").addClass("uk-text-success");


        var modal = UIkit.modal("#schedule-modal");
        modal.hide();

        updatePrice();

        return false;
    });
</script>
<?php
function textDate($start_date, $end_date )
{
    $start_date = strtotime($start_date);
    $end_date = strtotime($end_date);
//

    if ($end_date != '') {
        $year1 = date('Y', $start_date);
        $year2 = date('Y', $end_date);
        $month1 = date('m', $start_date);
        $month2 = date('m', $end_date);

        if ($start_date < $end_date) {
            if ($year1 != $year2) {
                $holiday_date = date('F j, Y', $start_date) . ' to ' . date('F j, Y', $end_date);
            }
            else {
                if ($month1 != $month2) {
                          $holiday_date = date('F j', $start_date) . '&ndash;' . date('F j', $end_date) . ', '. date('Y', $end_date);
                }
                else {
                          $holiday_date = date('j', $start_date) . '&ndash;' . date('j F', $end_date) . ', '. date('Y', $end_date);
                }
            }
        }
        else if ( $start_date == $end_date) {
             $holiday_date = date('j F, Y', $start_date);
        }else {
                $holiday_date = 'Invalid date range.';
        }
    }
    else {
            $holiday_date = date('F j, Y', $start_date);
    }

    return $holiday_date;
}
?>
