    <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="filter-block">
                    <h4>Currency Setup</h4>
                    <div class="clearfix">
                        <div class="row">
                        	 	<div class="col-sm-6">
                        		    <?php 
								$this->form->setAction($this->url());
									echo  $this->form;?>
	                          	</div>
                            </div>                            
                        </div>                                            
                    </div>                                                  
                </div>

    </form>
