<div class="clearfix">
       <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                 <h4>Currency Setup</h4>
                    <div class="filter-block">
                        <div class="row">
                               <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Currency Name</label>
                                   <input type="text" class="form-control" name="desc" id="desc" value="<?php echo isset($this->search['desc'])?$this->search['desc']:"";?>" />
                                </div>                        
                            </div> 
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Currency Code</label>
                                   <input type="text" class="form-control" name="code" id="code" value="<?php echo isset($this->search['code'])?$this->search['code']:"";?>" />
                                </div>                        
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                  <input type="submit" value="Search" name="Search" class="btn btn-primary" >
                                         <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'currency', 'action'=>'add-currency'),'default',true);?>';" />   
                <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    </form>
                </div>

<table class="table table-striped">
	<thead>
		<tr>
			<th><?php echo $this->translate('Currency Name'); ?></th>
			<th><?php echo $this->translate('Currency Code'); ?></th>
			<th><?php echo $this->translate('Exchange Rate'); ?></th>
			<th><?php echo $this->translate('Min Rate'); ?></th>
			<th><?php echo $this->translate('Max Rate'); ?></th>
			<th><?php echo $this->translate('Effective From'); ?></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php 
	if(isset($this->currency)){
		foreach ($this->currency as $currency){
	?>
		<tr>
			<td><?php echo $currency['cur_desc']; ?></td>
			<td align='center'><?php echo $currency['cur_code']; ?></td>
			<td align='center'><?php echo isset($currency['rate']['cr_exchange_rate'])?$currency['rate']['cr_exchange_rate']:"n/a"?></td>
			<td align='center'><?php echo isset($currency['rate']['cr_min_rate'])?$currency['rate']['cr_exchange_rate']:"n/a"?></td>
			<td align='center'><?php echo isset($currency['rate']['cr_max_rate'])?$currency['rate']['cr_exchange_rate']:"n/a"?></td>
			<td align='center'><?php echo isset($currency['rate']['cr_effective_date'])?$currency['rate']['cr_effective_date']:"n/a"?></td>
			<td align="center">
				<a href="/admin/currency/rate-setup-detail/id/<?php echo $currency['cur_id']; ?>"><?php echo $this->translate('View Detail');?></a>
			</td>
		</tr>
	<?php 
		}
	}
	?>
	</tbody>
</table>

