<script>
$(function() {
	$( ".datepicker" ).datepicker({
		dateFormat: "yy-mm-dd"
	});
});
</script>
  


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>
    <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="filter-block">
                    <h4>Currency Setup</h4>
                    <div class="clearfix">
                        <div class="row">
                        	 	<div class="col-sm-6">
                        		    <?php 
								$this->form->setAction($this->url());
									echo  $this->form;?>
	                          	</div>
                            </div>                            
                        </div>                                            
                    </div>                                                  
                </div>

    </form>


<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th><?php echo $this->translate('Exchange Rate'); ?></th>
			<th><?php echo $this->translate('Min Rate'); ?></th>
			<th><?php echo $this->translate('Max Rate'); ?></th>
			<th><?php echo $this->translate('Effective From'); ?></th>
<!-- 			<th><?php //echo $this->translate('Updated By'); ?></th>
 -->			<!-- <th><?php //echo $this->translate('Update Date'); ?></th> -->
		</tr>
	</thead>
	<tbody>
	<?php 
	if($this->currency){
		foreach ($this->currency as $count=>$currency){
	?>
		<tr>
			<td><?php echo $count+1; ?></td>
			<td><?php echo $currency['cr_exchange_rate']; ?></td>
			<td align='center'><?php echo $currency['cr_min_rate']; ?></td>
			<td align='center'><?php echo $currency['cr_max_rate']; ?></td>
			<td align='center'><?php echo date('d/m/Y', strtotime($currency['cr_effective_date'])); ?></td>
			<!-- <td><?php // echo $currency['update_by_name']; ?></td> -->
			<!-- <td align='center'><?php//echo date('d/m/Y', strtotime($currency['cr_update_date'])); ?></td> -->
		</tr>
	<?php 
		}
	}
	?>
	</tbody>
</table>


  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
     
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#cr_effective_date" ).datepicker({
            yearRange: '1900:<?php echo date('Y'); ?>',
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true
        });;
          
         });
        
      </script>