<div class="clearfix">
       <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                 <h4>Currency Setup</h4>
                    <div class="filter-block">
                        <div class="row">
                               <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Currency Name</label>
                                   <input type="text" class="form-control" name="desc" id="desc" value="<?php echo isset($this->search['desc'])?$this->search['desc']:"";?>" />
                                </div>                        
                            </div> 
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Currency Code</label>
                                   <input type="text" class="form-control" name="code" id="code" value="<?php echo isset($this->search['code'])?$this->search['code']:"";?>" />
                                </div>                        
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                  <input type="submit" value="Search" name="Search" class="btn btn-primary" >
                                         <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'currency', 'action'=>'add-currency'),'default',true);?>';" />   
                <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead>
                            <tr>
			<th><?php echo $this->translate('Code'); ?></th>
			<th><?php echo $this->translate('Description'); ?></th>
			<th><?php echo $this->translate('Description (Default Language)'); ?></th>
			<th><?php echo $this->translate('Symbol Prefix'); ?></th>
			<th><?php echo $this->translate('Symbol Suffix'); ?></th>
			<th><?php echo $this->translate('Decimal Places'); ?></th>
			<th><?php echo $this->translate('Default Currency'); ?></th>
			<th>Status</th>
			<th>Options</th>
			<th>&nbsp;</th>
		</tr>
                        </thead>
                        <tbody>
                        	<?php
                        if(isset($this->currency)){
		foreach ($this->currency as $currency){
	?>
		<tr>
			<td><a href="/admin/currency/edit-currency/id/<?php echo $currency['cur_id']; ?>"><?php echo $currency['cur_code']; ?></a>
			<td><?php echo $currency['cur_desc']; ?></td>
			<td><?php echo $currency['cur_desc_default_language']; ?></td>
			<td><?php echo $currency['cur_symbol_prefix']; ?></td>
			<td><?php echo $currency['cur_symbol_suffix']; ?></td>
			<td><?php echo $currency['cur_decimal']; ?></td>
			<td><?php echo $currency['cur_default']=='Y'?"Default":""; ?></td>
			<td ><?php echo $currency['cur_status']==1?"Active":"Inactive"; ?></td>
			<td  class="options">
			
				<a href="/admin/currency/set-default-currency/id/<?php echo $currency['cur_id']; ?>"><?php echo $this->translate('Set Default');?></a>
				|
				<a href="/admin/currency/rate-setup-detail/id/<?php echo $currency['cur_id']; ?>"><?php echo $this->translate('View FOREX Rate');?></a>
			</td>
		</tr>
	</tbody>
	<?php 
		}
	}
	?>

    </tr>
</table> 
