<div class="clearfix">
     <form class="uk-form"  id="searchform" name="searchform" method="post" action="">


                    <h4>Member Experience Search</h4>
                    <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                                    <label>Member Name</label>
                                    <td><?php echo $this->form->field2;?></td>
                                    
                                </div>                                 
                            </div>
                             
                      
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                    <input type="submit" name='Search' value='Search' class="btn btn-primary">
                                    <a href="<?php echo $this->baseUrl() ?>/admin/Memberelevation/add">
                                    <button class="btn btn-primary" type="button">Add</button>

                                </a>
                                    <input class="btn btn-primary" type="reset" value="Clear">
                                </div>
                            </div>                           
                        </div>
                    </div>
                     </form>
                <div class="table-responsive">
                    <table class="table table-striped">
    <tr>
        <th><?php echo $this->translate("Member Name");?></th>
        
            
        <th><?php echo $this->translate('Experience Name');?></td>
        
        
        
    </tr>
        <?php if (count($this->paginator)):?>
        <?php foreach ($this->paginator as $member ): ?>
    <tr>
         <tr>
        <td>
            <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'Memberelevation', 'action'=>'edit', 'Id'=>$member['id_exp']),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($member['member_name']);?>
            </a>
           

        </td>
                
                <td><?php echo $this->escape($member['exp_name']);?></td>


        <?php endforeach; ?>
        <?php endif; ?>
    </tr>

</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>


























