<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
        dijit.byId('StaffJobType').set('value','');
	dijit.byId('StaffJobType').set('placeHolder','Select');
	});
</script>

	<fieldset>
	 <legend><?php echo $this->translate("Staff Master Search");?></legend>
		<form action="<?php echo $this->baseUrl();?>/generalsetup/staffmaster/index/search/1" method="POST">
				<table width="100%">
					<tr>
						<td ><?php echo $this->translate("Full Name");?></td>
						<td><?php echo $this->lobjform->field4;?></td>
                                                <td ><?php echo $this->translate("Staff Type");?></td>
						<td><?php echo $this->lobjform->StaffJobType;?></td>
					</tr>
					<tr>
						<td ><?php echo $this->translate("First Name");?></td>
						<td ><?php echo $this->lobjform->field2;?></td>
						<td ><?php echo $this->translate("Last Name");?></td>
						<td ><?php echo $this->lobjform->field3;?></td>
					</tr>
					<tr>
						<td ><?php echo $this->translate("Designation");?></td>
						<td ><?php echo $this->lobjform->field5;?></td>
						<td ><?php echo $this->translate("Email");?></td>
						<td ><?php echo $this->lobjform->field6;?></td>
					</tr>
					<tr>
						<td ><?php echo $this->translate("Active");?></td>
						<td ><?php echo $this->lobjform->field7;?></td>
					</tr>
					<tr>
					<td align = "center" colspan = "4">

								<?php echo $this->lobjform->Search;?>
								<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'staffmaster', 'action'=>'newstaffmaster'),'default',true);?>';" />
								<?php echo $this->lobjform->Clear;?>
					</td>
					</tr>
			</table>
		</form>	
    </fieldset> 
    <br/>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Staff Name");?></th>
                        <th><?php echo $this->translate("Staff ID"); ?></th>
	       	    <th><?php echo $this->translate("Email");?></th>
				<th><?php echo $this->translate("Status");?></th>
                <th></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjstaff ): ?>
	  		<tr>
	        	<td><a href="<?php echo $this->baseUrl();?>/generalsetup/staffmaster/staffmasterlist/id/<?php echo $this->escape($lobjstaff['IdStaff']);?>" ><?php print_r($this->escape($lobjstaff['FullName']));?></a></td>
                        <td><?php echo $lobjstaff['StaffId']; ?></td>
                        <td><?php echo $this->escape($lobjstaff['Email']);?></div></td>
						<td align="center"><?php echo $lobjstaff['Active']==1 ? 'Active':'Inactive' ?></td>
                        <td align="center"><a href="<?php echo $this->baseUrl();?>/generalsetup/instructor-workload/individual-workload/id/<?php echo $lobjstaff['IdStaff']; ?>"><?php echo $this->translate('Instructor Workload'); ?></a></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>