<script type="text/javascript">
	function redirect(val){
			//alert($("#lbOverlay").css("display"));
			
			if(val == 1){
				parent.location.href='<?php  echo $this->baseUrl();?>/generalsetup/maintenance';
				
			}else{
				<?php echo $this->lstrredirecturl; ?>
			}
			
		}

	function validateDefinitionCode( value, constraint )
	{
		
	// I believe the whole reason you have to hack at control to get it to 
	// display an error is due to the nature of the xhrGet call. Since the
	// call is being made asychronously, the method would have already
	// returned a result to the html control before query has finished.
	// Therefore you have to do the extra method calls below. Also note
	// that when the form goes for submission, it calls each controls validator
	// method again! Meaning it will query the webpage again.
		
	var loginID = dijit.byId( "DefinitionCode" );
	var deftypId=<?php echo $this->IdDefType?>;
	
	var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;

	if( "" == loginID.value ) {
	    // for some required=true is not kicking in, so we are forcing it.
	    bNoNameFound = false;
	}
	else {      
	    if( false == loginID._focused ) {
	    
	    	value=value.replace(/[$^?+*()|\\]/g,"*");  		
	    	
	        //console.log( "Checking username..." );
	        dojo.xhrGet({
	            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/maintenance/getdefnitioncode/DefCode/"+value+"/Iddef/"+deftypId,
	            handleAs: 'text',
	            content: { l: value},
	            timeout: 10000, 
	            load: function( data ) {  
		         	                   
	                if ( data ) {
	                    // setting the state to error since the username is already taken
	                    //console.log(loginID)
	                    bNoNameFound = false;
	                    loginID.set( "state", "Error" );
	                    loginID.displayMessage( "The Definition Code is already taken..." );
	                    // used to change the style of the control to represent a error
	                    loginID._setStateClass();
	                    //console.log( "Invalid username" ); 
	                }
	                else
	                {
	                    bNoNameFound = true;
	                    loginID.set( "state", "" );
	                    loginID.displayMessage( "" );
	                }
	            }
	        });
	    }
	}

	return bNoNameFound;
	}
	</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?> Definition Maintenance</h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<?php 
					if (isset($this->lstrredirecturl)) {
						$back_url = "javascript:redirect('0');";
					} else {
						$back_url = $this->url(array('module'=>'generalsetup','controller'=>'maintenance','action'=>'index'), 'default', true);
					}
				?>
				
				<a href="<?php echo $back_url;?>" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info");?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br></br>


	<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/generalsetup/maintenance/ddmaintanancedetailsave<?php echo $this->lstrredirectaction?>" method="POST"  name= "myform" id= "myform">
		<script type="dojo/method" event="onSubmit">
		if (this.validate()) {
		return true;
		} else {
		return false;}
		</script>	


		<?php echo $this->lobjMaintenanceForm->idDefinition;?>
		<table class="table" width="100%">
		<tr>
			<td><?php echo $this->translate("Definition")." ".$this->translate("Code");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjMaintenanceForm->DefinitionCode;?></td>
			<td><?php echo $this->translate("Definition")." ".$this->translate("Description");?><span class="reqMark">*</span></td>
			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->DefinitionDesc;?><br/><span id="errDefDesc" class="error"></span></td>
		</tr>
			<tr>
			<td style="width:150px"><?php echo $this->defaultlanguage;?><span class="reqMark"></span></td>
			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>>
				<?php echo $this->lobjMaintenanceForm->BahasaIndonesia;?>
				<br/><span id="errDefDesc"></span>
			</td>
			<td style="width:150px"><?php echo $this->translate("Description");?><span class="reqMark"></span></td>
			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>>
				<?php echo $this->lobjMaintenanceForm->Description;?>
				<br/><span id="errDefDesc"></span>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->Status;?><br/><span id="errDefCode" class="error"></span></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td align = "right" colspan="4"><?php echo $this->lobjMaintenanceForm->Save;?></td>
		</tr>
		</table>
	</form>
	
	<br/>
	<div id="hor-minimalist-b">
		<form method="post" action="" name="form_sort">
		 <table class="table"width="100%" id="listtable">
			<tr>
				 <th width="60"><?php echo $this->translate("Order")?></th>
				 <th><?php echo $this->translate("Definition Code");?></th>
				 <th><?php echo $this->translate("Definition Description");?></th>
				 <th><?php echo $this->defaultlanguage;?></th>
			</tr>
			<tbody id="sortable" >
			<?php $i=0; ?>
			<?php if (count($this->lobjPaginator)): ?>
			<?php foreach ($this->lobjPaginator as $larrMaintainanceDetails ): ?>
			<?php $i++; ?>
			<tr>
				<td><input type="text" value="<?php echo $i ?>" class="input-txt" style="width:50px" name="order[<?php echo $larrMaintainanceDetails['idDefinition']?>]" /></td>
				<td>
					<a href="<?php echo $this->baseUrl();?>/generalsetup/maintenance/maintenancedetail/idDefnType/<?php echo $this->escape($larrMaintainanceDetails['idDefType']);?>/idDefn/<?php echo $this->escape($larrMaintainanceDetails['idDefinition']);?><?php echo $this->lstrredirectaction?>">
						<?php echo $this->escape($larrMaintainanceDetails['DefinitionCode']);?>
					</a>
				</td>
				<td>
					<?php echo $this->escape($larrMaintainanceDetails['DefinitionDesc']);?>
				</td>
				<td>
					<?php echo $this->escape($larrMaintainanceDetails['BahasaIndonesia']);?>
				</td>
			</tr>
			<?php endforeach; ?>
			<?php endif; ?>
			</tbody>
		</table>
		<div class="opt">
			<input type="submit" class="btn-submit" value="<?php echo $this->translate('Save Order')?>" name="saveorder" />
		</div>
		</form>

		<br />
		<div class="pagination opt">
			<?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
		</div>

	</div>

<script type="text/javascript">
$(function()
{
	$('tbody#sortable').sortable({
	    start: function (event, ui) {
            var start_pos = ui.item.index() + 1;
            ui.item.data('start_pos', start_pos);
	    },
	    change: function (event, ui) {
	        var start_pos = ui.item.data('start_pos');

	        var dragDirection = start_pos < ui.placeholder.index() ? "down" : "up";
	        ui.item.data('drag_direction', dragDirection);
	    },
	    stop: function (event, ui) {
	        var thisTable = document.getElementById('listtable');

	        var movedRowIndex = (ui.item.index() + 1);

	        var pageNumberCell = $(thisTable.rows[movedRowIndex].cells[0]).find("input");
	        pageNumberCell.val((ui.item.index() + 1));

	        var drag_direction = ui.item.data('drag_direction');

	        if (drag_direction == 'down') {
	            for (var i = 1; i < thisTable.rows.length; i++) {
	                if (i < movedRowIndex) {
	                    $(thisTable.rows[i].cells[0]).find("input").val(i);
	                }
	            }
	        }

	        if (drag_direction == 'up') {
	            for (var i = 1; i < thisTable.rows.length; i++) {
	                if (i > movedRowIndex) {
	                    $(thisTable.rows[i].cells[0]).find("input").val(i);
	                }
	            }
	        }
	    }
	});
	$('tbody#sortable').disableSelection();
});
</script>