
<?php Cms_Hooks::start(); ?>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
                <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li class="uk-active"><a href="#"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li><a href="/calendar/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
    <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>

<!-- content -->

<h2><?php //echo $this->course['title']?></h2>
<h3><?php //echo $this->course['code']?></h3>




<form method="post" class="uk-form search">
    <?php if ($this->identity->role != 'student') { ?>
    	<button type="button" class="uk-button" onclick="redirect('/forum/forum-add/course/<?php echo $this->course['id']?>')">New topic</button>
    <?php } ?>
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Topic')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Started by')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="3"><?php echo $this->translate('Replies')?></th>
			<th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Status')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->results) > 0 ) { ?>
    <?php foreach ( $this->results as $index => $row ) { ?>
    <?php
        // grouping
        $specific_group = "globe";
        $specific_title = "Course-wide forum";
        $specific_group_name = "";
        
        if (!empty($this->permission[$index]['specific_group'])) 
        {
            $specific_group = "user";
            $specific_title = "'" . addslashes(@$this->permission[$index]["specific_group_name"]) . "' group content";
        }
    ?>

        <!-- grouping check -->
        <?php if ($this->permission[$index]['permission'] == 1) { ?>

            <?php $status = ($row['display_only'] == '0') ? "Open" : "Closed"; ?>
            <?php $action = ($row['display_only'] == '0') ? "close" : "re-open"; ?>
            <?php $button = ($row['display_only'] == '0') ? " uk-button-primary" : ""; ?>
            <tr>
                <td>
                    <?php echo $row['display_only'] == 1 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="This forum is closed"></span>':''?>
                    <a <?php echo $row['display_only'] == 1 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/forum/forum-thread/course/<?php echo $row['course_id']?>/forum/<?php echo $row['id']?>"><?php echo $this->escape($row['name']) ?></a>
                </td>
                <td><img class="uk-comment-avatar" src="<?php echo Cms_Common::getUserPhotoById($row['created_by'])?>" alt="" width="30"><?php echo $this->escape($row['username'])?></td>
                <td><?php echo (empty($row['reply_count'])) ? "0" : $row['reply_count'] ?></td>
    			<td><?php echo Cms_Date::date($row['created_date']) ?></td>
                <td>

                    <?php if ($this->identity->role != 'student') { ?>
                        <a class="uk-button<?php echo $button ?> uk-button-mini" href="<?php echo $this->baseUrl()?>/forum/forum-change-status/course/<?php echo $row['course_id']?>/forum/<?php echo $row['id']?>" onclick="return sure(this, 'Are you sure to <?php echo $action ?> this thread?');">
                            <?php echo $this->translate($status) ?></a>
                    <?php } else { ?>
                        <?php echo $this->translate($status) ?>
                    <?php } ?>

                </td>
                <td><i class="bookmark uk-icon-<?php echo $specific_group ?>" data-uk-tooltip title="<?php echo $specific_title ?>"></i></td>
            </tr>
           <?php } ?>

        <?php } ?>

    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No post found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>

<!-- content -->

<style type="text/css">
    .outline { margin-top:15px }
    .bookmark { cursor: pointer; }
</style>