<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<?php echo Cms_Hooks::push('breadcrumbs',Cms_Breadcrumbs::__($this->bc)); ?>


<!-- content -->

<form class="uk-form uk-form-horizontal" method="post" id="course-form" enctype="multipart/form-data">

    <div class="uk-form-row">
        <label class="uk-form-label" for="name"><?php echo $this->translate('Subject')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->name->setAttrib('class','uk-form-width-large')  ?>
        </div>
    </div>

    <br>
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Group')?></label>
        <div class="uk-form-controls">
            <span id="group_id_div"><?php echo $this->translate('Loading group ...'); ?></span>
        </div>
    </div>
    
    <br>
	<div class="form-row">
	 <label class="uk-form-label" for="name"><?php echo $this->translate('Message')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->description  ?>
        </div>
    </div>

    <br>
	<div class="uk-form-row">
         <label class="uk-form-label"><?php echo $this->translate('Files')?></label>
            <div class="uk-form-controls">
                 <input name="files" type="file"  class="fileupload all">
                     <p class="desc"><?php echo $this->translate('Supported Types: xls, zip, ppt, rar, jpg, pdf, doc, docx, xlsx pptx')?></p>
            </div>
    </div>

    <br>
    <div class="uk-form-row">
		<label class="uk-form-label" for="submit"></label>
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Post to forum')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>


<script type="text/javascript">

   $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
			description: {
                    validators: {
                        notEmpty: {
                            message: 'Description cannot be empty'
                        }
                    }
                }

        }
    });

    $(function()
    {
        CKEDITOR.replace( 'description',
        {
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: 300
        });

        getGroup();
    })

    function getGroup() 
    {
        var course_id = $("#course_id").val();

        $.ajax({
            url: "/forum/get-forum-group/",
            data: { 'course_id': '<?php echo $this->course_id ?>' },
            type: 'POST',
            dataType: 'json',
            success: function (data) 
            {
                if (data.length > 0) 
                {
                    $("#group_id_div").empty();
                    var selection = "<select class='select_new uk-form-medium uk-width-medium' name='group_id[]' id='group_id' multiple='multiple'>";

                    $.each(data, function (index) 
                    {
                        selection += "<option value='" + data[index].group_id + "'>" + data[index].group_name + "</option>";
                    });

                    selection += "</select>";

                    $("#group_id_div").append(selection);
                    $(".select_new").select2({
                        placeholder: "All groups",
                        allowClear: true
                    });
                }
                else
                {
                    $("#group_id_div").html("<i><?php echo $this->translate('All Groups') ?></i>");
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }

</script>
<!-- content -->

<style type="text/css">
    .outline { margin-top:15px }
	label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>
