<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<?php echo Cms_Hooks::push('breadcrumbs',Cms_Breadcrumbs::__($this->bc)); ?>
<!-- content -->

<form class="uk-form uk-form-horizontal" method="post" id="course-form" enctype="multipart/form-data">

    <div class="uk-form-row">
        <label class="uk-form-label" for="name"><?php echo $this->translate('Name')?></label>
         <div class="uk-form-controls">
			<?php $this->form->name->setValue($this->message) ?>
			<?php echo $this->form->name->setAttrib('class','uk-form-width-large') ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="description"><?php echo $this->translate('Message')?></label>
        <div class="uk-form-controls">
            <?php $this->form->description->setValue($this->thread_content) ?>
            <?php echo $this->form->description  ?>
        </textarea>
		</div>
    </div>
    <div class="uk-form-row">
           <label class="uk-form-label"><?php echo $this->translate('Files')?></label>
              <div class="uk-form-controls">
                   <input name="files" type="file" class="fileupload all">
                       <p class="desc"><?php echo $this->translate('Supported Types: xls, zip, ppt, rar, jpg, pdf, doc, docx, xlsx pptx')?></p>
              </div>
              <?php if ( !empty($this->contentdata) ) { ?>
                  <div class="uk-form-controls">
              <table class="uk-table uk-table-bordered">
                  <thead>
                      <tr>
                          <th><?php echo $this->translate('File Name')?></th>
                          <th><?php echo $this->translate('Size')?></th>
                          <!--th><?php echo $this->translate('Option')?></th-->
                      </tr>
                  </thead>
                  <tbody>
                      <?php foreach ( $this->contentdata as $file ) { ?>
                      <tr id="filerow-<?php echo $file['id']?>">
                          <td><a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a></td>
                          <td><?php echo Cms_Common::formatFilesize($file['file_size'])?></td>
                          <!--td><a href="#" onclick="return AppAdmin.deleteFile(<?php echo $file['id']?>)"><i class="uk-icon-trash-o"></i> <?php echo $this->translate('Delete')?></a></td-->
                      </tr>
                      <?php } ?>
                  </tbody>
              </table>
              <?php } ?>
              </div>
      </div>

    <div class="uk-form-row">
		<label class="uk-form-label" for="submit"></label>
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Update Post')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>


<script type="text/javascript">

  $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
			description: {
                    validators: {
                        notEmpty: {
                            message: 'Description cannot be empty'
                        }
                    }
                }

        }
    });

    $(function()
    {
        CKEDITOR.replace( 'description',
        {
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: 300
        });
    })

</script>
<!-- content -->

<style type="text/css">
    .outline { margin-top:15px }
	label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>
