<?php echo Cms_Hooks::push('breadcrumbs',Cms_Breadcrumbs::__($this->bc)); ?>
<!-- content -->

<article class="uk-comment">
    <header class="uk-comment-header">
        <?php
            // grouping
            $specific_group = "globe";
            $specific_title = "Course-wide forum";
            $specific_group_name = "";
            
            if (!empty($this->permission[0]['specific_group'])) 
            {
                $specific_group = "user";
                $specific_title = "'" . addslashes(@$this->permission[0]["specific_group_name"]) . "' group content";
            }
        ?>

        <h2><b>Topic : <?php echo $this->forumt['name']?></b>
            <div class="uk-float-right">
                <i class="bookmark uk-text-muted uk-icon-<?php echo $specific_group ?>" data-uk-tooltip title="<?php echo $specific_title ?>"> </i>
            </div>
        </h2>

        <?php if ( $this->forumt['display_only'] == '1') { ?>
            <span class="uk-comment-title redness uk-float-right">(<?php echo $this->translate('This forum is closed'); ?>)</span></h2>
        <?php } ?>

        <div align="right" class="uk-float-right uk-button-group"></div>

        <?php if ( count($this->results) > 0 ) { ?>
            <?php foreach ( $this->results as $index => $row ) { ?>

                <img class="uk-comment-avatar" src="<?php echo Cms_Common::getUserPhotoById($row['created_by'])?>" alt="" width="50">
                <div class="uk-comment-meta">by <?php echo $this->escape($row['username'])?> | <?php echo Cms_Date::date($row['created_date']) ?></div>
                <div class="uk-comment-meta"><span id="tab"><h4 class="uk-comment-title"><?php echo $row['thread_content']?></h4></span></div>
                <div class="uk-comment-meta">
                    <?php if ( count($this->contentdata) ) { ?>
                        Attachment : 
                        <?php foreach ( $this->contentdata as $i => $file ) { ?>
                            <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a>
                            (<?php echo Cms_Common::formatFilesize($file['file_size'])?>) <?php echo (isset($this->contentdata[$i+1]) ? ' / ' : ''); ?>
                        <?php } ?>   
                    <?php } ?>

                    <?php if ( $this->forumt['display_only'] == '0') { ?>
                        <?php if ($this->identity->role != 'student') { ?>
                            <div align="right" class="uk-float-right">
                                <a class="uk-button uk-button-primary uk-button-mini" href="<?php echo $this->baseUrl()?>/forum/forum-thread-edit/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/tid/<?php echo $this->escape($row['thread_id'])?>" data-uk-tooltip title="Edit">Edit</a>
                                
                                <a class="uk-button uk-button-primary uk-button-mini" href="<?php echo $this->baseUrl()?>/forum/forum-reply/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/id/<?php echo $this->forumthread['id']?>" data-uk-tooltip title="Reply">Reply</a>

                                <a class="uk-button uk-button-danger uk-button-mini" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this post and all replies?')?>')" href="<?php echo $this->baseUrl()?>/forum/forum-deleteall/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/tid/<?php echo $this->escape($row['thread_id'])?>/" data-uk-tooltip title="Delete">Delete</a>
                            </div>
                        <?php } ?>
                    <?php } ?>

                </div>

            <?php } ?>

        <?php } else { ?>
            <tr>
                <td colspan="6"><?php echo $this->translate('No thread found.')?></td>
            </tr>
        <?php } ?>

    </header>
</article>
<br>
<form method="post" class="uk-form search">
    <?php if ( $this->forumt['display_only'] == '0') { ?>
        <button type="button" class="uk-button" onclick="redirect('/forum/forum-reply/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/id/<?php echo $this->forumthread['id']?>')">Post Reply</button>
    <?php } ?>

    <input type="text" placeholder="<?php echo $this->translate('Search Replies')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> 
    <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<br>
<table class="uk-table uk-table-stacked uk-table-admin">
    <tbody>
    <?php if ( count($this->resultsreply) > 0 ) { ?>
    <?php foreach ( $this->resultsreply as $row ) { ?>

	<article class="uk-comment uk-margin-left"> <?php //pr($row); ?>
		<header class="uk-comment-header">

            <h4 class="uk-comment-title uk-margin-bottom"><strong><?php echo $this->escape($row['message'])?></strong></h4>
			<img class="uk-comment-avatar" src="<?php echo Cms_Common::getUserPhotoById($row['user_id'])?>" alt="" width="50">
			<div class="uk-comment-meta">by <?php echo $this->escape($row['username'])?> | <?php echo Cms_Date::date($row['created_date']) ?></div>
			<div class="uk-comment-meta"><span id="tab"><h4 class="uk-comment-title"><?php echo $row['reply_content']?></h4></span></div>
            <?php
            /*<div class="uk-comment-meta">

                <?php if ( !empty($row['contentdata']) ) { ?>
                Attachment : 
                    <?php foreach ( $row['contentdata'] as $file ) { ?>
                        <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a>
                        (<?php echo Cms_Common::formatFilesize($file['file_size'])?>) /
                    <?php } ?>   
                <?php } ?>*/
            ?>
                 <div class="uk-comment-meta">
                    <?php if ( !empty($row['attachments']) ) { ?>
                        Attachment : 
                        <?php foreach ( $row['attachments'] as $i => $file ) { ?>
                            <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a>
                            (<?php echo Cms_Common::formatFilesize($file['file_size'])?>) <?php echo (isset($row['attachments'][$i+1]) ? ' / ' : ''); ?>

                        <?php } ?>   
                    <?php } ?>
                
                <?php if ( $this->forumt['display_only'] == '0') { ?>
                    <?php if ($this->identity->role != 'student' || $this->identity->id == $row['user_id']) { ?>
        				<div align="right" class="uk-float-right uk-comment-body">
        				   <a class="uk-button uk-button-primary uk-button-mini" href="<?php echo $this->baseUrl()?>/forum/forum-reply-edit/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/tid/<?php echo $this->escape($row['thread_id'])?>/id/<?php echo $this->escape($row['reply_id'])?>" data-uk-tooltip title="Edit">Edit</a>
                           <?php /*
                           <!--a class="uk-button uk-button-primary uk-button-mini" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this post?')?>')" href="<?php echo $this->baseUrl()?>/forum/forum-delete/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/tid/<?php echo $this->escape($row['thread_id'])?>/id/<?php echo $this->escape($row['reply_id'])?>" data-uk-tooltip title="Delete">Delete</a--> |
                            */ ?>
                           <a class="uk-button uk-button-primary uk-button-mini" href="<?php echo $this->baseUrl()?>/forum/forum-reply/course/<?php echo $this->course['id']?>/forum/<?php echo $this->forumt['id']?>/id/<?php echo $this->forumthread['id']?>" data-uk-tooltip title="Reply">Reply</a>
        				</div>
                    <?php } ?>
                <?php } ?>

            </div>

		</header>
	</article>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No reply found.')?></td>
        </tr>
    <?php } ?>

    </tbody>
</table>

<?php echo $this->paginationControl($this->resultreply_paginator,'Elastic','pagination.phtml'); ?>
<!-- content -->

<style type="text/css">
	#tab { 
        display:inline-block;
        margin-left: 0px; }
        .outline { margin-top:15px }
    }
    .redness { color: #cccccc; }
</style>
