<div class="title">                    <h4>Programme Landscape</h4>
</div>
<form class="uk-form uk-form-horizontal" method="post" id="course-form" >

    

  <div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Landscape Type')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->program_landscape->setAttrib('class','form-control')  ?>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group"> 

             <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Effective Date')?></label>
                    <div class="uk-form-controls">
                    <?php echo $this->form->effective_date;  ?>
                    </div>
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Route')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->program_route->setAttrib('class','form-control')  ?>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group"> 

             <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Level')?></label>
                    <div class="uk-form-controls">
                    <?php echo $this->form->program_level;  ?>
                    </div>
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Programme')?></label>
                <div class="uk-form-controls">
                   <select class="form-control" id="program_category" name='program_category'><option> --Please Select--</option></select>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Mode')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->mode_of_program->setAttrib('class','form-control')  ?>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group"> 

             <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Effective Intake')?></label>
                    <div class="uk-form-controls">
                    <?php echo $this->form->effective_intake;  ?>
                    </div>
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group"> 
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Status')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->l_status->setAttrib('class','form-control')  ?>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group"> 

             <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Description')?></label>
                    <div class="uk-form-controls">
                    <?php echo $this->form->description;  ?>
                    </div>
             </div>
        </div>
    </div>
</div>


    
    <!--  <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Specific Modules')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->module_type  ?><label for="module_type"><?php echo $this->translate('Yes')?></label>
        </div>
    </div> -->
<div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
        <div class="uk-form-controls">
    <?php echo $this->form->active  ?><label for="active"><?php echo $this->translate('Yes')?></label>
        </div>
    </div>
    <div class="uk-form-row" align="center">
        <input type="submit" class="btn btn-primary " value='Submit'>
        <input type="reset" class="btn btn-primary" value="Clear" >
        <input type="button" class="btn btn-primary"  label="Back" value="Back" onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'programme-landscape', 'action'=>'index'),'default',true);?>';" />
    </div>
</form>

<script type="text/javascript">
$(document).ready(function(){

      
       $('#start_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#start_date').attr('readonly','true');
        $('#end_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#end_date').attr('readonly','true');
    })

    $('#program_category').change(function () {
             var ProgramRoute = $('#program_route').val();
            var ProgramLevel = $('#program_level').val();
            var Program = $('#program_category').val();
       

                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/ProgrammeExemptionFee/validiate-program',
                    dataType :'json',
                    data:{program_route : ProgramRoute,program_level:ProgramLevel,program_category : Program
                         },
                    success:function(response){
                   
                    var len = response.length;
                    if(response == 0){
                        alert('Programme is already registered')
                         $("#program_category").empty();
                    }
              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    }); 
});
    $('#program_level').change(function () {
             var ProgramRoute = $('#program_route').val();
            var ProgramLevel = $('#program_level').val();

                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/ProgrammeFee/getprogram',
                    dataType :'json',
                    data:{program_route : ProgramRoute,program_level:ProgramLevel
                         },
                    success:function(response){
                       
                    var len = response.length;

                  
                $("#program_category").empty();
                for( var i = 0; i<len; i++){
                   var id = response[i]['id'];
                    var name = response[i]['name'];

                    
                    $("#program_category").append("<option value='"+id+"'>"+name+"</option>");

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

</script>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      

 <script>

    $(document).ready(function(){
        $('#calculated_amount').attr('readonly',true);

    $('#gst').change(function(){
        var gst =$('#gst').val();
        var amount = $('#amount').val();
        var gst_amount = (amount/100)*gst;
        var total_amount = parseFloat(amount)+parseFloat(gst_amount);
        $('#calculated_amount').val(total_amount);

    })
});

         $(function() {
            $( "#effective_date" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#end_date" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>