<link rel="stylesheet" href="<?php  echo $this->baseUrl();?>/js/jquery/plugin/colorpicker/evol.colorpicker.min.css" type="text/css" />
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/jquery/plugin/colorpicker/evol.colorpicker.min.js"></script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'activity', 'action'=>'index'),'default',true);?>';" >
				<span class='back'></span>
				<?php echo $this->translate("Back");?>
				</a>
			</li>
			 <!--  
			 <li>
				<a href="#" onclick="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'add'),'default',true);?>" >
					<span class='add'></span>
					<?php echo $this->translate("Add Legend");?>
				</a>
			</li> 
			-->			
		</ul>
	</div>
</div>

<br>

<fieldset>
<legend><?php echo $this->translate("Activity Info");?></legend>

<?php if ( $this->errorMsg != '' ) { ?>
	<div class="message error"><?php echo $this->errorMsg ?></div><br />
<?php } ?>

<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/activity/newactivity" method="post"  name= "myForm">
	<script type="dojo/method" event="onSubmit">
	if (this.validate()) {
		return true;
	} 
	else {
		return false;
	}
	</script>
 	<table class="table" width="100%" >
		  <tr>
				<td ><?php echo $this->translate("Activity Type");?><span class="reqMark">*</span></td>
				<td ><?php echo $this->lobjActivityForm->ActivityType;?></td>
		  </tr>
		  <tr>
			   <td ><?php echo $this->translate("Activity Name");?><span class="reqMark">*</span></td>
			   <td ><?php echo $this->lobjActivityForm->ActivityName;?><?php echo $this->lobjActivityForm->UpdDate;?> 
			   <?php echo $this->lobjActivityForm->UpdUser;?></td>
		  </tr>
		  <tr>
				<td ><?php echo $this->translate("Calendar Color");?><span class="reqMark">*</span></td>
				<td ><?php echo $this->lobjActivityForm->ActivityColorCode;?></td>
		  </tr>
		  
		  <tr>
				<td colspan=4 align = "right"><?php echo $this->lobjActivityForm->Save;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back");?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'activity', 'action'=>'index'),'default',true);?>';" />	
				</td> 
						   
		  </tr>   
     </table>         
    </form>
</fieldset>

<script type="text/javascript">
$(function()
{
	$('#ActivityColorCode').colorpicker({
		displayIndicator: false
	});
});
</script>