
<?php Cms_Hooks::start(); ?>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
                <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li><a href="/calendar/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li class="uk-active"><a href="#"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
    <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>



<div class="uk-grid">

    <div class="uk-width-medium-7-10">
    <!-- content -->
    <?php $total = $group_total = 0; ?>
    <?php if ($this->wiki) { ?>
        <?php foreach ($this->wiki as $list) { ?>
        <?php

            // grouping
            $specific_group = "globe"; //"globe";
            $specific_title = "Course general wiki"; //"Global Content";
            
            if (!empty($list['specific_group'])) 
            {
                $group_total++;

                $specific_group = "user";
                $specific_title = "'" . addslashes(@$list["specific_group_name"]) . "' group wiki";
            }
            else
            {
                $total++;
            }

        ?>
            <div class="description uk-panel uk-panel-box uk-panel-alt uk-margin-bottom <?php echo ($specific_group == 'user') ? 'group' : $specific_group ?>">
                <div class="uk-float-right uk-margin-right">
                    <!-- group -->
                        <i class="uk-icon-<?php echo $specific_group ?> uk-text-muted" data-uk-tooltip title="<?php echo $specific_title ?>"> </i>
                    <!-- /group -->
                </div>
                <div class="uk-panel-content">
                    <h3 class="title"><?php echo $list['title'] ?></h3>
                    <?php echo $list['description'] ?>
                </div>
            </div>
        <?php } ?>
    <?php } else { ?>

        <div class="uk-placeholder uk-text-center">
            <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> 
            <?php echo $this->translate('No wiki added yet.'); ?>
        </div>

    <?php } ?>
     <!-- /content -->
    </div>
		<div class="uk-width-medium-3-10">
		<!-- side -->
			<div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
				<div class="uk-panel-content">
					<ul class="infolist">
                        Total Wiki: <strong><?php echo number_format($total + $group_total); ?></strong></a><br/><br/>
                        <div class="uk-margin-left">
                            <ul class="infolist">
                                <li><a href="#" onclick="$('.group').hide();$('.globe').show();"><span>General</span></a> <strong><?php echo number_format($total); ?></strong></li>
                                <li><a href="#" onclick="$('.globe').hide();$('.group').show();"><span>Group</span></a> <strong><?php echo number_format($group_total); ?></strong></li>
                            </ul>
                        </div> 
                    </ul>
				</div>
			</div>
		<!-- /side -->
		</div>
</div>

<style type="text/css">
    .outline { margin-top:15px }
</style>