
<div class="clearfix">
    <form class="uk-form"  id="myform" name="myform" method="post" action="">
                    <h4>CPD Activiy</h4>
                    
                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Type</label>
                                    <td><?php  echo $this->form->cpdm_type;?></td>
                                    
                                </div>                                 
                            </div>
                           
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Material Category</label>
                    <td><?php  echo $this->form->cpdm_category;?></td>
                                    
                                </div>                                 
                            </div>
                            </div> 
                            <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Type</label>
                                    <td><?php  echo $this->form->cpdm_activity;?></td>
                                    
                                </div>                                 
                            </div>
                           
                            </div>
                            <div class="row">
                        
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Title</label>
                                    <td><?php echo $this->form->cpdm_title; ?></td>
                                    
                                </div>                                 
                            </div>
                           
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Venue</label>
                                    <td><?php echo $this->form->cpdm_venue; ?></td>
                                    
                                </div>                                 
                            </div>
                            </div> 
                            <div class="row">
                            

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Provider</label>
                                    <td><?php echo $this->form->cpdm_provider; ?></td>
                                    
                                </div>                                 
                            </div>
                           
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Date Started</label>
                                    <td><input type='text' class="form-control" id='date_started' name='date_started'></td>
                                    
                                </div>                                 
                            </div>
                            </div> 
                            <div class="row">
                           

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Date Completion</label>
                                    <td><input type='text' class="form-control" 
                                        id='date_completion' name='date_completion'></td>
                                    
                                </div>                                 
                            </div>
                           
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>CPD Hours</label>
                                    <td><?php echo $this->form->cpdm_hours; ?>hours</td>
                                    
                                </div>                                 
                            </div>
                            </div> 
                            <div class="row">
                           

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Content Type</label>
                                    <td><?php echo $this->form->cpdm_content; ?></td>
                                    
                                </div>                                 
                            </div>
                           
                            
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Activity Description</label>
                                    <td><?php echo $this->form->cpdm_desc; ?></td>
                                    
                                </div>                                 
                            </div>
                            </div> 
                           

                               <hr class="dark-diver">                                                  
                <div class="button-group">
                    <?php echo $this->form->Save;?>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Member', 'action'=>'index'),'default',true);?>';">Cancel</button>
                </div>
                                                      
                        </div>
                                         


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

 <script type="text/javascript">
dojo.addOnLoad(function(){          
    dijit.byId("TemplateName").focus();
    dijit.byId('idDefinition').set('value','');
    dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
    var ScheduleName = dojo.byId("ScheduleName");
    
}

 $(document).ready(function(){
      
       $('#date_completion').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#date_completion').attr('readonly','true');

        $('#date_started').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#date_started').attr('readonly','true');
        

    });


 function getLearningCategory(idLearning) {

       

        if (idLearning != '') {
            $.ajax({
                url: "<?php echo $this->url(array('module' => 'admin', 'controller' => 'cpd', 'action' => 'get-learning-category'), 'default', true);?>",
                data: {'idLearning': idLearning},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    

                    $('#cpdm_category').empty();
                    //$('#cpdm_category').append('<option value=""></option>');

                    $.each(data, function (index) {

                        var sel = '';

                        $('#cpdm_category').append('<option value="' + data[index].cat_id + '"' + sel + '>' + data[index].description + '</option>');
                    });

                },
                error: function () {
                    alert("failure");
                }
            });
        }


    }

    function getLearningActivity(idCategory) {

        var idLearning = $('#cpdm_type').val();

        //alert(idLearning);

        if (idCategory != '') {
            $.ajax({
                url: "<?php echo $this->url(array('module' => 'admin', 'controller' => 'cpd', 'action' => 'get-learning-activity'), 'default', true);?>/idCategory/" + idCategory,
                data: {'idLearning': idLearning},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    $('#cpdm_activity').empty();
                    $('#cpdm_activity').append('<option value=""></option>');

                    $.each(data, function (index) {

                        var sel = '';

                        $('#cpdm_activity').append('<option value="' + data[index].key + '"' + sel + ' >' + data[index].description + '</option>');
                    });

                },
                error: function () {
                    alert("failure");
                }
            });
        }


    }
</script>
<script type="dojo/method" event="onSubmit" >
                if (dojo.byId('content') != null)
             {
                var content = dijit.byId('content').attr('value');
                dijit.byId("content1").set('value',content);
             }

                if (this.validate()) {
                    return true;
                } else {
                    return false;
                }
</script>
 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#date_started" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#date_completion" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>
<style type="text/css">

#add_template_style fieldset
{ 
    width: 100% !important;
}

</style>
