<h3>Approval Details</h3>  
                <div class="clearfix">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Membership Type</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          <?php foreach ( $this->users as $users ) { ?>
                            <tr>
                                <td><a href="<?php echo $this->baseUrl()?>/admin/Cpd/details/id/<?php echo $users['id']?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
                                <td><?php echo $users['email']?></td>
                      
                                <td><?php echo $users['member_name']?></td>
                            </tr>
                             </tbody>
                             <?php } ?>
                                            
                   
                    </table>                 
                </div>                
           </div>                  
        </div>
    </div>
</div>  