  
    <ul class="breadcrumb">
        
                <h3>CPD Details</h3> 
                <div class="clearfix custom-tabs">
 <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                      <div class="form-static">
                         <h4 class="form-title">Member Registered Cpd</h4> 

                          <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Learning</th>
                                <th>Category</th>
                                <th>Activity</th>
                                <th>Status</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php foreach ( $this->getMember as $users ) { ?>
                            <tr>
                                <td><?php echo $users['learning']?></td>
                                <td><?php echo $users['category']?></td>
                                <td><?php echo $users['activity']?></td>
                        <!-- <td><select name="cpd_status[]" class='form-control'>
                          <option>--Please Select--</option>
                        <?php foreach($this->approval_status as $approval):?>

                    <option value="<?php echo $approval['idDefinition'];?>"><?php echo $approval['DefinitionDesc'];?></option>
                        <?php endforeach;?>
                        </select></td> -->
                        <input type='hidden' name='cpd_learning' class="form-control" >
                                <td><input type='number' name='cpd_point[]' class="form-control" ></td>
                            </tr>
                              </tbody>
                             <?php } ?>
                                            
                      
                    </table> 

                 </div>

       
      </div>            
    </div>
     <div class="tab-content" align='center'>
      <div class="filter-button-group">
                                   
    
    <input name="submit" type="submit" class="btn btn-primary" value="Submit">
          <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Cpd', 'action'=>'approval'),'default',true);?>';" />   
</div>
</div> 
  </form>
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getTimezone()
    {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '"+timezone+"' ?", function () {
            $("#timezone").val ( timezone );
        }, function() {
            // user clicked "cancel"
        });
        return false;
    }

    $(document).ready(function(){
        $('#btnApporve').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/apporvefisrt',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Approved ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved not approved');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
        $('#btnReject').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/rejectuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Rejected ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved but Some Error in sending email');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
    });        


</script>