   <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

    <div class="clearfix">


                    <h4>Membership category</h4>
                    <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select name='type' class="form-control">
                                     <option value="">Please Select</option>
                                     <?php foreach ($this->learningLists as $typel) {?>
                                    <option value="<?php echo $typel["idDefinition"]?>"><?php echo $typel["DefinitionDesc"]?></option>
                                        <?php }?>
                                 </select>
                                    
                                </div>                                 
                            </div>

                        <div class="col-sm-6 col-md-4">
                          <div class="form-group">
                             <label>Category</label>
                             <select name='category' class="form-control">
                                 <option value="">Please Select</option>
                                     <?php 

                                     foreach ($this->categoryLists as $catel) {?>
                                    <option value="<?php echo $catel["idDefinition"]?>"><?php echo $catel["DefinitionDesc"]?></option>
                                     <?php }?>
                                    </select>
                                    
                                </div>                                 
                            </div>
                            
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                             <input name="Submit" type="submit" class="btn btn-primary"  label=<?php echo $this->translate("Submit") ?> value=<?php echo $this->translate("Submit") ?>>  
                                   
                              <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Cpd', 'action'=>'add'),'default',true);?>';"/>
                                    <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>     
                                    

                                </div>
                            </div>                           
                        </div>
                    </div>
                    </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Title   </th>
                                <th>Hours</th>
                                <th>Start Date</th>                
                                <th>End Date</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (count($this->paginator)): ?>
        <?php foreach($this->paginator as $data): ?>
            <tr>
                <td> <?php $details_url = $this->baseUrl() ."/admin/cpd/edit-material/id/". $data['cpdm_id']; ?>
                    <a href="<?php echo $details_url ?>"><?php echo $data['mattype'] ?></a></td>
                <td align="center"><?php echo $data['matcategory'] ?></td>
                <td><?php echo $data['cpdm_title'] ?></td>
                <td><?php echo $data['cpdm_hours'] ?></td>
                <td align="center"><?php echo (!empty($data['created_date']) ? date('d-m-Y H:i:s', strtotime($data['created_date'])) : ''); ?></td>
                <td align="center"><?php echo (!empty($data['created_date']) ? date('d-m-Y H:i:s', strtotime($data['created_date'])) : ''); ?></td>
               
            </tr>
        <?php endforeach; ?>
        <?php endif; ?>

    </tr>
</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>


