<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
	$fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;
}
?>
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php echo $this->headMeta(); ?>
	<?php echo $this->headTitle(); ?>
	<link rel="shortcut icon" href="<?php echo $this->baseUrl()?>/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/uikit.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/style.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/assets/animate.min.css">

	<link href="<?php echo $this->baseUrl()?>/font/entypo/entypo.css" media="screen" rel="stylesheet" type="text/css" />
	<!-- <link href="<?php echo $this->baseUrl()?>/font/awesome/font-awesome.css" media="screen" rel="stylesheet" type="text/css" /> -->

	<script src="<?php echo $this->baseUrl()?>/js/modernizr.js"></script>

	<?php
	//////////////////////// JQUERY ////////////////////////
	$this->jQuery()->enable();
	$this->jQuery()->useCdn(false);
	$this->jQuery()->setVersion('1.11.1');
	$this->jQuery()->setLocalPath($this->baseUrl().'/js/plugins/jquery/jquery-1.11.0.min.js');

	$this->jQuery()->uiEnable();
	$this->jQuery()->setUiVersion('1.12');
	$this->jQuery()->useUiCdn(false);
	$this->jQuery()->addStylesheet($this->baseUrl().'/js/plugins/jquery-ui/jquery-ui.min.css');
	$this->jQuery()->setUiLocalPath($this->baseUrl().'/js/plugins/jquery-ui/jquery-ui.min.js');

	//////////////////////// END JQUERY ////////////////////////
	echo $this->jQuery();
	echo $this->headLink();
	?>
	<script src="<?php echo $this->baseUrl()?>/js/uikit.min.js"></script>
	<script src="<?php echo $this->baseUrl()?>/js/global.js"></script>

	<script src="<?php echo $this->baseUrl()?>/js/plugins/alertify/alertify.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/alertify/alertify.css">

	<script src="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.css">

	<script src="<?php echo $this->baseUrl()?>/js/plugins/filer/jquery.filer.min.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/filer/css/jquery.filer.css">

	<?php
	$this->headScript()->appendFile( $this->baseUrl().'/js/components/sticky.min.js');
	$this->headScript()->appendFile( $this->baseUrl().'/js/components/tooltip.min.js');

	echo $this->headScript();
	?>
</head>
<body>
<?php Cms_Hooks::hook('body.top'); ?>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<?php
Cms_Hooks::hook('content.top');
$wrap = isset(Zend_Layout::getMvcInstance()->getView()->nowrap) && Zend_Layout::getMvcInstance()->getView()->nowrap == 1 ? 0 : 1;
?>
<?php if ( $wrap == 1 ) { ?>
<!-- main -->
<div id="main">

	<?php
	Cms_Hooks::hook('breadcrumbs');
	Cms_Common::displayFlash();
	?>

	<?php echo $this->layout()->content; ?>

</div>
<!-- /main -->
<?php } else {
	echo $this->layout()->content;
}
Cms_Hooks::hook('content.bottom');
?>

<div id="site-offcanvas" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
			<?php echo $nav ?>
			<?php if ( $loggedIn == 1) {?>
			<li class="uk-parent">
				<a href="#"><i class="uk-icon-user"></i> <?php echo $fullname?></a>
				<ul class="uk-nav-sub">
					<?php echo $usernav ?>
				</ul>
			</li>
			<?php }?>
		</ul>
	</div>
</div>
<?php Cms_Hooks::hook('body.bottom'); ?>
</body>
</html>