<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
?>
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php echo $this->headMeta(); ?>
	<?php echo $this->headTitle(); ?>
	<link rel="shortcut icon" href="<?php echo $this->baseUrl()?>/images/favicon.ico" type="image/x-icon" />


	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/uikit.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/style.css">

	<link href="<?php echo $this->baseUrl()?>/font/entypo/entypo.css" media="screen" rel="stylesheet" type="text/css" />
	<!-- <link href="<?php echo $this->baseUrl()?>/font/awesome/font-awesome.css" media="screen" rel="stylesheet" type="text/css" /> -->

	<script src="<?php echo $this->baseUrl()?>/js/modernizr.js"></script>

	<?php
	//////////////////////// JQUERY ////////////////////////
	$this->jQuery()->enable();
	$this->jQuery()->useCdn(false);
	$this->jQuery()->setVersion('1.11.1');
	$this->jQuery()->setLocalPath($this->baseUrl().'/js/plugins/jquery/jquery-1.11.0.min.js');

	$this->jQuery()->uiEnable();
	$this->jQuery()->setUiVersion('1.10.2');
	$this->jQuery()->useUiCdn(false);
	$this->jQuery()->addStylesheet($this->baseUrl().'/js/plugins/jquery-ui/jquery-ui.1.11.0.css');
	$this->jQuery()->setUiLocalPath($this->baseUrl().'/js/plugins/jquery-ui/jquery-ui.1.11.0.min.js');

	//////////////////////// END JQUERY ////////////////////////
	echo $this->jQuery();
	echo $this->headLink();
	echo $this->headScript();
	?>
</head>
<body>

<div class="uk-width-medium-3-5 uk-container-center uk-margin-top">
	<?php echo $this->layout()->content; ?>
</div>
</body>
</html>