<body class='claro'>
<div class="message toolbar">
<h2><?php echo $this->translate("Edit Scheme");?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schemesetup', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>           
        </ul>
    </div>
</div>
<br></br>
<fieldset>
<Form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
<script type="dojo/method" event="onSubmit" >
               if (this.validate()) {
                   return true;
                 } else {
                   return false;
 	           }
</script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Edit Scheme");?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("English Description");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSchemesetupForm->EnglishDescription;?></td>
		<td><?php echo $this->translate($this->defaultlanguage);?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSchemesetupForm->ArabicDescription;?>
		<?php echo $this->lobjSchemesetupForm->IdScheme;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Scheme Code");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSchemesetupForm->SchemeCode;?></td>
		<td><?php echo $this->translate("Active");?></td>
		<td><?php echo $this->lobjSchemesetupForm->Active;?></td>
		<?php echo $this->lobjSchemesetupForm->UpdDate;?>
        <?php echo $this->lobjSchemesetupForm->UpdUser;?>
   </tr>
	
</table>

<div class="form-opt">
	<?php echo $this->lobjSchemesetupForm->Save; ?>
	<?php //echo $this->form->cancel; ?>
</div>
	

</Form>
</body>