<div width="50px">
<?php 
	$this->form->setAction($this->url());
	echo  $this->form;
?>
</div>
<script type="text/javascript">
$(function()
{
	 $("#IdSubject").combobox();
	 $("#IdSubject").change(function() {
          getCreditHours(this);
     });
});

<?php if ( $this->ajax == 0 ) { ?>
function validateTotalCreditHours()
{	
	var IdProgramReq = $('select[name="IdProgramReq"]').val();
		
	//check dah exceed ke credit hours
	if(IdProgramReq!=''){
		
			$.ajax({
				url: "/admin/landscape/ajax-get-program-requirement/idlandscape/48/idprogram/5",
				data: {'IdProgramReq':IdProgramReq},
				type: 'POST',
				dataType: 'json'	
			}).done(function ( data ) {	
	
				//if(data.status==0){
				//	alert("Sorry you have exceed total credit hours for this particular Subject Type");	
				//	$('#IdProgramReq').get(0).selectedIndex = 0;
				//}else{
					$('#SubjectType').val(data.SubjectType);
				//}
				
			});
	}//end if
}

function getCreditHours(e){

	//var SubjectType = $('select[name="SubjectType"]').val();
	var SubjectType = $('#SubjectType').val();

	if(SubjectType!=''){
		$.ajax({
			url: "/admin/landscape/ajax-get-subject/idlandscape/48/id/5",
			data: {'IdSubject':$(e).val(),'SubjectType':SubjectType},
			type: 'POST',
			dataType: 'json'	
		}).done(function ( data ) {
	
			//if(data.status==0){
			//	alert("Sorry you cannot choose this Subject. The Course Credit Hour has exceeded available balance Minimum Requirement Credit Hours. Available balance credit hours is "+data.available);
			//	$('#IdSubject').get(0).selectedIndex = 0;						
			//}else{
				$('#CreditHours').val(data.CreditHours);					
			//}
		});
	}else{
		alert("Please Select Subject Type First.");
		$('#IdSubject').get(0).selectedIndex = 0;
	}
}
<?php } ?>
</script>