<style>
.table{
	font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	background-color: #fafafa;
	border-spacing: 0;
    border-collapse: collapse;
    font-size: 10px;
}
.toolbar-button ul li a .add { display:block; color:black; margin:0 auto 4px auto; width:24px; height:24px; background: url('../../images/icons_toolbar/icon_add.png') no-repeat  }
</style> 

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>

<br />
<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
    	if (this.validate()) 
		{
			return true;
		} else {
        	return false;
		}
	</script>

	<table class="uk-table uk-table-stacked uk-table-admin table" width="100%">
		<tr>
			<th colspan="4" class="alt"><?php echo $this->translate("Copy Landscape");?></th>
		</tr>
		<tr>
			<td width="15%"><?php echo $this->translate("Programme Name");?></td>
			<td width="35%"><?php echo $this->programinfo['ProgramName'];?></td>
			<td width="15%"><?php echo $this->translate("Effective Intake")?></td>
			<td><?php echo $this->form->IdStartSemester ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Landscape Description");?></td>
			<td><?php echo $this->form->ProgramDescription;?></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="4" align="center">
			<span><?php echo $this->form->Save?></span>
			<span><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true); ?>">
		<input name="Button" type="button"  label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>>		
	</a></span>
			</td>
		</tr>
	</table>
</form>
<!-- <div  align='center'>
	<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'index'),'default',true);?>" >
		<input name="Button" type="reset" class="uk-button"  label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>>		
	</a>
	</div>
	<span class="form-opt">
	<?php echo $this->form->save ?>
</span>
<span><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true); ?>">
		<input type="button" name="Button" label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>>	
	</a>
</span> -->


<script type="text/javascript">
dojo.addOnLoad(function() {
	dijit.byId('IdStartSemester').set('value','');
	dijit.byId('IdStartSemester').set('placeHolder','<?php echo $this->translate('Select')?>');
});
</script>