
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Info"); ?></a></div></li>
		
		
		<?php if ( $this->landscape['LandscapeType']==42 ) { ?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Program Requirments"); ?></a></div></li>

		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-levels','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate('Levels')?></a></li>
		<?php } else { ?>

		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Programme Requirments"); ?></a></div></li>
		<?php } ?>
		
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'course-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'course-details','id'=>$this->programId,'idlandscape'=>$this->landscapeId),'default',true);?>"><span class='preview'></span><?php echo $this->translate('Pre-Registered Courses')?></a>				
			</li>
		  	<li>
				<a href="#" onclick="return back()" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />

<style type="text/css">
	.section-nav-wrap { overflow:hidden }
	.section-nav-wrap .section-nav { float:right; width:160px; }
	.section-nav-wrap .section-content { margin-right:170px; }
	.section-nav-wrap .section-nav ul { list-style:none; width:160px; }
	.section-nav-wrap .section-nav ul.fixed {  position:fixed; right:20px; top:50px; }
	.section-nav-wrap .section-nav ul li { margin-bottom:1px; }
	.section-nav-wrap .section-nav ul li a { background:#ededed; display:block; font-size:10px; padding:5px 10px; text-transform:uppercase; }
	.section-nav-wrap .section-nav ul li.child a { padding-left:10px; }
	.section-nav-wrap .section-nav ul li a:hover { background:#dedede; text-decoration:none; }
	.section-nav-wrap .section-nav ul .current a { background:#00a6d8; color:#fff; }
</style>

<fieldset>
	<legend><?php echo $this->translate('Programme')?></legend>
	<ul>
		<li><?php echo $this->programinfo['ProgramCode']?> - <?php echo $this->programinfo['ProgramName']?></li>
		<li><?php echo $this->scheme['ProgramMode'].' - '.$this->scheme['StudyMode'].' - '.$this->scheme['ProgramType']?></li>
	</ul>
</fieldset>

<br />

<!-- section nav -->
<div class="section-nav-wrap">

	<div class="section-nav">
		<ul id="section-nav">
			<li><a href="#proglist"><?php echo $this->translate('Program Requirement')?></a></li>
			<li><a href="#common"><?php echo $this->translate('Common Courses')?></a></li>
			<li class="child"><a href="#common-compulsory"><span class="icon icon-right-open"></span> <?php echo $this->translate('Compulsory')?></a></li>
			<li class="child"><a href="#common-optional"><span class="icon icon-right-open"></span> <?php echo $this->translate('Not Compulsory')?></a></li>
			<li><a href="#majoring"><?php echo $this->translate('Majoring Courses')?></a></li>
		</ul>
	</div>

	<div class="section-content">
	<!-- content -->
	
	<div class="inline-wrap">
	<fieldset><legend id="proglist"><?php echo $this->translate("Programme Requirement List")?></legend>
	<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<th width="200"><?php echo $this->translate('Course Type')?></th>
			<th width="100px"><?php echo $this->translate('Compulsory')?></th>
			<th width="100px"><?php echo $this->translate('Minimum Credit Hours')?></th>
			
		</tr>	
		<?php 
		if(count($this->programrequirement)>0)
		{
			$total_credit_hours=0;
			foreach($this->programrequirement as $req){

			$total_credit_hours = $total_credit_hours + $req["CreditHours"];
			?>
			<tr>
				<td><?php echo $req["DefinitionDesc"]?></td>
				<td align="center"><?php echo ($req["Compulsory"]==1) ? $this->translate("Yes"): $this->translate("No")?></td>
				<td align="center"><?php echo $req["CreditHours"]?></td>
			</tr>
			<?php 
		}
		//end foreach 
		?>
		<tr>
			<td class="opt" colspan="2"><?php echo $this->translate('Total')?></td>
			<td align="center"><strong><?php echo $total_credit_hours;?></strong></td>			
		</tr>
		<?php
		}
		//end if 
		?>
		</table>
	</fieldset>

	<br /><br />

	<!-- dialog -->
	<div id="dialog-add-course" title="<?php echo $this->translate('Add Course')?>" style="display:none"></div>
	<!-- /dialog -->

	<!-- common courses -->
	<fieldset>
		<legend id="common"><?php echo $this->translate("Common Courses")?></legend>

		<div class="opt float">
			<button onclick="addCourse(1,0);"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Compulsory Course')?></button> 
		</div>

		<h3 id="common-compulsory"><?php echo $this->translate("Compulsory Courses")?></h3>
		<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>					
				<th width="1%"><?php echo $this->translate('Semester')?></th>
				<?php if ( $this->landscape['LandscapeType'] == 42 ) {?>
				<th width="5%"><?php echo $this->translate('Level')?></th>
				<?php } ?>
				<th width="40%"><?php echo $this->translate('Course Name')?></th>
				<th width="10%"><?php echo $this->translate('Course Code')?></th>
				<th width="10%"><?php echo $this->translate('Course Type')?></th>					
				<th width="10%"><?php echo $this->translate('Credit Hour')?></th>
				<th></th>
			</tr>
			
			<?php 
			if(is_array($this->compulsory_course))
			{
				$total_credit_hours=0;
				foreach($this->compulsory_course as $common) 
				{ 						
					$total_credit_hours = $total_credit_hours + $common["CreditHours"];						
					?>
					<tr>
						<td align="center"><?php echo $common["IdSemester"]?></td>
						<?php if ( $this->landscape['LandscapeType'] == 42 ) {?>
						<td align="center"><?php echo $common["Level"]?></td>
						<?php } ?>
						<td align="left"><?php echo $common["SubjectName"]?></td>
						<td align="center"><?php echo $common["SubCode"]?></td>
						<td align="center"><?php echo $common["DefinitionDesc"]?></td>						
						<td align="center"><?php echo $common["CreditHours"]?></td>
						<td align="center" class="options">
						<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$common["IdSubject"],'idLandscapeSub'=>$common["IdLandscapeSub"],'type'=>1),'default',true);?>"><?php echo $this->translate('Edit')?></a>
						|
						<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'add-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$common["IdSubject"],'idLandscapeSub'=>$common["IdLandscapeSub"]),'default',true);?>"><?php echo $this->translate('Requisite')?></a>

						| <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idLandscapeSub'=>$common["IdLandscapeSub"]),'default',true)?>"><?php echo $this->translate('Delete')?></a>
						</td>
					</tr>
				<?php } 
			}?>
			<tr>
				<td class="opt" colspan="<?php echo $this->landscape['LandscapeType'] == 42 ? 5 : 4 ?>"><strong><?php echo $this->translate("Total")?></strong></td>
				<td align="center"><strong><?php echo $total_credit_hours;?></strong></td>
				<td></td>
			</tr>
		</table>
			   
	  <br />
	  

	  <div class="opt float">
		<button onclick="addCourse(2,0);"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Not Compulsory Course')?></button> 
	  </div>

	  <h3 id="common-optional"><?php echo $this->translate("Not Compulsory Courses")?></h3>

	   <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
			<tr>					
				<th width="1%"><?php echo $this->translate('Semester')?></th>
				<?php if ( $this->landscape['LandscapeType'] == 42 ) {?>
				<th width="5%"><?php echo $this->translate('Level')?></th>
				<?php } ?>
				<th width="40%"><?php echo $this->translate('Course Name')?></th>
				<th width="10%"><?php echo $this->translate('Course Code')?></th>
				<th width="10%"><?php echo $this->translate('Course Type')?></th>
				<th width="10%"><?php echo $this->translate('Credit Hour')?></th>
				<th></th>
			</tr>
			
			<?php 
			if(is_array($this->elective_course))
			{
				$total_elective_credit_hours=0;
				foreach($this->elective_course as $elective) 
				{ 			
							
					$total_elective_credit_hours = $total_elective_credit_hours + $elective["CreditHours"];
											
					?>
					<tr>
						<td align="center"><?php echo $elective["IdSemester"]?></td>
						<?php if ( $this->landscape['LandscapeType'] == 42 ) {?>
						<td align="center"><?php echo $elective["Level"]?></td>
						<?php } ?>
						<td align="left"><?php echo $elective["SubjectName"]?></td>
						<td align="center"><?php echo $elective["SubCode"]?></td>
						<td align="center"><?php echo $elective["DefinitionDesc"]?></td>						
						<td align="center"><?php echo $elective["CreditHours"]?></td>
						<td align="center" class="options">
						<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$elective["IdSubject"],'idLandscapeSub'=>$elective["IdLandscapeSub"],'type'=>0),'default',true);?>"><?php echo $this->translate('Edit')?></a>
						|
						<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'add-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$elective["IdSubject"],'idLandscapeSub'=>$elective["IdLandscapeSub"]),'default',true);?>"><?php echo $this->translate('Add')?></a>

						| <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idLandscapeSub'=>$elective["IdLandscapeSub"]),'default',true)?>"><?php echo $this->translate('Delete')?></a>

						</td>
					</tr>
				<?php } 
			}?>
			<tr>
				<td class="opt" colspan="<?php echo $this->landscape['LandscapeType'] == 42 ? 5 : 4 ?>"><strong><?php echo $this->translate("Total")?></strong></td>
				<td align="center"><strong><?php echo $total_elective_credit_hours;?></strong></td>
				<td></td>
			</tr>
	   </table>
			  
	</fieldset>	
	<!-- /common courses -->



	<br />
	<br />

	<h2 id="majoring"><?php echo $this->translate("Majoring Courses")?></h2>

	<div id="tabs">
		<ul>    	
		<?php 
		if($this->majoring)
		{		
			$i=1;	
			foreach($this->majoring as $major)
			{
				?>
				<li><a href="#tabs-<?php echo $i?>"><?php echo $major["BahasaDescription"]?></a></li>
				<?php
				$i++; 
			} //end foreach 
		} //end if
		?>   		
		</ul>
		
		
		<?php 
		if($this->majoring)
		{		
			$i=1;	
			

			foreach($this->majoring as $major)
			{
				$landscapeSubjectDb =  new GeneralSetup_Model_DbTable_Landscapesubject();
				$compulsory_majoring_course = $landscapeSubjectDb->getMajoringCourse($this->programId,$this->landscapeId,$major["IDProgramMajoring"],1);
				$notcompulsory_majoring_course = $landscapeSubjectDb->getMajoringCourse($this->programId,$this->landscapeId,$major["IDProgramMajoring"],2);
						
				?>
				<div id="tabs-<?php echo $i?>">  	       
					  
					
					<div class="opt float">
						<button onclick="addCourse(1,'<?php echo $major["IDProgramMajoring"];?>');"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Compulsory Course')?></button> 
					</div>

					<h3><?php echo $this->translate("Compulsory Courses")?></h3>
					
					   <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
							<tr>					
								<th width="1%"><?php echo $this->translate('Semester')?></th>
								<th width="45%"><?php echo $this->translate('Course Name')?></th>
								<th width="10%"><?php echo $this->translate('Course Code')?></th>
								<th width="10%"><?php echo $this->translate('Course Type')?></th>					
								<th width="10%"><?php echo $this->translate('Credit Hour')?></th>
								<th></th>
							</tr>
							
							<?php 
							if(is_array($compulsory_majoring_course))
							{
								$total_major_credit_hours=0;
								foreach($compulsory_majoring_course as $major) 
								{ 			
											
									$total_major_credit_hours = $total_major_credit_hours + $major["CreditHours"];
															
									?>
									<tr>
										<td align="center"><?php echo $major["IdSemester"]?></td>
										<td align="left"><?php echo $major["SubjectName"]?></td>
										<td align="center"><?php echo $major["SubCode"]?></td>
										<td align="center"><?php echo $major["DefinitionDesc"]?></td>						
										<td align="center"><?php echo $major["CreditHours"]?></td>
										<td align="center" class="options">
										
										<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'add-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$major["IdSubject"],'idLandscapeSub'=>$major["IdLandscapeSub"],'idProgramMajoring'=>$major["IDProgramMajoring"]),'default',true);?>"><?php echo $this->translate('Add')?></a>

										| <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idLandscapeSub'=>$major["IdLandscapeSub"]),'default',true)?>"><?php echo $this->translate('Delete')?></a>

										</td>
									</tr>
									<?php
								} 
							}
							?>
							<tr>
								<td class="opt" colspan="4"><strong><?php echo $this->translate("Total")?></strong></td>
								<td align="center"><strong><?php echo $total_major_credit_hours;?></strong></td>
								<td></td>
							</tr>
					   </table>
					   
					   <br />
					   
						<div class="opt float">
							<button onclick="addCourse(2,'<?php echo $major["IDProgramMajoring"];?>');"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Not Compulsory Course')?></button>
						</div>
					   
						<h3><?php echo $this->translate("Add Not Compulsory Course")?></h3>
					   
						 <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
							<tr>					
								<th width="1%"><?php echo $this->translate('Semester')?></th>
								<th width="45%"><?php echo $this->translate('Course Name')?></th>
								<th width="10%"><?php echo $this->translate('Course Code')?></th>
								<th width="10%"><?php echo $this->translate('Course Type')?></th>					
								<th width="10%"><?php echo $this->translate('Credit Hour')?></th>
								<th></th>
							</tr>
							
							<?php 
							if(is_array($notcompulsory_majoring_course))
							{
								$total_major_credit_hours=0;
								foreach($notcompulsory_majoring_course as $major) 
								{ 			
											
									$total_major_credit_hours = $total_major_credit_hours + $major["CreditHours"];
															
									?>
									<tr>
										<td align="center"><?php echo $major["IdSemester"]?></td>
										<td align="left"><?php echo $major["BahasaIndonesia"]?></td>
										<td align="center"><?php echo $major["SubCode"]?></td>
										<td align="center"><?php echo $major["DefinitionDesc"]?></td>						
										<td align="center"><?php echo $major["CreditHours"]?></td>
										<td align="center" class="options">
										<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'add-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$major["IdSubject"],'idLandscapeSub'=>$major["IdLandscapeSub"],'idProgramMajoring'=>$major["IDProgramMajoring"]),'default',true);?>"><?php echo $this->translate('Add Prerequisite')?></a>
										| <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idLandscapeSub'=>$major["IdLandscapeSub"]),'default',true)?>"><?php echo $this->translate('Delete')?></a>
										</td>
									</tr>
									<?php 
								}
							}
							?>
							<tr>
								<td class="opt" colspan="4"><strong><?php echo $this->translate("Total")?></strong></td>
								<td align="center"><strong><?php echo $total_major_credit_hours;?></strong></td>
								<td></td>
							</tr>
							
					   </table>
					
					<br />
					
				</div>
				<?php
				$i++; 
			} //end foreach 
		} //end if
		?>   
		
	</div>
	
	<!-- /section content-->
	</div>
</div>


<script type="text/javascript"><!--
	$(function() {
		 $( "#tabs" ).tabs();
	});


function back(){
	window.location = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true);?>";

	return false;
}

function addCourse(type,idMajoring)
{	
	//$(":ui-dialog").dialog("destroy");

	url = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'add-course','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true); ?>/idMajoring/"+idMajoring+"/type/"+type;
	
	$('#dialog-add-course').dialog('open');
	
	$.ajax({
         type: "GET",
         url: url,
         dataType: 'html',
		 beforeSend: function()
		 {
			 $('#dialog-add-course').html('<span class="loading"><?php echo $this->translate('Loading')?>..</span>');
		 },
         success: function(data)
		 {	
			 $('#dialog-add-course').html(data);
			 $("#IdSubject").combobox();
         }
      });

	return false;
	
}

$(function() {
    $( "#dialog-add-course" ).dialog({
      modal: true,
      autoOpen: false,
      width: 650
    });
});


function validateTotalCreditHours()
{	
	var IdProgramReq = $('select[name="IdProgramReq"]').val();
		
	//check dah exceed ke credit hours
	if(IdProgramReq!=''){
		
			$.ajax({
				url: "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'ajax-get-program-requirement','idlandscape'=>$this->landscapeId,'idprogram'=>$this->programId),'default',true);?>",
				data: {'IdProgramReq':IdProgramReq},
				type: 'POST',
				dataType: 'json'	
			}).done(function ( data ) {	
	
				//if(data.status==0){
				//	alert("Sorry you have exceed total credit hours for this particular Subject Type");	
				//	$('#IdProgramReq').get(0).selectedIndex = 0;
				//}else{
					$('#SubjectType').val(data.SubjectType);
				//}
				
			});
	}//end if
}


function getCreditHours(e){

	//var SubjectType = $('select[name="SubjectType"]').val();
	var SubjectType = $('#SubjectType').val();

	if(SubjectType!=''){
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'ajax-get-subject','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>",
			data: {'IdSubject':$(e).val(),'SubjectType':SubjectType},
			type: 'POST',
			dataType: 'json'	
		}).done(function ( data ) {
	
			//if(data.status==0){
			//	alert("Sorry you cannot choose this Subject. The Course Credit Hour has exceeded available balance Minimum Requirement Credit Hours. Available balance credit hours is "+data.available);
			//	$('#IdSubject').get(0).selectedIndex = 0;						
			//}else{
				$('#CreditHours').val(data.CreditHours);					
			//}
		});
	}else{
		alert("Please Select Subject Type First.");
		$('#IdSubject').get(0).selectedIndex = 0;
	}
}
--></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/jquery/plugin/nav/jquery.nav.js"></script>
<script type="text/javascript">
	$(function()
	{
		$('#section-nav').onePageNav();

		var sectionnav = $("#section-nav");
		var secY = sectionnav.offset().top;
		$(document).scroll(function () {
			var y = $(document).scrollTop();

			if (y >= secY-50) {
				sectionnav.addClass('fixed');
			} else {
				sectionnav.removeClass('fixed');
			}
		});
	});
</script>