
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Info"); ?></a></div></li>
		
		
		<?php if ( $this->landscape['LandscapeType']==42 ) { ?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Program Requirments"); ?></a></div></li>

		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-levels','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate('Levels')?></a></li>
		<?php } else { ?>

		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Programme Requirments"); ?></a></div></li>
		<?php } ?>
		
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'course-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  	<li>
				<a href="#" onclick="return back()" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />

<fieldset>
	<legend><?php echo $this->translate('Programme')?></legend>
	<ul>
		<li><?php echo $this->programinfo['ProgramCode']?> - <?php echo $this->programinfo['ProgramName']?></li>
		<li><?php echo $this->scheme['ProgramMode'].' - '.$this->scheme['StudyMode'].' - '.$this->scheme['ProgramType']?></li>
		<?php foreach ( $this->landscapedet as $type => $data ) { ?>
		<li><?php echo $this->semtypes[$type] ?>: <?php echo $data['max']?> Subjects</li>
		<?php } ?>
	</ul>
</fieldset>

<script type="text/javascript">
	var typemax = new Array();
	<?php foreach ( $this->landscapedet as $type => $data ) { ?>
	typemax[<?php echo $type?>] = <?php echo $data['max']?>;
	<?php } ?>
</script>
<br />

<h3><?php echo $this->translate("Courses")?></h3>
<form method="post" action="" name="form_detl">
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>					
		<th width="80%"><?php echo $this->translate('Course Name')?></th>
		<?php foreach( $this->semtypes as $idsem => $semtype ) { ?>
		<th width="10%"><?php echo $semtype?></th>
		<?php } ?>
	</tr>
	<?php foreach ( $this->courses as $course ) : ?>
	<tr>
		<td><?php echo $course['SubjectName']?></td>
		<?php foreach( $this->semtypes as $idsem => $semtype ) { ?>
		<?php 
		$checked =  isset($this->data[$course['IdSubject']][$idsem]) && $this->data[$course['IdSubject']][$idsem] == 1 ? 'checked="checked"':''; 
		?>
		<td align='center'><input onclick="checkCheck(this); return checkType(<?php echo $idsem?>,this);" class='chk sem-<?php echo $idsem?>' type="checkbox" name="subject[<?php echo $course['IdSubject']?>][<?php echo $idsem?>]" value="1" <?php echo $checked ?> /></td>
		<?php } ?>
	</tr>
	<?php endforeach; ?>
</table>
<div class="form-opt">
	<input type="submit" class="btn-submit" value="<?php echo $this->translate('Save')?>" name="submit" />
</div>
</form>
	

<script type="text/javascript"><!--

function back(){
	window.location = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'course-landscape','id'=>$this->programId,'idlandscape'=>$this->landscapeid),'default',true);?>";

	return false;
}

$(function(){
	$(".chk:checked").each(function(){
		$(this).parent().addClass('green');
	});
});
function checkType(id,what)
{
	var total = $(".sem-"+id+":checked").length;
	
	if (total > typemax[id])
	{
		alert('You can only checked '+typemax[id]+' courses for this type');
		$(what).parent().removeClass('green');
		return true;
	}

	return true;
}

function checkCheck(what)
{
	var propwhat =  $(what).prop('checked');

	if (propwhat === true)
	{
		$(what).parent().addClass('green');
	}
	else
	{
		$(what).parent().removeClass('green');
	}
}
</script>

<style type="text/css">
	td.green { background:#e3f9c0 }
</style>