<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<!-- <div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Info"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Programme Requirements"); ?></a></div></li>
		<?php if ( $this->landscape['LandscapeType']==42 ) { ?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-levels','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate('Levels')?></a></li>
		<?php } ?>
		<?php if($this->landscape["LandscapeType"]==44){?>		  
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-block-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<?php }else{?>			
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'course-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<?php } ?>
			
	</ul>
	<div class="clear"></div>
</div> -->


<!-- <div class="message toolbar">
	
	<div class="toolbar-button">
		
				<a href="#" onclick="back()" >
					<input name="Button" type="reset" class="uk-button"  label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>
					
				</a>
			
	</div>
</div>
 -->


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<fieldset>
	<legend><?php echo $this->translate('Edit Landscape')?></legend>
	<ul>
		<li><?php echo $this->programinfo['ProgramCode']?> - <?php echo $this->programinfo['ProgramName']?></li>
	</ul>
</fieldset>

<div id="dialog-edit-landscape-info" title="Edit Landscape Info" style="">
<form name='myform' id='myform'  method='post'>
<?php 
echo $this->form->IdProgram; 
echo $this->form->IdLandscape; 
?>
<h3 class="title"><?php echo $this->translate('Landscape Info');?></h3>
<table width='100%' cellpadding="5" cellspacing="5" border="0"> 
	<tr>
		<td width='30%'><?php echo $this->translate('Landscape Type')?></td>
		<td width='70%'><?php echo $this->form->LandscapeType;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Effective Intake')?></td>
		<td><?php echo $this->form->IdStartSemester;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Program Scheme')?></td>
		<td><?php echo $this->form->IdProgramScheme;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Min Total Credit Hours')?></td>
		<td><?php echo $this->form->TotalCreditHours;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Max Repeat Course')?></td>
		<td><?php echo $this->form->MaxRepeatCourse;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Max Repeat Exam')?></td>
		<td><?php echo $this->form->MaxRepeatExam;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Total Semester')?></td>
		<td><?php echo $this->form->SemsterCount;?></td>
	</tr>
	<tr id="blockrow">
		<td><?php echo $this->translate('Total Block')?></td>
		<td><?php echo $this->form->Blockcount;?></td>
	</tr>
	<?php if ( $this->landscape['LandscapeType'] == 42 ) { ?>
	<tr>
		<td><?php echo $this->translate('Total Level')?></td>
		<td><?php echo $this->form->Levelcount;?></td>
	</tr>
	<?php } ?>
	<tr>
		<td><?php echo $this->translate('Assessment Method')?></td>
		<td><?php echo $this->form->AssessmentMethod;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Add / Drop')?></td>
		<td><?php echo $this->form->AddDrop;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description')?></td>
		<td><?php echo $this->form->ProgramDescription;?></td>
	</tr>		
	<tr>
		<td><?php echo $this->form->Save;?></td>
		
	</tr>
</table>



<!-- <h3 class="title"><?php echo $this->translate('Semester Course Registration Info');?></h3>
<div id='dialog-add-course-info'>
<fieldset><legend><?php echo $this->translate('Add Semester Course Registration Info');?></legend>
<table  width='100%' cellpadding="5" cellspacing="5" border="0">  
	<tr>
		<td width='20%'><?php echo $this->translate('Semester Type');?></td>
		<td><?php echo $this->form->SemesterType;?></td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Minimum No Required Pass Courses');?></td>
		<td><?php echo $this->form->MinReqPassCourse;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Initial Registration Rule');?></td>
		<td>
			<?php echo $this->form->InitialType;?>
			<?php echo $this->form->Initial;?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Registration Rule');?></td>
		<td>
			<?php echo $this->form->Type;?>
			<?php echo $this->translate('Minimum')?> <?php echo $this->form->MinRegCourse;?>
			<?php echo $this->translate('Maximum')?> <?php echo $this->form->MaxRegCourse;?> 
		</td>
	</tr>
	<tr>
		<td colspan='2' align='center'>
		<input type='button' onclick='addToRow();' value='<?php echo $this->translate("Add");?>' />
		<input type='hidden' name='idRow' id='idRow' value='0' />
		</td>
	</tr>
</table>
</fieldset>
<br /><br/>
</div>

<table class="table vcenter" width="100%" cellpadding="5" cellspacing="0" border="0" id='programInfo'> 
	<thead>
	<tr>
		<th><?php echo $this->translate('Semester Type');?></th>
		<th width='30%'><?php echo $this->translate('Minimum No Required Pass Courses');?></th>
		<th colspan='2'><?php echo $this->translate('Initial Registration Rule')?></th>
		<th width="30%" colspan="2"><?php echo $this->translate('Registration Rule Min/Max');?></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<?php 
		if(count($this->landscape_details)>0){
			foreach($this->landscape_details as $ld){
		?>
			<tr>
				<td align='center' rowspan='2'><?php echo $ld['SemesterType'];?></td>
				<td align='center' rowspan='2'><?php echo $ld['MinReqPassCourse'];?></td>
				<td align='center' rowspan='2'><?php 
				if ($ld['InitialType']==1) echo $this->translate('No of Course');	
				if ($ld['InitialType']==2) echo $this->translate('No of Credit Hours');
				if ($ld['InitialType']==0) echo '-'; 
				?></td>
				<td align='center' rowspan='2'><?php echo $ld['Initial']==0?'-':$ld['Initial']?></td>
				<td align='center' rowspan='2'>
				<?php 
				if ($ld['Type']==1) echo $this->translate('No of Course');	
				if ($ld['Type']==2) echo $this->translate('No of Credit Hours');
				?>
			    </td>
				<td align='center' width="10%" style="background:#fff"><?php echo $ld['MinRegCourse'];?></td>
				<td align='center' rowspan='2'><a href='#' title='<?php echo $this->translate('Delete');?>' onclick='delDetail("<?php echo $ld['ld_id'];?>")'><?php echo $this->translate('Delete');?></a></td>
			</tr>
			<tr>
				<td align='center' style="background:#fff"><?php echo $ld['MaxRegCourse'];?></td>
			</tr>
		<?php } } ?>
	</tbody>		
</table>
 -->
<div align="center">
	<input type="submit" value="<?php echo $this->translate('Save')?>" class="uk-button" />
	<a href="#" onclick="back()" >
			<input name="Button" type="reset" class="uk-button"  label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>
			</a>
	
</div>
</form>
</div>





<script>
function editLandscape(){	
		
	if ($("#dialog-edit-landscape-info").is(":hidden")) {		
		$("#dialog-edit-landscape-info").slideDown("slow");
		$("#viewLandscape").hide();
		$("#savebtn").show();
		$("#editbtn").hide();
	} else {
		$("#dialog-edit-landscape-info").hide();
		$("#savebtn").hide();
		$("#editbtn").show();
		$("#viewLandscape").slideDown("slow");
		
	}
}


function back(){

	window.location = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true);?>";
}

$(function() {
	

	$( "#dialog-upload" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Upload": function() {
                //$( this ).dialog( "close" );
                $('#upload').submit();

            	/*var data = new FormData($('input[name^="file"]'));     
            	jQuery.each($('input[name^="file"]')[0].files, function(i, file) {
            	    data.append(i, file);
            	});

            	console.log(data);*/
            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
	
});

function delDetail(ldid){
	var msg = confirm('<?php echo $this->translate("Are sure you want to delete this item?");?>');
	if(msg){
		window.location="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'del-landscape-detail','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>/ldid/"+ldid;
	}	
}


function addToRow(){

	if($('#SemesterType').val()=='' || $('#MinRegCourse').val()=='' || $('#MaxRegCourse').val()=='' || $('#Type').val()=='' ){
		alert('All fields are required!');
	}else{	

		
		if( parseInt($('#MaxRegCourse').val()) < parseInt($('#MinRegCourse').val()) )
		{
			if( $('#Type').val()==1 ){
				alert('Maximum No Registered Courses must be larger or equal to Minimum No Registered Courses');
			}

			if( $('#Type').val()==2 ){
				alert('Maximum No Registered Credit Hours must be larger or equal to Minimum No Registered Credit Hours');
			}
		}
		else
		{
			var idrow  = $("#idRow").val();
			idrow = Math.abs(idrow)+1;			
			addInfoRow(idrow);
			$("#idRow").val(idrow);
		}
	}
}

function addInfoRow(idrow){
	var table = $('#programInfo tbody');
	var content = "<tr class='row-"+idrow+"'>" +
				  "<td align='center' rowspan='2'><input type='hidden' value='"+$('#SemesterType').val()+"' name=SemesterTypeRow[]>"+$('#SemesterType option:selected').text()+"</td>" +
				  "<td align='center' rowspan='2'><input type='hidden' value='"+$('#MinReqPassCourse').val()+"' name=MinReqPassCourseRow[]>"+$('#MinReqPassCourse').val()+"</td>" +
				  "<td align='center' rowspan='2'><input type='hidden' value='"+$("#InitialType").val()+"' name='InitialTypeRow[]' />"+$("#InitialType option:selected").text()+"</td>"+
				  "<td align='center' rowspan='2'><input type='hidden' value='"+$("#Initial").val()+"' name='InitialRow[]' />"+$("#Initial").val()+"</td>"+
				  "<td align='center' rowspan='2'><input type='hidden' value='"+$('#Type').val()+"' name=TypeRow[]>"+$('#Type option:selected').text()+"</td>" +
				"<td align='center' width='10%' style='background:#fff'><input type='hidden' value='"+$('#MinRegCourse').val()+"' name=MinRegCourseRow[]>"+$('#MinRegCourse').val()+"</td>" + 
				"<td align='center' rowspan='2'><a href='#' title='<?php echo $this->translate('Remove from Row');?>' onClick='deleteRow("+idrow+"); return false;'><?php echo $this->translate('Delete');?></a></td>" +
				  '</tr>'
				+"<tr class='row-"+idrow+"'><td align='center'><input type='hidden' value='"+$('#MaxRegCourse').val()+"' name=MaxRegCourseRow[]>"+$('#MaxRegCourse').val()+"</td></tr>";
	$(table).append(content);

	$("#SemesterType").val('');
	$("#MinReqPassCourse").val('');
	$("#InitialType").val('');
	$("#Initial").val('');
	$("#Type").val('');
	$("#MinRegCourse").val('');
	$("#MaxRegCourse").val('');
}

function deleteRow(x){
	var row = ".row-"+x;		
	$(row).remove();
}
function validate(){	
	$('#myform').submit();
}

function getProgramScheme(){
	var IdIntake = $('#IdStartSemester').val();
	var IdProgram = <?php echo $this->programId;?>;

	$.ajax({
		url: "/default/ajax-utility/ajax-get-data",
	    type: "post",
	    async : false,
	    data: {'IdIntake':IdIntake,'type':'intake_program','IdProgram':IdProgram},
	    dataType: 'json',
	    success: function(data){
	    		console.log(data);
	    		$('#IdProgramScheme').empty();
				$('#IdProgramScheme').append('<option value="">-- Please Select --</option>');
			    	
		    	$.each(data, function(index) {
		    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'">'+data[index].ProgramMode+' - '+data[index].StudyMode+' - '+data[index].ProgramType+'</option>');	
		    	});
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading('IdProgramScheme');
	      
		},
		complete: function() {
			hideLoading('IdProgramScheme');
		}   
	});
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");

}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function showAddDrop(){
	var LandscapeType = $('select[name="LandscapeType"]').val();
	
	if(LandscapeType==44){
		$("#AddDrop").attr( "disabled", "disabled" );
		$("#Blockcount").removeAttr( "disabled");	
		$("#Blockcount").attr( "required");
		$("#levelrow").hide();
		$("#blockrow").show();
		
	}
	else if(LandscapeType==42)
	{
		$("#AddDrop").removeAttr( "disabled");
		$("#Blockcount").attr( "disabled","disabled");	
		$("#levelrow").show();
		$("#blockrow").hide();
	}
	else{
		$("#AddDrop").removeAttr( "disabled");			
		$("#Blockcount").attr( "disabled", "disabled" );
		$('#Blockcount').val(0);
		$("#levelrow").hide();
		$("#blockrow").hide();
	}
}

$(function(){
	showAddDrop();

	/*$("#Type").change(function()
	{
		//courses
		if ($(this).val() == '1')
		{
			$(".minreg_text").html('<?php echo $this->translate('Minimum No Registered Courses');?>');
			$(".maxreg_text").html('<?php echo $this->translate('Maximum No Registered Courses');?>');
		}
		else
		{
			//credit hours
			$(".minreg_text").html('<?php echo $this->translate('Minimum No Registered Credit Hour');?>');
			$(".maxreg_text").html('<?php echo $this->translate('Maximum No Registered Credit Hour');?>');
		}
	});*/
});
</script>
