<style>
.table{
	font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	background-color: #fafafa;
	border-spacing: 0;
    border-collapse: collapse;
    font-size: 10px;
}
</style>
<!-- <div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div> -->



<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>


<fieldset>
	<legend><?php echo $this->translate('Programme Landscape')?></legend>
	<?php echo $this->form; ?>
</fieldset>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="uk-table uk-table-stacked uk-table-admin" class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th align="left" ><?php echo $this->translate("Program").' '.$this->translate("Name");?></th>
		<th align="left"><?php echo $this->translate("Program Code");?></th>
		<!-- <th><?php echo $this->defaultlanguage;?></th> -->
	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjlandscape): ?>
	<tr>
		<td><a href="<?php echo $this->baseUrl();?>/admin/landscape/landscape-list/id/<?php echo $this->escape($lobjlandscape['IdProgram']);?>" >
			<?php print_r($this->escape($lobjlandscape['ProgramName']));?></a></td>
		<td><?php echo $lobjlandscape["ProgramCode"]; ?></td>
		<!-- <td><?php print_r($this->escape($lobjlandscape['ArabicName']));?></td> -->
		<?php endforeach; ?>
		<?php endif; ?> 
	</tr>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>