<script type="text/javascript">
$(function() {
	$( ":ui-dialog" ).dialog( "destroy" );

	$( "#dialog-add-block" ).dialog({
		modal: true,
		autoOpen: false,
		width: 650		
	});

	$( "#dialog-add-blocksem" ).dialog({
		modal: true,
		autoOpen: false,
		width: 650
	});

	
});

function addLevel(){
	url= "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'add-level','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true); ?>";
	$('#dialog-add-block').load(url);
	$('#dialog-add-block').dialog('open');
	
	return false;
}

function addLevelsem(){
	url= "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'add-level-sem','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true); ?>";
	$('#dialog-add-blocksem').load(url);
	$('#dialog-add-blocksem').dialog('open');
	
	return false;
}

function back(){
	window.location = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true);?>";
}

</script>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Info"); ?></a></div></li>
	 	<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Program Requirments"); ?></a></div></li>	
	 	<?php if ( $this->landscape['LandscapeType']==42 ) { ?>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-levels','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate('Levels')?></a></li>
		<?php } ?>
		<?php if($this->landscape["LandscapeType"]==44){?>
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-block-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<?php }else{?>
			
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'course-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<?php } ?>
	</ul>
	<div class="clear"></div>
</div>
<br>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		   	<?php if($this->total_block < $this->landscape["Levelcount"]){ ?>
		   	<li>
				<a href="#" onclick="return addLevel();">
					<span class='add'></span>
					<?php echo $this->translate('Add Level')?>
				</a>
			</li>
			<?php } ?>
			<li>
				<a href="#" onclick="return addLevelsem();">
					<span class='add'></span>
					<?php echo $this->translate('Add Level Semester')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />

<!-- levels -->
<h3><?php echo $this->translate("Levels")?></h3>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
<tr>					
	<th width="10%"><?php echo $this->translate('Level')?></th>
	<th width="35%"><?php echo $this->translate('Level Name')?></th>
	<th width="35%%"><?php echo $this->translate('Prerequisite')?></th>
	<th></th>
</tr>

<?php 
if(is_array($this->blocks))
{
	$total_credit_hours=0;
	foreach($this->blocks as $block) 
	{ 						
		?>
		<tr>
			<td align="center"><?php echo $block["block"]?></td>
			<td align="left"><?php echo $block["blockname"]?></td>
			<td><?php echo $block["preq_name"]?></td>
			<td align="center" class="options">
				<a onclick="return sure('<?php echo $this->translate('Are you sure?')?>')" href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-level','blockid'=>$block['idblock'],'idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true)?>"><?php echo $this->translate('Delete')?></a>
			</td>
		</tr>
	<?php } 
}
?>
</table>
<!-- /levels -->

<br /><br />

<!-- levels sem -->
<h3><?php echo $this->translate("Level Semester")?></h3>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
<tr>					
	<th width="40%"><?php echo $this->translate('Level Name')?></th>
	<th width="40%"><?php echo $this->translate('Semester')?></th>
	<th></th>
</tr>

<?php 
if(is_array($this->block_semester))
{
	$total_credit_hours=0;
	foreach($this->block_semester as $block) 
	{ 						
		?>
		<tr>
			<td><?php echo $block["blockname"]?></td>
			<td><?php echo $block["semesterid"]?></td>
			<td align="center" class="options">
				<a onclick="return sure('<?php echo $this->translate('Are you sure?')?>')" href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-level-semester','blockid'=>$block['IdLandscapeblocksemester'],'idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true)?>"><?php echo $this->translate('Delete')?></a>
			</td>
		</tr>
	<?php } 
}
?>
</table>
<!-- /levels sem -->

<!-- dialog -->
<div id="dialog-add-block" title="Add Level"></div>
<div id="dialog-add-blocksem" title="Add Level Semester"></div>