<style>
.table{
	font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	background-color: #fafafa;
	border-spacing: 0;
    border-collapse: collapse;
    font-size: 10px;
}
.toolbar-button ul li a .add { display:block; color:black; margin:0 auto 4px auto; width:24px; height:24px; background: url('../../images/icons_toolbar/icon_add.png') no-repeat  }
</style>
<script type="text/javascript">

$(function() {
	// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
	$( "#dialog:ui-dialog" ).dialog( "destroy" );


	$( "#dialog-add-program-requirement" ).dialog({
		modal: true,
		autoOpen: false,
		width: 650		
	});

	$( "#dialog-edit-program-requirement" ).dialog({
		modal: true,
		autoOpen: false,
		width: 650		
	});

	$("#RequirementType").on('change', function()
	{
		toggleReqType();
	});
});

function toggleReqType()
{
	var val = $("#RequirementType").val();

	if (val == 1)
	{
		$("#CreditHours-label label").html('<?php echo $this->translate('Minimum Credit')?>');
	}
	else
	{
		$("#CreditHours-label label").html('<?php echo $this->translate('Minimum Papers')?>');
	}
}

function toggleReqTypeEdit()
{
	var val = $("#RequirementTypeEdit").val();

	if (val == 1)
	{
		$("#CreditHoursEdit-label label").html('<?php echo $this->translate('Minimum Credit')?>');
	}
	else
	{
		$("#CreditHoursEdit-label label").html('<?php echo $this->translate('Minimum Papers')?>');
	}
}

function addDetail(id){	
	$('#dialog-add-program-requirement').dialog('open');
	return false;
}

function editDetail(id){
	url = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'edit-program-requirement','landscapeId'=>$this->landscapeId,'programId'=>$this->programId),'default',true); ?>/IdProgramReq/"+id;
	$('#dialog-edit-program-requirement').load(url, function()
	{
		$("#EditRequirementType").on('change', function()
		{
			toggleReqTypeEdit();
		});
	});
	$('#dialog-edit-program-requirement').dialog('open');


	return false;
}

function delDetail(id){	

	var ask = sure('<?php echo $this->translate('Are you sure you want to delete this?')?>');
	if ( ask === false)
	{
		return false;
	}

	window.location = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape', 'action'=>'delete-program-requirement','landscapeId'=>$this->landscapeId,'programId'=>$this->programId),'default',true); ?>/IdProgramReq/"+id;

	return false;
}

function back(){

	window.location = "<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true);?>";

	return false;
}

</script>
<!-- <div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'edit-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Info"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'program-requirement','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Programme Requirments"); ?></a></div></li>
		<?php if ( $this->landscape['LandscapeType']==42 ) { ?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-levels','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate('Levels')?></a></li>
		<?php } ?>
		<?php if($this->landscape["LandscapeType"]==44){?>
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'manage-block-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<?php }else{?>
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'course-landscape','idlandscape'=>$this->landscapeId,'id'=>$this->programId),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<?php } ?>	
	</ul>
	<div class="clear"></div>
</div> -->

<br />

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	
</div>

<br />

<fieldset>
	<legend><?php echo $this->translate('Edit Landscape')?></legend>
	<ul>
		<li><?php echo $this->programinfo['ProgramCode']?> - <?php echo $this->programinfo['ProgramName']?></li>
		<li><?php echo $this->scheme['ProgramMode'].' - '.$this->scheme['StudyMode'].' - '.$this->scheme['ProgramType']?></li>
	</ul>
</fieldset>

<br />

<div id="dialog-add-program-requirement" title="Add Program Requirement">
<?php 
	$this->form->setAction($this->url());
	echo  $this->form;
?>
</div>
<div id="dialog-edit-program-requirement" title="Edit Program Requirement"></div>


<div>
	<h3 class="title"><?php echo $this->translate("Programme Requirement List")?></h3>
	<!--<span class="buttons">
	    <a class="positive addLink" href="#" onClick="javscript:addDetail();">
	    	Add Requirement       
	    </a>
	</span>
	-->
	<table class="uk-table uk-table-stacked uk-table-admin table" width="100%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<th><?php echo $this->translate('Course Type')?></th>
			<th width="15%"><?php echo $this->translate('Compulsory')?></th>
			<th width="15%"><?php echo $this->translate("Requirement Type")?></th>
			<th width="15%"><?php echo $this->translate('Minimum Credit Hours')?></th>
			<th width="15%"><?php echo $this->translate('Minimum Papers')?></th>
			<th width="15%"></th>
		</tr>
		<?php 
		if(count($this->programrequirement)>0)
		{
			$total_credit_hours=0;
			$total_papers=0;
			foreach($this->programrequirement as $req){

			
			?>
			<tr>
				<td><?php echo $req["DefinitionDesc"]?></td>
				<td align="center"><?php echo ($req["Compulsory"]==1) ? $this->translate("Yes"): $this->translate("No")?></td>
				<td align="center"><?php echo $req['RequirementType'] == 1 ? $this->translate("Credit Hours") : $this->translate("Papers") ?></td>
				<?php if ( $req['RequirementType'] == 1 ) { 
				$total_credit_hours = $total_credit_hours + $req["CreditHours"];
				?>
				<td align="center"><?php echo $req["CreditHours"]?></td>
				<td align="center">-</td>
				<?php } else { 
				$total_papers = $total_papers + $req["CreditHours"];
				?>
				<td align="center">-</td>
				<td align="center"><?php echo $req["CreditHours"]?></td>
				<?php } ?>
				<td class="options center">
				<a href="#" onclick="return editDetail('<?php echo $req["IdProgramReq"]?>')"><?php echo $this->translate('Edit')?></a> |
				<a href="#" onclick="return delDetail('<?php echo $req["IdProgramReq"]?>')"><?php echo $this->translate('Delete')?></a>
				</td>
			</tr>
			<?php 
		} //end foreach 
		?>
		<tr>
			<td align="right" colspan="3"><?php echo $this->translate('Total')?></td>
			<td align="center"><strong><?php echo $total_credit_hours;?></strong></td>
			<td align="center"><strong><?php echo $total_papers;?></strong></td>
			<td>&nbsp;</td>
		</tr>
		<?php } else { ?>
		<tr>
			<td colspan="4">
			<?php echo $this->translate('No types found.')?>
			</td>
		</tr>
		<?php } ?>
	</table>
	<div  align='center' style='padding-top:2%;'>
	<a href="#" onclick="return addDetail()" >
	<input name="Button" type="reset" class="uk-button"  label=<?php echo $this->translate("Add") ?> value=<?php echo $this->translate('Add')?>	
	</a>
	<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'landscape','action'=>'landscape-list'),'default',true);?>" >
		<input name="Button" type="Button" class="uk-button"  label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>		
	</a>
	</div>
	
</div>