<script>
$(function() {

	var program_id = <?php echo $this->role['ma_program_id']; ?>;
	var branch_id = <?php echo $this->role['ma_branch_id']; ?>;
	var course_id = <?php echo $this->role['ma_course_id']; ?>;
	
	
	$.ajax({
		url: "/default/ajax-utility/get-program",
	    type: "post",
	    async : false,
	    data: {'faculty_id':<?php echo $this->role['ma_faculty_id']; ?>},
	    dataType: 'json',
	    success: function(data){
	    	$('#ma_program_id').empty();
			$('#ma_program_id').append('<option value="">-- All --</option>');
	    	
		    	$.each(data, function(index) {
			    	if(data[index].IdProgram==program_id){
						var selected = 'selected';
			    	}
	    			$('#ma_program_id').append('<option '+selected+' value="'+data[index].IdProgram+'">'+data[index].ProgramCode+' - '+data[index].ProgramName+'</option>');
		    			
		    	});
	          
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading('ma_program_id');
	      
		},
		complete: function() {
			hideLoading('ma_program_id');
		}   
	});


	$.ajax({
		url: "/default/ajax-utility/ajax-get-branch",
	    type: "post",
	    async : false,
	    data: {'program_id':program_id},
	    dataType: 'json',
	    success: function(data){
	    	$('#ma_branch_id').empty();
			$('#ma_branch_id').append('<option value="">-- All --</option>');
		    	
		    	$.each(data, function(index) {
		    		if(data[index].IdBranch==branch_id){
						var selected = 'selected';
			    	}
		    		$('#ma_branch_id').append('<option '+selected+' value="'+data[index].IdBranch+'">'+data[index].BranchCode+' - '+data[index].BranchName+'</option>');	
		    	});
	          
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading('ma_branch_id');
	      
		},
		complete: function() {
			hideLoading('ma_branch_id');
		}   
	});


	$.ajax({
		url: "/default/ajax-utility/ajax-get-course",
	    type: "post",
	    async : false,
	    data: {'faculty_id':<?php echo $this->role['ma_faculty_id']; ?>},
	    dataType: 'json',
	    success: function(data){
	    	$('#ma_course_id').empty();
			$('#ma_course_id').append('<option value="">-- All --</option>');
		    	
		    	$.each(data, function(index) {
		    		if(data[index].IdSubject==course_id){
						var selected = 'selected';
			    	}
		    		$('#ma_course_id').append('<option '+selected+' value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
		    	});
	          
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading('ma_course_id');
	      
		},
		complete: function() {
			hideLoading('ma_course_id');
		}   
	});

	
});

function showLoading(target,target_div){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}


$(function() {
	$( "#ma_start_date" ).datepicker({
	defaultDate: "+1w",
	changeMonth: true,
	onClose: function( selectedDate ) {
	$( "#ma_end_date" ).datepicker( "option", "minDate", selectedDate );
	}
	});
	$( "#ma_end_date" ).datepicker({
	defaultDate: "+1w",
	changeMonth: true,
	onClose: function( selectedDate ) {
	$( "#ma_start_date" ).datepicker( "option", "maxDate", selectedDate );
	}
	});
	});


	function getProgram(){
		
		var faculty_id = $('#ma_faculty_id').val();
				
		if(faculty_id!=0){
			$.ajax({
				url: "/default/ajax-utility/get-program",
			    type: "post",
			    async : false,
			    data: {'faculty_id':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#ma_program_id').empty();
					$('#ma_program_id').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#ma_program_id').append('<option value="'+data[index].IdProgram+'">'+data[index].ProgramCode+' - '+data[index].ProgramName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('ma_program_id');
			      
				},
				complete: function() {
					hideLoading('ma_program_id');
				}   
			});
		}
	}

	function getData(){
		getProgram();
		getCourse()
	}

	function getBranch(){
		
		var faculty_id = $('#ma_faculty_id').val();
		var program_id = $('#ma_program_id').val();
				
		if(program_id!=0 && faculty_id!=0) {
			$.ajax({
				url: "/default/ajax-utility/ajax-get-branch",
			    type: "post",
			    async : false,
			    data: {'program_id':program_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#ma_branch_id').empty();
					$('#ma_branch_id').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#ma_branch_id').append('<option value="'+data[index].IdBranch+'">'+data[index].BranchCode+' - '+data[index].BranchName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('ma_branch_id');
			      
				},
				complete: function() {
					hideLoading('ma_branch_id');
				}   
			});
		}
	}

	function getCourse(){
		
		var faculty_id = $('#ma_faculty_id').val();
		var program_id = $('#ma_program_id').val();
				
		if(faculty_id!=0) {
			$.ajax({
				url: "/default/ajax-utility/ajax-get-course",
			    type: "post",
			    async : false,
			    data: {'faculty_id':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#ma_course_id').empty();
					$('#ma_course_id').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#ma_course_id').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('ma_course_id');
			      
				},
				complete: function() {
					hideLoading('ma_course_id');
				}   
			});
		}
	}


</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->backURL;?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php 
	$this->form->setAction($this->url());
	echo  $this->form;
?>	
