<script>
function add(){
	window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'module-accessibility', 'action'=>'add'));?>";
}

function edit(){
	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any role first'); ?>');
	}else{
		window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'module-accessibility', 'action'=>'edit'));?>/id/"+id;
	}
}

function del(title, id){
	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any role first'); ?>');
	}else{
		if(confirm('Are you sure to delete this role ?')){
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'module-accessibility', 'action'=>'delete')); ?>/id/"+id;
		}
	}
}

$(function() {
	$( "#start_date" ).datepicker({
	defaultDate: "+1w",
	changeMonth: true,
	onClose: function( selectedDate ) {
	$( "#end_date" ).datepicker( "option", "minDate", selectedDate );
	}
	});
	$( "#end_date" ).datepicker({
	defaultDate: "+1w",
	changeMonth: true,
	onClose: function( selectedDate ) {
	$( "#start_date" ).datepicker( "option", "maxDate", selectedDate );
	}
	});
	});


	function getProgram(){
		
		var faculty_id = $('#faculty_id').val();
				
		if(faculty_id!=0){
			$.ajax({
				url: "/default/ajax-utility/get-program",
			    type: "post",
			    async : false,
			    data: {'faculty_id':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#program_id').empty();
					$('#program_id').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#program_id').append('<option value="'+data[index].IdProgram+'">'+data[index].ProgramCode+' - '+data[index].ProgramName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('program_id');
			      
				},
				complete: function() {
					hideLoading('program_id');
				}   
			});
		}
	}

	function getData(){
		getProgram();
		getCourse()
	}

	function getBranch(){
		
		var faculty_id = $('#faculty_id').val();
		var program_id = $('#program_id').val();
				
		if(program_id!=0 && faculty_id!=0) {
			$.ajax({
				url: "/default/ajax-utility/ajax-get-branch",
			    type: "post",
			    async : false,
			    data: {'program_id':program_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#branch_id').empty();
					$('#branch_id').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#branch_id').append('<option value="'+data[index].IdBranch+'">'+data[index].BranchCode+' - '+data[index].BranchName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('branch_id');
			      
				},
				complete: function() {
					hideLoading('branch_id');
				}   
			});
		}
	}

	function getCourse(){
		
		var faculty_id = $('#faculty_id').val();
		var program_id = $('#program_id').val();
				
		if(faculty_id!=0) {
			$.ajax({
				url: "/default/ajax-utility/ajax-get-course",
			    type: "post",
			    async : false,
			    data: {'faculty_id':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#course_id').empty();
					$('#course_id').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#course_id').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('course_id');
			      
				},
				complete: function() {
					hideLoading('course_id');
				}   
			});
		}
	}


	function showLoading(target,target_div){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					<?php echo $this->translate("Edit");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					<?php echo $this->translate("Delete");?>
				</a>
			</li>
			<li class="divider"></li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info");?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?}?>
<br />
<fieldset>
<legend><?php echo $this->translate("Search Options")?></legend>
<?php echo $this->form;?>
</fieldset>
<br>
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
	<thead>
	<tr>
		<th width="25px">&nbsp;</th>
    	<th><?php echo $this->translate("Role Name");?></th>
    	<th><?php echo $this->translate("Start Date");?></th>
    	<th><?php echo $this->translate("End Date");?></th>
        <th><?php echo $this->translate("Faculty");?></th>
        <th><?php echo $this->translate("Program");?></th>
        <th><?php echo $this->translate("Branch");?></th>
        <th><?php echo $this->translate("Course");?></th>
    </tr>
    </thead>
    <tbody>
    <?php 
    if (count($this->accessList)): 
    	foreach ($this->accessList as $access): 
    ?>
  		<tr id="">
  			<td align="center"><input type="radio" name="id" value="<?php echo $access['ma_id'];?>" /></td>
        	<td><?php echo $access['RoleName'];?></td>
        	<td><?php echo date('d-m-Y',strtotime($access['ma_start_date']));?></td>
        	<td><?php echo date('d-m-Y',strtotime($access['ma_end_date']));?></td>
        	<td><?php echo ($access['ma_faculty_id']!=0 ? $access['CollegeName']:$this->translate('All'));?></td>
        	<td><?php echo ($access['ma_program_id']!=0 ? $access['ProgramName']:$this->translate('All'));?></td>
        	<td><?php echo ($access['ma_branch_id']!=0 ? $access['BranchName']:$this->translate('All'));?></td>
        	<td><?php echo ($access['ma_course_id']!=0 ? $access['SubjectName']:$this->translate('All'));?></td>
       	</tr>
	<?php 
		endforeach;
	endif; 
	?>
	<tr>
        <td colspan="8" align="right">
        	<div class="pagination"><?php echo $this->paginationControl($this->accessList,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>
	</tbody>
</table>
	
