<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'migrate','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />

<fieldset>
	<legend><?php echo $this->translate('Migration')?></legend>
	
	<div id="mainTabContainer" dojoType="dijit.layout.TabContainer" doLayout="false" tabPosition="top">
	<!--  tab container -->	
		
		<!--  tab -->
		<div dojoType="dijit.layout.ContentPane" id="tab-one" title="<?php echo $this->translate("General");?>" style="height: auto; width: 99%; overflow: auto">
			<div id="first">
				<form method="post" action="<?php echo $this->baseUrl()?>/generalsetup/migrate/general">
				<table width="100%" class="table">
					<tr>
						<th width="1%"></th>
						<th><?php echo $this->translate('File') ?></th>
						<th><?php echo $this->translate('Size')?></th>
					</tr>
					<?php if ( !empty($this->files_general)): foreach($this->files_general as $file):?>
					<?php if ( filext($file) == 'csv' ): ?>
					<tr>
						<td><input type="radio" value="<?php echo $file ?>" name="file" /></td>
						<td><?php echo $file ?></td>
						<td><?php echo $this->filesizes_general[$file]?></td>
					</tr>
					<?php endif; ?>
					<?php endforeach; ?> 
					<?php else: ?>
					<tr>
						<td colspan="3"><?php echo $this->translate('No CSV found')?></td>
					</tr>
					<?php endif; ?>
				</table>
				<div class="opt">
						<input type="submit" onclick="return sure()" name="semestermaster" value="<?php echo $this->translate('Import Semester Master')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="coursemaster" value="<?php echo $this->translate('Import Course Master')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="coursemaster2" value="<?php echo $this->translate('Import Course Master (2)')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="accountcode" value="<?php echo $this->translate('Import Account Code')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="feecategory" value="<?php echo $this->translate('Import Fee Category')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="feeitem" value="<?php echo $this->translate('Import Fee Item')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="feeitemamount" value="<?php echo $this->translate('Import Fee Item Amount')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="mapping" value="<?php echo $this->translate('Import Applicant Mapping')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="lecturer" value="<?php echo $this->translate('Import Lecturer')?>" class="greybtn" />

						<input type="submit" onclick="return sure()" name="examiner" value="<?php echo $this->translate('Import Examiner')?>" class="greybtn" />

						
				</div>
				</form>
							
			</div>	
		</div>
		<!--  /tab -->

		<!--  tab -->
		<div dojoType="dijit.layout.ContentPane" id="tab-two" title="<?php echo $this->translate("Applicant");?>" style="height: auto; width: 99%; overflow: auto">
			<div id="second">
				<form method="post" action="<?php echo $this->baseUrl()?>/generalsetup/migrate/applicant">
				<table width="100%" class="table">
					<tr>
						<th width="1%"></th>
						<th><?php echo $this->translate('File') ?></th>
						<th><?php echo $this->translate('Size')?></th>
					</tr>
					<?php if ( !empty($this->files_applicant)): foreach($this->files_applicant as $file):?>
					<?php if ( filext($file) == 'csv' ): ?>
					<tr>
						<td><input type="radio" value="<?php echo $file ?>" name="file" /></td>
						<td><?php echo $file ?></td>
						<td><?php echo $this->filesizes_applicant[$file]?></td>
					</tr>
					<?php endif; ?>
					<?php endforeach; ?> 
					<?php else: ?>
					<tr>
						<td colspan="3"><?php echo $this->translate('No CSV found')?></td>
					</tr>
					<?php endif; ?>
				</table>
				<div class="opt">
		
					<input type="submit" onclick="return sure()" name="applicant" value="<?php echo $this->translate('Import Applicant')?>" class="greybtn" />
					
					<input type="submit" onclick="return sure()" name="applicantdet" value="<?php echo $this->translate('Import Applicant Details')?>" class="greybtn" />

					<input type="submit" onclick="return sure()" name="applicantchecklist" value="<?php echo $this->translate('Import Applicant Checklist')?>" class="greybtn" />

					<input type="submit" onclick="return sure()" name="intake" value="<?php echo $this->translate('Import Applicant Intake Update')?>" class="greybtn" />

					<input type="submit" onclick="return sure()" name="reset" value="<?php echo $this->translate('Reset Applicant')?>" class="greybtn" />

					<input type="submit" onclick="return sure()" name="mail" value="<?php echo $this->translate('Send Mail Applicant')?>" class="greybtn" />
				</div>
				</form>
							
			</div>	
		</div>
		<!--  /tab -->

		<!--  tab -->
		<div dojoType="dijit.layout.ContentPane" id="tab-three" title="<?php echo $this->translate("Student");?>" style="height: auto; width: 99%; overflow: auto">
			<div id="second">
				<form method="post" action="<?php echo $this->baseUrl()?>/generalsetup/migrate/student">
				<table width="100%" class="table">
					<tr>
						<th width="1%"></th>
						<th><?php echo $this->translate('File') ?></th>
						<th><?php echo $this->translate('Size')?></th>
					</tr>
					<?php if ( !empty($this->files_student)): foreach($this->files_student as $file):?>
					<?php if ( filext($file) == 'csv' ): ?>
					<tr>
						<td><input type="radio" value="<?php echo $file ?>" name="file" /></td>
						<td><?php echo $file ?></td>
						<td><?php echo $this->filesizes_student[$file]?></td>
					</tr>
					<?php endif; ?>
					<?php endforeach; ?> 
					<?php else: ?>
					<tr>
						<td colspan="3"><?php echo $this->translate('No CSV found')?></td>
					</tr>
					<?php endif; ?>
				</table>
				<div class="opt">
					<input type="submit" onclick="return sure()" name="scholarship" value="<?php echo $this->translate('Scholarship')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="visiting" value="<?php echo $this->translate('Import Visiting')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="profile" value="<?php echo $this->translate('Import Profile')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="update" value="<?php echo $this->translate('Update')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="mail" value="<?php echo $this->translate('Mail')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="mail2" value="<?php echo $this->translate('Mail #2')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="mail3" value="<?php echo $this->translate('Mail #3')?>" class="greybtn" />
				</div>
				</form>
							
			</div>	
		</div>
		<!--  /tab -->

		<!--  tab -->
		<div dojoType="dijit.layout.ContentPane" id="tab-four" title="<?php echo $this->translate("Finance");?>" style="height: auto; width: 99%; overflow: auto">
			<div id="second">
				<form method="post" action="<?php echo $this->baseUrl()?>/generalsetup/migrate/finance">
				<table width="100%" class="table">
					<tr>
						<th width="1%"></th>
						<th><?php echo $this->translate('File') ?></th>
						<th><?php echo $this->translate('Size')?></th>
					</tr>
					<?php if ( !empty($this->files_student)): foreach($this->files_fin as $file):?>
					<?php if ( filext($file) == 'csv' ): ?>
					<tr>
						<td><input type="radio" value="<?php echo $file ?>" name="file" /></td>
						<td><?php echo $file ?></td>
						<td><?php echo $this->filesizes_fin[$file]?></td>
					</tr>
					<?php endif; ?>
					<?php endforeach; ?> 
					<?php else: ?>
					<tr>
						<td colspan="3"><?php echo $this->translate('No CSV found')?></td>
					</tr>
					<?php endif; ?>
				</table>
				<div class="opt">
					<input type="submit" onclick="return sure()" name="invoice" value="<?php echo $this->translate('Import Invoice')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="receipts" value="<?php echo $this->translate('Import Receipts')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="reset" value="<?php echo $this->translate('Reset Receipts')?>" class="greybtn" />
					<input type="submit" onclick="return sure()" name="resetinv" value="<?php echo $this->translate('Reset Invoice')?>" class="greybtn" />
				</div>
				</form>
							
			</div>	
		</div>
		<!--  /tab -->
		
		
	<!--  /tab container  -->
	</div>
</fieldset>

<script type="text/javascript">

	function fnToggleTabs(TabAction,CurrentTabId,NextTabId)
    {
		if(TabAction == "Next"){
			var flag = true;
			if(flag)
			{
				var mainTabContainerId = dijit.byId("mainTabContainer")
			 	var tabContainerId = dijit.byId(NextTabId);
				mainTabContainerId.selectChild(tabContainerId);
			}
		}else if(TabAction == "Back"){
			var mainTabContainerId = dijit.byId("mainTabContainer")
	 		var tabContainerId = dijit.byId(NextTabId);
			mainTabContainerId.selectChild(tabContainerId);
		}
   }

	dojo.addOnLoad(function() 
	{
		<?php 
		if ( $this->curtab != '' ) 
		{
			switch ($this->curtab)
			{
				case 1; $tabname = 'tab-one';
				case 2; $tabname = 'tab-two';
				case 3; $tabname = 'tab-three';
			}
			?>
			var mainTabContainerId = dijit.byId("mainTabContainer");
          	mainTabContainerId.selectChild('<?php echo $tabname ?>');
          	<?php
		}
		?>
	});

	
</script>

<?php 
function filext($file='')
{
	$ext = pathinfo($file, PATHINFO_EXTENSION);
	return $ext;
}
?>