<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'migrate','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />
<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Date') ?></th>
		<th><?php echo $this->translate('Type')?></th>
		<th><?php echo $this->translate('Filename')?></th>
		<th><?php echo $this->translate('User')?></th>
	</tr>
	<?php if ( !empty($this->logs)): foreach($this->logs as $row):?>
	<tr>
		<td><a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'migrate', 'action' => 'viewreport', 'id' => $row['IdMigrate']), 'default', true); ?>"><?php echo date('d-m-Y G:i', strtotime($row['UpdDate']) ) ?></a></td>
		<td><?php echo $row['MigrateType']?></td>
		<td><?php echo $row['Filename']?></td>
		<td><?php echo $row['loginName']?></td>
	</tr>
	<?php endforeach; ?> 
	<?php else: ?>
	<tr>
		<td colspan="3"><?php echo $this->translate('No results')?></td>
	</tr>
	<?php endif; ?>
</table>
