<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'migrate','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br />
<fieldset>
<legend><?php echo $this->translate('Migration Log')?></legend>
<table width="100%">
	<tr>
		<td><strong><?php echo $this->translate('Date')?></strong></td>
		<td><?php echo $this->logdata['UpdDate'] ?></td>
		<td><strong><?php echo $this->translate('Type')?></strong></td>
		<td><?php echo $this->logdata['MigrateType']?></td>
	</tr>
</table>

<br />
<?php 
$logdata = json_decode($this->logdata['LogData'], true);
$fields = array();
$totalfields = 0;
$i = 0;

if ( !empty($logdata) )
{
	foreach ( $logdata[0] as $field => $value )
	{
		$fields[] = $field;
	}
	
	$totalfields = count($fields);
}
?>

<?php if ( $this->logdata['MigrateType'] == 'New Registration' && !empty($logdata)) :?>
<div class="opt">
	<a class="greybtn" href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'migrate', 'action' => 'registrationreport', 'id' =>  $this->logdata['IdMigrate']), 'default', true); ?>"><?php echo $this->translate('View Detailed Report')?></a>
</div>
<?php elseif( $this->logdata['MigrateType'] == 'Senior Landscape - Level - Error' && !empty($logdata)) :?>
<div class="opt">
	<a class="greybtn" href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'migrate', 'action' => 'landscapereport', 'id' =>  $this->logdata['IdMigrate']), 'default', true); ?>"><?php echo $this->translate('View Issues')?></a>
</div>
<?php endif; ?>

<br />
<table width="100%" class="table">
	<tr>
		<th> </th>
		<?php if ( $totalfields > 0 ): foreach ( $fields as $field ): ?>
		<th><?php echo $field ?></th>
		<?php endforeach ; endif; ?>
	</tr>
	<?php if ( !empty($logdata)): foreach($logdata as $row):  $i++; ?>
	<tr>
		<td class="center"><?php echo $i ?></td>
		<?php if ( $totalfields > 0 ): foreach ( $fields as $field ): ?>
		
		<?php if ( $field == 'IdApplication' ): ?>
		<td><a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'manualapplication', 'action' => 'newstudentapplication', 'id' => $row[$field]), 'default', true); ?>"><?php echo $row[$field] ?></a></td>
		<?php elseif ( $field == 'IdStudentRegistration' && isset($row['IdApplication']) )  : ?>
		<td><a href="<?php echo $this->url(array('module' => 'registration', 'controller' => 'studentregistration', 'action' => 'studentregistrationdetailsedit', 'idapplicant' => $row['IdApplication'], 'idreg' => $row['IdStudentRegistration']), 'default', true); ?>"><?php echo $row[$field] ?></a></td>
		<?php elseif ( $field == 'ProgramMissingLandscape') : ?>
		<td><a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'program', 'action' => 'editprogram', 'id' => $row[$field]), 'default', true); ?>"><?php echo $row[$field] ?></a></td>
		<?php elseif ( $field == 'IdLandscape' && $this->logdata['MigrateType'] == 'Landscape - Semester - Details') : ?>
		<td><a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'landscape', 'action' => 'addlandscape', 'id' => $row['IdProgram']), 'default', true); ?>"><?php echo $row[$field] ?></a></td>
		<?php else :?>
		<td><?php echo $row[$field] ?></td>
		<?php endif; ?>
		
		<?php endforeach ; endif; ?>
	</tr>
	<?php endforeach; ?> 
	<?php else: ?>
	<tr>
		<td colspan="<?php echo $totalfields?>"><?php echo $this->translate('No results')?></td>
	</tr>
	<?php endif; ?>
	<?php if ( $this->logdata['MigrateType'] == 'New Registration' && !empty($logdata)) :?>
	<!--  for opt -->
	<?php endif;?>
</table>
</fieldset>