<?php
$available_exam = 0;
foreach ($this->exam as $exam):
    if (in_array($exam['IdProgram'], $this->registeredExam)):
        continue;
    endif;
    $available_exam++;
endforeach;
?>

<style type="text/css">
    .red { color: red; }
</style>
<?php if ($this->studentRegDetl["TransactionStatus"] == 1603): ?>
    <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        <?php echo $this->translate('Your Qualification is pending approval') ?>
    </div>
<?php endif; ?><?php if ($this->studentRegDetl["TransactionStatus"] == 1604): ?>
    <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        <?php echo $this->translate('Please complete your payment first') ?>
    </div>
<?php endif; ?>
<?php //if (count($this->exam) == 0):
if ($this->studentRegDetl["TransactionStatus"] == 1602):?>

    <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> 
        <?php echo $this->translate('You have not enrolled in any exam yet. Please register a module in Qualification tab') ?>
<!--        <a href="--><?php //echo $this->baseUrl() ?><!--/courses/curriculum-register/cid/--><?php //echo $this->studentRegDetl["IdProgram"]?><!--">--><?php //echo $this->translate('Browse courses') ?><!--</a>.-->
    </div>

<?php else: ?>


    <?php   if ($this->exam && $available_exam):
            if ($this->studentRegDetl["TransactionStatus"] == 1607){    ?>
        <!--<div class="uk-alert">
            <strong> <?php /*echo count($this->exam) */?></strong> Examination are available.
        </div>-->

        <div class="tab" id="exam">
            <table class="uk-table uk-table-bordered"><!--uk-table-bordered-->
                <thead>
                    <th><?php echo $this->translate('Examination') ?></th>
                    <!--<th><?php //echo $this->translate('Prerequisite') ?></th>
                    <th><?php //echo $this->translate('Fee') ?></th>
                    <th width="50px"></th>-->
                </thead>

                <?php foreach ($this->exam as $exam):
                    if (in_array($exam['IdProgram'], $this->registeredExam)):
                        continue;
                    endif;
                    $data = array(
                        'regtype' => 'exam',
                        'cid'     => $exam['external_id'],
                        'time'    => time()
                    );

                    $data = Cms_Common::encrypt(json_encode($data));
                    ?>
                    <tr>
                        <td><?php echo $exam['ProgramName']; ?>

                            <br><br>
                            <table width="100%">
                                <tr>
                                    <th>Module Name</th>
                                    <th>Module Code</th>
                                    <!--                                    <td>Module Type</td>-->
                                    <th>Status</th>
                                </tr>
                                <?php
                                foreach ($this->StudentSubjectsDetail as $StudentSubjectsDetail){?>
                                    <tr>
                                        <td><?php echo $StudentSubjectsDetail["SubjectName"]?></td>
                                        <td><?php echo $StudentSubjectsDetail["SubCode"]?></td>
                                        <!--                                        <td>--><?php //echo $StudentSubjectsDetail["SubjectName"]?><!--</td>-->
                                        <td colspan="20%"><?php
                                            if ($StudentSubjectsDetail["ExemptionStatusSubject"] == 1) {
                                                echo "Exempted";
                                            }?>
                                        </td>
                                    </tr>
                                <?php } ?>
                            </table>
                        <!--</td>

                        <td  colspan="20%" align="right">-->

                            <?php if ($this->studentRegDetl["TimeExtension"]==0 || $this->studentRegDetl["TimeExtension"]==2) {?>
                            <div align="right" style="float:right; position: relative; margin-bottom: 0px; margin-top: -162px; margin-left: 0px; margin-right: 0px;">
                            <div class="uk-button-group">
                                <a href="<?php echo $this->baseUrl() ?>/register/enrollexam/i/<?php echo $data ?>">
                                    <button class="uk-button uk-button-small enrollexam-btn uk-button-success">Register</button>
                                </a>

                                <!--<div data-uk-dropdown="{mode:'click'}" class="enrollexam-caret">
                                    <a href="" class="uk-button uk-button-small">
                                        <i class="uk-icon-caret-down"></i>
                                    </a>

                                    <div class="uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li>
                                                <a href="<?php /*echo $this->baseUrl() */?>/register/apply-exemption/i/<?php /*echo $data */?>">
                                                    Apply for Exemption
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>-->

                            </div>
                            </div>
                            <?php } else { ?>
                            <div align="right" style="float:right; position: relative; margin-bottom: 0px; margin-top: -162px; margin-left: 0px; margin-right: 0px;">
                                <font color="red">Qualification period has expired</font>
                                <?php if (count($this->studentExtendDetails) == 0) {?>
                                <br>
                                <a href="<?php echo $this->baseUrl()?>/register/apply-time-extend/i/<?php echo $data?>">
                                    <button class="uk-button uk-button-small enrollexam-btn">Apply for Extenstion of Time</button>
                                </a>
                            <?php } else {
                                    if ($this->studentRegDetl["TimeExtension"] == 1) {
                                        echo "<br>Pending Approval for Extension of Time";
                                    }
                                    if ($this->studentRegDetl["TimeExtension"] == 2) {
                                        echo "<br><br><font color=\"green\">Extension of Time is Approved</font>";
                                    }
                                }
                            } ?>
                            </div>

                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    <?php } endif; ?>

<?php endif; ?>

<?php if ($this->myexams) : ?>
    <div class="uk-alert">
        <strong> Exam Registration.</strong>
    </div>

    <table class="uk-table uk-table-bordered">
        <thead>
            <th><?php echo $this->translate('Registration ID') ?></th>
            <th><?php echo $this->translate('Program') ?></th>
            <th><?php echo $this->translate('Exam Name') ?></th>
            <th><?php echo $this->translate('Exam Date') ?></th>
            <th><?php echo $this->translate('Status') ?></th>
            <th width="50px"><?php echo $this->translate('') ?></th>
            <th width="50px"><?php echo $this->translate('') ?></th>
            <th width="50px"><?php echo $this->translate('Slip') ?></th>
        </thead>
        <?php foreach ($this->myexams as $list) { ?>
            <?php
            
            $er_main_id     = $list['er_main_id'];
            $er_id          = $list['er_id'];
            $canChange      = false;
            $eredit         = $list['er_registration_type'];
            $today          = date('Y-m-d');
            $today_unix     = strtotime($today);
            $exam_date      = $list['es_date'];
            $exam_date_unix = strtotime($exam_date);
            $date_expired   = false;
            $expired        = false;
    
            $tomorrow       = date("Y-m-d", strtotime("+1 day", strtotime($exam_date)));
            $tomorrow_unix  = strtotime($tomorrow);
    
            if ($eredit != 10 && $list['result_status'] == 0)
            {
                $canChange = true;
            }
            if ($exam_date_unix <= $today_unix)
            {
                $canChange    = false;
            }
            
            if ($tomorrow_unix <= $today_unix)
            {
                $date_expired = true;
                $canChange    = false;
            }
            
            if ($eredit == 2 || $list['attendance_status'] > 0)
            {
                $canChange    = false;
            }
            
            if ($list['must_reschedule'])
            {
                $canChange = true;
            }
            
            ?>
            <?php  ?>
            <tr>
                <td>
                    <?php echo $list['registrationId'] ?>
                </td>
                <td>
                    <?php if (!isset($list['invoice_id'])) $list['invoice_id'] = null; ?>
                    <?php if ($list['exam_only']):?>
                        <?php
                        $data = array(
                            'er_main_id' => $list['er_main_id'],
                            'IdProgram'  => $list['IdProgram'],
                        );
                        $hash = Cms_Common::encrypt(json_encode($data));
                        ?>
<!--                        <a href="--><?php //echo $this->baseUrl(); ?><!--/user/access-exam-material/i/--><?php //echo $hash; ?><!--">-->
                            <i class="uk-icon-book"></i>
                    <?php endif; ?>
                        
                    <?php echo $list['ProgramName'] ?>
                            
                    <?php if ($list['exam_only']):?>
<!--                        </a>-->

                        <br><br>
                        <table width="100%">
                            <!--<tr>
                                <th>Module Name</th>
                                <th>Module Code</th>
                                <td>Module Type</td>
                                <th>Status</th>
                            </tr>-->
                            <?php
                            foreach ($this->StudentSubjectsDetail as $StudentSubjectsDetail){?>
                                <tr>
                                    <td><?php echo $StudentSubjectsDetail["SubjectName"]?></td>
                                    <td><?php echo $StudentSubjectsDetail["SubCode"]?></td>
                                    <!--<td>--><?php //echo $StudentSubjectsDetail["SubjectName"]?><!--</td>-->
                                    <td colspan="20%"><?php
                                        if ($StudentSubjectsDetail["ExemptionStatusSubject"] == 1) {
                                            echo "Exempted";
                                        }?>
                                    </td>
                                </tr>
                            <?php } ?>
                        </table>
                    <?php endif; ?>
                </td>
                <td>
                    <?php echo $list['examname'] ?>
                </td>
                <td>
                    <?php echo date('d M Y', strtotime($list['es_date'])); ?>
                </td>
                <td>
                    <div data-uk-tooltip="{pos:'top'}" title="Date Register : <?php echo date('d-m-Y H:i:A', strtotime($list['createddt'])) ?>">
                        <?php if ($list['must_reschedule']): ?>
                            <span class="red"><?php echo $this->translate('Slot is full. Please reschedule'); ?></span>
                        <?php else: ?>
                            <?php if ($list['pass'] == 1 && $list['allow_publish_result'] >= 0): ?>
                                <?php echo $this->translate('Pass'); ?>
                            <?php elseif ($list['pass'] == 0 and $list['pass'] != null  && $list['allow_publish_result'] >= 0): ?>
                                <?php if ($list['attendance_status'] == 395): ?>
                                    <?php echo $this->translate('Failed'); ?>
                                <?php else: ?>
                                    <?php echo $list['attendance_status_desc']; ?>
                                <?php endif; ?>
                            <?php elseif (!$date_expired): ?>
                                <?php echo $list['examStatus'] ?>
                            <?php elseif ($date_expired && !$list['attendance_status']): ?>
                                <?php $expired = true; ?>
                                <?php echo $this->translate('Pre-Registered (Expired)'); ?>
                            <?php else: ?>
                                <?php echo $list['attendance_status_desc']; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </td>
                <?php if ($canChange):?>
                    <td>
                        <a href="<?php echo $this->baseUrl()?>/exam/view-exam-detail/id/<?php echo $list['er_id'] ?>">
                            <button class="uk-button uk-button-small"><?php echo $this->translate('Reschedule'); ?></button>
                        </a><!---->
                    </td>
                <?php else: ?>
                    <td></td>
                <?php endif; ?>
                <?php

                $statusexam = array('Pre-Registered');
                if (in_array($list['examStatus'],$statusexam) && $date_expired == false): ?>
                    <td>
                        <a href="#" onclick="return deleteInvoice('<?php echo $list['invoice_id'] ?>','<?php echo $list['order_id'] ?>')">
                            <button class="uk-button uk-button-small"><?php echo $this->translate('Drop'); ?></button>
                        </a>
                    </td>
                <?php else: ?>
                    <td></td>
                <?php endif; ?>
                <!--er status | 0=Pre-Registered , 1=Registered , 10=Completed -->
                <?php $result_status = $list['result_status']; ?>
                <?php if ($list['er_registration_type'] != 0 && $result_status < 2 && $eredit != 2 && !$expired): ?>
                    <td>
                     <?php if ($list['must_reschedule']): ?>
                     <!--no slip-->
                      <?php else: ?>
                      <!--download exam slip-->
                       <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}"
                             data-uk-tooltip="{pos:'right'}" title="Download Exam Slip">
                            <button class="uk-button uk-button-small"><i
                                    class="uk-icon-download"></i>
                            </button>
                               <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a target="_blank"
                                               href="<?php echo $this->baseUrl() ?>/exam/erm-slip/id/<?php echo $er_id; ?>"><?php echo $this->translate('Exam Slip') ?></a>
                                               <!--href="<?php echo $this->baseUrl() ?>/exam/examinationlms-slip/id/<?php echo $er_id; ?>"><?php echo $this->translate('Exam Slip') ?></a>-->
                                        </li>
                                    </ul>
                                </div>
                            <?php endif; ?>                               
                        </div>
                    </td>
                <?php elseif ($result_status == 2 && $eredit != 2 && !$expired): ?>
                    <td>
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}"
                             data-uk-tooltip="{pos:'right'}"
                             title="Download Exam Slip <br> and Result Slip">
                            <button class="uk-button uk-button-small"><i
                                    class="uk-icon-download"></i>
                            </button>
                            <div class="uk-dropdown">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a target="_blank"
                                           href="<?php echo $this->baseUrl() ?>/exam/examinationlms-slip/id/<?php echo $er_id; ?>"><?php echo $this->translate('Exam Slip') ?></a>
                                    </li>
                                    <li><a target="_blank"
                                           href="<?php echo $this->baseUrl() ?>/exam/result-sliplms/id/<?php echo $er_main_id; ?>/er/<?php echo $er_id; ?>"><?php echo $this->translate('Result Slip') ?></a>
                                    </li>
                                    <li>
                                        <a target="_blank"
                                           href="<?php echo $this->baseUrl() ?>/exam/certificate-of-attendance/id/<?php echo $list['er_id'] ?>"><?php echo $this->translate('Certificate of Attendance') ?></a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </td>
                <?php else: ?>
                    <td></td>
                <?php endif; ?>
            </tr>
        <?php } ?>
    </table>
<?php else: ?>
    <!--<div class="uk-placeholder uk-text-center">
        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        <?php /*echo $this->translate('You have not enrolled in any exam yet.') */?>
        <a href="<?php /*echo $this->baseUrl() */?>/courses"><?php /*echo $this->translate('Browse modules') */?></a>.
    </div>-->
<?php endif; ?>

<?php /* // bawah ni utk apa??
<?php if ($this->totalcompleted) == 0) { ?>
    <div class="tab">
        <div class="uk-placeholder uk-text-center">
            <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> You
            have
            to enrol in a exam first <i class="uk-icon-smile-o"></i>.
        </div>
    </div>
<?php } else { ?>
    <div class="tab">
        <table class="uk-table uk-table-bordered">
            <thead>
            <th><?php echo $this->translate('Program/Course') ?></th>
            <th><?php echo $this->translate('Code') ?></th>
            <th><?php echo $this->translate('Date Enrolled') ?></th>
            <th><?php echo $this->translate('Expiry Date') ?></th>
            <th><?php echo $this->translate('Download') ?></th>
            </thead>
            <?php
            if ($this->myexams) {

                foreach ($this->myexams as $program) {

                    if (isset($program['name'])) {
                        ?>
                        <tr>
                            <td>
                                <div class="uk-text-muted"><?php echo $program['name'] ?>
                                    (<?php echo ($program['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                                    )
                                </div>

                            </td>
                            <td>
                                <?php echo $program['code'] ?>
                            </td>
                            <td>
                                <?php echo Cms_Date::date($program['enrolled_date']) ?>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <?php
                    }
                    if (!isset($program['courses'])) {
                        $program['courses'] = array();
                    }

                    foreach ($program['courses'] as $course) { ?>
                        <tr>
                            <td>
                                <?php if (isset($program['name'])) { ?>
                                    <i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>
                                <?php } ?>

                                <?php if ($course['active'] == 0) { ?>
                                    <div class="uk-text-muted"><?php echo $course['title'] ?></div>
                                <?php } else { ?>
                                    <a href="<?php echo $this->baseUrl() ?>/courses/<?php echo $course['code_safe'] ?>/learn"><?php echo $course['title'] ?></a>
                                <?php } ?>
                            </td>
                            <td>
                                <?php echo $course['code'] ?>
                            </td>
                            <td>
                                <?php echo Cms_Date::date($course['enrolled_date']) ?>
                            </td>
                            <td>
                                <?php echo $course['expiry_date'] == null ? '&mdash;' : Cms_Date::date($course['expiry_date'], 'j M Y') ?>
                            </td>
                            <td>
                                <!--
                                <div style="margin-top:4px" class="uk-progress uk-progress-mini" data-uk-tooltip title="0%">
                                    <div class="uk-progress-bar" style="width:2%;"></div>
                                </div> -->

                            </td>
                        </tr>
                    <?php }
                }
            } ?>
        </table>
    </div>
<?php } ?>
*/ ?>

<script type="text/javascript">
    function deleteInvoice(id, orderId) {
        var msg = 'Are you sure you want to drop this exam?';

        alertify.confirm(msg, function () {

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'deleteinvoice'),'default',true);?>",
                data: 'invoiceId=' + id + '&orderId=' + orderId,
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
//                    alert(id);
//$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function () {

                }
            }).done(function (data) {

                location.reload();

            });


        });

        return false;
    }

    $('.hover-cursor').click(function(e)
    {
        alertify
            .alert("Your payment is being processed and will be updated shortly.<br><br>If the payment status is still pending after 15 minutes, please do not hesitate to contact us.", function() {

            });
    });
</script>
