<?php //if ($this->myApplication[0]["IdRegistrationType"] != 1 && $this->myApplication[0]["d.DefinitionDesc"]=="DRAFT") { ?>
<!--    <div class="uk-alert">-->
<!--        Your application is incomplete. Please continue by <strong> <a href="/courses/view-qualification-detail/txn/--><?php //echo $this->myApplication[0]["at_trans_id"]?><!--">here</a></strong> for approval.-->
<!--    </div>-->
<?php //}
//if ($this->myApplication[0]["IdRegistrationType"] != 1 && $this->myApplication[0]["d.DefinitionDesc"]=="ACCEPTED" || $this->myApplication[0]["d.DefinitionDesc"]=="ENTRY"){?>
<!--    <div class="uk-alert">-->
<!--        Your application has been approved. You may continue to  <a href="../courses/curriculum/cid/--><?php //echo $this->lmscurriculumid ?><!--">register subject</a>  .-->
<!--    </div>-->
<?php ?>
<?php if($this->myApplication && $this->myApplication[0]["IdRegistrationType"] != 1) {
    ?>
<ol class="progress-track">
        <li class="progress-done">
            <div class="icon-wrap">
                <i class="icon uk-icon-upload animated"></i>
            </div>
            <span class="progress-text">
<!--                <a href="/courses/view-qualification-detail/txn/--><?php //echo $this->myApplication[0]["at_trans_id"]?><!--">-->
                    <?php echo $this->translate('Submit Documents Online')?>
<!--                </a>-->
            </span>
    </li>

	 <li class="progress-done">
	        <div class="icon-wrap">
	            <i class="icon uk-icon-file animated zoomIn"></i>
	        </div>
	        <span class="progress-text">
	<!--            <a href="/courses/curriculum-register/cid/--><?php //echo $this->lmscurriculumid?><!--">-->
	                Review and Approval by AICB
	            <!--            </a>-->
	        </span>
	    </li>
	    
	    <li class="progress-done">
        <div class="icon-wrap">
            <i class="icon uk-icon-info animated zoomIn"></i>
        </div>
        <span class="progress-text">
<!--            <a href="/courses/curriculum-register/cid/--><?php //echo $this->lmscurriculumid?><!--">-->
               Receive notification on application status
            <!--            </a>-->
        </span>
    </li>
    
	    
    <li class="progress-done">
        <div class="icon-wrap">
            <i class="icon uk-icon-link animated zoomIn"></i>
        </div>
        <span class="progress-text">
<!--            <a href="/courses/curriculum-register/cid/--><?php //echo $this->lmscurriculumid?><!--">-->
                Register Modules
<!--            </a>-->
        </span>
    </li> 

    

    <li class="progress-done">
        <div class="icon-wrap">
            <i class="icon uk-icon-shopping-cart"></i>
        </div>
        <span class="progress-text"><?php echo $this->translate('Pay')?></span>
    </li>
    </ol>

<!--    <div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">-->
<!--        <div class="uk-panel-content">-->
<!--            <h5><b> Application Checklist </b></h5>-->
<!--            <br>-->
<!--            Status : <b>Draft</b>-->
<!--            <hr>-->
<!--            <ul class="uk-list">-->
<!--                <li><span><i class="uk-icon-file-o uk-text-muted"></i> &nbsp;&nbsp;Provide Supporting Documents</span> </li>-->
<!--                <li><span><i class="uk-icon-book uk-text-muted"></i> &nbsp;&nbsp;Register Modules</span></li>-->
<!--            </ul>-->
<!---->
<!--            <br>-->
<!--            Status : <b>Approved</b>-->
<!--            <hr>-->
<!--            <ul class="uk-list">-->
<!--                <li><span><i class="uk-icon-money uk-text-muted"></i> &nbsp;&nbsp;Make Payment</span></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->

    <?php //if ($this->myApplication[0]["d.DefinitionDesc"] != "DRAFT") {?>
    <table class="uk-table uk-table-bordered">
        <thead>
        <th><?php echo $this->translate('Program/Course') ?></th>
        <th><?php echo $this->translate('Learning Mode') ?></th>
        <th><?php echo $this->translate('Code') ?></th>
        <th><?php echo $this->translate('Date Registered') ?></th>
        <th><?php echo $this->translate('Status') ?></th>
        <th><?php echo $this->translate('Membership') ?></th>
        <th><?php echo $this->translate('Action') ?></th>

        </thead>
        <?php //pr($this->myApplication);
        foreach ($this->myApplication as $application){?>
        <tr>
            <td>
<!--                <a href="/courses/view-qualification-detail/txn/--><?php //echo $application["at_trans_id"]?><!--">-->
               <?php echo $application["ProgramName"] ?>
<!--                </a>-->
            </td>
            <td>Online</td>
            <td><?php echo $application["ProgramCode"] ?></td>
            <td><?php echo date('d-m-Y H:i:s' , strtotime($application["at_create_date"])); ?></td>
            <td class="<?php echo $application["d.DefinitionDesc"] ?>"><span ><?php echo $application["d.DefinitionDesc"] ?></span>

                <?php if ($application["d.DefinitionDesc"]=="Active") {?>
                    <br>
                    <a href="/user/exam" class="uk-button uk-button-small uk-button-success">
                        Register Exam
                    </a>
                <?php }?>
            </td>

            <td>
                <?php echo $application["membershipname"] ?> &nbsp;&nbsp;
                <?php /*
                if ($application["d.DefinitionDesc"]=="Offered") { ?>
                <div class="uk-button-group">
                    <a href="/courses/view-membership-detail/userid/<?php echo $userid ?>">
                        <button class="uk-button uk-button-small enrollexam-btn">Apply</button>
                    </a>

                    <div data-uk-dropdown="{mode:'click'}" class="enrollexam-caret">
                        <a href="" class="uk-button uk-button-small uk-button-success">
                            <i class="uk-icon-caret-down"></i>
                        </a>

                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a href="/courses/view-membership-detail/userid/<?php echo $userid ?>">
                                        Apply for Membership
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <?php } else {echo "-";} ?>
                */?>
            </td>
            <td>
            	 <?php
         			if($application['at_appl_type']==2 && strtoupper($application["d.DefinitionDesc"])=="DRAFT"){ //qualification only
	            	 	$url = "/courses/view-qualification-detail/txn/".$application["at_trans_id"];
	            	 	$link_name = 'Submit Documents';
	            	 }else{
                        if(($application['at_appl_type']==3 || $application['at_appl_type']==2) && strtoupper($application["d.DefinitionDesc"])=="APPROVED"){ //both
                       // if($application['at_appl_type']==3 && strtoupper($application["TransactionStatus"])==1604){ //both
                            $url = "/courses/curriculum-register/cid/".$application["cid"]."/txnid/".$application["at_trans_id"];
                            $link_name = 'Register Modules';
                        }else{
                            $url = '';
                            $link_name = '';
                        }
                    }

                    if($url!= '' && $link_name!=''){
            	  // if (strtoupper($application["d.DefinitionDesc"])=="APPROVED" && $application["mr_status"]==1604 && $application['at_appl_type']==3){ //approved?>
                   <a target="" href="<?php echo $url; ?>">
                        <button class="uk-button uk-button-small uk-button-success"><?php echo $link_name; ?></button>
                    </a>
                <?php } ?>
                                
				<?php /*
                <?php if (strtoupper($application["d.DefinitionDesc"])=="APPROVED") { ?>
                	<?php if($this->qualification_pay==true){?>
		                <a href="/register/checkout-modedemo/i/<?php echo $this->myApplication[0]["at_trans_id"]?>">
		                    <button class="uk-button uk-button-small uk-button-success">Pay</button>
		                </a>
	                <?php } ?>
                <?php }else if (strtoupper($application["d.DefinitionDesc"])=="DRAFT"){?>
                    <a target="" href="/courses/view-qualification-detail/txn/<?php echo $this->myApplication[0]["at_trans_id"]?>">
                        <button class="uk-button uk-button-small uk-button-success">Continue</button>
                    </a>
                <?php }?>
                */ ?>
                </td>
        </tr>
            <?php } ?>
        <?php //} ?>

    </table>
<?php
}

if($this->myApplication && $this->myApplication[0]["IdRegistrationType"] != 1) {?>
<!--    <div class="uk-placeholder uk-text-center">-->
<!--        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i>-->
<!--        --><?php //echo $this->translate('You have not enrolled in any module yet.') ?>
<!--        <a href="--><?php //echo $this->baseUrl() ?><!--/courses/curriculum/cid/--><?php //echo $this->lmscurriculumid?><!--">-->
<!--            --><?php //echo $this->translate('Browse modules') ?>
<!--        </a>.-->
<!--    </div>-->
<?php }  ?>