<?php if ($this->totalcompleted == 0): ?>
    <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> 
        You have to enrol in a module first <i class="uk-icon-smile-o"></i>.
    </div>
<?php else: ?>
    <table class="uk-table uk-table-bordered">
        <thead>
            <th><?php echo $this->translate('Program/Course') ?></th>
            <th><?php echo $this->translate('Learning Mode') ?></th>
            <th><?php echo $this->translate('Code') ?></th>
            <th><?php echo $this->translate('Activity Progress'); ?></th>
            <th><?php echo $this->translate('Date Completed') ?></th>
            <th><?php echo $this->translate('Download') ?></th>
        </thead>
        <?php if ($this->completed): ?>

            <?php foreach ($this->completed as $program): ?>

                <?php if (isset($program['name'])): ?>
                    <tr>
                        <td>
                            <div class="uk-text-muted"><?php echo $program['name'] ?></div>
                        </td>
                        <td>
                            <?php echo ($program['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                        </td>
                        <td>
                            <?php echo $program['code'] ?>
                        </td>
                        <td>
                            <?php echo Cms_Date::date($program['completed_date']) ?>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                <?php endif; ?>

                <?php foreach ($program['courses'] as $course): ?>
                    <tr>
                        <?php if (isset($program['name'])): ?>
                            <td colspan="2">
                                <i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>
                        <?php else: ?>
                            <td>
                        <?php endif; ?>

                            <?php if ($course['active'] == 0): ?>
                                <div class="uk-text-muted"><?php echo $course['title'] ?></div>
                            <?php else: ?>
                                <a href="<?php echo $this->baseUrl() ?>/courses/<?php echo $course['code_safe'] ?>/learn"><?php echo $course['title'] ?></a>
                            <?php endif; ?>
                        </td>

                        <?php if (!isset($program['name'])) : ?>
                            <td>
                                <?php
                                if ($course['learningmode'] == 'OL') echo 'Online';
                                elseif ($course['learningmode'] == 'FTF') echo 'Face to Face';
                                elseif ($course['learningmode'] == 'EXEMPTION') echo 'Exemption';
                                ?>
                            </td>
                        <?php endif; ?>

                        <td>
                            <?php echo $course['code'] ?>
                        </td>
                        <td style="text-align:center;">
                            <?php echo $course['activity_progress']; ?> %
                        </td>
                        <td>
                            <?php echo Cms_Date::date($course['completed_date']) ?>
                        </td>
                        <td>
                            <?php if ($course['learningmode'] != 'EXEMPTION'): ?>
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                    <button class="uk-button uk-button-small">
                                        <i class="uk-icon-download"></i>
                                    </button>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <?php if (isset($course['IdStudentRegistration'])): ?>
                                                <li>
                                                    <a target="_blank" href="<?php echo $this->baseUrl() ?>/user/slip-registration/IdStudentRegistration/<?php echo $course['IdStudentRegistration'] ?>/IdSubject/<?php echo $course['external_id'] ?>">
                                                        <?php echo $this->translate('Registration Slip') ?>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if ($course['learningmode'] != 'OL'): ?>
                                                <li>
                                                    <a target="_blank" href="<?php echo $this->baseUrl() ?>/user/certificate-of-attendance/IdStudentRegistration/<?php echo $this->user['external_id'] ?>/IdSubject/<?php echo $course['external_id'] ?>/schedule/<?php echo $course['schedule']; ?>">
                                                        <?php echo $this->translate('Certificate of Attendance') ?>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </table>
<?php endif; ?>