<?php if(isset($this->myApplication[0]["IdRegistrationType"])) { ?>

    <?php if ($this->myApplication && $this->myApplication[0]["IdRegistrationType"] != 1) { ?>

        <table class="uk-table uk-table-bordered">
            <th><?php echo $this->translate('Name') ?></th>
            <th><?php echo $this->translate('Code') ?></th>
            <th><?php echo $this->translate('Applied Date') ?></th>
            <th><?php echo $this->translate('Status') ?></th>
            <!--<th><?php echo $this->translate('Membership') ?></th>
        -->
            <th><?php echo $this->translate('Action') ?></th>

            <?php //pr($this->myApplication);
            foreach ($this->myApplication as $application) {
                ?>
                <tr>
                    <td>

                        <?php if (($application['at_appl_type'] == 3 || $application['at_appl_type'] == 2) && (strtoupper($application["d.DefinitionDesc"]) == "PENDING APPROVAL" || strtoupper($application["d.DefinitionDesc"]) == "APPROVED" || strtoupper($application["d.DefinitionDesc"]) == "ACTIVE")){ ?>
                        <a href="/qualification/view-documents/txn/<?php echo $application["at_trans_id"] ?>">
                            <?php } ?>

                            <?php echo $application["ProgramName"] ?>

                            <?php if (($application['at_appl_type'] == 3 || $application['at_appl_type'] == 2) && strtoupper($application["d.DefinitionDesc"]) != "APPROVED"){ ?>
                        </a>
                    <?php } ?>

                    </td>
                    <td><?php echo $application["ProgramCode"] ?></td>
                    <td><?php echo date('d-m-Y H:i:s', strtotime($application["at_create_date"])); ?></td>
                    <td class="<?php echo $application["d.DefinitionDesc"] ?>">
                        <span><?php echo $application["d.DefinitionDesc"] ?></span>

                        <?php
                        /*if ($application["d.DefinitionDesc"]=="Active") {?>
                            <br>
                            <a href="/user/exam" class="uk-button uk-button-small uk-button-success">
                                Register Exam
                            </a>
                        <?php } */
                        ?>
                    </td><!--
            <td><?php echo $application["membershipname"] ?></td>
            -->
                    <td>
                        <?php
                        if ($application['at_appl_type'] == 2 && strtoupper($application["d.DefinitionDesc"]) == "DRAFT") { //qualification only
                            //$url = "/courses/view-qualification-detail/txn/".$application["at_trans_id"];
                            $url = "/qualification/documents/txn/" . $application["at_trans_id"];
                            $link_name = 'Submit Documents';
                        } else {
                            if (($application['at_appl_type'] == 3 || $application['at_appl_type'] == 2) && strtoupper($application["d.DefinitionDesc"]) == "APPROVED") { //both
                                // if($application['at_appl_type']==3 && strtoupper($application["TransactionStatus"])==1604){ //both

                                if ($application['modules']) {
                                    $url = "/qualification/view-modules/pid/" . $application["IdProgram"] . "/txnid/" . $application["at_trans_id"];
                                    $link_name = 'View Modules';
                                } else {
                                    $url = "/qualification/register-modules/cid/" . $application["cid"] . "/txnid/" . $application["at_trans_id"];
                                    $link_name = 'Register Modules';
                                }

                            } else {
                                if (strtoupper($application["d.DefinitionDesc"]) == "ACTIVE") {
                                    if ($application['modules']) {
                                        $url = "/qualification/view-modules/pid/" . $application["IdProgram"] . "/txnid/" . $application["at_trans_id"];
                                        $link_name = 'View Modules';
                                    } else {
                                        $url = '';
                                        $link_name = '';
                                    }
                                } else {
                                    $url = '';
                                    $link_name = '';
                                }
                            }
                        }

                        if ($url != '' && $link_name != '') {
                            // if (strtoupper($application["d.DefinitionDesc"])=="APPROVED" && $application["mr_status"]==1604 && $application['at_appl_type']==3){ //approved
                            ?>
                            <a target="" href="<?php echo $url; ?>">
                                <!--<button class="uk-button uk-button-small uk-button-success">-->
                                <?php echo $link_name; ?>
                                <!--</button>-->
                            </a>
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>

        </table>
        <?php
    }
} else{ ?>
    <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-group uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        <?php echo $this->translate('Apply for Qualification!') ?>&nbsp;<a href="<?php echo $this->url(array('controller'=>'Membership', 'action'=>'addqualificaion'),'default',true);?>">Click here</a>
    </div>
<?php } ?>