
<?php if(count($this->transaction)>0){ ?>
 
<?php if(isset($this->require_membership_msg)){?>
	<div class="uk-alert">
		<?php echo $this->require_membership_msg; ?>
	</div>
<?php } ?>
 
	     <table class="uk-table uk-table-bordered">
                <thead>
                    <th><?php echo $this->translate('Application Type') ?></th>
                    <th><?php echo $this->translate('Application Date') ?></th>
                    <th><?php echo $this->translate('Membership Name') ?></th>
                    <th><?php echo $this->translate('Membership App. Status') ?></th>
                    <th><?php echo $this->translate('Qualification Name') ?></th>
                    <th><?php echo $this->translate('Qualification App. Status') ?></th>
                    <th><?php echo $this->translate('Application Status') ?></th>
                    <th><?php echo $this->translate('Action') ?></th>
                </thead>
                 <?php 
                 foreach ($this->transaction as $transaction){ ?>
                 <tr>
                 	<td><?php echo $transaction['registration_type']; ?></td>
                 	<td><?php echo date('d-m-Y H:i:s',strtotime($transaction['at_create_date'])); ?></td>
                 	<td><?php echo (isset($transaction['mr_id']) && $transaction['mr_id']!='') ? $transaction['m_name']:'-'; ?></td>
                 	<td>
                 	<?php 
                 	if($this->expired_flag==false){
                 		echo (isset($transaction['mr_status']) && $transaction['mr_status']!='') ? $transaction['membership_status']:'-'; 
                 	}else{                 	
                 		echo 'Expired';
                    }?>
                    <?php /*------------------------------------------------------------------------------------------------------------
                 	<br>
                 	<small>
                 	<?php if(isset($transaction['mr_status']) && $transaction['mr_status']!=''){?>
                 		<?php if($this->expired_flag==false) { ?>
		                 	<?php if($transaction['mr_status']==1602 || $transaction['mr_status']==1608 ){?>
		                 		<a href="/membership/apply/mr_id/<?php echo $transaction['mr_id']; ?>">Continue</a>
		                 	<?php }else if ($transaction['mr_status']==1606 || $this->expired_flag==true){ //expired ?> 
		                 		<a href="/membership/renew-membership/mr_id/<?php echo $transaction['mr_id']; ?>">Renew</a>
		                 	<?php }else if($transaction['mr_status']==1604) { //approve ?>
		                 		<a href="/membership/pay-membership/mr_id/<?php echo $transaction['mr_id']; ?>">Pay</a>
		                 	<?php }else{ ?>
		                 		<a href="/membership/renew-membership/mr_id/<?php echo $transaction['mr_id']; ?>">Renew</a>
		                 	<?php } ?>
	                 	<?php } ?>
                 	<?php } ?>
                 	</small>
                 	------------------------------------------------------------------------------------------------------------*/?>
                 	</td>
                 	<td><?php echo (isset($transaction['ProgramName']) && $transaction['ProgramName']!='') ? $transaction['ProgramName']:'-'; ?></td>
                 	<td>
                 	<?php echo $transaction['qualification_status']; ?>
                 	<?php /*------------------------------------------------------------------------------------------------------------
                 	<br>
                 	<small>
                 	<?php 
                 	if(isset($transaction['ProgramName']) && $transaction['ProgramName']!=''){
	                 	if($transaction['qualification_status_id']==1604){ //approved
	                 		//check if program require membership && membership approved or active so allow to pay
	                 		if($transaction['require_membership']==1 && ($transaction['mr_status']==1607 || $transaction['mr_status']==1604)){
	                 			echo '<a href="/courses/curiculum-register/cid/'.$this->curiculum['id'].'">Pay</a>';
	                 		}
	                 	}else{
	                 		echo '<a href="/user/qualification">Continue</a>';
	                 	}
                 	}
                 	?>                 	
                 	</small>
                 	------------------------------------------------------------------------------------------------------------*/?>
                 	</td>
                 	<td>
                 	<?php echo $transaction['status']; ?>
                 	</td> 
                 	<td><?php
                 	 if($transaction['at_status']==1602) { //draft
                 		
						if($transaction['at_appl_type']==1 || $transaction['at_appl_type']==3){
                 			$url = '/membership/apply/mr_id/'.$transaction['mr_id'];
                 		}else if($transaction['at_appl_type']==2){
                 			$url = '/user/qualification';
                 		}               		
                 		echo '<a href="'.$url.'">Continue</a>';
                 		
                 	}else if($transaction['at_status']==1603) { //Pending
                 	
                 		if($transaction['at_appl_type']==1 || $transaction['at_appl_type']==3){
                 			$url = '/membership/view-membership/mr_id/'.$transaction['mr_id'].'/userid/'.$this->userid;
                 		}else{
                 			$url = '/user/qualification';
                 		}
                 		echo '<a href="'.$url.'">View</a>';
                 	}             	
                 	?></td>                  	
                 </tr>
                 <?php } ?>
            </table>
            
 <?php } else { ?>
  			<div class="uk-placeholder uk-text-center">
                <i class="uk-icon-bell-o uk-icon-medium uk-text-muted uk-margin-small-right"></i>
                <?php echo $this->translate('No new application at the momment.'); ?>
            </div>
 <?php } ?>