<?php if(isset($this->membership[0]['idDefinition'])) { ?>

  <?php if($this->membership[0]['idDefinition']==1607){?>
  
  <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-group uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        <?php echo $this->translate('You are an '.$this->membership[0]['MembershipName'].' member. Your membership will expire on '.date('d M Y', strtotime($this->membership[0]['mr_expiry_date'])).'.') ?>
    </div>
    
  <?php } else {?>

	  <?php if($this->membership[0]['idDefinition']==1604){?>
	           <div class="uk-alert uk-alert-notice"><span class="icon icon-attention uk-text-lef"> </span>Your Membership has been approved. Please proceed with payment to activate your membership.</div>
	  <?php } ?>
	           
 				<table class="uk-table uk-table-bordered">
                    <thead>
                    <th><?php echo $this->translate('Membership') ?></th>
                    <th><?php echo $this->translate('Date Created') ?></th>
                    <th><?php echo $this->translate('Date Apply') ?></th>
                    <th><?php echo $this->translate('Activation Date') ?></th>
                    <th><?php echo $this->translate('Expiry Date') ?></th> 
                    <th><?php echo $this->translate('Status') ?></th>
                    <th><?php echo $this->translate('Action') ?></th>
                    </thead>
                    <?php
                    if(count($this->membership)>0){
                    foreach ($this->membership as $application){?>
                    
                    		<?php
                    		$expired_flag = false;
                    		if(isset($application["mr_expiry_date"]) && $application["mr_expiry_date"]!=''){
	                            $expiredate = strtotime($application["mr_expiry_date"]);
	                            $today = strtotime(date("Y-m-d H:i:s"));
	                          
	                           
	                            if ($expiredate<$today) { //expired		
	                                    $statusword = "Renew";
	                             		$csstatus   = "#f48a8a";
	                             		$expired_flag=true;
	                            }
                    		}
                            
                            ?>
                            
                        <tr>
                            <td><?php echo $application["MembershipName"]; ?></td>  
                            <td><?php echo (isset($application["mr_createddt"])) ? date('d-m-Y', strtotime($application["mr_createddt"])):'-'; ?></td>
						    <td><?php echo (isset($application["mr_submit_date"])) ? date('d-m-Y', strtotime($application["mr_submit_date"])):'-'; ?></td> 
                            <td><?php echo (isset($application["mr_activation_date"])) ? date('d-m-Y', strtotime($application["mr_activation_date"])):'-'; ?></td>                       
                            <td><?php echo (isset($application["mr_expiry_date"])) ? date('d-m-Y', strtotime($application["mr_expiry_date"])):'-'; ?></td>                              
                            

                            
							<td><?php echo ($expired_flag==false) ? $application["mr_status"]:'Expired'; ?></td>
                             <td>     
                            		<?php 
                            	    
                            		if ($application["idDefinition"]==1602 ) {     //Draft
                            					$url = '/membership/apply/mr_id/'.$application['mr_id'];                         			
                            					echo '<a href="'.$url.'">Continue</a>';     
                            		}else if($application["idDefinition"]==1603 || $application["idDefinition"]==1605){  //Pending Approval atau Rejected
                            				    $url = '/membership/view-membership/mr_id/'.$application['mr_id'];                  			
                            					echo '<a href="'.$url.'">View</a>'; 
                    				}else if($application["idDefinition"]==1604){  //Approved
                                        $url = '/membership/pay-membership/mr_id/'.$application['mr_id'];
                                        if ($application["SponsorStatus"]==1 ) { // Pending bank sponsor
                                            echo 'Pending Bank Sponsor Approval';
                                        }elseif($application["SponsorStatus"]==3 ){ //reject bank sponsor
                                            echo 'Rejected Bank Sponsor | <a href="'.$url.'"> Pay</a>';
                                        }else{
                                            echo '<a href="'.$url.'"> Pay</a>';
                                        }
                            		}else if($application["idDefinition"]==1607){ //Active
                            					
                            		?>                            		
                            			<?php if ($expired_flag==true) { //expired ?>
	                                        <a href="/membership/renew-membership/mr_id/<?php echo $application['mr_id']; ?>">Renew</a>
                                        <?php }else{ ?>
                                         	<a href="/membership/upgrade-membership/mr_id/<?php echo $application['mr_id']; ?>">Upgrade Membership</a>   
                                         	| 
											<a href="/membership/renew-membership/mr_id/<?php echo $application['mr_id']; ?>">Renew</a>                                       
                                       <?php } ?>
                            		
                            		<?php 	
                            			
                            		}else if($application["idDefinition"]==1606 || $expired_flag == false){ //Expired
                                        $MembershipAppDB = new App_Model_Membership_MembershipApplication();
                                        $reinstate_list = $MembershipAppDB->getDetailsInfoByType($application['mr_sp_id'], 3);
                                        if($reinstate_list){
                                        foreach ($reinstate_list as $list){?>

                                            <?php if ($list['ma_status_id'] == 1616) { //approve
                                                $p_url = '/membership/pay-reinstatement/mr_id/'.$application['mr_id'];
                                                echo '<a href="'.$p_url.'">Pay</a>';

                                            } elseif($list["ma_status_id"]==1615 ){ //pending document
                                                $u_url = '/membership/reinstatement-membership/mr_id/'.$application['mr_id'];
                                                echo '<a href="'.$u_url.'">Upload Document</a>';

                                            }else{
                                                echo 'Pending Approval';
                                            }?>
                                        <?php }
                                        }else{
                                            $url = '/membership/reinstatement-membership/mr_id/'.$application['mr_id'];
                                            echo '<a href="'.$url.'">Reinstatement</a>';
                                        }
                                        //pr($reinstate_list);
                            		}  

                            		?>
                            </td>
                            
                        </tr>
                    <?php }
                    }?>
                </table>
<?php }//end else active?>

<?php }else{ ?>
<div class="uk-placeholder uk-text-center">
        <i class="uk-icon-group uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        <?php echo $this->translate('Be part of CIIFP Member!') ?>&nbsp;<a href="#">Click here</a>
    </div>
<?php } ?>