 <div class="uk-grid">
 <form class="uk-form uk-form-horizontal validate" method="post" id="declaration-form"  enctype="multipart/form-data">
           <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="The HasBankrupcy field is required." id="MembershipDetailsViewModel_HasBankrupcy" name="MembershipDetailsViewModel.HasBankrupcy" value="true" type="checkbox"><input name="MembershipDetailsViewModel.HasBankrupcy" value="false" type="hidden">
                                                                     I am clear from any bankruptcy order made by the Court
                                                                    <span class="field-validation-valid" data-valmsg-for="MembershipDetailsViewModel.HasBankrupcy" data-valmsg-replace="true"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="The HasProfessionalDesciplinary field is required." id="MembershipDetailsViewModel_HasProfessionalDesciplinary" name="MembershipDetailsViewModel.HasProfessionalDesciplinary" value="true" type="checkbox"><input name="MembershipDetailsViewModel.HasProfessionalDesciplinary" value="false" type="hidden">
                                                                      I have never been subject to disciplinary proceedings by professional body or association.
                                                                    <span class="field-validation-valid" data-valmsg-for="MembershipDetailsViewModel.HasProfessionalDesciplinary" data-valmsg-replace="true"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="The HasProfessionalDenial field is required." id="MembershipDetailsViewModel_HasProfessionalDenial" name="MembershipDetailsViewModel.HasProfessionalDenial" value="true" type="checkbox"><input name="MembershipDetailsViewModel.HasProfessionalDenial" value="false" type="hidden">
                                                                    I have never been denied membership of a professional body or association.
                                                                    <span class="field-validation-valid" data-valmsg-for="MembershipDetailsViewModel.HasProfessionalDenial" data-valmsg-replace="true"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="The HasMembershipRulesandRegulations field is required." id="MembershipDetailsViewModel_HasMembershipRulesandRegulations" name="MembershipDetailsViewModel.HasMembershipRulesandRegulations" value="true" type="checkbox"><input name="MembershipDetailsViewModel.HasMembershipRulesandRegulations" value="false" type="hidden">
                                                                    
                                                                    I undertake that, if admitted as a member, I shall be bound by the <a href="http://aicb.org.my/membership/overview" target="_blank">Rules and Regulations </a>  of the Asian Institute of Chartered Bankers.
                                                                    
                                                                    <span class="field-validation-valid" data-valmsg-for="MembershipDetailsViewModel.HasMembershipRulesandRegulations" data-valmsg-replace="true"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="The HasPDPAApproval field is required." id="MembershipDetailsViewModel_HasPDPAApproval" name="MembershipDetailsViewModel.HasPDPAApproval" value="true" type="checkbox"><input name="MembershipDetailsViewModel.HasPDPAApproval" value="false" type="hidden">
                                                                 
                                                                    "Asian Institute of Chartered Bankers" shall ensure that the collection, use and disclosure of your personal data are consistent with the
                                                                    Malaysian Personal Data Protection Act 2010(" <u><a href="/MembershipDetails/DownloadPDPA">PDPA</a></u> "). I acknowledge that the personal data collected and processed is obtained voluntarily
                                                                    with my consent.
                                                                 
                                                                    <span class="field-validation-valid" data-valmsg-for="MembershipDetailsViewModel.HasPDPAApproval" data-valmsg-replace="true"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>


			 <div class="uk-form-row">
                <button type="submit" name="register" class="uk-button uk-button-primary">Submit</button>
                <button type="button" class="uk-button" onclick="redirect('/user/dashboard/tab/application')">Cancel</button>
             </div>
</form>         
</div>