
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <ul class="breadcrumb">
                    <li><a href="#">CPD Activity</a></li>
                   
                </ul>
              
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Activity</a></li>
                    <li role="presentation"><a href="#tabTwo" aria-controls="tabTwo" role="tab" data-toggle="tab">Diary</a></li>
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Apply for Exemption</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                      <div class="form-static">
                         <h4 class="form-title">CPD Activity</h4> 
                         <div class="row">
                                                  <?php
            $defTypeDb = new App_Model_SmsApplication();
            $cpd = $defTypeDb->getCpdDetailsByStudentId($this->userid);
            
            $material = $defTypeDb->getMaterialListWithoutTag();

            $countMaterial = $defTypeDb->getCountCpdDetails($this->userid);
            if ($material) {
                if ($countMaterial < count($material)) {
                    ?>
                    <div class="uk-alert uk-alert-info">
                        <span class="icon icon-attention uk-text-left"> </span>
                        <b>New CPD Material has been recently added by Administrator.</b>
                    </div>
                    <table class="table table-striped" id="">
                        <tr>
                            <th><?php echo $this->translate('Title') ?></th>
                            <th><?php echo $this->translate('Venue') ?></th>
                            <th><?php echo $this->translate('Provider') ?></th>
                            <th><?php echo $this->translate('Published Date') ?></th>
                            <th><?php echo $this->translate('CPD Hours') ?></th>
                            <th><?php echo $this->translate('Action') ?></th>
                        </tr>

                        <?php foreach ($material as $m_list) {
                            $checkMaterialExist = $defTypeDb->getCheckMaterialList($this->userid, $m_list['cpdm_id']);
                            if ($checkMaterialExist == '') { ?>

                                <tr>
                                    <td width="30"><?php echo $m_list["cpdm_title"]; ?></td>
                                    <td width="15%"><?php echo $m_list["cpdm_venue"]; ?></td>
                                    <td width="15%"><?php echo $m_list["cpdm_provider"]; ?></td>
                                    <td width="10%"><?php echo (isset($m_list["created_date"])) ? date('d-m-Y', strtotime($m_list["created_date"])) : '-'; ?></td>
                                    <td width="7%" align="center"><?php echo $m_list["cpdm_hours"]; ?></td>
                                    <td width="13%">
                                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                            <a href="<?php echo $this->baseUrl() ?>/user/cpd-add-details/cpdm_id/<?php echo $m_list['cpdm_id'] ?>"
                                            <button class="uk-button uk-button-small">View Material
                                            </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <?php
                            }
                        } ?>
                    </table>

                    <hr>
                <?php }
            } ?>

            <?php
            $materialTag = $defTypeDb->getMaterialListTag($this->userid);
            // echo '<pre>';
            // print_r($materialTag);
            // die();
            $countMaterialTag = $defTypeDb->getCountCpdDetailsTag($this->userid);
            if ($materialTag) {
            if ($countMaterialTag < count($materialTag)) { ?>
            <div class="uk-alert uk-alert-warning" >
                <span class="icon icon-attention uk-text-left"> </span>
                <b>New CPD Material has been recently added by Corporate Admin.</b>
            </div>
            <table class="uk-table uk-table-bordered uk-table-middles" id="">
                <tr>
                    <th><?php echo $this->translate('Title') ?></th>
                    <th><?php echo $this->translate('Venue') ?></th>
                    <th><?php echo $this->translate('Provider') ?></th>
                    <th><?php echo $this->translate('Published Date') ?></th>
                    <th><?php echo $this->translate('CPD Hours') ?></th>
                    <th><?php echo $this->translate('Action') ?></th>
                </tr>

                <?php foreach ($materialTag as $mt_list) {
                    $checkMaterialExist = $defTypeDb->getCheckMaterialList($this->userid, $mt_list['cpdm_id']);
                    if ($checkMaterialExist == '') { ?>

                        <tr>
                            <td width="30"><?php echo $mt_list["cpdm_title"]; ?></td>
                            <td width="15%"><?php echo $mt_list["cpdm_venue"]; ?></td>
                            <td width="15%"><?php echo $mt_list["cpdm_provider"]; ?></td>
                            <td width="10%"><?php echo (isset($mt_list["created_date"])) ? date('d-m-Y', strtotime($mt_list["created_date"])) : '-'; ?></td>
                            <td width="7%" align="center"><?php echo $mt_list["cpdm_hours"]; ?></td>
                            <td width="13%">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                    <!--<a href="<?php /*echo $this->baseUrl() */ ?>/user/cpd-add-details/cpdm_id/<?php /*echo $mt_list['cpdm_id'] */ ?>"
                                <button class="uk-button uk-button-small">View Material
                                </button>
                                </a>-->
                                    <a href="<?php echo $this->baseUrl() ?>/user/view-material/cpdm_id/<?php echo $mt_list['cpdm_id'] ?>"
                                    <button class="uk-button uk-button-small">View Material
                                    </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <?php
                    }
                }
                }
                } ?>
            </table>                 
                         </div> 
                       
                      </div>
                    </div>
        <div role="tabpanel" class="tab-pane fade" id="tab4">
                   <div class="row">
                <div class="uk-column-6-6"></div>
                <div class="uk-column-6-6 uk-text-right">
                    <a href="<?php echo $this->baseUrl() ?>/user/activity">
                        <button class="uk-button uk-button-small"><i
                                    class="uk-icon-plus-circle uk-icon-medium uk-text-muted uk-margin-small-right"></i>Add
                            Activities
                        </button>
                    </a>
                </div>
            </div>

            <?php $cpd = $defTypeDb->getCpdDetailsByStudentId($this->userid); ?>
            <table class="table table-striped" id="">
                <tr>
                    <th><?php echo $this->translate('Title') ?></th>
                    <th><?php echo $this->translate('Venue') ?></th>
                    <th><?php echo $this->translate('Provider') ?></th>
                    <th><?php echo $this->translate('Published Date') ?></th>
                    <th><?php echo $this->translate('CPD Hours') ?></th>
                    <th><?php echo $this->translate('Action') ?></th>
                </tr>
                <?php if ($cpd) {
                    foreach ($cpd as $detail) {
                        ?>
                        <tr>
                            <td width="30"><?php echo $detail["cpd_title"]; ?></td>
                            <td width="15%"><?php echo $detail["cpd_venue"]; ?></td>
                            <td width="15%"><?php echo $detail["cpd_provider"]; ?></td>
                            <td width="10%"><?php echo (isset($detail["created_at"])) ? date('d-m-Y', strtotime($detail["created_at"])) : '-'; ?></td>
                            <td width="7%" align="center"><?php echo $detail["cpd_duration"]; ?></td>
                            <td width="13%">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                    <a href="<?php echo $this->baseUrl() ?>/user/cpd-details/cpd_id/<?php echo $detail['id'] ?>">
                                        <button class="uk-button uk-button-small">View Activity</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <?php }
                } ?>
            </table>
            <hr>
        </div>
                    <div role="tabpanel" class="table table-striped tab-pane fade" id="tabTwo">
                       <form class="uk-form" id="myform" name="myform" method="post" action="">
                         <table class="uk-table uk-table-bordered uk-table-middles" id="countit">
                <tr>
                    <th rowspan="2"><?php echo $this->translate('Title') ?></th>
                    <th rowspan="2"><?php echo $this->translate('Description') ?></th>
                    <th rowspan="2"><?php echo $this->translate('Venue') ?></th>
                    <th rowspan="2" width="10%"><?php echo $this->translate('Provider') ?></th>
                    <th rowspan="2" width="10%"><?php echo $this->translate('Published Date') ?></th>
                    <th colspan="3" width="20%"><?php echo $this->translate('CPD Hours') ?></th>
                </tr>
                <tr>
                    <?php
                    if ($this->student_category_list) {
                        foreach ($this->student_category_list as $cat) {
                            ?>
                            <th width="10%"><?php echo $cat["DefinitionCode"] ?></th>
                        <?php }
                    } ?>
                </tr>


                <?php $cpd = $defTypeDb->getCpdDetailsByStudentId($this->userid);

                if ($cpd) {
                    foreach ($cpd as $detail) { ?>
                        <tr>
                            <td><?php echo $detail["cpd_title"]; ?></td>
                            <td><?php echo $detail["cpd_description"]; ?></td>
                            <td><?php echo $detail["cpd_venue"]; ?></td>
                            <td><?php echo $detail["cpd_provider"]; ?></td>
                            <td align="center"><?php echo $detail["date_started"] ?></td>

                            <?php $list = $defTypeDb->fnGetDefinationNameString($detail["cpd_learning_id"]);

                            if ($list["DefinitionCode"] == 'Structured') {
                                ?>
                                <td></td>
                                <td align="center" class="count-structured"><?php echo $detail["cpd_duration"]; ?></td>
                                <td></td>

                            <?php } elseif ($list["DefinitionCode"] == 'Ethic') { ?>
                                <td align="center" class="count-eth"><?php echo $detail["cpd_duration"]; ?></td>
                                <td></td>
                                <td></td>
                            <?php } else { ?>
                                <td></td>
                                <td></td>
                                <td align="center" class="count-not"><?php echo $detail["cpd_duration"]; ?></td>
                            <?php } ?>

                        </tr>

                    <?php }
                } else { ?>
                    <tr class="">
                        <td colspan="5" align="left">No results.</td>
                    </tr>


                <?php } ?>

            </table>


                    </div> 
        <div role="tabpanel" class="tab-pane fade" id="tab3">
                      <div class="row">
                <div class="uk-column-6-6"></div>
                <div class="uk-column-6-6 uk-text-right">
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <a href="<?php echo $this->baseUrl() ?>/user/apply-exemption-cpd">
                            <button class="uk-button uk-button-small">Apply Exemption CPD</button>
                        </a>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tr>
                    <th><strong><?php echo $this->translate('#') ?></strong></th>
                    <th><strong><?php echo $this->translate('Exemption') ?></strong></th>
                    <th width="25%"><strong><?php echo $this->translate('Description') ?></strong></th>
                    <th width="15%"><strong><?php echo $this->translate('Submission Date') ?></strong></th>
                     <th width="20%"><strong><?php echo $this->translate('Supporting Document') ?></strong></th> 
                </tr>

                <?php
               $mr_id = $defTypeDb->getDataMemberId($this->userid);
               // echo $mr_id;
               // die();
                $cpdExemption = $defTypeDb->getDataExemptionByMrid($mr_id, '1');
                    
                if ($cpdExemption) {
                    $i = 1;
                    foreach ($cpdExemption as $exemption) { ?>
                        <tr>
                            <td width="30em"><?php echo $i ?>.</td>
                            <td><?php echo $exemption["cpdc_description"]; ?></td>
                            <td align=""><?php echo $exemption["cpdc_description"]; ?></td>
                            <td align="center"> <?php if ($exemption['created_date']) {
                                    echo $newDate = date("d-m-Y", strtotime($exemption['created_date']));
                                } ?></td>
                             <td align="">
                                <?php $doc = $defTypeDb->getDataByCpdeid($exemption["cpde_id"]);
                                if ($doc) { ?>

                                    <?php foreach ($doc as $docList) { ?>
                                        <a target="_blank"
                                           href="<?php echo $this->url(array('controller' => 'user', 'action' => 'download', 'doc_id' => $docList["doc_id"]), 'default', true) ?>"><i
                                                    class="icon-download"></i><?php echo $docList["doc_filename"] ?></a>
                                        <br>
                                    <?php }
                                } ?>
                            </td> 

                        </tr>

                        <?php $i++;
                    }
                } else { ?>
                    <tr class="">
                        <td colspan="5" align="left">No results.</td>
                    </tr>


                <?php } ?>

            </table>
                      </div>

    
                    </div>                   
                  </div>
                </div>
                
                <div class="button-group">
                   
                    
                </div>
           </div>                  
        </div>
    </div>
</div> 
<!-- Reject Details Modal Starts -->
<div id="rejectDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Reject Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Write details<span class="requried">*</span></label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> 
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>                
            </div>
        </div>

    </div>
</div> 
 

        <div class="tab" id="declaration">
           
            

        </div>
    </div>




                    
<style>

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #dddddd;
    }
</style>
<script language="javascript" type="text/javascript">

    // $( document ).ready(function() {
    //     getDeclarationYear(<?= $this->cur_year;?>, <?= $this->mr_id;?>);
    // });
    function getDeclarationYear(year, mr_id) {

        $("#declaration_div").load("/user/declaration-list/year/" + year + "/mr_id/" + mr_id);

    }

    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sum = 0;
    var sumNot = 0;
    var sumEth = 0;
    for (var i = 0; i < tds.length; i++) {
        if (tds[i].className == 'count-structured') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
        }

        if (tds[i].className == 'count-not') {
            sumNot += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
        }

        if (tds[i].className == 'count-eth') {
            sumEth += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
        }
    }
    document.getElementById('countit').innerHTML += '<tr><td colspan="5" align="right"><b>Cumulative CPD Hours</b></td><td align="center">' + sumEth + '</td><td align="center">' + sum + '</td><td align="center">' + sumNot + '</td></tr>';

</script>