<?php if ($this->welcome == 1): ?>
    <div class="uk-block welcome uk-text-center">
        <i class="uk-icon-thumbs-o-up animated bounceIn"></i>
        <h2>Welcome to <?php echo APP_NAME ?>! Thank you for choosing us.</h2>
        <a class="uk-button" href="<?php echo $this->baseUrl() ?>/courses"><?php echo $this->translate('Browse Course Catalog') ?></a>
    </div>
<?php endif; ?>

<?php if (!empty($this->pendingorders)) : ?>
    <div class="uk-alert uk-alert-warning">
        <i class="uk-icon-exclamation-triangle"></i>
        You have <strong><?php echo count($this->pendingorders) ?></strong> pending order<?php echo count($this->pendingorders) > 1 ? 's' : '' ?>. 
        <a href="<?php echo $this->baseUrl() ?>/user/purchase-history" class="uk-button uk-button-mini"><?php echo $this->translate('View') ?></a>
    </div>
<?php endif; ?>

<?php if ($this->totalenrolled == 0): ?>
    <div class="uk-placeholder uk-text-center">
        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> <?php echo $this->translate('You have not enrolled in any course yet.') ?>
        <a href="<?php echo $this->baseUrl() ?>/courses"><?php echo $this->translate('Browse modules') ?></a>.
    </div>
<?php else: ?>
    <table class="uk-table uk-table-bordered">
        <thead>
            <th><?php echo $this->translate('Program/Course') ?></th>
            <th><?php echo $this->translate('Learning Mode') ?></th>
            <th><?php echo $this->translate('Code') ?></th>
            <th><?php echo $this->translate('Activity Progress'); ?></th>
            <th><?php echo $this->translate('Date Enrolled') ?></th>
            <th><?php echo $this->translate('Expiry Date') ?></th>
            <th><?php echo $this->translate('Slip') ?></th>
            <th><?php echo $this->translate('Exam') ?></th>
        </thead>
        <?php if ($this->myprograms): ?>

            <?php foreach ($this->myprograms as $program): ?>

                <?php if (isset($program['name'])): ?>
                    <tr>
                        <td>
                            <div class="uk-text-muted"><?php echo $program['name'] ?></div>
                        </td>
                        <td>
                            <?php echo ($program['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                        </td>
                        <td>
                            <?php echo $program['code'] ?>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <?php echo Cms_Date::date($program['enrolled_date']) ?>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <?php
                            if (isset($program['exam']) && Cms_Options::getOption('allow_exam_registration')):
                                $data = array(
                                    'regtype' => 'exam',
                                    'cid'     => $program['id'],
                                    'time'    => time()
                                );
                                $data = Cms_Common::encrypt(json_encode($data));
                                ?>

                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                    <a target="_blank" href="<?php echo $this->baseUrl() ?>/register/enrollexam/i/<?php echo $data ?>">
                                        <button class="uk-button uk-button-small">Register</button>
                                    </a>
                                </div>
                            <?php endif ?>
                        </td>
                    </tr>
                    <?php
                endif; // if (isset($program['name']))

                foreach ($program['courses'] as $course): ?>
                    <tr>
                        <?php if (isset($program['name'])): ?>
                            <td colspan="2">
                                <i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>
                        <?php else: ?>
                            <td>
                        <?php endif; ?>
                            <?php if ($course['active'] == 0): ?>
                                <div class="uk-text-muted"><?php echo $course['title'] ?></div>
                            <?php else: ?>
                                <a href="<?php echo $this->baseUrl() ?>/courses/<?php echo $course['code_safe'] ?>/learn"><?php echo $course['title'] ?></a>
                            <?php endif; ?>
                        </td>

                        <?php if (!isset($program['name'])): ?>
                            <td>
                                <?php echo ($course['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                            </td>
                        <?php endif; ?>

                        <td>
                            <?php echo $course['code'] ?>
                        </td>
                        <td style="text-align:center;">
                            <?php echo $course['activity_progress']; ?> %
                        </td>
                        <td>
                            <?php echo Cms_Date::date($course['enrolled_date']) ?>
                        </td>
                        <td>
                            <?php echo $course['expiry_date'] == null ? '&mdash;' : Cms_Date::date($course['expiry_date'], 'j M Y') ?>
                        </td>
                        <td>
                            <?php if (isset($course['IdStudentRegistration'])): ?>
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                    <button class="uk-button uk-button-small"><i
                                            class="uk-icon-download"></i>
                                    </button>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li>
                                                <a target="_blank" href="<?php echo $this->baseUrl() ?>/user/slip-registration/IdStudentRegistration/<?php echo $course['IdStudentRegistration'] ?>/IdSubject/<?php echo $course['external_id'] ?>">
                                                    <?php echo $this->translate('Registration Slip') ?>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </td>
                        <td></td>
                    </tr>
                <?php endforeach; // foreach ($program['courses'] as $course) ?>

            <?php endforeach; // foreach ($this->myprograms as $program) ?>

        <?php endif; // if ($this->myprograms) ?>

    </table>

<?php endif; // if ($this->totalenrolled == 0) ?>