<?php
if (isset($this->myApplication[0]["rt_display_name"])){
    $displayname = $this->myApplication[0]["rt_display_name"];
} else {
    if (isset($this->membership)) {
        $displayname = "Membership";
    }
}
?>

<h3><!-- <?php echo $displayname;?> --> Application Wizard</h3>
<hr>

<ol class="progress-track">

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-upload animated"></i></div>
        <span class="progress-text"><!-- <?php echo $displayname?>  --><?php echo $this->translate('Application')?>
            <?php if (isset($this->myApplication[0]["at_appl_type"]) && $this->myApplication[0]["at_appl_type"]=="2") {echo "<br>(Submit Documents)";}?>
        </span>
    </li>

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-file animated zoomIn"></i></div>
        <span class="progress-text">Review and Approval by CIIFP</span>
    </li>

<?php if(!isset($this->myApplication[0]["IdRegistrationType"]) && isset($this->membership)) {?>
    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-shopping-cart animated zoomIn"></i></div>
        <span class="progress-text">Payment & Membership Activation</span>
    </li>
<?php } ?>

<?php if (isset($this->myApplication[0]["at_appl_type"]) && $this->myApplication[0]["at_appl_type"]=="2") {?>
    <!--<li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-info animated zoomIn"></i></div>
        <span class="progress-text">Receive notification<br>on application status</span>
    </li>-->

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-link animated zoomIn"></i></div>
        <span class="progress-text">Module Registration &<br>Payment Activation</span>
    </li>

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-shopping-cart"></i></div>
        <span class="progress-text">Exam Registration</span>
    </li>
<?php } ?>

    <?php if (isset($this->myApplication[0]["at_appl_type"]) && $this->myApplication[0]["at_appl_type"]=="3") {?>

    <!--<li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-info animated zoomIn"></i></div>
        <span class="progress-text">Receive notification<br>on application status</span>
    </li>-->

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-shopping-cart animated zoomIn"></i></div>
        <span class="progress-text">Payment & Membership Activation</span>
    </li>

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-link animated zoomIn"></i></div>
        <span class="progress-text">Modules & Exam Registration</span>
    </li>

    <li class="progress-done">
        <div class="icon-wrap"><i class="icon uk-icon-shopping-cart"></i></div>
        <span class="progress-text"><?php echo $this->translate('Payment & Qualification Activation')?></span>
    </li>
<?php } ?>
</ol>