
<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">
          <a href="#" onclick="return add();"class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i>
          <span class='add'></span>
          <?php echo $this->translate('Upload')?>
        </a>
           

        </div>
       
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="uk-table uk-table-stacked uk-table-admin">
	<tr>
		<th><?php echo $this->translate("File");?></th>
		<th><?php echo $this->translate("Total Applicants")?></th>
		<th><?php echo $this->translate("Total Imported")?></th>
		<th><?php echo $this->translate("Status")?></th>
		<th><?php echo $this->translate("Date");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'bulk-admission','action'=>'review','id'=>$data['b_id']), 'default', true);?>"><?php echo $data['b_filename']; ?></a>
		</td>
		<td><?php echo $data['b_totalapp']?></td>
		<td><?php echo $data['b_totaladded']?></td>
		<td><?php echo $data['b_status']?></td>
		<td><?php echo date('d-m-Y H:ia', strtotime($data['b_created_date'])); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="5"><?php echo $this->translate('No results available')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<script type="text/javascript">



function add(){
	window.location="<?php echo $this->url(array('module'=>'admin','controller'=>'bulk-admission','action'=>'upload'), 'default', true);?>";

	return false;
}

function back(){
	window.location="<?php echo $this->url(array('module'=>'admin','controller'=>'bulk-admission','action'=>''), 'default', true);?>";

	return false;
}
</script>