<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" action="" id="form-review" onsubmit="return sure('<?php echo $this->translate('Are you sure you want to import the selected applicant?')?>')">
<table width="100%" class="table table-striped">
	<tr>
		<th></th>
		<th width="40%"><?php echo $this->translate('Name')?></th>
		<th><?php echo $this->translate('Remarks')?></th>
	</tr>

	<?php  foreach ( $this->items as $item ) : ?>
	<?php $total = count($item)-1; ?>
	<tr id="row-<?php echo $item['BID']?>">
		<td width="5%" align="center">
			<?php if ( !in_array($item['BID'], $this->importedBID) ) {?>
			<input type="checkbox" name="item[<?php echo $item['BID']?>]" value="<?php echo $item['BID']?>" checked="checked" />
			<?php } ?>
		</td>
		<td><?php if ($item['Name'])
				echo $item['Name'];
				else if ($item['SPON_NAME'])
					echo "SPONSERSHIP";
				else
					echo "STUDENT SPONSER";
					?></td>
		<td>
			<?php if ( !empty($this->itemLog[$item['BID']]) ) { ?>
			<p><a href="#" onclick="$('#log-<?php echo $item['BID']?>').toggle(); return false;" class="red"><span class="icon icon-attention"></span> <?php echo count($this->itemLog[$item['BID']]).' '.$this->translate('problems found')?></a></p>
			<table class="table" width="100%" id="log-<?php echo $item['BID']?>" style="display:none">
				<tr>
					<th><?php echo $this->translate('Field')?></th>
					<th><?php echo $this->translate('Message')?></th>
					<th><?php echo $this->translate('Value')?></th>
				<tr>
			<?php $i = 0; ?>
			<?php foreach ( $this->itemLog[$item['BID']] as $log ) { $i++; ?>
				<tr>
					<td><?php echo $i ?>. <?php echo $log['field']; ?></td>
					<td><?php echo $log['msg']; ?></td>
					<td><?php echo $item[$log['field']]; ?></td>
				</tr>
			<?php } ?>
			</table>
			<?php } else { ?>
			<span class="green">OK</span>
			<?php } ?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>

<div class="filter-block">
      <div class="row" style="text-align: center;">	
      	<input type="submit" class="btn btn-primary" value="<?php echo $this->translate('Import')?>" name="save"/>
      </div>	
</div>
</form>

<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->url(array('module'=>'application','controller'=>'bulk-admission','action'=>'index'), 'default', true);?>";

	return false;
}
</script>