<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">
        <a href="#" onclick="return add();"class="uk-button uk-button-success"><i class="uk-icon-reply uk-margin-small-right"></i>
          <span class='back'></span>
          <?php echo $this->translate('Back')?>
        </a>
           

        </div>
       
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>


	
	<form class="uk-form uk-form-horizontal" name="myForm" action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
		<div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    

                                    <label>Only upload .csv file</label>
                                    <td><input type="file" name="file" id="file" class="form-control" value="" /><label for="file"></td>
                                    
                                </div>                                 
                            </div>
                         </div>
<input class="btn btn-primary" type="submit" name="save" id="save" value="<?php echo $this->translate('Upload')?>">
                       </div>
		
	</form>



<script type="text/javascript">
function back(){
	window.location="<?php echo $this->url(array('module'=>'admin','controller'=>'bulk-admission','action'=>''), 'default', true);?>";

	return false;
}

function validateFunction()
{
	var val = $("#file").val();
	
	if ( val == '')
	{
		alert('<?php echo $this->translate('Please upload a file first')?>');
		return false;
	}

	return true;
}
</script>