
<form class="uk-form" id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Role Category</h4>
                    <div class="filter-block">
                    <div class="clearfix">

                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Role</label>
                                  <?php echo $this->form->role_id  ?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Login Id</label>
                                    <?php echo $this->form->username  ?>                 
                               </div>                                
                            </div>                            
                        </div>
                         <div class="row">
                          <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>First Name</label>
                                    <?php echo $this->form->firstname  ?>                 
                               </div>                                
                            </div> 
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Last Name</label>
                                  <?php echo $this->form->lastname ?>                 
                               </div>                                
                            </div>
                                                       
                        </div>
                         
                                                       
                          
                       
                      
                     </div> 
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    <input type="submit" class="btn btn-primary" value='Submit'>
               <button type="button" class="btn btn-primary">Cancel</button>
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'role', 'action'=>'index'),'default',true);?>';" />
                </div>                    
                                                                                                                                        
                    </div>                                                  
                </div>

    </form>
  </div>
  
    
<script>
 


    $(document).ready(function() {
       $('#contactno').attr('type','number');
       $('#contactno').attr('min','0');

  


      $('#email').blur(function(e) {

        
        var emailID = $('#email').val()
              atpos = emailID.indexOf("@");
              dotpos = emailID.lastIndexOf(".");
         
              if (atpos < 1 || ( dotpos - atpos < 2 )) 
              {
                $('#email_data').append("Invalid email-id");
                  $('#email').val('');
                  $('#email').focus();
                  $('#email_data').empty();
                  
                
        }

    });



$("#username").blur(function(event){


   
     var username = $('#username').val();
    
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getuser',
                dataType :'json',
                data:
                    {
                      username : username,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                                  
                alert('NRIC no already exists');
                $('#username').val('');
                $('#username').focus();
                              
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });

$("#contactno").blur(function(event){
    event.preventDefault();  
     var email = $('#email').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getemail',
                dataType :'json',
                data:
                    {
                      email : email,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                      $('#email_data').empty();     
                    $('#email_data').append("Email-Id already exists");                 
                      
                        $('#email').val('');
                $('#email').focus();
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });




   });





</script>
