
<form class="uk-form" id="myform" name="myform" method="post" action="">
                                                 
                </div>

 </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role</th>
                                               
                            </tr>
                        </thead>
                        <tbody>
                             <?php  foreach ( $this->users as $users ) { ?>
                           <tr>
                               
                                <td><a href="<?php echo $this->baseUrl()?>/admin/role/roleaccess/id/<?php echo $users['idDefinition']?>"><?php echo $users['DefinitionDesc']?></a></td>
                               
                           
                            </tr>
                            <?php }?>
                    </tbody>
                </table>

