
<form class="uk-form" id="myform" name="myform" method="post" action="">
                                                 
                </div>

 </form>
                <div class="table-responsive">
                    <form class="uk-form uk-form-horizontal" method="post" id="course-form" >

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role Access</th>
                                
                                                   
                            </tr>
                        </thead>
                        <tbody>
                             <?php foreach ( $this->listmenu as $menu ) : ?>

                           <tr>
                               
                                <td style="font-weight: bold;"><input type="checkbox" name="m_menu[]" value="<?php echo $menu['id']?>" <?php if($menu['access'] == 1) { 
                          echo "checked=checked"; };?>><a href="<?php echo $this->baseUrl()?>/admin/rolemenu/edit/id/<?php echo $menu['id']?>"><?php echo $menu['menu']?></a></td>
                             </tr>
                            <?php $submenuDb = new App_Model_SubMenu();
                    $listsubmenu = $submenuDb->get_menu_access($menu['role_id'],$menu['id']);?>
                     <?php foreach($listsubmenu as $submenu):?>
                           
                             <tr style="padding-left: 10px;">
                               
                                <td style="padding-left: 50px;"><input type="checkbox" name="sub[]" value="<?php echo $submenu['id'];?>" <?php if($submenu['access'] == 1) { 
                          echo "checked=checked"; };?>><a href="<?php echo $this->baseUrl()?>/admin/rolesubmenu/edit/id/<?php echo $submenu['id']?>"><?php echo $submenu['sub_menu']?></a></td>
                               
                            
                           
                            </tr>
                             <?php endforeach;?>
                            <?php endforeach;?>
                    </tbody>
                </table>
                 <div class="button-group">
                    <input type="submit" class="btn btn-primary" value='Submit'>
               <button type="button" class="btn btn-primary">Cancel</button>
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'role', 'action'=>'rolelistpermission'),'default',true);?>';" />
                </div> 
            </div>

</form>