<h4>Programme Fee</h4>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >
    <div class="filter-block">
   <div class="row">
        <div class="col-sm-6">
            <div class="form-group"> 
                <div class="uk-form-row">
                    <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Route')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->program_route->setAttrib('class','form-control')  ?>
                    </div> 
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="form-group"> 

               
                     <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Level')?></label>
                    <div class="uk-form-controls">
                        <?php echo $this->form->program_level->setAttrib('class','form-control')  ?>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<div class="row">
        <div class="col-sm-6">
            <div class="form-group"> 
               
                <div class="uk-form-row">
                    <label class="uk-form-label" for="title"><?php echo $this->translate('Programme')?></label>
                    <div class="uk-form-controls">
                         <?php echo $this->form->program_category->setAttrib('class','form-control')  ?>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group"> 

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Effective Date')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->effective_date->setAttrib('class','form-control')  ?>
        </div>
    </div>
</div>
</div>
</div>
<div class="row">
        <div class="col-sm-6">
            <div class="form-group"> 
     
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Amount')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->amount  ?>
        </div>
    </div>
</div>
</div>

        <div class="col-sm-6">
            <div class="form-group"> 

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Amount Type')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->amount_type  ?>
        </div>
    </div>
</div>
</div>
</div>
<div class="row">
        <div class="col-sm-6">
            <div class="form-group"> 
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('GST')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->gst  ?>
        </div>
    </div>
</div>
</div>
 <div class="col-sm-6">
            <div class="form-group"> 
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->description  ?>
        </div>
    </div>
</div>
</div>

</div>
<div class="row">
        <div class="col-sm-6">
            <div class="form-group"> 
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->active  ?>
        </div>
    </div>
</div>
</div>
 <div class="col-sm-6">
            <div class="form-group"> 
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Calculated Amount')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->calculated_amount  ?>
        </div>
    </div>
</div>
</div>
</div>
  

    <div class="uk-form-row" align="center">
        <button class="btn btn-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="btn btn-inverse" type="reset"><?php echo $this->translate('Clear')?></button>
        <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'programme-fee', 'action'=>'index'),'default',true);?>';" /> 
    </div>
</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var ProgramRoute = $('#program_route').val();
            var ProgramLevel = $('#program_level').val();

                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/programme-fee/getprogram',
                    dataType :'json',
                    data:{program_route : ProgramRoute,program_level:ProgramLevel
                         },
                    success:function(response){
                   
                    var len = response.length;

                for( var i = 0; i<len; i++){
                    var id = response[i]['id'];
                    var name = response[i]['name'];
                   
                    $("#program_category").append("<option value='"+id+"'>"+name+"</option>");
            

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
     $('#calculated_amount').attr('readonly',true);

    $('#gst').change(function(){
        var gst =$('#gst').val();
        var amount = $('#amount').val();
        var gst_amount = (amount/100)*gst;
        var total_amount = parseFloat(amount)+parseFloat(gst_amount);
        $('#calculated_amount').val(total_amount);

    })
      
       $('#start_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        //$('#start_date').attr('readonly','true');
        $('#end_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        //$('#end_date').attr('readonly','true');
    })
    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            name: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: 'Description cannot be empty'
                    }
                }
            }
        }
    });

      $('#program_level').change(function () {
             var ProgramRoute = $('#program_route').val();
            var ProgramLevel = $('#program_level').val();
            var url = '<?php echo APP_URL;?>/admin/programme-fee/getprogram';
            
// alert(ProgramLevel)
//   alert(ProgramRoute)
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/programme-fee/getprogram',
                    dataType :'json',
                    data:{program_route : ProgramRoute,program_level:ProgramLevel
                         },
                    success:function(response){
                   
                    var len = response.length;


                $("#program_category").empty();
               
                for( var i = 0; i<len; i++){
                    var id = response[i]['id'];
                    var name = response[i]['name'];
                    // alert(id)
                    // alert(name)
                    
                    $("#program_category").append("<option value='"+id+"'>"+name+"</option>");
                    // $("#program_category").attr('style','width:150px');

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

</script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      

 <script>
    $("#program_route").attr('required',true);
          $("#program_level").attr('required',true);
          $("#program_category").attr('required',true);
          $("#start_date").attr('required',true);
          $("#amount").attr('required',true);
          $("#gst").attr('required',true);
          $("#calculated_amount").attr('required',true);
          $("#active").attr('required',true);
         $(function() {
            $( "#effective_date" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#end_date" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>