    <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="filter-block">
                    <h4>Member Elevation</h4>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Memberhip Category</label>
                                    <?php  echo $this->form->dropdown_member;?>               
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Membership Subtype Category</label>
                                 <select id='sub' class='form-control'name='id_member_subtype' value=''>
                                        <option>-- Select Subtype --</option>
                                                    </select>
                              </div>                                
                            </div>
                                                      
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Upgrade Member Name</label>
                                    <?php  echo $this->form->upgrade_member;?>               
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Experience Name</label>
                                  <?php  echo $this->form->experience_name;?>             
                               </div>                                
                            </div>                            
                        </div>
                         
                     </div> 
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    <input type="submit" class="btn btn-primary" value='submit'>
                
                  <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Memberelevation', 'action'=>'index'),'default',true);?>';" /> 
                </div>                    
                                                                          
                    </div>                                                  
                </div>

    </form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    
     $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                    var len = response.length;

                  
                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");
                    $("#sub").attr('style','width:150px');

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>
