<script type="text/javascript">
    $(function(){
        $('#date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $("#starttime, #endtime").timePicker({
            startTime: "06:00", // Using string. Can take string or Date object.
            endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
            show24Hours: true,
            separator: ':',
            step: 15
        });

        var oldTime = $.timePicker("#starttime").getTime();

        // Keep the duration between the two inputs.
        $("#starttime").change(function(){
            if ($("#endtime").val()){ // Only update when second input has a value.
                // Calculate duration.
                var duration = ($.timePicker("#endtime").getTime() - oldTime);
                var time = $.timePicker("#starttime").getTime();
                // Calculate and update the time in the second input.
                $.timePicker("#endtime").setTime(new Date(new Date(time.getTime() + duration)));
                oldTime = time;
            }
        });
        // Validate.
        $("#endtime").change(function() {
            if($.timePicker("#starttime").getTime() > $.timePicker(this).getTime()) {
                $(this).addClass("error");
            }
            else {
                $(this).removeClass("error");
            }
        });

        if (<?php echo $this->scheduleType; ?> == 1){
            $('#type').removeAttr('disabled');
        }else{
            $('#type').attr('disabled', '');
        }
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'manage-class', 'id'=>$this->groupid),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Schedule Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="15%"><?php echo $this->translate('Group Name'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Group Code'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Course'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max Student'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['maxstud']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Add Class'); ?></legend>
    <form method="post" id="add_form" name="add_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Date'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->date; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Start Time'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->starttime; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('End Time'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->endtime; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Class Type'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->type; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Venue'); ?> <!--<span class="reqMark">*</span>--></td>
                <td><?php echo $this->form->venue; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Lecturer'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->lecturer; ?></td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="groupid" name="groupid" value="<?php echo $this->groupid; ?>">
                    <input type="hidden" id="scdate" name="scdate" value="<?php echo $this->date; ?>">
                </td>
                <td><button type="submit" id="save" name="save"><?php echo $this->translate('Add'); ?></button></td>
            </tr>
        </table>
    </form>
</fieldset>