<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'manage-class', 'id'=>$this->groupid),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<table class="table" width="100%">
    <thead>
    <tr>
        <th>Class Type</th>
        <th>Lecturer</th>
        <th>Day</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Venue</th>
        <th>History Date</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if ($this->hisList) {
        foreach ($this->hisList as $classScheduleLoop) {
            ?>
            <tr>
                <td align="center"><?php echo $classScheduleLoop['classtype']; ?></td>
                <td align="center"><?php echo $classScheduleLoop['lecturername']; ?></td>
                <td align="center"><?php echo date('l', strtotime($classScheduleLoop['sc_date'])); ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($classScheduleLoop['sc_date'])); ?></td>
                <td align="center"><?php echo strtoupper(date('h:i a', strtotime($classScheduleLoop['sc_start_time']))); ?></td>
                <td align="center"><?php echo strtoupper(date('h:i a', strtotime($classScheduleLoop['sc_end_time']))); ?></td>
                <td align="center"><?php echo $classScheduleLoop['veneuname']; ?></td>
                <td align="center"><?php echo date('d-m-Y h:i a', strtotime($classScheduleLoop['sc_createddt'])); ?></td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>