<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate("Login Name");?></th>
        <th><?php echo $this->translate("Staff Name");?></th>
        <th><?php echo $this->translate("Email");?></th>
        <th><?php echo $this->translate("College");?></th>
        <th><?php echo $this->translate("Role");?></th>
        <th><?php echo $this->translate("Status"); ?></th>
        <th><?php echo $this->translate("Update By"); ?></th>
        <th><?php echo $this->translate("Update Date"); ?></th>
    </tr>
    <?php if (count($this->paginator) > 0): ?>
    <?php foreach ($this->paginator as $lobjuser ): ?>
    <tr>
        <td><?php echo $this->escape($lobjuser['loginName']);?></td>
        <td><?php echo $this->escape($lobjuser['FullName']);?></td>
        <td><?php echo $this->escape($lobjuser['email']);?></td>
        <td align="center"><?php echo $this->escape($lobjuser['ShortName']);?></td>
        <td align="center"><?php echo $this->escape($lobjuser['DefinitionDesc']);?></td>
        <td align="center"><?php echo $this->escape($lobjuser['UserStatus'] == 1 ? 'Active':'Inactive');?></td>
        <td align="center"><?php echo $lobjuser['upduser']; ?></td>
        <td align="center"><?php echo ($lobjuser['UpdDate']!=null && $lobjuser['UpdDate']!='' && $lobjuser['UpdDate']!='0000-00-00 00:00:00') ? date('d-m-Y h:i a', strtotime($lobjuser['UpdDate'])):''; ?></td>
        <?php endforeach; ?>
        <?php endif; ?>
    </tr>
</table>
