
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	});

</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("User"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
			<li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'user', 'action'=>'export-user'),'default',true);?>';" >
					<span class='download'></span>
					<?php echo $this->translate("Download");?>
				</a>
			</li>
            <li>
            	<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'user', 'action'=>'newuser'),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br>
	<fieldset>
		<legend><?php echo $this->translate("User Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/generalsetup/user/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Staff Name");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td><?php echo $this->translate("Email");?></td>
                   <td ><?php echo $this->lobjform->field4;?></td>
                </tr>
                <tr>
                	<td><?php echo $this->translate("Login Name");?></td>
                    <td><?php echo $this->lobjform->field6;?></td>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
                    
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>
    </fieldset>
    <br/>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate("Login Name");?></th>
			<th><?php echo $this->translate("Staff Name");?></th>
			<th><?php echo $this->translate("Email");?></th>
			<th><?php echo $this->translate("College");?></th>
			<th><?php echo $this->translate("Role");?></th>
			<th><?php echo $this->translate("Status"); ?></th>
			<th><?php echo $this->translate("Update By"); ?></th>
			<th><?php echo $this->translate("Update Date"); ?></th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjuser ): ?>
		<tr>
			<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'user', 'action'=>'userlist' , 'id'=>$lobjuser['iduser']),'default',true);?>" ><?php print_r($this->escape($lobjuser['loginName']));?></a></td>
			<td><?php echo $this->escape($lobjuser['FullName']);?></td>
			<td><?php echo $this->escape($lobjuser['email']);?></td>
			<td align="center"><?php echo $this->escape($lobjuser['ShortName']);?></td>
			<td align="center"><?php echo $this->escape($lobjuser['DefinitionDesc']);?></td>
			<td align="center"><?php echo $this->escape($lobjuser['UserStatus'] == 1 ? 'Active':'Inactive');?></td>
			<td align="center"><?php echo $lobjuser['upduser']; ?></td>
			<td align="center"><?php echo ($lobjuser['UpdDate']!=null && $lobjuser['UpdDate']!='' && $lobjuser['UpdDate']!='0000-00-00 00:00:00') ? date('d-m-Y h:i a', strtotime($lobjuser['UpdDate'])):''; ?></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
									'/partials/my_pagination_control.phtml'); ?></div></td>
		</tr>
		</table>