<?php
if(isset($this->NameconfDetail)){
      $nameConfDetail = array();
      $nameConfDetail = $this->NameconfDetail;
}
?>

<script type="text/javascript"><!--
	dojo.addOnLoad(function() {
		dijit.byId('loginName').focus();
		dijit.byId('IdStaff').set('value','');
		dijit.byId('IdStaff').set('placeHolder','Select');
		dijit.byId('IdRole').set('value','');
		dijit.byId('IdRole').set('placeHolder','Select');

	});

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function fnGetStaffDetails(idStaff) { 
		if(idStaff != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+idStaff,
					handleAs:'json',
					load:function(data){ 
						email = data['Email'];
            emailpart = email.split('@');
            loginname = emailpart[0];
						dijit.byId('fName').set('value',data['FirstName']);
						dijit.byId('mName').set('value',data['ThirdName']);
						dijit.byId('lName').set('value',data['SecondName']);
						dijit.byId('email').set('value',data['Email']);

            dijit.byId('loginName').set('value',loginname);
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 



	function validateUsername( value, constraint )
	{
	
	var loginID = dijit.byId( "loginName" );

	var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;

	if( "" == loginID.value ) {
	    // for some required=true is not kicking in, so we are forcing it.
	    bNoNameFound = false;
	}
	else {      
	    if( false == loginID._focused ) {
	        console.log( "Checking username..." );
	        dojo.xhrGet({
	            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getvalidusername/UserName/"+value,
	            handleAs: 'text',
	            content: { l: value},
	            timeout: 10000, 
	            load: function( data ) {
	                if ( data ) {
	                    // setting the state to error since the username is already taken
	                    bNoNameFound = false;
	                    loginID.set( "state", "Error" );
	                    loginID.displayMessage( "The Username is already taken" );
	                
	                    // used to change the style of the control to represent a error
	                    loginID._setStateClass();
	                    console.log( "Invalid username" ); 
	                }
	                else
	                {
	                    bNoNameFound = true;
	                    loginID.set( "state", "" );
	                    loginID.displayMessage( "" );
	                }
	            }
	        });
	    }
	}

	return bNoNameFound;
	}

function checkphonefield(){

  return true;
}


</script>

<div class="message toolbar">
    <h2><?php echo $this->translate("Add User"); ?></h2>
    <div class="toolbar-button">
        <ul>

            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'user', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--li>
                <a href="#" >
    <span class='info'></span>
    <?php //echo $this->translate("Info");?>
    </a>
            </li>-->
        </ul>
    </div>
</div>
<br>
 <fieldset>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/user/newuser" method="post"  name= "myForm" onSubmit="return checkphonefield()">
                <script type="dojo/method" event="onSubmit">                
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Login Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Staff Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjuserForm->IdStaff;?></td>
                            <td ><?php echo $this->translate("Login Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->loginName;?><?php echo $this->lobjuserForm->UpdDate;?><?php echo $this->lobjuserForm->UpdUser;?></td>
                            
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("First Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjuserForm->fName;?></td>
                            <td ><?php echo $this->translate("Middle Name");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->mName;?></td>
                        </tr>
						<tr>
                            <td ><?php echo $this->translate("Last Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->lName;?></td>
                            <?php if($this->Languageid == 1) {?>
                            <td><?php echo $this->translate("Arabic Name");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->userArabicName;?></td>
                            <?php } else {?>
                            <td></td>
                            <td></td>
                            <?php }?>
                        </tr>
                        <?php
                           if(isset($nameConfDetail) && $nameConfDetail['count'] > 0){
                             $i = 1;
                             $j = 1;
                             $str = "<tr>";
                             $temp = '';
                             if($nameConfDetail['count'] == 1){
                               $field = "NameField1";
                               $temp = "<td>".$this->translate($nameConfDetail['fields'][1])."</td><td>".$this->lobjuserForm->$field."</td></tr>";
                               $str = $str.$temp;
                             }else{
                               foreach($nameConfDetail['fields'] as $key=>$value){
                                $field = "NameField".$key;
                                if($i == 1){
                                  $temp = "<td>".$this->translate($value)."</td><td>".$this->lobjuserForm->$field."</td>";
                                  $i = 2;
                                  if($j == $nameConfDetail['count']){
                                    $temp = $temp."</tr>";
                                  }
                                }else{
                                  $temp = "<td>".$this->translate($value)."</td><td>".$this->lobjuserForm->$field."</td></tr>";
                                  $i = 1;
                                }
                                $str = $str.$temp;
                                $j++;
                               }
                             }
                             echo $str;
                           }
                         ?>
                        <tr>
                            <td ><?php echo $this->translate("Password");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->passwd;?></td>
                            <td><?php echo $this->translate("Email Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->email;?></td>
                        </tr>
                        <tr>
                            <td  ><?php echo $this->translate("Role");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->IdRole;?></td>
                            <td ><?php echo $this->translate("Active")?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->UserStatus;?></td>
                        </tr>
                        <tr>
                            <td  ><?php echo $this->translate("Role In Moodle");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->role_in_moodle;?></td>
                            <td ></td>
                            <td ></td>
                        </tr>  
                        <tr>
                         	<td></td>
                          	<td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjuserForm->Save;?>
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
