<?php
if(isset($this->NameconfDetail)){
      $nameConfDetail = array();
      $nameConfDetail = $this->NameconfDetail;
}
?>
<script type="text/javascript">
dojo.addOnLoad(function(){
	dijit.byId('loginName').focus();
});



function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnGetStaffDetails(idStaff){ 
	if(idStaff != "" || idStaff != undefined)
	{ 
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+idStaff,
				handleAs:'json',
				load:function(data){ 
					//dijit.byId('fName').set('value',data['FirstName']);
					//dijit.byId('mName').set('value',data['ThirdName']);
					//dijit.byId('lName').set('value',data['SecondName']);
					dijit.byId('email').set('value',data['Email']);
					//dijit.byId('userArabicName').set('value',data['ArabicName']);
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
}
function checkphonefield(){

 
  return true;
}
</script> 
<div class="message toolbar">
    <h2><?php echo $this->translate("User"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            
            <li>
              <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'user', 'action'=>'newuser'),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>

            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'user', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--li>
                <a href="#" >
    <span class='info'></span>
    <?php //echo $this->translate("Info");?>
    </a>
            </li>-->
        </ul>
    </div>
</div>
<br>
 <fieldset>
    <legend><?php echo $this->translate("Login Details")?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/user/userlist" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <td><?php echo $this->translate("Staff Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->IdStaff;?><?php echo $this->lobjuserForm->iduser;?></td>
                            <td ><?php echo $this->translate("Login Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->loginName;?><?php echo $this->lobjuserForm->UpdDate;?><?php echo $this->lobjuserForm->UpdUser;?></td>
                        </tr>
                        <?php
                           if(isset($nameConfDetail) && $nameConfDetail['count'] > 0){
                             $i = 1;
                             $j = 1;
                             $str = "<tr>";
                             $temp = '';
                             if($nameConfDetail['count'] == 1){
                               $field = "NameField1";
                               $temp = "<td>".$this->translate($nameConfDetail['fields'][1])."</td><td>".$this->lobjuserForm->$field."</td></tr>";
                               $str = $str.$temp;
                             }else{
                               foreach($nameConfDetail['fields'] as $key=>$value){
                                $field = "NameField".$key;
                                if($i == 1){
                                  $temp = "<td>".$this->translate($value)."</td><td>".$this->lobjuserForm->$field."</td>";
                                  $i = 2;
                                  if($j == $nameConfDetail['count']){
                                    $temp = $temp."</tr>";
                                  }
                                }else{
                                  $temp = "<td>".$this->translate($value)."</td><td>".$this->lobjuserForm->$field."</td></tr>";
                                  $i = 1;
                                }
                                $str = $str.$temp;
                                $j++;
                               }
                             }
                             echo $str;
                           }
                         ?>

                        <tr>
                            <td><?php echo $this->translate("Email Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->email;?></td>
                            <td  ><?php echo $this->translate("Role");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->IdRole;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Active")?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->UserStatus;?></td>
                            
                            <td  ><?php echo $this->translate("Role In Moodle");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->role_in_moodle;?></td>
                            
                        
                        </tr>
						
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                            <td align = "right"><?php echo $this->lobjuserForm->Save;?>
							
                            </td>             
                        </tr>
              </table>
             
            </Form>
</fieldset>
