

<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<form class="uk-form uk-form-horizontal" method="post" id="settings"  enctype="multipart/form-data">

<div class="uk-form uk-form-horizontal">

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Group course catalog by Curriculum?')?></label>
        <div class="uk-form-controls text">
            <input type="hidden" name="options[catalog_curriculum]" value="<?php echo Cms_Options::getOption('catalog_curriculum', false); ?>" />
            <input type="checkbox" name="options[catalog_curriculum]" value="1" <?php echo Cms_Options::getOption('catalog_curriculum') == '1' ? 'checked' : '' ?> class="uk-checkbox-toggle" id="catalog_curriculum"/> <label for="catalog_curriculum">Yes</label>
            <p class="desc">Enabling this will display courses in their respective curriculum if available. Default: No</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Label: Curriculum')?></label>
        <div class="uk-form-controls text">
            <input type="text" name="options[label_curriculum]" value="<?php echo Cms_Options::getOption('label_curriculum')?>" />
            <p class="desc">Word used to define Curriculum.</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Allow Exam Registration?')?></label>
        <div class="uk-form-controls text">
            <input type="hidden" name="options[allow_exam_registration]" value="<?php echo Cms_Options::getOption('allow_exam_registration', false); ?>" />
            <input type="checkbox" name="options[allow_exam_registration]" value="1" <?php echo Cms_Options::getOption('allow_exam_registration') == '1' ? 'checked' : '' ?> class="uk-checkbox-toggle" id="allow_exam_registration"/> <label for="allow_exam_registration">Yes</label>
            <p class="desc">Enabling this will display courses in their respective curriculum if available. Default: No</p>
        </div>
    </div>

    <div class="uk-form-row uk-form-row-submit">
        <button type="submit" name="submit" class="uk-button uk-button-primary">Submit</button>
        <button type="button" class="uk-button" onclick="redirect('/admin/settings/general')">Cancel</button>
    </div>

</div>
</form>

