<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<form class="uk-form uk-form-horizontal" method="post" id="settings"  enctype="multipart/form-data">

<div class="uk-form uk-form-horizontal">
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Allow Multi Level Course Category')?></label>
        <div class="uk-form-controls text">
            <input type="hidden" name="options[nestedcategory]" value="<?php echo Cms_Options::getOption('nestedcategory', false); ?>" />
            <input type="checkbox" name="options[nestedcategory]" value="1" <?php echo Cms_Options::getOption('nestedcategory') == '1' ? 'checked' : '' ?> class="uk-checkbox-toggle" id="nestedcategory"/> <label for="nestedcategory">Yes</label>
            <p class="desc">Enabling this will allow you to use multi level course categories.</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Default Date Format (long)')?></label>
        <div class="uk-form-controls text">
            <input type="text" name="options[dateformat.long]" value="<?php echo Cms_Options::getOption('dateformat.long')?>" />
            <p class="desc">System default date format (long).</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Default Date Format (short)')?></label>
        <div class="uk-form-controls text">
            <input type="text" name="options[dateformat.short]" value="<?php echo Cms_Options::getOption('dateformat.short')?>" />
            <p class="desc">System default date format (short).</p>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Registration Text')?></label>
        <div class="uk-form-controls text">
            <textarea id="registration_text" name="options[registration_text]"><?php echo Cms_Options::getOption('registration_text')?></textarea>
            <p class="desc">Additional text on registration page.</p>
        </div>
    </div>

    <div class="uk-form-row uk-form-row-submit">
        <button type="submit" name="submit" class="uk-button uk-button-primary">Submit</button>
        <button type="button" class="uk-button" onclick="redirect('/admin/settings/general')">Cancel</button>
    </div>

</div>
</form>

<script>
    $(function() {
        CKEDITOR.replace('registration_text',
            {
                removePlugins: 'resize,placementtest',
                toolbar: 'Basic',
                height: 300
            });
    });
</script>