

<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<!--<form class="uk-form uk-form-horizontal" method="post" id="settings"  enctype="multipart/form-data">
-->
<div class="uk-form uk-form-horizontal">
    <div class="uk-alert">Some of these settings you have to change manually by editing the <em>application.ini</em></div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Application Title')?></label>
        <div class="uk-form-controls text">
            <?php echo APP_NAME  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Organization Name (Long)')?></label>
        <div class="uk-form-controls">
            <?php echo APPLICATION_ENTERPRISE  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Organization Name (Short)')?></label>
        <div class="uk-form-controls">
            <?php echo APPLICATION_ENTERPRISE_SHORT  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Document URL')?></label>
        <div class="uk-form-controls">
            <?php echo DOCUMENT_URL  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Document Path')?></label>
        <div class="uk-form-controls">
            <?php echo DOCUMENT_PATH  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Server Info')?></label>
        <div class="uk-form-controls">
            <?php echo php_uname()  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Default Timezone')?></label>
        <div class="uk-form-controls">
            <?php echo date_default_timezone_get() ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Mysql Version')?></label>
        <div class="uk-form-controls">
            <?php
            $db = getDB();
            $stmt = $db->query("SHOW VARIABLES LIKE 'version';");
            $get = $stmt->fetch();

            echo $get['Value'];
            ?>
        </div>
    </div>

    <h3>Required Extensions</h3>
    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('GD Support')?></label>
        <div class="uk-form-controls">
            <?php echo extension_loaded('gd') ? '<span class="green">OK</span>' : '<span class="red">NOT AVAILABLE</span>' ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('cURL')?></label>
        <div class="uk-form-controls">
            <?php echo extension_loaded('curl') ? '<span class="green">OK</span>' : '<span class="red">NOT AVAILABLE</span>' ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('mcrypt')?></label>
        <div class="uk-form-controls">
            <?php echo extension_loaded('mcrypt') ? '<span class="green">OK</span>' : '<span class="red">NOT AVAILABLE</span>' ?>
        </div>
    </div>



<!--

    <div class="uk-form-row uk-form-row-submit">
        <button type="submit" name="register" class="uk-button uk-button-primary">Submit</button>
        <button type="button" class="uk-button" onclick="redirect('/admin/settings')">Cancel</button>
    </div>

</form>
-->
