

<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<ul class="uk-list">
    <li><i class="uk-icon-refresh"></i> <a href="<?php echo $this->baseUrl()?>/admin/settings/maintenance/do/cache"><?php echo $this->translate('Reload Cache')?></a></li>
</ul>

<h3>External Datasource</h3>
<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th><?php echo $this->translate('Name')?></th>
            <th><?php echo $this->translate('Total Data')?></th>
            <th><?php echo $this->translate('Last Sync')?></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ( $this->external as $external ) { ?>
    <tr>
        <td><a href="#"><?php echo $external['name']?></a></td>
        <td><?php echo $external['total_data']?></td>
        <td><?php echo $external['lastsync'] == '' ? 'Never' : Cms_Date::date($external['lastsync']) ?></td>
        <td width="200">
            <a href="<?php echo $this->baseUrl()?>/admin/settings/maintenance-refresh/type/<?php echo $external['name']?>" class="uk-button uk-button-small"><i class="uk-icon-refresh"></i> <?php echo $this->translate('Refresh')?></a>
            <?php if ( is_callable(array('Admin_SettingsController', 'sync'.$external['name'])) ) { ?>
                <a onclick="return sure(this)" href="<?php echo $this->baseUrl()?>/admin/settings/maintenance-sync/type/<?php echo $external['name']?>" class="uk-button uk-button-small"><i class="uk-icon-retweet"></i> <?php echo $this->translate('Sync')?></a>
            <?php } ?>
        </td>
    </tr>
    <?php } ?>
    </tbody>
</table>

<h3>Others</h3>
<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th><?php echo $this->translate('Name')?></th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?php echo $this->translate('Country'); ?>, <?php echo $this->translate('State'); ?> & <?php echo $this->translate('City'); ?></td>
            <td>
                <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl(); ?>/admin/settings/sync-country/">
                    <i class="uk-icon-retweet"></i> <?php echo $this->translate('Sync')?>
                </a>
            </td>
        </tr>
    </tbody>
</table>