

<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>
</div>

<form class="uk-form" method="post" id="permission-form" >
<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
    <tr>
        <th><?php echo $this->translate('Page')?></th>
        <?php foreach ( $this->roles as $role_code => $role_name ) { ?>
        <th width="20%" class="uk-text-center"><?php echo $role_name ?></th>
        <?php } ?>
    </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->resources as $resource ) { ?>

        <tr>
            <td><?php echo $resource['title']?></td>
            <?php foreach ( $this->roles as $role_code => $role_name ) { ?>
                <td class="uk-text-center">

                    <?php if ( $role_code == 'administrator' ){?>
                        <input type="hidden" value="1" name="role[administrator][<?php echo $resource['code']?>]"/>
                        <i class="uk-icon-check-circle-o toggleicon checked"></i>
                    <?php }else { ?>
                        <input type="checkbox" <?php echo isset($this->perm[$role_code][$resource['code']]) && $this->perm[$role_code][$resource['code']] == 1 ? 'checked':'' ?> class="togglecheck" value="1" name="role[<?php echo $role_code?>][<?php echo $resource['code']?>]" />
                    <?php } ?>

                </td>
            <?php } ?>
        </tr>
        <?php } ?>
    </tbody>
</table>

<div class="uk-form-submit">
    <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Save')?></button>
</div>
</form>

<script>
    $(function()
    {
        $('.togglecheck').toggleCheckbox([
            '<i class="uk-icon-circle-o toggleicon uncheck"></i>',
            '<i class="uk-icon-check-circle-o toggleicon checked"></i>'
        ]);
    });
</script>

<style type="text/css">
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>