
<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>
<div class="dashhead">
    <div class="title-wrap">

        <div class="subtitle"><?php echo $this->translate('Settings')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<form class="uk-form uk-form-stacked" method="post" id="settings"  enctype="multipart/form-data">

<div class="uk-form uk-form-stacked">


    <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('Privacy PDPA')?></label>
        <div class="uk-form-controls text">
            <textarea name="options[privacy_pdpa]" id="privacy_pdpa"><?php echo Cms_Options::getOption('privacy_pdpa')?></textarea>
            <p class="desc">PDPA Notice</p>
        </div>
    </div>

    <div class="uk-form-row uk-form-row-submit">
        <button type="submit" name="submit" class="uk-button uk-button-primary">Submit</button>
        <button type="button" class="uk-button" onclick="redirect('/admin/settings/general')">Cancel</button>
    </div>

</div>
</form>

<script>
    $(function() {
        CKEDITOR.replace('privacy_pdpa',
            {
                removePlugins: 'resize,placementtest',
                toolbar: 'Basic',
                height: 300
            });
    });
</script>