

<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">

            <a href="<?php echo $this->baseUrl()?>/admin/announcements/new" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('New announcements')?> </a>

        </div>
        <div class="subtitle"><?php echo $this->translate('Dashboard')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Course')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <?php if ( count($this->results) > 0 ) { ?>
    <?php foreach ( $this->results as $row ) { ?>

        <tr>
            <td>
                <?php echo $row['visibility'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Hidden"></span>':''?>

                <a <?php echo $row['visibility'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/announcements/edit/id/<?php echo $row['id']?>/course/<?php echo $row['course_id']?>"><?php echo $this->escape($row['title']) ?></a>
            </td>
            <td><?php echo Cms_Date::date($row['created_date']) ?></td>
            <td><?php echo $row['course_name'] ? $row['course_name'] : "All Courses" ?></td>
            <td>

                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/announcements/edit/id/<?php echo $row['id']?>/course/<?php echo $row['course_id']?>" data-uk-tooltip title="Edit announcement"><i class="uk-icon-cog"></i></a>
                    <a target="_blank" class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/announcements/view/course/<?php echo $row['course_id']?>" data-uk-tooltip title="Preview announcement"><i class="uk-icon-search-plus"></i></a>
					<a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this item?')?>')" href="<?php echo $this->baseUrl()?>/admin/announcements/delete/id/<?php echo $row['id']?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                </div>
            </td>
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No announcements found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>