
<body class="claro">
<div id="searchDiv">
	<fieldset>
	<legend><?php echo $this->translate("Staff Subject Set-Up");?></legend>
	<div class="search" style="margin-left:20px;">
	<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/generalsetup/staffsubjects/index/search/1" method="POST"  name= "form1" id= "form1">
		<script type="dojo/method" event="onSubmit">
 		 if (this.validate()) {
			return true;
		} else {
		return false;}
		</script>
				<table width="100%">
					<table width="100%">
					<tr>	
						<td><?php echo $this->translate("Staff Name");?></td>
						<td><?php echo $this->lobjform->field2;?></td>		
						<td><?php echo $this->translate("Arabic Name");?></td>
						<td><?php echo $this->lobjform->field3;?></td>	
            	   </tr>     
         		  
           		  <tr>
           		  		<td ><?php echo $this->translate("Active");?></td>
               			<td ><?php echo $this->lobjform->field7;?></td>  
           		  </tr>    
				  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                 </tr>
				</table>
			</form>	
		</div>
	</fieldset> 
	 <br/>
	<fieldset>
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th><?php echo $this->translate("Staff Name");?></th>
	        	<th><?php echo $this->translate("Second Name");?></th>
	        	<th><?php echo $this->translate("Arabic Name");?></th>	        	
			</tr>
			<?php if (count($this->paginator)): 
				foreach ($this->paginator as $lobjStaffList ): ?>
					<tr>
						<td>
							<a href="<?php echo $this->baseUrl();?>/generalsetup/staffsubjects/staffsubjectslist/id/<?php echo $this->escape($lobjStaffList['IdStaff']);?>/name/<?php echo $this->escape($lobjStaffList['FirstName']);?>" >
								<?php echo $this->escape($lobjStaffList['FirstName']);?>
							</a>
						</td>
						<td><?php print_r($this->escape($lobjStaffList['SecondName']));?></td>
						<td><?php print_r($this->escape($lobjStaffList['ArabicName']));?></td>						
					</tr>
				<?php endforeach;
			endif; ?>
			<tr>
				<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
			</tr>
		</table>
	</fieldset>
</div>
</body>