

<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">

            <a href="<?php echo $this->baseUrl()?>/admin/exam-registration/register" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('Add Individual')?> </a>

        </div>
        <div class="subtitle"><?php echo $this->translate('Courses')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >

   
    <!--  <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Effecttive Date')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->effective_date->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div> -->
    
    

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Route')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->program_route->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>

<div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Programme Level')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->program_level->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Exam Center')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->exam_center->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>
    <!-- <?php if ( Cms_Options::getOption('nestedcategory') == '1' ) { ?>
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Parent')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->parent_id->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>
    <?php } ?> -->

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Name')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->name->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>
     
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Registration ID')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->mreg_id->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>

     <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Start date')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->start_date->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>
     <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('End date')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->end_date->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Cancellation Application ')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->cancel_app  ?><label for="cancel_app"><?php echo $this->translate('Yes')?></label>
        </div>
    </div>
     <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
        <div class="uk-form-controls">
    <?php echo $this->form->active  ?><label for="active"><?php echo $this->translate('Yes')?></label>
        </div>
    </div>
    
    <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist" width="50%"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
           <!--  <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th> -->
        </tr>
    </thead>
    <tbody>
        <?php if ( count($this->results) == 0 ) { ?>
        <tr>
            <td colspan="3"><?php echo $this->translate('No course category created yet.')?></td>
        </tr>
        <?php } else { ?>
        <?php foreach ( $this->results as $row) { ?>
        <tr>
            <td>
                <?php echo $row['active'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Not Active"></span>':''?>
               <a <?php echo $row['active'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/programmecategory/edit/id/<?php echo $row['id']?>"><?php echo $row['name']?></a>
            </td>
            <td><?php echo Cms_Date::date($row['created_date']) ?></td>
            <!-- <td>
                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/coursecategory/edit/id/<?php echo $row['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-cog"></i></a>
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/coursecategory/add/pid/<?php echo $row['id']?>" data-uk-tooltip title="Add Sub-Category"><i class="uk-icon-folder-open-o"></i></a>
                    <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this category?')?>')" href="<?php echo $this->baseUrl()?>/admin/coursecategory/delete/id/<?php echo $row['id']?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                </div>
            </td> -->
        </tr>
        <?php } ?>
        <?php } ?>
    </tbody>
</table>
<script>
$(document).ready(function(){
      
       $('#start_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#start_date').attr('readonly','true');
        $('#end_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#end_date').attr('readonly','true');
    })

</script>