<div class="clearfix">
                    <h4>Membership Category</h4>
                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Membership Category</label>
                                    <td><?php echo $this->form->member_type;?></td>
                                    
                                </div>                                 
                            </div>
                             <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Program Route</label>
                                    <td><?php echo $this->form->program_route;?></td>
                                    
                                </div>                                 
                            </div>
                            </div>
                             <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                           
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Program Level</label>
                                    <td><?php echo $this->form->program_level;?></td>
                                    
                                </div>                                 
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                   
                            <?php echo $this->form->Save;?>
                     <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MembershipQualification', 'action'=>'index'),'default',true);?>';" />   
         
                      
                                    
                                    
                                </div>                                 
                            </div>
                          </form>
                                                      
                        </div>
                    </div>

