   <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

    <div class="clearfix">
                    <h4>Membership Qualification</h4>
                    <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Membership Categories</label>
                                    <td><?php echo $this->form->member_type;?></td>
                                    
                                </div>                                 
                            </div>
                            
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">

                           <input type="submit" class="btn btn-primary" value='Search'>
                              <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MembershipQualification', 'action'=>'add'),'default',true);?>';"/>
                                    <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>     
                                    

                                </div>
                            </div>                           
                        </div>
                    </div>
                    </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Member Name</th>
                                <th>Programme Level</th>
                                <th>Programme Route</th>        
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $member ): ?>
                            <tr>
                                <td>
                                     <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'MembershipQualification', 'action'=>'edit', 'Id'=>$member['id_mq']),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = auto"><?php echo $this->escape($member['member_name']);?>  </a>
                                </td>
                                <td><?php echo $this->escape($member['level']);?></td>
                <td><?php echo $this->escape($member['route']);?></td>                                
                            </tr>
                                                                                                                                                             
                        </tbody>
                     <?php endforeach; ?>
                <?php endif; ?>

    </tr>
</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>



















