<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/plugins/maskedinput/maskedinput.js"></script>

<hr class="uk-grid-divider">

<div class="uk-form-row uk-grid">
    <div class="uk-width-1-2">
        <label class="uk-form-label" for="dob_month"><?php echo $this->translate('Date of Birth')?></label>
        <div class="uk-form-controls">
            <?php
            $info = cal_info(0);
            ?>

            <select name="dob_month" required id="dob_month">
                <option value=""><?php echo $this->translate('Month')?></option>
                <?php foreach ( $info['months'] as $mon => $mon_name ) { ?>
                <option value="<?php echo $mon?>"><?php echo $mon_name ?></option>
                <?php } ?>
            </select>

            <select name="dob_day" required id="dob_day">
                <option value=""><?php echo $this->translate('Day')?></option>
                <?php for ( $i=1; $i<=31; $i++ ) { ?>
                    <option value="<?php echo str_pad($i,2,'0',STR_PAD_LEFT);?>"><?php echo $i ?></option>
                <?php } ?>
            </select>

            <select name="dob_year" required id="dob_year">
                <option value=""><?php echo $this->translate('Year')?></option>
                <?php
                for($i = date('Y'); $i >= 1900; $i--){
                ?>
                    <option value="<?php echo $i;?>"><?php echo $i ?></option>
                <?php } ?>
            </select>

        </div>
    </div>

    <div class="uk-width-1-2">
        <label class="uk-form-label" for="dob_month"><?php echo $this->translate('Nationality')?></label>
        <div class="uk-form-controls">
           <?php echo $this->form->nationality ?>
        </div>
    </div>


</div>

<div class="uk-form-row uk-grid">

    <div class="uk-width-1-2">
        <label class="uk-form-label" for="gender"><?php echo $this->translate('Gender')?></label>
        <div class="uk-form-controls">
           <?php echo $this->form->gender ?>
        </div>
    </div>

    <div class="uk-width-1-2">
        <label class="uk-form-label" for="race"><?php echo $this->translate('Race')?></label>
        <div class="uk-form-controls">
           <?php echo $this->form->race ?>
        </div>
    </div>

</div>

<div class="uk-form-row uk-grid">

    <div class="uk-width-1-2">
        <label class="uk-form-label" for="religion"><?php echo $this->translate('Religion')?></label>
        <div class="uk-form-controls">
           <?php echo $this->form->religion ?>
        </div>
    </div>

    <div class="uk-width-1-2">
        <label class="uk-form-label" for="dob_month"><?php echo $this->translate('Highest Level of Qualification')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->qualification ?>
        </div>
    </div>

</div>

<div class="uk-form-row uk-grid">

    <div class="uk-width-1-2">
            <label class="uk-form-label" for="estatus"><?php echo $this->translate('Current Employment Status')?></label>
            <div class="uk-form-controls">
                <?php echo $this->form->estatus ?>
            </div>
    </div>

    <div class="uk-width-1-2">
        <label class="uk-form-label" for="company"><?php echo $this->translate('Company')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->company ?>
        </div>
    </div>



</div>

<hr class="uk-grid-divider">
<link href="<?php echo $this->baseUrl()?>/js/plugins/textcomplete/jquery.textcomplete.css" rel="stylesheet" />
<script src="<?php echo $this->baseUrl()?>/js/plugins/textcomplete/jquery.textcomplete.min.js"></script>
<script type="text/javascript">
    //$(function(){
    //
    //    $("#company").textcomplete([
    //        {
    //            words: <?php //echo $this->company?>//,
    //            match: /\b(\w{2,})$/,
    //            search: function (term, callback) {
    //                callback($.map(this.words, function (word) {
    //                    return word.search(new RegExp(term, "i")) != -1 ? word : null
    //                }));
    //            },
    //            index: 1,
    //            replace: function (word) {
    //                return word ;
    //            }
    //        }
    //    ]);
    //
    //});

    $("#nationality").on('change', function(){
        var val = $(this).val();
        var mask = "999999999999";
        var username = $("#username").val();

        if ( username != '' )
        {
            $("#username").data("cache", username);
        }

        if ( val == 'MY' )
        {
            $("#username").mask(mask);

            if ( $("#username").data('cache') != '' )
            {
                $("#username").val($("#username").data('cache'));
            }

            if ( $("#username").val() != '' && $("#username").length > 0 )
            {
                var re = /^([0-9]){12,12}$/i;
                if (re.test($("#username").val()) == false )
                {
                    $("#username").val("");
                    alert('Please enter NRIC as username.');
                }
            }
        }
        else
        {
            $("#username").unmask(mask);
        }
    });


</script>