<?php
$photo = Zend_auth::getInstance()->getIdentity()->photo == '' ? APP_URL.'/images/assets/user2.png' : DOCUMENT_URL.Zend_auth::getInstance()->getIdentity()->photo;
$auth = Zend_auth::getInstance()->getIdentity();

// add checking for graduation link
$userData = array();
$gradDb = new App_Model_Invitation();
if ($auth->external_id)
{
    $userData = $gradDb->getGraduateInfo($auth->external_id);
}
?>
<ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
    <li style="float: left;display: inline-block;padding: 4px;  text-align: center; background-color: blue;border-color: white;"<?php echo $this->active=='dashboard' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/dashboard"><?php echo $this->translate('Home')?></a></li>
    <li style="float: left;display: inline-block;padding: 4px;  text-align: center;background-color: blue;border-color: white;"<?php echo $this->active=='membership' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/membership"><?php echo $this->translate('Membership')?></a></li>
    <li style="float: left;display: inline-block;padding: 4px;  text-align: center;background-color: blue;border-color: white;"<?php echo $this->active=='qualification' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/qualification"><?php echo $this->translate('Qualification')?></a></li>
    <li style="float: left;display: inline-block;padding: 4px ;  text-align: center;background-color: blue;border-color: white;" class="uk-parent <?php echo $this->active=='exam' ? 'uk-active':''?>"><a href='#'>Examination</a>
        <ul class="uk-nav-sub">
            <li><a href="<?php echo $this->baseUrl()?>/exam">Registered Exams</a></li>
            <li><a href="<?php echo $this->baseUrl()?>/exam/exam-registration-history">Exam Registration History</a></li>
        </ul>
    </li>
    <li style="float: left;display: inline-block;padding: 4px;  text-align: center;background-color: blue;border-color: white;" <?php echo $this->active=='cpd' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/cpd"><?php echo $this->translate('CPD')?></a></li>
    <li style="float: left;display: inline-block;padding: 4px;  text-align: center;background-color: blue;border-color: white;" <?php echo $this->active=='calendar' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/calendar"><?php echo $this->translate('Calendar & Event')?></a></li>
</ul>

<p></p><p></p><p></p><p></p><p></p><p></p><p></p>
<figure class="uk-overlay uk-overlay-hover userphoto uk-hidden-small uk-margin-bottom">
    <img class="uk-responsive-width" src="<?php echo $this->baseUrl()?>/thumb.php?w=180&amp;f=<?php echo $photo?>" alt="Image">
    <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
        <a href="<?php echo $this->baseUrl()?>/user/photo" class="uk-button uk-button-primary"><?php echo $this->translate('Change Photo')?></a>
    </div>
    <a class="uk-position-cover" href="<?php echo $this->baseUrl()?>/user/profile#photo"></a>
</figure>





<!--<ul class="uk-nav uk-nav-usermenu"> 
    <li <?php echo $this->active=='dashboard' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/dashboard"><?php echo $this->translate('Home')?></a></li>
    <li <?php echo $this->active=='profile' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/profile"><?php echo $this->translate('Profile')?></a></li> 
    <li <?php echo $this->active=='exam' ? 'class="uk-active"':''?>></li>
    <li <?php echo $this->active=='cpd' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/cpd"><?php echo $this->translate('CPD')?></a></li>
    <li <?php echo $this->active=='password' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/password"><?php echo $this->translate('Change Password')?></a></li> 
    <li <?php echo $this->active=='purchase' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/purchase-history"><?php echo $this->translate('Account Statement')?></a></li>
    <li <?php echo $this->active=='announcement' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/announcement"><?php echo $this->translate('Announcements')?></a></li>
    <li <?php echo $this->active=='calendar' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/calendar"><?php echo $this->translate('Calendar & Event')?></a></li>
     <li <?php echo $this->active=='chat' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/chat"><?php echo $this->translate('Chat')?></a></li> 
    <?php if (!empty($userData)) : ?>
        <li <?php echo $this->active=='graduation' ? 'class="uk-active"':''?>><a href="<?php echo $this->baseUrl()?>/user/graduation"><?php echo $this->translate('Graduation')?></a></li>
    <?php endif; ?>
</ul>-->