<style>
.quota{
	color:green;
}
.quota full{
	color:red;
}
</style>
<h2 class="curr-title"> <?php echo $this->title;?> </h2>
<form class="uk-form uk-form-horizontal" method="post" id="search-form" >

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('IC Number')?></label>
        <div class="uk-form-controls"><?php echo $this->form->icno;  ?>
        </div>
    </div>
    <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="search"><?php echo $this->translate('Search')?></button>
    </div>
</form>

<?php if($this->ic) { ?>

<table class="uk-table" width="100%">
    <tr>
        <th colspan="6"><?php echo $this->translate('NAME');?> : <?php echo $this->examregistration[0]['std_fullname'];?><br>
            <?php echo $this->translate('IC NUMBER');?> : <?php echo $this->ic;?>
        </th>
    </tr>

    <tr>
        <th><?php echo $this->translate('Exam Name');?></th>
        <th><?php echo $this->translate('Exam Date');?></th>
        <th><?php echo $this->translate('Exam Center');?></th>
        <th><?php echo $this->translate('Exam Slot');?></th>
        <th><?php echo $this->translate('Attendance Status');?></th>
         <th><?php echo $this->translate('Result Status');?></th>
    </tr>
    <?php
    if(count($this->examregistration)>0) {
        foreach ($this->examregistration as $ec) {
            ?>
            <tr>
                <td><?php echo $ec['pe_name']; ?></td>
                <td><?php echo date('d-m-Y',strtotime($ec['es_date'])); ?></td>
                <td><?php echo $ec['ec_name']; ?></td>
                <td><?php echo $ec['sl_name']; ?>
                <br><?php echo date('H:i A', strtotime($ec['sl_starttime'])); ?> to <?php echo date('H:i A', strtotime($ec['sl_endtime'])); ?>
                </td>
                 <td><?php echo $ec['attendance_status_desc']; ?></td>
                <td><?php echo $ec['registration_status']; ?> 
                </td>
            </tr>
        <?php }
    }else{?>
        <tr>
            <td colspan="5"><font color="red"><?php echo $this->translate('No record found');?></font></td>
        </tr>
        <?php } ?>
</table>
<?php } ?>
