<?php echo $this->headLink()->appendStylesheet($this->baseUrl() . '/js/jquery/plugin/fullcalendar-2.2.3/fullcalendar.min.css'); ?>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery/plugin/moment/moment.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery/plugin/fullcalendar-2.2.3/fullcalendar.js"></script>
<style type="text/css">
#calendar-container { height: 430px; overflow-y: scroll; }
.table tr:hover {  }
.table3 td { border:1px solid #ccc !important; background:#fff; }
.table3 thead+tbody:before{
    content:" ";
}
tr.selected > td { background-color: #ebf7fd; }

.table{
    font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    background-color: #fafafa;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 10px;
}
.toolbar-button ul li a .add { display:block; color:black; margin:0 auto 4px auto; width:24px; height:24px; background: url('../../images/icons_toolbar/icon_add.png') no-repeat  }
.reqMark { color:red; margin-left:3px; }

</style>

<div class="toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>



<form method="post" id="exam-registration-form">
    <table class="uk-table uk-table-stacked uk-table-admin table" width="100%" border="1">
        <tr>
            <td width="150"><?php echo $this->translate('Registration ID'); ?></td>
            <td><?php echo $this->student['registrationId']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student Name'); ?></td>
            <td><?php echo $this->student['std_fullname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('IC/ID'); ?></td>
            <td><?php echo $this->student['std_idnumber']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Program'); ?></td>
            <td><?php echo $this->student['ProgramName']; ?> (<?php echo $this->student['ProgramCode']; ?>)</td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Program Code'); ?></td>
            <td><?php echo $this->student['ProgramCode']; ?></td>
        </tr>
    </table>

    <table class="uk-table uk-table-stacked uk-table-admin table" width="100%" class="table">
        <tr>
            <td width="150"><?php echo $this->translate('Learning Mode'); ?> <span class="reqMark">*</span></td>
            <td>
                <select name="IdLandscape" id="IdLandscape" class="select">
                    <option value="0"><?php echo $this->translate('Please select') ?></option>
                    <?php foreach($this->landscapes as $row): ?>
                        <option value="<?php echo $row['IdLandscape']; ?>"><?php echo $row['mode_of_program_desc']; ?></option>
                    <?php endforeach; ?>
                </select>

                <?php if(!$this->landscapes): ?>
                    <span class="reqMark"><?php echo $this->translate('This program has no learning mode. Please do landscape setup first'); ?></span>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Exam Option'); ?> <span class="reqMark">*</span></td>
            <td>
                <select name="examsetup_id" id="examsetup_id" class="select">
                    <option value="0"><?php echo $this->translate('Please select') ?></option>
                </select>
            </td>
        </tr>
    </table>
    
    <table class="uk-table uk-table-stacked uk-table-admin table" id="schedule-table" class="table" width="100%">
        <thead>
            <tr>
                <td width="50" style="display:none;" id="select-th" align="center"><strong><?php echo $this->translate('Select'); ?></strong></td>
                <td align="center"><strong><?php echo $this->translate('Paper Name'); ?></strong></td>
                <td width="300" align="center"><strong><?php echo $this->translate('Module'); ?></strong></td>
                <td width="300" align="center"><strong><?php echo $this->translate('Exam Center'); ?></strong></td>
                <td width="150" align="center"><strong><?php echo $this->translate('Exam Date'); ?></strong></td>
                <td width="100">&nbsp;</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <br />

    <table width="100%">
        <tr>
            <td colspan="2" align="center">
                <button id="btn-submit" class="btn-submit">Save</button>

                    <a href="<?php echo $this->baseUrl() . '/admin/exam-registration/search/';?>">
                        <button type="button"><?php echo $this->translate("Back"); ?></button> 
                    </a>
            </td>
        </tr>
    </table>
    
</form>

<div id="select-date-dialog" title="<?php echo $this->translate('Select Session'); ?>"></div>

<div id="loading-dialog" title="<?php echo $this->translate('Please wait'); ?>">
    <center>
        <img src="<?php echo $this->serverUrl(); ?>/images/loading.gif" />
        <br /><br />
        <!-- <span id="loading-dialog-text">Fetching data...</span> -->
    </center>
</div>

<script type="text/javascript">
$(function() {
    $("#loading-dialog").dialog({
        autoOpen: false,
        width: '200px',
        modal: true
    });

    $('#select-date-dialog').dialog({
        autoOpen: false,
        width: '925px',
        modal: true,
        resizable: false
    });

    $('#IdProgram').change(function(e) {
        var IdProgram = parseInt($(this).val());

        $('#IdLandscape').html('<option value="0">Please select</option>');
        $('#examsetup_id').html('<option value="0">Please select</option>');
        $('#schedule-table tbody').html('');
        $('#select-th').hide();

        if(!IdProgram) {
            return false;
        }

        var category_id = 1;
        var ajaxUrl     = '<?php echo $this->baseUrl(); ?>/admin/batch-exam-registration/get-exam-landscape/';

        $('#loading-dialog').dialog('open');

        $.post(ajaxUrl, { IdProgram:IdProgram, category_id:category_id} , function(data) {
            if(!data.length) {
                alert('No exam schedule found for programme '+ $('#IdProgram :selected').text());
                return false;
            }
            $.each(data, function (index, row) {
                $('#IdLandscape').append('<option value="'+row.IdLandscape+'">'+row.mode_of_program_desc+'</option>');
            });
        }, 'JSON')
        .fail(function() {
            alert('Failed to get Learning Mode');
            return false;
        })
        .always(function() {
            $('#loading-dialog').dialog('close');
        });
    });

    $('#IdLandscape').change(function(e) {
        var IdLandscape = parseInt($(this).val());
        var IdProgram   = parseInt($('#IdProgram').val());
        $('#select-th').hide();

        $('#examsetup_id').html('<option value="0">Please select</option>');
        $('#schedule-table tbody').html('');

        if(!IdLandscape) {
            return false;
        }

        var category_id = 1;
        var ajaxUrl     = '<?php echo $this->baseUrl(); ?>/admin/batch-exam-registration/get-exam-option/';

        $('#loading-dialog').dialog('open');

        $.post(ajaxUrl, { IdLandscape:IdLandscape, category_id:category_id } , function(data) {
            if(!data.length) {
                alert('No exam schedule found for learning mode '+ $('#IdLandscape :selected').text());
                return false;
            }

            $.each(data, function (index, row) {
                $('#examsetup_id').append('<option value="'+row.es_id+'">'+row.es_name+' — '+row.es_online_desc+'</option>');
            });
        }, 'JSON')
        .fail(function() {
            alert('Failed to get Exam Option');
            return false;
        })
        .always(function() {
            $('#loading-dialog').dialog('close');
        });
    });

    $('#examsetup_id').change(function(e) {
        var examsetup_id = parseInt($(this).val());
        var IdLandscape  = parseInt($('#IdLandscape').val());
        var IdProgram    = parseInt($('#IdProgram').val());
        $('#select-th').hide();

        $('#schedule-table tbody').html('');

        if(!examsetup_id) {
            return false;
        }

        var category_id = 1;
        var ajaxUrl     = '<?php echo $this->baseUrl(); ?>/admin/batch-exam-registration/get-exam-detail/';

        $('#loading-dialog').dialog('open');

        $.post(ajaxUrl, { es_id:examsetup_id, category_id:category_id } , function(data) {
            if(!data.length) {
                alert('No exam schedule found for exam option '+ $('#examsetup_id :selected').text());
                return false;
            }

            $.each(data, function (index, row) {
                var select_paper_td = '';
                var disabled_this = '';

                if (row.register_all == '0')
                {
                    $('#select-th').show();

                    disabled_this = ' disabled ';
                    select_paper_td = '<td class="select_paper_td" align="center">'+
                                            '<input type="radio" name="select_paper" class="select_paper" value="'+index+'" />' +
                                        '</td>';

                }

                var html =  '<tr>'+
                                select_paper_td +
                                '<td class="paper_desc">'+row.pe_name+'</td>'+
                                '<td class="module_desc">'+row.module_desc+'</td>'+
                                '<td align="center">'+
                                    '<select class="ec_id select" '+disabled_this+'>'+
                                        '<option value="0">Please select</option>';

                                        $.each(row.exam_centers, function(ec_index, ec_row) {
                                            html += '<option value="'+ec_row.ec_id+'">'+ec_row.ec_name+'</option>';
                                        });

                html +=             '</select>'+
                                '</td>'+
                                '<td align="center">'+
                                    '<input type="hidden" name="examsetup_detail_id[]" data-esd-id="'+row.esd_id+'" class="examsetup_detail_id" value="'+row.esd_id+'" />'+
                                    '<input type="hidden" name="examschedule_id[]" data-esd-id="'+row.esd_id+'" class="examschedule_id '+disabled_this+'" value="" />'+
                                    '<input type="hidden" name="examcenter_id[]" data-esd-id="'+row.esd_id+'" class="examcenter_id" value="" />'+
                                    '<input type="hidden" name="examtaggingslot_id[]" data-esd-id="'+row.esd_id+'" class="examtaggingslot_id" value="" />'+
                                    '<div class="es_date" data-esd-id="'+row.esd_id+'"></div>'+
                                '</td>'+
                                '<td align="center">'+
                                    '<a href="#" class="select-date-btn" data-esd-id="'+row.esd_id+'"><button type="button" class="btn-select-date" '+disabled_this+'><?php echo $this->translate("Select Date"); ?></button></a>'+
                                '</td>'+
                            '</tr>';
                $('#schedule-table tbody').append(html);
            });
        }, 'JSON')
        .fail(function() {
            alert('Failed to get Exam Detail');
            return false;
        })
        .always(function() {
            $('#loading-dialog').dialog('close');
        });
    });


    $(document).on('change', 'select#select-exam-year', function(e) {
        $('#select-date-dialog').dialog('close');
        var esd_id = $('#modal-esd-id').val();
        getExamDate(esd_id);
    });

    $(document).on('click', 'a.select-date-btn', function(e) {
        e.preventDefault();
        var esd_id = parseInt($(this).data('esd-id'));
        getExamDate(esd_id);
    });

    $('#exam-registration-form').submit(function(e) {
        if(!$('input.examschedule_id[type=hidden]').length) {
            e.preventDefault();
            alert('Please complete the form');
            return false;
        }

        var proceed = true;

        if ($('.select_paper:visible').length && !$('.select_paper:visible:checked').length)
        {
            e.preventDefault();
            alert('Please select Paper');
            return false;
        }


        $.each($('input.examschedule_id[type=hidden]:not(.disabled)'), function() {
            if(!$(this).val().length) {
                proceed = false;
                return false;
            }
        });

        if(!proceed) {
            e.preventDefault();
            alert('Please select exam date');
            return false;
        }

        proceed = confirm("Are you sure?");
        if(!proceed) {
            e.preventDefault();
            return false;
        }

    });

    $(document).on('change', 'input.select_paper', function(e) {
        $('.ec_id, .btn-select-date').prop('disabled', true);
        $('.examschedule_id').addClass('disabled');

        $('tr.selected').removeClass('selected');

        $(this).closest('tr').addClass('selected');
        $(this).closest('tr').find('.ec_id, .btn-select-date').prop('disabled', false);
        $(this).closest('tr').find('.examschedule_id').removeClass('disabled');
    });

    // $("input[name=searchby]").on('change', function () {
    //     $("#searchpayee").val('');
    //     initAutocomplete();
    // });

    // $("#rcp_payee_type").on('change', function () {
    //     initAutocomplete();
    // });

    initAutocomplete();

});

var topkek = [];

function initAutocomplete() {
    var type = $("#rcp_payee_type").val();
    var searchby = $("input[name=searchby]:checked").val();

    $("#searchpayee").autocomplete({
        source: '<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'find-student-corporate'), 'default', true); ?>/type/' + type + '/searchby/' + searchby +'/limit/20',
        minLength: 2,
        search: function (event, ui) {
            // $('#loading-dialog').dialog('open');
            $("#search_status").html('<?php echo $this->translate('Searching...'); ?>');
        },
        response: function (event, ui) {
            $("#search_status").html('');
            if(!ui.content.length) {
                alert('No record found');
            }
        },
        select: function (event, ui) {
            $('#payee_id').val(ui.item.key);
            $("#searchpayee").val(ui.item.label);
        }
    });
}

function getExamDate(esd_id) {
    var btn_object  = $('.select-date-btn[data-esd-id='+esd_id+']');
    var ec_id       = parseInt($(btn_object).parents('tr:first').find('.ec_id').val());
    var paper_desc  = $(btn_object).parents('tr:first').find('.paper_desc').text();
    var module_desc = $(btn_object).parents('tr:first').find('.module_desc').text();
    var ec_desc     = $(btn_object).parents('tr:first').find('.ec_id option:selected').text();
    var category_id = 1;
    var year        = $('#select-exam-year').val();

    if(!ec_id) {
        alert('Please select Exam Center first');
        return false;
    }

    $('#loading-dialog').dialog('open');

    var ajaxUrl = '<?php echo $this->baseUrl(); ?>/admin/batch-exam-registration/get-exam-date/';
    $.post(ajaxUrl, { esd_id:esd_id, ec_id:ec_id, year:year, category_id:category_id } , function(data) {
        $('#select-date-dialog').html(data);
        $('#info-paper').text(': '+paper_desc);
        $('#info-module').text(': '+module_desc);
        $('#info-exam-center').text(': '+ec_desc);
        $('#info-date').text(': Please select date');

        setTimeout(function(){
            $('.calendar').fullCalendar('render');
        }, 100);

        $('#modal-esd-id').val(esd_id);
        $('#select-date-dialog').dialog('open');
    })
    .fail(function() {
        $('#select-date-dialog').dialog('close');
        alert('Failed to get Exam Date');
        return false;
    })
    .always(function() {
        $('#loading-dialog').dialog('close');
    });
}
</script>