<?php Global $exam_registration; ?>
<html>
    <head>
        <style type="text/css">
        .table { border-collapse: collapse; }  
        .border td, .border th { 
            border: 1px solid black; 
            padding: 1px 5px;
        }
        .no-border td, .no-border th {
            border: 0px solid black; 
            padding: 1px 5px;
        }
        body, td, th {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            font-size: 12px;
            padding: 0;
            margin: 0;
        }
        </style>
    </head>
    <body>
        <table width="100%" class="table border">
            <tr>
                <td align="center"><strong>EXAMINATION ATTENDANCE SLIP</strong><td>
            </tr>
            <tr>
                <td>topkek</td>
            </tr>
        </table>
    </body>
</head>