<div class="message toolbar" style="padding-left:5%;">
    <h2><?php echo $this->title; ?></h2>
</div>
<fieldset>
    <form method="post">
        <table class="" width="100%">
            <tr>
                <td width="150em"><?php echo $this->translate('Programme'); ?></td>
                <td>
                    <select class="select" name="IdProgram">
                        <option value=""><?php echo $this->translate('Please Choose'); ?></option>
                        <?php foreach($this->programs as $row): ?>
                            <?php
                            $selected = '';
                            if(isset($this->data['IdProgram']) && $this->data['IdProgram'] == $row['key']) $selected = 'selected="selected"';
                            ?>
                            <option value="<?php echo $row['key']; ?>" <?php echo $selected; ?>><?php echo $row['value']; ?> - <?php echo $row['code']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="150em"><?php echo $this->translate('Exam Center'); ?></td>
                <td>
                    <select class="select" name="ec_id">
                        <option value=""><?php echo $this->translate('Please Choose'); ?></option>
                        <?php foreach($this->examcenter as $row): ?>
                            <?php
                            $selected = '';
                            if(isset($this->data['ec_id']) && $this->data['ec_id'] == $row['ec_id']) $selected = 'selected="selected"';
                            ?>
                            <option value="<?php echo $row['ec_id']; ?>" <?php echo $selected; ?>><?php echo $row['ec_name']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Registration ID'); ?></td>
                <td>
                    <input type="text" name="registrationId" class="input-txt" value="<?php if(isset($this->data['registrationId'])) echo $this->data['registrationId']; ?>" />
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Name'); ?></td>
                <td>
                    <input type="text" name="std_fullname" class="input-txt" value="<?php if(isset($this->data['std_fullname'])) echo $this->data['std_fullname']; ?>" />
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('IC/ID Number'); ?></td>
                <td>
                    <input type="text" name="std_idnumber" class="input-txt" value="<?php if(isset($this->data['std_idnumber'])) echo $this->data['std_idnumber']; ?>" />
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Exam Date From'); ?></td>
                <td>
                    <input type="text" name="date_from" class="input-txt datepicker" value="<?php if(isset($this->data['date_from'])) echo $this->data['date_from']; ?>" />
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Exam Date To'); ?></td>
                <td>
                    <input type="text" name="date_to" class="input-txt datepicker" value="<?php if(isset($this->data['date_to'])) echo $this->data['date_to']; ?>" />
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Cancellation Application'); ?></td>
                <td align="left">
                    <input type="checkbox" name="cancellation" value="1" <?php echo (isset($this->data['cancellation']) && $this->data['cancellation'] ? 'checked':''); ?> />
               
            <tr>
                <td><?php echo $this->translate('Migration Data'); ?></td>
                <td align="left">
                    <input type="checkbox" name="migration" value="1" <?php echo (isset($this->data['migration']) && $this->data['migration'] ? 'checked':''); ?> />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit"><?php echo $this->translate('Search'); ?></button> 
                    <a href="<?php echo $this->baseUrl() . '/admin/exam-registration/';?>">
                        <button type="button"><?php echo $this->translate('Reset'); ?></button> 
                    </a>
                    <a href="<?php echo $this->baseUrl() . '/admin/exam-registration/search/';?>">
                        <button class='add' type="button"><?php echo $this->translate("Add Individual"); ?></button> 
                    </a>
                </td>
            </tr>
        </table>
    </form>
</fieldset>

<br/>
<?php 

if($this->paginator){ ?>

<table class="table" width="100%">
    <thead>
        <tr>
            <th width="100em"><?php echo $this->translate('Registration ID'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th width="150em"><?php echo $this->translate('IC/ID'); ?></th>
            <th><?php echo $this->translate('Program'); ?></th>
            <!-- <th><?php echo $this->translate('Learning Mode'); ?></th> -->
            <!-- <th><?php echo $this->translate('Exam Option'); ?></th> -->
            <th width="200em"><?php echo $this->translate('Paper'); ?></th>
            <th width="200em"><?php echo $this->translate('Exam Center'); ?></th>
            <th width="100em"><?php echo $this->translate('Exam Date'); ?></th>
            <th width="100em"><?php echo $this->translate('Registration Status'); ?></th>
            <th width="100em"><?php echo $this->translate('Attendance Status'); ?></th>
            <th width="50em"><?php echo $this->translate('Grade'); ?></th>
            <th width="50em"><?php echo $this->translate('Pass Status'); ?></th>
            <th width="50em">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->paginator as $row): ?>
            <tr>
                <td align="center"><?php echo $row['registrationId']; ?></td>
                <td><?php echo $row['std_fullname']; ?></td>
                <td align="center"><?php echo $row['std_idnumber']; ?></td>
                <td><?php echo $row['ProgramName']; ?></td>
                <!-- <td align="center"><?php echo $row['mop']; ?></td> -->
                <!-- <td align="center"><?php echo $row['es_name']; ?></td> -->
                <td><?php echo $row['pe_name']; ?></td>
                <td align="center"><?php echo $row['ec_name']; ?></td>
                <td align="center">
                    <?php echo date('d-m-Y', strtotime($row['es_date'])); ?>
                    <?php echo date('H:iA', strtotime($row['es_start_time'])); ?>
                </td>
                <td align="center">
                    <?php
                    switch ($row['er_registration_type'])
                    {
                        case 0: echo $this->translate('Pre-Registered'); break;
                        case 1: echo $this->translate('Registered'); break;
                        case 2: echo $this->translate('Dropped'); break;
                        case 4: echo $this->translate('Repeat'); break;
                        case 9: echo $this->translate('Pre-Repeat'); break;
                        case 10: echo $this->translate('Completed'); break;
                    }
                    ?>
                </td>
                <td align="center">
                	<?php if($row['er_registration_type']==1 || $row['er_registration_type']==4 || $row['er_registration_type']==9 || $row['er_registration_type']==10){?>
                    <?php if($row['attendance_status_desc']): ?>
                        <?php echo $row['attendance_status_desc']; ?>
                    <?php else: ?>
                        <a href="<?php echo $this->baseUrl(); ?>/admin/exam-attendance/schedule/id/<?php echo $row['examschedule_id']; ?>" target="_blank">
                            <?php echo $this->translate('Update'); ?>
                        </a>
                    <?php endif; ?>
                    <?php } ?>
                </td>
                
                <?php if($row['er_registration_type']==1 || $row['er_registration_type']==4 || $row['er_registration_type']==9 || $row['er_registration_type']==10){?>
                <?php if($row['pass']!='' && ($row['pass'] == 1 || $row['pass'] == 0)): ?>
                    <td align="center"><?php echo $row['grade_name']; ?></td>
                    <td align="center">
                        <?php                        
                        if($row['pass'] == 0): echo $this->translate('Fail'); 
                        elseif($row['pass'] == 1): echo $this->translate('Pass');
                        endif;
                        ?>
                    </td>
                <?php else: ?>
                    <td colspan="2" align="center">
                        <a href="<?php echo $this->baseUrl(); ?>/admin/mark-entry/schedule/id/<?php echo $row['examschedule_id']; ?>" target="_blank">
                            <?php echo $this->translate('Update'); ?>
                        </a>
                    </td>
                <?php endif; ?>
                <?php }else { echo "<td></td><td></td>";} ?>
                
                <td align="center">
                    <a href="<?php echo $this->baseUrl(); ?>/admin/exam-registration/view/id/<?php echo $row['er_main_id']; ?>">View</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<?php if(count($this->paginator)): ?>
    <br />
    <div class="pagination opt"><?php echo $this->paginationControl($this->lobjpaginator, 'Sliding', '/partials/my_pagination_control.phtml'); ?></div>
<?php endif; ?>
<?php } ?>

<script type="text/javascript">
    $('.datepicker').each(function(e) {
        $(this).datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
        });
    });
</script>
