<?php $exam_registration        = $this->exam_registration; ?>
<?php $exam_registration_detail = $this->exam_registration_detail; ?>
<style type="text/css">
.custom-table {
    border-collapse: collapse;
}
.custom-table td {
    border: 1px solid #e1e1e1;
}
.input-txt-short { width: 100px; }
#info-table { margin-top: -1px; }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <?php $schedule_url = $this->baseUrl()."/admin/deferment/add/id/"; ?>
                <a href="<?php echo $schedule_url; ?>" id="add-deferment-url">
                    <span class='generate'></span>
                    <?php echo $this->translate('Deferment');?>
                </a>
            </li>
            <li>
                <?php $schedule_url = $this->baseUrl()."/admin/withdrawal/add/id/"; ?>
                <a href="<?php echo $schedule_url; ?>" id="add-withdrawal-url">
                    <span class='delete'></span>
                    <?php echo $this->translate('Withdrawal');?>
                </a>
            </li>
            <li>
                <?php $schedule_url = $this->baseUrl()."/admin/exam-registration/index/"; ?>
                <a href="<?php echo $schedule_url; ?>" id="add-schedule-url">
                    <span class='back'></span>
                    <?php echo $this->translate('Back');?>
                </a>
            </li>      
        </ul>   
    </div>
</div>

<?php
$show_cancellation     = false;
$cancel_apply_by       = null;
$cancel_apply_date     = null;
$cancel_approve_status = null;
$cancel_approve_date   = null;
foreach($exam_registration as $er):
    if($er['cancel_apply_by']) {
        $cancel_apply_date     = $er['cancel_apply_date'];
        $cancel_approve_status = $er['cancel_approve_status'];
        $cancel_approve_date   = $er['cancel_approve_status'];
        $show_cancellation     = true;
        break;
    }
endforeach; 
?>
<?php if($show_cancellation): ?>
    <form method="post" action="<?php echo $this->baseUrl(); ?>/admin/exam-registration/cancel/id/<?php echo $this->student_id; ?>" id="cancellation-form">
        <table class="custom-table" width="100%">
            <tr>
                <td width="150em">Cancellation Status</td>
                <td>
                    <?php foreach($exam_registration as $er): ?>
                        <input type="hidden" name="er_id[]" value="<?php echo $er['er_id']; ?>" readonly />
                    <?php endforeach; ?>

                    <?php 
                    if($cancel_approve_status == 0) echo $this->translate('Pending for approval');
                    elseif($cancel_approve_status == 1) echo $this->translate('Cancelation Approved');
                    elseif($cancel_approve_status == 1) echo $this->translate('Cancelation Rejected');
                    ?>
                </td>
            </tr>
            <tr>
                <td width="150em">Cancellation Apply Date</td>
                <td>
                    <?php echo date('d-m-Y', strtotime($cancel_apply_date)); ?>
                </td>
            </tr>
            <?php if($cancel_approve_status == 0): ?>
                <tr>
                    <td><?php echo $this->translate('Cancellation Approval Status'); ?></td>
                    <td>
                        <form method="post"  id="cancellation-form" action="<?php echo $this->baseUrl(); ?>/admin/batch-exam-registration/cancel/id/<?php echo $this->ber['ber_id']; ?>">
                        <select name="cancel_approve_status" id="cancel_approve_status" class="select">
                            <option value="0"><?php echo $this->translate('Please select'); ?></option>
                            <option value="1"><?php echo $this->translate('Approve'); ?></option>
                            <option value="2"><?php echo $this->translate('Reject'); ?></option>
                        </select>

                        <button type="submit" class="submit-btn"><?php echo $this->translate('Save'); ?></button>
                    </td>
                </tr>
            <?php else: ?>
                <tr>
                    <td><?php echo $this->translate('Cancellation Approve Date'); ?></td>
                    <td>
                        <?php echo date('d-m-Y H:i A', strtotime($cancel_approve_date)); ?>
                    </td>
                </tr>
            <?php endif; ?>
        </table>
    </form>
<?php endif; ?>

<br />
<br />

<form method="post" id="exam-registration-form">
    <?php /*if(!empty($exam_registration)): ?>
        <input type="hidden" value="<?php echo $exam_registration['er_id']; ?>" name="common[er_id]" />
    <?php endif; */ ?>
    <table class="custom-table" width="100%" border="1" id="info-table">
        <tr>
            <td width="150em"><?php echo $this->translate('Registration ID'); ?><br/><br/></td>
            <td><?php echo $this->student['registrationId']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student Name'); ?><br/><br/></td>
            <td><?php echo $this->student['std_fullname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('IC/ID'); ?><br/><br/></td>
            <td><?php echo $this->student['std_idnumber']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme'); ?><br/><br/></td>
            <td><?php echo $this->landscape['ProgramName']; ?> (<?php echo $this->landscape['ProgramCode']; ?>)</td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Scheme'); ?><br/><br/></td>
            <td><?php echo $this->landscape['scheme']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Exam Options'); ?><span class="reqMark">*</span></td>
            <td>
                <?php $pre_es_id = 0; ?>
                <?php foreach($this->exam_list as $exam): ?>
                    <?php foreach($exam['details'] as $detail): ?>
                        <?php if(isset($exam_registration[$detail['esd_id']])): ?>
                            <?php $pre_es_id = $exam_registration[$detail['esd_id']]['examsetup_id']; break; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endforeach; ?>

                <?php $i=0; foreach($this->exam_list as $exam): ?>
                    <?php $es_id = $exam['es_id']; ?>
                    <?php $detail_count = 0; ?>
                    <div data-es-id="<?php echo $exam['es_id']; ?>">
                        <?php
                        $disabled = '';
                        if($pre_es_id > 0 && $pre_es_id != $es_id):
                            $disabled = 'disabled';
                        endif;
                        ?>
                        <input type="radio" name="common[examsetup_id]" value="<?php echo $exam['es_id']; ?>" class="select-schedule" <?php echo $disabled; ?> />  — 
                        <?php echo $exam['es_name']; ?> <?php echo $exam['es_online'] ? $this->translate('Online Examination') : $this->translate('Manual Examination'); ?>
                        <br/>
                        <br/>
                        <table width="100%" class="table exam-table" data-es-id="<?php echo $es_id; ?>" class="detail-table" style="">
                            <thead>
                                <tr>
                                    <th width="50em"><?php echo $this->translate('Select Exam'); ?></th>
                                    <th><?php echo $this->translate('Exam Description'); ?></th>
                                    <th width="250em"><?php echo $this->translate('Registration Type'); ?><span class="reqMark">*</span></th>
                                    <th width="200em"><?php echo $this->translate('Exam Center'); ?><span class="reqMark">*</span></th>
                                    <th width="200em"><?php echo $this->translate('Exam Date'); ?><span class="reqMark">*</span></th>
                                    <th width="200em"><?php echo $this->translate('Exam Session'); ?><span class="reqMark">*</span></th>
                                    <th width="100em"><?php echo $this->translate('Registration ID'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($exam['details'] as $detail): ?>
                                    <?php 
                                    $detail_count++;
                                    $esd_id = $detail['esd_id'];
                                    $er     = array();

                                    if(isset($exam_registration[$esd_id])):
                                        $er = $exam_registration[$esd_id];
                                    endif;
                                    ?>
                                    <tr data-esd-id="<?php echo $esd_id; ?>">
                                        <td align="center">
                                            <input type="hidden" data-esd-id="<?php echo $esd_id; ?>" class="er-id" name="exam_registration_detail[<?php echo $i; ?>][er_id]" value="" />
                                            <input type="hidden" data-esd-id="<?php echo $esd_id; ?>" name="exam_registration_detail[<?php echo $i; ?>][examsetup_id]" value="<?php echo $exam['es_id']; ?>" />
                                            
                                            <?php 
                                            $display = '';
                                            $checked = '';
                                            ?>
                                            <?php if(!empty($er) || $pre_es_id == $es_id): ?>
                                                <?php 
                                                $display = 'display:none;';
                                                $checked = 'checked'; 
                                                ?>
                                                <i class="icon icon-check"></i>
                                            <?php endif; ?>
                                            <input type="checkbox" class="select-exam" data-esd-id="<?php echo $esd_id; ?>" name="exam_registration_detail[<?php echo $i; ?>][examsetupdetail_id]"  value="<?php echo $esd_id; ?>" style="<?php echo $display; ?>" <?php echo $checked; ?> />
                                        </td>
                                        <td>
                                            <?php echo $detail['pe_name']; ?>
                                            
                                        </td>
                                        <td>
                                            <?php if(!empty($er)): ?>
                                                <strong><?php echo $this->translate('Status'); ?>:</strong>
                                                <?php if($er['er_registration_type'] == 0): ?>
                                                    <?php echo $this->translate('Register'); ?>
                                                <?php elseif($er['er_registration_type'] == 1): ?>
                                                    <?php echo $this->translate('Register'); ?>
                                                <?php elseif($er['er_registration_type'] == 9): ?>
                                                    <?php echo $this->translate('Repeat'); ?>
                                                <?php elseif($er['er_registration_type'] == 4): ?>
                                                    <?php echo $this->translate('Repeat'); ?>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <select class="select registration-type" data-esd-id="<?php echo $detail['esd_id']; ?>" disabled name="exam_registration_detail[<?php echo $i; ?>][er_registration_type]" style="display: none;">
                                                    <option value="0"><?php echo $this->translate('Register'); ?></option>
                                                </select>
                                                <strong><?php echo $this->translate('Status'); ?>:</strong> <?php echo $this->translate('Register'); ?>
                                            <?php endif; ?>

                                            <?php if(!empty($er)): ?>
                                                <br/><br/> 
                                                <strong><?php echo $this->translate('Exam Grade'); ?>:</strong>
                                                <?php if($er['pass'] != null): ?>
                                                    <?php echo $er['grade_name']; ?>, <?php echo ($er['pass'] ? $this->translate('Pass') : $this->translate('Fail')); ?>
                                                <?php else: ?>
                                                    <?php echo $this->translate('Waiting for exam'); ?>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </td>
                                        <td align="center">
                                            <select class="select exam-center" data-esd-id="<?php echo $detail['esd_id']; ?>" disabled name="exam_registration_detail[<?php echo $i; ?>][examcenter_id]">
                                                <?php if(isset($detail['exam_centers'])): ?>
                                                    <option value=""><?php echo $this->translate('Please select'); ?></option>
                                                    <?php foreach($detail['exam_centers'] as $exam_center): ?>
                                                        <option value="<?php echo $exam_center['ec_id']; ?>"><?php echo $exam_center['ec_name']; ?></option>
                                                    <?php endforeach; ?>
                                                <?php else: ?>
                                                    <option value=""><?php echo $this->translate('No schedule has been set for this exam'); ?></option>
                                                    <script type="text/javascript">
                                                        $('tr[data-esd-id=<?php echo $esd_id; ?>]').hide();
                                                    </script>
                                                    <?php $detail_count--; ?>
                                                <?php endif; ?>
                                            </select>
                                        </td>
                                        <td align="center">
                                            <select class="select select-date" data-esd-id="<?php echo $detail['esd_id']; ?>" disabled name="exam_registration_detail[<?php echo $i; ?>][exam_date]">
                                                <option value=""><?php echo $this->translate('Please select'); ?></option>
                                            </select>
                                        </td>
                                        <td align="center">
                                            <select class="select select-session" data-esd-id="<?php echo $detail['esd_id']; ?>" disabled name="exam_registration_detail[<?php echo $i; ?>][examschedule_id]">
                                                <option value=""><?php echo $this->translate('Please select'); ?></option>
                                            </select>
                                        </td>
                                        <td align="center">
                                            <?php if(!empty($er)): ?>
                                                <input type="text" class="input-txt input-txt-short" value="<?php echo $er['registrationId']; ?>" name="exam_registration_detail[<?php echo $i; ?>][registrationId]" />
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <strong><?php echo $this->translate('Prerequisite'); ?></strong>:
                                            <?php if(count($detail['prerequisites'])): ?>
                                                <table class="maintable infotable" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th width="100em"><?php echo $this->translate('Based On'); ?></th>
                                                            <th><?php echo $this->translate('Items'); ?></th>
                                                            <th width="100em"><?php echo $this->translate('Type'); ?></th>
                                                            <th width="100em"><?php echo $this->translate('Requirement'); ?></th>
                                                        </tr>
                                                    </thead>
                                                    <?php foreach($detail['prerequisites'] as $prerequisite): ?>
                                                        <tr>
                                                            <td><?php echo $prerequisite['pep_based_on_text']; ?></td>
                                                            <td>
                                                                <?php if($prerequisite['required_pe_id']): ?>
                                                                    <?php echo $prerequisite['required_pe_desc']; ?>
                                                                <?php else: ?>
                                                                    <table class="table" width="100%">
                                                                        <?php if($prerequisite['required_IdProgram']): ?>
                                                                            <tr>
                                                                                <td width="150em"><strong><?php echo $this->translate('Program'); ?></strong></td>
                                                                                <td><?php echo $prerequisite['required_IdProgram_desc']; ?></td>
                                                                            </tr>
                                                                        <?php endif; ?>
                                                                        <?php if($prerequisite['required_IdLandscape']): ?>
                                                                            <tr>
                                                                                <td width="150em"><strong><?php echo $this->translate('Program Scheme'); ?></strong></td>
                                                                                <td><?php echo $row['required_IdLandscape_desc']; ?></td>
                                                                            </tr>
                                                                        <?php endif; ?>
                                                                        <?php if($prerequisite['required_IdSubject']): ?>
                                                                            <tr>
                                                                                <td width="150em"><strong><?php echo $this->translate('Module'); ?></strong></td>
                                                                                <td><?php echo $prerequisite['required_IdSubject_desc']; ?></td>
                                                                            </tr>
                                                                        <?php endif; ?>
                                                                    
                                                                    </table>
                                                                <?php endif; ?>
                                                            </td>
                                                            <td><?php echo $prerequisite['pep_type_text']; ?></td>
                                                            <td>
                                                                <?php if($prerequisite['pep_type_text'] == 'Attendance'): ?>
                                                                    <?php echo $prerequisite['pep_attendance']; ?>%
                                                                <?php elseif($prerequisite['pep_type_text'] == 'Grade Status'): ?>
                                                                    <?php echo $prerequisite['pep_grade_status_text']; ?>
                                                                <?php endif; ?>
                                                            </td>
                                                        </tr>
                                                    <?php endforeach; ?>
                                                </table>
                                                <br />
                                            <?php else: ?>
                                                <?php echo '-'; ?>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php $i++; endforeach; ?>
                            </tbody>
                        </table>
                        <?php if(!$detail_count): ?>
                            <script type="text/javascript">
                                $('div[data-es-id=<?php echo $es_id; ?>]').hide();
                            </script>
                        <?php endif; ?>
                        <br/>
                    </div>
                <?php endforeach; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <?php if(empty($exam_registration)): ?>
                    <input type="submit" value="<?php echo $this->translate('Register'); ?>" />
                <?php else: ?>
                    <input type="submit" value="<?php echo $this->translate('Update'); ?>"/> 

                    <?php
                    $allow_drop = true;
                    foreach($exam_registration as $row):
                        if(!empty($row['grade'])):
                            $allow_drop = false;
                            break;
                        endif;
                    endforeach;
                    ?>
                    <?php if($allow_drop): ?>
                        <?php $unregister_url = $this->baseUrl()."/admin/exam-registration/unregister/id/". $this->student_id; ?>
                        <input type="button" value="<?php echo $this->translate('Drop'); ?>" href="<?php echo $unregister_url; ?>" id="unregister-btn" />
                    <?php endif; ?>
                <?php endif; ?>
            </td>
        </tr>
    </table>
</form>
<?php //pr($this->exam_list); ?>
<div style="display:none;">
    <?php foreach($this->exam_list as $exam): ?>
        <?php foreach($exam['details'] as $detail): ?>
            <?php if(!isset($detail['exam_centers'])) $detail['exam_centers'] = []; ?>
            <?php foreach($detail['exam_centers'] as $exam_center): ?>
                <div>
                    <?php if(isset($exam_center['dates'])): ?>
                        <select class="select date-option" data-esd-id="<?php echo $detail['esd_id']; ?>" data-ec-id="<?php echo $exam_center['ec_id']; ?>">
                            <option value=""><?php echo $this->translate('Please select'); ?></option>
                            <?php foreach($exam_center['dates'] as $examschedule_id => $date): ?>
                                <option value="<?php echo $examschedule_id; ?>"><?php echo $date ?></option>
                            <?php endforeach; ?>
                        </select>
                        <?php foreach($exam_center['sessions'] as $date => $sessions): ?>
                            <select class="select session-option" data-esd-id="<?php echo $detail['esd_id']; ?>" data-ec-id="<?php echo $exam_center['ec_id']; ?>" date="<?php echo $date; ?>">
                                <option value=""><?php echo $this->translate('Please select'); ?></option> 
                                <?php foreach($sessions as $examschedule_id => $session): ?>
                                    <option value="<?php echo $examschedule_id; ?>"><?php echo $session ?></option>
                                <?php endforeach; ?> 
                            </select>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
            <hr/>
        <?php endforeach; ?> 
    <?php endforeach; ?> <?php /* jgn tanya. yg tukang buat pun pening nak explain. basically generate every possible combination */ ?>
</div>

<?php //pr($this->exam_list); ?>
<?php //pr($exam_registration); ?>

<script type="text/javascript">
$('input.select-schedule').change(function(e) {
    var es_id = $(this).val()
    // $('.exam-table').hide();

    $('.exam-table input[type=checkbox]').prop('checked', false).attr('disabled', 'disabled');
    $('.exam-table select').val('').attr('disabled', 'disabled');
    $('.exam-table select.select-date').html('<option value=""><?php echo $this->translate('Please select'); ?></option>');
    $('.exam-table select.select-session').html('<option value=""><?php echo $this->translate('Please select'); ?></option>');

    if($(this).prop('checked')) {
        $(this).siblings('table').show();
        $('table[data-es-id='+es_id+'] input[type=checkbox]').removeAttr('disabled');
    }
    
});

$('input.select-exam[type=checkbox]').change(function(e) {
    var esd_id = $(this).data('esd-id');
    
    if($(this).prop('checked')) {
        $('tr[data-esd-id='+esd_id+'] input').removeAttr('disabled');
        $('tr[data-esd-id='+esd_id+'] select').removeAttr('disabled');
        return true;
    }

    $('tr[data-esd-id='+esd_id+'] select').attr('disabled', 'disabled');
});

$('select.exam-center').change(function(e) {
    var ec_id  = $(this).val();
    var esd_id = $(this).data('esd-id');

    $('tr[data-esd-id='+esd_id+'] select.select-date').html('<option value=""><?php echo $this->translate('Please select'); ?></option>');
    $('tr[data-esd-id='+esd_id+'] select.select-session').html('<option value=""><?php echo $this->translate('Please select'); ?></option>');

    if(!$(this).val().length) {
        e.preventDefault();
        return false;
    }

    // console.log('ec_id='+ec_id+', esd_id='+esd_id);
    // console.log($('select.select-date[data-esd-id='+esd_id+']'));
    // console.log($('select.select-date-option[data-esd-id='+esd_id+'][data-ec-id='+ec_id+']'));

    $('select.select-date[data-esd-id='+esd_id+']').html($('select.date-option[data-esd-id='+esd_id+'][data-ec-id='+ec_id+']').html());
});

$('select.select-date').change(function(e) {
    var esd_id = $(this).data('esd-id');
    var ec_id  = $('select.exam-center[data-esd-id='+esd_id+']').val();
    var date   = $(this).children('option:selected').text();

    $('tr[data-esd-id='+esd_id+'] select.select-session').html('<option value=""><?php echo $this->translate('Please select'); ?></option>');

    if(!$(this).val().length) {
        e.preventDefault();
        return false;
    }

    // console.log('ec_id='+ec_id+', esd_id='+esd_id+', date='+date);
    // console.log($('select.select-session[data-esd-id='+esd_id+']'));
    // console.log($('select.session-option[data-esd-id='+esd_id+'][data-ec-id='+ec_id+'][date='+date+']'));

    $('select.select-session[data-esd-id='+esd_id+']').html($('select.session-option[data-esd-id='+esd_id+'][data-ec-id='+ec_id+'][date='+date+']').html());
});

$('#unregister-btn').click(function(e) {
    var proceed = confirm("<?php echo $this->translate('Drop this registration'); ?>. <?php echo $this->translate('Are you sure ?'); ?>");
    if(!proceed) {
        e.preventDefault();
        return false;
    }
    window.location.href = $(this).attr('href');
});

$('#exam-registration-form').submit(function(e) {
    if(!$('input.select-schedule:visible:checked').length) {
        e.preventDefault();
        alert("<?php echo $this->translate('Please choose an exam option'); ?>");
        return false;
    }

    <?php if(empty($exam_registration)): ?>
    if(!$('input.select-exam:visible:checked').length) {
        e.preventDefault();
        alert("<?php echo $this->translate('Please select at least one exam'); ?>");
        return false;
    }
    <?php endif; ?>


    $('#exam-registration-form select.select:visible:enabled').each(function() {
        if(!$(this).val().length) {
            e.preventDefault();
            alert("<?php echo $this->translate('Please enter all the information required'); ?>");
            return false;
        }
    });
});

<?php $select_option = false; ?>
<?php foreach($exam_registration as $er): ?>
    <?php $es_date = date('d-m-Y', strtotime($er['es_date'])); ?>
    <?php if(!$select_option): ?>
        $('input.select-schedule[value=<?php echo $er['examsetup_id']; ?>]').prop('checked', true).change();
        $('div[data-es-id=<?php echo $er['examsetup_id']; ?>] .select-exam').prop('checked', true).change();
        <?php $select_option = true; ?>
    <?php endif; ?>
    
    $('input.er-id[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').val('<?php echo $er['er_id']; ?>');
    $('input.select-exam[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').prop('checked', true).change();
    $('input.select-exam[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').prop('checked', true).change();
    $('select.registration-type[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').val('<?php echo $er['er_registration_type']; ?>').change();
    $('select.exam-center[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').val('<?php echo $er['es_exam_center']; ?>').change();
    $('select.select-date[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').val('<?php echo $es_date ?>').change(); 
    $('select.select-session[data-esd-id=<?php echo $er['examsetupdetail_id']; ?>]').val('<?php echo $er['examschedule_id']; ?>').change();
<?php endforeach; ?>

$('#cancellation-form').submit(function(e) {
    if($('#cancel_approve_status').val() == '0') {
        e.preventDefault();
        alert('Please select approval status');
        return false;
    }

    var proceed = confirm('Are you sure?');
    if(!proceed) {
        e.preventDefault();
        return false;
    }
});
</script>