<style>
.table{
    font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    background-color: #fafafa;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 10px;
}
.toolbar-button ul li a .add { display:block; color:black; margin:0 auto 4px auto; width:24px; height:24px; background: url('../../images/icons_toolbar/icon_add.png') no-repeat  }
</style>
<div class="message toolbar" style="padding-left: 5%;">
    <h2><?php echo $this->title; ?></h2>
</div>
<fieldset style="padding-left: 5%;">
    <form method="post">
        <table  width="100%">
            <tr>
                <td width="150"><?php echo $this->translate('Program'); ?></td>
                <td>
                    <select class="select" name="IdProgram">
                        <option value=""><?php echo $this->translate('Please Choose'); ?></option>
                       <?php foreach($this->programs as $row): ?>
                            <?php
                            $selected = '';
                            if(isset($this->data['IdProgram']) && $this->data['IdProgram'] == $row['key']) $selected = 'selected="selected"';
                            ?>
                            <option value="<?php echo $row['key']; ?>" <?php echo $selected; ?>><?php echo $row['value']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Registration ID'); ?></td>
                <td>
                    <input type="text" name="registrationId" class="input-txt" value="<?php if(isset($this->data['registrationId'])) echo $this->data['registrationId']; ?>" />
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Name'); ?></td>
                <td>
                    <input type="text" name="fullname" class="input-txt" value="<?php if(isset($this->data['fullname'])) echo $this->data['fullname']; ?>" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit"><?php echo $this->translate('Search'); ?></button> 
                    <a href="<?php echo $this->baseUrl() . '/admin/exam-registration/';?>">
                        <button type="button"><?php echo $this->translate('Reset'); ?></button> 
                    </a>
                </td>
            </tr>
        </table>
    </form>
</fieldset>

<div align="center" class="toolbar-button">
    <a href="<?php echo $this->baseUrl(); ?>/admin/exam-registration/index/">
        <input type="button" name="Button" label=<?php echo $this->translate('Back')?> value=<?php echo $this->translate('Back')?>> 
    </a>
</div>

<table class="uk-table uk-table-stacked uk-table-admin table" width="100%">
    <thead>
        <tr>
            <th width="100"><?php echo $this->translate('Registration ID'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('IC/ID'); ?></th>
            <th><?php echo $this->translate('Program'); ?></th>
            <th><?php echo $this->translate('Learning Mode'); ?></th>
            <th><?php echo $this->translate('Status'); ?></th>
            <th width="100">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->paginator as $row): ?>
            <tr>
                <td align="center"><?php echo $row['registrationId']; ?></td>
                <td><?php echo $row['std_fullname']; ?></td>
                <td align="center"><?php echo $row['std_idnumber']; ?></td>
                <td><?php echo $row['ProgramName']; ?></td>
                <td align="center"><?php echo $row['mop']; ?></td>
                <td align="center">
                    <?php echo ($row['status'] == 1 ? $this->translate('Active'):$this->translate('Not Active')); ?>
                </td>
                <td align="center">
                    <?php $register_url = $this->baseUrl() ."/admin/exam-registration/enrol/id/". $row['IdStudentRegistration']; ?>
                    <a href="<?php echo $register_url; ?>"><?php echo $this->translate('Register'); ?></a>
                    <?php /*
                     |
                    <?php $slip_url = $this->baseUrl() ."/examination/exam-registration/exam-slip/id/". $row['IdStudentRegistration']; ?>
                    <a href="<?php echo $slip_url; ?>"><?php echo $this->translate('Exam Slip'); ?></a>
                    */ ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<?php if(count($this->paginator)): ?>
    <br />
    <div class="pagination opt"><?php echo $this->paginationControl($this->lobjpaginator, 'Sliding', '/partials/my_pagination_control.phtml'); ?></div>
<?php endif; ?>