<style type="text/css">
.table3 td { border:1px solid #ccc !important; background:#fff; }
.table3 th { border:1px solid #ccc !important; }
.table3 thead+tbody:before { content:" "; }
.padding-left-10 ul { padding-left: 15px; }
.fix-bullet li { margin-left: 20px; }
</style>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php if($this->er_main['active'] == 1): ?>
                <li>
                    <?php $schedule_url = $this->baseUrl()."/admin/withdrawal/add/id/". $this->er_main_id; ?>
                    <a href="<?php echo $schedule_url; ?>" id="add-withdrawal-url">
                        <span class='delete'></span>
                        <?php echo $this->translate('Withdraw');?>
                    </a>
                </li>
            <?php endif; ?>
            <li>
                <?php $schedule_url = $this->baseUrl()."/admin/exam-registration/index/"; ?>
                <a href="<?php echo $schedule_url; ?>" id="add-schedule-url">
                    <span class='back'></span>
                    <?php echo $this->translate('Back');?>
                </a>
            </li>      
        </ul>   
    </div>
</div>

<br />

<table class="table" width="100%">
    <tr>
        <td width="150"><?php echo $this->translate('Name'); ?></td>
        <td>
            <a href="<?php echo $this->baseUrl(); ?>/records/studentprofile/details/id/<?php echo $this->er_main['std_id']; ?>">
                <?php echo $this->er_main['std_fullname']; ?>
            </a>
        </td>
    </tr>
    <tr>
        <td width="150"><?php echo $this->translate('ID Number'); ?></td>
        <td><?php echo $this->er_main['std_idnumber']; ?></td>
    </tr>
    <tr>
        <td width="150"><?php echo $this->translate('Email'); ?></td>
        <td><?php echo $this->er_main['std_email']; ?></td>
    </tr>
    <tr>
        <td width="150"><?php echo $this->translate('Program'); ?></td>
        <td><?php echo $this->er_main['ProgramName']; ?> - <?php echo $this->er_main['ProgramCode']; ?></td>
    </tr>
    <tr>
        <td><?Php echo $this->translate('Examination Slip'); ?></td>
        <td>
            <?php $url = $this->baseUrl().'/admin/batch-exam-registration/all-examination-slip/id/'.$this->er_main_id; ?>
            <a href="<?php echo $url; ?>" target="_blank">Download</a> |
            <?php $url = $this->baseUrl().'/admin/exam-registration/email-exam-slip/id/'.$this->er_main_id; ?>
            <a href="<?php echo $url; ?>" id="email-exam-slip-btn">Send Email</a>
        </td>
    </tr>
    <?php
    $allow_result_slip = true;

    foreach($this->exams as $row):
        if(!$row['result_endorsed_date']) $allow_result_slip = false;
    endforeach;
    ?>
    <?php if($allow_result_slip): ?>
        <tr>
            <td><?php echo $this->translate('Result Slip'); ?></td>
            <td>
                <?php $url = $this->baseUrl().'/admin/batch-exam-registration/result-slip/id/'.$this->er_main_id; ?>
                <a href="<?php echo $url; ?>" target="_blank">Download</a>
            </td>
        </tr>
    <?php endif; ?>
</table>

<br /><br />

<table class="table3" width="100%">
    <tr>
        <th width="100"><?php echo $this->translate('Registration ID'); ?></th>
        <th><?php echo $this->translate('Paper'); ?></th>
        <th width="200"><?php echo $this->translate('Exam Date'); ?></th>
        <th width="200"><?php echo $this->translate('Exam Center'); ?></th>
        <th width="200"><?php echo $this->translate('Exam Room'); ?></th>
        <th width="150"><?php echo $this->translate('Attendance Status'); ?></th>
        <th width="150"><?php echo $this->translate('Grade Status'); ?></th>
        <th width="150"><?php echo $this->translate('Registration Status'); ?></th>
        <th width="150"></th>
    </tr>
    <?php foreach($this->exams as $row):  ?>
        <tr>
            <td align="center"><?php echo $row['registrationId']; ?></td>
            <td><?php echo $row['pe_name']; ?></td>
            <td align="center">
                <?php echo date('d-m-Y', strtotime($row['es_date'])); ?>
                <br />
                <?php echo date('H:i:A', strtotime($row['es_start_time'])); ?> - <?php echo date('H:i:A', strtotime($row['es_end_time'])); ?>
                <?php if ($row['reschedule']): ?>
<!--                    <br/>-->
<!--                    <span class="reqMark">*--><?php //echo $this->translate('Rescheduled'); ?><!--</span>-->
                <?php endif; ?>
            </td>
            <td align="center"><?php echo $row['ec_name']; ?></td>
            <td align="center">
                <?php
                if($row['examroom_id']):
                    echo $row['examroom_name'];
                endif;
                ?>
            </td>
            <td align="center">
                <?php echo ($row['attendance_status'] == 0 ? $this->translate('No record') : $row['attendance_status_desc']); ?>
            </td>
            <td align="center">
                <?php
                if ($row['pass'] == 0 && $row['pass'] != null):
                    if (in_array($row['attendance_status'], array(398))):
                        $row['grade_name'] = 'X';
                    elseif (in_array($row['attendance_status'], array(396, 1547))):
                        $row['grade_name'] = 'Y';
                    endif;
                endif;
                ?>
                <?php echo ($row['grade_name'] ? $row['grade_name'] : $this->translate('No record')); ?>
            </td>
            <td align="center">
                <?php
                switch ($row['er_registration_type']):
                    case 0:
                        echo $this->translate('Pre-Register'); break;
                    case 1:
                        echo $this->translate('Registered'); break;
                    case 2:
                        echo $this->translate('Dropped'); break;
                    case 3:
                        echo $this->translate('Withdrawn'); break;
                    case 4:
                        echo $this->translate('Registered (Repeat)'); break;
                    case 9:
                        echo $this->translate('Pre-Register (Repeat)'); break;
                    case 10:
                        echo $this->translate('Completed'); break;
                endswitch;
                ?>
            </td>
            <td align="">
                <ul class="fix-bullet">
                    <?php
                    $allow_changes = ($row['attendance_status'] != 395 && $row['attendance_status'] > 0 ? true : false);
                    $allow_update_attendance = (in_array($row['attendance_status'], array(396, 398)) ? true : false);
                    if ($allow_changes):
                    ?>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/admin/exam-attendance/candidate/id/<?php echo $row['er_id']; ?>">
                                <?php echo $this->translate('Update Attendance'); ?>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php

                    $allow_deferschedule = (in_array($row['attendance_status'], array(396, 1547)) ? true : false);
                    $allow_reschedule = (in_array($row['er_registration_type'], array(0, 1, 4, 9)) ? true : false);
                    $inattendancestatus = (in_array($row['attendance_status'], array(0, 396, 1547)) ? true : false);
                    $inregistrationstatus = (in_array($row['er_registration_type'], array(0, 1, 4, 9)) ? true : false);

                    if ($allow_deferschedule):
                    ?>
                    <li>
                        <a href="<?php echo $this->baseUrl(); ?>/admin/deferment/defer/id/<?php echo $row['er_id']; ?>">
                            <?php echo $this->translate('Defer'); ?>
                        </a>
                    </li>
                    <?php endif; ?>

                    <?php
                    $allow_differ = ($row['attendance_status'] == 396 ? true : false);
                    if ($inattendancestatus && $inregistrationstatus):
                    ?>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/admin/deferment/reschedule/id/<?php echo $row['er_id']; ?>">
                                <?php echo $this->translate('Reschedule'); ?>
                            </a>
                        </li>
                    <?php endif; ?>
                    <?php if ($row['attendance_status'] == 395): ?>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/admin/exam-registration/email-result-slip/id/<?php echo $row['er_id']; ?>" data-id="<?php echo $row['er_id']; ?>" class="email-result-slip">
                                <?php echo $this->translate('Email Result Slip'); ?>
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>
            </td>
        </tr>
    <?php endforeach; ?>
</table>

<br />
<br />

<div id="exam_tabs">
    <ul>
        <li><a href="#exam-tabs-1">Reschedule History</a></li>
<!--        <li><a href="#exam-tabs-2">Withdrawal History</a></li>-->
    </ul>
    <div id="exam-tabs-1">
        <br />
        <table class="table" width="100%">
            <tr>
                <th width="100"><?php echo $this->translate('Registration ID'); ?></th>
                <th><?php echo $this->translate('Paper'); ?></th>
                <th width="200"><?php echo $this->translate('Old Exam Center'); ?></th>
                <th width="200"><?php echo $this->translate('Old Exam Date'); ?></th>
                <th width="200"><?php echo $this->translate('New Exam Center'); ?></th>
                <th width="200"><?php echo $this->translate('New Exam Date'); ?></th>
                <th width="150"><?php echo $this->translate('Application Date'); ?></th>
                <th width="150"><?php echo $this->translate('By'); ?></th>
                <th width="150"><?php echo $this->translate('Document'); ?></th>
            </tr>
            <?php foreach($this->deferments as $row): ?>
                <tr>
                    <td width="100" align="center"><?php echo $row['registrationId']; ?></td>
                    <td><?php echo $row['pe_name']; ?></td>
                    <td width="200" align="center"><?php echo $row['old_schedule']['ec_name']; ?></td>
                    <td width="200" align="center">
                        <?php echo date('d-m-Y', strtotime($row['old_schedule']['es_date'])); ?>
                        <br />
                        <?php echo date('H:i:A', strtotime($row['old_schedule']['es_start_time'])); ?> - <?php echo date('H:i:A', strtotime($row['old_schedule']['es_end_time'])); ?>
                    </td>
                    <td width="200" align="center"><?php echo $row['new_schedule']['ec_name']; ?></td>
                    <td width="200" align="center">
                        <?php echo date('d-m-Y', strtotime($row['new_schedule']['es_date'])); ?>
                        <br />
                        <?php echo date('H:i:A', strtotime($row['new_schedule']['es_start_time'])); ?> - <?php echo date('H:i:A', strtotime($row['new_schedule']['es_end_time'])); ?>
                    </td>
                    <td width="150" align="center">
                        <?php echo date('d-m-Y H:i:s', strtotime($row['created_at'])); ?>
                    </td>
                    <td width="150" align="center">
                        <?php echo $row['creator']; ?>
                    </td>
                    <td width="150" align="center">
                        <?php if($row['upl_filelocation']): ?>
                            <a href="<?php echo DOCUMENT_URL . $row['upl_filelocation']; ?>" target="_blank"><?php echo $this->translate('Download'); ?></a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            <?php if(!count($this->deferments)): ?>
                <tr>
                    <td colspan="9" align="center"><?php echo $this->translate('No deferment history'); ?></td>
                </tr>
            <?php endif; ?>
        </table>
    </div>
<!--    <div id="exam-tabs-2">-->
<!--        <br />-->
<!--        <table class="table" width="100%">-->
<!--            <tr>-->
<!--                <th width="100">--><?php //echo $this->translate('Registration ID'); ?><!--</th>-->
<!--                <th>--><?php //echo $this->translate('Paper'); ?><!--</th>-->
<!--                <th width="200">--><?php //echo $this->translate('Exam Center'); ?><!--</th>-->
<!--                <th width="200">--><?php //echo $this->translate('Exam Date'); ?><!--</th>-->
<!--                <th width="150">--><?php //echo $this->translate('Application Date'); ?><!--</th>-->
<!--                <th width="150">--><?php //echo $this->translate('By'); ?><!--</th>-->
<!--                <th width="150">--><?php //echo $this->translate('Document'); ?><!--</th>-->
<!--            </tr>-->
<!--            --><?php //foreach($this->withdrawal as $row): ?>
<!--                <tr>-->
<!--                    <td width="100" align="center">--><?php //echo $row['registrationId']; ?><!--</td>-->
<!--                    <td>--><?php //echo $row['old_schedule']['pe_name']; ?><!--</td>-->
<!--                    <td width="200" align="center">--><?php //echo $row['old_schedule']['ec_name']; ?><!--</td>-->
<!--                    <td width="200" align="center">-->
<!--                        --><?php //echo date('d-m-Y', strtotime($row['old_schedule']['es_date'])); ?>
<!--                        <br />-->
<!--                        --><?php //echo date('H:i:A', strtotime($row['old_schedule']['es_start_time'])); ?><!-- - --><?php //echo date('H:i:A', strtotime($row['old_schedule']['es_end_time'])); ?>
<!--                    </td>-->
<!--                    <td width="150" align="center">-->
<!--                        --><?php //echo date('d-m-Y H:i:s', strtotime($row['created_at'])); ?>
<!--                    </td>-->
<!--                    <td width="150" align="center">-->
<!--                        --><?php //echo $row['creator']; ?>
<!--                    </td>-->
<!--                    <td width="150" align="center">-->
<!--                        --><?php //if($row['upl_filelocation']): ?>
<!--                            <a href="--><?php //echo DOCUMENT_URL . $row['upl_filelocation']; ?><!--" target="_blank">--><?php //echo $this->translate('Download'); ?><!--</a>-->
<!--                        --><?php //endif; ?>
<!--                    </td>-->
<!--                </tr>-->
<!--            --><?php //endforeach; ?>
<!--            --><?php //if(!count($this->withdrawal)): ?>
<!--                <tr>-->
<!--                    <td colspan="7" align="center">--><?php //echo $this->translate('No withdrawal history'); ?><!--</td>-->
<!--                </tr>-->
<!--            --><?php //endif; ?>
<!--        </table>-->
<!--    </div>-->
</div>

<script type="text/javascript">
$(function() {
    $( "#exam_tabs" ).tabs();
    
    $('#email-exam-slip-btn').click(function(e)
    {
        $(this).text('Sending email, please wait...');
    });
    
    $('.email-result-slip').click(function(e)
    {
        e.preventDefault();
        var er_id = $(this).data('id');
        $(this).text('<?php echo $this->translate('Sending email, please wait...'); ?>');
        $.post('<?php echo $this->baseUrl(); ?>/admin/exam-registration/email-result-slip/id/' + $(this).data('id'), function(response) {
            $('a[data-id='+er_id+']').text('<?php echo $this->translate('Email Result Slip'); ?>');
            if (parseInt(response.error) == 0)
            {
                alert('Email has been scheduled.');
            }
            else
            {
                alert('Error: '  + response.message);
            }
        }, 'JSON');
    });
});
</script>