<div class="clearfix">
                    <h4>Qualification</h4>
                                        <form class="uk-form"  id="myform" name="myform" method="post" action="">

                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <td><?php echo $this->form->definition_ms;?></td>
                                    
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <td><?php echo $this->form->description;?></td>
                                    
                                </div>                                 
                            </div>
                          </form>
                           <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                    <input class="btn btn-primary" value="Submit" type="submit">
                                   
                                    
                                    <input type="reset" value="Clear" class="btn btn-primary">
                                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Definitionms', 'action'=>'index'),'default',true);?>';" />   
         
                                </div>
                            </div>                           
                        </div>
                    </div>


 <!--<script type="text/javascript">
dojo.addOnLoad(function(){			
	dijit.byId("TemplateName").focus();
	dijit.byId('idDefinition').set('value','');
	dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
}
 </script>
<style type="text/css">

#add_template_style fieldset
{ 
    width: 100% !important;
}

</style>
<div  id="add_template_style" class="uk-grid">
<fieldset>
    <legend><?php echo $this->translate("Add")." ".$this->translate("");?> </legend>

<form class="uk-form" id="myform" name="myform" method="post" action="">
<script type="dojo/method" event="onSubmit" >
				if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("content1").set('value',content);
			 }

                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
</script>

		<table class="filter-block" height="150%" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
        	
            <th></th>
            <th></th>
       	</tr>
        <?php echo $this->form->UpdDate;?>
        <?php echo $this->form->UpdUser;?>
		<tr>
        	<td class="form-group"><?php echo $this->translate("Name")." ".$this->translate("");?><span class="reqMark">*</span></td>
            <td class="form-group"><?php echo $this->translate("Description");?> <span class="reqMark"></span></td>
        </tr>
        <tr>
        	<td><?php  echo $this->form->definition_ms;?></td>
        	<td ><?php echo $this->form->description;?></td>
        </tr>

       
        
	</table>
	

    <table width="100%">
    		 <script type="text/javascript">
			dojo.require("dijit._editor.plugins.FontChoice");
			dojo.require("dojox.editor.plugins.LocalImage");
			if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
				alert(content);
			 }

	</script> 
	<input dojoType = "dijit.form.TextBox" type="hidden" name="content1"  id = "content1">                                    
	<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock']"></td>


    </table> 
    
	<table align = "center">
		<tr>
        	<td>
					<?php echo $this->form->Save;?>
                     <input name="Clear" type="reset" class="btn btn-primary btn-lg"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
					<input type="button" class="btn btn-primary btn-lg"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Definitionms', 'action'=>'index'),'default',true);?>';" />	

            </td>
        </tr>
    </table>

    </form>
</fieldset> 
</div> 