<?php 
//if ($this->studentInfo['IdScheme']==1){
?>
<style type="text/css">
    th {
        text-align:center !important;
    }
</style>
<script type="text/javascript">
    /*function checkForm(){
        return false;
    }*/
    
    function getLastSemesterSubject(semester){
        
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'reapplication', 'action'=>'get-subject'),"default",true);?>/id/"+semester;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            /*beforeSend: function() {
		showLoading('lastsemsub');
            },
            complete: function() {
		hideLoading('lastsemsub');
            }*/
        })
        .done(function(data) {
            
            var no = 0;
            var content = '';
            /*var content = '<h5><?php //echo $this->translate('Paper Registered Last Semester')?></h5>';
            content += '<table width="100%" class="table">';
            content += '<tr>';
            content += '<th><?php //echo $this->translate('No.'); ?></th>';
            content += '<th><?php //echo $this->translate('Paper Code'); ?></th>';
            content += '<th width="50%"><?php //echo $this->translate('Paper Name'); ?></th>';
            content += '<th><?php //echo $this->translate('Grade'); ?></th>';
            content += '</tr>';*/
    
            if (data != 0){

                $.each(data,function(index){  
                    
                    var grade = '-';
                    
                    if (data[index].mark_approval_status == 2 && data[index].publishinfo.pm_cdate >= data[index].publishinfo.pm_date_new){
                        if (data[index].exResultStatus == 0) {
                            grade = data[index].grade_name;
                        }
                    }
                    
                    no++;
                    content += '<tr>';
                    content += '<td align="center">'+no+'</td>';
                    content += '<td align="center">'+data[index].SubCode+'</td>';
                    content += '<td>'+data[index].SubjectName+'</td>';
                    content += '<td align="center">'+grade+'</td>';
                    content += '</tr>';
                });
            
            }else{
                //content += '<tr>';
                content += '<td colspan="4"><?php echo $this->translate('No Record'); ?></td>';
                //content += '</tr>';
            }
            
            $('#lastsemsubrow').html(content);
        })
        .fail(function() {
            alert("error load subject"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<?php 
//}else{
?>
<!--<script type="text/javascript">
    /*function checkForm(){
        if ($('.course:checked').length > 0){
            return true;
        }else{
            alert('Please tick atleast one subject');
            return false;
        }
    }*/
</script>-->
<?php
//}
?>
<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
        <li><strong><?php echo $this->title?></strong></li>
    </ul>
    
    <div class="back"><a href="<?php echo $this->baseUrl()?>/studentfinance/reapplication/index"><?php echo $this->translate('Back')?></a></div>
</div>
<br/>
<form method="post" action="" name="form_app" id="appform" onsubmit="return checkForm();">
<h3><?php echo $this->translate('SECTION A : Personal Particular')?></h3>
<table width="100%" class="table">
    <tr>
        <td><?php echo $this->translate('Name'); ?></td>
        <td><?php echo $this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_lname']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student ID Number'); ?></td>
        <td><?php echo $this->studentInfo['registrationId']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Contact Number'); ?></td>
        <td><?php echo $this->studentInfo['appl_phone_mobile']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Email Address'); ?></td>
        <td><?php echo $this->studentInfo['appl_email_personal']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Mailing Address'); ?></td>
        <td>
            <?php 
            $address = $this->studentInfo['appl_address1'].($this->studentInfo['appl_address1']!=='' ? ' '.$this->studentInfo['appl_address1']:'');
            $address .= ($this->studentInfo['appl_address2']!='' ? ' <br/>'.$this->studentInfo['appl_address2']:'');
            $address .= ($this->studentInfo['appl_address3']!='' ? ' <br/>'.$this->studentInfo['appl_address3']:'');
            $address .= ($this->studentInfo['appl_postcode']!='' ? ' <br/>'.$this->studentInfo['appl_postcode']:'');
            
            $model = new Studentfinance_Model_DbTable_Reapplication();
            
            if ($this->studentInfo['appl_city']==null || $this->studentInfo['appl_city']==''){
                $this->studentInfo['appl_city']=99;
            }
            
            if ($this->studentInfo['appl_state']==null || $this->studentInfo['appl_state']==''){
                $this->studentInfo['appl_state']=99;
            }
            
            $city = $model->getCity($this->studentInfo['appl_city']);
            $state = $model->getState($this->studentInfo['appl_state']);
            $country = $model->getCountry($this->studentInfo['appl_country']);
            
            $address .= ($this->studentInfo['appl_city']==99 ? ' '.$this->studentInfo['appl_city_others']:$city['CityName']);
            $address .= ($this->studentInfo['appl_state']==99 ? ' '.$this->studentInfo['appl_state_others']:$state['StateName']);
            $address .= ' '.$country['CountryName'];
            
            echo strtoupper($address);
            ?>
        </td>
    </tr>
</table>
<br/>
<h3><?php echo $this->translate('SECTION B : Re-application Information')?></h3>
<table width="100%" class="table">
    <tr>
        <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
        <td>
            <select class="select" id="stype" name="semester" required="" onchange="getLastSemesterSubject(this.value);">
                <option label="-- Select --" value="">-- Select --</option>
                <?php
                if ($this->semList){
                foreach ($this->semList as $semLoop){
                ?>
                <option label="<?php echo $semLoop['SemesterMainName']; ?>" value="<?php echo $semLoop['IdSemesterMaster']; ?>"><?php echo $semLoop['SemesterMainName']; ?></option>
                <?php
                }
                }
                ?>
            </select>
        </td>
    </tr>
</table>
<br/>
<div id="lastsemsub">
    <h5><?php echo $this->translate('Paper Registered Last Semester')?></h5>
    <table width="100%" class="table">
        <thead>
            <tr>
                <th width="2%"><?php echo $this->translate('No.'); ?></th>
                <th width="15%"><?php echo $this->translate('Paper Code'); ?></th>
                <th width="50%"><?php echo $this->translate('Paper Name'); ?></th>
                <th><?php echo $this->translate('Grade'); ?></th>
            </tr>
        </thead>
        <tbody id="lastsemsubrow">
            <tr>
                <td colspan="4"><?php echo $this->translate('No Record'); ?></td>
            </tr>
        </tbody>
    </table>
</div>
<?php
/*if ($this->studentInfo['IdScheme']==1){
?>
<!--<h5><?php echo $this->translate('Paper Registered Last Semester')?></h5>
<table width="100%" class="table">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Paper Code'); ?></th>
        <th width="50%"><?php echo $this->translate('Paper Name'); ?></th>
        <th><?php echo $this->translate('Grade (to be filled by administrator)'); ?></th>
    </tr>
    <?php
    if ($this->lastSemsub){
    $no = 0;
    foreach ($this->lastSemsub as $lastSemsubLoop){
    $no++;    
    ?>
    <tr>
        <td><?php echo $no; ?></td>
        <td><?php echo $lastSemsubLoop['SubCode']; ?></td>
        <td><?php echo $lastSemsubLoop['SubjectName']; ?></td>
        <td><?php echo $lastSemsubLoop['grade_name']; ?></td>
    </tr>
    <?php
    }
    }else{
    ?>
    <tr>
        <td colspan="4"><?php echo $this->translate('No Record'); ?></td>
    </tr>
    <?php
    }
    ?>
</table>
<?php 
//}else{
?>
<h5><?php echo $this->translate('Course Registered Next Semester')?></h5>
<table width="100%" class="table">
    <tr>
        <th><?php echo $this->translate('Please Tick'); ?></th>
        <th><?php echo $this->translate('Paper Code'); ?></th>
        <th width="50%"><?php echo $this->translate('Paper Name'); ?></th>
    </tr>
    <?php
    if ($this->nextSemsub){
    $no = 0;
    foreach ($this->nextSemsub as $nextSemsubLoop){
    $no++;    
    ?>
    <tr>
        <td><input type="checkbox" value="<?php echo $nextSemsubLoop['IdSubject']; ?>" name="course[]" id="course<?php echo $nextSemsubLoop['IdSubject']; ?>" class="course"></td>
        <td><?php echo $nextSemsubLoop['SubCode']; ?></td>
        <td><?php echo $nextSemsubLoop['SubjectName']; ?></td>
    </tr>
    <?php
    }
    }else{
    ?>
    <tr>
        <td colspan="4"><?php echo $this->translate('No Record'); ?></td>
    </tr>
    <?php
    }
    ?>
</table>-->
<?php
}*/
?>
<br/>
<h3><?php echo $this->translate('SECTION C : ').($this->studentInfo['IdScheme']==1 ? 'Terms and Conditions for Financial Assistance':'Terms and Conditions for Financial Assistance'); ?></h3>
<?php
if ($this->sectionC){
echo $this->sectionC['description'];
}else{
?>
Setup Not Found...
<?php 
}
?>
<br/>
<h3><?php echo $this->translate('SECTION D : Declaration'); ?></h3>
<input type="checkbox" required="" value="1">&nbsp;
I declare and understand that the outcome of my re-application for the Financial Assistance is subjected to terms and conditions as stipulated in Section C above.
<br/>
<br/>
<input type="submit" id="submit" value="<?php echo $this->Translate('Submit')?>" name="submit" class="btn-submit">
</form>