<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />
<div class="error">
    <p>Application for financial assistance is now closed. For issues of concern please send an email to financial.assistance@inceif.org</p>
</div>