<style type="text/css">
    th{
        text-align: center !important;
    }
</style>
<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<?php if (empty($this->info) && $this->availability == true){ ?>
<div class="opt">
    <a class="btn" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'reapplication','action'=>'apply'), 'default', true);?>"><span class="icon icon-check"></span> <?php echo $this->translate('Apply')?></a>
</div>
<?php } ?>
<?php 
if ($this->availability == false){
?>
<div class="error">
    <p>Application for financial assistance is now closed. For issues of concern please send an email to financial.assistance@inceif.org</p>
</div>
<?php 
}
?>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate("Date Submitted");?></th>
        <th><?php echo $this->translate("Application Type");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Remarks");?></th>
        <th></th>
    </tr>
    <?php
    if ($this->info){
    ?>
    <tr>
        <td align="center"><?php echo format_date_to_view($this->info['sre_createddt'],'full'); ?></td>
        <td align="center"><?php echo $this->translate("Re-Application"); ?></td>
        <td align="center"><?php echo $this->info['sre_status_name']?></td>
        <td align="left"><?php echo $this->info['sre_remarks'] == '' ? '<div style="text-align:center">&mdash;</div>':''?></td>
        <td class="options" align="center">
            <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'reapplication', 'action'=>'view', 'id'=>$this->info['sre_id']),'default',true);?>"><?php echo $this->translate('Review')?></a> 
            <?php 
            if (($this->info['sre_status'] == 2 || $this->info['sre_status'] == 7) && !empty($this->courseAvailability)){
            ?>
            | <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'reapplication', 'action'=>'courses', 'id'=>$this->info['sre_id']),'default',true);?>"><?php echo $this->translate('Select Courses')?></a>
            <?php
            }
            ?>
        </td>
    </tr>
    <?php
    }else{
    ?>
    <tr>
        <td colspan="6"><?php echo $this->translate('No application yet')?></td>
    </tr>
    <?php
    }
    ?>
</table>