<?php 
echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/js/jquery/plugin/fullcalendar-1.6.4/fullcalendar/fullcalendar.css');
?>
<style type="text/css">
.ui-datepicker-calendar {
	display: none;
}
</style>
<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        
        // put your options and callbacks here
    	header: {
				left: 'today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
		},
		defaultView:'month',
				    'theme' : true,
				    'firstDay': 1,
				    'weekMode': 'variable',
				    'height': 650,
		editable: false,
		events: {
            url: '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'ajax-get-event')); ?>',
            type: 'POST',
            data: {
			 	'activity_type': $('#activity_type').val()
            },
            error: function(a) {
                alert('there was an error while fetching events!');
            }
 		},
		 buttonText: {
				today:    'Today',
	 		    month:    'Month',
	 		    week:     'Week',
	 		    day:      'Day'
 	    }
	    
	 });//end initialise calendar

	$("#myhcalendar").datepicker({
		changeMonth: true,
		changeYear: true,
		showOn: 'both',
		onChangeMonthYear: function(year, month, objDatePicker) {
			$('#calendar').fullCalendar('gotoDate', year, month - 1); //month from 1 - 12
		}
	  
	});


	$("#calendar .fc-button-today").each(function() {
		$(this).click(function() {  //  On today button click, syncronize drop downs
			$("#myhcalendar").datepicker("setDate", new Date());
		});
	});


});

function reloadpage(type_val){	
	window.location="/generalsetup/semestercalender/index/type/"+type_val;
}

</script>


<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semester','action'=>'index'),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'activity','action'=>'index'),'default',true);?>"><?php echo $this->translate("Activity"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender','action'=>'index'),'default',true);?>"><?php echo $this->translate("Calendar"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>

<br></br>

<body>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'add'),'default',true);?>'; return false;" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>			
			<li>							
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'list'),'default',true);?>"><span class='preview'></span><?php echo $this->translate('Activities')?></a>				
			</li>
		</ul>
	</div>
</div>

<br>

<fieldset style="width:40%">
    <legend><?php echo $this->translate("Calendar Legend"); ?></legend>
    <table class="table" width="100%" cellspacing="1" cellpadding="5">
      <tbody>
        <tr>
          <th><?php echo $this->translate("Color Code"); ?></th>
          <th><?php echo $this->translate("Activity Name"); ?></th>
          <th><?php echo $this->translate("Activity Type"); ?></th>
        </tr>
        <?php foreach($this->activitylist as $list){?>
        <tr style="background-color:#F0F0F0">
          <td width ="20%"style="background-color: <?php echo $list['ActivityColorCode']?>;"> </td>
          <td><?php echo $list['ActivityName'];?></td>
          <td><?php echo $list['ActivityTypeName'];?></td>
        </tr>
        <?php } ?>
      </tbody>
    </table>   
</fieldset>
 
<br>

<!--  View Calendar -->

<fieldset>
 <legend><?php echo $this->translate("Calendar Activity"); ?></legend>
<div class="form-opt">
<?php echo $this->translate("Activity Type"); ?> :
<select name='activity_type' onChange='reloadpage(this.value)'>
	<option value=''><?php echo $this->translate('All');?></option>
 <?php 
 if(count($this->activity_type)>0){
	
	foreach($this->activity_type as $type){
		if($this->id_activity_type==$type['idDefinition']){
			$selected='selected';
		}else{
			$selected = '';
		}
 ?>
	<option value='<?php echo $type['idDefinition']?>' <?php echo $selected;?>><?php echo $type['DefinitionCode']?></option>
 <?php } }?>
</select>
</div>
 
<div id='calendar'></div>	
</fieldset>	

<style type="text/css">
#myhcalendar .ui-datepicker { border:none !important; background:none !important; }
#myhcalendar .ui-datepicker-header { border: none !important; background: none !important; }
</style>