<script type="text/javascript">
<!--
$(document).ready(function() {

	$( "#date_from" ).datepicker({
		 dateFormat: 'dd-mm-yy',	     
	      autoOpen: false,
	      changeMonth: true
	    });

	$( "#date_to" ).datepicker({
		 dateFormat: 'dd-mm-yy',
	      autoOpen: false,
	      changeMonth: true
	    });
});
</script>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semester','action'=>'index'),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'activity','action'=>'index'),'default',true);?>"><?php echo $this->translate("Activity"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender','action'=>'index'),'default',true);?>"><?php echo $this->translate("Calendar"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>

<br></br>

<body>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'add'),'default',true);?>'; return false;" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>			
			<li>							
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'index'),'default',true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />
<?php echo $this->form; ?>
<br>
<table width="100%" class="table">
<tr>
	<th><?php echo $this->translate('Semester')?></th>
	<th><?php echo $this->translate('Activity Type')?></th>
	<th><?php echo $this->translate('Date From')?></th>
	<th><?php echo $this->translate('Date To')?></th>
	<th></th>
</tr>
<?php foreach ( $this->data as $row ) : ?>
<tr>
	<td><?php echo $row['SemesterCodeMain']?></td>
	<td align='center'><?php echo $row['ActivityName']?></td>
	<td align='center'><?php echo date('d-m-Y', strtotime($row['StartDate']))?></td>
	<td align='center'><?php echo date('d-m-Y', strtotime($row['EndDate']))?></td>
	<td align='center'><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'semestercalender', 'action'=>'delete','id'=>$row['id']),'default',true);?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to delete this?')?>')"><?php echo $this->translate('Delete')?></a></td>
</tr>
<?php endforeach ?>
</table>