<script type="text/javascript">
    function getProgram(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-program'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('program');
            },
            complete: function() {
		hideLoading('program');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].ProgramName+'" value="'+data[index].IdProgram+'">'+data[index].ProgramName+'</option>';
            });
            $('#program').html(content);
        })
        .fail(function() {
            alert("error load program"); 
        });
    }
    
    function getCourse(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-course'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('course');
            },
            complete: function() {
		hideLoading('course');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubCode+' - '+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>';
            });
            $('#course').html(content);
        })
        .fail(function() {
            alert("error load course"); 
        });
    }
    
    function getCourseSection(id){
        var semesterid = $('#semester').val();
        var programid = $('#program').val();
        
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-course-section'),"default",true);?>/id/"+id+"/semid/"+semesterid+"/progid/"+programid;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('coursesection');
            },
            complete: function() {
		hideLoading('coursesection');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].GroupCode+' - '+data[index].GroupName+'" value="'+data[index].IdCourseTaggingGroup+'">'+data[index].GroupCode+' - '+data[index].GroupName+'</option>';
            });
            $('#coursesection').html(content);
        })
        .fail(function() {
            alert("error load course section"); 
        });
    }
    
    function getLecturer(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-lecturer'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('lecturer');
            },
            complete: function() {
		hideLoading('lecturer');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].FullName+'" value="'+data[index].IdStaff+'">'+data[index].FullName+'</option>';
            });
            $('#lecturer').html(content);
        })
        .fail(function() {
            alert("error load lecturer"); 
        });
    }
    
    function getItem(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-registration-item'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('item');
            },
            complete: function() {
		hideLoading('item');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].DefinitionDesc+'" value="'+data[index].idDefinition+'">'+data[index].DefinitionDesc+'</option>';
            });
            $('#item').html(content);
        })
        .fail(function() {
            alert("error load registration item"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'print'),'default',true);?>";
	$('#searchForm').attr('action',url);
	$('#searchForm').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php 
        if ($this->studentList){
        ?>
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick='print();'>
                <span class='download'></span>
                <?php echo $this->translate("Download Excel");?>
                </a>
            </li>
        </ul>
        <?php
        }
        ?>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->course; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Section'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->coursesection; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Lecturer'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->lecturer; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Registration Item'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->item; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="search" class="btn-submit" value="Submit" />
                    <button type="button" id="clear" name="clear" class="btn-submit" value="clear" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'clear'),'default',true);?>';"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<?php 
if ($this->studentList){
?>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Info'); ?></legend>
    
    <table>
        <tr>
            <td><?php echo $this->translate('Section Name'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Section Code'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Subject'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
    </table>
</fieldset>
<?php
}
?>
<br/>
<table class="table" width="100%">
    <thead>
        <tr>
            <th><?php echo $this->translate('No'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Code'); ?></th>
            <?php
            if ($this->classList){
            //asort($this->classList);
            foreach ($this->classList as $classLoop){
            if ($classLoop['sc_date'] != null){
            ?>
            <th><?php echo date('d-m-Y', strtotime($classLoop['sc_date'])); ?></th>
            <?php
            }
            }
            }
            ?>
            <th><?php echo $this->translate('Classes Attendance'); ?></th>
            <th><?php echo $this->translate('Classes Percentage'); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php
        if ($this->studentList){
        $count = 1;
        foreach ($this->studentList as $studentLoop){
        ?>
        <tr>
            <td align="center"><?php echo $count; ?></td>
            <td><?php echo $studentLoop['studentName']; ?></td>
            <td align="center"><?php echo $studentLoop['registrationId']; ?></td>
            <td align="center"><?php echo $studentLoop['ProgramCode']; ?></td>
            <?php
            if ($this->classList){
            $countAtt = 0;
            foreach ($this->classList as $classLoop){
            if ($classLoop['sc_date'] != null){
            ?>
            <td align="center">
                <?php
                $model = new GeneralSetup_Model_DbTable_Attendance();
                $status = $model->checkAttendanceStatus($this->groupInfo['IdCourseTaggingGroup'], $studentLoop['IdStudentRegistration'], $classLoop['sc_date']);
                if ($status){
                    if ($status['idDefinition']==395){
                        $style = '';
                        $countAtt++;
                    }else if ($status['idDefinition']==396){
                        $style = '';
                        $countAtt++;
                    }else if ($status['idDefinition']==398){
                        $style = 'style="color:red;"'; 
                    }else{
                        $style = 'style="color:grey;"';
                    }
                    
                    echo '<span '.$style.'>'.$status['DefinitionDesc'].'</span>';
                }else{
                    echo '<span style="color:grey;"></span>';
                }
                ?>
            </td>
            <?php
            }
            }
            }
            ?>
            <td align="center">
                <?php 
                echo $countAtt.'/'.count($this->classList);
                ?>
            </td>
            <td align="center">
                <?php
                $percentAtt = number_format((($countAtt/count($this->classList))*100), 0, '.', ',');
                echo $percentAtt.'%';
                ?>
            </td>
        </tr>
        <?php
        $count++;
        }
        }
        ?>
    </tbody>
</table>