<script type="text/javascript">
    function getProgram(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-program'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('program');
            },
            complete: function() {
		hideLoading('program');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].ProgramName+'" value="'+data[index].IdProgram+'">'+data[index].ProgramName+'</option>';
            });
            $('#program').html(content);
        })
        .fail(function() {
            alert("error load program"); 
        });
    }
    
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function getCourse(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-course'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('course');
            },
            complete: function() {
		hideLoading('course');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubCode+' - '+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>';
            });
            $('#course').html(content);
        })
        .fail(function() {
            alert("error load course"); 
        });
    }
    
    function getCourseSection(id){
        var semesterid = $('#semester').val();
        var programid = $('#program').val();
        
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-course-section'),"default",true);?>/id/"+id+"/semid/"+semesterid+"/progid/"+programid;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('coursesection');
            },
            complete: function() {
		hideLoading('coursesection');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].GroupCode+' - '+data[index].GroupName+'" value="'+data[index].IdCourseTaggingGroup+'">'+data[index].GroupCode+' - '+data[index].GroupName+'</option>';
            });
            $('#coursesection').html(content);
        })
        .fail(function() {
            alert("error load course section"); 
        });
    }
    
    function getLecturer(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-lecturer'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('lecturer');
            },
            complete: function() {
		hideLoading('lecturer');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].FullName+'" value="'+data[index].IdStaff+'">'+data[index].FullName+'</option>';
            });
            $('#lecturer').html(content);
        })
        .fail(function() {
            alert("error load lecturer"); 
        });
    }
    
    function getItem(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-registration-item'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('item');
            },
            complete: function() {
		hideLoading('item');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].DefinitionDesc+'" value="'+data[index].idDefinition+'">'+data[index].DefinitionDesc+'</option>';
            });
            $('#item').html(content);
        })
        .fail(function() {
            alert("error load registration item"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'print-student-attendance'),'default',true);?>";
	$('#searchForm').attr('action',url);
	$('#searchForm').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php 
        if ($this->list){
        ?>
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick='print();'>
                <span class='download'></span>
                <?php echo $this->translate("Download Excel");?>
                </a>
            </li>
        </ul>
        <?php
        }
        ?>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->course; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?> <span class="reqMark"></span></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="search" class="btn-submit" value="Submit" />
                    <button type="submit" id="clear" name="clear" class="btn-submit" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<?php
if ($this->list){
$no = 0;
?>
<table class="table" width="100%">
    <thead>
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Course'); ?></th>
            <th><?php echo $this->translate('Course Section'); ?></th>
            <th><?php echo $this->translate('Classes Attended'); ?></th>
            <th><?php echo $this->translate('Classes Percentage'); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->list as $loop){
        $no++;
        ?>
        <tr>
            <td align="center"><?php echo $no; ?></td>
            <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
            <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
            <td align="center"><?php echo $loop['registrationId']; ?></td>
            <td align="center"><?php echo $loop['SubCode'].' - '.$loop['SubjectName'] ?></td>
            <td align="center"><?php echo $loop['calculation']['sectionname']; ?></td>
            <td align="center"><?php echo $loop['calculation']['classesnAtt']; ?></td>
            <td align="center"><?php echo $loop['calculation']['percentage'].'%'; ?></td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
<?php
}
?>
