<?php
//$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
//$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>


<div class="dashhead">
    <div class="title-wrap">
        <div class="subtitle"><?php echo $this->translate('Bookmark')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" action="<?php echo $this->baseUrl()?>/bookmark/add">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">

        <h3 class="uk-accordion-title"> Information</h3>
        <div class="uk-accordion-content">
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->bookmark_name->setAttrib('class','uk-form-large uk-width-large')  ?>
                    <input type="hidden" name="code_safe" value="<?php echo $this->code_safe ?>"/>
                    <input type="hidden" name="id" value="<?php echo $this->id ?>"/>
                    <input type="hidden" name="course" value="<?php echo $this->course_id ?>"/>
                    <p class="desc">Give your bookmark a name</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Description')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->bookmark_description->setAttrib('class','uk-form-large uk-width-large')  ?>
                    <p class="desc">Describe the bookmark</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Bookmark Link')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->bookmark_link->setAttrib('class','uk-form-large uk-width-large') ?>
                    <p class="desc">Bookmark link</p>
                </div>
            </div>

        </div>

        <div class="uk-form-row">
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
            <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
        </div>
    </div>
</form>

<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            bookmark_name: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
            visibility: {
                validators: {
                    notEmpty: {
                        message: 'Visibility is required'
                    }
                }
            },
           
        }
    });

</script>

<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>