<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>
<?php Cms_Hooks::start(); ?>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
                <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<?php /*echo Cms_Hooks::push('breadcrumbs',Cms_Breadcrumbs::__($this->bc)); */?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li><a href="#"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li class="uk-active"><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
    <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>

<div class="uk-float-right uk-margin-top">
    <a href="#" onclick="bookmark()" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('New bookmark')?> </a>
</div>


<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Description')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Link')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="3"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="4"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->results) > 0 ) { ?>
    <?php foreach ( $this->results as $row ) { ?>
        <tr>
            <td>

                <a data-uk-tooltip title="Go to link" target="_blank" href="<?php echo $row['bookmark_link']?>"><?php echo $this->escape($row['bookmark_name']) ?></a>
            </td>
            <td><?php echo $row['bookmark_description']?></td>
            <td><?php echo $row['bookmark_link']?></td>
            <td><?php echo Cms_Date::date($row['created_date']) ?></td>
            <td>
                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" href="#" onclick="bookmarkEdit(<?php echo $row['id'] ?>)" data-uk-tooltip title="Edit bookmark"><i class="uk-icon-cog"></i></a>
                    <a target="_blank" class="uk-button uk-button-small" href="<?php echo $row['bookmark_link']?>" data-uk-tooltip title="Go to link"><i class="uk-icon-search-plus"></i></a>
					<a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this item?')?>')" href="<?php echo $this->baseUrl()?>/bookmark/delete/id/<?php echo $row['id']?>/course/<?php echo $this->course['id'] ?>/code_safe/<?php echo $this->course['code_safe'] ?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                </div>
            </td>
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No bookmark found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>


<!-- bookmark modal -->
<div id="bookmark-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>

        <div class="uk-modal-header" id="bookmark-modal-header">
            <h3>Bookmark Content</h3>
        </div>

        <div id="bookmark-modal-container">
        </div>
    </div>
</div>
<!-- /bookmark modal -->

<script>
    function bookmark()
    {
        var modal = UIkit.modal("#bookmark-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: '<?php echo $this->baseUrl() ?>/bookmark/add/course/<?php echo $this->course['id'] ?>/nowin/1',
                type: 'GET',
                data_type: 'html',
                beforeSend: function() {
                    $('#bookmark-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#bookmark-modal").data("id", 0);
                setTimeout(function() { $("#bookmark-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }
    function bookmarkEdit(id)
    {
        var modal = UIkit.modal("#bookmark-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: '<?php echo $this->baseUrl() ?>/bookmark/edit/course/<?php echo $this->course['id'] ?>/id/' + id + '/code_safe/<?php echo $this->course['code_safe'] ?>/nowin/1',
                type: 'GET',
                data_type: 'html',
                beforeSend: function() {
                    $('#bookmark-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#bookmark-modal").data("id", 0);
                setTimeout(function() { $("#bookmark-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }
</script>

<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>