<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js' );
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/sortable/jquery.fn.sortable.js' );
?>
<div class="dashhead">
    <div class="uk-float-right uk-margin-top">
        <div class="uk-button-group">
            <button class="uk-button uk-button-success"  data-uk-modal="{target:'#block-modal'}"> <i class="uk-margin-small-right uk-icon-plus"></i> Add Block</button>
            <a href="<?php echo $this->baseUrl()?>/admin/courses/edit/id/<?php echo $this->course['id']?>" class="uk-button uk-button-primary"><i class="uk-margin-small-right uk-icon-pencil"></i> Edit Course</a>
            <a href="<?php echo $this->baseUrl()?>/courses/<?php echo $this->course['code_safe']?>/learn" class="uk-button"><i class="uk-margin-small-right uk-icon-eye"></i> Preview</a>
        </div>
    </div>

    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->course['title'])?></h1></div>
    </div>
</div>

<div class="uk-grid uk-grid-small coursestats"  data-uk-grid-margin>
    <div class="uk-width-small-1-2 uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="content"><?php echo number_format(count($this->blocks))?></div>
            <span class="icon line-book-open"></span>
            <div class="title"><?php echo $this->translate('Blocks')?></div>
        </div>
    </div>
    <div class="uk-width-small-1-2 uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="content"><?php echo number_format($this->totalcontent)?></div>
            <span class="icon line-list"></span>
            <div class="title"><?php echo $this->translate('Activities')?></div>
        </div>
    </div>
    <div class="uk-width-small-1-2 uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="content"><?php echo number_format(0)?></div>
            <span class="icon line-users"></span>
            <div class="title"><?php echo $this->translate('Students')?></div>
        </div>
    </div>
    <div class="uk-width-small-1-2 uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="content"><?php echo number_format(0)?></div>
            <span class="icon line-bell"></span>
            <div class="title"><?php echo $this->translate('Announcements')?></div>
        </div>
    </div>

</div>


<?php if ( count($this->blocks) == 0 ) { ?>
<div class="noblock uk-panel">
    <p><i class="uk-icon-frown-o"></i> You have not created any block for this course.</p>
</div>
<?php } else { ?>

<!-- block list -->
<ul id="content-grid" class="sort-grid">
    <?php foreach ( $this->blocks as $block ) { ?>
    <li data-id="<?php echo $block['id']?>">
        <!-- block -->
        <h3 class="title"><?php echo $block['title']?></h3>
        <div class="description"><?php echo $block['description']?></div>
        <i class="block-remove uk-icon-remove" data-uk-tooltip title="Delete Block"></i>
        <a href="<?php echo $this->baseUrl()?>/admin/courses/block/id/<?php echo $block['id']?>" onclick="return AppAdmin.modal(this)"><i class="block-edit uk-icon-pencil" data-uk-tooltip title="Edit Block"></i></a>
        <i class="block-add uk-icon-plus-square" data-uk-tooltip title="Add Content"></i>

        <!-- content -->
        <ul class="timeline admin">
        <?php
        if ( isset($this->content[$block['id']]) ) {
            foreach ($this->content[$block['id']] as $content) {
                ?>
                <li id="row-content-<?php echo $content['data_id']?>">
                    <div class="content-opt">
                        <?php if ( $content['data_type'] == 'scorm' ) { ?>
                        <span class="report"><i class="uk-text-muted uk-icon-bar-chart-o"></i> <a href="<?php echo $this->baseUrl()?>/admin/courses/scorm/id/<?php echo $content['data_id']?>"><?php echo $this->translate('Report')?></a></span>
                        |
                        <?php } ?>
                        <span class="delete"><i class="uk-text-muted uk-icon-trash"></i> <a href="#" onclick="return deleteContent('<?php echo $content['data_id']?>','<?php echo $block['id']?>')"><?php echo $this->translate('Delete')?></a></span>
                        |
                        <span class="trackable"><a href="#" onclick="return trackableContent('<?php echo $content['data_id']?>',this)" class="<?php echo $content['trackable'] == 1 ? 'active' : '' ?>"><i class="uk-icon-clock-o" data-uk-tooltip title="Content is tracked as part of course progress"></i></a></span>
                    </div>
                    <div class="icon" title="<?php echo Cms_System_Course::getContentName($content['data_type'])?>" data-uk-tooltip><i class="uk-icon-<?php echo Cms_System_Course::getContentIcon($content['data_type'])?>"></i></div>
                    <div class="label">
                        <a href="<?php echo $this->baseUrl()?>/admin/courses/blockcontent/id/<?php echo $content['data_id']?>/blockid/<?php echo $block['id']?>"><?php echo $content['title'] ?></a>
                    </div>
                </li>
            <?php }
        }
        ?>
        </ul>
        <!-- /content -->

        <!-- /block -->
    </li>
    <?php } ?>
</ul>
<!-- /block list -->
<?php } ?>

<!-- content modal -->
<div id="content-modal" class="uk-modal" data-block="">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
             <h3> <span class="modal-toggle" title="<?php echo $this->translate('Select Content Type')?>"><i class="uk-icon-bars"></i></span> <?php echo $this->translate('Add Content')?></h3>
        </div>

        <div id="modal-container" data-uk-observe>

        </div>
    </div>
</div>
<!-- /content modal -->

<!-- block modal -->
<div id="block-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close "></button>

        <form method="post" class="uk-form uk-form-stacked" name="form-block-content" id="form-block-content">
        <div class="uk-modal-header">
            <h3><?php echo $this->translate('New Block')?></h3>
        </div>

        <div class="uk-modal-content">

            <div class="uk-form-row">
                <label class="uk-form-label" for="block-name"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <input type="text" name="block-name" required id="block-name" class="uk-width-1-1 uk-form-large">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="block-desc"><?php echo $this->translate('Description')?></label>
                <div class="uk-form-controls">
                    <textarea name="block-desc" id="block-desc" required class="uk-width-1-1"></textarea>
                </div>
            </div>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="uk-button uk-modal-close"><?php echo $this->translate('Cancel')?></button>
            <button type="submit" name="addblock" value="Add Block" class="uk-button uk-button-primary"><?php echo $this->translate('Save')?></button>
        </div>
        </form>
    </div>
</div>
<!-- /block modal -->

<script>


    $(function()
    {
        var editableList = $("#content-grid").sortable({
            animation: 150,
            filter: '.block-remove',
            onFilter: function (evt)
            {
                alertify.confirm("<?php echo $this->translate('Are you sure you want to remove this block?')?>", function () {

                    var id = $(evt.item).data('id');

                    $.ajax({
                        url: "<?php echo $this->baseUrl()?>/admin/ajax/delete-block",
                        type: "post",
                        data: {'id':id },
                        dataType: 'json',
                        success: function(data)
                        {
                            if (data.msg == '' )
                            {
                                evt.item.parentNode.removeChild(evt.item);
                                checkBlocks();
                            }
                            else
                            {
                                alert(data.msg);
                            }
                        },
                        error:function(){
                            alert("failure");
                        }
                    });

                });
            }
        });

        CKEDITOR.replace( 'block-desc',
        {
            height: 150
        });

        $("#content-grid li .block-add").on('click', function()
        {
            var id = $(this).parent().data("id");
            toggleModal(id);
        });

        initJs();

        $(".modal-toggle").on('click', function(){
            $("#modal-wrap").toggleClass('enabled');
            $(".modal-toggle").hide();
            $("#content-modal .uk-nav-side").show();
        });

    });

    function trackableContent(data_id, e)
    {
        $.ajax({
            url: "<?php echo $this->baseUrl()?>/admin/ajax/toggle-content",
            type: "post",
            data: {'data_id':data_id },
            dataType: 'json',
            success: function(data)
            {
                console.log(data);
                if (data.msg == '' )
                {
                    if ( data.res == '1' ) {
                        $(e).addClass("active");
                    } else {
                        $(e).removeClass("active");
                    }
                }
                else
                {
                    alert(data.msg);
                }
            },
            error:function(){
                alert("failure");
            }
        });
    }

    function deleteContent(data_id, block_id)
    {
       alertify.confirm("<?php echo $this->translate('Are you sure you want to remove this content?')?>", function () {

            $.ajax({
                url: "<?php echo $this->baseUrl()?>/admin/ajax/delete-content",
                type: "post",
                data: {'data_id':data_id,'block_id':block_id },
                dataType: 'json',
                success: function(data)
                {
                    console.log(data);
                    if (data.msg == '' )
                    {
                        $("#row-content-"+data_id).remove();
                    }
                    else
                    {
                        alert(data.msg);
                    }
                },
                error:function(){
                    alert("failure");
                }
            });

        });

        return false;
    }

    function toggleModal(id)
    {
        var modal = UIkit.modal("#content-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'add-course-content'),'default',true);?>",
                data: {},
                type: 'POST',
                beforeSend: function() {

                    $('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#content-modal").data("id", id);
                setTimeout(function() { $("#modal-container").html ( data ); initJs(); } , 500 );
            });

        }
    }

    function initJs()
    {
       AppAdmin.ckeditor();
    }

    function addContent(type)
    {
        $("#modal-wrap").toggleClass('enabled');
        $(".modal-toggle").toggle();
        $(".tab-content").removeClass("enabled");
        $(".tab-content."+type).addClass("enabled");
        $("#content-modal .uk-nav-side").toggle();

        return false;
    }

    function checkBlocks()
    {
        var total = $("#content-grid li").length;
        if ( total == 0 )
        {
            $(".dashhead").after('<div class="noblock uk-panel"><p><i class="uk-icon-frown-o"></i> You have no created any block for this course.</p></div>');
        }
        else
        {
            $(".noblock").remove();
        }
    }
</script>

<style type="text/css">
    .modal-toggle { float:left; color:#4c4c4c; margin-right:15px; display:none; cursor:pointer; }
    #modal-container {  }
    #modal-wrap {
        display:none;
    }

    .noblock { border:1px dashed #ccc; text-align:center; font-size:1.2em; color:#999; padding:20px; }
    .sort-grid { list-style:none; padding:0;  }
    .sort-grid > li { margin:0;  border:1px dashed #ccc; padding:15px; position:relative }
    .sort-grid > li:hover { border-color:#0077dd }
    .sort-grid > li:not(:last-child) { margin-bottom:10px }
    .sort-grid .block-remove { position: absolute; top:10px; right:10px; color:#ccc; cursor:pointer; }
    .sort-grid .block-add { position: absolute; top:10px; right:45px; color:#ccc; cursor:pointer; }
    .sort-grid .block-add:hover { color:forestgreen }
    .sort-grid .block-remove:hover { color:firebrick }
    .sort-grid .block-edit { position: absolute; top:10px; right:25px; color:#ccc; cursor:pointer; }
    .sort-grid .block-edit:hover { color:dodgerblue }
    .sort-grid .description { color:#aaa; font-size:1em }
    .sort-grid .title { font-weight:bold; }
    .uk-nav-side li i { margin-right:5px; color:#ccc }
    .uk-nav-side li:hover i { color:#aaa }
    .tab-content { display:none; }
    .enabled { display:block !important }

    .coursestats { margin:10px 0 }
    .coursestats .uk-panel-box .title { margin-top:2px; text-transform:uppercase; color:#999;  }
    .coursestats .uk-panel-box .icon { margin-right:10px; font-size:1.5em; float:left; color:lightskyblue  }
    .coursestats .uk-panel-box .content { font-size:2.2em; color:#aaa; float:right; }

    .timeline .content-opt { float:right; margin-right:10px; font-size:0.9em; display:none }
    .timeline li:hover .content-opt{ display:block; color:#ccc }

    .delete { margin-right:5px; }
    .trackable  i { color:#eee; margin-left:5px; font-size:1.1em;}
    .trackable .active i {  color:#49be27; }

</style>

<!--<div class="uk-button-dropdown" data-uk-dropdown>
        <button class="uk-button uk-button-success">Add Content <i class="uk-margin-small-left uk-icon-caret-down"></i></button>
        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
                <li class="uk-nav-header"><?php echo $this->translate('Activities')?></li>
                <li><a href="#">SCORM Package</a></li>
                <li><a href="#">Assignment</a></li>
                <li><a href="#">Quiz</a></li>
                <li class="uk-nav-header"><?php echo $this->translate('Resources')?></li>
                <li><a href="#">Support Materials</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Audio</a></li>
                <li><a href="#">Glossary</a></li>
            </ul>
        </div>
    </div>-->