<div class="clearfix">
                    <h4>Cpd Learning</h4>
                                        <form class="uk-form"  id="myform" name="myform" method="post" action="">

                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Learning Type</label>
                                    <td><?php echo $this->form->definition_ms;?></td>
                                    
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <td><?php echo $this->form->description;?></td>
                                    
                                </div>                                 
                            </div>
                        
                    <div class="col-sm-12 col-md-4">
                        <div class="filter-button-group">
                            <input class="btn btn-primary" value="Submit" type="submit">
                            <input type="reset" value="Clear" class="btn btn-primary">
                            <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'programme-module', 'action'=>'index'),'default',true);?>';" />   
         
                                </div>
                            </div>                           
                        </div>
                    </div>
  </form>
