<div class="clearfix">
       <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                 <h4>Cpd V</h4>
                    <div class="filter-block">
                        <div class="row">
                               <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Activity Type</label>
                                    <?php echo $this->form->field3;?>
                                </div>                        
                            </div> 
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                   <?php echo $this->form->Search;?>
                                         <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'programme-module', 'action'=>'add'),'default',true);?>';" />   
                <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Activity Type</th>
                                <th>Description</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $member ): ?>
                            <tr>
                                <td>
                                    <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'programme-module', 'action'=>'edit', 'Id'=>$member['idDefinition']),'default',true);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = "auto">
                <?php echo $this->escape($member['DefinitionDesc']);?>
            </a>
                                </td>
                                <td><?php echo $this->escape($member['Description']);?></td>                                
                            </tr>
                                                                                                                                                             
                        </tbody>
                     <?php endforeach; ?>
                <?php endif; ?>

    </tr>
</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>
