<style type="text/css">
.uk-panel-box-bg { background-color: #FDFDFD; }
.font-bold { font-weight: bold; }
</style>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>

<?php if (!$this->modal) : ?>
    <?php Cms_Hooks::start(); ?>
    <div class="uk-block uk-block-hero uk-contrast">
        <div class="uk-container uk-container-center">
            <div class="uk-panel">
                    <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
            </div>
        </div>
    </div>
    <?php Cms_Hooks::end('content.top'); ?>

    <ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
        <li><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
        <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
        <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
        <li><a href="/calendar/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
        <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
        <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
            <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
    </ul>

    <!-- content -->
    <?php //if ($this->blockcontent['data_type'] != 'assignment') : ?>
        <div class="description uk-panel uk-panel-box uk-panel-box-bg">
            <div class="uk-panel-badge uk-badge">
                <?php
                switch ($this->blockcontent['data_type'])
                {
                    case 'content': 
                    case 'scorm':
                    case 'assignment':
                    case 'quiz':
                    case 'link':
                    case 'video':
                    case 'audio':
                        echo ucwords($this->blockcontent['data_type']);
                        break;
                    case 'support';
                        echo 'Support Material';
                        break;
                }
                ?>
            </div>
            <h3 class="uk-panel-title font-bold"><?php echo $this->blockcontent['title']?></h3>
            <p><?php echo $this->blockcontent['description']?></p>
            
            <?php if ($this->blockcontent['data_type'] == 'assignment'): ?>
                <ul class="uk-list">
                    <?php foreach ( $this->asgmtdata as $file ): ?>
                        <li>
                            <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" class="uk-icon-hover uk-icon-file-o"></a>
                            <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal">  <?php echo $file['file_name'] ?></a>
                            (<?php echo Cms_Common::formatFilesize($file['file_size'])?>)
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
        <br />
    <?php //endif; ?>
<?php endif; ?>

<?php if ($this->blockcontent['data_type'] == 'content'): ?>
    <p><?php echo nl2br($this->contentdata['content']); ?></p>
<?php endif; ?>


<?php if ( $this->blockcontent['data_type'] == 'scorm' ) { ?>
    <?php
    $local_path = DOCUMENT_PATH . $this->contentdata['url'];
    if (!is_dir($local_path))
    {
        echo '<div class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-exclamation-triangle"></i> Error: SCORM content not found. Please report this to IT Helpdesk.</div>';
        return;
    }
    ?>
    <?php
    $this->headScript()->appendFile( $this->baseUrl().'/js/plugins/scorm/scorm.js');
    ?>
    <script>
        $(function () {
            scorm.init ({
                module: '<?php echo $this->contentdata['id']?>',
                file: '<?php echo Cms_Scorm_Api::urlPackage($this->contentdata['url'])?>',
                manifest: '<?php echo $this->baseUrl()?>/ajax/scorm/contentid/<?php echo $this->contentdata['id']?>',
                element: '#scorm-object',
                navigation: '#scorm-nav',
                store: <?php echo json_encode( (object) Cms_Scorm_Api::getUserData(Zend_Auth::getInstance()->getIdentity()->id, $this->contentdata['id'])) ?>
            });
        });
    </script>
    <style>
        #scorm-navigation {
            width: 242px;
            float: left;
            position: relative;
            margin-bottom:15px;
        }

        #scorm-nav-title {
            font-weight: bold;
            border: 1px solid #ccc;
            background: #f5f5f5;
            padding: 3px 7px 3px 7px;
            cursor: pointer;
        }

        #scorm-nav-title:before {
            content: "";
        }

        #scorm-nav {
            background: #f5f5f5;
            padding: 0;
            margin: 0;
            border: 1px solid #ccc;
            border-top: 0;
            width: 240px;
            margin-top: -1px;
            position: absolute;
            display: none;
        }

        #scorm-navigation:hover #scorm-nav {
            display: block;
        }

        #scorm-nav ul {
            list-style-type: none;
            margin: 0;
            padding: 3px 7px 3px 7px;
        }

        #scorm-nav li {
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            margin-top: 6px;
        }

        #scorm-nav li ul {
            padding: 0;
            margin: 0;
        }

        #scorm-nav li li {
            padding-left: 12px;
            margin-top: 0;
        }

        #scorm-nav li.scorm-active a {
            font-weight: bold;
        }

        #scorm-object {
            width: 100%;
            min-height: 800px;
            clear: both;
        }

        #scorm-object iframe {
            border: 0;
            width: 100%;
            height: 100% !important;
            min-height:800px;

        }
    </style>

    <?php if (!$this->modal) : ?>
        <div id="scorm-navigation"<?php echo @$style ?>>
            <div id="scorm-nav-title">Contents:</div>
            <div id="scorm-nav"></div>
        </div>
    <?php endif; ?>

    <div id="scorm-object"></div>

<?php } ?>
<!-- content -->

<?php if ( $this->blockcontent['data_type'] == 'support' ) { ?>
<table class="uk-table uk-table-bordered">
    <thead>
    <tr>
        <th><?php echo $this->translate('File Name')?></th>
        <th><?php echo $this->translate('Size')?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ( $this->contentdata as $file ) { ?>
        <tr id="filerow-<?php echo $file['id']?>">
            <td><a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a></td>
            <td><?php echo Cms_Common::formatFilesize($file['file_size'])?></td>
         </tr>
    <?php } ?>
    </tbody>
</table>
<?php } ?>

<!-- support -->

<?php if ( $this->blockcontent['data_type'] == 'audio' ) { ?>
<table class="uk-table uk-table-bordered">
    <thead>
    <tr>
        <th><?php echo $this->translate('File Name')?></th>
        <th><?php echo $this->translate('Streaming')?></th>
        <th><?php echo $this->translate('Size')?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ( $this->contentdata as $file ) { ?>
         <tr id="filerow2-<?php echo $file['id']?>">
            <td><a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal"><?php echo $file['file_name'] ?></a></td>
            <td>
                <audio controls>
                  <source src="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" type="audio/mp3">
                </audio>&nbsp;
            </td>
            <td><?php echo Cms_Common::formatFilesize($file['file_size'])?></td>
         </tr>
    <?php } ?>
    </tbody>
</table>
<?php } ?>
<!-- audio -->
<?php if ( $this->blockcontent['data_type'] == 'quiz' ): ?>
    <?php echo $this->partial('/courses/partials/block_quiz.phtml', 'default', array(
        'course'         => $this->course,
        'blockcontent'   => $this->blockcontent,
        'getuserAttempt' => $this->getuserAttempt,
        'attempts'       => $this->attempts,
        'countquestion'  => $this->countquestion,
        'getpointsum'    => $this->getpointsum,
        'gettmark'       => $this->gettmark
    )); ?>
<?php endif; ?>
<!-- quiz -->
<?php if ( $this->blockcontent['data_type'] == 'assignment' ): ?>
    <?php echo $this->partial('/courses/partials/block_assignment.phtml', 'default', array(
        'course'       => $this->course,
        'blockcontent' => $this->blockcontent,
        'asgmtdata'    => $this->asgmtdata,
        'assignment'   => $this->assignment,
        'getasgmtdata' => $this->getasgmtdata
    )); ?>
<?php endif; ?>

<!-- assignment -->

<?php if ( $this->blockcontent['data_type'] == 'video' ) { ?>
<div class="tab-content video">
       <ul class="uk-tab" data-uk-switcher="{connect:'#switcher-video'}">
            <li <?php echo $this->contentdata['video_type']=='upload'?'class="uk-active"':'class="uk-disabled"'?>><a href="#"><i class="uk-icon-upload"></i> <?php echo $this->translate('Upload Video')?></a></li>
            <li <?php echo $this->contentdata['video_type']=='youtube'?'class="uk-active"':'class="uk-disabled"'?>><a href="#"><i class="uk-icon-youtube-play"></i> <?php echo $this->translate('Youtube')?></a></li>
        </ul>

        <div id="switcher-video" class="uk-switcher uk-margin">
            <div>
                <form class="uk-form uk-form-horizontal addcontent-form" method="post" enctype="multipart/form-data">
                    <?php if ( $this->contentdata['video_thumb'] != '' ) { ?>
                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Current Thumbnail')?></label>
                        <div class="uk-form-controls">
                            <p><img class="uk-border-rounded" src="<?php echo $this->baseUrl()?>/thumb.php?w=200&amp;f=<?php echo DOCUMENT_PATH.$this->contentdata['video_thumb']?>" alt="photo" /></p>
                        </div>
                    </div>
                    <?php } ?>

                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Video')?></label>
                        <div class="uk-form-controls">
                            <video controls width="450">
                                <source src="<?php echo Cms_System_Links::dataFileUrl($this->contentdata['video_url'])?>" type="video/mp4">
                            </video>
                        </div>
                    </div>
					<div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
                        <div class="uk-form-controls">
                           <?php echo $this->blockcontent['title']?>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
                        <div class="uk-form-controls">
                           <?php echo $this->blockcontent['description']?>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <form class="uk-form uk-form-horizontal addcontent-form" method="post">
                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Youtube Link')?></label>
                        <div class="uk-form-controls">
                            <div id="video-thumb" class="uk-form-width-medium uk-margin-bottom">
                                <img src="<?php echo $this->contentdata['video_thumb']?>" alt="" />
                            </div>
						  <video controls width="450">
                                <source src="<?php echo ($this->contentdata['video_url'])?>" type="video/mp4">
                            </video>
						 </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Video Link')?></label>
                        <div class="uk-form-controls">
                            <a href="<?php echo $this->contentdata['video_url']; ?>" target="_blank">
                                <?php echo $this->contentdata['video_url']; ?>
                            </a>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->blockcontent['title']?>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->blockcontent['description']?>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<?php } ?>
<!-- video -->

<?php if ( $this->blockcontent['data_type'] == 'link' ) { ?>
<div class="tab-content link">

    <form class="uk-form uk-form-horizontal addcontent-form" id="form-link" method="post">
        <!--h2><?php echo $this->translate('Link')?></h2-->
        <div class="uk-form-row">
            <!--label class="uk-form-label"><?php echo $this->translate('URL')?></label-->
			<a href="<?php echo $this->contentdata['url']?>" TARGET="_blank"><?php echo $this->contentdata['url']?></a>
            <span class="uk-float-right"><a align="right" class="uk-button" href="<?php echo $this->contentdata['url']?>" target="_blank"><?php echo $this->translate('Open Link') ?></a></span>
        </div>
        <!--div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Title')?></label>
			<?php echo $this->blockcontent['title']?>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label"><?php echo $this->translate('Description')?></label>
			<?php echo $this->blockcontent['description']?>
        </div>
		 <div align ="right" class="uk-form-row">
           <a align="right" class="uk-button" href="<?php echo $this->contentdata['url']?>" target="_blank"><?php echo $this->translate('Open Link') ?></a>
        </div-->
		<hr>
		<iframe src="<?php echo $this->contentdata['url']?>" width=1124 height=840>
		  <p>Your browser does not support iframes.</p>
		</iframe>
    </form>
</div>
<?php } ?>
<!-- link -->

<?php if ( $this->blockcontent['data_type'] == 'wiki' ) { ?>

		<div class="uk-form-row">
		<?php echo $this->contentdata['content']?>
        </div>
<?php } ?>

<!-- wiki -->
                <!-- block modal assignment -->
                    <div id="block-modal" class="uk-modal">
                        <div class="uk-modal-dialog uk-modal-dialog-large">
                            <button type="button" class="uk-modal-close uk-close "></button>

                            <form method="post" class="uk-form uk-form-stacked" name="form-block-content" id="form-block-content" enctype="multipart/form-data">
                            <div class="uk-modal-header">
                                <h3><?php echo $this->blockcontent['title'] //echo $this->translate('New Block')?></h3>
                            </div>

                            <div class="uk-modal-content">

                                <!--div class="uk-form-row">
                                    <label class="uk-form-label" for="block-name"><?php echo $this->translate('Title')?></label>
                                    <div class="uk-form-controls">
                                        <input type="text" name="block-name" required id="block-name" class="uk-width-1-1 uk-form-large">
                                    </div>
                                </div-->
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="block-desc"><?php echo $this->translate('File Submission')?></label>
                                   <div class="uk-form-controls">
                                        <input name="files" type="file" required class="fileupload all">
                                        <p class="desc"><?php echo $this->translate('Supported Types: xls, zip, ppt, rar, jpg, pdf, doc, docx, xlsx pptx')?></p>
                                         <input type="hidden" value="assignment" name="type"/>
                                    </div>
                                </div>


                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button type="button" class="uk-button uk-modal-close"><?php echo $this->translate('Cancel')?></button>
                                <button type="submit" name="addblock" class="uk-button uk-button-primary"><?php echo $this->translate('Save')?></button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- /block modal assignment -->

<?php if (!$this->modal) : ?>
    <style type="text/css">
        .outline { margin-top:15px }
    </style>
<?php endif; ?>
