<?php if ( $this->cur['visibility'] == 0 ) { ?>
<div class="uk-alert uk-margin-bottom"><i class="uk-icon-eye-slash"></i> This <?php echo Cms_Options::__('label_curriculum')?> is currently not visible to the public.</div>
<?php } ?>
<?php Cms_Hooks::start(); ?>
<?php $data = []; ?>
<?php if(!isset($this->cur['mode'])) $this->cur['mode'] = 'N'; ?>
 <div class="uk-grid">
<div class="uk-block uk-block-hero uk-contrast bgline uk-width-medium-10-10">
    <div class="uk-container uk-container-center">


        <div class="uk-panel uk-clearfix">

           
                <div class="uk-width-medium-2-3">
                    <h1 class="title"><?php echo $this->cur['name'] ?></h1>
                </div>
                
                <?php if($this->cur['mode'] == 'N'): ?>
                    <!--Enrol Program-->
                    <div class="uk-width-medium-1-3 uk-text-right" id="enrol-wrap">
                        <?php if (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->role == 'student'): ?>
                            <div class="uk-button-group">
                                <?php $has_button = false; ?>
                                <?php if ($this->hasenrolled): ?>
                                    <?php $has_button = true; ?>
                                    <button class="uk-button enrollbtn uk-button-large" disabled>
                                        <i class="uk-icon-check-square uk-text-success"></i> <?php echo $this->translate('Already Enrolled') ?>
                                    </button>
                                <?php else: ?>
                                    <?php if ( $this->cur['allow_course_registration'] == 0 ): ?>
                                        <?php
                                        $has_button = true;
                                        $data = array(
                                            'regtype' => 'curriculum',
                                            'cid'     => $this->cid,
                                            'time'    => time()
                                         );
                                        if($this->cur['code'] == 'IFP'):
                                            $data['mode'] = 'FT';
                                        endif;
                                        $data = Cms_Common::encrypt(json_encode($data));
                                        ?>
                                        <a href="<?php echo $this->baseUrl() ?>/register/enroll/i/<?php echo $data ?>" class="uk-button enrollbtn uk-button-large">
                                            <i class="uk-icon-check-square-o"></i> <?php echo $this->translate('Enrol '.Cms_Options::__('label_curriculum')) ?>
                                        </a>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php if ($has_button): ?>
                                    <?php $data = array(); ?>
                                    <div data-uk-dropdown="{mode:'click'}" class="enrollexam-caret">
                                        <button class="uk-button uk-button-large enrollbtn">
                                            <i class="uk-icon-caret-down"></i>
                                        </button>

                                        <div class="uk-dropdown uk-dropdown-small enroll-dropdown">
                                            <ul class="uk-nav uk-nav-dropdown">
                                                <?php if (Cms_Options::getOption('allow_exam_registration')): ?>
                                                    <li>
                                                        <?php 
                                                        $data = array(
                                                            'regtype' => 'exam',
                                                            'cid'     => $this->cid,
                                                            'time'    => time()
                                                         );
                                                        if($this->cur['code'] == 'IFP'):
                                                            $data['mode'] = 'FT';
                                                        endif;
                                                        $data = Cms_Common::encrypt(json_encode($data));
                                                        ?>
                                                        <a href="<?php echo $this->baseUrl() ?>/register/enrollexam/i/<?php echo $data ?>">Enrol Examination</a>
                                                    </li>
                                                <?php endif; ?>
                                                <li>
                                                    <?php
                                                    if (empty($data)):
                                                        $data = array(
                                                            'regtype' => 'curriculum',
                                                            'cid'     => $this->cid,
                                                            'time'    => time()
                                                         );
                                                        if($this->cur['code'] == 'IFP'):
                                                            $data['mode'] = 'CS';
                                                        endif;
                                                        $data = Cms_Common::encrypt(json_encode($data));
                                                    endif;
                                                    ?>
                                                    <a href="<?php echo $this->baseUrl() ?>/register/apply-exemption/i/<?php echo $data ?>">
                                                        <?php if ($this->cur['code'] == 'IFP'): ?>
                                                            <?php echo $this->translate('Apply for Fast Track'); ?>
                                                        <?php else: ?>
                                                            <?php echo $this->translate('Credit Transfer'); ?>
                                                        <?php endif; ?>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php elseif (!Zend_Auth::getInstance()->hasIdentity()): ?>
                                <?php if ( $this->cur['allow_course_registration'] == 0 ): ?>
                                    <button class="uk-button enrollbtn uk-button-large" onclick="loginModal()">
                                        <i class="uk-icon-check-square-o"></i> <?php echo $this->translate('Enrol '.Cms_Options::__('label_curriculum')) ?>
                                    </button>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    <!--Enrol Program-->
                <?php elseif($this->cur['mode'] == 'E'): ?>
                    <?php
                    $data = array(
                        'regtype'   => 'exam',
                        'cid'       => $this->cid,
                        'time'      => time(),
                        'mode'      => $this->cur['mode']
                    );
                    $data = Cms_Common::encrypt(json_encode($data));
                    ?>
                    <div class="uk-width-medium-1-3 uk-text-right" id="enrol-wrap">
                        <?php if (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->role == 'student'): ?>
                            <a href="<?php echo $this->baseUrl() ?>/register/enrollexam/i/<?php echo $data; ?>" class="uk-button enrollbtn uk-button-large">
                                <?php echo $this->translate('Enrol Exam') ?>
                            </a>
                        <?php elseif (!Zend_Auth::getInstance()->hasIdentity()): ?>
                            <button class="uk-button enrollbtn uk-button-large" onclick="loginModal()">
                                <?php echo $this->translate('Enrol Exam') ?>
                            </button>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <?php
                    $data = array(
                        'regtype'   => 'curriculum',
                        'cid'       => ($this->cur['mode'] == 'CS' ? $this->cur['id'] :$this->cur['external_id']),
                        'time'      => time(),
                        'mode'      => $this->cur['mode']
                    );
                    $data = Cms_Common::encrypt(json_encode($data));
                    ?>
                    <div class="uk-width-medium-1-3 uk-text-right" id="enrol-wrap">
                        <a href="<?php echo $this->baseUrl() ?>/register/specialprogram/i/<?php echo $data; ?>" class="uk-button enrollbtn uk-button-large">
                            <?php if($this->cur['mode'] == 'CS'): ?>
                                <?php echo $this->translate('Apply Challenge Status') ?>
                            <?php elseif($this->cur['mode'] == 'FT'): ?>
                                <?php echo $this->translate('Apply Fast Track') ?>
                            <?php endif; ?>
                        </a>
                    </div>
                <?php endif; ?>

            </div>

        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<div class="uk-grid">

    <div class="uk-width-medium-7-10">
    <!-- content -->


        <div class="description">
            <h3 class="title"><?php echo $this->translate('Description') ?></h3>
            <?php echo $this->cur['description'] == '' ? '-' : $this->cur['description'] ?>
        </div>
    
        <?php if (count($this->courses) > 0) { ?>
            <h3 class="title"><?php echo $this->translate('Modules')?></h3>
            <div class="course-list">

                <?php foreach ($this->courses as $row) { ?>
                    <div class="course">
                        <div class="icon">
                            <?php if ($row['thumbnail'] != '') { ?>
                                <img class="uk-border-rounded"
                                     src="<?php echo $this->baseUrl() ?>/thumb.php?s=1&amp;w=65&amp;f=<?php echo DOCUMENT_PATH . '/' . $row['thumbnail'] ?>"
                                     alt="photo"/>
                            <?php } else { ?>
                                <!-- <img src="<?php echo $this->baseUrl()?>/images/assets/icon_ibfimv2.png" alt="" width="30">  -->
                                <span class="wrap"><i class="uk-icon-book"></i></span>
                            <?php } ?>
                        </div>
                        <div class="info">

                            <div class="title"><a
                                    href="<?php echo Cms_System_Course::link($row['code_safe'], $this->cid); ?>"><?php echo $row['title'] ?></a>
                            </div>
                            <span class="code uk-hidden-small"><?php echo $row['code'] ?></span>

                            <div class="description">
                                <?php echo $row['excerpt']; ?>
                            </div>
                        </div>
                    </div>
                <?php }
                ?>
            </div>
            <?php
            //echo $this->paginationControl($this->courses, 'Elastic', 'pagination.phtml');
            ?>
            <?php
        }
        ?>
    <!-- /content -->
    </div>
    <div class="uk-width-medium-3-10">
    <!-- side -->

        <div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
            <div class="uk-panel-content">
                <ul class="infolist">
                    <li><span><i class="uk-icon-clock-o uk-text-muted"></i> Access</span> <?php echo Plugins_App_Course::accessPeriod($this->cur['accessperiod'])?></li>
                    <li><span><i class="uk-icon-book uk-text-muted"></i> Modules</span> <?php echo count($this->courses)?></li>
                </ul>
            </div>
        </div>


    <!-- /side -->
    </div>
</div>

<style type="text/css">
    .enrollbtn {
        background-color: #82bb42 !important;
        color: #ffffff !important;
        background-image: -webkit-linear-gradient(top, #9fd256, #6fac34)  !important;
        background-image: linear-gradient(to bottom, #9fd256, #6fac34)  !important;
        border-color: rgba(0, 0, 0, 0.2)  !important;
        border-bottom-color: rgba(0, 0, 0, 0.4)  !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)  !important;
    }

    .enrollexambtn {
        background-color: #28b1e7 !important;
        color: #ffffff !important;
        background-image: -webkit-linear-gradient(top, #3986de, #3986de)  !important;
        background-image: linear-gradient(to bottom, #28b1e7, #1475b3)  !important;
        border-color: rgba(0, 0, 0, 0.2)  !important;
        border-bottom-color: rgba(0, 0, 0, 0.4)  !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)  !important;
    }

    .bgline
    {
        background:#62a8d1 repeating-linear-gradient( -90deg, transparent, transparent 2px, #62a8d1 4px);
    }

    .enroll-dropdown {
        width: 205px;
        /*background-color: #82bb42 !important;*/
        color: #ffffff !important;
    }

    .enroll-dropdown a {
        color: #444444 !important;
    }

    .enroll-dropdown a:hover {
        color: #fff !important;
    }

    h1.title { letter-spacing:-1px }
</style>
