<?php Cms_Hooks::start(); ?>
    <div class="uk-block uk-block-hero uk-contrast bgline">
        <div class="uk-container uk-container-center">
            <div class="uk-panel uk-clearfix">
                <div class="uk-grid">
                    <div class="uk-width-medium-2-3">
                        <h1 class="title"><?php echo $this->cur['name'] ?></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php Cms_Hooks::end('content.top'); ?>

<?php if (count($this->courses) > 0) { ?>
    <h3 class="title"><?php echo $this->translate('Modules')?></h3>
    <div class="course-list">
        
        <?php foreach ($this->courses as $row) { ?>
            <div class="course">
                <div class="icon">
                    <?php if ($row['thumbnail'] != '') { ?>
                        <img class="uk-border-rounded"
                             src="<?php echo $this->baseUrl() ?>/thumb.php?s=1&amp;w=65&amp;f=<?php echo DOCUMENT_PATH . '/' . $row['thumbnail'] ?>"
                             alt="photo"/>
                    <?php } else { ?>
                        <span class="wrap"><i class="uk-icon-book"></i></span>
                    <?php } ?>
                </div>
                <div class="info">
                    <div class="title"><a
                            href="<?php echo Cms_System_Course::link($row['code_safe'], $this->cid); ?>"><?php echo $row['title'] ?></a>
                    </div>
                    <span class="code uk-hidden-small"><?php echo $row['code'] ?></span>
                    
                    <div class="description">
                        <?php echo $row['excerpt']; ?>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>
<?php } ?>