
<div class="uk-grid">
    

  
    <div class="uk-width-medium-8-10">


    <?php Cms_Hooks::hook('catalog.top'); ?>


    <?php if ( Cms_Options::__('catalog_curriculum') == 1 ) {  ?>

        <h2 class="curr-title">
        <?php echo $this->cid> 0 ? $this->currById[$this->cid]['name'] : $this->translate(Cms_Options::__('').' AICB Programme')?>
        </h2>

        <?php if ( $this->cid > 0 && $this->currById[$this->cid]['description'] != '' ) { ?>
        <div class="description">
            <?php echo $this->currById[$this->cid]['description'] ?>
        </div>
        <?php } ?>

        <?php if ( !empty($this->results) ) { ?>
        <div class="curr-list">
        <?php foreach ( $this->results as $row ) { ?>
            <div class="curriculum">
                <div class="icon">
                    <img src="<?php echo $this->baseUrl()?>/images/assets/books2.svg" alt="" width="30">
                    
                </div>
                <div class="info">
                    <h3><a href="<?php echo $this->baseUrl()?>/courses/<?php echo $row['parent_id']>0?'curriculum':'index'?>/cid/<?php echo $row['id'] ?>"><?php echo $row['name']?></a></h3>
                    <?php if ( $this->cid > 0 ) { ?><p class="description"><?php echo nl2br($row['excerpt'])?></p><?php } ?>
                </div>
            </div>
        <?php } ?>



        </div>
        <?php } else { ?>

            <!-- <div><em><?php echo $this->translate('No results')?></em></div>-->

            <div class="course-list">
            <?php if ( count($this->courses) > 0 ) { ?>
                <?php foreach ($this->courses as $row) { ?>
                    <div class="course">
                        <div class="icon">
                            <?php if ( $row['thumbnail'] != '' ) { ?>
                                <img class="uk-border-rounded" src="<?php echo $this->baseUrl()?>/thumb.php?s=1&amp;w=65&amp;f=<?php echo DOCUMENT_PATH.'/'.$row['thumbnail']?>" alt="photo" />
                            <?php } else { ?>
                                <span class="wrap"><i class="uk-icon-book"></i></span>
                            <?php } ?>
                        </div>
                        <div class="info">

                            <div class="title"> <a href="<?php echo Cms_System_Course::link($row['code_safe'],$this->cid); ?>"><?php echo $row['title']?></a></div>
                            <span class="code uk-hidden-small"><?php echo $row['code']?></span>
                            <div class="description">
                                <?php echo $row['excerpt']; ?>
                            </div>
                        </div>
                    </div>
                <?php }
            }
            ?>
            </div>
            <?php
            echo $this->paginationControl($this->courses,'Elastic','pagination.phtml');
            ?>
        <?php }?>
        </div>
    <?php } else { ?>

    <div class="course-list">

    <?php if ( count($this->results) > 0 ) { ?>
        <?php foreach ($this->results as $row) { ?>
        <div class="course">
            <div class="icon">
                <?php if ( $row['thumbnail'] != '' ) { ?>
                <img class="uk-border-rounded" src="<?php echo $this->baseUrl()?>/thumb.php?s=1&amp;w=65&amp;f=<?php echo DOCUMENT_PATH.'/'.$row['thumbnail']?>" alt="photo" />
                <?php } else { ?>
                <span class="wrap"><i class="uk-icon-book"></i></span>
                <?php } ?>
            </div>
            <div class="info">

                <div class="title"><a href="<?php echo Cms_System_Course::link($row['code_safe']); ?>"><?php echo $row['title']?></a></div>
                <span class="code uk-hidden-small"><?php echo $row['code']?></span>
                <div class="description">
                   <?php echo $row['excerpt']; ?>    
                </div>
            </div>
        </div>
    <?php }
    }
    ?>
    </div>
    <?php
    echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
    ?>
    </div>
<?php } ?>

<?php Cms_Hooks::hook('catalog.bottom'); ?>
<?php if ( $this->sidebar == 1 ) { ?>
    </div>
<?php } ?>