
<?php Cms_Hooks::start(); ?>
<style type="text/css">
    .enrollbtn {
        background-color: #82bb42 !important;
        color: #ffffff !important;
        background-image: -webkit-linear-gradient(top, #9fd256, #6fac34)  !important;
        background-image: linear-gradient(to bottom, #9fd256, #6fac34)  !important;
        border-color: rgba(0, 0, 0, 0.2)  !important;
        border-bottom-color: rgba(0, 0, 0, 0.4)  !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)  !important;
    }
</style>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">
        <div class="uk-panel uk-clearfix">
            <div class="uk-grid">
                <div class="uk-width-medium-2-3">
                    <h1><i class="uk-icon-book"></i> <?php echo $this->course['title'] ?></h1>
                </div>
                <?php if ($this->curriculum['mode'] != 'E'): ?>
                    <div class="uk-width-medium-1-3 uk-text-right">
                        <?php if ( Cms_Permission::allowed('courses.edit') === false ): ?>
                            <?php
                            if (empty($data)):
                                $data = array(
                                    'regtype'              => 'curriculum',
                                    'cid'                  => $this->course['curriculum_id'],
                                    'time'                 => time(),
                                    'IdSubject'            => $this->course['external_id'],
                                    'IdStudentRegSubjects' => $this->check['external_id']
                                 );
                                if($this->cur['code'] == 'IFP'):
                                    $data['mode'] = 'FT';
                                endif;
                                $data = Cms_Common::encrypt(json_encode($data));
                            endif;
                            ?>
                            <a href="<?php echo $this->baseUrl() ?>/register/apply-exemption/i/<?php echo $data ?>" class="uk-button enrollbtn uk-button-large">
                                <?php if ($this->course['code'] == 'IFP'): ?>
                                    <?php echo $this->translate('Apply for Fast Track'); ?>
                                <?php else: ?>
                                    <?php echo $this->translate('Credit Transfer'); ?>
                                <?php endif; ?>
                            </a>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
    <li class="uk-active"><a href="#"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
    <li><a href="/announcements/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
    <li><a href="/forum/forum/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
    <li><a href="/calendar/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
    <li><a href="/wiki/view/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
    <li><a href="/bookmark/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
    <li><a href="/chat/index/course/<?php echo $this->course['id']?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
</ul>

<div class="uk-grid">

    <div class="uk-width-medium-7-10">
    <!-- content -->

        <div class="description">
            <h3 class="title"><?php echo $this->translate('Course Description')?></h3>
            <?php echo $this->course['description'] ?>
        </div>

        <div class="outline">

            <h3 class="title"><?php echo $this->translate('Modules')?></h3>

            <div class="course-outline">
                <?php $l = 0; ?>
                <?php if ( count($this->blocks) > 0 ) { ?>
                    <?php foreach ( $this->blocks as $block ) { ?>
                    <?php if (count($this->content[$block['id']]) > 0) { ?>
                        <div class="block uk-margin-bottom">
                            <h4><?php echo $block['title']?></h4>

                            <!-- content -->
                            <ul class="timeline">
                                <?php
                                if ( isset($this->content[$block['id']]) ) {
                                    foreach ($this->content[$block['id']] as $content) 
                                    {
                                        $link = $this->baseUrl() . "/courses/block/id/" . $content['data_id'] . "/course/" . $this->course['id'] . '" target="_blank';
                                        $onclick = "";

                                        if ($content['data_type'] == 'scorm') {
                                            $link = "javascript:void(0)";
                                            $onclick = " onclick=\"var win=window.open('" . $this->baseUrl() . "/courses/block/id/" . $content['data_id'] . "/course/" . $this->course['id'] . "/nowin/1','learn','width=1200,height=800');win.focus();\"";
                                        }

                                        // grouping
                                        $specific_group = ""; //"globe";
                                        $specific_title = ""; //"Global Content";
                                        
                                        if (!empty($content['specific_group'])) 
                                        {
                                            $specific_group = "user";
                                            $specific_title = "'" . addslashes(@$content["specific_group_name"]) . "' group content";
                                        }
                                ?>
                                        <li>
                                            <div class="icon"><i class="uk-icon-<?php echo Cms_System_Course::getContentIcon($content['data_type'])?>"></i></div>
                                            <div class="label">
                                                <a href="<?php echo $link ?>"<?php echo $onclick ?>><?php echo $content['title'] ?></a>
                                                <div class="uk-float-right">

                                                    <!-- group -->
                                                        <i class="bookmark uk-icon-<?php echo $specific_group ?> uk-text-muted" data-uk-tooltip title="<?php echo $specific_title ?>"> </i> &nbsp; 
                                                    <!-- /group -->

                                                    <?php if(isset($content['completed'])): ?>
                                                        <?php if($content['completed']): ?>
                                                            <i class="bookmark uk-icon-check-square-o uk-link" data-uk-tooltip title="Completed"> </i> &nbsp; 
                                                        <?php else: ?>
                                                            <i class="bookmark uk-icon-square-o" data-uk-tooltip title="Incomplete"> </i> &nbsp; 
                                                        <?php endif; ?>
                                                    <?php endif; ?>

                                                    <!-- bookmark -->
                                                    <?php if (!isset($content["bookmark"])) : ?>
                                                        <i class="bookmark uk-icon-bookmark-o" data-uk-tooltip title="Bookmark this content" onclick="bookmark('<?php echo $content['data_id']?>', '<?php echo $this->course['id']?>', 'add')"></i>
                                                    <?php else : ?>
                                                        <a href="<?php echo $this->baseUrl() ?>/bookmark/delete/id/<?php echo $content['data_id']?>/course/<?php echo $this->course['id']?>/code_safe/<?php echo $this->course['code_safe']?>/nowin/1"><i class="bookmark uk-icon-bookmark" data-uk-tooltip title="Remove bookmark"> </i></a>
                                                    <?php endif; ?>
                                                    <!-- /bookmark -->

                                                </div>
                                            </div>
                                        </li>
                                    <?php $l++; }
                                }
                                ?>
                            </ul>
                            <!-- /content -->

                        </div>
                    <?php } ?>
                    <?php } ?>
                <?php } ?>

            </div>

        </div>

    <!-- /content -->
    </div>
    <div class="uk-width-medium-3-10">
    <!-- side -->

        <?php if ( Cms_Permission::allowed('courses.edit') === false ) { ?>
        <div class="uk-panel">
            <h3><?php echo $this->translate('Activity Progress')?></h3>
            <div class="uk-progress uk-progress-mini" data-uk-tooltip title="<?php echo $this->progress; ?>%">
                <div class="uk-progress-bar" style="width:<?php echo $this->progress; ?>%;"></div>
            </div>
        </div>
        <?php } ?>

        <div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
            <div class="uk-panel-content">
                <ul class="infolist">
                    <li><span><i class="uk-icon-clock-o uk-text-muted"></i> <?php echo $this->translate('Modules')?></span> <?php echo $l ?></li>
                    <li><span><i class="uk-icon-book uk-text-muted"></i> <?php echo $this->translate('Category')?></span> <?php echo $this->course['category_name'] == '' ? '<em>none</em>':$this->course['category_name']?></li>
                    <?php if ( Cms_Permission::allowed('courses.edit') === false && $this->check ) { ?>
                        <li>
                            <span><i class="uk-icon-tasks uk-text-muted"></i> <?php echo $this->translate('Status'); ?> </span>
                            <?php
                            if($this->check['completed'] == 0) echo $this->translate('In Progress');
                            elseif($this->check['completed'] == 1) echo $this->translate('Completed');
                            ?>
                        </li>
                    <?php } ?>
                </ul>
            </div>
        </div>

    <!-- /side -->
    </div>
</div>

<!-- content modal -->
<div id="content-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="width:95%">
        <button type="button" class="uk-modal-close uk-close"></button>

        <div class="uk-modal-header" id="content-modal-header">
            <h3>Course Content</h3>
        </div>

        <div id="content-modal-container">
        </div>
    </div>
</div>
<!-- /content modal -->

<!-- bookmark modal -->
<div id="bookmark-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>

        <div class="uk-modal-header" id="bookmark-modal-header">
            <h3>Bookmark Content</h3>
        </div>

        <div id="bookmark-modal-container">
        </div>
    </div>
</div>
<!-- /bookmark modal -->

<style type="text/css">
    .outline { margin-top:15px }
    .bookmark { cursor: pointer; }
</style>

<script>
    function popup(cid, title)
    {
        var modal = UIkit.modal("#content-modal");
        $("#content-modal-header").html("<h3>" + title + "</h3>");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: '<?php echo $this->baseUrl() ?>/courses/block/id/' + cid + '/course/<?php echo $this->course['id'] ?>/nowin/1',
                type: 'GET',
                beforeSend: function() {
                    $('#content-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#content-modal").data("id", cid);
                setTimeout(function() { $("#content-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }

    function bookmark(data_id, course_id, type)
    {
        var modal = UIkit.modal("#bookmark-modal");

        if ( modal.isActive() ) {
            modal.hide();
        } else {
            modal.show();

            $.ajax({
                url: '<?php echo $this->baseUrl() ?>/bookmark/add/id/' + data_id + '/course/' + course_id + '/code_safe/<?php echo $this->course['code_safe']?>/nowin/1',
                type: 'GET',
                data_type: 'html',
                beforeSend: function() {
                    $('#bookmark-modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function(){

                }
            })
            .done(function ( data ) {
                $("#bookmark-modal").data("id", data_id);
                setTimeout(function() { $("#bookmark-modal-container").html ( data ); } , 500 );
            });
        }

        return false;
    }
</script>