<h1><i class="uk-icon-check-circle"></i> Course Enrolment</h1>
<p class="uk-alert uk-alert-success">
    Thank you for enrolling in <strong><?php echo $this->course['title']?></strong>. We hope you enjoy the course.
</p>

<p>
    <a href="<?php echo $this->baseUrl()?>/course/<?php echo $this->course['code_safe']?>" class="uk-button"><?php echo $this->translate('View Course')?></a>
</p>

<style type="text/css">

    h1 i { color:#8de348 }

</style>