<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
    <!-- content -->
    <div class="uk-width-medium-8-10">   	
    
    <ul class="uk-breadcrumb">
    	<li><a href="/"><i class="uk-icon-home"></i></a></li>
    	<li><a href="">Register Modules</a></li>
    </ul> 
    
    </div>

</div>
    