<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <?php if($this->myApplication["d.DefinitionDesc"] == "DRAFT"){?>

      <?php ////if (!$this->allow_payment): ?>
<!--           <p class="uk-alert uk-alert-danger"><span class="icon icon-attention"></span>-->
<!--               --><?php ////echo $this->translate('Payment must be made at least 7 days before the examination date'); ?><!--<!--</p>-->
       <?php } ?>

        <?php if ($this->myexams['must_reschedule']): ?>
            <p class="uk-alert uk-alert-danger"><span class="icon icon-attention"></span> <?php echo $this->translate('Slot is full. Please reschedule'); ?></p>
        <?php endif; ?>

        <!-- content -->
        <h3><?php //echo $this->translate('Exam Detail'); ?></a></h3>
           <div class="title-wrap">
               <div class="sub-title">
        <h2><a href=""><?php echo $this->translate('Documents Submission') ?></a></h2>
               </div></div>
<form id="frqua" method="post" enctype="multipart/form-data" action="/courses/curriculum-register/cid/<?php echo $this->lmscurriculumid?>/txnid/<?php echo $this->txnid?>">
<!--<form id="frqua" method="post" enctype="multipart/form-data" action="/courses/curriculum-register/cid/--><?php //echo $this->lmscurriculumid?><!--/txnid/--><?php //echo $this->txnid?><!--">-->

<table class="uk-table" width="100%">
<?php
$myApplication = $this->myApplication;
?>
    <input type="hidden" id="regid" name="regid" value="<?php echo $myApplication["at_appl_id"]?>">
    <tr>
        <th><?php echo $this->translate('Status'); ?></th>
        <td class="<?php //echo $csstatus ?>">
            <span style="background-color: <?php //echo $csstatus?>;" ><font color=""><?php echo $myApplication["d.DefinitionDesc"] ?></font></span>
        </td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Applied Date'); ?></th>
        <td><?php echo $myApplication["createdDate"] ?></td>
    </tr>

    <tr>
        <th width="150em"><?php echo $this->translate('Program'); ?></th>
        <td><?php echo $myApplication["ProgramName"] ?></td>
    </tr>


    <tr>
        <th><?php echo $this->translate('Supporting Documents'); ?></th>
        <td>
            <div class="uk-alert">
                Please provide below supporting documents for application purposes :
                <ul>
                    <li> NRIC Copy</li>
                    <li> Certificate of highest qualification (min Degree or equivalent).</li>
                    <li> Curriculum vitae </li>
                    <li> Organisation Chart</li>
                </ul>
            </div>
            <table id="doc_table" class="uk-table-main maintabl" width="100%">
                <tr>
                    <th  width="10em"><?php echo $this->translate('No.'); ?></th>
                    <th width="300em">
                        <?php echo $this->translate('Document Name'); ?>


                    </th>
                    <th  width="10em">
                        <button type="button" class="uk-button uk-button-primary" onclick="addRow();">
                            <?php echo $this->translate('+'); ?>
                        </button>
                        <button type="button" class="uk-button uk-button-primary" onclick="removeRow();">
                            <?php echo $this->translate('-'); ?>
                        </button>

                    </th>
                    <input id="totaldoc" type="hidden" value="">
                </tr>
                <tr><td colspan="3"><input id="file0" name="file0" type="file" class=""></td></tr>
            </table>
        </td>
    </tr>

</table>
<form id="" method="post" action="/user/dashboard">
    <?php //if ($this->allow_payment): ?>
        <table class="uk-table infotable maintable">
            <tr>
                <td>
                    <p align="center">
                        <?php if($myApplication["d.DefinitionDesc"] != "DRAFT" && $myApplication["d.DefinitionDesc"] != "ENTRY"){?>
                        <p class="reqMark"><strong>Declaration</strong></p>
                        <input type="hidden" name="isallowpay" id="isallowpay" value="1"/>
                        <input type="checkbox" name="agreement" id="agreement" onclick="checkdeclare()" />
                        I hereby declare that the information given is true and accurate. If I passed the examination and the information given is found to be not true, I understand that AICB reserves the right to Cancel the examination result and take action according to the rules and regulation of <?php echo $this->myexams['ProgramName']; ?>
                    <?php }
                    //if($userid ==3){?>
                    <br><br>
                    <div align="right">
<!--                        <a id="payment-btn" href="/register/checkout-modedemo">
<!--                            <button type="button" class="uk-button uk-button-primary" disabled id="pay-button">
<!--                                <i class="uk-icon icon-credit-card"></i> <?php //echo $this->translate('Proceed to Payment'); ?>
<!--                            </button>
<!--                        </a>-->
                        <a href="<?php //echo $this->baseUrl()?>/dashboard" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
                        <?php //$payment_url = $this->baseUrl() .'/exam/examcheckout/id/'. Cms_Common::encrypt($this->myexams['order_id']); ?>
                        <button type="submit" class="uk-button uk-button-primary" <?php //echo $disabled?> id="submit-button">
                            <?php echo $this->translate('Submit'); ?>
                        </button>


                        <?php //}?>
                    </div>

                    </p>
                </td>
            </tr>
        </table>
            </form>
    


    </div>
</div>
</form>
<script type="text/javascript">
$('#agreement').prop('checked', false);

$(document).ready(function(){
    var isallowpay =  $('#isallowpay').val();
    if(isallowpay=="" && isallowpay != '1') {
        $('#agreement').attr('disabled', 'disabled');
    }else{
        $('#agreement').removeAttr('disabled');
    }
});


//$('#agreement').change(function(e) {
//    $('#pay-button').prop('disabled', true);
//    if($('#agreement:checked').length) {
//        $('#pay-button').prop('disabled', false);
//    }
//
//});

function checkdeclare(){
    var isallowpay =  $('#isallowpay').val();
    if($("#agreement").is(':checked')){
        if(isallowpay!="" && isallowpay == '1'){
            $('#pay-button').prop('disabled', false);
        }else{
            $('#pay-button').prop('disabled', true);
        }
    }else{
        $('#pay-button').prop('disabled', true);
    }
};

var i = 1;
function addRow(){//alert('sinii');
    $get_lastID();
    $('#doc_table tbody').append($newRow);
    i++;

}
function removeRow(){
    $('#doc_table tr:last').remove();
    i--;
    var totaldoc =  $('#totaldoc').val(i-1);
    //alert(i);
}

$get_lastID = function(){
    var id = $('#doc_table tr:last-child td:first-child input').attr("name");
    var totaldoc =  $('#totaldoc').val(i);
    //totaldoc =i;
    //var lastChar = parseInt(id.substr(id.length - 2), 10);
   // lastChar = lastChar + 1;
    //alert(i);

    $newRow = "<tr> \
                    <td colspan='3' align='left'><input type='file' name='file'+i id='file'+i/>"+i+"</td> \
                   </tr>";
    return $newRow;


}
</script>