<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        
<!--        --><?php ////if (!$this->allow_payment): ?>
<!--            <p class="uk-alert uk-alert-danger"><span class="icon icon-attention"></span> --><?php ////echo $this->translate('Payment must be made at least 7 days before the examination date'); ?><!--</p>-->
<!--        --><?php ////endif; ?>
<!--        -->
        <?php if ($this->myexams['must_reschedule']): ?>
            <p class="uk-alert uk-alert-danger"><span class="icon icon-attention"></span> <?php echo $this->translate('Slot is full. Please reschedule'); ?></p>
        <?php endif; ?>

        <!-- content -->
        <h3><?php //echo $this->translate('Exam Detail'); ?></a></h3>
            
        <h3><a href="<?php echo $this->baseUrl() ?>/user/dashboard/tab/qualification"><?php echo $this->translate('Membership Detail') ?></a></h3>

        <form method="post" id="f1" name="f1" action="">

        <table class="uk-table" width="100%">
<?php
//echo $this->userid;
$userid = $this->userid;
?>
    <tr>
        <th><?php echo $this->translate('Status'); ?></th>
        <td>
            <span style="background-color: <?php echo $csstatus?>;" >
                <font color="white">
                    <?php //echo $status
                    if ($this->arrayData['membershipDetl']['mr_status'] == 0) {
                        $status = "Entry";
                    } else if ($this->arrayData['membershipDetl']['mr_status'] == 1) {
                        $status = "Pending";
                    } else {
                        $status = "Approved";
                    }
                    echo $status;
                    ?>
                </font>
            </span>
        </td>
    </tr>

    <tr>
        <th width="150em"><?php echo $this->translate('Expiry Date'); ?></th>
        <td><?php
            if ($this->arrayData['membershipDetl']['mr_expiry_date']=="") {
                echo "01-10-2017";
            } else {
                echo date('d-m-Y',strtotime($this->arrayData['membershipDetl']['mr_expiry_date']));
            }
            //echo date('d-m-Y',strtotime($this->arrayData['membershipDetl']['mr_expiry_date'])); ?></td>
    </tr>

    <tr>
        <th><?php echo $this->translate('Applied Date'); ?></th>
        <td><?php
            if ($this->arrayData['membershipDetl']['mr_activation_date']=="") {
                echo "01-10-2017";
            } else {
                echo date('d-m-Y',strtotime($this->arrayData['membershipDetl']['mr_activation_date']));
            }
            //echo date('d-m-Y',strtotime($this->arrayData['membershipDetl']['mr_activation_date'])); ?></td>
    </tr>

    <?php
    if ($this->arrayData["membershipDetl"]["mr_idProgram"]=='51' || $this->arrayData["membershipDetl"]["mr_idProgram"]=='53') {//Highest Membership Level; only can renew
        $statusword = "Renew";
    } else {//To Upgrade
        $statusword = "Upgrade";
    }
    ?>

    <tr>
        <th width="150em"><?php echo $this->translate('Membership'); ?></th>
        <td><?php
            //33 < 1 < 51
            if ($statusword=="Upgrade") {
                if ($this->arrayData["membershipDetl"]["mr_idProgram"]=="33") {
                    //amik program 1
                    foreach ($this->membershipProgram as $membershipProgram) {
                        if ($membershipProgram['IdProgram']=="1") {
                            $progName = $membershipProgram['ProgramName'];
                            $progNameId = $membershipProgram['IdProgram'];
                            $progAmount = $membershipProgram['feeProgramDetl']['fsi_amount'];
                        }
                    }
                } else if ($this->arrayData["membershipDetl"]["mr_idProgram"]=="1") {
                    //amik program 51 (staging) or 53 (local)
                    foreach ($this->membershipProgram as $membershipProgram) {
                        if ($membershipProgram['IdProgram']=="51" || $membershipProgram['IdProgram']=="53") {
                            $progName = $membershipProgram['ProgramName'];
                            $progNameId = $membershipProgram['IdProgram'];
                            $progAmount = $membershipProgram['feeProgramDetl']['fsi_amount'];
                        }
                    }
                } else if ($this->arrayData["membershipDetl"]["mr_idProgram"]=="51") {
                    //amik program 51
                    foreach ($this->membershipProgram as $membershipProgram) {
                        if ($membershipProgram['IdProgram']=="51") {
                            $progName = $membershipProgram['ProgramName'];
                            $progNameId = $membershipProgram['IdProgram'];
                            $progAmount = $membershipProgram['feeProgramDetl']['fsi_amount'];
                        }
                    }
                }
            } else {
                $progName = $this->arrayData['memberProgramDetl']['ProgramName'];
                $progNameId = $this->arrayData['memberProgramDetl']['IdProgram'];
                $progAmount = $this->arrayData['feeProgramDetl']['fsi_amount'];
            }
            echo $progName;
            ?>
            <input type="hidden" name="progNameId" id="progNameId" value="<?php echo $progNameId;?>">
            <input type="hidden" name="memid" id="memid" value="<?php echo $this->arrayData['membershipDetl']['mr_id'];?>">
        </td>
    </tr>

    <tr>
        <th width="150em"><?php echo $this->translate('Validity Status'); ?></th>
        <td><?php
            $activationdate = strtotime($this->arrayData['membershipDetl']['mr_activation_date']);
            $expirydate = strtotime($this->arrayData['membershipDetl']['mr_expiry_date']);
            $todaydate = strtotime(date('d-m-Y H:i:s'));

            if ($statusword=="Upgrade") {
                $status = "Upgrade";
                $csstatus = "#0000e6";
            } else {
                if ($expirydate<$todaydate) {
                    $status = "Expired";
                    $csstatus = "#c30f0f";
                } else {
                    $status = "Active";
                    $csstatus = "#29a329";
                }
            }
            //if ($todaydate>$expirydate && $activationdate<$expirydate) {
                echo "<font color='$csstatus'>".$status."</font>";
            /*} else {
                echo "Active";
            }*/
            ?></td>
    </tr>

    <tr>
        <th><?php echo $this->translate('Membership Fees'); ?></th>
        <td><?php echo $this->arrayData['feeProgramDetl']['cur_symbol_prefix']." ".$progAmount; ?> annually
            <input type="hidden" id="memberfee" name="memberfee" value="<?php echo $progAmount;?>">
        </td>
    </tr>

    <?php
    if ($statusword=="Upgrade") {?>
        <tr>
            <th>Supporting Documents</th>
            <td><input type="file" name="upfile"></td>
        </tr>
    <?php } ?>

    <tr>
        <th><?php echo $this->translate('Renewal Period'); ?></th>
        <td>
            <select id="calcpay" name="calcpay" onchange="calculatepay(this.value)">
                <option value id="">--Please Select--</option >
                <option value="1"> 1 Year </option>
                <option value="2"> 2 Year </option>
            </select>
        </td>
    </tr>

    <tr>
        <th><?php echo $this->translate('Membership Fees'); ?></th>
        <td><?php echo $this->arrayData['feeProgramDetl']['cur_symbol_prefix']." ";?><input readonly type="text" id="totalpayment" name="totalpayment" value=""></td>
    </tr>

    <!--<tr>
        <th><?php /*echo $this->translate('Supporting Documents'); */?></th>
        <td>
            <?php /*if($userid !=51){*/?>
                <a> Download </a>
            <?php /*} else{ */?>
                <input type="file">
            <?php /*} */?>
        </td>
    </tr>-->
</table>
    <?php //if ($this->allow_payment): ?>
        <table class="uk-table infotable maintable">
            <tr>
                <td>

                    
                    <p align="center">
                        <?php if($userid !=28){?>
                       <!-- <p class="reqMark"><strong>Declaration</strong></p>
                        <input type="hidden" name="isallowpay" id="isallowpay" value="<?php /*echo $allow_change*/?>"/>
                        <input type="checkbox" name="agreement" id="agreement" onclick="checkdeclare()" />
                        I hereby declare that the information given is true and accurate. If I passed the examination and the information given is found to be not true, I understand that AICB reserves the right to Cancel the examination result and take action according to the rules and regulation of --><?php /*echo $this->myexams['ProgramName']; */?>
                    <?php if($userid ==51){?>
                        <!--<br><br>
                        <a href="<?php /*echo $this->baseUrl() */?>/user/dashboard/tab/membership" class="uk-button uk-button"><?php /*echo $this->translate('Submit')*/?></a>-->
                    <?php } ?>
                    <?php }?>
                        <div align="right">
                            <a href="<?php //echo $this->baseUrl()?>/dashboard" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
                            <?php $payment_url = $this->baseUrl() .'/register/checkout-modedemo/id/'. Cms_Common::encrypt($this->myexams['order_id']); ?>
                            <?php //if($userid !=28 || $userid ==6){?>
                            <!--<a id="payment-btn" href="/register/checkout-modedemo/userid/<?php echo $userid?>" >-->
                                 <button type="button" class="uk-button uk-button-primary"  id="pay-button" onclick="validateForm();">
                                    <i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Proceed to Payment'); ?>
                                </button>
                            <!--</a>-->

                            <?php //}?>
                        </div>
                    </p>
                </td>
            </tr>
        </table>
            </form>
    <?php //endif; ?>
 <?php //endif; ?>
    


    </div>
</div>

<script type="text/javascript">
$('#agreement').prop('checked', false);

$(document).ready(function(){
    var isallowpay =  $('#isallowpay').val();
    if(isallowpay=="" && isallowpay != '1') {
        $('#agreement').attr('disabled', 'disabled');
    }else{
        $('#agreement').removeAttr('disabled');
    }
});


//$('#agreement').change(function(e) {
//    $('#pay-button').prop('disabled', true);
//    if($('#agreement:checked').length) {
//        $('#pay-button').prop('disabled', false);
//    }
//
//});

function checkdeclare(){
    var isallowpay =  $('#isallowpay').val();
    if($("#agreement").is(':checked')){
        if(isallowpay!="" && isallowpay == '1'){
            $('#pay-button').prop('disabled', false);
        }else{
            $('#pay-button').prop('disabled', true);
        }
    }else{
        $('#pay-button').prop('disabled', true);
    }
};

function validateForm() {
    var totalpayment = $('#totalpayment').val();
    var progNameId = $('#progNameId').val();
    var memid = $('#memid').val();
    var calcpay = $('#calcpay option:selected').val();

    var msg = 'Proceed Payment?';

    if (totalpayment!="") {

        form=document.getElementById('f1');
        form.action='/register/checkout-modedemo/userid/<?php echo $userid?>/totalpay/'+totalpayment+'/progNameId/'+progNameId+'/memid/'+memid;
        //form.action='/register/checkout-modedemo/userid/<?php echo $userid?>/totalpay/'+totalpayment+'/calcpay/'+calcpay;
        form.submit();

    } else {
        alert('Please select membership renew years.');
        $( "#calcpay" ).focus();
        return false;
    }
}

function  calculatepay(renewyears) {
    var memberfee = $('#memberfee').val();
    var totalpayment = renewyears*memberfee;
    totalpayment = parseFloat(Math.round(totalpayment * 100) / 100).toFixed(2);
    $('#totalpayment').val(totalpayment);
}
</script>