
<?php Cms_Hooks::start(); ?>
<div class="uk-block uk-block-hero uk-contrast">
    <div class="uk-container uk-container-center">



        <div class="uk-panel uk-clearfix">

            <div class="icon uk-float-left">
                <?php if ( $this->course['thumbnail'] != '' ) { ?>
                    <img class="uk-border-rounded" src="<?php echo $this->baseUrl()?>/thumb.php?s=1&amp;w=100&amp;f=<?php echo DOCUMENT_PATH.'/'.$this->course['thumbnail']?>" alt="photo" />
                <?php } else { ?>
                    <span class="wrap"><i class="uk-icon-book uk-article-title"></i></span>
                <?php } ?>
            </div>

            <div class="uk-grid">
                <div class="uk-width-medium-2-3">
                    <h1 class="title"><?php echo $this->course['title']?></h1>
                </div>
                <?php if ( $this->curriculum['mode'] != 'E' ) : ?>
                    <div class="uk-width-medium-1-3 uk-text-right">
                    <?php
                    $data = array(
                        'regtype'   => 'course',
                        'course_id' => $this->course['id'],
                        'cid'       => $this->cid,
                        'time'      => time()
                    );
                    //pr($data);
                    $data = Cms_Common::encrypt(json_encode($data));

                    if ( $this->canenroll == true ) {
                    if ( Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->role == 'student' ) { ?>

                        <?php if ($this->hasenrolled) { ?>
                            <a class="uk-button uk-button-large"><i class="uk-icon-check-square uk-text-success"></i> <?php echo $this->translate('Already Enrolled')?></a>
                        <?php } else { ?>
                            <a href="<?php echo $this->baseUrl()?>/register/enroll/i/<?php echo $data?>" class="uk-button enrollbtn uk-button-large"><i class="uk-icon-check-square-o"></i> <?php echo $this->translate('Enrol Course')?></a>
                        <?php } ?>
                    <?php } else if ( !Zend_Auth::getInstance()->hasIdentity() ) { ?>

                        <button class="uk-button enrollbtn uk-button-large" onclick="loginModal()"><i class="uk-icon-check-square-o"></i> <?php echo $this->translate('Enrol Course') ?></button>

                    <?php } ?>
                    <?php } ?>
                </div>
                <?php endif; ?>
            </div>




            </div>
        </div>
</div>
<?php Cms_Hooks::end('content.top'); ?>

<div class="uk-grid">

    <div class="uk-width-medium-7-10">
    <!-- content -->

        <div class="description">
            <h3 class="title"><?php echo $this->translate('Module Description')?></h3>
            <?php echo $this->course['description'] ?>
        </div>

        <!-- <div class="outline">
            <?php $l = 0; ?>
            <?php if ( count($this->blocks) > 0 ) { ?>
            <h3 class="title"><?php echo $this->translate('Course Overview')?></h3>
            <div class="course-outline">

                <?php foreach ( $this->blocks as $block ) { ?>
                    <div class="block uk-margin-bottom">
                        <h4><?php echo $block['title']?></h4>

                        <ul class="timeline">
                            <?php
                            if ( isset($this->content[$block['id']]) ) {
                                foreach ($this->content[$block['id']] as $content) {
                                    ?>
                                    <li>
                                        <div class="icon"><i class="uk-icon-<?php echo Cms_System_Course::getContentIcon($content['data_type'])?>"></i></div>
                                        <div class="label">
                                            <?php echo $content['title'] ?>
                                        </div>
                                    </li>
                                <?php $l++; }
                            }
                            ?>
                        </ul>

                    </div>
                <?php } ?>
            </div>
            <?php } ?>
        </div> -->

    <!-- /content -->
    </div>
    <div class="uk-width-medium-3-10">
    <!-- side -->
        <?php if ( isset($this->cur) && !empty($this->cur) ) { ?>
        <div class="uk-panel uk-margin-bottom">
            <p>Part of: <strong><?php echo $this->cur['name']?></strong></p>
            <a href="<?php echo $this->baseUrl()?>/courses/curriculum/cid/<?php echo $this->cur['id']?>" class="uk-button uk-width-1-1">View <?php echo Cms_Options::__('label_curriculum')?></a>
        </div>
        <?php }?>

        <div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
            <div class="uk-panel-content">
                <ul class="infolist">
                    <li><span class="pad-more"><i class="uk-icon-clock-o uk-text-muted"></i> Access</span> <?php echo Plugins_App_Course::accessPeriod($this->course['accessperiod'])?></li>
                    <li><span class="pad-more"><i class="uk-icon-file-text-o uk-text-muted"></i> <?php echo $this->translate('Learning Materials')?></span> <?php echo $l ?></li>
                    <li><span class="pad-more"><i class="uk-icon-book uk-text-muted"></i> <?php echo $this->translate('Category')?></span> <?php echo $this->course['category_name'] == '' ? '<em>none</em>':$this->course['category_name']?></li>
                </ul>
            </div>
        </div>

        <?php if ( Cms_Permission::allowed('courses.edit') ) { ?>
            <a href="<?php echo $this->baseUrl(); ?>/admin/courses/edit/id/<?php echo $this->course['id']; ?>" class="uk-button uk-button-primary uk-width-1-1 uk-margin-bottom"><i class="uk-icon-pencil-square-o"></i> Edit Content</a>
            <a href="<?php echo $this->baseUrl()?>/courses/<?php echo $this->course['code_safe']?>/learn" class="uk-button uk-button-success uk-width-1-1"><i class="uk-icon-user"></i> View As Learner</a>
        <?php } ?>

    <!-- /side -->
    </div>
</div>

<style type="text/css">
    .enrollbtn {
        background-color: #82bb42 !important;
        color: #ffffff !important;
        background-image: -webkit-linear-gradient(top, #9fd256, #6fac34)  !important;
        background-image: linear-gradient(to bottom, #9fd256, #6fac34)  !important;
        border-color: rgba(0, 0, 0, 0.2)  !important;
        border-bottom-color: rgba(0, 0, 0, 0.4)  !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)  !important;
    }

    .pad-more { min-width: 150px !important; }

    h1.title { letter-spacing:-1px }

    .outline { margin-top:15px; }
</style>
