<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="">
<head>

<script type="text/javascript">

	dojo.addOnLoad(function() {
		dijit.byId('IdStaff').set('value','');
		dijit.byId('IdStaff').set('placeHolder','Select');
		dijit.byId('State').set('value','');
		dijit.byId('State').set('placeHolder','Select');
		dijit.byId('State').set('value','');
		dijit.byId('City').set('placeHolder','Select');
		dijit.byId('City').set('value','');
		var cid = dijit.byId('Country').value;	
		fnGetCountryStateList(cid,"State");
	});

function fnGetStateCityList(StCity){ 
		if(StCity != "")
			{ var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+StCity,
						handleAs:'json',
						load:function(data){ 
							AutoFillNextEditableDropDown("StCity",data); 
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
		} 	
function fnGetStateCityListofUniversity(idState){ 
	if(idState != "")
		{ var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("City",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 			
function fnGetCountryStateList(idCountry,state){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown(state,data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetStaffList(IdStaff){ 
	if(IdStaff != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+IdStaff,
					handleAs:'json',
					load:function(data){ 
						dijit.byId('FromDate').set('value',data['JoiningDate']);
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function validateUniversityName( value, constraint )
{

var loginID = dijit.byId( "Univ_Name" );

var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;

if( "" == loginID.value ) {
    // for some required=true is not kicking in, so we are forcing it.
    bNoNameFound = false;
}
else {      
    if( false == loginID._focused ) {
        console.log( "Checking username..." );
        dojo.xhrGet({
            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/university/getuniversityname/UniversityName/"+value,
            handleAs: 'text',
            content: { l: value},
            timeout: 10000, 
            load: function( data ) {
                if ( data ) {
                    // setting the state to error since the username is already taken
                    bNoNameFound = false;
                    loginID.set( "state", "Error" );
                    loginID.displayMessage( "The University Name is already taken..." );
                    // used to change the style of the control to represent a error
                    loginID._setStateClass();
                    console.log( "Invalid username" ); 
                }
                else
                {
                    bNoNameFound = true;
                    loginID.set( "state", "" );
                    loginID.displayMessage( "" );
                }
            }
        });
    }
}

return bNoNameFound;
}


function validate(){	
	
	var flag=true;
	
	if(dijit.byId("ShortName").value==''){
		 dijit.byId("ShortName").focus();
	     dijit.byId("ShortName").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("Url").value==''){
		 dijit.byId("Url").focus();
	     dijit.byId("Url").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("Add1").value==''){
		 dijit.byId("Add1").focus();
	     dijit.byId("Add1").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("Country").value==''){
		 dijit.byId("Country").focus();
	     dijit.byId("Country").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("State").value==''){
		 dijit.byId("State").focus();
	     dijit.byId("State").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("Email").value==''){
		 dijit.byId("Email").focus();
	     dijit.byId("Email").set( "state", "Error" );
	     flag==false;
	}

	if(flag==true){		
		$('#myForm').submit();
	}else{
		alert('<?php echo $this->translate("Please fill in all required field(s)");?>');
	}
}

</script> 
</head>
<body class='claro'>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		   <li>
				<a href="#" onclick="validate();" >
					<span class='save'></span>
					<?php echo $this->translate("Save");?>
				</a>
			</li>	
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br></br>

 <fieldset>
    <legend><?php echo $this->translate("University Info");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("University Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("University Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Univ_Name;?>
                            	<?php echo $this->lobjuniversityForm->UpdDate;?>
                            	<?php echo $this->lobjuniversityForm->UpdUser;?></td>
                            <td><?php echo $this->translate($this->defaultlanguage);?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjuniversityForm->Univ_ArabicName;?></td>

                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Short Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->ShortName;?></td>
                              <td ><?php echo $this->translate("Url");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Url;?></td>
                        </tr>
                        <tr> 
                           
                             <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjuniversityForm->Active;?></td>
                           
                        </tr>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Address Details");?></th>
                        </tr>
                        <tr>
                 		<td><?php echo $this->translate("Address Type");?><span class="reqMark">*</span></td>
                        <td><?php echo $this->lobjuniversityForm->AddressType;?></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Add1;?></td>
                            <td ><?php echo $this->translate("Address 2");?></td>
                             <td ><?php echo $this->lobjuniversityForm->Add2;?>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Country;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->State;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->City;?></td>
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Zip;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Phone 1");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Phone1;?></td>
                            <td ><?php echo $this->translate("Phone 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Phone2;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjuniversityForm->Fax;?></td>
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Email;?></td>
                        </tr>
                        
                          
                        
                        <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Registrar).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Staff Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjuniversityForm->IdStaff;?></td>
                        	<td><?php echo $this->translate("Joining Date");?><span class="reqMark">*</span></td>
                        	<td><?php echo $this->lobjuniversityForm->FromDate;?></td>
                        </tr>
                        <?php if($this->Languageid == 1) {?>
                        <tr>
                            <td><?php echo $this->translate("Third Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->ThirdName;?></td>
							<td><?php echo $this->translate("Fourth Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FourthName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Full Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FullName;?></td>
							<td><?php echo $this->translate("Arabic Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->ArabicName;?></td>
                        </tr>
                   <?php }?>
                        
                      
              </table>
            
            </Form>

</fieldset>
</body>
</html>
