<script>
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
    $( "#dialog-address" ).dialog({
      modal: true,
      autoOpen: false,
      width: 650,
      buttons: {
        "Save": function() {
        
        	if($('#address_type').val() =='' || $('#country').val()=='' || $('#city').val()=='' || $('#state').val()=='' || $('#address1').val()=='' || $('#zipcode').val()=='' || $('#phone').val()==''){

                     alert('Please fill in all required fields.');
                     
             }else{

                 
	           $("#form1").attr('action', '/generalsetup/university/add-address');
	       	   $("#form1").submit();
	       	   $( this ).dialog( "close" );
             }
       	   
          },
		"Cancel": function() {
          if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
			{
				$( this ).dialog( "close" );
			}
        }
      }
    });

    $( "#dialog-edit-address" ).dialog({
        modal: true,
        autoOpen: false,
        width: 650,
        buttons: {
          "Save": function() {

        	  if($('#address_type').val() =='' || $('#country').val()=='' || $('#city').val()=='' || $('#state').val()=='' || $('#address1').val()=='' || $('#zipcode').val()=='' || $('#phone').val()==''){

                       alert('Please fill in all required fields.');
                       
               }else{
	  	           $("#form1").attr('action', '/generalsetup/university/edit-address');
	  	       	   $("#form1").submit();
	  	       	   $( this ).dialog( "close" );
               }         	   
            },
			"Cancel": function() {
           if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
			{
				$( this ).dialog( "close" );
			}
          }
        }
      });
	
});

function addAddress(){	
	$('#dialog-address').load("<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'university','action'=>'add-address','id'=>$this->id_univ),'default',true); ?>");
	$("#dialog-address" ).dialog('open');
}


function delAddress(){
	var id = $('input[name=add_id]:checked').val();

	if(!id){
		alert('Please select any address first');
	}else{
		if(confirm('Are you sure to delete this address?')){
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university', 'action'=>'delete-address','id'=>$this->id_univ),'default',true); ?>/add_id/"+id;
		}
	}
}

function editAddress(){
	var id = $('input[name=add_id]:checked').val();

	if(!id){
		alert('Please select any address first');
	}else{

		$('#dialog-edit-address').load("<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'university','action'=>'edit-address','id'=>$this->id_univ),'default',true); ?>/add_id/"+id);
		$('#dialog-edit-address').dialog('open');
	}
}
</script>


<div class="message toolbar">
	<div class="toolbar-button">
		<ul>
		 <li>
				<a href="#" onclick="javascript:addAddress()" >
					<span class='add'></span>
					<?php echo $this->translate("Add New");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:editAddress()" >
					<span class='edit'></span>
					<?php echo $this->translate("Edit");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:delAddress()" >
					<span class='delete'></span>
					<?php echo $this->translate("Delete");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
	
<br></br>
	
<table class="table" width="100%" id="address">
<thead>
	<tr>
	    <th>&nbsp;</th>
		<th><?php echo $this->translate("Type");?></th>
		<th><?php echo $this->translate("Address");?></th>
		<th><?php echo $this->translate("Country");?></th>
		<th><?php echo $this->translate("Email");?></th>
		<th><?php echo $this->translate("Phone");?></th>		
	</tr>
</thead>
<tbody>
<?php if(count($this->address_list)>0){
foreach($this->address_list as $add){
?>
	<tr>
	    <td class="center"><input type='radio' name='add_id' value='<?php echo $add["add_id"]?>'></td>
		<td><?php echo $add['addressType'];?></td>
		<td><?php echo $add['add_address1'].'<br>'. $add['add_address2'].'<br>'. $add['add_zipcode'].'<br>'. $add['StateName'];?></td>
		<td><?php echo $add['CountryName'];?></td>
		<td><?php echo $add['add_email'];?></td>
		<td><?php echo $add['add_phone'];?></td>		
	</tr>
<?php }} ?>
</tbody>
</table>
	
<div id="dialog-address" title="Add New Address">
</div>

<div id="dialog-edit-address" title="Edit Address">
</div>