<table class="table" width="100%" id="address">
<thead>
	<tr>	  
		<th><?php echo $this->translate("Type");?></th>
		<th><?php echo $this->translate("Address");?></th>
		<th><?php echo $this->translate("Country");?></th>
		<th><?php echo $this->translate("Email");?></th>
		<th><?php echo $this->translate("Phone");?></th>		
		<th><?php echo $this->translate("Change On");?></th>
		<th><?php echo $this->translate("Change By");?></th>
	</tr>
</thead>
<tbody>
<?php if(count($this->address_list)>0){
foreach($this->address_list as $add){
?>
	<tr>	   
		<td><?php echo $add['addressType'];?></td>
		<td><?php echo $add['addh_address1'].'<br>'. $add['addh_address2'].'<br>'. $add['addh_zipcode'].'<br>'. $add['StateName'];?></td>
		<td><?php echo $add['CountryName'];?></td>
		<td><?php echo $add['addh_email'];?></td>
		<td><?php echo $add['addh_phone'];?></td>	
		<td><?php echo date('d-m-Y',strtotime($add['addh_createddt']));?></td>
		<td><?php echo $add['changeby'];?></td>	
	</tr>
<?php }} ?>
</tbody>
</table>
	