<div class="clearfix">
     <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                    <h4>Calendar Event</h4>
                    <div class="filter-block">
                        <div class="row">
                           

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Title</label>
                                    <td><?php echo $this->form->title->setAttrib('class','form-control')  ?></td>
                                    
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <td> <?php echo $this->form->description->setAttrib('class','form-control')  ?></td>
                                    
                                </div>                                 
                            </div>
                        </div>
                         <div class="row">
                           

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <td><?php echo $this->form->date_start->setAttrib('class','form-control') ?></td>
                                    
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <td><?php echo $this->form->date_end->setAttrib('class','form-control') ?></td>
                                    
                                </div>                                 
                            </div>
                        </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                   
                    <input type="submit" class="btn btn-primary" value="Save">
                     <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Calendar', 'action'=>'index'),'default',true);?>';" />   
         
                      
                                    
                                    
                               
                          </form>
                          </div>                                 
                            </div>                             
                      
                    </div>


 <script type="text/javascript">
dojo.addOnLoad(function(){          
    dijit.byId("TemplateName").focus();
    dijit.byId('idDefinition').set('value','');
    dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
    var ScheduleName = dojo.byId("ScheduleName");
    
}
</script>


<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>


<style type="text/css">
    #accessperiod_wrap { margin-top:5px; }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
                validators: {
                    notEmpty: {
                        message: 'Title is required'
                    }
                }
            },
             visibility: {
                validators: {
                    notEmpty: {
                        message: 'Visibility is required'
                    }
                }
            },
          
        }
    });

    function getGroup() 
    {
        var course_id = $("#course_id").val();

        $.ajax({
            url: "/admin/calendar/get-event-group/",
            data: { 'course_id': course_id },
            type: 'POST',
            dataType: 'json',
            success: function (data) 
            {
                if (data.length > 0) 
                {
                    $("#group_id_div").empty();
                    var selection = "<select class='select_new uk-form-medium uk-width-medium' name='group_id[]' id='group_id' multiple='multiple'>";

                    $.each(data, function (index) 
                    {
                        selection += "<option value='" + data[index].group_id + "'>" + data[index].group_name + "</option>";
                    });

                    selection += "</select>";

                    $("#group_id_div").append(selection);
                    $(".select_new").select2({
                        placeholder: "All groups",
                        allowClear: true
                    });
                }
                else
                {
                    $("#group_id_div").html("<?php echo $this->translate('No group found') ?>");
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        autoOpen: false,
        changeMonth: true
    });

    $(".select_time").select2({
        placeholder: "Please select time",
        allowClear: true
    });

</script>
<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     

 <script>
         $(function() {
            $( "#date_start" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#date_end" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>
