   <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
  

    <div class="clearfix">
                    <h4>Calendar Event</h4>
                    <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>Event</label>
                                    <td><input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="form-control" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/></td>
                                    
                                </div>                                 
                            </div>
                            
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">

                            <input type="submit" value='Submit' class="btn btn-primary" >
                              <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'calendar', 'action'=>'new'),'default',true);?>';"/>
                                    <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>     
                                    

                                </div>
                            </div>                           
                        </div>
                    </div>
                    </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Description</th>
                                 <th>Date</th>
                                

                            </tr>
                        </thead>
                        <tbody>
    <?php if ( count($this->event) > 0 ) { ?>
    <?php foreach ( $this->event as $row ) { ?>
        <tr>
            <td>
                <?php echo $row['visibility'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Hidden"></span>':''?>

                <a <?php echo $row['visibility'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/calendar/edit/id/<?php echo $row['id']?>"><?php echo $this->escape($row['title']) ?></a>
            </td>
            <td><?php echo $this->escape($row['description']) ?></td>
            <td><?php echo textDate($row['date_start'], $row['date_end']) ?></td>
      
          
        </tr>
        </tbody>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No events found.')?></td>
        </tr>
    <?php } ?>
    
    
</table> 

<!-- 
<?php
//echo $this->paginationControl($this->event,'Elastic','/pagination.phtml');
?> -->

<?php 
function textDate($start_date, $end_date )
{
    $start_date = strtotime($start_date);  
    $end_date = strtotime($end_date);


    if ($end_date != '') {  
        $year1 = date('Y', $start_date);  
        $year2 = date('Y', $end_date);  
        $month1 = date('m', $start_date);  
        $month2 = date('m', $end_date);     

        if ($start_date < $end_date) {  
            if ($year1 != $year2) {  
                $holiday_date = date('F j, Y', $start_date) . ' to ' . date('F j, Y', $end_date);  
            }  
            else {  
                if ($month1 != $month2) {  
                          $holiday_date = date('F j', $start_date) . '&ndash;' . date('F j', $end_date) . ', '. date('Y', $end_date);  
                }  
                else {  
                          $holiday_date = date('j', $start_date) . '&ndash;' . date('j F', $end_date) . ', '. date('Y', $end_date);  
                }  
            }  
        }  
        else if ( $start_date == $end_date) {
             $holiday_date = date('j F, Y', $start_date);  
        }else {
                $holiday_date = 'Invalid date range.';  
        }  
    }  
    else {  
            $holiday_date = date('F j, Y', $start_date);  
    }    
    
    return $holiday_date;
}
?>