 
    <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="filter-block">

  


                    <h4>Email Template </h4>
                    <div class="clearfix">
                        <div class="row">
                          <hr>
                          <div>
                               
                            </div>
                            <hr>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template Name</label>
                                     <td><?php  echo $this->form->TemplateName;?></td>            
                               </div>                                
                            </div>

                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template From Description</label>
                                   <td><?php echo $this->form->TemplateFromDesc;?></td>             
                               </div>                                
                            </div>                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template From</label>
                                         <td><?php echo $this->form->TemplateFrom;?></td>            
                                </div>                                
                            </div>
                          
                                  <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template Subject</label>
                                  <td><?php echo $this->form->TemplateSubject;?></td>         
                               </div>                                
                            </div>                            
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">                    
                                    <label>Template Header </label>
                                   <td><?php echo $this->form->TemplateHeader;?></td>          
                                </div>                                
                             </div>                           
                                <div class="col-sm-6">
                                    <div class="form-group">                    
                                        <label>Template Footer </label>
                                            <td><?php echo $this->form->TemplateFooter;?></td>  
                                    </div>                                
                                </div>                            
                                </div>

                                 <div class="row">
                                <div class="col-sm-6">
                                <div class="form-group">                    
                                     <label>Active</label>                         
                                <td><?php echo $this->form->Deleteflag;?></td>          
                                </div>                                
                             </div>                           
                                <div class="col-sm-6">
                                    <div class="form-group">                    
                                         <label>Module Name</label>
                                           <td><?php echo $this->form->idDefinition;?></td>      
                                    </div>                                
                                </div>  
               <div class="uk-form-row">
        <label class="uk-form-label"><?php echo $this->translate('')?></label>
        <div class="uk-form-controls text">
              
                 <textarea id="temp_body" name="TemplateBody"><?php echo Cms_Options::getOption('TemplateBody')?><?php echo $this->TemplateBody;?></textarea>
                
            </textarea>
           
        </div>
    </div>
                   
</div>

                   <hr class="dark-diver">                                                  
                <div class="button-group">
                
            
                    <?php echo $this->form->Save;?>
                    <input type="button" class="btn btn-primary btn-lg" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'emailtemplate', 'action'=>'index'),'default',true);?>';" />    
             
                                                                                                                                       
         </div>
                                                             
   </form>

<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
 <script>
    $(function() {
        CKEDITOR.replace('temp_body',
            {
                removePlugins: 'resize,placementtest',
                toolbar: 'Basic',
                height: 300
            });
    });
</script>