    <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="filter-block">
                    <h4>Email Template Search</h4>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template Name</label>
                                    <td><?php echo $this->form->field3;?></td>             
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>From</label>
                                   <td><?php echo $this->form->field2;?></td>               
                               </div>                                
                            </div>                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Header</label>
                                 <td ><?php echo $this->form->field4;?></td>               
                               </div>                                
                            </div>
                          
                        <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Footer</label>
                                  <td><?php echo $this->form->field6;?></td>            
                               </div>                                
                            </div>                            
                        </div>

                            <div class = "form-group">
                                <label>Active</label>                         
                            <td ><?php echo $this->form->field7;?></td>
                        
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    
                   
                <?php echo $this->form->Search;?>
                <input type="button" class="btn btn-primary" label="<?php echo $this->translate("Add"); ?>" value=<?php echo $this->translate("Add")?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'emailtemplate', 'action'=>'newtemplate'),'default',true);?>';" />  
                <input name="Clear" type="reset" class="btn btn-primary"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>                   
        </td>

         </div>                    
                                                                                                                                   
             </div>  
             </div>
             </div>                                               

    </form>

    <div class="table-responsive">
                    <table class="table table-striped">
    <thead>
    <tr>
        <th><?php echo $this->translate("Template Name");?></th>
        <th><?php echo $this->translate('From');?></td>
      <!--   <th><?php echo $this->translate(' Type');?></td> -->
         
            
        <th><?php echo $this->translate('Header');?></td>
        <th><?php echo $this->translate('Footer');?></td>
        
        
        
    </tr>
  </thead>
    <tbody>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $emailTemplate ): ?>
    <tr>
        <td>
            <a href="<?php echo $this->baseUrl();?>/admin/emailtemplate/edittemplate/id/<?php echo $this->escape($emailTemplate['idTemplate']);?>" rel="lyteframe" 
                rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($emailTemplate['TemplateName']);?>
            </a>
        </td>
        <td ><?php echo $this->escape($emailTemplate['TemplateFrom']);?></td>
        <td><?php echo $this->escape($emailTemplate['TemplateHeader']);?></td>
        <td><?php echo $this->escape($emailTemplate['TemplateFooter']);?></td> 
         </tr>
         </tbody>   
        <?php endforeach; ?>
        <?php endif; ?>
   
</table> 
<div class="pagination opt">
    <?php echo $this->paginationControl($this->paginator,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>









