 
    <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="filter-block">
                    <h4>Email Template </h4>
                    <div class="clearfix">
                        <div class="row">
                         
                          <div>
                               
                            </div>
                            <hr>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template Name</label>
                                    <td><?php  echo $this->form->TemplateName;?></td>             
                               </div>                                
                            </div>

                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template From Description</label>
                                   <td ><?php echo $this->form->TemplateFromDesc;?></td>              
                               </div>                                
                            </div>                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template From</label>
                                        <td><?php echo $this->form->TemplateFrom;?></td>             
                                </div>                                
                            </div>
                          
                                  <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Template Subject</label>
                                  <td ><?php echo $this->form->TemplateSubject;?></td>          
                               </div>                                
                            </div>                            
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">                    
                                    <label>Template Header </label>
                                   <td ><?php echo $this->form->TemplateHeader;?></td>          
                                </div>                                
                             </div>                           
                                <div class="col-sm-6">
                                    <div class="form-group">                    
                                        <label>Template Footer </label>
                                            <td><?php  echo $this->form->TemplateFooter;?></td>        
                                    </div>                                
                                </div>                            
                    </div>

                           <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">                    
                                     <label>Active</label>                         
                                <td><?php echo $this->form->Deleteflag;?></td>          
                                </div>                                
                             </div>                           
                                <div class="col-sm-6">
                                    <div class="form-group">                    
                                         <label>Module Name</label>
                                           <td ><?php echo $this->form->idDefinition;?></td>        
                                    </div>                                
                                </div>  
                <div class="uk-form-row">
                 <label class="uk-form-label"><?php echo $this->translate('')?></label>
                 <div class="uk-form-controls text">
                 <textarea id="temp_body" name="TemplateBody"><?php echo Cms_Options::getOption('TemplateBody')?></textarea>
           
                          </div>
                        </div>                          
                   </div>
                                      
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    
                    <?php echo $this->form->Save;?>

                     <input name="Clear" type="reset" class="btn btn-primary btn-lg"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
                    <input type="button" class="btn btn-primary btn-lg"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'emailtemplate', 'action'=>'index'),'default',true);?>';" />    
        
      
                                                                                                                                
         </div>
         </div>                                                      
    </form>

<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  <script type="text/javascript">
dojo.addOnLoad(function(){			
	dijit.byId("TemplateName").focus();
	dijit.byId('idDefinition').set('value','');
	dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
} 
</script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/grapesjs-plugin-ckeditor@0.0.9/dist/grapesjs-plugin-ckeditor.min.js"></script> -->
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
   CKEDITOR.replace( 'temp_body', {

    filebrowserUploadUrl: "<?php echo APP_URL; ?>/admin/emailtemplate/uploadfile",
    
} );

CKEDITOR.on( 'dialogDefinition', function( ev ) {

   var dialogName = ev.data.name;
   var def = ev.data.definition;

   // if ( dialogName == 'image2' ) {                      
   //     def.removeContents('info'); // info tab remove
   //     def.getContents('upload').remove('uploadSubmit');
   // } 
 });


</script>

<script type="text/javascript">
   $(document).ready(function(){
        $('#cke_91_label').click(function(){
           
              // $file = $("#cke_109_fileInput_input").val();
              // alert($file)
                   //  $.ajax({
                   //  type:'post',
                   //  url:'<?php echo APP_URL;?>/admin/users/apporveuser',
                   // // dataType :'json',
                   //  data:{applicant_id:'$("#cke_109_fileInput_input").val()',
      
                   //       },
                   //  success:function(response){

                   //                              if(response == 1)
                   //                              {
                   //                                  alert('Applicant Approved ');
                   //                              }
                   //                              else if(response == 3)
                   //                              {
                   //                                  alert ('Approved but Some Error in sending email');
                   //                              }
                   //                              else
                   //                              {
                   //                                  alert(response);
                   //                              }

                   //                            },
                   //  error: function(e){
                   //                          console.log(e);
                   //                    }  
                   //  });
                

        });
      })
</script>
   <!--  <script type="text/javascript">

            CKEDITOR.replace( 'temp_body' );

        </script>
 -->
	