<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.print.css', 'print');
?>
<div class="dashhead">
    <div class="title-wrap">
        <div class="subtitle">Dashboard</div>
        <div class="title"><h1>Home</h1></div>
    </div>

</div>



<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <div class="events-note">
            <i class="uk-icon-calendar uk-text-danger"></i> You have no events today.
        </div>
        <div class="events-note">
            <i class="uk-icon-calendar uk-text-success"></i> You have no events this week
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box">
            Welcome back, <strong><?php echo Zend_Auth::getInstance()->getIdentity()->firstname ?></strong> <br> Role : 

            <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'lecturer' )
                    {
            ?>
            Trainer
            <?php } ?>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <div id="calendar"></div>
        </div>
    </div>
<!--     <div class="uk-width-medium-1-2">

        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">Users</h3>

            <ul class="uk-list">
                <li>Registered users: <strong><?php echo $this->totalusers ?></strong></li>
                <li>Total Online: <strong><?php echo $this->totalonline ?></strong></li>
                <li>Admin Online: <strong><?php echo $this->totalonlineadmin ?></strong></li>
            </ul>

        </div>
    </div>
    <div class="uk-width-medium-1-2">

        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">Courses</h3>

            <ul class="uk-list">
                <li>Active Courses: <strong><?php echo $this->totalactivecourses?></strong></li>
            </ul>

        </div>
    </div> -->

</div>

<script type="text/javascript">
$(document).ready(function() {

    $('#calendar').fullCalendar({
        header: {
            left: 'prev, today',
            center: 'title',
            right: 'next'
        },
        aspectRatio: 2,
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        events: {},
        dayClick: function(date, jsEvent, view) {

            alert('Clicked on: ' + date.format());

            // change the day's background color just for fun
            $(this).css('background-color', 'red');

        }
    });
});

</script>