<script>
$(function() {
	// Handler for .ready() called.
	var parent_id = '<?php echo $this->data["sm_parentid"] ?>';
	if(parent_id!=0){
		$('#sm_parentid').removeAttr('disabled');
	}else{
		$('#sm_parentid').attr('disabled', 'disabled');
	}
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->backURL;?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php 
	$this->form->setAction($this->url());
	echo  $this->form;
?>	
