<script type="text/javascript">

function downloadmenu(){

	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
		return false;
	}

	window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'download'));?>/id/"+id;
	
}
function move_up(){

	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
	}else{

		var url = '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'move-menu'));?>';
		var data_up = {'direction':'up', 'menu_id':id};
		
		$.ajax({
	  		type: "POST",
	  	  	url: url,
	  	  	data: data_up,
	  	  	dataType: 'text'
	  	})
	  	.done(function() { 		  
	    	reload_table();
	  	})
	  	.fail(function() { alert("error"); });
	}
	
	
}

function move_down(total){

	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
	}else{


		var url = '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'move-menu'));?>';
		var data_down = {'menu_id':id,'direction':'down','total':total};
		
		$.ajax({
	  		type: "POST",
	  	  	url: url,
	  	  	data: data_down,
	  	  	dataType: 'text'
	  	})
	  	.done(function() { 
	    	reload_table();
	  	})
	  	.fail(function() { alert("error"); });
	}
}


function reload_table(){

	$('#tbl_menu tbody').empty();
	
	var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'menu-ajax'),"default",true);?>";
	var data_table = {};
	
	$.ajax({
  		type: "POST",
  	  	url: url,
  	  	data: data_table,
  	  	dataType: 'json'
  	})
  	.done(function(data) {
  	  	var content = "";
    	$.each(data,function(index){
       	
    		content +=	'<tr id="'+data[index].tm_id+'" >';
    		content +=	'	<td align="center"><input type="radio" name="id" value="'+data[index].tm_id+'" /></td>';
    		content +=	'	<td align="center">'+data[index].tm_name+'</td>'; 
    		content +=	'	<td align="center">'+data[index].tm_desc+'</td>';
			content +=	'	<td align="center">'+data[index].tm_module+'::'+data[index].tm_controller+'::'+data[index].tm_action+'</td>';
    		content +=	'	<td align="center">'+data[index].tm_visibility+'</td>';    	
    		content +=	'	<td align="center">'+data[index].tm_seq_order+'</td>';
    		content +=	'</tr>';
  	  	});

    	$('#tbl_menu tbody').html(content);

  	})
  	.fail(function() { 
  	  	alert("error"); 
  	});
}

function add(){
	window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'add-menu'));?>";
}

function edit(){
	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
	}else{
		window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'edit-menu'));?>/id/"+id;
	}
}

function del(title, id){
	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
	}else{
		if(confirm('Are you sure to delete this menu ?')){
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'delete-menu')); ?>/id/"+id;
		}
	}
}
</script>

<style>
	tr.alt td{
		background-color: rgb(240, 240, 240);
	}
	
	tr.drag td{
		background: red;
	}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'upload'));?>">
					<span class='upload'></span>
					Upload
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:downloadmenu()">
					<span class='download'></span>
					Export
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:move_up()">
					<span class='move_up'></span>
					Move Up
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:move_down('<?php echo count($this->menuList)?>')">
					<span class='move_down'></span>
					Move Down
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
	<thead>
	<tr>
		<th width="25px">&nbsp;</th>
    	<th><?php echo $this->translate("Menu Name");?></th>
    	<th><?php echo $this->translate("Description");?></th>
    	<th><?php echo $this->translate("Visibility");?></th>
    	<th><?php echo $this->translate("Path");?></th>
        <th><?php echo $this->translate("Order");?></th>
    </tr>
    </thead>
    <tbody>
    <?php 
    if (count($this->menuList)): 
    	foreach ($this->menuList as $menu): 
    ?>
  		<tr id='<?php echo $menu['tm_id'];?>'>
  			<td align="center"><input type="radio" name="id" value="<?php echo $menu['tm_id'];?>" /></td>
        	<td>
        		<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'sidebar', 'menu_id'=>$menu['tm_id']),'default',true); ?>">
        			<?php echo $menu['tm_name'];?>
        		</a>
        	</td>
        	<td><?php echo $menu['tm_desc'];?></td>
        	<td><?php echo ($menu['tm_visibility']==1 ? 'Show':'Hide');?></td>
        	<td><?php echo $menu['tm_module'];?> :: <?php echo $menu['tm_controller'];?> :: <?php echo $menu['tm_action'];?></td>
        	<td align="center"><?php echo $menu['tm_seq_order'];?></td>
       	</tr>
	<?php 
		endforeach;
	endif; 
	?>
	</tbody>
</table>
	