<script type="text/javascript">

	
function move_up(){

	var id = $('input[name=id]:checked').val();

	
	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
	}else{

		var url = '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'move-menu'));?>';
		var data_up = {'direction':'s_up', 'sidebar_id':id};
		
		$.ajax({
	  		type: "POST",
	  	  	url: url,
	  	  	data: data_up,
	  	  	dataType: 'text'
	  	})
	  	.done(function() { 		  
	    	reload_table();
	  	})
	  	.fail(function() { alert("error"); });
	}
	
	
}

function move_down(total){

	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any menu first'); ?>');
	}else{


		var url = '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'move-menu'));?>';
		var data_down = {'sidebar_id':id,'direction':'s_down','total':total};
		
		$.ajax({
	  		type: "POST",
	  	  	url: url,
	  	  	data: data_down,
	  	  	dataType: 'text'
	  	})
	  	.done(function() { 
	    	reload_table();
	  	})
	  	.fail(function() { alert("error"); });
	}

	
}

function reload_table(){

	$('#tbl_sidebar tbody').empty();
	
	var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'sidebar-ajax'),"default",true);?>";
	var data_table = {'main_menu_id':'<?php echo $this->menu_id?>'};
	
	$.ajax({
  		type: "POST",
  	  	url: url,
  	  	data: data_table,
  	  	dataType: 'json'
  	})
  	.done(function(data) {

  	  	var content = "";
  	  	//console.log(data);
  	  	
    	$.each(data,function(index){
		        	
    		content +=	'<tr id="'+data[index].sm_id+'" style="background-color:#F2F5A9">';
    		content +=	'	<td align="center"><input type="radio" name="id" value="'+data[index].sm_id+'" /></td>';
    		content +=	'	<td><b>'+data[index].sm_name+'</b></td>'; 
    		content +=	'	<td align="center">'+data[index].sm_desc+'</td>'; 
			content +=	'	<td align="center">:: ::</td>';
    		content +=	'	<td align="center">'+data[index].sm_visibility+'</td>';    	
    		content +=	'	<td align="center">'+data[index].sm_seq_order+'</td>';
    		content +=	'</tr>';

    		$.each(data[index].child,function(indexx){
    			content +=	'<tr id="'+data[index].child[indexx].sm_id+'" >';
        		content +=	'	<td align="center"><input type="radio" name="id" value="'+data[index].child[indexx].sm_id+'" /></td>';
        		content +=	'	<td>&nbsp;&nbsp;&nbsp;'+data[index].child[indexx].sm_name+'</td>'; 
        		content +=	'	<td align="center">'+data[index].child[indexx].sm_desc+'</td>';
				content +=	'	<td align="center">'+data[index].child[indexx].sm_module+'::'+data[index].child[indexx].sm_controller+'::'+data[index].child[indexx].sm_controller+'</td>';
        		content +=	'	<td align="center">'+data[index].child[indexx].sm_visibility+'</td>';    	
        		content +=	'	<td align="center">'+data[index].child[indexx].sm_seq_order+'</td>';
        		content +=	'</tr>';
    		});
  	  	});

  	  	

    	$('#tbl_sidebar tbody').html(content);

  	})
  	.fail(function() { 
  	  	alert("error"); 
  	});
}

function add(){
	window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'add-sidebar', 'menu_id'=>$this->menu_id));?>";
}

function edit(){
	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any sidebar first'); ?>');
	}else{
		window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'edit-sidebar','menu_id'=>$this->menu_id));?>/id/"+id;
	}
}

function del(title, id){
	var id = $('input[name=id]:checked').val();

	if(!id){
		alert('<?php echo $this->translate('Please select any sidebar first'); ?>');
	}else{
		if(confirm('Are you sure to delete this sidebar ?')){
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'delete-sidebar')); ?>/id/"+id;
		}
	}
}
</script>

<style>
	tr.alt td{
		background-color: rgb(240, 240, 240);
	}
	
	tr.drag td{
		background: red;
	}
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:move_up()">
					<span class='move_up'></span>
					<?php echo $this->translate("Move Up");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:move_down('<?php echo count($this->sidebarList)?>')">
					<span class='move_down'></span>
					<?php echo $this->translate("Move Down");?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					<?php echo $this->translate("Edit");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					<?php echo $this->translate("Delete");?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu', 'action'=>'menu'),'default',true); ?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<fieldset>
	<table class="table5">		
		<tr>
			<th>Top Menu</th>
			<th>:</th>
			<td><?php echo $this->menu['tm_name']; ?></td>
		</tr>
	</table>
</fieldset>
<br />
<table id="tbl_sidebar" class="table" width="100%" cellpadding="5" cellspacing="1">
	<thead>
	<tr>
		<th width="25px">&nbsp;</th>
    	<th><?php echo $this->translate("Sidebar Name");?></th>
    	<th><?php echo $this->translate("Description");?></th>
    	<th><?php echo $this->translate("Path");?></th>
        <th><?php echo $this->translate("Visibility");?></th>
        <th><?php echo $this->translate("Sequence Order");?></th>
    </tr>
    </thead>
    <tbody>
    
    <?php 
    if (count($this->sidebarList)): 
    	foreach ($this->sidebarList as $sidebar): 
    ?>
  		<tr id="<?php echo $sidebar['sm_id']; ?>" style='background-color:#F2F5A9'>
  			<td align="center"><input type="radio" name="id" value="<?php echo $sidebar['sm_id'];?>" /></td>
        	<td><?php echo "<b>".$sidebar['sm_name']."</b>"; ?></td>
        	<td align="center"><?php echo $sidebar['sm_desc']; ?></td>
        	<td align="left"><?php echo $sidebar['sm_module']; ?> :: <?php echo $sidebar['sm_controller']; ?> :: <?php echo $sidebar['sm_action']; ?></td>
        	<td align="center"><?php echo $sidebar['sm_visibility']==1?"Show":"Hide";?></td>
        	<td align="center"><?php echo $sidebar['sm_seq_order'];?></td>        	
       	</tr>
       	
       	<?php foreach ($sidebar['child'] as $child){?>
       	
	       	<tr id="<?php echo $child['sm_id']; ?>" >
	  			<td align="center"><input type="radio" name="id" value="<?php echo $child['sm_id'];?>" /></td>
	        	<td><?php echo '&nbsp;&nbsp;&nbsp;'.$child['sm_name']; ?></td>
	        	<td align="center"><?php echo $child['sm_desc']; ?></td>
	        	<td align="left"><?php echo $child['sm_module']; ?> :: <?php echo $child['sm_controller']; ?> :: <?php echo $child['sm_action']; ?></td>
	        	<td align="center"><?php echo $child['sm_visibility']==1?"Show":"Hide";?></td>
	        	<td align="center"><?php echo $child['sm_seq_order'];?></td>        	
	       	</tr>
	       	
       	<?php } ?>
	<?php 
		endforeach;
	endif; 
	?>
	</tbody>
</table>
<br />	