<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'menu','action'=>'menu'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<fieldset>
	<legend><?php echo $this->translate('Upload File')?></legend>
	<form name="myForm" action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
		<dl class="zend_form">
			<dt><label for="file" class="required"><?php echo $this->translate('Select File')?></label></dt>
			<dd>
				<input type="file" name="file" id="file" value="" />
				<small><?php echo $this->translate('Only upload menu .ini file')?></small>
			</dd>

			<input class="btn-submit" type="submit" name="save" id="save" value="<?php echo $this->translate('Upload')?>" />
		</dl>
	</form>
</fieldset>

<script type="text/javascript">
function validateFunction()
{
	var val = $("#file").val();
	
	if ( val == '')
	{
		alert('<?php echo $this->translate('Please upload a file first')?>');
		return false;
	}

	return true;
}
</script>