<div id="quiz-block">    
    <?php
    $block_id      = $this->blockcontent['data_id'];
    $course_id     = $this->blockcontent['course_id'];
    $date_now      = new DateTime("now");
    $date_start    = new DateTime($this->blockcontent['date_start'] .' '. $this->blockcontent['time_start']);
    $date_end      = new DateTime($this->blockcontent['date_end'] .' '. $this->blockcontent['time_end']);
    $allow_attempt = false;
    $allow_resume  = false;
    $attempt_count = count($this->attempts);
    $attempt_limit = $this->blockcontent['multiattempt'];
    $error_1       = false;
    $error_2       = false;

    if ($date_start <= $date_now && $date_start <= $date_end):
        // kek malas nak reverse kan condition
    else:
        $error_1 = true;
    endif;

    if ($attempt_limit != 0 && $attempt_count >= $attempt_limit):
        $error_2 = true;
    endif;

    if (!$error_1 && !$error_2):
        $allow_attempt = true;
    endif;
    ?>

    <?php if ($error_1): ?>
        <div class="uk-alert uk-alert-danger"><?php echo $this->translate('This quiz closed'); ?></div>
    <?php elseif ($error_2): ?>
        <div class="uk-alert uk-alert-danger"><?php echo $this->translate('You have reached maximum number of attempts'); ?></div>
    <?php endif; ?>
    
    <h3 class="title"><?php echo $this->translate('Quiz Info'); ?></h3>

    <table class="uk-table uk-table-bordered">
        <tr>
            <th width="150em"><?php echo $this->translate('Date Start'); ?></th>
            <td><?php echo Cms_Date::date($this->blockcontent['date_start'] .' '. $this->blockcontent['time_start']) ?></td>
        </tr>
        <tr>
            <th width="150em"><?php echo $this->translate('Date End'); ?></th>
            <td><?php echo Cms_Date::date($this->blockcontent['date_end'] .' '. $this->blockcontent['time_end']) ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Total Question'); ?></th>
            <td><?php echo $this->countquestion ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Total Mark'); ?></th>
            <td><?php echo $this->gettmark ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Attempt Limit'); ?></th>
            <td>
                <?php echo (!$attempt_limit ? $this->translate('Unlimited') : $attempt_limit); ?>
            </td>
        </tr>
    </table>

    <?php if ($attempt_count): ?>
        <?php $attempt_id = $this->getuserAttempt['id']; ?>
        <h3 class="title"><?php echo $this->translate('Latest Attempt'); ?></h3>

        <table class="uk-table uk-table-bordered">
            <tr>
                <th width="150em"><?php echo $this->translate('Date Attempt'); ?></th>
                <td><?php echo Cms_Date::date($this->getuserAttempt['date_attempt']) ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Status'); ?></th>
                <td>
                    <?php echo (!$this->getuserAttempt['status'] ? $this->translate('Incomplete') : $this->translate('Completed')); ?>
                </td>
            </tr>
            <?php if($this->getuserAttempt['status']): ?>
                <tr>
                    <th><?php echo $this->translate('Time Taken'); ?></th>
                    <td><?php
                        //$rem = strtotime($due_date) - time();
                        $datestart = date($this->getuserAttempt['date_attempt']);
                        $dateend = date($this->getuserAttempt['date_completed']);
                        //$rem = strtotime('2016-06-14 15:00:00') - strtotime('2016-06-14 14:00:00');
                        $rem = strtotime($dateend) - strtotime($datestart);
                        $day = floor($rem / 86400);
                        $hr  = floor(($rem % 86400) / 3600);
                        $min = floor(($rem % 3600) / 60);
                        $sec = ($rem % 60);
                        if($day) echo "$day Days ";
                        if($hr) echo "$hr Hours ";
                        if($min) echo "$min Minutes ";
                        if($sec) echo "$sec Seconds ";
                        //echo "Remaining"; ?>
                    </td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Completed on'); ?></th>
                    <td><?php echo Cms_Date::date($this->getuserAttempt['date_completed']) ?></td>
                </tr>
                
                <tr>
                    <th><?php echo $this->translate('Marks'); ?></th>
                    <td><?php echo $this->getuserAttempt['total_mark']?>.00 / <?php echo $this->gettmark ?>.00</td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Grade'); ?></th>
                    <?php $point = $this->getuserAttempt['total_correct']/$this->countquestion * $this->getpointsum  ?>
                    <td><?php echo round($point) ?>.00 out of <?php echo $this->getpointsum ?>.00 (<?php $percent = $this->getuserAttempt['total_correct']/$this->countquestion * 100 ?><?php echo round($percent) ?> %)</td>
                </tr>
            <?php endif; ?>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <?php if (!$this->getuserAttempt['status'] && !$error_1): ?>
                        <?php
                        $allow_resume  = true;
                        $allow_attempt = false;
                        ?>
                        <a href="<?php echo $this->baseUrl() ."/admin/quiz/attemptquiz/bid/$block_id/cid/$course_id/atid/$attempt_id"; ?>" class="uk-button uk-button-primary">
                            <?php echo $this->translate('Resume Quiz'); ?>
                        </a>
                    <?php elseif ($this->getuserAttempt['status']): ?>
                        <a href="/admin/quiz/resultquiz/atid/<?php echo $this->getuserAttempt['id']?>" class="uk-button">
                            Review
                        </a>
                    <?php endif; ?>

                    <a href="<?php echo $this->baseUrl(); ?>/admin/quiz/sumpreattemptquiz/bid/<?php echo $this->blockcontent['data_id']; ?>" class="uk-button">
                        <?php echo $this->translate('View All Attempts'); ?>
                    </a>
                </td>
            </tr>
        </table>
    <?php endif; ?>

    <br />

    <center>
        <?php if ($allow_attempt): ?>
            <a href="<?php echo $this->baseUrl(); ?>/admin/quiz/createattquiz/bid/<?php echo $this->blockcontent['data_id']?>/cid/<?php echo $this->course['id']; ?>" class="uk-button uk-button-primary">
                <?php echo (!count($this->attempts) ? $this->translate('Attempt Quiz') : $this->translate('Re-Attempt Quiz')) ?>
            </a>
        <?php endif; ?>
        &nbsp; 
        <a href="<?php echo $this->baseUrl(); ?>/courses/<?php echo $this->course['code_safe']; ?>/learn" class="uk-button">
            <?php echo $this->translate('Back to Course'); ?>
        </a>
    </center>
</div>