<div id="assignmnet-block">
    <?php
    $allow_change = true;
    $due_start    = $this->blockcontent['date_start'].' '.$this->blockcontent['time_start'];
    $due_date     = $this->blockcontent['date_end'].' '.$this->blockcontent['time_end'];
    $remc         = strtotime($due_date) - time();
    $dayc         = floor($remc / 86400); 
    $hrc          = floor(($remc % 86400) / 3600);
    $minc         = floor(($remc % 3600) / 60);
    $dayplus      = '+'.$dayc.'days'.' '.$hrc.'hours'.' '.$minc.'minutes';
    $day_limit    = date('Y-m-d h:i:s', strtotime($dayplus));

    if(strtotime($due_date) <= strtotime($day_limit)):
        $allow_change = false;
    endif;
    ?>

    <h3 class="title"><b><?php echo $this->translate('Submission Status'); ?></b></h3>

    <?php if ($allow_change): ?>
        <table class="uk-table uk-table-bordered uk-table-hover">
            <tr>
                <th width="150em"><?php echo $this->translate('Submission status'); ?></th>
                 <td> <?php //pr($this->assignment); ?>
                    <?php if ( $this->assignment['status'] == 0 ) { ?>
                        <?php echo $this->translate('No attempt');?>
                    <?php } elseif ($this->assignment['status'] == 1 ) {?>
                        <?php echo $this->translate('Submitted for grading');?>
                     <?php } elseif ($this->assignment['status'] == 2 ) {?>
                        <?php echo $this->translate('Graded');?>
                    <?php } ?>
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Grading status'); ?></th>
                <td>
                    <?php if ( $this->assignment['status'] == 0 ) { ?>
                        <?php echo $this->translate('Not graded');?>
                    <?php } elseif ($this->assignment['status'] == 1 ) {?>
                        <?php echo $this->translate('Not Graded');?>
                     <?php } elseif ($this->assignment['status'] == 2 ) {?>
                        <?php echo $this->translate('Graded');?>
                    <?php } ?>
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Start Date'); ?></th>
                <td>
                     <?php echo $due_start; ?>
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Due Date'); ?></th>
                <td>
                     <?php echo $due_date; ?>
                </td>
            </tr>
            <?php if ( $this->assignment['data_id'] != '' ): ?>
                <tr>
                    <th><?php echo $this->translate('Files'); ?></th>
                    <td>
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <?php foreach ( $this->getasgmtdata as $file ): ?>
                                    <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" class="uk-icon-hover uk-icon-file-o"></a>
                                    <a target="_blank" href="<?php echo Cms_System_Links::dataFileUrl($file['file_url'])?>" onclick="linkModal">  <?php echo $file['file_name'] ?></a>
                                    (<?php echo Cms_Common::formatFilesize($file['file_size'])?>)
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <th><?php echo $this->translate('Time Remaining'); ?></th>
                <td><?php
                    //$rem = strtotime('2016-04-21 14:00:00') - time();
                    $rem = strtotime($due_date) - time();
                    $day = floor($rem / 86400);
                    $hr  = floor(($rem % 86400) / 3600);
                    $min = floor(($rem % 3600) / 60);
                    $sec = ($rem % 60);
                    if($day) echo "$day Days ";
                    if($hr) echo "$hr Hours ";
                    if($min) echo "$min Minutes ";
                    if($sec) echo "$sec Seconds ";
                    echo "Remaining"; ?>
                </td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Last Modified'); ?></th>
                <td><?php echo $this->assignment['modified_date'] ?></td>
            </tr>
        </table>
        <?php if ( $this->assignment['parent_id'] != $this->blockcontent['data_id']): ?>
            <div align='center'>
            <button class="uk-button uk-button-success"  data-uk-modal="{target:'#block-modal'}"> <i class="uk-margin-small-right uk-icon-file"></i> Add Submission</button></div>
              <?php elseif ($this->assignment['parent_id'] == $this->blockcontent['data_id'] ): ?>
              <div align='center'> <button class="uk-button uk-button-success"  data-uk-modal="{target:'#block-modal'}"> <i class="uk-margin-small-right uk-icon-file"></i> Edit Submission</button></div>
              <p>
            <div align='center'>
            Make changes to your submission
           </div>
        <?php endif; ?>
    <?php elseif (!$allow_change): ?>
        <table class="uk-table uk-table-bordered uk-table-hover">
            <tr>
                <center><th width="150em"><?php echo $this->translate('Submission End'); ?></th></center>
            </tr>
        </table>
    <?php endif; ?>
<!--grading feedback-->

    <?php if ( $this->assignment['status'] == 2) { ?>
        <h3 class="title"><b><?php echo $this->translate('Feedback'); ?></b></h3 class="title">
        <table class="uk-table uk-table-bordered uk-table-hover">
                    <tr>
                        <th width="150em"><?php echo $this->translate('Feedback'); ?></th>
                         <td><?php echo $this->assignment['feedback']?><td>
                        </td>
                    </tr>
                    <tr>
                        <th width="150em"><?php echo $this->translate('Grade'); ?></th>
                         <td><?php echo $this->assignment['grade']?><?php echo $this->translate('/');?><?php echo $this->blockcontent['gradepoint']?>
                        </td>
                    </tr>
                    <tr>
                        <th width="150em"><?php echo $this->translate('Grade On'); ?></th>
                         <td> <?php echo $this->assignment['grade_on']?>
                        </td>
                    </tr>
                    <tr>
                        <th width="150em"><?php echo $this->translate('Grade by'); ?></th>
                         <td> <?php echo $this->fullname?>
                        </td>
                    </tr>
        </table>
    <?php } ?>
</div>