<?php
$auth = Zend_auth::getInstance()->getIdentity();


?>
<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
  $fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;
  $onlineDb = new App_Model_UserOnline();
  $onlineusers = $onlineDb->getOnline();
  $totalonlineusers = $onlineDb->getOnlineInt();

  $user = new App_Model_User();
  $getsalutation = $user->getsalutation($auth->getIdentity()->id);

}
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIIF</title>

    

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap2.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main2.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap4.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl()?>/css/main9.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap9.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl()?>/css/bootstrap10.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main10.css" rel="stylesheet">
      <!-- Custom styles for this template -->

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main4.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
   <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.js"></script>
         <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    

</head>

<body> 
  <?php if($auth->getIdentity()->role == 'administrator'):?>
<div class="container-fluid bg-wrapper">
    <div class="row">
        <div class="col-sm-4 col-md-3">
         <div class="side-bar">
          <div class="brand-logo-dashboard">
              <a href="#"><img src="<?php echo $this->baseUrl()?>/img/ciif_logo.svg" alt="" /></a>
          </div>  
          <ul class="sidebar-nav">
                 
          </ul>
          <ul id="sidebar" class="sidebar-nav">
              <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/users/" class="active"><i class="icon i-dashboard"></i>Dashboard</a>
              </li>

             
             <?php $menudb =new App_Model_Menu();
                    $listmenu = $menudb->get_menu($auth->getIdentity()->role_id);
                    // echo "<pre>";
                    // print_r($listmenu);
                    // die();
                    ?>
                <?php foreach($listmenu as $menu):?>
              <li class="btn-group">
                
                  <a href="#"><i class="icon i-membership"></i><?php echo $menu['menu'];?></a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>

                  <ul class="subnav">
                    <?php $submenuDb = new App_Model_SubMenu();
                    $listsubmenu = $submenuDb->get_menu($auth->getIdentity()->role_id,$menu['id']);?>
                     <?php foreach($listsubmenu as $submenu):?>
                      <li>
                  <a href="<?php echo $this->baseUrl()?><?php echo $submenu['link_id'];?>" ><?php echo $submenu['sub_menu'];?><i class="icon i-membership"></i></a>

              </li> 
              
            <?php endforeach;?>
              
                  </ul>
              </li>
            <?php endforeach;?>

             
          </ul>

                        
         </div>          
        </div>
        <div class="col-sm-8 col-md-9">
           <div class="page-container">
                <div class="page-top">
                   <div class="user-information">
                       <div class="user-pic">
                           <img src="img/user_profile.svg" alt="" />
                       </div>
                       <h4>Hello, <?php echo $getsalutation['DefinitionDesc'].' '.$fullname?></h4>
                       
                   </div>
                    <div class="clearfix">
                        
                <div  class="navbar-text pull-right"><a href="#" class="navbar-link" class="dropdown-toggle" data-toggle="dropdown"><?php echo $fullname; ?> <span class="caret"></span></a>
                <ul class="dropdown-menu m-l-30" >
                   <!--  <li><a href="/dashboard" >View Site</a></li> -->
                    <li><a href="/user/profile">Edit Profile</a></li>
                    <li><a href="/user/password">Change Password</a></li>
                    <li><a href="<?php echo $this->baseUrl() ?>/logout">Logout</a>
                    <?php $usernav = ob_get_contents();
                    ob_end_clean(); 
                    echo $usernav; ?></li>
                  </ul>                
                </div>
            </div>
                    </div>
                </div> 

               <?php
      Cms_Common::displayFlash();
      ?>

      <?php echo $this->layout()->content; ?>
           </div>                  
        </div>
    </div>
</div>  
<?php else:?>
<div class="container-fluid bg-wrapper">
    <div class="row">
        <div class="col-sm-4 col-md-3">
         <div class="side-bar">
          <div class="brand-logo-dashboard">
              <a href="#"><img src="<?php echo $this->baseUrl()?>/img/ciif_logo.svg" alt="" /></a>
          </div>  
          
          <ul class="sidebar-nav">
              <li>
                  <a href="#" class="active"><i class="icon i-dashboard"></i>Dashboard</a>
              </li>
               
          </ul>
          
          <div class="upcoming-events">
              <h4>Upcoming Events</h4>
                <ul class="upcoming-event-list">
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>                                                      
                </ul>
          </div>
                        
         </div>          
        </div>
        <div class="col-sm-8 col-md-9">
           <div class="page-container">
                <div class="page-top">
                   <div class="user-information">
                       <div class="user-pic">
                           <img src="img/user_profile.svg" alt="" />
                       </div>
                       <h4>Hello, <?php echo $fullname?></h4>
                       
                   </div>
                    <div class="clearfix">
                        <ul class="top-right-nav">
                            
                            <li><a href="#" class="notification">Notifications</a></li>
                            <li><a href="<?php echo $this->baseUrl()?>/logout" class="settings">Logout</a></li>
                        </ul>
                    </div>
                </div> 

               <?php
      Cms_Common::displayFlash();
      ?>

      <?php echo $this->layout()->content; ?>
           </div>                  
        </div>
    </div>
</div>


  <?php endif;?>

  <?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
  $fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;

  // for chat
  $onlineDb = new App_Model_UserOnline();
  $onlineusers = $onlineDb->getOnline();
  $totalonlineusers = $onlineDb->getOnlineInt();
}
?>
</body>

   


</html>
