<?php
// $photo=Zend_auth::getInstance()->getIdentity()->photo == '' ? APP_URL.'/images/assets/user2.png' : DOCUMENT_URL.Zend_auth::getInstance()->getIdentity()->photo;
$auth = Zend_auth::getInstance()->getIdentity();

// add checking for graduation link
// $userData = array();
// $gradDb = new App_Model_Invitation();
// if ($auth->external_id)
// {
//     $userData = $gradDb->getGraduateInfo($auth->external_id);
// }
?>
<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
	$fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;
$user = new App_Model_User();
  $getsalutation = $user->getsalutation($auth->getIdentity()->id);


	// for chat
	$onlineDb = new App_Model_UserOnline();
	$onlineusers = $onlineDb->getOnline();
	$totalonlineusers = $onlineDb->getOnlineInt();
}else{
  $url ="$this->url(array('module'=>'admin','controller'=>'Member', 'action'=>'add'),'default',true)";
  echo ("<script>location.href='$url'</script>");
}
$MembershipDB = new App_Model_Membership_Membership();
        $get_member = $MembershipDB->get_member($auth->getIdentity()->id);
    
?>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIIF</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap2.min.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap7.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main2.css" rel="stylesheet">
        <link href="<?php echo $this->baseUrl()?>/css/main7.css" rel="stylesheet">

        <link href="<?php echo $this->baseUrl()?>/css/bootstrap3.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main3.css" rel="stylesheet">
      <!-- Custom styles for this template -->
     <link href="<?php echo $this->baseUrl()?>/css/bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main4.css" rel="stylesheet">
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel='stylesheet' href='<?php echo $this->baseUrl()?>/css/fullcalendar.css' />

    
</head>

<body> 
<div class="container-fluid bg-wrapper">
    <div class="row">
        <div class="col-sm-4 col-md-3">
         <div  id='sidebar' class="side-bar">
          <div class="brand-logo-dashboard">
              <a href="#"><img src="<?php echo $this->baseUrl()?>/img/ciif_logo.svg" alt="" /></a>
          </div>  
       <!--   <?php //if():?> -->

          <ul class="sidebar-nav">
            <?php if($auth->getIdentity()->payment_status == 0 || date('Y-m-d', strtotime($get_member['mr_expiry_date'])) < date('Y-m-d')

            ):?>
            <?php echo $get_member['mr_status'];
                 $dat= date('Y-m-d', strtotime($get_member['mr_expiry_date']));
                  $pay = $auth->getIdentity()->payment_status; 

                  // echo "<pre>";
                  // print_r($get_member);
                  // echo $get_member['mr_expiry_date'];
                  // echo $get_member['mr_status'];
                  // echo $dat;
                  // echo $pay;
                 ?>


                  

              
              <?php else:?>
              <li>
                  <a href="<?php echo $this->baseUrl()?>/user/dashboard" class=""><i class="icon i-dashboard"></i>Dashboard</a>
              </li>
           
              <li>
                  <a href="<?php echo $this->baseUrl()?>/membership" class=""><i class="icon i-membership"></i>Membership</a>
              </li> 
              <li>
                  <a href="<?php echo $this->baseUrl()?>/qualification"><i class="icon i-qualification"></i>Qualification</a>
              </li> 

                <li>
                  <a href="<?php echo $this->baseUrl()?>/user/purchase-history"><i class="icon i-qualification"></i>Account Statement</a>
              </li> 
              <li>
                  <a href="<?php echo $this->baseUrl()?>/user/calendar"><i class="icon i-qualification"></i>Calender</a>
              </li> 
               <!-- <li>
                  <a href="<?php echo $this->baseUrl()?>/user/cpd"><i class="icon i-qualification"></i>CPD</a>
              </li>  -->
              

            <?php endif;?>
                                    
          </ul>
       
                        
         </div>          
        </div>
        <div class="col-sm-8 col-md-9">
           <div class="page-container">
                <div class="page-top">
                   <div class="user-information">
                       <div class="user-pic">
                           <img src="img/user_profile.svg" alt="" />
                       </div>
                       <h4>Hello, <?php echo $getsalutation['DefinitionDesc'].' '.$fullname?></h4>
                       
                   </div>
                   <?php  $userDb = new App_Model_User();

        $user = $userDb->getUser($auth->getIdentity()->id);
       ?>

                     <div class="clearfix">
                        <ul style="padding-left:70%;display: flex;">
                      <?php if($user['estatus'] == 591):?>
                            <li style="margin:20px;"><a href="<?php echo $this->baseUrl()?>/user/profile" >Edit Profile</a></li>
                         <?php endif;?>
                         <li  style="margin:20px;"><a href="<?php echo $this->baseUrl()?>/user/password" class="settings">Change Password</a></li>
                            <li  style="margin:20px;"><a href="<?php echo $this->baseUrl()?>/logout" class="settings">Logout</a></li>
                        </ul>
                    </div>
                </div> 
                 <?php
                 Cms_Hooks::hook('breadcrumbs');
                Cms_Common::displayFlash();
                ?>  
           

      <?php echo $this->layout()->content; ?>              
        </div>
    </div>
</div>  

<script src="<?php echo $this->baseUrl()?>/js/moment.js" ></script>
<script src="<?php echo $this->baseUrl()?>/js/fullcalendar.js" ></script> <script src="<?php echo $this->baseUrl()?>/js/jquery-ui.min.js" ></script>
  <script src="<?php echo $this->baseUrl()?>/js/jquery.min.js" ></script>
</body>

</html>
