


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIIF</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap2.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main2.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap4.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl()?>/css/main9.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap9.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl()?>/css/bootstrap10.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main10.css" rel="stylesheet">
      <!-- Custom styles for this template -->

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main4.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
   <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.js"></script>
         <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    

</head>

<body> 
  
<div class="container-fluid bg-wrapper">
    <div class="row">
        <div class="col-sm-4 col-md-3">
               <div class="brand-logo-dashboard">
              <a href="#"><img src="<?php echo $this->baseUrl()?>/img/ciif_logo.svg" alt="" /></a>
          </div>      
        </div>
        <div class="col-sm-8 col-md-9">
        	<div class="page-container">
           <div class="page-top">
                   <div class="user-information">
                       <div class="user-pic">
                           <img src="img/user_profile.svg" alt="" />
                       </div>
                      
                       
                   </div>
                   

                     <div class="clearfix">
                        <ul style="padding-left:70%;display: flex;">
                      
                            <li  style="margin:20px;"><a href="<?php echo $this->baseUrl()?>/login" class="settings">Login</a></li>
                        </ul>
                    </div>
                </div> 

               <?php
      Cms_Common::displayFlash();
      ?>

      <?php echo $this->layout()->content; ?>
           </div>                  
        </div>
    </div>
</div>  


  <?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
  $fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;

  // for chat
  $onlineDb = new App_Model_UserOnline();
  $onlineusers = $onlineDb->getOnline();
  $totalonlineusers = $onlineDb->getOnlineInt();
}
?>
</body>

   


</html>
