<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
	$fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;
}
?>
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php echo $this->headMeta(); ?>
	<?php echo $this->headTitle(); ?>
	<link rel="shortcut icon" href="<?php echo $this->baseUrl()?>/images/favicon.ico" type="image/x-icon" />


	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/uikit.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/style.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/pages/admin.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/font/line/line.css">
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/css/assets/animate.min.css">

	<link href="<?php echo $this->baseUrl()?>/font/entypo/entypo.css" media="screen" rel="stylesheet" type="text/css" />
	<!-- <link href="<?php echo $this->baseUrl()?>/font/awesome/font-awesome.css" media="screen" rel="stylesheet" type="text/css" /> -->

	<script src="<?php echo $this->baseUrl()?>/js/modernizr.js"></script>

	<?php
	//////////////////////// JQUERY ////////////////////////
	$this->jQuery()->enable();
	$this->jQuery()->useCdn(false);
	$this->jQuery()->setVersion('1.11.1');
	$this->jQuery()->setLocalPath($this->baseUrl().'/js/plugins/jquery/jquery-1.11.0.min.js');

	$this->jQuery()->uiEnable();
	$this->jQuery()->setUiVersion('1.12');
	$this->jQuery()->useUiCdn(false);
	$this->jQuery()->addStylesheet($this->baseUrl().'/js/plugins/jquery-ui/jquery-ui.min.css');
	$this->jQuery()->setUiLocalPath($this->baseUrl().'/js/plugins/jquery-ui/jquery-ui.min.js');

	//////////////////////// END JQUERY ////////////////////////

	echo $this->headLink();
	echo $this->jQuery();
	?>
	<script src="<?php echo $this->baseUrl()?>/js/global.js"></script>
	<script src="<?php echo $this->baseUrl()?>/js/admin.js"></script>
	<script src="<?php echo $this->baseUrl()?>/js/uikit.min.js"></script>
	<script src="<?php echo $this->baseUrl()?>/js/plugins/moment/moment.min.js"></script>
	<script src="<?php echo $this->baseUrl()?>/js/components/tooltip.min.js"></script>
	<script src="<?php echo $this->baseUrl()?>/js/components/notify.min.js"></script>

	<!-- temp just to test functionality before downloading the source -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />

	<script src="<?php echo $this->baseUrl()?>/js/plugins/table/tablesaw.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/table/tablesaw.css">

	<script src="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.css">

	<script src="<?php echo $this->baseUrl()?>/js/plugins/alertify/alertify.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/alertify/alertify.css">

	<script src="<?php echo $this->baseUrl()?>/js/plugins/filer/jquery.filer.min.js"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/js/plugins/filer/css/jquery.filer.css">
	<?php
	echo $this->headScript();
	?>
</head>
<body class="fixed">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preload"><div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div></div>
<header class="site-navbar uk-navbar uk-navbar-attached" >
	<div class="container">

		<a class="uk-navbar-brand uk-hidden-small logo admin" href="<?php echo $this->baseUrl()?>/admin/"><img class="uk-margin uk-margin-remove" src="<?php echo $this->baseUrl()?>/images/IBFIM-logo.png" alt="IBFIM"> Manager LMS</a>

		<div class="uk-navbar-flip">

			<ul class="uk-navbar-nav  ">

				<li class="user uk-parent" data-uk-dropdown>
					<a class="link"><img src="<?php echo Cms_Common::getUserPhoto()?>" class="uk-border-circle avatar"> <?php echo $fullname ?></a>

					<div class="uk-dropdown uk-dropdown-navbar carat">
						<ul class="uk-nav uk-nav-navbar">
							<?php  ob_start(); ?>
							<li><a href="/">View Site</a></li>
							<li><a href="#">Edit Profile</a></li>
							<li><a href="#">Change Password</a></li>
							<li><a href="<?php echo $this->baseUrl() ?>/logout">Logout</a></li>
							<?php $usernav = ob_get_contents();
							ob_end_clean(); echo $usernav; ?>
						</ul>
					</div>

				</li>
			</ul>
		</div>

		<a href="#" onclick="$('.admin-sidebar').toggle(); return false;" class="uk-navbar-toggle uk-visible-small"></a>

		<div class="uk-visible-small ">
			<a class="uk-navbar-brand logo small" href="<?php echo $this->baseUrl()?>/admin/" ><img class="uk-margin uk-margin-remove" src="<?php echo $this->baseUrl()?>/images/IBFIM-logo.png" alt="IBFIM"> Manager LMS</a>
		</div>

	</div>
</header>

<!-- container -->
<div class="admin-container" id="main">
	<div class="uk-grid uk-grid-small">
		<div class="admin-sidebar uk-width-medium-2-10 ">
			<ul class="uk-nav" data-uk-nav>
				<li class="<?php Cms_Common::navactive('dashboard')?>"><a href="<?php echo $this->baseUrl()?>/admin/manager"><i class="icon line-speedometer"></i> <?php echo $this->translate('Dashboard')?></a></li>
				<li class="uk-parent <?php Cms_Common::navactive('courses')?>"><a href="#"><i class="icon line-book-open"></i> <?php echo $this->translate('Courses')?></a>
					<ul class="uk-nav-sub ">
						<li><a href="<?php echo $this->baseUrl()?>/admin/courses"><?php echo $this->translate('Course List')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/coursecategory"><?php echo $this->translate('Course Categories')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/curriculum"><?php echo $this->translate('Curriculum')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/groups"><?php echo $this->translate('Groups')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/report"><?php echo $this->translate('Tracking')?></a></li>
					</ul>
				</li>
				<!--li class="uk-parent <?php Cms_Common::navactive('settings')?>"><a href="#"><i class="icon line-settings"></i> <?php echo $this->translate('Settings')?></a>
					<ul class="uk-nav-sub ">
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/general"><?php echo $this->translate('General')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/catalog"><?php echo $this->translate('Catalog')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/languages"><?php echo $this->translate('Languages')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/permissions"><?php echo $this->translate('Permissions')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/appearance"><?php echo $this->translate('Appearance')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/privacy"><?php echo $this->translate('Privacy')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/social"><?php echo $this->translate('Social')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/"><?php echo $this->translate('Server')?></a></li>
						<li><a href="<?php echo $this->baseUrl()?>/admin/settings/maintenance"><?php echo $this->translate('Maintenance')?></a></li>
					</ul>
				</li-->
				<!--<li class="<?php Cms_Common::navactive('batch')?>"><a href="#"><i class="icon line-graduation"></i> <?php echo $this->translate('Batch')?></a></li>-->
				<li class="<?php Cms_Common::navactive('calendar')?>"><a href="<?php echo $this->baseUrl()?>/admin/calendar"><i class="icon line-calendar"></i> <?php echo $this->translate('Calendar')?></a></li>
				<li class="<?php Cms_Common::navactive('forum')?>"><a href="<?php echo $this->baseUrl()?>/admin/forum"><i class="icon uk-icon-commenting-o"></i> <?php echo $this->translate('Forum')?></a></li>
				<li class="<?php Cms_Common::navactive('chat')?>"><a href="<?php echo $this->baseUrl()?>/admin/chat"><i class="icon uk-icon-wechat"></i> <?php echo $this->translate('Chat')?></a></li>
				<li class="<?php Cms_Common::navactive('announcements')?>"><a href="<?php echo $this->baseUrl()?>/admin/announcements"><i class="icon uk-icon-bell-o"></i> <?php echo $this->translate('Announcements')?></a></li>
				<li class="<?php Cms_Common::navactive('wiki')?>"><a href="<?php echo $this->baseUrl()?>/admin/wiki"><i class="icon uk-icon-wikipedia-w"></i> <?php echo $this->translate('Wiki')?></a></li>


			</ul>
		</div>
		<div class="admin-content uk-width-medium-8-10 uk-margin-large-bottom">
			<!--content -->

			<?php
			Cms_Common::displayFlash();
			?>

			<?php echo $this->layout()->content; ?>

			<!-- /content -->
		</div>
	</div>
</div>
<!-- /container -->

<footer>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-panel">
			<p>&copy; IBFIM. All Rights Reserved. 2015 </p>

		</div>

	</div>
</footer>
<script type="text/javascript">
	$(function(){
		setTimeout(function(){ $("#preload").fadeOut(); }, 250);
	});
</script>
</body>
</html>