<?php
$auth = Zend_auth::getInstance()->getIdentity();


?>
<?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
  $fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;

  // for chat
  $onlineDb = new App_Model_UserOnline();
  $onlineusers = $onlineDb->getOnline();
  $totalonlineusers = $onlineDb->getOnlineInt();
}
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIIF</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap2.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main2.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap4.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl()?>/css/main9.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl()?>/css/bootstrap9.min.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl()?>/css/bootstrap10.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main10.css" rel="stylesheet">
      <!-- Custom styles for this template -->

    <!-- Custom styles for this template -->
    <link href="<?php echo $this->baseUrl()?>/css/main4.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
   <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="<?php echo $this->baseUrl()?>/js/plugins/formvalidation/formvalidation.min.js"></script>
         <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    

</head>

<body> 
  <?php if($auth->getIdentity()->role == 'administrator'):?>
<div class="container-fluid bg-wrapper">
    <div class="row">
        <div class="col-sm-4 col-md-3">
         <div class="side-bar">
          <div class="brand-logo-dashboard">
              <a href="#"><img src="<?php echo $this->baseUrl()?>/img/ciif_logo.svg" alt="" /></a>
          </div>  
          <ul class="sidebar-nav">
                 
          </ul>
          <ul id="sidebar" class="sidebar-nav">
              <li>
                  <a href="#" class="active"><i class="icon i-dashboard"></i>Dashboard</a>
              </li>

               <!-- <li class="active">
                  <a href="<?php echo $this->baseUrl()?>/admin/users/applicantlist" ><i class="icon i-membership"></i>Applicant List</a>
              </li>
               <li class="active">
                  <a href="<?php echo $this->baseUrl()?>/admin/users/memberlist" ><i class="icon i-membership"></i>Member List</a>
              </li> -->
             
              
              <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Membership Approval</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/users" ><i class="icon i-membership"></i>AMC Approval</a>
              </li> 
               <li class="active">
                  <a href="<?php echo $this->baseUrl()?>/admin/users/rolelist" ><i class="icon i-membership"></i>EX Co Approval</a>
              </li> 
               <li class="active">
                  <a href="<?php echo $this->baseUrl()?>/admin/users/userpay" ><i class="icon i-membership"></i>Payment Approval</a>
              </li>

             <!--  <li class="active">


                  <a href="<?php echo $this->baseUrl()?>/admin/users/renewusers" ><i class="icon i-membership"></i>Renewal Approval</a>
              </li> 
              <li class="active">
                  <a href="<?php echo $this->baseUrl()?>/admin/users/upgradeusers" ><i class="icon i-membership"></i>Upgrade Approval</a>
              </li>  -->
             
                    
              <li >
                  <a href="<?php echo $this->baseUrl()?>/admin/users/userprogram"><i class="icon i-examination"></i>Program Approval</a>
              </li>

              <li >
                  <a href="<?php echo $this->baseUrl()?>/admin/users/exemption"><i class="icon i-examination"></i>Exemption Approval</a>
              </li> 
              
                  </ul>
              </li>


               <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Membership Setup</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/Member"><i class="icon i-cpd"></i>Membership Category</a>
              </li> 
               <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/MemberSubType"><i class="icon i-cpd"></i>Membership Sub Category</a>
              </li>
                <!-- <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/Definitionms"><i class="icon i-cpd"></i>Qualificattion </a>
              </li>
             
              <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/MemberExperience"><i class="icon i-cpd"></i>Experience</a>
              </li> -->
                  </ul>
              </li>

              <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Menu Setup</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/role/rolelist"><i class="icon i-cpd"></i>Menu Category</a>
              </li> 
               <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/rolemenu/rolemenulist"><i class="icon i-cpd"></i>Menu Sub Category</a>
              </li>
               
                  </ul>
              </li>
           
                <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Finance Setup</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/MemberFeeStructure"><i class="icon i-cpd"></i>Fee</a>
              </li>
              <!--  <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/MemberRenewFee"><i class="icon i-calendar"></i>Renewal Fee</a>
              </li>   --> 
              
              <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/ProgrammeFee"><i class="icon i-account"></i>Programme Fee</a>
              </li> 
             <!--  <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/ProgrammeExemptionFee"><i class="icon i-account"></i>Programme Exemption Fee</a>
              </li>
 -->
                  </ul>
              </li> 
              <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Programme Setup</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                     <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/Programmecategory"><i class="icon i-account"></i>Programme Category</a>
                  <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/programme-landscape"><i class="icon i-account"></i>Programme Landscape</a>
              </li>
             
                  </ul>

                   <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Setup</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                     <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/gstmaster"><i class="icon i-account"></i>Gst Setup</a>
                  <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/companymaster"><i class="icon i-account"></i>Currency Rate Setup</a>
              </li>
               
              <li>
                 <a href="<?php echo $this->baseUrl()?>/admin/emailtemplate"><i class="icon i-cpd"></i>Email Template</a>
              </li>
             
                  </ul>
                   <!-- <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Currency</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                     <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/currency/setup"><i class="icon i-account"></i>Currency Setup</a>
                  <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/currency/rate-setup"><i class="icon i-account"></i>Currency Rate Setup</a>
              </li> -->
             
              <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Calendar</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/Calendar/" ><i class="icon i-membership"></i>Event Setup</a>
              </li> 
               
               
                  </ul>
              </li>
              <!-- <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>CPD</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                  <a href="<?php //echo $this->baseUrl()?>/admin/cpd/material-list" ><i class="icon i-membership"></i>Cpd Activity</a>
              </li> 
               
               
                  </ul>
              </li>
              <li class="btn-group">
                  <a href="#"><i class="icon i-membership"></i>Discipline Setup</a>
                  <a href="javascript:void(0)" class="caret-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down" ></i></a>
                  <ul class="subnav">
                      <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/barring" ><i class="icon i-membership"></i>Discipline Setup</a>
              </li>
              
               <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/users/barringlist" ><i class="icon i-membership"></i>Case Registration</a>
              </li> 
              <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/users/barredmember" ><i class="icon i-membership"></i>Member Case status</a>
              </li> 
               
                  </ul> -->
                  
                  <ul>
                    <li>
                  <a href="<?php echo $this->baseUrl()?>/admin/receipt" ><i class="icon i-membership"></i>Add Receipt</a>
                   </li>
                 </ul>

               <ul>
              
               <li class="active">
                  <a href="<?php echo $this->baseUrl()?>/admin/reportamc/" ><i class="icon i-membership"></i>ExCo Report</a>
              </li>
             
          </ul>
          

                        
         </div>          
        </div>
        <div class="col-sm-8 col-md-9">
           <div class="page-container">
                <div class="page-top">
                   <div class="user-information">
                       <div class="user-pic">
                           <img src="img/user_profile.svg" alt="" />
                       </div>
                       <h4>Hello, <?php echo $fullname?></h4>
                       
                   </div>
                    <div class="clearfix">
                        <ul class="top-right-nav">
                            <li><a href="#" class="search">Search</a></li>
                            <li><a href="#" class="notification">Notifications</a></li>
                            <li><a href="<?php echo $this->baseUrl()?>/logout" class="settings">Logout</a></li>

                        </ul>
                    </div>
                </div> 

               <?php
      Cms_Common::displayFlash();
      ?>

      <?php echo $this->layout()->content; ?>
           </div>                  
        </div>
    </div>
</div>  
<?php else:?>
<div class="container-fluid bg-wrapper">
    <div class="row">
        <div class="col-sm-4 col-md-3">
         <div class="side-bar">
          <div class="brand-logo-dashboard">
              <a href="#"><img src="<?php echo $this->baseUrl()?>/img/ciif_logo.svg" alt="" /></a>
          </div>  
          
          <ul class="sidebar-nav">
              <li>
                  <a href="#" class="active"><i class="icon i-dashboard"></i>Dashboard</a>
              </li>
               
          </ul>
          
          <div class="upcoming-events">
              <h4>Upcoming Events</h4>
                <ul class="upcoming-event-list">
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>
                  <li>
                      <a href="#">International student orientation</a>
                      <span>Today, 10:30 AM</span>
                  </li>                                                      
                </ul>
          </div>
                        
         </div>          
        </div>
        <div class="col-sm-8 col-md-9">
           <div class="page-container">
                <div class="page-top">
                   <div class="user-information">
                       <div class="user-pic">
                           <img src="img/user_profile.svg" alt="" />
                       </div>
                       <h4>Hello, <?php echo $fullname?></h4>
                       
                   </div>
                    <div class="clearfix">
                        <ul class="top-right-nav">
                            <li><a href="#" class="search">Search</a></li>
                            <li><a href="#" class="notification">Notifications</a></li>
                            <li><a href="<?php echo $this->baseUrl()?>/logout" class="settings">Logout</a></li>
                        </ul>
                    </div>
                </div> 

               <?php
      Cms_Common::displayFlash();
      ?>

      <?php echo $this->layout()->content; ?>
           </div>                  
        </div>
    </div>
</div>


  <?php endif;?>

  <?php
$auth = Zend_Auth::getInstance();
$loggedIn = $auth->hasIdentity() ? 1 : 0;
if ( $loggedIn )
{
  $fullname = $auth->getIdentity()->firstname.' '.$auth->getIdentity()->lastname;

  // for chat
  $onlineDb = new App_Model_UserOnline();
  $onlineusers = $onlineDb->getOnline();
  $totalonlineusers = $onlineDb->getOnlineInt();
}
?>
</body>

   


</html>
