<div class="clearfix">
                    <h4 class="clearfix">
                        <span class="member-float">Membership Details</span>
                        <div class="member-group">
                           
                        </div>
                    </h4>
    
<form class="uk-form uk-form-horizontal validate" method="post" action="applyexemption" id="membership-application"  enctype="multipart/form-data">
                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/user.svg" alt="" />
                                <h4>Apply for Exemption Modules</h4>
                               
                            </div>
                                                                                                
                        </div>
                    </div>
                <div class="clearfix custom-tabs">

                  

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


                            <table class="table table-striped">
                    <thead>
                    <th width="">Programme Name</th>
                            <th width="">Amount</th> 
                            <th width="">Exemption</th>
                    
                    
                   
                  </thead>
                 <?php
                   
                    foreach ($this->StudentSubjectsDetail as $row) {?>
                        <tr>
         <td><?php echo $row['name']; ?><input type='hidden' name='program[<?php echo $row['name']; ?>]' value=<?php echo $row['name']; ?> readonly></td>
         <td><input type='hidden' name='program_id[<?php echo $row['name']; ?>]' value=<?php echo $row['id']; ?> readonly>
            <?php echo $row['amount']; ?>
            <input type='hidden' name='amount[<?php echo $row['name']; ?>]' value='<?php echo $row['amount']; ?>' readonly></td>

         <td><input type='checkbox' name='exemtion_status[]' value='<?php echo $row['id']; ?>' readonly>
                           </td>
                        </tr>
                    <?php
                       
                    }
                    ?>

                  
                  
                  <tr align=right>
                     <td colspan="3">
                        <button type="submit" name="save" class="btn btn-primary">Save & Next</button>
                        <button type="button" class="btn btn-primary" onclick="redirect('/user/dashboard')">Cancel</button>    
                    </td>
                </tr>
                </table>
                    </form>                         
                        </div>                      
                    </div>
                    
                                   
                  </div>
                </div>                    
                    
                </div>   





