<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>


    <!-- content -->

    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/qualification">Qualification</a></li>
            <li class="uk-active"><span>Documents Submission</span></li>
        </ul>


        <h3>Documents Submission</h3>

        <form id="frqua" method="post" enctype="multipart/form-data" action="/qualification/documents/cid/<?php echo $this->lmscurriculumid?>/txn/<?php echo $this->txnid?>">
        <?php $myApplication = $this->myApplication;?>
        <input type="hidden" id="regid" name="regid" value="<?php echo $myApplication["at_appl_id"]?>">
        <input type="hidden" id="cid" name="cid" value="<?php echo $this->lmscurriculumid?>">
        <input type="hidden" id="txnid" name="txnid" value="<?php echo $this->txnid?>">
        <input type="hidden" id="m_id" name="m_id" value="<?php echo $this->m_id?>">

            <table class="uk-table">
                <tr>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <td class="<?php //echo $csstatus ?>">
                        <span style="background-color: <?php //echo $csstatus?>;" ><font color=""><?php echo $myApplication["d.DefinitionDesc"] ?></font></span>
                    </td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Applied Date'); ?></th>
                    <td><?php echo date('d M Y h:iA' , strtotime($myApplication["createdDate"]));?></td>
                </tr>

                <tr>
                    <th width="150em"><?php echo $this->translate('Program'); ?></th>
                    <td><?php echo $myApplication["ProgramName"] ?></td>
                </tr>


                <tr>
                    <th valign="top"><?php echo $this->translate('Supporting Documents'); ?></th>
                    <td>
                        <table id="doc_table" class="uk-table-main maintabl" width="100%">
                            <tr>
                                <th  width="10em"><?php echo $this->translate('No.'); ?></th>
                                <th width="300em">
                                    <?php echo $this->translate('Document Name'); ?>
                                </th>
                                <th  width="10em"><?php echo $this->translate('File Upload'); ?></th>
                            </tr>
                            <?php foreach($this->document_checklist as $index=>$doc){?>
                                <tr>
                                    <td align='center' width='15em'><?php echo $index+1;?>.</td>
                                    <td><?php echo $doc['mrc_name']; ?></td>
                                    <td>
                                        <?php if (isset($doc['mrd_name']) && $doc['mrd_name']!='') { ?>
                                            <?php echo isset($doc['mrd_name']) ? "<a href='#'>".$doc['mrd_name']."</a>":'';?>
                                        <?php }else{ ?>
                                            <input id="mrc_id<?php echo $doc['mrc_id'];?>" name="mrc_id<?php echo $doc['mrc_id'];?>" type="file">
                                        <?php } ?>
                                    </td>
                                </tr>
                            <?php } ?>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <p align="center">
                            <?php if($myApplication["d.DefinitionDesc"] != "DRAFT" && $myApplication["d.DefinitionDesc"] != "ENTRY"){?>
                            <p class="reqMark"><strong>Declaration</strong></p>
                            <input type="hidden" name="isallowpay" id="isallowpay" value="1"/>
                            <input type="checkbox" name="agreement" id="agreement" onclick="checkdeclare()" />
                            I hereby declare that the information given is true and accurate. If I passed the examination and the information given is found to be not true, I understand that AICB reserves the right to Cancel the examination result and take action according to the rules and regulation of <?php echo $this->myexams['ProgramName']; ?>
                            <?php } ?>
                            <br><br>
                            <div align="right">
                                <a href="/dashboard" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
                                <button type="submit" class="uk-button uk-button-primary" id="submit-button">
                                    <?php echo $this->translate('Submit'); ?>
                                </button>
                            </div>
                        </p>
                    </td>
                </tr>

            </table>
            </form>

</div>
</div>

<script type="text/javascript">
    $('#agreement').prop('checked', false);

    $(document).ready(function(){
        var isallowpay =  $('#isallowpay').val();
        if(isallowpay=="" && isallowpay != '1') {
            $('#agreement').attr('disabled', 'disabled');
        }else{
            $('#agreement').removeAttr('disabled');
        }
    });

    function checkdeclare(){
        var isallowpay =  $('#isallowpay').val();
        if($("#agreement").is(':checked')){
            if(isallowpay!="" && isallowpay == '1'){
                $('#pay-button').prop('disabled', false);
            }else{
                $('#pay-button').prop('disabled', true);
            }
        }else{
            $('#pay-button').prop('disabled', true);
        }
    };
</script>