<div class="clearfix">
                    <h4 class="clearfix">
                        <span class="member-float">Membership Details</span>
                        <div class="member-group">
                           
                        </div>
                    </h4>
    
<form class="uk-form uk-form-horizontal validate" method="post" action="exemptionpayment" id="membership-application"  enctype="multipart/form-data">                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/user.svg" alt="" />
                                <h4>Apply for Exemption Modules</h4>
                               
                            </div>
                                                                                                
                        </div>
                    </div>
                <div class="clearfix custom-tabs">

                  

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


                            <table class="table table-striped">
                    <thead>
                    
                            <th width="">Programme Name</th>
                            <th width="">Amount</th>
                    
                    
                   
                  </thead>
                 <?php
                    foreach ($this->StudentSubjectsDetail as $row) {?>
                        <tr>
         <td><?php echo $row['name']; ?><input type='hidden' name='program[<?php echo $row['name']; ?>]' value=<?php echo $row['name']; ?> readonly></td>
         <td><input type='hidden' name='program_id[<?php echo $row['name']; ?>]' value=<?php echo $row['id']; ?> readonly>
            <?php echo $row['amount']; ?>
            <input type='hidden' name='amount[<?php echo $row['name']; ?>]' value=<?php echo $row['amount']; ?> readonly></td>

                        </tr>
                 
                    <?php
                       
                    }
                    ?>

                   <tr >
                               <tr>
                <th ><?php echo $this->translate('Total'); ?></th>
               <td > <?php echo $this->get_amount[0]['sum'].' '.'RM';?> <?php// echo $get_amount['sum'].' '.$amount['DefinitionDesc'];?></td>
     <input type='hidden' name='amount' value='<?php echo $this->get_amount[0]['sum'];?>'>

            </tr>
                    
              
                  <tr align=right>
                     <td colspan="3">
                        <button type="submit" class="btn btn-primary" id="submit-button">
                                    <?php echo $this->translate('Pay'); ?>
                                </button>
                        <a href="/dashboard" class="btn btn-primary"><?php echo $this->translate('Back')?></a>   
                    </td>
                </tr>
                </table>
                    </form>                         
                        </div>                      
                    </div>
                    
                                   
                  </div>
                </div>                    
                    
                </div>   





