                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <?php if($this->get_qualifiacion[0]['idprogram'] == '2'):?>
                                <div class="col-sm-6">
                                <div class="course-block">
                                   
                                    <p>Pending for approval</p>
                                   
                                </div>
                            </div>
                            <?php else:?>
                            <?php foreach($this->get_qualifiacion as $module):?>
                            <div class="col-sm-6">
                                <div class="course-block">
                                    <h4><a href="#"><?php echo $module['name']?></a></h4>
                                    <p><?php echo $module['description']?></p>
                                    <div class="row cousre-bloc description-bottom">
                                        <div class="col-xs-6">
                                            <span class="type">Module Type</span>
                                            <span><?php echo $module['level']?></span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="type"></span>
                                            <span>
                                            <?php if(!empty($module['exemption_program'])){?>
                                             <?php if($module['exemption_program'] == 1){
                                                    
                                                    echo 'Exempted';  
                                                    }else{
                                                     echo 'Registered';
                                                    }?></span> 
                                                    <?php }?>
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                            
                        <?php endif;?>
                                                       
                        </div> 
                        
                                                                                
                </div>
                <div class="col-md-3">
                    <div class="row">
                    <?php if(empty($this->get_exem)):?> 
                        <div class="col-sm-4 col-md-12">
                            <div class="renew-block">
                                
                                <p>Apply for Program Exemption</p>
                                <a href='<?php echo $this->baseUrl()?>/qualification/applyexemption/'>
                                <button class="btn" type="button">Click here</button>
                            </a>
                            </div>
                        </div>
                    <?php elseif($this->get_info['exemption_status'] == 0):?>
                             <div class="col-sm-4 col-md-12">
                            <div class="renew-block">
                                <h2>Apply for Program Exemption</h2>
                               
                                <a href='<?php echo $this->baseUrl()?>/qualification/exemptionpayment/'>
                                <button class="btn" type="button">Click here</button>
                            </div>
                        </div>
                    <?php else:?> 
                             <div class="col-sm-4 col-md-12">
                            <div class="renew-block">
                                <h2>27 Days Left</h2>
                                <p>after this time your account will be closed</p>
                                <button class="btn" type="button">Renew</button>
                            </div>
                        </div>
                     <?php endif;?> 
                        <div class="col-sm-8 col-md-12">
                            <h4>Recent Activity</h4>
                            <ul class="recent-activity">
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>  
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>  
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>  
                                <li>Lorem ipsum dolor sit amet,
consectetur adipiscing elit.</li>                                                                              
                            </ul>
                        </div>
                    </div>
                </div>
                </div>