<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>

    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/qualification">Qualification</a></li>
            <li class="uk-active"><span>Register Modules</span></li>
        </ul>

        <?php if($this->view == "yes") {?>

        <h3>Register Modules : <?php echo $this->StudentSubjectsDetail[0]["ProgramName"];?></h3>

        <form id="f1" method="post" action="/qualification/enroll-modules/">
            <?php if (count($this->courses) > 0) { ?>
                <div class="course-list">

                    <table class="uk-table uk-table-bordered">
                        <tr>
                            <th width="3%"></th>
                            <th width="">Module Name</th>
                            <th width="">Module Code</th>
                            <th width="">Module Type</th>
                            <th width="">Exempted Status</th>
                            <?php if ($this->StudentSubjectsDetail[0]["IdProgram"]==52) { ?>
                                <th width="">Workshop Schedule</th>
                            <?php } ?>
                            <th width="10%">Price</th>
                        </tr>
                    <?php
                    $i=1;
                    foreach ($this->courses as $row) {
                        if ($row["exemptionstatus"]['ExemptionStatus']==1) {
                            $module_price = 250;
                            $exempted = "Exempted";
                            $exemptedStatus = "exempted";
                        } else {
                            $module_price = $this->cur['module_price'];
                            $exempted = "-";
                            $exemptedStatus = "";
                        }?>
                        <!--<div class="course">
                            <div class="info">
                                <input type="hidden" id="idsubject<?php /*echo $i; */?>" name="idsubject<?php /*echo $i; */?>" value=" <?php /*echo $row['external_id']; */?>">
                                <div class="title"><?php /*echo $row['title'] */?></div>
                                <div class="info" style="float:left;position: relative;margin-bottom: -23px;margin-top: 3px;margin-left: -4px;margin-right: 3px;">
                                    <input class="mdprice" id="mdprice<?php /*echo $i; */?>" name="mdprice<?php /*echo $i; */?>" type="checkbox" value="<?php /*echo $module_price; */?>:<?php /*echo $exemptedStatus*/?>" onclick="recalculate(<?php /*echo $i; */?>);">
                                </div>
                                <?php /*echo $row['code'] */?>&nbsp;(<?php /*if($row['learning_online']==1){echo "Online";}else{echo "Face to Face";} */?>)
                                &nbsp;&nbsp;    <?php /*echo $exempted;*/?>
                                <br>
                                <b>RM <?php /*echo $module_price;*/?></b>
                            </div>
                        </div>-->

                            <tr>
                                <td>
                                    <input type="hidden" id="idsubject<?php echo $i; ?>" name="idsubject<?php echo $i; ?>" value=" <?php echo $row['external_id']; ?>">
                                    <input class="mdprice" id="mdprice<?php echo $i; ?>" name="mdprice<?php echo $i; ?>" type="checkbox" value="<?php echo $module_price; ?>:<?php echo $exemptedStatus?>" onclick="recalculate(<?php echo $i; ?>);"></td>
                                <td><?php echo $row['title']; ?></td>
                                <td><?php echo $row['code'] ?>&nbsp;(<?php if($row['learning_online']==1){echo "Online";}else{echo "Face to Face";} ?>)</td>
                                <td><?php echo $row["subjectinfo"]["SubjectType"]?></td>
                                <td><?php echo $exempted;?></td>
                                <?php if ($this->StudentSubjectsDetail[0]["IdProgram"]==52) { ?>
                                <td>
                                    <select name="IdCourseTaggingGroup<?php echo $i; ?>" id="IdCourseTaggingGroup<?php echo $i; ?>">
                                        <?php
                                        foreach ($row["schedule"] as $schedule) {
                                            $date_exam = date('d M Y',strtotime($schedule["sc_date_start"]))." - ".date('d M Y',strtotime($schedule["sc_date_end"]));
                                        ?>
                                        <option value="<?php echo $schedule["sc_id"]?>"><?php echo $date_exam?></option>
                                        <?php } ?>
                                    </select>

                                </td>
                                <?php } ?>
                                <td><b>RM <?php echo $module_price ?></b></td>
                            </tr>


                        <input type="hidden" id="mprice<?php echo $i; ?>" name="mprice<?php echo $i; ?>" value="<?php echo $module_price?>">
                    <?php
                        $i++;
                    }
                    ?>
                    </table>
                    <input type="hidden" id="IdProgram" name="IdProgram" value=" <?php echo $this->StudentSubjectsDetail[0]["IdProgram"]; ?>">
                    <input type="hidden" id="totalsubject" name="totalsubject" value=" <?php echo $i-1; ?>">
                    <input type="hidden" id="userid" name="userid" value=" <?php echo $this->userid; ?>">
                    <input type="hidden" id="idStudentRegistration" name="idStudentRegistration" value=" <?php echo $this->idStudentRegistration; ?>">
                </div>

                <h3 class="title" align="right"><b>Total Amount : <span id="totalamount"></span></b></h3>
                <input type="hidden" id="total" name="total" value="">
            <?php
            }
            ?>
            <p align="right">
                <input type="submit" class="uk-button uk-button-primary" value="<?php echo $this->translate('Register Modules')?>" />
                <input type="hidden" id="txnid" name="txnid" value="<?php echo $this->txnid; ?>">
            </p>
        </form>
        <?php } else {?>
            <div class="uk-alert uk-alert-danger">
                <span class="icon icon-attention uk-text-lef"> </span>Membership activation is required in order to proceed on modules registration.
            </div>
        <?php } ?>
</div>
</div>

<script>
    function recalculate(i){
        var sum = 0;

        $("input[type=checkbox]:checked").each(function(){

            totalval = $("#total").val();
            currvalexempt = $(this).val();

            var eachval = currvalexempt.split(":");
            sum += parseInt(eachval[0]);
        });

        $("#total").val(sum);
        $("#totalamount").text("RM"+sum);
    }
</script>