<div class="uk-grid">

  

    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/qualification">Qualification</a></li>
            <li class="uk-active"><span>Registered Modules</span></li>
        </ul>



            <?php if (count($this->StudentSubjectsDetail) > 0) { ?>

                    <table class="uk-table uk-table-bordered">
                        <tr>
                            <th width="">Programme Name</th>
                            <th width="">Programme Code</th>
                            <th width="">Module Type</th>
                           
                           <!--  <?php if ($this->StudentSubjectsDetail[0]["IdProgram"]==52) { ?>
                                <th width="">Workshop Schedule</th>
                            <?php } ?> -->
                        </tr>
                    <?php
                    $i=1;
                    foreach ($this->StudentSubjectsDetail as $row) {?>
                        <tr>
                            <td><?php echo $row['name']; ?></td>
                            <td><?php echo $row['code'] ?></td>
                            <td><?php echo $row['level'] ?></td>
                             
                            <!-- <?php if ($row["IdProgram"]==52) { ?>
                                <td width="">
                                    <?php //$row['sc_start_time']
                                    echo date('d M',strtotime($row['sc_date_start'])). " - ";
                                    echo date('d M Y',strtotime($row['sc_date_end']));
                                    echo "<br>";
                                    echo date('h.iA',strtotime($row['sc_start_time'])). " - ";
                                    echo date('h.iA',strtotime($row['sc_end_time']));
                                    ?>
                                </td>
                            <?php } ?> -->
                        </tr>
                    <?php
                        $i++;
                    }
                    ?>
                    </table>
            <?php
            }
            ?>

        <div class="uk-form-row">
            <button type="button" class="uk-button" onclick="redirect('/qualification')">Back</button>

            <button type="button" class="uk-button uk-badge-warning" >Access to Moodle</button>

        </div>
</div>
</div>