
<div class="uk-grid">




    <!-- content -->

    <div class="uk-width-medium-8-10 uk-text-left">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/qualification">Qualification</a></li>
            <li class="uk-active"><span>Submission Details</span></li>
        </ul>


        <h3>Submission Details</h3>

        <?php $myApplication = $this->myApplication;?>
        <input type="hidden" id="regid" name="regid" value="<?php echo $myApplication["at_appl_id"]?>">
        <input type="hidden" id="cid" name="cid" value="<?php echo $this->lmscurriculumid?>">
        <input type="hidden" id="txnid" name="txnid" value="<?php echo $this->txnid?>">
        <input type="hidden" id="m_id" name="m_id" value="<?php echo $this->m_id?>">

            <table class="uk-table">
                <tr>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <td class="<?php //echo $csstatus ?>">
                        <span style="background-color: <?php //echo $csstatus?>;" ><font color=""> <?php echo $this->get_qualifiacion[0]['status'];?></font></span>
                    </td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Applied Date'); ?></th>
                    <td><?php echo date('d M Y h:iA' , strtotime($this->get_qualifiacion[0]["created_date"]));?></td>
                </tr>

                <tr>
                    <th width="150em"><?php echo $this->translate('Qualification'); ?></th>
                    <td> <?php echo $this->get_qualifiacion[0]['level'];?>
</td>
                </tr>


              
                        </table>
                    </td>
                </tr>
            </table>

        <div class="uk-form-row">
            <button type="button" class="uk-button" onclick="redirect('/qualification')">Back</button>
        </div>
</div>
