<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');	
	});
</script>
</head>
<fieldset>
 <legend><?php echo $this->translate("Agent");?></legend>
<form action="<?php echo $this->baseUrl();?>/generalsetup/agentmaster/index/search/1" method="POST">
<table width="100%">
	<tr>
     	<td><?php echo $this->translate('Agent Name');?></td>
     	<td><?php echo $this->lobjform->field3;?></td>
     	<td><?php echo $this->translate('Email');?></td>
     	<td><?php echo $this->lobjform->field2;?></td>
    </tr>
    <tr>
    	<td><?php echo $this->translate("Program")?></td>
     	<td><?php echo $this->lobjform->field5;?></td>
    	<td><?php echo $this->translate("Active")?></td>
     	<td><?php echo $this->lobjform->field7;?></td>
    </tr>
   <tr>
	     <td align = "center" colspan = "4">
		<?php echo $this->lobjform->Search;?>
		<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'agentmaster', 'action'=>'newagentmaster'),'default',true);?>';" />	
		<?php echo $this->lobjform->Clear;?>
		</td>
    </tr>
</table>
</form>	
</fieldset> 

<!--  Grid Display -->       
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Agent Name")?></th>
        <th><?php echo $this->translate("Address")?></th>
        <th><?php echo $this->translate("Email")?></th>
        </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $agentdtls ): ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
   		<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'agentmaster', 'action'=>'agentmasterlist' , 'id'=>$agentdtls['IdAgentMaster']),'default',true);?>" ><?php print_r($this->escape($agentdtls['AgentName']));?></a></td>
    	<td><?php echo $this->escape($agentdtls['AgentAdd1']);?></td>
    	<td><?php echo $this->escape($agentdtls['Email']);?></td>
    	<?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
	  <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   </tr>
</table>
</fieldset>      
