<script>
function getState(selectedState){
	var country_id = $('#country').val();
	
	$.ajax({
		url: "/default/ajax-utility/get-state",
	    type: "post",
	    async : false,
	    data: {'country_id':country_id},
	    dataType: 'json',
	    success: function(data){
	    		console.log(data);
	    		$('#state').empty();
				$('#state').append('<option value="">-- Please Select --</option>');
			    
		    	$.each(data, function(index) {
		    		if(selectedState==data[index].idState){
						var selected = 'selected';
					}else{
						var selected = '';
					}
					$('#state').append('<option value="'+data[index].idState+'" '+selected+'>'+data[index].StateName+'</option>');	
		    	});
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading('state');
	      
		},
		complete: function() {
			hideLoading('state');
		}   
	});
}

function getCity(idState,selectedCity){
		
	var targetElement = '#city';
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-city'),'default',true);?>",
		data: {'state_id':idState},
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			showLoading('city');
		},
		complete: function() {
			hideLoading('city');
		},
		success: function(data) {
			$('#city').empty();
			$('#city').append('<option value="">-- Please Select --</option>');
				
			$.each(data, function(index) {
				if(selectedCity==data[index].idCity){
					var selected = 'selected';
				}else{
					var selected = '';
				}
				$('#city').append('<option value="'+data[index].idCity+'" '+selected+'>'+data[index].CityName+'</option>');	
			});
		}
	});
}

function checkOthers(val)
{
	var e_val = $(val).val();
	var name = $(val).attr("name");
	
	if (e_val == '99')
	{
		$("#"+name+"_others-label").show();
		$("#"+name+"_others-element").show();
	}
	else
	{
		$("#"+name+"_others-label").hide();
		$("#"+name+"_others-element").hide();
	}
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

$(function()
{
	<?php if ($this->address_data['state'] != 99 ){?>
	$("#state_others-label").hide();
	$("#state_others-element").hide();
	<?php } ?>
	
	<?php if ($this->address_data['city'] != 99 ){?>
	$("#city_others-label").hide();
	$("#city_others-element").hide();
	<?php } ?>

	<?php if( $this->address_data['country'] != '' ) { ?>
		getState(<?php echo $this->address_data['state']?>);
	<?php } ?>

	<?php if( $this->address_data['state'] != '' &&  $this->address_data['city'] != '' ) { ?>
		getCity(<?php echo $this->address_data['state']?>, <?php echo $this->address_data['city']?>);
	<?php } ?>
});
</script>
<?php echo $this->addressForm;?>