
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	dijit.byId('field5').set('value','<?php echo $this->field5Val;?>');
	dijit.byId('field5').set('placeHolder','Select');
	});

function del(id){
	msg = confirm('<?php echo $this->translate("Are you sure you want to delete this department?");?>');
	if(msg){
		window.location="<?php echo $this->baseUrl();?>/generalsetup/collegemaster/delete-college/id/"+id;
	}
}
</script>


<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university','action'=>'index'),'default',true);?>"><?php echo $this->translate("University"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Department"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Unit"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'index','idbrc'=>1),'default',true);?>"><?php echo $this->translate("CP"); ?></a></div></li>	
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'index'),'default',true);?>"><?php echo $this->translate("Exam Center"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>

<br /><br />

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster', 'action'=>'newcollege'),'default',true);?>';" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br></br>
<div id="searchDiv">
	<fieldset>
	<legend><?php echo $this->translate("Search");?></legend>
            <div class="search" style="margin-left:20px;">
                <dl class="zend_form">
                <dt><?php echo $this->translate('Department Name');?></dt>
                <dd><?php echo $this->lobjform->field3;?></dd>
                <dt><?php echo $this->translate("Short Name");?></dt>
                <dd><?php echo $this->lobjform->field2;?></dd>
                <dt><?php echo $this->translate("Affiliated To");?></dt>
                <dd><?php echo $this->lobjform->field5;?></dd>
                <dt><?php echo $this->translate("Email");?></dt>
                <dd><?php echo $this->lobjform->field4;?></dd>
                <dt><?php echo $this->defaultlanguage;?></dt>
                <dd><?php echo $this->lobjform->field18;?></dd>
                <dt><?php echo $this->translate("Active");?></dt>
                <dd><?php echo $this->lobjform->field7;?></dd>
                <dd>
                <?php echo $this->lobjform->Search;?>											
                <?php echo $this->lobjform->Clear;?>
                </dd>
                </dl>
                </form>
            </div>
    </fieldset>
    <br/>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate('Department Name');?></th>
			<th ><?php echo $this->defaultlanguage;?></th>
			<th><?php echo $this->translate("Short Name");?></th><!--
			  <th><?php echo $this->translate("Action");?></th> 
	   --></tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjcollegemaster ): ?>
		<tr>
			<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster', 'action'=>'editcollege' , 'id'=>$lobjcollegemaster['IdCollege']),'default',true);?>" ><?php print_r($this->escape($lobjcollegemaster['CollegeName']));?></a></td>
			<td><?php echo $this->escape($lobjcollegemaster['ArabicName']);?></td>
			<td><?php echo $this->escape($lobjcollegemaster['ShortName']);?></td><!--
			<td><a href="#" onclick="del('<?php echo $lobjcollegemaster['IdCollege']?>')"><?php echo $this->translate("Delete");?></a></td>
			--><?php endforeach; ?>
			<?php endif; ?>
		</tr>
		
	</table>
	<div class="pagination opt">
		<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
									'/partials/my_pagination_control.phtml'); ?>
	</div>

</div>