<script type="text/javascript">
dojo.addOnLoad(function(){

	});

</script>
<fieldset>
<legend><?php echo $this->translate("Subject Withdrawal  Requirments");?></legend>
<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
		<?php echo $this->lobjSubjectwithdrawalpolicyform->UpdDate;?>
		<?php echo $this->lobjSubjectwithdrawalpolicyform->UpdUser;?>
		<?php echo $this->lobjSubjectwithdrawalpolicyform->IdSubjectProgram;?>
		<?php echo $this->lobjSubjectwithdrawalpolicyform->IdSubjectWithdrawalPolicy;?>
		
		<table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th colspan = "4"><?php echo $this->translate("Subject Withdrawal Details");?></th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Select Semester");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjSubjectwithdrawalpolicyform->IdSemester; ?></td>
				<td><?php echo $this->translate("No of Days");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjSubjectwithdrawalpolicyform->Days;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Percentage of Deduction");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjSubjectwithdrawalpolicyform->Percentage;?></td>
				<td><?php echo $this->translate("Active");?></td>
				<td><?php echo $this->lobjSubjectwithdrawalpolicyform->Active;?></td>
			</tr>
				
		</table>
								
		<table class="table" width="100%" cellpadding="5" cellspacing="1">          
			<tr>
				<td colspan = "4" align = "right">
					<?php echo $this->lobjSubjectwithdrawalpolicyform->Save;?>					
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectwithdrawalpolicy', 'action'=>'index'),'default',true);?>';" />												
				</td>
			</tr>
		</table>
	</form>
</fieldset>	

	