
  <h1><i class="uk-icon-exclamation-circle"></i> Uh Oh!</h1>
  <p class="uk-alert uk-alert-danger"><?php echo $this->message ?></p>

  <?php if ('development' == APPLICATION_ENV): ?>

  <?php endif ?>

  <style type="text/css">

  h1 i { color:#e34f48 }

  </style>