<script>
$( document ).ready(function() {
    $('.btn-submit').click(function() {

	   	 var isChecked = $('.chk').is(':checked');
	
		 if(isChecked==true){
			 	var msg = confirm("<?php echo $this->translate('Are you sure you want to assign this staff as course coordinator?');?>");
			 	if(msg){
					$("#assignForm").submit();
			 	}
		 }else{
			alert("<?php echo $this->translate('You did not select any staff. Please select.');?>");
		 }
    });
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'coordinator-list','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester,'idCollege'=>$this->idCollege),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate("Back")?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php if(count($this->staff_list)>0){?>
<form id="assignForm" name="assignForm" method="post" action="">
<input type="hidden" name="idSemester" value="<?php echo $this->idSemester; ?>">
<input type="hidden" name="idSubject" value="<?php echo $this->idSubject; ?>">
<input type="hidden" name="idCollege" value="<?php echo $this->idCollege; ?>">

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Name")?></th>			
		<th><?php echo $this->translate("")?></th>
	</tr>
	
	<?php foreach ($this->staff_list as $index=>$staff){?>
		<tr>
			<td><?php echo $index+1;?></td>
			<td><?php echo $staff['FullName'];?></td>
			<td align='center'><input class='chk' type='checkbox' name='idStaff[]' value='<?php echo $staff["IdStaff"];?>'></input></td>
		</tr>
	<?php } ?>	
</table>
<div class="form-opt">	
<input type="button" name="save" id="save" value="Save" class="btn-submit">
</div>
</form>
<?php } else {
 echo '<div class="message success"><strong>'.$this->translate("No Record(s)").'</strong></div>';
}?>
