
<script type="text/javascript">
<!--
$(document).ready(function() {

	$( "#sc_date" ).datepicker({
		  dateFormat: 'dd-mm-yy',
	      defaultDate: "+1w",
	      autoOpen: false,
	      changeMonth: true
	    });

	getLecturer('#idCollege','#idLecturer');
	
	$(".t1, .t2").timePicker({
	  	  startTime: "00:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 15});

	 
	 var oldTime = $.timePicker("#sc_start_time").getTime();

	// Keep the duration between the two inputs.
	 $(".t1").change(function() {
	   if ($(".t2").val()) { // Only update when second input has a value.
	     // Calculate duration.
	     var duration = ($.timePicker(".t2").getTime() - oldTime);
	     var time = $.timePicker(".t1").getTime();
	     // Calculate and update the time in the second input.
	     $.timePicker(".t2").setTime(new Date(new Date(time.getTime() + duration)));
	     oldTime = time;
	   }
	 });
	 // Validate.
	 $(".t2").change(function() {
	   if($.timePicker(".t1").getTime() > $.timePicker(this).getTime()) {
	     $(this).addClass("error");
	   }
	   else {
	     $(this).removeClass("error");
	   }
	 });

	 $('.datepicker').datepicker({
		dateFormat: 'dd-mm-yy',
		changeMonth: true,
	    changeYear: true,
	    numberOfMonths: 3,
	    onSelect: function(dateText, inst) {
		    
	         var weekday=new Array(7);
	         weekday[0]="Sunday";
	         weekday[1]="Monday";
	         weekday[2]="Tuesday";
	         weekday[3]="Wednesday";
	         weekday[4]="Thursday";
	         weekday[5]="Friday";
	         weekday[6]="Saturday";

	         var date_select = $(this).datepicker( 'getDate' );

	         $('#sc_day').val(weekday[date_select.getDay()]);

	     }
	});
});

function getLecturer(element,targetElement){
	var idCollege = $(element).val();
	var idLecturer = '<?php echo $this->data["IdLecturer"]; ?>';
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group', 'action'=>'ajax-get-lecturer'),'default',true);?>",
		data: {'idCollege':$(element).val()},
		type: 'POST',
		dataType: 'json',	
		beforeSend: function(){
			$(targetElement).hide();
			$(targetElement).parent().append('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
		}	
	}).done(function ( data ) {

		$('.loading').remove();
		$(targetElement).show();
		
		$(targetElement).empty().append('<option value="0"> <?php echo $this->translate("Please Select"); ?> </option>');
	
		$.each(data, function(index) {
			if(data[index].IdStaff == idLecturer ){
				var selected = 'selected';
			}else{
				var selected = '';
			}
			$(targetElement).append('<option value="'+data[index].IdStaff+'" '+selected+'> '+data[index].FullName+' </option>');
		});
	});
}

//-->
</script>
<style type="text/css">
#sc_start_time, #sc_end_time { width:70px; }
</style>
<?php echo $this->form;?>