
<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/messages/"><?php echo $this->translate('Messages')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<div class="messaging-wrap">
	
	<div class="messaging-content">
	<!-- content -->
	<form method="post" action="" id="form_compose" onsubmit="return checkForm()">
	<?php echo $this->form->parent_id ?>
	<table width="100%" class="maintable">
		<tr>
			<td><?php echo $this->translate('To')?></td>
			<td>
				<?php echo $this->form->to_id ?>
				<input type="text" class="inputtext" name="searchuser" id="searchuser" />  <span id="search_status"></span>
				
			</td>
		</tr>
		<tr>
			<td width="120"><?php echo $this->translate('Subject')?></td>
			<td><?php echo $this->form->title ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Message')?></td>
			<td><?php echo $this->form->message?></td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="submit" class="btn-submit" name="submit" value="<?php echo $this->translate('Submit')?>" />
			</td>
	</table>
	</form>

	<!-- content -->
	</div>
</div>

<script type="text/javascript">
function initAutocomplete()
{
	var term = $("#searchuser").val();
	
	var type = 1;
	var searchby = 2;
	

	$( "#searchuser" ).autocomplete({
		source: '/ajax-utility/find-applicant-student/type/'+type+'/searchby/'+searchby,
		minLength: 2,
		search: function(event, ui) {
			$("#search_status").html('searching...');
		},
		response: function (event, ui) {
			$("#search_status").html('');
		},
		select: function(event, ui) {
			
			$('#to_id').val(ui.item.key);
			
			setTimeout(function(){ $("#searchuser").val(ui.item.label)} ,250);
			return false;
			
		}
	});
}

//ready 
$(function(){
	initAutocomplete();
});

//form
function checkForm()
{
	var error = 0;

	$("#form_compose .reqfield").each(function()
	{
		if ( $(this).attr("type") != 'radio' )
		{
			var field = $(this).parent().prev().html();

			var p = $(this).val();

			if ( p == '' )
			{                        
				//alert(field+" cannot be empty");
				$(this).parent().prev().addClass("req");
				$(this).focus();

				error = 1;
				//return false;
			}
			else
			{
				$(this).parent().prev().removeClass("req");
			}
		}
	});

	if ( error == 1 )
	{
		alert('Please fill in all the required fields');
		return false;
	}                


	$(window).unbind('beforeunload');

	return true;
}
</script>