<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<div class="messaging-wrap">
	<div class="opt">
		<a href="<?php echo $this->baseUrl()?>/portal/messages/compose" class="btn"><span class="icon icon-pencil"></span> <?php echo $this->translate('Compose')?></a>
	</div>
	<ul class="tabs cf">
		<li><a href="<?php echo $this->baseUrl()?>/portal/messages/index" <?php echo $this->folder == 'inbox' ? 'class="active"':''?>><span class="icon icon-mail"></span> <?php echo $this->translate('Inbox')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/messages/index/folder/outbox" <?php echo $this->folder == 'outbox' ? 'class="active"':''?>><span class="icon icon-paper-plane"></span> <?php echo $this->translate('Outbox')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/messages/index/folder/trash" <?php echo $this->folder == 'trash' ? 'class="active"':''?>><span class="icon icon-trash"></span> <?php echo $this->translate('Trash')?></a></li>
	</ul>
	<div class="messaging-content">
	<!-- content -->
	
	<form method="post" action="" name="form-opt" onsubmit="return checkForm()" id="form-opt">

	<?php if ( $this->folder == 'inbox' ) {?>
	<table width="100%" class="maintable message-table">
		<thead>
			<tr>
				<th width="25" align="center"><input type="checkbox" id="checkall" /></th>
				<th><?php echo $this->translate('Title')?></th>
				<th><?php echo $this->translate('Sender')?></th>
				<th><?php echo $this->translate('Date')?></th>
			</tr>
		</thead>
		<tbody>
			<?php 
			$i=0;
			if ( count($this->messages) > 0 ):
			foreach ($this->messages as $data): 
			?>
			<tr class="<?php echo $data['haveunread'] == 1 ? 'unread':''?>">
				<td><input type="checkbox" class="chk" name="chk[]" value="<?php echo $data['id']?>" /></td>
				<td>
					<a href="<?php echo $this->url(array('module'=>'portal','controller'=>'messages', 'action'=>($data['parent_id'] == 0 ? 'view' : 'view-thread'), 'id'=>$data['id']),'default',true);?>" class="msg">
						<?php echo $data['title']; ?>
					</a>
				</td>
				<td><?php echo $data['from_name']?></td>
				<td><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
			</tr>
			<?php endforeach; ?>
			<?php else: ?>
			<tr>
				<td colspan="4"><?php echo $this->translate('No messages in your')?> <strong><?php echo $this->folder?></strong></td>
			</tr>
			<?php endif; ?>
		</tbody>
	</table>

	<div class="opt">
		<?php echo $this->Translate('With Selected')?>: 
		<select class="select" name="action" id="action">
			<option value="read"><?php echo $this->translate('Mark As Read')?></option>
			<option value="unread"><?php echo $this->translate('Mark As Unread')?></option>
			<option value="trash"><?php echo $this->translate('Trash')?></option>
		</select>
		<input type="submit" value="<?php echo $this->translate('Go')?>" name="submit" class="btn-submit" />
	</div>

	<?php } else if ( $this->folder == 'outbox' ) { ?>
	<table width="100%" class="maintable message-table">
		<thead>
			<tr>
				<th width="25" align="center"><input type="checkbox" id="checkall" /></th>
				<th><?php echo $this->translate('Title')?></th>
				<th><?php echo $this->translate('Sent To')?></th>
				<th><?php echo $this->translate('Date')?></th>
			</tr>
		</thead>
		<tbody>
			<?php 
			$i=0;
			if ( count($this->messages) > 0 ):
			foreach ($this->messages as $data): 
			?>
			<tr>
				<td><input type="checkbox" class="chk" name="chk[]" value="<?php echo $data['id']?>" /></td>
				<td>
					<a href="<?php echo $this->url(array('module'=>'portal','controller'=>'messages', 'action'=>($data['parent_id'] == 0 ? 'view' : 'view-thread'), 'id'=>$data['id']),'default',true);?>" class="msg">
						<?php echo $data['title']; ?>
					</a>
				</td>
				<td><?php echo $data['from_name']?></td>
				<td><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
			</tr>
			<?php endforeach; ?>
			<?php else: ?>
			<tr>
				<td colspan="4"><?php echo $this->translate('No messages in your')?> <strong><?php echo $this->folder?></strong></td>
			</tr>
			<?php endif; ?>
		</tbody>
	</table>

	<div class="opt">
		<?php echo $this->Translate('With Selected')?>: 
		<select class="select" name="action" id="action">
			<option value="read"><?php echo $this->translate('Mark As Read')?></option>
			<option value="unread"><?php echo $this->translate('Mark As Unread')?></option>
		</select>
		<input type="submit" value="<?php echo $this->translate('Go')?>" name="submit" class="btn-submit" />
	</div>
	<?php } else if ( $this->folder == 'trash' ) { ?>
	<table width="100%" class="maintable message-table">
		<thead>
			<tr>
				<th width="25" align="center"><input type="checkbox" id="checkall" /></th>
				<th><?php echo $this->translate('Title')?></th>
				<th><?php echo $this->translate('Sent By')?></th>
				<th><?php echo $this->translate('Date')?></th>
			</tr>
		</thead>
		<tbody>
			<?php 
			$i=0;
			if ( count($this->messages) > 0 ):
			foreach ($this->messages as $data): 
			?>
			<tr>
				<td><input type="checkbox" class="chk" name="chk[]" value="<?php echo $data['id']?>" /></td>
				<td>
					<a href="<?php echo $this->url(array('module'=>'portal','controller'=>'messages', 'action'=>($data['parent_id'] == 0 ? 'view' : 'view-thread'), 'id'=>$data['id']),'default',true);?>" class="msg">
						<?php echo $data['title']; ?>
					</a>
				</td>
				<td><?php echo $data['from_name']?></td>
				<td><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
			</tr>
			<?php endforeach; ?>
			<?php else: ?>
			<tr>
				<td colspan="4"><?php echo $this->translate('No messages in your')?> <strong><?php echo $this->folder?></strong></td>
			</tr>
			<?php endif; ?>
		</tbody>
	</table>

	<div class="opt">
		<?php echo $this->Translate('With Selected')?>: 
		<select class="select" name="action" id="action">
			<option value="inbox"><?php echo $this->translate('Move To Inbox')?></option>
			<option value="read"><?php echo $this->translate('Mark As Read')?></option>
			<option value="unread"><?php echo $this->translate('Mark As Unread')?></option>
		</select>
		<input type="submit" value="<?php echo $this->translate('Go')?>" name="submit" class="btn-submit" />
	</div>
	<?php } ?>
	
	</form>

	<!-- content -->
	</div>
</div>



<?php 
	echo $this->paginationControl($this->messages,'Sliding','pagination.phtml');
?>
<script type="text/javascript">
function checkForm()
{
	var total = $(".chk").length;
	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You need to select atleast one message')?>');
		return false;
	}
	

	if ( $("#action").val() == 'trash' )
	{
		if ( sure('<?php echo $this->translate('Are you sure you want to move the selected messages into Trash?')?>') == false)
		{
			return false;
		}
	}
	
	return true;
}

$(function ()
{
    $('#checkall').on('click', function () 
    {
        $('.chk').prop('checked', this.checked);
		if ( this.checked)
		{	
			$('.chk').parent().parent().addClass('hlchk');
		}
		else
		{
			$('.chk').parent().parent().removeClass('hlchk');
		}
    });

   $('.chk').on('change', function(){
	   $(this).prop('checked', this.checked);
	   if ( this.checked )
	   {
		   $(this).parent().parent().addClass('hlchk');
	   }
	   else
	   {
		   $(this).parent().parent().removeClass('hlchk');
	   }
   });
});
</script>