
<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/messages/"><?php echo $this->translate('Messages')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/messages/index/folder/<?php echo $this->folder ?>"><?php echo ucfirst($this->folder) ?></a></li>

		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<div class="messaging-wrap">
	
	<div class="messaging-content">
	
	<!-- messages -->
	<div id="messages-list">
		<!-- parent -->
		<div class="message-row <?php echo $this->studentinfo['id'] == $this->data['from_id'] ? 'student' : ''?> <?php echo $this->data['id'] == $this->id ? 'highlight' : ''?>">
			<div class="user">
				<div class="photo">
					<?php if ( $this->data['from_photo'] != '' ) { ?>
					<img src="<?php echo $this->baseUrl()?>/thumb.php?w=96&amp;s=1&f=<?php echo DOCUMENT_PATH.'/'.urlencode($this->data['from_photo'])?>" class="thumb" alt="photo" />
					<?php } else { ?>
					<span class="icon icon-user"></span>
					<?php } ?>
				</div>
			</div>
			<div class="info">
				<div class="head">
					<div class="date"><?php echo format_date_to_view($this->data['created_date'],'full'); ?></div>
					<div class="name"><?php echo $this->data['from_name']?></div>
				</div>
				<div class="message"><?php echo nl2br($this->data['message'])?></div>
			</div>
		</div>
		<!-- /parent -->

		
		<!-- replies -->
		<?php if ( !empty($this->replies) ) : ?>
		<?php foreach ( $this->replies as $reply ) : ?>
		<div class="message-row <?php echo $this->studentinfo['id'] == $reply['from_id'] ? 'student' : ''?> <?php echo $reply['id'] == $this->id ? 'highlight' : ''?>">
			<div class="user">
				<div class="photo">
					<?php if ( $reply['from_photo'] != '' ) { ?>
					<img src="<?php echo $this->baseUrl()?>/thumb.php?w=96&amp;s=1&amp;f=<?php echo DOCUMENT_PATH.'/'.urlencode($reply['from_photo'])?>" class="thumb" alt="photo" />
					<?php } else { ?>
					<span class="icon icon-user"></span>
					<?php } ?>
				</div>
			</div>
			<div class="info">
				<div class="head">
					<div class="date"><?php echo format_date_to_view($reply['created_date'],'full'); ?></div>
					<div class="name"><?php echo $reply['from_name']?></div>
				</div>
				<div class="message"><?php echo nl2br($reply['message'])?></div>
			</div>
		</div>
		<?php endforeach; ?>
		<?php endif ; ?>
		<!-- /replies -->

	</div>
	<!-- /messages -->

	
	<!-- content -->
	<?php if ( $this->canreply ) { ?>
	<h3><?php echo $this->translate('Reply')?></h3>
	<form method="post" action="" id="form_compose" onsubmit="return checkForm()">
	<?php echo $this->form->parent_id ?>
	<?php echo $this->form->to_id ?>
	<table width="100%" class="maintable">
		<tr>
			<td width="120"><?php echo $this->translate('Subject')?></td>
			<td><?php echo $this->form->title ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Message')?></td>
			<td><?php echo $this->form->message?></td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="submit" class="btn-submit" name="submit" value="<?php echo $this->translate('Reply')?>" />
			</td>
	</table>
	</form>
	<?php } ?>
	<!-- content -->
	</div>
</div>
<script type="text/javascript">
var hasadded = 0;
function addoriginal()
{
	if ( hasadded == 0)
	{
		//$("#message").val("\n\n\n\n---- Original Message ----\n\n"+$("#message").data('original'));
		hasadded = 1;
		//$("#message").setCursorPosition(0);
	}
}

$(function()
{
	$(".highlight").effect("highlight", {}, 1500);
});

$.fn.setCursorPosition = function(position){
    if(this.length == 0) return this;
    return $(this).setSelection(position, position);
};

$.fn.setSelection = function(selectionStart, selectionEnd) {
    if(this.length == 0) return this;
    input = this[0];
 
    if (input.createTextRange) {
        var range = input.createTextRange();
        range.collapse(true);
        range.moveEnd('character', selectionEnd);
        range.moveStart('character', selectionStart);
        range.select();
    } else if (input.setSelectionRange) {
        input.focus();
        input.setSelectionRange(selectionStart, selectionEnd);
    }
 
    return this;
};

//form
function checkForm()
{
	var error = 0;

	$("#form_compose .reqfield").each(function()
	{
		if ( $(this).attr("type") != 'radio' )
		{
			var field = $(this).parent().prev().html();

			var p = $(this).val();

			if ( p == '' )
			{                        
				//alert(field+" cannot be empty");
				$(this).parent().prev().addClass("req");
				$(this).focus();

				error = 1;
				//return false;
			}
			else
			{
				$(this).parent().prev().removeClass("req");
			}
		}
	});

	if ( error == 1 )
	{
		alert('Please fill in all the required fields');
		return false;
	}                


	$(window).unbind('beforeunload');

	return true;
}

</script>