<div class="clearfix">
                    <h4 class="clearfix">
                        <span class="member-float">Apply for Programme</span>
                        
                    </h4>
    <form class="uk-form uk-form-horizontal validate" method="post" action="qualificaionregister" id="membership-application"  enctype="multipart/form-data">
                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/user.svg" alt="" />
                                <h4>Select Module</h4>
                               
                            </div>
                                                                                                
                        </div>
                    </div>
                <div class="clearfix custom-tabs">

                  

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


                            <table class="table table-striped">
                    <thead>
                    <th><?php echo $this->translate('Select Module') ?></th>
                    
                    
                   
                  </thead>
                  <tr>
                    <td>
                        <?php echo $this->translate('Programme Route') ?>
                    </td>
                    <td>
                        <select type="text" class="form-control" name='program_route' id='program_route' required>
                        <option value=''>--Please Select --</option>
                        <?php
                        foreach($this->application as $list){
                            ?>
                            <option value='<?php echo $list['idDefinition']; ?>'> <?php echo $list['DefinitionDesc']; ?></option>
                        <?php } ?>
                    </select>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <?php echo $this->translate('Programme Level') ?>
                  </td>
                  <td>
                    <select type="text" class="form-control" name='program_level' id='program_level' required>
                        <option value=''>--Please Select --</option>
                        <?php
                        foreach($this->sub_qualification as $sub_list){
                            ?>
                            <option value='<?php echo $sub_list['idDefinition']; ?>'> <?php echo $sub_list['DefinitionDesc']; ?></option>
                        <?php } ?>
                    </select>
                  </td>
                  </tr>
                  <tr align=right>
                     <td colspan="3">
                        <button type="submit" name="save" class="btn btn-primary">Save & Next</button>
                        <button type="button" class="btn btn-primary" onclick="redirect('/user/dashboard')">Cancel</button>    
                    </td>
                </tr>
                </table>
                    </form>                         
                        </div>                      
                    </div>
                    
                                   
                  </div>
                </div>                    
                    
                </div>   

<script>
    $(document).ready(function() {

        display_membership_entry_requirement('<?php echo $this->membership['mr_membershipId']; ?>');

        $('#mr_membershipId').change(function(){

            var membership_id = $(this).val();
            display_membership_entry_requirement(membership_id);

        });
    });

    function display_membership_entry_requirement(membership_id){

        if(membership_id==1){

            $('#req_affiliate').show();
            $('#req_associate').hide();
            $('#req_no').hide();

        }else
        if(membership_id==2){

            $('#req_affiliate').hide();
            $('#req_associate').show();
            $('#req_no').hide();

        }else{
            $('#req_affiliate').hide();
            $('#req_associate').hide();
            $('#req_no').show();
        }
    }

    var i = 1;
    function addRow(){//alert('sinii');
        $get_lastID();
        $('#doc_table tbody').append($newRow);
        i++;

    }
    function removeRow(){
        $('#doc_table tr:last').remove();
        i--;
        var totaldoc =  $('#totaldoc').val(i-1);
        //alert(i);
    }

</script>


<script type="text/javascript">
    
    $('#membership-application').submit(function (e) {

            
 var url = '<?php echo APP_URL;?>/membership/addqualificaion/'
               
            var level = $('#program_level').val();
             var route = $('#program_route').val();
             // alert(level)
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/ajax/getbyprogram',
                    dataType :'json',
                    data:{program_level: level,program_route: route
                         },
                    success:function(response,e){
                      console.log(response)
                     
                    if(response == 0)
                    {
                       
                    }else{
                      alert('Programme Level already applied')

                       window.location.href = url; 
                    }
               


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>