<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
      
    <!-- content -->
    <div class="uk-width-medium-8-10">  
    
    <ul class="uk-breadcrumb">
    <li><a href="/"><i class="uk-icon-home"></i></a></li>
    <li><a href="/user/dashboard/tab/membership">Membership</a></li>
    <li class="uk-active"><span>New Application</span></li>
    </ul> 	
    
        <form class="uk-form uk-form-horizontal validate" method="post" id="membership-application"  enctype="multipart/form-data">
        <input type='hidden' name='mr_id' id='mr_id' value='<?php echo $this->membership['mr_id']; ?>'>
        <input type='hidden' name='mf_id' id='mf_id' value='<?php echo $this->member_fee['mf_id']; ?>'>
        	<h2><?php echo $this->translate('New Application') ?></h2>        	
        	
        			<div class="uk-form-row">
                        <label class="uk-form-label" for="membership"><?php echo $this->translate('Membership Type')?><span class="req"></span></label>
                        <div class="uk-form-controls">  

                              <select type="text" class="uk-form-width-large" name='mr_membershipId' id='mr_membershipId'>
                              	<?php 
                              	foreach($this->membership_list as $list){  
                              		if($list['m_id']==1) {                           		
                              	?>
                              	<option value='<?php echo $list['m_id']; ?>' <?php echo ($this->membership['mr_membershipId']==$list['m_id']) ? 'selected':''; ?>><?php echo $list['m_name']; ?></option>
                              	<?php } } ?>
                              </select>   
                        </div>	                       
                	</div>  
                	<!--<div class="uk-form-row">
                	 <label class="uk-form-label" for="eligibility"><?php /*echo $this->translate('Eligibility')*/?><span class="req"></span></label>
                        <div class="uk-form-controls">  
                                       
                                       
                                       <!-- affiliate
                                       <div id='req_affiliate' style='display:none'>
	                                       <label class="control-label" >
	                                          1) Individual with an acceptable qualification may apply as an Affiliate for entry to any of the following qualifications offered by the Institute:
	                                          <br>
	                                          <ul>
	                                          	<li>Executive Banker</li>
	                                            <li>Professional Banker</li>
	                                            <li>Chartered Banker</li>
	                                            <li>Certified Credit Executive</li>
	                                            <li>Retail Credit Professional</li>
	                                            <li>Business Credit Professional</li>
	                                            <li>Certified Credit Specialist</li>
	                                            <li>Certification in AML/CFT</li>
	                                            <li>Advanced Certification in AML/CFT</li>
	                                            <li>Certified Professional in AML/CFT</li>
	                                            <li>Certification in Regulatory Compliance</li>
	                                            <li>Bank Risk Management</li>
	                                          </ul>
	                                       </label>
	                                       OR<br><br>
	                                        <label class="control-label">
	                                        2)  Has passed or been granted exemption from any of the following examinations of the Institute but has not meet the conditions for admission to membership as an Associate or Chartered Banker
	                                          <br>
	                                          <ul>
                                                                            <li>Executive Banker</li>
                                                                            <li>Professional Banker</li>
                                                                            <li>Chartered Banker</li>
                                                                            <li>Certified Credit Executive</li>
                                                                            <li>Certification in AML/CFT</li>
                                                                            <li>Certification in Regulatory Compliance</li>

                                                                    </ul>
	                                       </label>
                                       </div>  
                                       
                                       
                                        <div id='req_associate' style='display:none'> 
	                                       <label class="control-label">	                                       
												Individual who has passed any of the following examinations of the Institute and completed at least 3 years of approved practical experience may apply as an Associate:
											<br>
											<ul>
                                                                            <li> Professional Banker</li>
                                                                            <li>Retail Credit Professional/Business Credit Professional</li>
                                                                            <li>Corporate Credit Specialist</li>
                                                                            <li>Advanced Certification in AML/CFT</li>
                                                                            <li>Certified Professional in AML/CFT</li>
                                                                            <li>Certified Credit Professional</li>

                                                                    </ul>
	                                       </label>
	                                     </div>  
	                                     
	                                     <div id='req_no' style='display:none'> 
	                                       <label class="control-label">	  
	                                       	<ul>
	                                       		<li>Completed the Chartered banker Qualification; AND</li>
	                                       		<li>10 years core banking work experiance</li>
	                                       	</ul>   
	                                       </label>
	                                      </div>
	                                     
                                      
                                             
                        </div>
                    </div>-->
                	
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="fee"><?php echo $this->translate('Annual Fee')?>  </label>
                        <div class="uk-form-controls">  
                              <strong>RM <?php echo number_format($this->member_fee['mf_amount'], 2, '.', ''); ?> </strong>                     
                        </div>
                    </div>	                        
                	
					<div class="uk-form-row">
                        <label class="uk-form-label" for="fee"><?php echo $this->translate('Supporting Documents'); ?></label>
                        <div class="uk-form-controls">                               
				              
				              <table id="doc_table" class="uk-table-main maintabl" width="100%">
				                <tr>
				                    <th  width="10em"><?php echo $this->translate('No.'); ?></th>
				                    <th width="300em">
				                        <?php echo $this->translate('Document Name'); ?>
				                    </th>
				                    <th  width="10em"><?php echo $this->translate('File Upload'); ?></th>
				                </tr>		
				                <?php foreach($this->document_checklist as $index=>$doc){?>		                
				                <tr>
				                	<td align='center' width='15em'><?php echo $index+1;?>.</td>
				                	<td><?php echo $doc['mrc_name']; ?></td>
				                	<td>
				                	<?php if (isset($doc['mrd_name']) && $doc['mrd_name']!='') { ?>
				                		<?php echo isset($doc['mrd_name']) ? "<a href='#'>".$doc['mrd_name']."</a>":'';?>
				                	<?php }else{ ?>
				                		<input id="mrc_id<?php echo $doc['mrc_id'];?>" name="mrc_id<?php echo $doc['mrc_id'];?>" type="file">
				                	<?php } ?>
				                	</td>				                	
				                </tr>
				                <?php } ?>
				            </table> 
				            
				              <!--<table id="doc_table" class="uk-table-main maintabl" width="100%">
				                <tr>
				                    <th  width="10em"><?php echo $this->translate('No.'); ?></th>
				                    <th width="300em">
				                        <?php echo $this->translate('Document Name'); ?>
				                    </th>
				                    <th  width="50em">
				                        <button type="button" class="uk-button uk-button-primary" onclick="addRow();">
				                            <?php echo $this->translate('+'); ?>
				                        </button>
				                        <button type="button" class="uk-button uk-button-primary" onclick="removeRow();">
				                            <?php echo $this->translate('-'); ?>
				                        </button>				
				                    </th>
				                    <input id="totaldoc" type="hidden" value="">
				                </tr>
				                <tr><td colspan="3"><input id="file0" name="file0" type="file" class=""></td></tr>
				            </table>         
                        	-->
                        </div>
                        <br>
                        
                        		

                    </div>
                                    	
            		
	              <div class="uk-form-row">
                <button type="submit" name="save" class="uk-button uk-button-primary">Save & Next</button>
                <button type="button" class="uk-button" onclick="redirect('/user/dashboard/tab/declaration')">Cancel</button>
             </div>
                
        </form>        
        
     </div>
</div>

<script>
$(document).ready(function() {	    

		display_membership_entry_requirement('<?php echo $this->membership['mr_membershipId']; ?>');
	
		$('#mr_membershipId').change(function(){

			 var membership_id = $(this).val();
			 display_membership_entry_requirement(membership_id);
		   
		});
});

function display_membership_entry_requirement(membership_id){
	   
	   if(membership_id==1){
		   
		   $('#req_affiliate').show();
		   $('#req_associate').hide();
		   $('#req_no').hide();
		   
	   }else
	   if(membership_id==2){
		   
		   $('#req_affiliate').hide();
		   $('#req_associate').show();
		   $('#req_no').hide();
		   
	   }else{	
		   $('#req_affiliate').hide();
		   $('#req_associate').hide();
		   $('#req_no').show();
	   } 
}

var i = 1;
function addRow(){//alert('sinii');
    $get_lastID();
    $('#doc_table tbody').append($newRow);
    i++;

}
function removeRow(){
    $('#doc_table tr:last').remove();
    i--;
    var totaldoc =  $('#totaldoc').val(i-1);
    //alert(i);
}

$get_lastID = function(){
    var id = $('#doc_table tr:last-child td:first-child input').attr("name");
    var totaldoc =  $('#totaldoc').val(i);
    //totaldoc =i;
    //var lastChar = parseInt(id.substr(id.length - 2), 10);
   // lastChar = lastChar + 1;
    //alert(i);

    $newRow = "<tr> \
                    <td colspan='3' align='left'><input type='file' name='file'+i id='file'+i/></td> \
                   </tr>";
    return $newRow;


}
</script>