<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
    <!-- content -->
    <div class="uk-width-medium-8-10">   	
    
    <ul class="uk-breadcrumb">
    	<li><a href="/"><i class="uk-icon-home"></i></a></li>
    	<li><a href="/user/dashboard/tab/membership">Membership</a></li>
    	<li><a href="/membership/apply/mr_id/<?php echo $this->mr_id; ?>">New Application</a></li>
    	<li class="uk-active"><span>Declaration</span></li>
    </ul> 
    
        <form class="uk-form uk-form-horizontal validate" method="post" id="membership-application"  enctype="multipart/form-data">
        <input type='hidden' name='mr_id' id='mr_id' value='<?php echo $this->membership['mr_id']; ?>'>        
        <input type='hidden' name='at_trans_id' id='at_trans_id' value='<?php echo $this->membership['mr_transaction_id']; ?>'>
        	<h2><?php echo $this->translate('Membership Declaration') ?></h2>        	
        	  <div class="uk-form-row">
        	   												<div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="The HasBankrupcy field is required." id="d_bankruptcy" name="d_bankruptcy" value="true" type="checkbox">
                                                                     I am clear from any bankruptcy order made by the Court
                                                                </label>
                                                            </div>
        	  </div> 
        	  
        	   <div class="uk-form-row">
        	   					  <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="" id="d_desciplinary" name="d_desciplinary" value="true" type="checkbox">
                                                                      I have never been subject to disciplinary proceedings by professional body or association.
                                                                </label>
                                                            </div>							
        	  </div>  
        	  
        	    <div class="uk-form-row">
        	   					 <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="" id="d_professional_denial" name="d_professional_denial" value="true" type="checkbox">
                                                                    I have never been denied membership of a professional body or association.
                                                                </label>
                                                            </div>							
        	  </div>  
        	  
        	  
        	    <div class="uk-form-row">
        	   			<div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="" id="d_rules_regulations" name="" value="true" type="checkbox">
                                                                    
                                                                    I undertake that, if admitted as a member, I shall be bound by the <a href="http://aicb.org.my/membership/overview" target="_blank">Rules and Regulations </a>  of the Asian Institute of Chartered Bankers.
                                                                    
                                                                </label>
                                                            </div>									
        	  </div>  
        	  
        	  
        	    <div class="uk-form-row">
        	   							 <div class="checkbox">
                                                                <label>
                                                                    <input data-val="true" data-val-booleanrequired="Required" data-val-required="" id="d_pdpa_approval" name="d_pdpa_approval" value="true" type="checkbox">
                                                                 
                                                                    "Asian Institute of Chartered Bankers" shall ensure that the collection, use and disclosure of your personal data are consistent with the
                                                                    Malaysian Personal Data Protection Act 2010(" <u><a href="#">PDPA</a></u> "). I acknowledge that the personal data collected and processed is obtained voluntarily
                                                                    with my consent.
                                                                </label>
                                                            </div>					
        	  </div>       			
                
             <div class="uk-form-row">
                <button type="submit" name="submit-btn" id='submit-btn' class="uk-button uk-button-primary">Submit</button>
                <button type="button" class="uk-button" onclick="redirect('/membership/apply/mr_id/<?php echo $this->mr_id; ?>')">Back</button>
             </div>
                
        </form>        
        
     </div>
</div>

<script>
$(document).ready(function() {	    

	$( "#membership-application" ).submit(function( event ) {


		 // event.preventDefault();
		  
		 // var msg = confirm('Are you sure you want to submit this application?');

		 // if(msg){
			  return true;
		 // }
		});
});
</script>