
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="clearfix">
                    <h4 class="clearfix">
                        <span class="member-float">Membership Details</span>
                        <div class="member-group">
                            

                           <!--  <a href="<?php echo $this->baseUrl() ?>/membership/pay-renewal/mr_id/<?php echo $this->application["mr_id"]; ?>">
                            <button class="btn btn-primary" type="button">Renewal</button>

                              </a> -->
                               <?php if($this->getMember['renew_member'] != 2 ):?>
                               <a href="<?php echo $this->baseUrl() ?>/membership/pay-renewal/mr_id/<?php echo $this->application["mr_id"]; ?>">

                            <button class="btn btn-inverse" type="button">Renewal</button>  </a>
                              <?php else:?>
                            
                             <a href="#">

                            <button class="btn btn-inverse" type="button">Renewal</button>  </a>
                        <?php endif;?>
                            <!--   <?php if($this->getMember['upgrade_member'] ==1648):?>
                                <a href="#">

                            <button class="btn btn-inverse" type="button">Upgrade</button>  </a>
                              <?php else:?>
                            <a href="<?php echo $this->baseUrl() ?>/membership/upgrade-membership/mr_id/<?php echo $this->application["mr_id"]; ?>">

                            <button class="btn btn-inverse" type="button">Upgrade</button>  </a>
                        <?php endif;?> -->
                        </div>
                    </h4>
                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/user.svg" alt="" />
                                <p>Membership Name</p>
                                <h4><?php echo $this->application['member_name'];?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/refresh.svg" alt="" />
                                <p>Membership Status</p>
                            <h4><?php echo $this->application["mr_status"]; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/confirm-schedule.svg" alt="" />
                                <p>Activation Date</p>
                                <h4><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])) : '-'; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/calendar.svg" alt="" />
                                <p>Expiry Date</p>
                                <h4><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])) : '-'; ?></h4>
                            </div>                                                                                    
                        </div>
                    </div>
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Renew</a></li>
                    <!-- <li role="presentation"><a href="#tabTwo" aria-controls="tabTwo" role="tab" data-toggle="tab">Upgrade</a></li> -->
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


                            <table class="table table-striped">
                    <thead>
                    <th><?php echo $this->translate('Renew Membership') ?></th>
                    <th><?php echo $this->translate('Activated Date') ?></th>
                    <th><?php echo $this->translate('Expiry Date') ?></th>
                    <th><?php echo $this->translate('Date Apply') ?></th>
                   
                    <!-- <th><?php echo $this->translate('Renewal Period') ?></th> -->
                    <th><?php echo $this->translate('Status') ?></th>
                    <!-- <th><?php echo $this->translate('Action') ?></th> -->
                    </thead>
                    <?php
                   
                    if(count($this->renew_list)>0){
                    foreach ($this->renew_list as $application){
                    ?> 
                    <tr>
                        <td><?php echo $application["MembershipName"]; ?></td> 
                        <td><?php echo (isset($application["prev_reg_date"])) ? date('d-m-Y', strtotime($application["prev_reg_date"])):'-'; ?></td>
                        <td><?php echo (isset($application["prev_expiry_date"])) ? date('d-m-Y', strtotime($application["prev_expiry_date"])):'-'; ?></td>                       
                        <td><?php echo (isset($application["ma_submit_date"])) ? date('d-m-Y', strtotime($application["ma_submit_date"])):'-'; ?></td>
                       <!--  <td>1 Year</td> -->
                        <td><?php echo $application["status"]; ?></td>
                        <td>
                            <?php 
                            if($application["ma_status_id"]==1616){
                                echo '<a href="/membership/pay-upgrade/id/'.$application["ma_id"].'">Pay</a>';
                            }?>
                        </td>                            
                    </tr>
                    <?php }
                    }else {
                     echo '<tr><td colspan=5>No records found.</td></tr>';
                    }?>
                </table>
                                             
                        </div>                      
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabTwo">
                        <div class="table-responsive">
                            <table class="table table-striped">
                              
                    <thead>
                    <th><?php echo $this->translate('Upgrade Membership') ?></th>
                    
                    <th><?php echo $this->translate('Date Apply') ?></th>
                    <th><?php echo $this->translate('Date Approve') ?></th>
                    <th><?php echo $this->translate('Date Activation') ?></th>
                    <th><?php echo $this->translate('Status') ?></th>
                    <!-- <th><?php echo $this->translate('Action') ?></th> -->
                    </thead>
                    <?php
                    if(count($this->upgrade_list)>0){
                        // echo '<pre>';
                        // print_r($this->upgrade_list);
                        // die();
                    foreach ($this->upgrade_list as $application){
                    ?> 
                    <tr>
                        <td><?php echo $application["MembershipName"]; ?></td>  
                        
                        <td><?php echo (isset($application["ma_submit_date"])) ? date('d-m-Y', strtotime($application["ma_submit_date"])):'-'; ?></td>
                        <td><?php echo (isset($application["prev_reg_date"])) ? date('d-m-Y', strtotime($application["prev_reg_date"])):'-'; ?></td>
                        <td><?php echo (isset($application["prev_expiry_date"])) ? date('d-m-Y', strtotime($application["prev_expiry_date"])):'-'; ?></td>
                       
                        <td><?php echo $application["status"]; ?></td>
                        <td>
                            <?php 
                            if($application["ma_status_id"]==1616){
                                echo '<a href="/membership/pay-upgrade/id/'.$application["ma_id"].'">Pay</a>';
                            }?>
                        </td>                            
                    </tr>
                    <?php }
                    }else {
                     echo '<tr><td colspan=5>No records found.</td></tr>';
                    }?>
                </table>
                        </div>                                                                         
                    </div>                    
                  </div>
                </div>                    
                    
                </div> 
    <script type="text/javascript">
        
    </script>  