<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>


    <!-- content -->
    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/user/dashboard/tab/membership">Membership</a></li>
            <li class="uk-active"><span>New Application</span></li>
        </ul>

        <form class="uk-form uk-form-horizontal validate" method="post" id="membership-application"  enctype="multipart/form-data">
            <h2><?php echo $this->translate('New Application') ?></h2>

            <div class="uk-form-row">
                <label class="uk-form-label" for="membership"><?php echo $this->translate('Membership Type')?><span class="req"></span></label>
                <div class="uk-form-controls">
                    <select type="text" class="uk-form-width-large" name='mr_membershipId' id='mr_membershipId'>
                        <option value=''>--Please Select --</option>
                        <?php
                        foreach($this->membership_list as $list){
                            ?>
                            <option value='<?php echo $list['m_id']; ?>' <?php echo ($this->membership['mr_membershipId']==$list['m_id']) ? 'selected':''; ?>><?php echo $list['m_name']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="eligibility"><?php echo $this->translate('Eligibility')?><span class="req"></span></label>
                <div class="uk-form-controls">


                    <!-- affiliate -->
                    <div id='req_affiliate' style='display:none'>
                        <label class="control-label" >
                            1) Individual with an acceptable qualification may apply as an Affiliate for entry to any of the following qualifications offered by the Institute:
                            <br>
                            <ul>
                                <li>Executive Banker</li>
                                <li>Professional Banker</li>
                                <li>Chartered Banker</li>
                                <li>Certified Credit Executive</li>
                                <li>Retail Credit Professional</li>
                                <li>Business Credit Professional</li>
                                <li>Certified Credit Specialist</li>
                                <li>Certification in AML/CFT</li>
                                <li>Advanced Certification in AML/CFT</li>
                                <li>Certified Professional in AML/CFT</li>
                                <li>Certification in Regulatory Compliance</li>
                                <li>Bank Risk Management</li>
                            </ul>
                        </label>
                        OR<br><br>
                        <label class="control-label">
                            2)  Has passed or been granted exemption from any of the following examinations of the Institute but has not meet the conditions for admission to membership as an Associate or Chartered Banker
                            <br>
                            <ul>
                                <li>Executive Banker</li>
                                <li>Professional Banker</li>
                                <li>Chartered Banker</li>
                                <li>Certified Credit Executive</li>
                                <li>Certification in AML/CFT</li>
                                <li>Certification in Regulatory Compliance</li>

                            </ul>
                        </label>
                    </div>


                    <div id='req_associate' style='display:none'>
                        <label class="control-label">
                            Individual who has passed any of the following examinations of the Institute and completed at least 3 years of approved practical experience may apply as an Associate:
                            <br>
                            <ul>
                                <li> Professional Banker</li>
                                <li>Retail Credit Professional/Business Credit Professional</li>
                                <li>Corporate Credit Specialist</li>
                                <li>Advanced Certification in AML/CFT</li>
                                <li>Certified Professional in AML/CFT</li>
                                <li>Certified Credit Professional</li>

                            </ul>
                        </label>
                    </div>

                    <div id='req_no' style='display:none'>
                        <label class="control-label">
                            <ul>
                                <li>Completed the Chartered banker Qualification; AND</li>
                                <li>10 years core banking work experiance</li>
                            </ul>
                        </label>
                    </div>



                </div>
            </div>

            <div class="uk-form-row">
                <button type="submit" name="save" class="uk-button uk-button-primary">Save & Next</button>
                <button type="button" class="uk-button" onclick="redirect('/user/dashboard/tab/membership')">Cancel</button>
            </div>

        </form>

    </div>
</div>

<script>
    $(document).ready(function() {

        display_membership_entry_requirement('<?php echo $this->membership['mr_membershipId']; ?>');

        $('#mr_membershipId').change(function(){

            var membership_id = $(this).val();
            display_membership_entry_requirement(membership_id);

        });
    });

    function display_membership_entry_requirement(membership_id){

        if(membership_id==1){

            $('#req_affiliate').show();
            $('#req_associate').hide();
            $('#req_no').hide();

        }else
        if(membership_id==2){

            $('#req_affiliate').hide();
            $('#req_associate').show();
            $('#req_no').hide();

        }else{
            $('#req_affiliate').hide();
            $('#req_associate').hide();
            $('#req_no').show();
        }
    }

    var i = 1;
    function addRow(){//alert('sinii');
        $get_lastID();
        $('#doc_table tbody').append($newRow);
        i++;

    }
    function removeRow(){
        $('#doc_table tr:last').remove();
        i--;
        var totaldoc =  $('#totaldoc').val(i-1);
        //alert(i);
    }

</script>