<div class="uk-grid">

 
    <!-- content -->
    <div class="uk-width-medium-8-10">   
    
    <ul class="uk-breadcrumb">
    <li><a href="/"><i class="uk-icon-home"></i></a></li>
    <li><a href="/user/dashboard/tab/membership">Membership</a></li>
    <li class="uk-active"><span>Pay</span></li>
    </ul>
    
    	<h2><?php echo $this->translate('Membership Upgrade Application Details') ?></h2>    
    	
    	<form class="uk-form uk-form-horizontal validate" method="post" id="pay-membership"  enctype="multipart/form-data">
    	
	    	<table class="uk-table" width="100%">
	    	  	<tr>
	        		<th width='30%'><?php echo $this->translate('Membership Name'); ?></th>
	        		<td><?php echo $this->application["MembershipName"]; ?></td>
	        	</tr>
	        	<tr>
	        		<th><?php echo $this->translate('Application Status'); ?></th>
	        		<td><?php echo $this->application["ma_status"]; ?></td>
	        	</tr> 
	        	<tr>
	        		<th><?php echo $this->translate('Annual Fee'); ?></th>
	        		<td>RM <?php echo number_format($this->fee['mf_amount'], 2, '.', ''); ?></td>
	        	</tr>   
	        	<tr>
	        		<th><?php echo $this->translate('Submit Date'); ?></th>
	        		<td><?php echo (isset($this->application["ma_submit_date"])) ? date('d-m-Y', strtotime($this->application["ma_submit_date"])):'-'; ?></td>
	        	</tr>  
	        	<tr>
	        		<th><?php echo $this->translate('Approve Date'); ?></th>
	        		<td><?php echo (isset($this->application["ma_approve_date"])) ? date('d-m-Y', strtotime($this->application["ma_approve_date"])):'-'; ?></td>
	        	</tr>     
	    	 </table>
         
    	</form> 
    	 
    	 
    <!-- Payment -->	 
    	
    	<form id="pay-form'" name='pay-form' method='post'>

    	<input type='hidden' name='ma_id' id='ma_id' value='<?php echo $this->application['ma_id']; ?>'>
    	<input type='hidden' name='ma_prev_mrid' id='ma_prev_mrid' value='<?php echo $this->application['ma_prev_mrid']; ?>'>
            <table class="uk-table uk-table-stacked uk-table-main">
                <tr>
                    <th></th>
                    <th><strong><?php echo $this->translate('Payment Mode') ?></strong></th>
                    <th width="10%"><strong><?php echo $this->translate('Service Fees'); ?></strong></th>
                    <th width="10%"><strong><?php echo $this->translate('Net Amount'); ?></strong></th>
                </tr>
                <?php
                //$this->paymentmodelist = array("description"=>"Credit Card (MIGS)","description"=>"FPX");
                //pr($this->paymentmodelist);
                foreach ( $this->paymentmodelist as $payment ): ?>
                    <?php //$cur_code = $payment['cur_code']; ?>
                    <tr>
                        <td width="2px" >
                            <input type="radio" id="payment_mode" name="payment_mode" class="payment_mode" value="<?php echo $payment['IdPaymentMode']; ?>"/>
                            <input type="hidden" name="payment_amount" id="payment_amount" value="<?php echo number_format($this->fee['mf_amount'], 2, '.', ''); ?>">
                        </td>
                        <td><?php echo $payment['description']; ?></td>   
                        <td></td>                           
                        <td align="right" class="net_amount_with_fees">
                            RM <?php echo number_format($this->fee['mf_amount'], 2, '.', ''); ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
       <table class="uk-table infotable maintable">
            <tr>
                <td>    	  
		    	  <div align="right">
		    	  	 
		    	  	 <a href="/membership" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
		    	  	 
		    	  	 	
                            <?php
                            $data = array(
                                'token'    => Cms_Common::token(),
                                'ma_id'    => $this->ma_id
                            );
                            $hash = Cms_Common::encrypt(json_encode($data));
                            //echo $payment_url = $this->baseUrl() .'/membership/checkout-mode/i/' . $hash;


							?>
			          <a id="payment-btn" href="#">
			          	<button type="submit" class="uk-button uk-button-primary" id="pay-button" onclick="validateForm();">
			          	<i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Proceed to Payment'); ?>
			          	</button>
			          </a>
					
		           </div>		             
				</td>
            </tr>
        </table>
        </form>
    </div>
    
 </div>
 
 <script>
     function validateForm() {
         if ( !$('.payment_mode:checked').length ) {
             alert('Please select Payment Mode');
             return false;
         } else {
             form=document.getElementById('pay-form');
             //form.action='/register/checkout-modedemo/progNameId/<?php //echo $this->progNameId?>/memid/<?php //echo $this->memid?>';
             form.action='/membership/pay-upgrade';
             form.submit();
         }
     }
 </script>