     <form class="uk-form uk-form-horizontal validate" method="post" id="renewal"  action ="" enctype="multipart/form-data">
                    <h4 class="clearfix">
                        <span class="member-float">Membership Details</span>
                        <div class="member-group">
         
                           <!--  <a href="<?php echo $this->baseUrl() ?>/membership/pay-renewal/mr_id/<?php echo $this->application["mr_id"]; ?>">
                            <button class="btn btn-primary" type="button">Renewal</button>
                              </a>
                            <a href="<?php echo $this->baseUrl() ?>/membership/upgrade-membership/mr_id/<?php echo $this->application["mr_id"]; ?>">
                            <button class="btn btn-inverse" type="button">Upgrade</button>  </a> -->
                        </div>
                    </h4>
                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/user.svg" alt="" />
                                <p>Membership Name</p>
                                <h4><?php echo $this->getMember['member_name'];?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/refresh.svg" alt="" />
                                <p>Membership Status</p>
                            <h4><?php echo $this->application["mr_status"]; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/confirm-schedule.svg" alt="" />
                                <p>Activation Date</p>
                                <h4><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])) : '-'; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/calendar.svg" alt="" />
                                <p>Expiry Date</p>
                                <h4><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])) : '-'; ?></h4>
                            </div>                                                                                    
                        </div>
                    </div>
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Renewal Info:</a></li>
                    
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


        <table class="table table-striped">                <tr>
<td><label class="uk-form-label" for="renewal-fee"><?php echo $this->translate('Annual Fee')?> (RM)</label></td>
                                        <td>
        <select class="form-control" id="renewal_year" name="renewal_year">
             <option>--Please Select--</option>
            <?php foreach($this->yearLists as $List ):?>

            <option value="<?php echo $List['idDefinition'];?>"><?php echo $List['DefinitionDesc'];?></option>
        <?php endforeach;?>
        </select>
                                    </td>
                                    </tr>
                   <tr>
             <td> <label class="uk-form-label" for="renewal-fee"><?php echo $this->translate('Annual Fee')?> (RM)</label></td>
                                            <td>
               <input type="text"  id="renew_fee" name="renew_fee"  class="form-control" readonly >
                                        </td>
                                        </tr>
                                    <tr align=right>
                                        <td colspan="3">
                                            <button type="submit" class="btn btn-secondary" id="pay-button"><a href="/membership" ><?php echo $this->translate('Back')?></a></button>
                                            &nbsp

                       <button type="submit" class="btn btn-primary">Proceed to Payment</button>                     
                              </td>
                                    </tr>
                            </table>
                                             
                        </div>                      
                    </div>
                                    
                  </div>
                </div>                    
                    
                </div>   
</form>

<script type="text/javascript">
 
    $(document).ready(function () {
        $("#renewal_year").change(function(){

            var memberId = <?php echo $this->getMember['id_member'];?>;
           
    var subId = <?php echo $this->getMember['id_member_subtype'];?>;
    var renewal_year = $("#renewal_year").val();
    var id = parseInt(<?php echo $this->getMember['id'];?>);
  // alert(renewal_year)



 
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/ajax/getfee',
                    dataType :'json',
                    data:{member_id : memberId,sub: subId,year:renewal_year,id:id
                         },
                    success:function(response){
                    
                        
                    if(response[0]['sum'] == undefined){
                        response[0]['sum'] = 0;
                    }

                    $("#renew_fee").val(response[0]['sum']);                           
                   },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    })
});
</script>
