<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>

    <!-- content -->
    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/membership">Membership</a></li>
            <li class="uk-active"><span>Reinstatement</span></li>
        </ul>

        <h2><?php echo $this->translate('Pay Renewal') ?></h2>


        <table class="uk-table" width="100%">
            <tr>
                <th><?php echo $this->translate('Membership Name'); ?></th>
                <td><?php echo $this->application["MembershipName"]; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Membership Status'); ?></th>
                <td><?php echo $this->application["mr_status"]; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Annual Fee'); ?></th>
                <td>RM <?php echo number_format($this->renew_fee['mf_amount'], 2, '.', ''); ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Activation Date'); ?></th>
                <td><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Expiry Date'); ?></th>
                <td><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?></td>
            </tr>
        </table>

        <form class="uk-form uk-form-horizontal validate" method="post" id="renewal"  enctype="multipart/form-data">

            <div class="uk-form-row">
                <h4><?php echo $this->translate('Renewal Info') ?>:</h4>
                <label class="uk-form-label" for="renewal-period"><?php echo $this->translate('Renewal Period')?><span class="req"></span></label>
                <div class="uk-form-controls">
                    <select class="uk-form-width-large" id="mr_renew_period" name="mr_renew_period" onchange="calculatepay(this.value)">
                        <option value=''>--Please Select--</option >
                        <option value="1" <?php echo ($this->renewal_period==1) ? 'selected':'';?>> 1 Year </option>
                        <option value="2" <?php echo ($this->renewal_period==2) ? 'selected':'';?>> 2 Year </option>
                    </select>
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="renewal-fee"><?php echo $this->translate('Annual Fee')?> (RM)</label>
                <div class="uk-form-controls">
                    <input type="text"  id="renew_fee" name="renew_fee"  class="uk-form-width-large" readonly value="<?php echo $renewal = number_format($this->renew_fee['mf_amount'], 2, '.', ''); ?>" />
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="arrears_fee-fee"><?php echo $this->translate('Arrears Fee')?> (RM)</label>
                <div class="uk-form-controls">
                    <input type="text"  id="arrears_fee" name="arrears_fee"  class="uk-form-width-large" readonly value="<?php echo $arrears = number_format($this->arrears_fee, 2, '.', ''); ?>" />
                </div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="total-renewal-fee"><?php echo $this->translate('Total Fee')?> (RM)</label>
                <div class="uk-form-controls">
                    <input type="text"  id="mr_renew_fee" name="mr_renew_fee"  class="uk-form-width-large" readonly value="<?php echo $renewal+$arrears;?>" />
                </div>
            </div>

            <input type='hidden' name='mr_id' id='mr_id' value='<?php echo $this->application['mr_id']; ?>'>
            <input type='hidden' name='m_id' id='m_id' value='<?php echo $this->application['mr_membershipId']; ?>'>
            <input type='hidden' name='mf_id' id='mf_id' value='<?php echo $this->renew_fee['mf_id']; ?>'>
            <table class="uk-table infotable">
                <tr>
                    <td>
                        <div align="right">
                            <a href="/membership" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>


                            <?php
                            $data = array(
                                'token'    => Cms_Common::token(),
                                'mr_id'    => $this->mr_id
                            );
                            $hash = Cms_Common::encrypt(json_encode($data));
                            $payment_url = $this->baseUrl() .'/membership/checkout-mode/i/' . $hash;
                            ?>

                            <a id="payment-btn" href="<?php echo $payment_url; ?>">
                                <button type="submit" class="uk-button uk-button-primary" id="pay-button">
                                    <i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Proceed to Payment'); ?>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <!-- Payment -->

    </div>

</div>

<script type="text/javascript">
    $( document ).ready(function() {

        var renew_period = '<?php echo  $this->renewal_period; ?>';
        calculatepay(renew_period);
    });


    function  calculatepay(mr_renew_period) {
        //var renew_fee = $('#renew_fee').val();
        //var arrears_fee = $('#arrears_fee').val();

        var renew_fee = parseInt($('#renew_fee').val());
        var arrears_fee = parseInt($('#arrears_fee').val());

        var totalpayment = renew_fee*mr_renew_period;
        var total_fee = totalpayment + arrears_fee;




        total_fee = parseFloat(Math.round(total_fee * 100) / 100).toFixed(2);

        $('#mr_renew_fee').val(total_fee);
    }
</script>