<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
    <!-- content -->
    <div class="uk-width-medium-8-10">   
    
    <ul class="uk-breadcrumb">
    <li><a href="/"><i class="uk-icon-home"></i></a></li>
    <li><a href="/user/dashboard/tab/membership">Membership</a></li>
    <li class="uk-active"><span>Pay</span></li>
    </ul>
    
    	<h2><?php echo $this->translate('Membership Application Details') ?></h2>    
    	
    	<form class="uk-form uk-form-horizontal validate" method="post" id="pay-membership"  enctype="multipart/form-data">
    	
	    	<table class="uk-table" width="100%">
				<?php if( $this->application["mr_registrationId"]){ ?>
				<tr>
					<th width='30%'><?php echo $this->translate('Membership ID'); ?></th>
					<td><b><?php echo $this->application["mr_registrationId"]; ?></b></td>
				</tr>
				<?php }?>
	    	  	<tr>
	        		<th width='30%'><?php echo $this->translate('Membership Name'); ?></th>
	        		<td><?php echo $this->application["MembershipName"]; ?></td>
	        	</tr>
	        	<tr>
	        		<th><?php echo $this->translate('Application Status'); ?></th>
	        		<td><?php echo $this->application["mr_status"]; ?></td>
	        	</tr> 
	        	<tr>
	        		<th><?php echo $this->translate('Annual Fee'); ?></th>
	        		<td>RM <?php echo number_format($this->member_fee['mf_amount'], 2, '.', ''); ?></td>
	        	</tr>   
	        	<tr>
	        		<th><?php echo $this->translate('Submit Date'); ?></th>
	        		<td><?php echo (isset($this->application["mr_submit_date"])) ? date('d-m-Y', strtotime($this->application["mr_submit_date"])):'-'; ?></td>
	        	</tr>  
	        	<tr>
	        		<th><?php echo $this->translate('Approve Date'); ?></th>
	        		<td><?php echo (isset($this->application["mr_approve_date"])) ? date('d-m-Y', strtotime($this->application["mr_approve_date"])):'-'; ?></td>
	        	</tr>     	
	        	<tr>
	        		<th><?php echo $this->translate('Activation Date'); ?></th>
	        		<td><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?></td>
	        	</tr>
	        	<tr>
	        		<th><?php echo $this->translate('Expiry Date'); ?></th>
	        		<td><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?></td>
	        	</tr>
	    	 </table>
         
    	</form> 
    	 
    	 
    <!-- Payment -->	 
    	
    	<form id="pay-form'" name='pay-form' method='post'>

		<?php if(strtoupper($this->application["mr_status"]) != "ACTIVE"){ ?>
    	<input type='hidden' name='mr_id' id='mr_id' value='<?php echo $this->application['mr_id']; ?>'>
            <table class="uk-table uk-table-stacked uk-table-main">
                <tr>
                    <th colspan="2"><strong><?php echo $this->translate('Payment Mode') ?></strong></th>
                    <th width="10%"><strong><?php echo $this->translate('Service Fees'); ?></strong></th>
                    <th width="10%"><strong><?php echo $this->translate('Net Amount'); ?></strong></th>
                </tr>
                <?php
                //$this->paymentmodelist = array("description"=>"Credit Card (MIGS)","description"=>"FPX");
                //pr($this->paymentmodelist);
                foreach ( $this->paymentmodelist as $payment ): ?>
                    <?php //$cur_code = $payment['cur_code']; ?>
                    <tr>
                        <td width="2px">
                            <input type="radio" id="payment_mode" name="payment_mode" class="payment_mode" value="<?php echo $payment['IdPaymentMode']; ?>"/>
                            <input type="hidden" name="payment_amount" id="payment_amount" value="<?php echo number_format($this->member_fee['mf_amount'], 2, '.', ''); ?>">
                            <input type="hidden" name="foc_<?php //echo $payment['id']; ?>" id="foc_<?php //echo //$payment['id']; ?>" value="<?php //echo $payment['foc'] ?>">

                        </td>
                        <td><?php echo $payment['description']; ?>
                            <?php //if ($payment['fees_type'] == 2): ?>
                            <!-- (with 2% Service Charges)-->
                            <?php //endif; ?>

                        </td>
                        <td align="right"><?php //echo $cur_code; ?><?php //echo number_format($payment['fees_display_amount'], 2); ?></td>
                        <td align="right" class="net_amount_with_fees">


                            RM <?php echo number_format($this->member_fee['mf_amount'], 2, '.', ''); ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <?php ?>
                <input type="hidden" name="txnid" id="txnid" value="<?php echo $this->txnid ?>">

            </table>
       <table class="uk-table infotable maintable">
            <tr>
                <td>    	  
		    	  <div align="right">
		    	  	 
		    	  	 <a href="/user/dashboard/tab/membership" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
		    	  	 
		    	  	 	
                            <?php
                            $data = array(
                                'token'    => Cms_Common::token(),
                            	'm_id'	   => $this->application['m_id'],
                                'mr_id'    => $this->mr_id
                            );
                            $hash = Cms_Common::encrypt(json_encode($data));
                            //echo $payment_url = $this->baseUrl() .'/membership/checkout-mode/i/' . $hash;


							?>
			          <a id="payment-btn" href="#">
			          	<button type="submit" class="uk-button uk-button-primary" id="pay-button" onclick="validateForm();">
			          	<i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Proceed to Payment'); ?>
			          	</button>
			          </a>
					  <?php }?>
		           </div>		             
				</td>
            </tr>
        </table>
        </form>
    </div>
    
 </div>
 
 <script>
     function validateForm() {
         if ( !$('.payment_mode:checked').length ) {
             alert('Please select Payment Mode');
             return false;
         } else {
             form=document.getElementById('pay-form');
             //form.action='/register/checkout-modedemo/progNameId/<?php //echo $this->progNameId?>/memid/<?php //echo $this->memid?>';
             form.action='/membership/pay-membership';
             form.submit();
         }
     }
 </script>