<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/moment/moment.min.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.print.css', 'print');
?>
<style type="text/css">
    .enrollexam-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .enrollexam-caret {
        margin-left: -2px;
    }

    .enrollexam-caret li > a {
        padding: 0 15px;
    }



#scroll_div
{
    overflow: hidden;
     width: 280px; 
     height: 400px;
     padding :0;
}


#scroll_div ul li 
{
    list-style: none;
    text-decoration: none;
    padding: 5px;

}

#scroll_div  a 
{
 
     background-color: #62A8D1;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;

    border-radius: 2px;
}

#scroll_div p
{
    font-size: 15px;
    font-weight: bold;
    padding-left: 60px;
}




#scroll_div1
{
    overflow: hidden;
     width: 220px; 
     height: 400px;
}


#scroll_div1 ul li 
{
    list-style: none;
    text-decoration: none;
    padding: 5px;

}

#scroll_div1  a 
{
 
     background-color: #62A8D1;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;

    border-radius: 2px;
}

#scroll_div1 p
{
    font-size: 15px;
    font-weight: bold;
    padding-left: 100px;
}



</style>


<!-- <?php
$membership_flag = true;
$qualification_flag = true;
$exam_flag = true;
$cpd_flag = true;
?> -->


    <div class="uk-grid">

    <div class="uk-width-medium-7-10">

    <h2>Home</h2>

    <?php echo $this->partial('/user/partials/progress_track.phtml', 'default', array(
                'myApplication' => $this->myApplication,
                'membership' => $this->membership
                )); ?>
    
        <br>
        <?php //if(isset($this->membership[0]['idDefinition'])) { if($this->membership[0]['idDefinition']!=1607){ ?>
    <h3>Payment</h3>
        <?php //}} ?>
    <hr>
   
           <a id = "opener">Click here for offline Payment Proof</a>

          
            <a id = "online">Click here for online Payment Proof</a>

       

        <br>
        
        <h3><?php echo $this->translate('Payment') ?></h3>
        <hr>

        <!-- content -->
        <?php $total = 0; ?>
        <?php if (count($this->announcements) > 0) { ?>

            <article class="uk-comment">
                <header class="uk-comment-header">

                    <?php foreach ($this->announcements as $list) { ?>

                        <?php $total++; ?>

                        <div class="description uk-panel uk-panel-box uk-panel-alt uk-margin-bottom <?php echo $specific_group ?>-div">
                            <div class="uk-float-right">
                                <!-- group -->
                                <i class="uk-icon-globe" data-uk-tooltip title="<?php echo $this->translate('General announcement') ?>"> </i>
                                <!-- /group -->
                            </div>
                            <div class="uk-panel-content">
                                <h3 class="title"><?php echo $list['title'] ?></h3>
                                <div class="uk-comment-meta">by <?php echo $this->escape($list['firstname'] . " " . $list['lastname'])?> | <?php echo Cms_Date::date($list['created_date']) ?></div>
                                <div class="uk-comment-meta"><h3><?php echo $list['description'] ?></h3></div>
                            </div>
                        </div>

                    <?php } ?>

                </header>
            </article>
            <!-- /content -->

        <?php } else { ?>

            <div class="uk-placeholder uk-text-center">
                <i class="uk-icon-bell-o uk-icon-medium uk-text-muted uk-margin-small-right"></i>
                <?php echo $this->translate('No announcement yet.'); ?>
            </div>

        <?php } ?>
        
        
 <br></br>
        <h3><?php echo $this->translate('Calendar & Events')?></h3>
<hr></hr>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large">
                <div class="events-note">
                    <i class="uk-icon-calendar uk-text-danger"></i> You have no events today.
                </div>
                <div class="events-note">
                    <i class="uk-icon-calendar uk-text-success"></i> You have no events this week
                </div>
            </div>
            <div class="uk-width-large">
                <div class="uk-panel">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
       
      
    
</div>


<!--<a href="/generalsetup">click</a> -->
<div class="uk-width-medium-3-10"  >
<br/><br/>
<div id="scroll_div" >
    <p> KEY HIGHLIGHTS<p>

    <ul >
         <marquee  onmouseover="this.stop();"   onmouseout="this.start();" align="center"  height='500px'  direction="up"  scrollamount="2">
       <li>    
        Launch of “The Islamic Banker” Management Trainee Programme by Bank Rakyat

        <br>
        <hr>
        <a href="ciif-global.org/web/launch-of-the-islamic-banker-management-trainee-programme-by-bank-rakyat/" target="_blank">.....</a>
        </li>
        <hr>

</marquee>


    </ul>

</div>
<br>
<br>

<div id="scroll_div" >
    <p> EVENTS<p>

    <ul >
         <marquee  onmouseover="this.stop();"  onmouseout="this.start();" align="center"  height='500px'  direction="up"  scrollamount="2">
        
          <li>    
       IIUM Teh Tarik Session
       <br>
       <hr>
           <a href="http://ciif-global.org/web/iium-teh-tarik-session/" target="_blank">.....</a>
        </li> 
        <hr> 
        <li>    
        The preview of Chartered Professional in Islamic Finance during the 3rd Annual Symposium on Islamic Finance
        <br>
        <hr>
            <a href="http://ciif-global.org/web/the-preview-of-chartered-professional-in-islamic-finance-during-the-3rd-annual-symposium-on-islamic-finance/" target="_blank">.....</a>   
        </li> 
        <hr>
         <li>    
        IIUM Career & Study Fair ICAST
        <br>
        <hr>
            <a href="http://ciif-global.org/web/iium-career-study-fair-icast/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
        Takaful: A Forum “Challenges in the Next Decade”
        <br>
        <hr>
            <a href="http://ciif-global.org/web/takaful-a-forum-challenges-in-the-next-decade/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
       CIIF University Engagement & Roadshows – Universiti Sultan Azlan Shah, Kuala Kangsar
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-university-engagement-roadshows-universiti-sultan-azlan-shah-kuala-kangsar/" target="_blank">.....</a>   
        </li> 
        <hr>


        <li>    
       Food for Talk: Metaphysics of Islamic Finance by Prof. Dr. Abbas Mirakhor
        <br>
        <hr>
            <a href="http://ciif-global.org/web/food-for-talk-metaphysics-of-islamic-finance-by-prof-dr-abbas-mirakhor/" target="_blank">.....</a>   
        </li> 
        <hr>
        <li>    
        CIIF UNIVERSITY ENGAGEMENT & ROADSHOWS – KOLEJ YAYASAN PAHANG
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-university-engagement-roadshows-kolej-yayasan-pahang/" target="_blank">.....</a>   
        </li> 
        <hr>
        <li>    
        CIIF Industry Engagement & Roadshow – Bank Muamalat Malaysia Berhad
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-industry-engagement-roadshow-bank-muamalat-malaysia-berhad/" target="_blank">.....</a>   
        </li> 
        <hr>
        <li>    
        AIF International Symposium 2017
        <br>
        <hr>
            <a href="http://ciif-global.org/web/aif-international-symposium-2017/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
        MII – MTA General Takaful Agents Convention 2017
        <br>
        <hr>
            <a href="http://ciif-global.org/web/mii-mta-general-takaful-agents-convention-2017/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
        CIIF Workshop Series I: Transforming Work to Worship
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-workshop-series-i-transforming-work-to-worship/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
        FSI Aidilfitri Celebration 2017
        <br>
        <hr>
            <a href="http://ciif-global.org/web/fsi-aidilfitri-celebration-2017/" target="_blank">.....</a>   
        </li> 
        <hr>

         <li>    
        CIIF 1st Annual General Meeting
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-1st-annual-general-meeting/" target="_blank">.....</a>   
        </li> 
        <hr>

         <li>    
        CIIF University Engagement & Roadshows – Universiti Malaysia Kelantan, Kota Bharu
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-university-engagement-roadshows-universiti-malaysia-kelantan-kota-bharu/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
        Congratulations Ms. Irum Saba for winning Women on Board (WoB) Distinction and Award for Best Young Women Professional 2016
        <br>
        <hr>
            <a href="http://ciif-global.org/web/congratulations-ms-irum-saba-for-winning-women-on-board-wob-distinction-and-award-for-best-young-women-professional-2016/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
        CIIF Industry Discourse I: IFSA 2013 – Its Significance from Regulatory and Industry Players’ Perspectives
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-industry-discourse-i-ifsa-2013-its-significance-from-regulatory-and-industry-players-perspectives/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
            CIIF Training Series I: A Primer on Etiquette and Efficiency at Work
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-training-series-i-a-primer-on-etiquette-and-efficiency-at-work/" target="_blank">.....</a>   
        </li> 
        <hr>

        <li>    
            CIIF University Engagement & Roadshows – Universiti Sains Malaysia, Penang
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-university-engagement-roadshows-universiti-sains-malaysia-penang/" target="_blank">.....</a>   
        </li> 
        <hr>


        <li>    
            CIIF University Engagement & Roadshows – Universiti Utara Malaysia, Sintok, Kedah
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-university-engagement-roadshows-universiti-utara-malaysia-sintok-kedah/" target="_blank">.....</a>   
        </li> 
        <hr>



        <li>    
        Talent Development Seminar – “Preparing for the Future Workplace, Today!”
        <br>
        <hr>
            <a href="http://ciif-global.org/web/talent-development-seminar-preparing-for-the-future-workplace-today/" target="_blank">.....</a>   
        </li> 
        <hr>



        <li>    
            CIIF Engagement Session at INCEIF
        <br>
        <hr>
            <a href="http://ciif-global.org/web/ciif-engagement-session-at-inceif/" target="_blank">.....</a>   
        </li> 
        <hr>


        <li>    
            CIIF 1st Anniversary Dinner & Charity Night 2017
        <br>
        <hr>
            <a href="ciif-global.org/web/ciif-1st-anniversary-dinner-charity-night-2017/" target="_blank">.....</a>   
        </li> 
        <hr>

        





</marquee>


    </ul>

</div>

   
    
</div>

  

<?php Cms_Hooks::hook('body.top'); ?>
   


			
      


		<div class="divider"><span><?php echo $this->translate('Upload Documents')?></span>

					 <div class="uk-form-row">
                        
                        <div class="uk-form-controls">

                            

                           

                           <!--  <p class="desc">Allowed file types:
                                pptx,xls,zip,ppt,rar,jpg,pdf,doc,docx,xlsx,jpg,jpeg,png,gif</p> -->
                        </div>
                    </div>		


                    
                    

                    

                   

                   


		

		</div>		




				

				
				<div class="uk-form-row uk-grid">
					<div class="uk-form-row uk-margin-large-bottom" id="divprog" style="display: none">
						
						<div class="uk-form-controls">
							
			
						</div>
					</div>
				</div>


				
				<table>
          <tr>
           <td colspan="2"> <a id = "opener">Click here for offline Payment Proof</a></td>

          
            <td colspan="2"><a id = "online">Click here for online Payment Proof</a></td>

          </tr>
        </table>
      
				<div class="uk-form-row">
					

				</div>
			</form>
      <div id = "dialog-1" >
         <form name='form2'  id='form2' method='post' enctype="multipart/form-data"> 
<table>
  <input type='hidden' name='member_id'  id ='member_id' value=<?php echo $this->user_id;?>>
<tr>
<td><?php echo $this->translate("Upload a Copy of Payment :"); ?></td>
<td>
<input style="float: left;" type="file" name="file1[]" id="file1" class="input-document" required /></td>

</tr>
</table>
</form></div>
 <div id = "dialog-2" >
         <!-- <form name='form2'  id='form2' method='post' enctype="multipart/form-data">  -->
<table>
  <!-- <input type='hidden' name='member_id'  id ='member_id' value=<?php echo $this->user_id;?>> -->
<tr>
<!-- <td><?php echo $this->translate("Upload a Copy of Payment :"); ?></td> -->
<td>
  Sorry this is Under Contruction
</td>
<!-- <input style="float: left;" type="file" name="file1[]" id="file1" class="input-document" required /></td>
 -->
</tr>
</table>
</form></div>
		</div>

	</div>

	<!-- </div> -->
</div>
</div>
<style>
         .ui-widget-header,.ui-state-default, ui-button {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }
      </style>
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
<style type="text/css">

	.divider span { text-transform:uppercase; font-weight:700; color:#2c6bb3; background:transparent }
	.divider { margin-bottom:15px }
	.login-wrap .logo img { height:50px !important; }
	.uk-form-label::after { content: " *"; color: red; font-weight: 600; }

</style>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
         $(function() {
            $( "#dialog-1" ).dialog({
               resizable: true,
    autoOpen: false,
    width: 600,
    height: 200,
    modal: true,
    buttons: {   
          
        "Cancel": function() {
            $( this ).dialog( "close" );
        },
        "Upload": function() {

        $( "#form2" ).submit();
        $( this ).dialog( "close" );
    }
}  
            });
             $( "#dialog-2" ).dialog({
               resizable: true,
    autoOpen: false,
    width: 600,
    height: 200,
    modal: true,
    buttons: {   
          
        
        "Close": function() {

        // $( "#form2" ).submit();
        $( this ).dialog( "close" );
    }
}  
            });
            $( "#opener" ).click(function() {
               $( "#dialog-1" ).dialog( "open" );
            });
            $( "#online" ).click(function() {
               $( "#dialog-2" ).dialog( "open" );
            });
         });
      </script>

   <script src="<?php echo $this->baseUrl();?>/js/chosenjs/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#payment_doc').hide();
  })
  // $('#check_payment').click(function(){
  //   $("#payment_doc").dialog({
  //                       maxWidth:600,
  //                       maxHeight: 500,
  //                       width: 600,
  //                       height: 300,
  //                       position:'center'
                       
  //           });
  // })
	$(function()
	{

if(navigator.userAgent.search("Firefox") >= 0)
{
  $('#id_termsAndcondition').attr('class','uk-width-medium-5-10');
  $('#register_scroll_div').attr('style','width:600px !important;');
  $('#ciifp_navbar').attr('style','width:103%');
}


    $("#nationality").chosen({
                   // disable_search_threshold: 0,
                    no_results_text: "Oops, nothing found!",
                     width: "47%",
                     group_search : false,
                     
                    });




		$(".cap").on('keyup change', function()
		{
			var val = $(this).val();
			$(this).val( val.charAt(0).toUpperCase() + val.slice(1) );
		});
	});



if (location.hostname === "localhost" || location.hostname === "127.0.0.1")
{
   $('#form-register').formValidation({
    framework: 'uikit',

    fields: {
      username: {
        validators: {
          notEmpty: {
            message: 'Username is required'
          },
          // regexp: {
          //   regexp:/^[a-zA-Z0-9\._-]+$/i,
          //   message: 'The username can consist of alphabetical characters, underscore, dash and dots only'
          // },
          // stringLength: {
          //   min:3,
          //   max: 25,
          //   message: 'Username too short. It must be at least 3 characters long.'
          // },
          remote: {
            url: 'index/check-username/',
            type: 'POST',
            delay: 1000,
            message: 'Username already taken. Try another.'
          }
        }
      },
      firstname: {
        validators: {
          notEmpty: {
            message: 'First Name is required'
          }
        }
      },
      lastname: {
        validators: {
          notEmpty: {
            message: 'Last Name is required'
          }
        }
      },

       
      email: {
        validators: {
          notEmpty: {
            message: 'Title is required'
          },
          emailAddress: {
            message: 'The value is not a valid email address'
          },
          remote: {
            url: 'check-email',
            type: 'POST',
            delay: 1000,
            message: 'Email already exists. Please use a different email'
          }
        }
      },
      password: {
        validators: {
          notEmpty: {
            message: 'Title is required'
          },
          stringLength: {
            min:3,
            message: 'Password too short. It must be at least 3 characters long.'
          }

        }
      },

     

      privacy: {
        validators: {
          notEmpty:{
            message: 'Please agree to the terms before submitting.'
          }
        }
      }




          

    }


  
  })
    
}


$('#form-register').formValidation({
		framework: 'uikit',
		fields: {
			username: {
				validators: {
					notEmpty: {
						message: 'Username is required'
					},
					// regexp: {
					// 	regexp: /^[a-zA-Z0-9\._-]+$/i,
					// 	message: 'The username can consist of alphabetical characters, underscore, dash and dots only'
					// },
					// stringLength: {
					// 	min:3,
					// 	max: 25,
					// 	message: 'Username too short. It must be at least 3 characters long.'
					// },
					remote: {
						url: 'index/check-username/',
						type: 'POST',
						delay: 1000,
						message: 'Username already taken. Try another.'
					}
				}
			},
			firstname: {
				validators: {
					notEmpty: {
						message: 'First Name is required'
					}
				}
			},
			lastname: {
				validators: {
					notEmpty: {
						message: 'Last Name is required'
					}
				}
			},

      
			   
			email: {
				validators: {
					notEmpty: {
						message: 'Title is required'
					},
					emailAddress: {
						message: 'The value is not a valid email address'
					},
					remote: {
						url: 'index/check-email/',
						type: 'POST',
						delay: 1000,
						message: 'Email already exists. Please use a different email'
					}
				}
			},
			password: {
				validators: {
					notEmpty: {
						message: 'Title is required'
					},
					stringLength: {
						min:3,
						message: 'Password too short. It must be at least 3 characters long.'
					}

				}
			},
			privacy: {
				validators: {
					notEmpty:{
						message: 'Please agree to the terms before submitting.'
					}
				}
			}


					

		}


	
	})
    
$(function()
{
   if (!$('#nationality').val().length)
   {
       $('#nationality').val('MY').change();
       $('#username').focus();
   }
   // $('#nationality').attr('value','MY');
   //  $('#nationality').attr('value','MY');
   
});



  
//	 Academic Upload

   $('#add-new-file').click(function () {
        newFileUpload();
    });

	var document_index = 1;

   function newFileUpload() {
        $('#upload-table').append('<tr><td><input style="float:left;" type="file"  name="file1[' + document_index + ']" class="input-document" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });


    $('#addcpd').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });

// Work Experience Upload



$('#add-new-file2').click(function () {
        newFileUpload1();
    });

	var document_index = 1;

   function newFileUpload1() {
        $('#upload-table2').append('<tr><td><input style="float:left;" type="file" name="file2[' + document_index + ']" class="input-document" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload1();
        }
    });


    $('#addcpd2').submit(function (e) {
        var document_count = 0;

        $('.input-document').each(function (e) {
          
                      if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });





//Previous MemberShip Document Upload


$('#add-new-file3').click(function () {
        newFileUpload2();
    });

	var document_index = 1;

   function newFileUpload2() {
        $('#upload-table3').append('<tr><td><input style="float:left;" type="file" name="file3[' + document_index + ']" class="input-document" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd3').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });



 //Nomination Upload


$('#add-new-file4').click(function () {
        newFileUpload3();
    });

	var document_index = 1;

   function newFileUpload3() {
        $('#upload-table4').append('<tr><td><input style="float:left;" type="file" name="file4[' + document_index + ']" class="input-document" required/></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd4').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });




// Other Document Upload


$('#add-new-file5').click(function () {
        newFileUpload4();
    });

	var document_index = 1;

   function newFileUpload4() {
        $('#upload-table5').append('<tr><td><input style="float:left;" type="file" name="file5[' + document_index + ']" class="input-document" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd5').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });

    // Payment document

    $('#add-new-file6').click(function () {
        newFileUpload1();
    });

  var document_index = 1;

   function newFileUpload1() {
        $('#upload-table6').append('<tr><td><input style="float:left;" type="file" name="file6[' + document_index + ']" class="input-document" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload1();
        }
    });


    $('#addcpd2').submit(function (e) {
        var document_count = 0;

        $('.input-document').each(function (e) {
          
                      if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });


$(document).ready(function(){

  //$("#nationality").val("MY").change();    

  // $("#subclassifaication").prop("disabled", true);
   //$("#pd").prop("disabled", true);
  // $("#workexperience").prop("disabled", true);

  $('#total_fee_amount').attr('readonly',true);


  $('#Experience_type-1').attr('checked','checked');
  $('#lectureshipRadio-1').attr('checked','checked');


  $(':radio').click(function(){
      var radioId = $(this).attr('id');
      //alert(radioId);
      if(radioId == 'Experience_type-0')
      {
       //var RadioVal = $(this).attr('value');  
       $('#industrialExp').hide();
      }
      if(radioId == 'Experience_type-1')
      {
        $('#industrialExp').show();
      }
      if(radioId == 'lectureshipRadio-0')
      {   
        $('#lectureship').hide();
      }
      if(radioId == 'lectureshipRadio-1')
      {
        $('#lectureship').show();
      }

  });


   $('#membershiptype').change(function () {


            var MemberId = $('#membershiptype').val();
              
                $('#subclassifaication').empty(); 

                    $.ajax({
                    type:'post',
                    //<?php //echo $this->baseUrl()?>/admin/ajax/delete-content
                    url:'<?php echo APP_URL; ?>/ajax/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                   //alert(response);     


                   $("#subclassifaication").append("<option value=''>--- Please Select--- </option>");
                   // Add options
                    var len = response.length;

                    if(len == 0)
                    {
                       $("#subclassifaication").append("<option value='0'>Student </option>");
                    }

                  //  alert(len);

                  //  $("#subclassifaication").empty();
                  
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_subtype'];
                        var name = response[i]['member_subtype_name'];

                        
                        $("#subclassifaication").append("<option value='"+id+"'>"+name+"</option>");

                    }
                 //   $("#subclassifaication").prop("disabled", false);

                                               
                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

 
   $("#ddlQualification").change(function(){


      var MemberId = $('#membershiptype').val();
      var SubTypeId = $("#subclassifaication").val();
      var qualificationsId = $('#ddlQualification').val();
     $("#workexperience").empty();

      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/ajax/getexperience',
                dataType :'json',
                data:
                    {
                      member_id : MemberId,
                      member_sub_id : SubTypeId,
                      degree_id : qualificationsId
                    },
                success:function(response)
                {

                    var len = response.length;
                    $("#workexperience").empty();
                    $("#workexperience").append("<option value=''>--- Please Select--- </option>");
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_exp'];
                        var name = response[i]['exp_name'];
    
                      $("#workexperience").append("<option value='"+id+"'>"+name+"</option>");

                    }
  
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });


   });


   $('#workexperience').change(function(){

      var nationality_type = $('#nationality').val();

      if(nationality_type == "MY")
      {
        nationality_type;        
      }
      else
      {
        nationality_type = "OTH";
      }



     //alert(nationality_type);

      var memberType = $('#membershiptype').val();
      var memberSubType = $('#subclassifaication').val();

      //alert(nationality_type+'=>'+memberType+'=>'+memberSubType);

      $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType
                    },
              dataType: 'json',
              success: function(response)
                                { 

                                 // alert(response[0]['totalamount']);

                                  $('#total_fee_amount').val(response[0]['totalamount']+" "+response[0]['Currency']);
                                  $('#id_feestructure').show();
                                  //$("#total_fee_amount").prop('disabled', true);
                                  $('#total_fee_amount').show();

                                   // $.each(response, function (index, value) {
                                            
                                   //          var amount = value['amount'];
                                              
                                   //                                          });
                                 // alert(response[0]['amount']);
                                 // console.log(response);
                                  // /alert(response);
                                },
              error: function(e){
                                console.log(e);
                                } 

            });

   });




});




</script>
