<div class="clearfix">
                    <h4 class="clearfix">
                        <span class="member-float">Apply for Programme</span>
                        
                    </h4>
   <form class="uk-form uk-form-horizontal validate" method="post" action="programregister" id="membership-application"  enctype="multipart/form-data">
                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">                               
                                <img src="img/user.svg" alt="" />

                                <p>Programme Route</p>
                                <h4><?php echo $this->route['DefinitionDesc']?></h4>
                            </div>
                            <div class="col-sm-6 col-md-6">                               
                                <img src="img/refresh.svg" alt="" />
                                <p>Programme Level</p>
                            <h4><?php echo $this->route['DefinitionDesc']?></h4>
                            </div>
                                                                                                            
                        </div>
                        
                       
                    </div>
                <div class="clearfix custom-tabs">

                  

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


                            <table class="table table-striped">
                                
                <tr>
                  <th width="30%"><?php echo $this->translate('Select All '); ?></th>
                  <th width="30%"><?php echo $this->translate('Exemption '); ?></th>
                <th width="30%"><?php echo $this->translate('Programme '); ?></th>
                <th width="30%"><?php echo $this->translate('Fees'); ?></th>
                 <th width="30%"><?php echo $this->translate('Exemption Fees'); ?></th>

            </tr>
            <?php
                    
                 foreach($this->application as $programlist):?>
            
             <tr><td><input type="checkbox" name="exemption_program[]"  value='<?php echo $programlist['id'];?>'></td>
              <td><input type="checkbox" name="exemption[]"  value='<?php echo $programlist['id'];?>'></td>
                <td> <?php echo $programlist['name'];?></td>
                
    <input type='hidden' name='program_route' value='<?php echo $programlist['program_route'];?>'>
    <input type='hidden' name='program_level' value='<?php echo $programlist['program_level'];?>'>
    <input type='hidden' name='program[]' value='<?php echo $programlist['id'];?>'>
              <td> <?php echo $programlist['DefinitionDesc'].' '.$programlist['calculated_amount'];?></td>
              <td> <?php echo $programlist['DefinitionDesc'].' '.$programlist['exemption_amt'];?></td>
            </tr>

            <?php endforeach;?>
             <?php foreach($this->amount as $amount):?>
            <!--  <tr>
                <th width="30%"><?php echo $this->translate('Total'); ?></th>
               <td> <?php echo $amount['sum'].' '.$amount['DefinitionDesc'];?></td>
     <input type='hidden' name='amount' value='<?php echo $amount['sum'];?>'>

            </tr> -->
            <?php endforeach;?>
                <tr>

                    <td colspan="3"><button type="submit" name="save" class="btn btn-primary">Save & Next</button>
                <button type="button" class="btn btn-primary" onclick="redirect('/user/dashboard')">Cancel</button></td>
                </tr>
          </table>

                    </form>                         
                        </div>                      
                    </div>
                    
                                   
                  </div>
                </div>                    
                    
                </div>   


<script type="text/javascript">
  $('#membership-application').submit(function(e){
  var len = $(":checkbox:checked").length;
   var url = '<?php echo APP_URL;?>/membership/addqualificaion/'
                       
  if(len < 2)
  {
    alert('Please select atleast 2 modules')
    e.preventDefault()
  }

  })
</script>