<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>

    <!-- content -->
    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/membership">Membership</a></li>
            <li class="uk-active"><span>Reinstatement</span></li>
        </ul>

        <h2><?php echo $this->translate('Membership Reinstatement') ?></h2>


        <table class="uk-table" width="100%">
            <tr>
                <th><?php echo $this->translate('Membership Name'); ?></th>
                <td><?php echo $this->application["MembershipName"]; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Membership Status'); ?></th>
                <td><?php echo $this->application["mr_status"]; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Activation Date'); ?></th>
                <td><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Expiry Date'); ?></th>
                <td><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?></td>
            </tr>
        </table>

        <form class="uk-form uk-form-horizontal validate" method="post" id="renewal"  enctype="multipart/form-data">

            <div class="uk-form-row">
                <h4><?php echo $this->translate('Reinstatement Info') ?>:</h4>

                <div class="uk-form-row">
                    <!--<label class="uk-form-label" for="renewal-fee"><?php /*echo $this->translate('Membership Name')*/?></label>
                    <div class="uk-form-controls">
                        <select type="text" class="uk-form-width-large" name='membershipId' id='membershipId'>
                            <?php
/*                            foreach($this->membership_list as $list){
                                if($this->application['mr_membershipId']!=$list['m_id'])    {
                                    */?>
                                    <option value='<?php /*echo $list['m_id']; */?>'><?php /*echo $list['m_name']; */?></option>
                                <?php /*}
                            }*/?>
                        </select>
                    </div>
                </div>-->
                    <input id="membershipId" name="membershipId" type="hidden" value="<?php echo $this->application["mr_membershipId"];?>">
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label" for="fee"><?php echo $this->translate('Supporting Documents'); ?></label>
                    <div class="uk-form-controls">

                        <table id="doc_table" class="uk-table-main maintabl" width="100%">
                            <tr>
                                <th  width="10em"><?php echo $this->translate('No.'); ?></th>
                                <th width="300em">
                                    <?php echo $this->translate('Document Name'); ?>
                                </th>
                                <th  width="10em"><?php echo $this->translate('File Upload'); ?></th>
                            </tr>
                            <?php foreach($this->document_checklist as $index=>$doc){?>
                                <tr>
                                    <td align='center' width='15em'><?php echo $index+1;?>.</td>
                                    <td>
                                        <?php if($doc['mrc_downloadable']==1){
                                            echo '<a href="#" class="uk-icon-download uk-margin-small-right" uk-icon="download" title="Download"></a>';
                                        }
                                        echo $doc['mrc_name'];
                                        ?>
                                    </td>
                                    <td>
                                        <?php if (isset($doc['mrd_name']) && $doc['mrd_name']!='') { ?>
                                            <?php echo isset($doc['mrd_name']) ? "<a href='#'>".$doc['mrd_name']."</a>":'';?>
                                        <?php }else{ ?>
                                            <input id="mrc_id<?php echo $doc['mrc_id'];?>" name="mrc_id<?php echo $doc['mrc_id'];?>" type="file">
                                        <?php } ?>
                                    </td>
                                </tr>
                            <?php } ?>
                        </table>

                    </div>
                </div>



                <input type='hidden' name='ma_prev_mrid' id='ma_prev_mrid' value='<?php echo $this->application['mr_id']; ?>'>
                <table class="uk-table infotable maintable">
                    <tr>
                        <td>
                            <div align="right">
                                <a id="payment-btn" href="#">
                                    <button type="submit" class="uk-button uk-button-primary" id="pay-button">
                                        <i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Submit'); ?>
                                    </button>
                                </a>
                                <button type="button" class="uk-button" onclick="redirect('/membership')">Cancel</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>

    </div>

</div>


<script type="text/javascript">
    function  calculatepay(mr_renew_period) {
        var renew_fee = $('#renew_fee').val();

        var totalpayment = renew_fee*mr_renew_period;

        totalpayment = parseFloat(Math.round(totalpayment * 100) / 100).toFixed(2);

        $('#mr_renew_fee').val(totalpayment);
    }
</script>