<div class="clearfix">


    <!-- content -->
    <div class="uk-width-medium-8-10">   
    
    <ul class="uk-breadcrumb">
    <li><a href="/"><i class="uk-icon-home"></i></a></li>
    <li><a href="/user/dashboard/tab/membership">Membership</a></li>
    <li class="uk-active"><span>Renewal</span></li>
    </ul>
    
    	<h2><?php echo $this->translate('Membership Renewal') ?></h2>       	
    	
    	 
    	 <table class="uk-table" width="100%">
    	  	<tr>
        		<th><?php echo $this->translate('Membership Name'); ?></th>
        		<td><?php echo $this->application["MembershipName"]; ?></td>
        	</tr>
        	<tr>
        		<th><?php echo $this->translate('Membership Status'); ?></th>
        		<td><?php echo $this->application["mr_status"]; ?></td>
        	</tr> 
        	<tr>
        		<th><?php echo $this->translate('Annual Fee'); ?></th>
        		<td>RM <?php echo number_format($this->renew_fee['mf_amount'], 2, '.', ''); ?></td>
        	</tr>           	   	
        	<tr>
        		<th><?php echo $this->translate('Activation Date'); ?></th>
        		<td><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?></td>
        	</tr>
        	<tr>
        		<th><?php echo $this->translate('Expiry Date'); ?></th>
        		<td><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?></td>
        	</tr>
    	 </table>
    	 
    	  <form class="uk-form uk-form-horizontal validate" method="post" id="renewal"  enctype="multipart/form-data">
    	 
    	  			<div class="uk-form-row">
    	  			<h4><?php echo $this->translate('Renewal Info') ?>:</h4>
                        <label class="uk-form-label" for="renewal-period"><?php echo $this->translate('Renewal Period')?><span class="req"></span></label>
                        <div class="uk-form-controls">  
                               <select class="uk-form-width-large" id="mr_renew_period" name="mr_renew_period" onchange="calculatepay(this.value)">
					                <option value=''>--Please Select--</option >
					                <option value="1"> 1 Year </option>
					                <option value="2"> 2 Year </option>
					            </select>                       
                        </div>	                       
                	</div>  
                	
                	
                	
                	<div class="uk-form-row">
                        <label class="uk-form-label" for="fee"><?php echo $this->translate('Supporting Documents'); ?></label>
                        <div class="uk-form-controls">                               
				              
				              <table id="doc_table" class="uk-table-main maintabl" width="100%">
				                <tr>
				                    <th  width="10em"><?php echo $this->translate('No.'); ?></th>
				                    <th width="300em">
				                        <?php echo $this->translate('Document Name'); ?>
				                    </th>
				                    <th  width="10em"><?php echo $this->translate('File Upload'); ?></th>
				                </tr>		
				                <?php foreach($this->document_checklist as $index=>$doc){?>		                
				                <tr>
				                	<td align='center' width='15em'><?php echo $index+1;?>.</td>
				                	<td>
				                	<?php if($doc['mrc_downloadable']==1){
										echo '<a href="#" class="uk-icon-download uk-margin-small-right" uk-icon="download" title="Download"></a>';
				                	}
										echo $doc['mrc_name'];
				                	?>
				                	</td>
				                	<td>
				                	<?php if (isset($doc['mrd_name']) && $doc['mrd_name']!='') { ?>
				                		<?php echo isset($doc['mrd_name']) ? "<a href='#'>".$doc['mrd_name']."</a>":'';?>
				                	<?php }else{ ?>
				                		<input id="mrc_id<?php echo $doc['mrc_id'];?>" name="mrc_id<?php echo $doc['mrc_id'];?>" type="file">
				                	<?php } ?>
				                	</td>				                	
				                </tr>
				                <?php } ?>
				            </table> 
				            
                        </div>
                    </div>
    	  
    	  		  <input type='hidden' name='mr_id' id='mr_id' value='<?php echo $this->application['mr_id']; ?>'>
    	  		 
		    	   <table class="uk-table infotable maintable">
	            	<tr>
	                <td>    	  
			    	  <div align="right">		    	  	 
				          <a id="payment-btn" href="#">
				          	<button type="submit" class="uk-button uk-button-primary" id="pay-button">
				          	<i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Submit'); ?>
				          	</button>
				          </a>
				           <button type="button" class="uk-button" onclick="redirect('/user/dashboard/tab/membership')">Cancel</button>
			           </div>		             
					</td>
	                </tr>
        		</table>
    	  </form>
    	<!-- Payment -->
                   
    </div>
    
 </div>
