<div class="clearfix">
                    <h4 class="clearfix">
                        <span class="member-float">Membership Details</span>
                        <div class="member-group">
                            

                            <a href="<?php echo $this->baseUrl() ?>/membership/pay-renewal/mr_id/<?php echo $this->application["mr_id"]; ?>">
                            <button class="btn btn-primary" type="button">Renewal</button>
                              </a>
                            <a href="<?php echo $this->baseUrl() ?>/membership/upgrade-membership/mr_id/<?php echo $this->application["mr_id"]; ?>">
                            <button class="btn btn-inverse" type="button">Upgrade</button>  </a>
                        </div>
                    </h4>
                    <form class="uk-form uk-form-horizontal validate" method="post" id="renewal"  enctype="multipart/form-data">
                    <div class="membership-details">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/user.svg" alt="" />
                                <p>Membership Name</p>
                                <h4><?php echo $this->application["member_name"]; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/refresh.svg" alt="" />
                                <p>Membership Status</p>
                            <h4><?php echo $this->application["mr_status"]; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/confirm-schedule.svg" alt="" />
                                <p>Activation Date</p>
                                <h4><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?></h4>
                            </div>
                            <div class="col-sm-6 col-md-3">                               
                                <img src="img/calendar.svg" alt="" />
                                <p>Expiry Date</p>
                                <h4><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?></h4>
                            </div>                                                                                    
                        </div>
                    </div>
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Upgrade Info:</a></li>
                    
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">


                            <table class="table table-striped">
                                    <tr>
                                        <td><label class="uk-form-label uk-text-left"
                               for="thumbnail"><?php echo $this->translate('Membership') ?></label></td>
                                        <td>
                                        <?php echo $this->application["member_name"]; ?>

                                    </td>
                                    </tr>
                                     <tr>
                                        <td><label class="uk-form-label uk-text-left"
                               for="thumbnail"><?php echo $this->translate('Membership SubCategories') ?></label></td>
                                        <td>
                                        <?php echo $this->elevation[0]["member_subtype_name"]; ?>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td><label class="uk-form-label uk-text-left"
                               for="thumbnail"><?php echo $this->translate('Upgrade Membership') ?></label></td>
                                        <td>
                                        <?php echo $this->elevation[0]["member_name"]; ?>
                                        <input type="hidden" name='upgrade_id'value="<?php echo $this->elevation[0]["upgrade_member"]; ?>" >
                                    </td>
                                    </tr>
                                    <tr>
      <td><label class="uk-form-label uk-text-left"
                               for="thumbnail"><?php echo $this->translate('Upgrade sub category') ?></label></td>
       <td> <select name ='upgrade_sub' class="form-control">
        <?php foreach($this->get_sub_type as $sub):?>
         <option value= <?php echo $sub['id_subtype'];?>><?php echo $sub['member_subtype_name'];?></option>
          <?php endforeach;?>
       </select>
                                        
                                    </td>
                                    </tr>
                                     <tr>
                                        <td><label class="uk-form-label uk-text-left"
                               for="thumbnail"><?php echo $this->translate('Required Experience') ?></label></td>
                                        <td>
                                        <?php echo $this->elevation[0]["exp_name"]; ?>
                                    </td>
                                    </tr>


                                   
                                    <tr id='doc'>
                                        <td><label  class="uk-form-label uk-text-left"
                               for="thumbnail"><?php echo $this->translate('Upload Documents') ?></label></td>
                                        <td>
                                        <input style="float: left;" type="file" name="file2[]" id="file2" class="input-document" required />
                                    </td>
                                    </tr>
                                   <!--  <tr>
                                         <td>  <label class="uk-form-label uk-text-left "
                               for="thumbnail"><?php echo $this->translate('Work Experience Documents') ?></label></td>
                                        <td>
                                        <input style="float: left;" type="file" name="file2[]" id="file2" class="input-document" required />
                                    </td>
                                    </tr>
                                     <tr>
                                         <td>  <label class="uk-form-label uk-text-left "
                               for="thumbnail"><?php echo $this->translate('Previous Membership Documents') ?></label></td>
                               <input type='hidden' name='mr_prev_mrid' id='mr_prev_mrid' value='<?php echo $this->application['mr_id']; ?>'>
                                        <td>
                                        <input style="float: left;" type="file" name="file3[]" id="file3[]" class="input-document" required />
                                    </td>
                                    </tr> -->
                                    <tr align=right>
                                        <td colspan="3">
                                            <a id="payment-btn" href="#">
                            <button type="submit" class="uk-button uk-button-primary" id="pay-button">
                            <i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Submit'); ?>
                            </button>
                          </a>
                                            &nbsp
                                         <button type="submit" class="uk-button uk-button-primary" id="pay-button"><a href="/membership" class="uk-button uk-button"><?php echo $this->translate('Back')?></a></button>
                              </a></td>
                                    </tr>
                            </table>
                            </form>                 
                        </div>                      
                    </div>
                                    
                  </div>
                </div>                    
                    
                </div>   

 
 <script type="text/javascript">
 function  calculatepay(mr_renew_period) {
	    var renew_fee = $('#renew_fee').val();
	   
	    var totalpayment = renew_fee*mr_renew_period;
	   
	    totalpayment = parseFloat(Math.round(totalpayment * 100) / 100).toFixed(2);

	    $('#mr_renew_fee').val(totalpayment);
	}
  $(':radio').click(function(){

      var radioId = $(this).attr('id');
      //alert(radioId);
      if(radioId == 'cap-1')
      {
       //var RadioVal = $(this).attr('value');  
       $('#file1').show();
       $('#doc').show();
      }
      if(radioId == 'cap-0')
      {
        $('#file1').hide();
        $('#doc').hide();
      }
      

  });
 </script>