<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
    <!-- content -->
    <div class="uk-width-medium-8-10">   
    
    <ul class="uk-breadcrumb">
    <li><a href="/"><i class="uk-icon-home"></i></a></li>
    <li><a href="/user/dashboard/tab/membership">Membership</a></li>
    <li class="uk-active"><span>Membership Details</span></li>
    </ul>
    
    	<h2><?php echo $this->translate('View Membership Details') ?></h2>    
    	
    	 <!--<div class="uk-form-row">
             <label class="uk-form-label" for="m_name"><?php echo $this->translate('Membership Name')?></label>
             <div class="uk-form-controls">
             	<?php echo $this->application["MembershipName"]; ?>
             </div>
         </div>
         
         <div class="uk-form-row">
             <label class="uk-form-label" for="m_status"><?php echo $this->translate('Membership Status')?></label>
             <div class="uk-form-controls">
             	<?php echo $this->application["mr_status"]; ?>
             </div>
         </div>
         
         <div class="uk-form-row">
             <label class="uk-form-label" for="firstname"><?php echo $this->translate('Activation Date')?></label>
             <div class="uk-form-controls">
             	<?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?>
             </div>
         </div>
         
         <div class="uk-form-row">
             <label class="uk-form-label" for="firstname"><?php echo $this->translate('Expiry Date')?></label>
             <div class="uk-form-controls">
             	<?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?>
             </div>
         </div>
                    
    	 -->
    	 
    	 <table class="uk-table" width="100%">
    	  	<tr>
        		<th><?php echo $this->translate('Membership Name'); ?></th>
        		<td><?php echo $this->application["MembershipName"]; ?></td>
        	</tr>
        	<tr>
        		<th><?php echo $this->translate('Membership Status'); ?></th>
        		<td><?php echo $this->application["mr_status"]; ?></td>
        	</tr> 
        	<tr>
        		<th><?php echo $this->translate('Membership Fee'); ?></th>
        		<td>RM <?php echo number_format($this->member_fee['mf_amount'], 2, '.', ''); ?></td>
        	</tr>   
        	<tr>
        		<th><?php echo $this->translate('Submit Date'); ?></th>
        		<td><?php echo (isset($this->application["mr_submit_date"])) ? date('d-m-Y', strtotime($this->application["mr_submit_date"])):'-'; ?></td>
        	</tr>     	
        	<tr>
        		<th><?php echo $this->translate('Activation Date'); ?></th>
        		<td><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])):'-'; ?></td>
        	</tr>
        	<tr>
        		<th><?php echo $this->translate('Expiry Date'); ?></th>
        		<td><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])):'-'; ?></td>
        	</tr>
    	 </table>
                  <div class="uk-form-row">
                <button type="button" class="uk-button" onclick="redirect('/dashboard')">Back</button>
            </div>    
    </div>
    
 </div>