<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
<fieldset>
	<legend><?php echo $this->translate("University Search");?></legend>
	 <form action="<?php echo $this->baseUrl();?>/generalsetup/initialconfiguration/index/search/1" method="POST">
		<table width="100%">
			<tr>
			   <td><?php echo $this->translate("University Name");?></td>
			   <td ><?php echo $this->lobjform->field3;?></td>
			</tr>
			<tr>
			   <td align = "center" colspan = "4">
					<?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
			   </td>
			</tr>
		</table>
	</form>	
</fieldset> 
<br/>
<table class="table" width="100%" cellpadding="5" cellspacing="1">

	<tr>
		<th><?php echo $this->translate("University");?></th>
		 <th><?php echo $this->defaultlanguage;?></th>
	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjuniversity ): ?>
	<tr>
		<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'initialconfiguration', 'action'=>'initialconfiglist' , 'idUniversity'=>$lobjuniversity['IdUniversity']),'default',true);?>" ><?php print_r($this->escape($lobjuniversity['Univ_Name']));?></a></td>
		<td><?php echo $this->escape($lobjuniversity['Univ_ArabicName']);?></td>
		<?php endforeach; ?>
		<?php endif; ?> 
	</tr>
</table>
<div class="pagination opt"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
								'/partials/my_pagination_control.phtml'); ?></div>