<h3>Barred Member Details</h3>  
                <div class="table-responsive">
                     <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Membership Type</th>
                                <th>Registered Case</th>
                                <th>Release</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          <?php foreach ( $this->get_user as $users ) { ?>
                            <tr>
                                <td><?php echo $users['firstname'].' '.$users['lastname'] ?></td>
                                <td><?php echo $users['email']?></td>
                      
                                <td><?php echo $users['member_name']?></td>
                                <td><?php echo $users['barring_name']?></td>
                                <td><a href="<?php echo $this->baseUrl()?>/admin/Users/releasemember/id/<?php echo $users['id_bm']?>"><input type="button" value="Release"></a></td>
                            </tr>
                             </tbody>
                             <?php } ?>
                    </table>                 
                </div>                
        

