  
    <ul class="breadcrumb">
        
                <h3>Register Case</h3> 
                <div class="clearfix custom-tabs">
 <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                      <div class="form-static">
                         <h4 class="form-title">Register Case</h4> 

                          <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Case</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr>
                                
                        <td><select id ='case' name="case_id" class='form-control'>
                          <option>--Please Select--</option>
                        <?php foreach($this->barring_list as $approval):?>

                    <option value="<?php echo $approval['id_barring'];?>"><?php echo $approval['barring_name'];?></option>
                        <?php endforeach;?>
                        </select></td>
                       
                                <td><input type='text' id='amount' name='amount' class="form-control" readonly></td>
                            </tr>
                              </tbody>
                            
                                            
                      
                    </table> 

                 </div>

       
      </div>            
    </div>
     <div class="tab-content" align='center'>
      <div class="filter-button-group">
                                   
    
    <input name="submit" type="submit" class="btn btn-primary" value="Submit">
          <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'users', 'action'=>'barringlist'),'default',true);?>';" />   
</div>
</div> 
  </form>
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getTimezone()
    {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '"+timezone+"' ?", function () {
            $("#timezone").val ( timezone );
        }, function() {
            // user clicked "cancel"
        });
        return false;
    }

    $(document).ready(function(){
        $('#case').change(function(){
            // alert(<?php //echo $this->user['id'] ?>)

            var case_id = $('#case').val();
            
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/barringamount',
                   // dataType :'json',
                    data:{case_id:case_id,
                         },
                    success:function(response){
                     
                         var amount=   $('#amount').val(response)

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                

        });
        $('#btnReject').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/rejectuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Rejected ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved but Some Error in sending email');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
    });        


</script>