<h3>AMC Pending Applicants</h3>  
                <div class="clearfix">
              
                    <table id="dataTable" class="filter-block table table-striped">
                        <thead>
                            <tr>
                                <th>NRIC/Passport NO</th>
                                <th>User Name</th>
                                <th>Email Address</th>
                                <th>Status</th>
                                <th>Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php foreach ( $this->users as $users ) { ?>
                            <tr>
                                <td><?php echo $users['username']?></td>
                                <td><a href="<?php echo $this->baseUrl()?>/admin/users/edit/id/<?php echo $users['id']?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
                                <td><?php echo $users['email']?></td>
                                <td><?php echo $users['DefinitionDesc']?></td>
                                <td><?php echo $users['contactno']?></td>
                                <td><a href="<?php echo $this->baseUrl()?>/admin/users/delete/id/<?php echo $users['id']?>">delete</a></td>
                            </tr>
                             <?php } ?>
                                            
                        </tbody>
                    </table>                 
                </div>                
           </div>                  
        </div>
    </div>
</div>  
<script type="text/javascript">
    $(document).ready(function() {
    $('#dataTable').DataTable( {      
         "searching": true,
         "paging": true, 
         "info": false,         
         "lengthChange":false 
    } );
} );
</script>