<h3>MemberList</h3>  
                <div class="clearfix">
                    <table class="filter-block table table-striped">
                        <thead>
                            <tr>
                                <th>NRIC/Passport NO</th>
                                <th>User Name</th>
                                <th>Email Address</th>
                                <!-- th>Status</th> -->
                                <th>Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php foreach ( $this->users as $users ) { ?>
                            <tr>
                                <td><?php echo $users['username']?></td>
                                <td><?php echo $users['firstname']?></td>
                                <td><?php echo $users['email']?></td>
                                <!-- <td><?php echo $users['DefinitionDesc']?></td> -->
                                <td><?php echo $users['contactno']?></td>
                            </tr>
                             <?php } ?>
                                            
                        </tbody>
                    </table>                 
                </div>                
           </div>                  
        </div>
    </div>
</div>  