

<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">
                <a href="<?php echo $this->baseUrl()?>/admin/users/new" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('New User')?> </a>
        </div>
        <div class="subtitle"><?php echo $this->translate('Dashboard')?></div>
        <div class="title"><h1><?php echo $this->translate('Users')?></h1></div>

    </div>

</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <?php if(isset($this->formdata['search'])): ?> <a href="/admin/users/" class="uk-button uk-button-small">Reset</a> <?php endif; ?>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin tablesaw" data-tablesaw-mode="columntoggle">
    <thead>
        <tr>
            <th data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
            <th data-tablesaw-priority="6"><?php echo $this->translate('Role')?></th>
            <th data-tablesaw-priority="4"><?php echo $this->translate('Active')?></th>
            <th data-tablesaw-priority="3"><?php echo $this->translate('Last Access')?></th>
            <th data-tablesaw-priority="3"><?php echo $this->translate('Status')?></th>
            <th data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->users) > 0 ) { ?>
    <?php foreach ( $this->users as $users ) { ?>
        <tr>
            <td>
                <?php if ( in_array($users['id'], $this->onlineusers) ) { ?>
                <span class="dot green" data-uk-tooltip title="<?php echo $this->translate('Online')?>"></span>
                <?php } else { ?>
                    <span class="dot" data-uk-tooltip title="<?php echo $this->translate('Offline')?>"></span>
                <?php } ?>

            <a href="<?php echo $this->baseUrl()?>/admin/users/edit/id/<?php echo $users['id']?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
            <td><?php echo $users['email']?></td>
            <td><?php echo $users['role']?></td>
            <td><?php echo $users['active'] == 1 ? $this->translate('Yes') : $this->translate('No')?></td>

            <td><?php echo Cms_Date::date($users['register_date'], Cms_Options::getOption('dateformat.short')) ?></td>
            <td><?php echo $users['DefinitionDesc']?></td>
            
            <td>
                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/users/edit/id/<?php echo $users['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-pencil"></i></a>
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/users/login-as/id/<?php echo $users['id']?>" data-uk-tooltip title="Login As"><i class="uk-icon-key"></i></a>
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/users/tracking/id/<?php echo $users['id']?>" data-uk-tooltip title="Tracking"><i class="uk-icon-bar-chart"></i></a>
                    <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this user?')?>')" href="<?php echo $this->baseUrl()?>/admin/users/delete/id/<?php echo $users['id']?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                    <?php if($users['upgrade_member'] == 1648){?>
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/users/upgrade/id/<?php echo $users['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-pencil"></i></a>
                    <?php }?>
                    
                </div>
            </td>
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No users found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->users,'Elastic','pagination.phtml');
?>