<h3>Member List</h3>  
                <div class="clearfix">
                    <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
                       <div class="filter-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                      <input type="text" class="form-control"  name="search"></tr>
                        </div>
                    </div>

                     <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="">
                </div>
                </div>
                </div>  
</div>

                    </table>
                </form>
                    <table  class="filter-block table table-striped">
                        <thead>
                            <tr>
                                 <th>NRIC/Passport NO</th>
                                <th>User Name</th>
                                <th>Email Address</th>
                               
                                <th>Contact Number</th>
                                 <th>Membership Type</th>
                                 <th>Login</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php foreach ( $this->users as $users ) { 
                            $key = Cms_Common::encrypt($users['email'],true);
                            ?>
                            <tr>
                                 <td><?php echo $users['username']?></td>
                                <td><a href="<?php echo $this->baseUrl()?>/admin/users/profile/id/<?php echo $users['id']?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a></td>
                                <td><?php echo $users['email']?></td>
                                <!-- <td><?php echo $users['DefinitionDesc']?></td> -->
                                <td><?php echo $users['contactno']?></td>
                                <td><?php echo $users['member_name']?></td>
                                <td><a onclick="window.open('https://register.ciif-global.org/index/login/key/<?php echo $key;?>', 
                         'newwindow', 
                         'width=1200,height=600'); 
              return false;">Login To portal</a></td>
                            </tr>
                             <?php } ?>
                                            
                        </tbody>
                    </table>                 
                </div>
                <div class="pagination opt">
    <?php echo $this->paginationControl($this->users,'Sliding',
        '/partials/my_pagination_control.phtml'); ?>
</div>                
           </div>                  
        </div>
    </div>
</div>  
<script type="text/javascript">
    $(document).ready(function() {
    $('#dataTable').DataTable( {      
         "searching": false,
         "paging": false, 
         "info": false,         
         "lengthChange":false 
    } );
} );
</script>