  
    <ul class="breadcrumb">
                 
                    <li>Profile Details</li>
                </ul>
                <h3>Profile Details</h3> 
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation"><a href="#tabTwo" aria-controls="tabTwo" role="tab" data-toggle="tab">Documents</a></li>
                    <?php if(empty($this->getMember['id_member'])):?>
                   
                  <?php endif;?>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                      <div class="form-static">
                         <h4 class="form-title">Primary Details</h4> 
                         <div class="row">
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Nationality</label>
                                   <p class="form-control-static"><?php echo $this->getMember['CountryName']?></p>
                                   <input type="hidden" name="nation" id='nation' value=<?php echo $this->getMember['nationality']?>>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Passport/NRIC No.</label>
                                   <p class="form-control-static"><?php echo $this->getMember['username']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">First Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['firstname']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Last Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['lastname']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Email Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['email']?></p>
                               </div>
                             </div> 
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Contact Number</label>
                                   <p class="form-control-static"><?php echo $this->getMember['contactno']?></p>
                               </div>
                             </div>                        
                         
                             <div class="col-sm-3">
                               <div class="form-group">
                                    <label class="control-label">Gender</label>
                                   <p class="form-control-static"><?php echo $this->getMember['gender']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">State</label>
                                   <p class="form-control-static"><?php echo $this->getMember['StateName']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">City</label>
                                   <p class="form-control-static"><?php echo $this->getMember['city']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['address1']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Post Code</label>
                                   <p class="form-control-static"><?php echo $this->getMember['postcode']?></p>
                               </div>
                             </div> 
                                                     
                         </div> 
                    <?php if(!empty($this->get_userqualification)):?>
                         <h4 class="form-title">Qualification Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Qualification</th>
                                 <th>Year</th>
                                 <th>Universtiy</th>
                               </tr>
                               <?php foreach($this->get_userqualification as $qualification):?>
                               <tr>
                                 <td><?php echo $qualification['qualification']; ?></td>
                                  <td><?php echo $qualification['q_year']; ?></td>
                                   <td><?php echo $qualification['q_university']; ?></td>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>

                       <?php if(!empty($this->get_usercompany)):?>
                         <h4 class="form-title">Company Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Company Name</th>
                                 <th>Desigination</th>
                                 <th>From Date</th>
                                 <th>To Date</th>
                               </tr>
                               <?php foreach($this->get_usercompany as $company):?>
                               <tr>
                                 <td><?php echo $company['u_company']; ?></td>
                                  <td><?php echo $company['u_designation']; ?></td>

                                   <?php if($company['c_fromdate']=='1970-01-01') { ?>
                                     <td colspan='2'></td>
                                   <?php } else { ?>
                                   <td><?php echo date('d-m-Y',strtotime($company['c_fromdate'])); ?></td>
                                   <td><?php echo date('d-m-Y',strtotime($company['c_todate'])); ?></td>

                                 <?php } ?>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>
                     <?php if(!empty($this->getMember['id_member'])):?>
                         <h4 class="form-title">CIIF Membership Details</h4>                                                                  
                             <div class="row">  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Membership Classification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['member_name']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Sub Classification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['member_subtype_name']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Professional Designation</label>
                                   <p class="form-control-static"><?php if(empty($this->getMember['prof_des'])){
                                    echo 'Not Applicable';

                                   }else{
                                    echo $this->getMember['prof_des'];
                                   }?></p>
                               </div>
                             </div> 
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>

                       <!--   <div class="row">
                             <div class="col-sm-12">
                               <div class="form-group">
                                   <label class="control-label">Work Experience</label>
                                   <p class="form-control-static"><?php echo $this->getMember['exp_name']?></p>
                               </div>
                             </div>                              
                         </div>   -->
                          <h4 class="form-title">Additional Experience</h4>     
                         <div class="row">  
                            <?php if($this->getMember['indus']):?>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Experience</label>
                                    <p class="form-control-static"><?php echo $this->getMember['indus']?></p>
                               </div>
                             </div> 
                              <?php endif;?> 
                              
                             </div> 
                      </div>
                    </div>
                   
                    <div role="tabpanel" class="tab-pane fade" id="tabTwo">
                       <div class="form-static">
                       <h4 class="form-title">Primary Details</h4> 
                         <div class="row">
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Nationality</label>
                                   <p class="form-control-static"><?php echo $this->getMember['CountryName']?></p>
                                   <input type="hidden" name="nation" id='nation' value=<?php echo $this->getMember['nationality']?>>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Passport/NRIC No.</label>
                                   <p class="form-control-static"><?php echo $this->getMember['username']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">First Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['firstname']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Last Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['lastname']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Email Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['email']?></p>
                               </div>
                             </div> 
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Contact Number</label>
                                   <p class="form-control-static"><?php echo $this->getMember['contactno']?></p>
                               </div>
                             </div>                        
                         
                             <div class="col-sm-3">
                               <div class="form-group">
                                    <label class="control-label">Gender</label>
                                   <p class="form-control-static"><?php echo $this->getMember['gender']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">State</label>
                                   <p class="form-control-static"><?php echo $this->getMember['StateName']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">City</label>
                                   <p class="form-control-static"><?php echo $this->getMember['city']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['address1']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Post Code</label>
                                   <p class="form-control-static"><?php echo $this->getMember['postcode']?></p>
                               </div>
                             </div> 
                                                     
                         </div> 
                    <?php if(!empty($this->get_userqualification)):?>
                         <h4 class="form-title">Qualification Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Qualification</th>
                                 <th>Year</th>
                                 <th>Universtiy</th>
                               </tr>
                               <?php foreach($this->get_userqualification as $qualification):?>
                               <tr>
                                 <td><?php echo $qualification['qualification']; ?></td>
                                  <td><?php echo $qualification['q_year']; ?></td>
                                   <td><?php echo $qualification['q_university']; ?></td>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>

                       <?php if(!empty($this->get_usercompany)):?>
                         <h4 class="form-title">Company Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Company Name</th>
                                 <th>Desigination</th>
                                 <th>From Date</th>
                                 <th>To Date</th>
                               </tr>
                               <?php foreach($this->get_usercompany as $company):?>
                               <tr>
                                 <td><?php echo $company['u_company']; ?></td>
                                  <td><?php echo $company['u_designation']; ?></td>
                                 <?php if($company['c_fromdate']=='1970-01-01') { ?>
                                     <td colspan='2'></td>
                                   <?php } else { ?>
                                   <td><?php echo date('d-m-Y',strtotime($company['c_fromdate'])); ?></td>
                                   <td><?php echo date('d-m-Y',strtotime($company['c_todate'])); ?></td>

                                 <?php } ?>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>
                       <form class="uk-form" id="myform" name="myform" method="post" action="">

                        <h4 class="form-title">IC Document</h4>
                        <div class="row">
                           <?php if($this->IC_doc):?>

                          <?php $doc = count($this->IC_doc);?>
                           <?php foreach ($this->IC_doc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                  
                                   <p class="file-name">IC Document</p>
                                
                                   
                                   <p> <a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name']?>" target="_blank" download> Download</a></p>

                               </div>                                
                            </div>
                           <?php endforeach; ?> 
                              
                               
                               
                            <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?>       
                        </div>
                        <h4 class="form-title">Academic Certificate Document </h4>
                        

                        <div class="row">
                          <?php if($this->AC_doc):?>

                          <?php foreach ($this->AC_doc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Academic Certificate</p>
                                   <p><a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name']?>">Download</a></p>
                                  
                               </div>                                
                            </div>
                                <?php endforeach; ?>  
                               
          <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?>              
                          </div>
                          <h4 class="form-title">Academic Transcript Document </h4>
                        <div class="row">
                          <?php if($this->AT_doc):?>
                          <?php foreach ($this->AT_doc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Academic Transcript</p>
                                   <p><a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                             
                             <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?> 
                                                                                                                                                                  
                        </div>                                                                                        
  
                       <h4 class="form-title">Previous Membership Document </h4>
                        <div class="row">
                          <?php if($this->PreDoc):?>
                          <?php foreach ($this->PreDoc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Previous Membership</p>
                                   <p><a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                             
                            <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?> 

                                                                                                                                                                  
                        </div>  

                        <h4 class="form-title"> Confirmation Letter Document</h4>
                        <div class="row">
                           <?php if($this->CL_doc):?>
                          <?php foreach ($this->CL_doc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Confirmation Letter</p>
                                   <p><a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                                  
                                 <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?>                                                                                                                         
                        </div>  

                        <h4 class="form-title">CV / Resume </h4>
                        <div class="row">
                          <?php if($this->CV_doc):?>
                          <?php foreach ($this->CV_doc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">CV / Resume</p>
                                   <p><a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                              
                             <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?> 
                                                                                                                                                                  
                        </div>  



                          </div>
                    </div> 
                    <?php if(empty($this->getMember['id_member'])):?>
                    <div role="tabpanel" class="tab-pane fade " id="tab3">
                                             <div class="form-static">

                      <h4 class="form-title">Primary Details</h4> 
                         <div class="row">
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Nationality</label>
                                   <p class="form-control-static"><?php echo $this->getMember['CountryName']?></p>
                                   <input type="hidden" name="nation" id='nation' value=<?php echo $this->getMember['nationality']?>>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Passport/NRIC No.</label>
                                   <p class="form-control-static"><?php echo $this->getMember['username']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">First Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['firstname']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Last Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['lastname']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Email Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['email']?></p>
                               </div>
                             </div> 
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Contact Number</label>
                                   <p class="form-control-static"><?php echo $this->getMember['contactno']?></p>
                               </div>
                             </div>                        
                         
                             <div class="col-sm-3">
                               <div class="form-group">
                                    <label class="control-label">Gender</label>
                                   <p class="form-control-static"><?php echo $this->getMember['gender']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">State</label>
                                   <p class="form-control-static"><?php echo $this->getMember['StateName']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">City</label>
                                   <p class="form-control-static"><?php echo $this->getMember['city']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['address1']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Post Code</label>
                                   <p class="form-control-static"><?php echo $this->getMember['postcode']?></p>
                               </div>
                             </div> 
                                                     
                         </div> 
                    <?php if(!empty($this->get_userqualification)):?>
                         <h4 class="form-title">Qualification Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Qualification</th>
                                 <th>Year</th>
                                 <th>Universtiy</th>
                               </tr>
                               <?php foreach($this->get_userqualification as $qualification):?>
                               <tr>
                                 <td><?php echo $qualification['qualification']; ?></td>
                                  <td><?php echo $qualification['q_year']; ?></td>
                                   <td><?php echo $qualification['q_university']; ?></td>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>

                       <?php if(!empty($this->get_usercompany)):?>
                         <h4 class="form-title">Company Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Company Name</th>
                                 <th>Designation</th>
                                 <th>From Date</th>
                                 <th>To Date</th>
                               </tr>
                               <?php foreach($this->get_usercompany as $company):?>
                               <tr>
                                 <td><?php echo $company['u_company']; ?></td>
                                  <td><?php echo $company['u_designation']; ?></td>
                                   <?php if($company['c_fromdate']=='1970-01-01') { ?>
                                     <td colspan='2'></td>
                                   <?php } else { ?>
                                   <td><?php echo date('d-m-Y',strtotime($company['c_fromdate'])); ?></td>
                                   <td><?php echo date('d-m-Y',strtotime($company['c_todate'])); ?></td>

                                 <?php } ?>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>
                       
                        

                      </div>
                    </div>                   
                  </div>
                </div>
                <?php endif;?>
               
           </div>                  
        </div>
    </div>
</div> 
<!-- Reject Details Modal Starts -->
<div id="rejectDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Reject Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Write details<span class="requried">*</span></label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button> 
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>                
            </div>
        </div>

    </div>
</div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getTimezone()
    {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '"+timezone+"' ?", function () {
            $("#timezone").val ( timezone );
        }, function() {
            // user clicked "cancel"
        });
        return false;
    }

    $(document).ready(function(){

      $("#total_fee_amount").prop('readonly', true);
     

        $('#membershiptype').change(function () {
            
    var memberType = $('#membershiptype').val();
      if(memberType == 4 || memberType == 5 )
        {
        
         $("#prof_des").prop("disabled", true);
        }
        });

      $('#membershiptype').change(function () {


            var MemberId = $('#membershiptype').val();
              
                $('#subclassifaication').empty(); 


                    $.ajax({
                    type:'post',
                    //<?php //echo $this->baseUrl()?>/admin/ajax/delete-content
                    url:'<?php echo APP_URL; ?>/ajax/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                   //alert(response);     


                   $("#subclassifaication").append("<option value=''>--- Please Select--- </otion>");
                   // Add options
                    var len = response.length;

                    if(len == 0)
                    {
                       $("#subclassifaication").append("<option value='0'>Student </option>");
                    }

                  //  alert(len);

                  //  $("#subclassifaication").empty();
                  
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_subtype'];
                        var name = response[i]['member_subtype_name'];

                        
                        $("#subclassifaication").append("<option value='"+id+"'>"+name+"</option>");

                    }
                 //   $("#subclassifaication").prop("disabled", false);

                                               
                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

        $('#subclassifaication').change(function(){

        // alert('hi');

        $('#total_fee_amount').val('');
  
      var nationality_type = $('#nation').val();

      if(nationality_type == "MY")
      {
        nationality_type;        
      }
      else
      {
        nationality_type = "OTH";
      }



   

      var memberType = $('#membershiptype').val();

      var memberSubType = $('#subclassifaication').val();

     
      if(memberType == 1)
      {
        $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType,
           
                    },
              dataType: 'json',
              success: function(response)
                                {
                                    if(response=='' || response==undefined) {

                                    } else {
                                  $('#total_fee_amount').val(response[0]['totalamount']);
                                      
                                    }


                                  $('#id_feestructure').show();
                               $("#total_fee_amount").prop('readonly', true);

                                  $('#total_fee_amount').show();

                                   
                                },
              error: function(e){
                                console.log(e);
                                } 

            });
      }

      var memberSubType = $('#subclassifaication').val();
      var degree = $('#ddlQualification').val();

      $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType,
                   
                    },
              dataType: 'json',
              success: function(response)
                                { 
                                  
                                  $('#total_fee_amount').val(response[0]['totalamount']);
                                  $('#id_feestructure').show();
                                  $("#total_fee_amount").prop('readonly', true);
                                  $('#total_fee_amount').show();

                                   
                                },
              error: function(e){
                                console.log(e);
                                } 

            });

   });


        $('#btnApporve').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                var url = '<?php echo APP_URL;?>/admin/users/'
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/apporvefisrt',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){


                                                if(response == 1)
                                                {
                                                    alert('Applicant Approved ');
                                                    window.location.href = url; 
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved not approved');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
        $('#btnReject').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                 var url = '<?php echo APP_URL;?>/admin/users/?>'
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/rejectuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response)
                                                {
                                                    alert('Applicant Rejected ');
                                                    window.location.href = url; 
                                                }
                                                // else if(response == 3)
                                                // {
                                                //     alert ('Approved but Some Error in sending email');
                                                // }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
    });        


</script>