    
 
<h3>Renewal Approval</h3>  
               
               <div class="table-responsive">
            
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Email Address</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
   
                          <?php foreach ( $this->users as $users ) { ?>
                            <tr>
                                <td><a href="<?php echo $this->baseUrl()?>/admin/users/renew/id/<?php echo $users['id']?>"><?php echo $users['firstname'].' '.$users['lastname'] ?></a>
                                </td>
                                <td><?php echo $users['email']?></td>
                                <td><?php echo $users['DefinitionDesc']?></td>
                            </tr>
                             
                                            
                        </tbody>
                        <?php } ?>
                        
                    </table>                 
                </div>                
        