
<form class="uk-form uk-form-horizontal" method="post" id="user-form"  enctype="multipart/form-data" data-allow-submit="0">
<div class="clearfix">
                    <h4>Edit Role</h4>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Login Username</label>
                                    
                                     <select class="form-control" name="role" id="role">
                                        <?php foreach($this->roles as $role):?>
                                           <option value="<?php echo $role['idDefinition']?>"><?php echo $role['DefinitionDesc']?></option>
                                         <?php endforeach;?>    
                                    </select>
                               
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Username</label>
                                     <input type="text" value="<?php echo $this->user['username']?>" name="username" class="form-control" id="username" />  
                               </div>                                
                            </div>
                           

                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>First Name</label>
                                   <input type="text" value="<?php echo $this->user['firstname']?>" name="firstname" class="form-control" />
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Last Name</label>
                                     <input type="text" value="<?php echo $this->user['lastname']?>" name="lastname" class="form-control" id="lastname" />  
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Date of Birth</label>
                                   <input type="text" id='dob' value="<?php echo $this->user['contactno']?>" name="dob" class="form-control" />              
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Email</label>
                                    <input type="text" id='email' value="<?php echo $this->user['email']?>" name="email" class="form-control" />                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Contact NO</label>
                                   <input type="text" value="<?php echo $this->user['contactno']?>" name="contactno" class="form-control" />              
                               </div>                                
                            </div>
                                                      
                        </div>
                     </div> 
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    <input type="submit" class="btn btn-primary btn-lg" value='Submit'>
                    
                    <button type="button" class="btn btn-link btn-lg">Cancel</button>
                    <input type="button" class="btn btn-primary btn-lg"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberSubType', 'action'=>'index'),'default',true);?>';" />
                </div>                    
                                                                                                                                        
                    </div>                                                  
                </div>

    </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script>
     $(document).ready(function() {
       $('#contactno').attr('type','number');
      $('#email').blur(function() {

        
        var emailID = $('#email').val()
              atpos = emailID.indexOf("@");
              dotpos = emailID.lastIndexOf(".");
         
              if (atpos < 1 || ( dotpos - atpos < 2 )) 
              {
                
                $('#email_valid').append("this text was appended");
                  alert("Please enter correct email ID")
                  return false;
                  
                
        }

    });
      $("#username").blur(function(){
    
     var username = $('#username').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getuser',
                dataType :'json',
                data:
                    {
                      username : username,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {                      
                alert('username already exit');
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });

$("#email").blur(function(){
    
     var email = $('#email').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getemail',
                dataType :'json',
                data:
                    {
                      email : email,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {                      
                alert('Email-Id already exists');
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });
});
</script>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#dob" ).datepicker();
            $( "#dob" ).datepicker("show");
         });
      </script>

