  
    <ul class="breadcrumb">
                    <li><a href="#">Approval</a></li>
                    <li>Membership Ex Co Approval Details</li>
                </ul>
                <h3>Membership Ex Co Approval Details</h3> 
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation"><a href="#tabTwo" aria-controls="tabTwo" role="tab" data-toggle="tab">Documents</a></li>
                    <li role="presentation"><a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">Amount</a></li>
                    <li role="presentation" class="active"><a href="#tabThree" aria-controls="tabThree" role="tab" data-toggle="tab">Experience</a></li>
                    <li role="presentation"><a href="#tabFour" aria-controls="tabFour" role="tab" data-toggle="tab">Quallification</a></li>
                    <li role="presentation" class="active"><a href="#tabFive" aria-controls="tabFive" role="tab" data-toggle="tab">Ex-co</a></li>
                    <li role="presentation"><a href="#tabSix" aria-controls="tabSix" role="tab" data-toggle="tab">Ex-co Notes</a></li>

                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                      <div class="form-static">
                         <h4 class="form-title">Primary Details</h4> 
                         <div class="row">
                             <div class="col-sm-4">
                               <div class="form-group">
                                   <label class="control-label">Nationality</label>
                                   <p class="form-control-static"><?php if($this->getMember['nationality']=='MY'):?>
                                     <?php echo 'Malaysia';?>
                                   <?php else:?>
                                    <?php echo 'Non Malaysia'?>
                                    <?php endif;?>
                                   </p>
                               </div>
                             </div>
                             <div class="col-sm-8">
                               <div class="form-group">
                                   <label class="control-label">NRIC No.</label>
                                   <p class="form-control-static"><?php echo $this->getMember['username']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">First Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['firstname']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Last Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['lastname']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Email Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['email']?></p>
                               </div>
                             </div> 
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Contact Number</label>
                                   <p class="form-control-static"><?php echo $this->getMember['contactno']?></p>
                               </div>
                             </div>                        
                         </div> 
                         <div class="row">
                             <!-- <div class="col-sm-3">
                               <div class="form-group">
                                    <label class="control-label">Gender</label>
                                   <p class="form-control-static"><?php echo $this->getMember['gender']?></p>
                               </div>
                             </div> -->
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">State</label>
                                   <p class="form-control-static"><?php echo $this->getMember['state']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">City</label>
                                   <p class="form-control-static"><?php echo $this->getMember['city']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['address1']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Post Code</label>
                                   <p class="form-control-static"><?php echo $this->getMember['postcode']?></p>
                               </div>
                             </div> 
                                                     
                         </div> 
                   

                       
                     <?php if(!empty($this->getMember['id_member'])):?>
                         <h4 class="form-title">CIIF Membership Details</h4>                                                                  
                             <div class="row">  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Membership Classification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['member_name']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Sub Classification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['member_subtype_name']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Professional Designation</label>
                                   <p class="form-control-static"><?php if(empty($this->getMember['prof_des'])){
                                    echo 'Not Applicable';

                                   }else{
                                    echo $this->getMember['prof_des'];
                                   }?></p>
                               </div>
                             </div> 
                         
                            <!--  <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>    -->                                                   
                         </div>
                           <?php endif;?>

                       <!--   <div class="row">
                             <div class="col-sm-12">
                               <div class="form-group">
                                   <label class="control-label">Work Experience</label>
                                   <p class="form-control-static"><?php echo $this->getMember['exp_name']?></p>
                               </div>
                             </div>                              
                         </div>   -->
                        <!--   <h4 class="form-title">Additional Experience</h4>     
                         <div class="row">  
                            <?php if($this->getIndExp['indus']):?>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Industrial Experience</label>
                                    <p class="form-control-static"><?php echo $this->getIndExp['indus']?></p>
                               </div>
                             </div> 
                              <?php endif;?> 
                              <?php if($this->getLecExp['indus']):?>                            
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Industrial Experience</label>
                                   <p class="form-control-static"><?php echo $this->getLecExp['indus']?></p>
                               </div>
                             </div>
                              <?php endif;?>  
                             </div>  -->
                      </div>
                    </div>
                   
                    <div role="tabpanel" class="tab-pane fade" id="tabTwo">
                      
                        <h4>Academic Documents</h4>
                        <div class="row">
                          <?php $doc = count($this->documents);?>
                           <?php foreach ($this->documents as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                  
                                   <p class="file-name">Academic Document</p>
                                
                                   
                                   <p><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $document['doc_name'] ?>">Download</a></p>

                               </div>                                
                            </div>
                           <?php endforeach; ?> 
                              
                               
                               <div class="col-xs-6 col-sm-3 col-lg-2" align='left'>
                               <div class="document-block">
                                  
                                    <select name ='Acade' class='form-control'>
                                      <?php foreach ($this->programMode as $document) : ?>
                                      <option value="<?php echo $document['idDefinition']?>"><?php echo $document['DefinitionDesc']?></option>
                                       <?php endforeach;?>
                                    </select>
                              
                               </div>                                
                            </div> 
                                  
                        </div>
                        <h4>Work Experience Documents </h4>
                        

                        <div class="row">
                          <?php foreach ($this->ExpDoc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Work Experience Documents</p>
                                   <p><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $document['doc_name'] ?>">Download</a></p>
                                  
                               </div>                                
                            </div>
                                <?php endforeach; ?>  
                               <div class="col-xs-6 col-sm-3 col-lg-2" align='left'>
                               <div class="document-block">
                                  
                                    <select name ='Work' class='form-control'>
                                      <?php foreach ($this->programMode as $document) : ?>
                                      <option value="<?php echo $document['idDefinition']?>"><?php echo $document['DefinitionDesc']?></option>
                                       <?php endforeach;?>
                                    </select>
                            
                               </div>                                
                            </div>               
                          </div>
                                                                                                                    
  
                       <h4>Previous Membership Documents </h4>
                        <div class="row">
                          <?php if($this->PreDoc):?>
                          <?php foreach ($this->PreDoc as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Previous Membership Documents</p>
                                   <p><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                            <div class="col-xs-6 col-sm-3 col-lg-2" align='left'>
                               <div class="document-block">
                                  
                                    <select name ='Previ' class='form-control'>
                                      <?php foreach ($this->programMode as $document) : ?>
                                      <option value="<?php echo $document['idDefinition']?>"><?php echo $document['DefinitionDesc']?></option>
                                       <?php endforeach;?>
                                    </select>
                             
                               </div>                                
                            </div>  
                            <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?> 

                                                                                                                                                                  
                        </div>  

                        <h4> Nomination Documents </h4>
                        <div class="row">
                          <?php foreach ($this->Nomin as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Nomination Documents</p>
                                   <p><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                                   <div class="col-xs-6 col-sm-3 col-lg-2" align='left'>
                               <div class="document-block">
                                  
                                    <select name ='Nomin' class='form-control'>
                                      <?php foreach ($this->programMode as $document) : ?>
                                      <option value="<?php echo $document['idDefinition']?>"><?php echo $document['DefinitionDesc']?></option>
                                       <?php endforeach;?>
                                    </select>
                              
                               </div>                                
                            </div>  
                                                                                                                                                        
                        </div>  

                        <h4>Other Documents </h4>
                        <div class="row">
                          <?php if($this->Other):?>
                          <?php foreach ($this->Other as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <p class="file-name">Other Documents</p>
                                   <p><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $document['doc_name']?>">Download</a></p>
                               </div>                                
                            </div>
                             <?php endforeach; ?>  
                            <div class="col-xs-6 col-sm-3 col-lg-2" align='left'>
                               <div class="document-block">
                                  
                                    <select name ='Other' class='form-control'>
                                      <?php foreach ($this->programMode as $document) : ?>
                                      <option value="<?php echo $document['idDefinition']?>"><?php echo $document['DefinitionDesc']?></option>
                                       <?php endforeach;?>
                                    </select>
                                  
                               </div>                              
                            </div>   
                             <?php else:?>
                              <?php echo 'No Documents Found';?> 
                            <?php endif;?> 
                                                                                                                                                                  
                        </div>   

                     


                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabThree">
                      <?php if(!empty($this->get_usercompany)):?>
                         <h4 class="form-title">Company Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>Company Name</th>
                                 <th>Desigination</th>
                                 <th>From Date</th>
                                 <th>To Date</th>
                               </tr>
                               <?php foreach($this->get_usercompany as $company):?>
                               <tr>
                                 <td><?php echo $company['u_company']; ?></td>
                                  <td><?php echo $company['u_designation']; ?></td>
                                   <td><?php echo $company['c_fromdate']; ?></td>
                                   <td><?php echo $company['c_todate']; ?></td>
                               </tr>
                             <?php endforeach;?>
                             </table>
                                                                       
                         </div>
                           <?php endif;?>
                     </div>              
                     <div role="tabpanel" class="tab-pane fade" id="tabFour">
                       <?php if(!empty($this->get_userqualification)):?>
                         <h4 class="form-title">Qualification Details</h4>                                                                  
                             <div class="row">  
                             <table class="table table-striped">
                               <tr>
                                 <th>qualification</th>
                                 <th>Year</th>
                                 <th>Universtiy</th>
                               </tr>
                               <?php foreach($this->get_userqualification as $qualification):?>
                               <tr>
                                 <td><?php echo $qualification['qualification']; ?></td>
                                  <td><?php echo $qualification['q_year']; ?></td>
                                   <td><?php echo $qualification['q_university']; ?></td>
                               </tr>
                             <?php endforeach;?>
                             </table>
                         
                                                                           
                         </div>
                           <?php endif;?>
                     </div>   
                     <div role="tabpanel" class="tab-pane fade" id="tab7">
                      <p>Your Application Fee :-</p> <p></p>
                     </div>
                          <div role="tabpanel" class="tab-pane fade" id="tabSix">
                                 <h4 class="form-title">Notes</h4>     
                         <div class="row">
                   <div class="col-sm-12">
                    <div class="form-group">
                        <label>AMC Notes<span class="requried">*</span></label>
                         <textarea class="form-control" name="admin_notes"></textarea>
                         
                    </div>                        
                   </div>                         
               </div>  
               <div class="row">
                   <div class="col-sm-12">
                    <div class="form-group">
                        <label>Admin Notes<span class="requried">*</span></label>
                         <textarea class="form-control" name="banking_notes"></textarea>
                         
                    </div>                        
                   </div>                         
               </div>  
                      </div>
                                  
                  </div>
                </div>
                
                <div class="button-group">
                   <input type="Submit"  class="btn btn-primary btn-lg"> 
                      </form>
                    <button type="button" id="btnApporve" class="btn btn-primary btn-lg">Approve</button>
                    <button type="button" id="btnReject" class="btn btn-primary btn-lg">Reject</button>
                    <!-- <button type="button" id="btnReject" class="btn btn-inverse btn-lg" data-toggle="modal" data-target="#rejectDetailsModal">Reject</button> -->
                </div>                                                                  
           </div>                  
        </div>
    </div>
</div> 
<!-- Reject Details Modal Starts -->
<div id="rejectDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Reject Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Write details<span class="requried">*</span></label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button> 
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>                
            </div>
        </div>

    </div>
</div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getTimezone()
    {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '"+timezone+"' ?", function () {
            $("#timezone").val ( timezone );
        }, function() {
            // user clicked "cancel"
        });
        return false;
    }

    $(document).ready(function(){
        $('#btnApporve').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/apporveuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Approved ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved but Some Error in sending email');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
        $('#btnReject').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/rejectuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Rejected ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved but Some Error in sending email');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
    });        


</script>