<h3>Ex Co Approval Details</h3>  
 <form class="uk-form"  id="searchform" name="searchform" method="post" action="">
<!--                     <h4>Membership Fee</h4>
 -->                    <div class="filter-block">
                        <div class="row">
                            <form class="uk-form"  id="searchform" name="searchform" method="post" action="">

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>From Date</label>
                                    <td><?php echo $this->form->start_date;?></td>
                                    
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label>To Date</label>
                                    <td><?php echo $this->form->end_date;?></td>
                                    
                                </div>                                 
                            </div>
                          </form>
                            <div class="col-sm-12 col-md-4">
                                <div class="filter-button-group">
                                    <input class="btn btn-primary" name='Search' type="submit" value='Search'>

                                 <!--   <a href="<?php echo $this->baseUrl() ?>/admin/MemberFeeStructure/add">
                                    <button class="btn btn-primary" type="button">Add</button>

                                </a> -->
                    <input class="btn btn-primary" type="reset" value="Clear">
                                </div>
                            </div>                           
                        </div>
                    </div>
                   </form> 
<div style="overflow-x:auto;">
                     <table id="example" class="filter-block table table-striped" style="margin-bottom:1px;">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                 <th>Membership Type</th>
                                <th>Qualification</th>
                                <th width='15%'>Working Company</th>
                                 <th>Download Documents</th>
                                <th>Amount</th>
                                <th>Approved Date</th>
                              <th>Approved By</th>
                                <th>Status</th> 
                                
                            </tr>
                        </thead>
                        <tbody>
                              <form class="uk-form" id="myform" name="myform" method="post" action="">
                          <?php foreach ( $this->get_user as $users ) { 
                            $id = $users['id'];
                            ?>
                        <tr>
                            <td>
                                <ul>
                                    <li><input type="checkbox" name="<?php echo $users['id']?>[]">

<a href="/admin/users/edit/id/<?php echo $id;?>" target="_blank"><?php echo $users['firstname'].' '.$users['lastname'] ?></a>
                                      



                                    </li>
                                     <li> <?php echo $users['email']?></li>
                        
                                    <li><?php echo $users['contactno']?></li></ul></td>
                                     <td><?php echo  $users['member_name']?> </td>
                            <td>
                                    <ul>
                                        <li><?php echo  $users['qualification']?></a></li>
                                        <li> <?php echo $users['q_year']?></li>
                                        <li><?php echo  $users['q_university']?></li>
                                    </ul>
                                </td>

                            <td>
                                    <ul>
                                        <li><?php echo  $users['u_company']?></a></li>
                                        <li> <?php echo $users['u_designation']?></li>
                                        <?php if($users['c_fromdate']=='1970-01-01' || $users['c_fromdate']=='') { ?>
                                          
                                       <?php } else { ?>

<li><?php echo  date('d-m-Y',strtotime($users['c_fromdate']))?></li>
                                        <li>
                                            <?php if ($users['samecompany']=='yes') { ?>

                                             <?php echo " to - Till Date";?>
 
                                          <?php   } else { ?> 
                                          <?php echo   " to - ". date('d-m-Y',strtotime($users['c_todate']))?>
                                            
                                          <?php } ?>


                                          </li>
                                         <?php } ?>
                                        
                                    </ul>
                                </td>

                            
                            <td>
                                <?php $get_doc = new App_Model_User(); 
                                        $get_userdoc = $get_doc->get_userdoc($users['id']);

                                       
                                       ?>

                                    <ul>
                                         <?php foreach ($get_userdoc as $document) : ?>
                                          <li> <a href="<?php echo APP_URL;?>/<?php  echo $document['doc_name'] ?>" target="_blank" download>
                                           <?php 
                                             switch($document['doc_type']) 
                                             { 
                                              case '1' : $name = 'IC Document';break;
                                              case '2' : $name = 'Academic Certificate';break;
                                              case '3' : $name = 'Academic Transcript';break;
                                              case '4' : $name = 'Confirmation Letter';break;
                                              case '5' : $name = 'CV';break;
                                              case '6' : $name = 'Previous Membership';break;

                                             } ?>
                                           <?php echo $name;?>
 
                                           </a></li>
                                         <?php endforeach;?>
                                    </ul>
                                </td>

                        
                                <td><?php echo  'RM '.$users['total_amount']?> </td>

                                 <td>

                                  <?php if($users['amc_approve_date']=='') { ?>

                                       
                                  <?php } else { ?>
                                        <?php echo date('d/m/Y',strtotime($users['amc_approve_date']));?>

                                  <?php } ?> 

                                </td>
                                <!--   <td ><textarea class="form-control" class="comment_notes" name="comment" ></textarea></td> -->
                                <td>Administrator</td> 
                             <td><?php echo $users['DefinitionDesc']?> </td>
                                 <!--  <td colspan="3"><textarea class="form-control" class="comment_notes" name="comment_notes" ></textarea></td> -->
                                               
                            </tr>

                           
                             <?php } ?>
                        </tbody>
                
                    </table>                 
                </div>
                  <?php if(!empty($this->get_user)){?>
                 <div class="filter-block  table-responsive">
                 
                   <table class="table" >
                  
                       <tr>
                        <th>Date</th>
                        <td></td>
                           <td><input type="text" class='approve_date form-control' name="approve_date"></td>
                        </tr>
                      
                        <tr>

                            <th>Reference Number</th>
                           <td></td>  
                           <td><input type="text" class="form-control" name="ref_no"></td>
                          
                       </tr>

                       <tr id="reject_notes">

                            <th>Reject comments</th>
                             <td></td>
                           <td><textarea class="form-control" id="rejectn" name="reject_notes"></textarea></td>
                       </tr>
                       
                   </table>
                     <div class="button-group">
                <!--    <input type="Submit" name='approve'  class="btn btn-primary btn-lg"> -->
                    <button type="Submit" name='approve' value="approve" class="btn btn-primary btn-lg" >Submit</button>
                    <button type="Submit" name='reject' id='reject' value="reject" class="btn btn-primary btn-lg">Reject</button> 
                     <!-- <button type="Submit" name='comments' id='comment' value="comments" class="btn btn-primary btn-lg">Comments</button>  -->
                     
                  </form>
                    
                   
                    
                </div>
                 </div>               
                 <?php }?>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      

 <script>
        $(document).ready(function(){
             $('.approve_date').datepicker({ dateFormat: 'dd-mm-yy',
          changeMonth: true,
          changeYear: true })

             $('#start_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true })
             $('#end_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true })
         $('.comment_notes').hide();
                 $('#reject_notes').hide();
             $('#reject').click(function(){
            
             $('#reject_notes').show();
             $("#rejectn").prop('required',true);
           
        });

          })
      </script>
