<style type="text/css">
.infolist-alt > li > span { min-width: 20px; }
</style>
<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-float-right uk-margin-top"></div>
        <div class="subtitle"><?php echo $this->translate('Users')?></div>
        <div class="title"><h1><?php echo $this->translate('Tracking')?></h1></div>
    </div>
</div>

<div>
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <ul class="uk-list uk-list-space">
            <li>
                <i class="uk-icon-user uk-icon-justify"></i> 
                <a href="/admin/users/tracking/id/<?php echo $this->user['id']; ?>"><?php echo $this->user['firstname'] .' '. $this->user['lastname']; ?></a>
            </li>
        </ul>
    </div>
    <br />
    
    <?php if(count($this->programs)): ?>
        <table class="uk-table uk-table-stacked uk-table-admin">
            <?php foreach($this->programs as $program): ?>
                <tr>
                    <th><?php echo $program['name']; ?></th>
                </tr>
                <?php foreach($program['courses'] as $course): ?>
                <tr>
                    <td> &nbsp; &nbsp; 
                        <a href="/admin/report/view/id/<?php echo $course['id']; ?>/user/<?php echo $this->user_id; ?>">
                            <?php echo $course['code']; ?> - <?php echo $course['title']; ?>
                        </a>
                    </td>
                </tr>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </table>
    <?php else: ?>
        <div class="uk-alert uk-alert-danger"><?php echo $this->translate('This user has not enrolled in any program yet'); ?></div>
    <?php endif; ?>
</div>