  
    <ul class="breadcrumb">
                    <li><a href="#">Upgrade Approval</a></li>
                    <li>Upgrade Approval Details</li>
                </ul>
                <h3>Upgrade Approval Details</h3> 
                <div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation"><a href="#tabTwo" aria-controls="tabTwo" role="tab" data-toggle="tab">Membership Upgrade Details</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                      <div class="form-static">
                         <h4 class="form-title">Primary Details</h4> 
                         <div class="row">
                             <div class="col-sm-4">
                               <div class="form-group">
                                   <label class="control-label">Nationality</label>
                                   <p class="form-control-static"><?php if($this->getMember['nationality']=='MY'):?>
                                     <?php echo 'Malaysia';?>
                                   <?php else:?>
                                    <?php echo 'Non Malaysia'?>
                                    <?php endif;?>
                                   </p>
                               </div>
                             </div>
                             <div class="col-sm-8">
                               <div class="form-group">
                                   <label class="control-label">NRIC No.</label>
                                   <p class="form-control-static"><?php echo $this->getMember['username']?></p>
                               </div>
                             </div>   
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">First Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['firstname']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Last Name</label>
                                   <p class="form-control-static"><?php echo $this->getMember['lastname']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Email Address</label>
                                   <p class="form-control-static"><?php echo $this->getMember['email']?></p>
                               </div>
                             </div> 
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Contact Number</label>
                                   <p class="form-control-static"><?php echo $this->getMember['contactno']?></p>
                               </div>
                             </div>                        
                         </div> 
                         <h4 class="form-title">CIIFP Membership Details</h4>                                                                      <div class="row">  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Membership Classification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['member_name']?></p>
                               </div>
                             </div>  
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Sub Classification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['member_subtype_name']?></p>
                               </div>
                             </div>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Professional Designation</label>
                                   <p class="form-control-static"><?php if(empty($this->getMember['prof_des'])){
                                    echo 'Not Applicable';

                                   }else{
                                    echo $this->getMember['prof_des'];
                                   }?></p>
                               </div>
                             </div> 
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Qualification</label>
                                   <p class="form-control-static"><?php echo $this->getMember['DefinitionDesc']?></p>
                               </div>
                             </div>                                                      
                         </div>

                         <div class="row">
                             <div class="col-sm-12">
                               <div class="form-group">
                                   <label class="control-label">Work Experience</label>
                                   <p class="form-control-static"><?php echo $this->getMember['exp_name']?></p>
                               </div>
                             </div>                              
                         </div>  
                          <h4 class="form-title">Additional Experience</h4>     
                         <div class="row">  
                            <?php if($this->getIndExp['indus']):?>
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Industrial Experience</label>
                                    <p class="form-control-static"><?php echo $this->getIndExp['indus']?></p>
                               </div>
                             </div> 
                              <?php endif;?> 
                              <?php if($this->getLecExp['indus']):?>                            
                             <div class="col-sm-3">
                               <div class="form-group">
                                   <label class="control-label">Industrial Experience</label>
                                   <p class="form-control-static"><?php echo $this->getLecExp['indus']?></p>
                               </div>
                             </div>
                              <?php endif;?>  
                             </div> 
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabTwo"><h4>Renewal Details</h4>
                        <div class="row">
                          <div class="col-sm-6">
                          <?php $doc = count($this->documents);
                          $i=0;?>
                           
                            <table class="table table-striped"><tr>
                                      <td>Membership Name</td>
                                      <td> :- </td>
                                      <td><?php echo $this->renewal['member_name'] ?></td>
                                      
                                      <td></td>
                                      
                              </tr>
                              <tr>
                                
                                <td>Activation Date</td>
                                <td> :- </td>
                                <td><?php echo (isset($this->renewal["mr_activation_date"])) ? date('d-m-Y', strtotime($this->renewal["mr_activation_date"])) : '-'; ?></td>
                               
                              
                              </tr>
                              <tr>
                                <td>Expiration Date</td>
                                <td> :- </td>
                                  <td><?php echo (isset($this->renewal["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->renewal["mr_expiry_date"])) : '-'; ?></td>

                              </tr>
                            </table>
                          
                              </div>                   
                        </div>
                        <div class="row">
                          <?php $doc = count($this->documents);
                          $i=0;?>
                           <?php foreach ($this->documents as $document) : ?>
                            <div class="col-xs-6 col-sm-3 col-lg-2">
                               <div class="document-block">
                                   <img src="img/document.svg" alt="">
                                   <?php ++$i;?>
                                   <p class="file-name">document<?php.'-'.$i;?></p>
                                
                                   
                                   <p><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $document['doc_name'] ?>">Download</a></p>
                               </div>                                
                            </div>
                          
                              <?php endforeach; ?>                     
                        </div>
                        

                            <div class="button-group">

                               <button id="btnApporve" data-applicantId="<?php echo AJAX_URL; ?>" class="btn btn-primary btn-lg">Approve</button>
                <button id="btnReject" data-applicantId="<?php echo AJAX_URL; ?>" class="btn btn-primary btn-lg">Reject</button>
                          </div>  
                        </div>                                             
                    </div>                    
                  </div>
                </div>
                                                                                
           </div>                  
        </div>
    </div>
</div> 
<!-- Reject Details Modal Starts -->
<div id="rejectDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Reject Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Write details<span class="requried">*</span></label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button> 
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>                
            </div>
        </div>

    </div>
</div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getTimezone()
    {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '"+timezone+"' ?", function () {
            $("#timezone").val ( timezone );
        }, function() {
            // user clicked "cancel"
        });
        return false;
    }

    $(document).ready(function(){
        $('#btnApporve').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['upgrade_member'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/upgradeuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Approved ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved but Some Error in sending email');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
        $('#btnReject').click(function(){
            // alert(<?php //echo $this->user['id'] ?>)
                var user_status = '<?php echo $this->user['approve_status'] ?>';
                //alert(user_status);  
                if(user_status == 1)
                {   
                    alert("User is Already Apporved");
                }
                else
                {
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/rejectupgradeuser',
                   // dataType :'json',
                    data:{applicant_id:'<?php echo $this->user['id'] ?>',
                          applicant_email : '<?php echo $this->user['email'] ?>',
                          applicant_name : '<?php echo $this->user['firstname'] ?>'
                         },
                    success:function(response){

                                                if(response == 1)
                                                {
                                                    alert('Applicant Rejected ');
                                                }
                                                else if(response == 3)
                                                {
                                                    alert ('Approved but Some Error in sending email');
                                                }
                                                else
                                                {
                                                    alert(response);
                                                }

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                }

        });
    });        


</script>