<h3>Payment Approval Details</h3>  
                <div class="filter-block  table-responsive">
                     <table id="example" class="table table-striped" >
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Qualification</th>
                                <th>Experience</th>
                                 <th>Documents</th>
                                <th>Amount</th>
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                              <form  id="myform" name="myform" method="post" action="">
                          <?php foreach ( $this->get_user as $users ) { ?>
                        <tr>
                            <td>
                                <ul>
                                    <li><input type="checkbox" name="<?php echo $users['id']?>[]"><?php echo $users['firstname'].' '.$users['lastname'] ?></li>
                                     <li> <?php echo $users['email']?></li>
                        
                                    <li><?php echo $users['contactno']?></li></ul></td>
                            <td>
                                    <ul>
                                        <li><?php echo  $users['qualification']?></a></li>
                                        <li> <?php echo $users['q_year']?></li>
                                        <li><?php echo  $users['q_university']?></li>
                                    </ul>
                                </td>

                            <td>
                                    <ul>
                                        <li><?php echo  $users['u_company']?></a></li>
                                        <li> <?php echo $users['u_designation']?></li>
                                        <li><?php echo  $users['c_fromdate']?></li>
                                        <li><?php echo  $users['c_todate']?></li>
                                    </ul>
                                </td>

                            
                            <td>
                                <?php $get_doc = new App_Model_UserDocuments(); 
                                        $get_userdoc = $get_doc->getPaymentDoc($users['id']);

                                       ?>
                                    <ul>
                                         <?php foreach ( $get_userdoc as $doc ) : ?>
                                          <li><a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo $doc['doc_name'] ?>">Download </a></li>
                                         <?php endforeach;?>
                                    </ul>
                                </td>

                        
                                <td><?php echo  $users['total_amount']?> </td>
                                   
                
                            </tr>
                           
                             <?php } ?>
                        </tbody>
                
                    </table>                 
                </div>
                  <?php if(!empty($this->get_user)){?>
                 <div class="filter-block  table-responsive">
                 
               <!--     <table class="table" >
                  
                       <tr>
                        <th>Date</th>
                        <td></td>
                           <td><input type="text" class='approve_date form-control' name="approve_date"></td>
                        </tr>
                      
                        <tr>

                            <th>Reference Number</th>
                            <td></td>
                           <td><input type="text" class="form-control" name="ref_no"></td>
                       </tr>
                   </table>
 -->                     <div class="button-group">
                   <input type="Submit"  class="btn btn-primary btn-lg"> 
                      </form>
                 
                    
                   
                    
                </div>
                 </div>               
                 <?php }?>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      

 <script>
        
             $('.approve_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true })
         
      </script>
