



<div class="dashhead">
    <div class="title-info"><small>Last Updated: <?php echo Cms_Date::date($this->user['modifieddate'])?></small></div>

    <div class="title-wrap">
        <div class="subtitle"><?php echo $this->translate('Users')?></div>
        <div class="title"><h1><?php echo $this->translate('Application Details')?></h1></div>
    </div>
</div>

<?php if ($this->id < 12){?>
<div class="uk-float-right uk-margin-top">
    <a href="" class="uk-button uk-button-success"><i class="uk-icon-tick uk-margin-small-right"></i> <?php echo $this->translate('Approved')?> </a>
</div>
<?php } ?>

<form class="uk-form uk-form-horizontal" method="post" id="edituser"  enctype="multipart/form-data">


    <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">
        <li class="" aria-expanded="false"><a href="#documents"><?php echo $this->translate('Application Approval')?></a>  </li>
    </ul>
    <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">


        <div class="tab" id="documents"><br>
            <div class="uk-form-row">
                <div class="uk-form-row">
                    <h4><b><?php echo $this->translate('Profile') ?>:</b></h4>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="username"><?php echo $this->translate('ID')?></label>
                        <div class="uk-form-controls">
                            <input type="text" class="uk-form-width-large" disabled value="<?php echo $this->user['username'] ?>" />
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="firstname"><?php echo $this->translate('First Name')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->firstname->setAttrib('class','uk-form-width-large') ?>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="lastname"><?php echo $this->translate('Last Name')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->lastname->setAttrib('class','uk-form-width-large')  ?>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="email"><?php echo $this->translate('Email')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->email->setAttrib('class','uk-form-width-large')  ?>
                        </div>
                    </div>
                </div>


                <br>
                <?php if ($this->documents) : ?>
                    <?php $i = 0 ?>

                    <table class="uk-table uk-table-stacked uk-table-admin tablesaw tablesaw-columntoggle" data-tablesaw-mode="columntoggle">
                        <thead>
                            <tr>
                                <th data-tablesaw-priority="persist">No</th>
                                <th class="tablesaw-priority-1" data-tablesaw-priority="1">Title</th>
                                <th class="tablesaw-priority-2" data-tablesaw-priority="2">File Name</th>
                                <th class="tablesaw-priority-3" data-tablesaw-priority="3">File Size</th>
                                <th class="tablesaw-priority-4" data-tablesaw-priority="4">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        <?php foreach ($this->documents as $document) : ?>
                            <tr>
                                <td><?php echo ++$i ?></td>
                                <td class="tablesaw-priority-1"><?php echo $document['doc_title'] ?></a></td>
                                <td class="tablesaw-priority-2"><?php echo $document['doc_filename'] ?></a></td>
                                <td class="tablesaw-priority-3"><?php echo Cms_Common::formatFilesize($document['doc_filesize']) ?></a></td>
                                <td class="tablesaw-priority-4">
                                    <div class="uk-button-group">
                                        <a class="uk-button uk-button-small" title="Download" data-uk-tooltip="" href="<?php echo $document['doc_url'] ?>" target="_blank">
                                            <i class="uk-icon-download"></i>
                                        </a>
                                        <a class="uk-button uk-button-small" title="Delete" data-uk-tooltip="" href="/admin/users/delete-doc/doc_id/<?php echo $document['doc_id'] ?>/id/<?php echo $this->user['id'] ?>" onclick="return sure(this,'Are you sure you want to delete this document?')">
                                            <i class="uk-icon-ban"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>

                        </tbody>
                    </table>

                <?php endif; ?>
            </div>
            <hr><br />

            <!--Membership div-->
            <div class="uk-form-row">
                <h4><b><?php echo $this->translate('Membership Application') ?>:</b></h4>

                <div class="uk-panel uk-panel-box">
                <h5><b>Membership Fee</b></h5><p class="desc">Renewal fee is anually charged </p>
                <ul class="content-grid">
                    <li class="row-content-413">Affliate, AICB (RM 60)</li>
                    <li class="row-content-413">Associate, AICB (RM 120)</li>
                    <li class="row-content-413">Chartered Banker, CB (RM 300)</li>
                </ul>
                </div>
                <br>
                <a class="uk-button"><i class="icon uk-icon-bell-o"> &nbsp;Notify Applicant</i></a>
                <p class="desc">This button will send the reminder to applicant for membership status</p>
                <br>
                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Designation')?></label>
                    <div class="uk-form-controls">
                       <b>Associate, AICB</b><br>
                        <p class="desc">
                            Validity : <label style="background-color: greenyellow"><?php echo $this->translate('Active')?></label><br>
                            Expiry Date : 02 July 2019</p>

                        <?php if ($this->id > 12){?>

                        <?php }else{?>
                            <div class="subtitle">
                                <a class="uk-button uk-button-primary"><i class="uk-margin-small-right"></i> <?php echo $this->translate('Renewed')?> </a>
                            </div>
                        <?php }?>
                    </div>
                </div>
            </div>

            <div class="uk-form-row">
                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Renewal Request')?></label>
                    <div class="uk-form-controls">
                        <input type="radio" checked> Yes
                        <input type="radio"> No <br><br>
                    </div>

                </div>
            </div>


            <div class="uk-form-row">
                <h4><b><?php echo $this->translate('Supporting Documents') ?>:</b></h4>
            </div>

            <div class="uk-form-row">
                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Attached File')?></label>
                    <div class="uk-form-controls">
                        <div class="uk-form-file filesarea">
                            <ul>
                                <li> <a href=""> [ Document_1.docx ]  </a></li>
                                <li> <a href=""> [ Document_2.docx ]  </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-form-row">
                <h4><br><b><?php echo $this->translate('Fee') ?>:</b></h4>
            </div>
            <div class="uk-form-row">
                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Total Amount')?></label>
                    <div class="uk-form-controls">
                        RM 120
                    </div>
                </div>
            </div>

            <div class="uk-form-row">
                <?php if ($this->id > 12){?><br><br>
                    <button type="submit" name="register" class="uk-button uk-button-primary">Approve</button>
                    <button type="button" class="uk-button" onclick="redirect('/user/dashboard')">Cancel</button>
                <?php }?>

            </div>


            <!--Membership div-->



            <hr>



            <!--Qualification div-->
            <div class="uk-form-row">
                <br>
                <h4><b><?php echo $this->translate('Qualification Application') ?>:</b></h4>

                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Education Pathway')?></label>
                    <div class="uk-form-controls">
                       <b> Professional Banker (Level 1)</b>
                    </div>
                </div>
            </div>

            <div class="uk-form-row">
                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Qualification')?></label>
                    <div class="uk-form-controls">
                        <strong><u>Standard Route</u></strong><br><br>
                        <input type="checkbox" checked> Recognised <i>Executive Banker (Level 1) </i>OR;<br>
                        <input type="checkbox" checked> AICB intermediate level qualification <i>* to complete 2 Professional Banker modules</i> <br><br>

                    </div>
                </div>
            </div>


            <div class="uk-form-row">
                <h4><b><?php echo $this->translate('Upload File') ?>:</b></h4>
            </div>

            <div class="uk-form-row">
                <div class="uk-margin-left">
                    <label class="uk-form-label"><?php echo $this->translate('Attached File')?></label>
                    <div class="uk-form-controls">
                        <div class="uk-form-file filesarea">
                            <ul>
                                <li> <a href=""> [ Certificate_1.docx ]  </a></li>
                                <li> <a href=""> [ Certificate_2.docx ]  </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-panel uk-panel-box">
                <strong> Registered Modules:</strong><p class="desc">Each modules cost RM 1213 </p><br><br>
               <table class="uk-table uk-table-bordered">
                <th> Modules </th>
                <th> Type </th>
                <tr>
                    <td><i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>Retail Landing</td>
                    <td>Compulsory</td>
                </tr>
                <tr>
                    <td><i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>Bank Management</td>
                    <td>Elective</td>
                </tr>
                <tr>
                   <td><i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>International Trade Finance</td>
                   <td>Elective</td>
                </tr>

               </table>
            </div>


            <div class="uk-form-row">
                <h4><br><b><?php echo $this->translate('Fee') ?>:</b></h4>
            </div>
            <div class="uk-form-row">
            <div class="uk-margin-left">
                <label class="uk-form-label"><?php echo $this->translate('Total Amount')?></label>
                <div class="uk-form-controls">
                   RM 3639
                </div>
            </div>
            </div>

            <div class="uk-form-row">
            <div class="uk-margin-left">
                <label class="uk-form-label"><?php echo $this->translate('Invoice')?></label>
                <div class="uk-form-controls">
                    <button class="uk-button uk-button-small"><i class="uk-icon-download"></i></button>
                </div>
            </div>
                </div>
            <!--Qualification div-->


        </div>
    </div>

    <?php if ($this->id < 12){?>
        <div class="uk-form-row">
            <h4><b><?php echo $this->translate('Approval Remarks') ?>:</b></h4>
        </div>
        <textarea disabled rows="3" cols="220" placeholder=""> All documents required completed.</textarea>

    <?php }else{?>
        <div class="uk-form-row">
            <h4><b><?php echo $this->translate('Approval Remarks') ?>:</b></h4>
        </div>
    <textarea rows="3" cols="220" placeholder="Provide Approval Remarks here"></textarea>
        <br><br>
    <?php }?>
    <div class="uk-form-row">
        <?php if ($this->id > 12){?>
        <button type="submit" name="register" class="uk-button uk-button-primary">Approve</button>
        <button type="button" class="uk-button" onclick="redirect('/user/dashboard')">Cancel</button>
        <?php }?>
    </div>

    <?php if ($this->id > 12){?>
    <div class="uk-float-right uk-margin-top">
       <a href="<?php echo $this->baseUrl()?>/admin/announcements/new" class="uk-button uk-button-success"><i class="uk-margin-small-right"></i> <?php echo $this->translate('Next')?> </a>
    </div>
    <?php } ?>
</form>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getTimezone()
    {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '"+timezone+"' ?", function () {
            $("#timezone").val ( timezone );
        }, function() {
            // user clicked "cancel"
        });
        return false;
    }
</script>