
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>                  
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>


<br></br>
<!-- Form for Copy Intake -->
<fieldset>
<legend><?php echo $this->translate("Copy Intake");?></legend>

<Form dojoType="dijit.form.Form" id="myForm1"
	 action="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'copyintake'),'default',true);?>"
	 method="post" 
	 name="myForm1">
	 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
	</script>
	
<table class="table" width="100%">
	<tr>
		<th colspan="4">Copy Intake</th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Intake Id");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->CopyIntakeId;?></td>
		<td><?php echo $this->translate("Intake Description");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->CopyIntakeDescription;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Application Start Date");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->CopyApplicationStartDate;?></td>
		<td><?php echo $this->translate("Application End Date");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->CopyApplicationEndDate;?></td>
	</tr>
        <tr>
		<td><?php echo $this->translate("Document Submission Start Date");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->CopyAdmissionStartDate;?></td>
		<td><?php echo $this->translate("Document Submission End Date");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->CopyAdmissionEndDate;?></td>
	</tr>


	<tr>
		<td><?php echo $this->translate("Copy From");?><span
			class="reqMark">*</span><?php echo $this->lobjIntakeForm->UpdDate ;?>
								<?php echo $this->lobjIntakeForm->UpdUser ;?></td>
		<td><?php echo $this->lobjIntakeForm->FromIntake;?></td>
	</tr>
	<tr>
		<td colspan="4" align="right"><?php echo $this->lobjIntakeForm->Copy;?></td>
	</tr>
</table>

</Form>
</fieldset>