<script type="text/javascript">
$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'dd-mm-yy',
		changeMonth: true,
		changeYear: true
	});

	$("#rl_time").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});
});
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Intake Id").' : '.$this->intakeInfo['IntakeId'] ?></li>
        <li><?php echo $this->translate("Intake Description").' : '.$this->intakeInfo['IntakeDesc'] ?></li>
    </ul>
</fieldset>
<br></br>
<fieldset>
    <legend><?php echo $this->translate("Edit Registration Location")?></legend>
    <form dojoType="dijit.form.Form"  name='form1' method="post" >
    <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				
	<input type='hidden' name='rl_id' value='<?php echo $this->rl_id;?>'></input>
	<input type='hidden' name='idIntake' value='<?php echo $this->IdIntake;?>'></input>
	
	<table class="table" width="100%">
		<tr>
			<th colspan="4"><?php echo $this->translate("Registration Location")?></th>
		</tr>
		<tr>		
			<td><?php echo $this->translate("Branch");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjIntakeForm->rl_branch;?></td>
			<td><?php echo $this->translate("Registration Date");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjIntakeForm->rl_date;?></td>			
		</tr>
		<tr>		
			<td><?php echo $this->translate("Registration Time");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjIntakeForm->rl_time;?></td>
			<td><?php echo $this->translate("Address");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjIntakeForm->rl_address;?></td>
		</tr>       
		<tr>
	      <td colspan='4' align='center'><input type='submit' name='save' value='Save'></input></td>
	    </tr>	
	</table>
	</form>
</fieldset>