<script type="text/javascript">

	$(function() {
		 $( "#dialog-branch" ).dialog({
		  modal: true,
		  autoOpen: false
		});

	
		$('.datepicker').datepicker( {
			dateFormat: 'dd-mm-yy',
	        changeMonth: true,
	        changeYear: true
		});
	});

	function viewbranch(intake,ip_id){

		var table = $('#branchList tbody');
		$(table).empty();
		
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'ajax-get-data'),'default',true);?>",
			data: {'intake':intake,'ip_id':ip_id,'type':'intake_branch'},
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				$(table).append("<tr><td colspan='2'><?php echo $this->translate('Loading..')?></td></tr>");
			}
		}).done(function ( data ){
				console.log(data);
				$(table).empty();
				if(data){
		        	  for(var i=0; i<data.length; i++){		        	  	

		        		var no = i+1;
				    	var content = "<tr>" +
				    				 "<td align='center'>"+no+"</td>"+
				    	         	  "<td align='center'>"+data[i].BranchName+"</td>"+
	                                  "</tr>";	
				    	$(table).append(content);  
		        	  }
		    	 } 
		    	 
		});
		
		 $( "#dialog-branch" ).dialog("open" );
		 //ajax populate data branch
	}

	function addIntakeProgram(){
            window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'addintakeprogram'));?>";
        }

   
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="javascript:addIntakeProgram()">
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Intake Id").' : '.$this->intakeInfo['IntakeId'] ?></li>
        <li><?php echo $this->translate("Intake Description").' : '.$this->intakeInfo['IntakeDesc'] ?></li>
    </ul>
</fieldset>
<br></br>
<fieldset>
<legend><?php echo $this->translate("Programme Intake Details")?></legend>
<div id='loading_target' ></div> 
<table class="table" width="100%" id="programList">
<thead>     
	<tr>	    
		<th><?php echo $this->translate("Program")?></th>
		<th><?php echo $this->translate("Student Category")?></th>
		<th><?php echo $this->translate("Application Start Date")?></th>
                <th><?php echo $this->translate("Application End Date")?></th>
		<th><?php echo $this->translate("Document Submission Start Date")?></th>
		<th><?php echo $this->translate("Document Submission End Date")?></th>
                <th><?php echo $this->translate("Programme Scheme")?></th>
		<th><?php echo $this->translate("Quota")?></th>					
		<th><?php echo $this->translate("")?></th>
	</tr>
</thead>
<tbody>
<?php if(count($this->program_list)>0){
	foreach($this->program_list as $program){
?>
	<tr>
	    <!--<td align='center'><input class='chk' type='radio' name='ip_id' value='<?php echo $program['ip_id'];?>'></input></td>
		-->
		<td align='center'><?php echo $program['ProgramName'];?></td>
		<td align='center'><?php echo $program['StudentCategoryDesc'];?></td>		
                <td align='center'><?php echo ($program['ApplicationStartDate'] == '0000-00-00' ? '':date('d-m-Y',strtotime($program['ApplicationStartDate'])));?></td>
		<td align='center'><?php echo ($program['ApplicationEndDate'] == '0000-00-00' ? '':date('d-m-Y',strtotime($program['ApplicationEndDate'])));?></td>
                <td align='center'><?php echo ($program['AdmissionStartDate'] == '0000-00-00' ? '':date('d-m-Y',strtotime($program['AdmissionStartDate'])));?></td>
		<td align='center'><?php echo ($program['AdmissionEndDate'] == '0000-00-00' ? '':date('d-m-Y',strtotime($program['AdmissionEndDate'])));?></td>
		<td align='center'><?php echo $program['ProgramModeDesc'];?><br><?php echo $program['StudyModeDesc'];?><br><?php echo $program['ProgramTypeDesc'];?></td>		
		<td align='center'><?php echo $program['Quota'];?></td>		
		<td class="center options">
		<a href="<?php echo $this->baseUrl();?>/generalsetup/intake/editintakeprogramedit/id/<?php echo $this->intakeInfo['IdIntake'];?>/intakeProg/<?php echo $program['ip_id']; ?>"><?php echo $this->translate("Edit")?></a>	
		|
		<a href="#" onclick="viewbranch('<?php echo $this->intakeInfo['IdIntake'];?>','<?php echo $program['ip_id'];?>');"><?php echo $this->translate("View Branch")?></a>	
		</td>
	</tr>
<?php } //end foreach 
}//end if ?>
</tbody>
</table>
</fieldset>

<div id="dialog-branch" title="<?php echo $this->translate("Branch"); ?>">
	<table  class="table" width="100%"  id="branchList">
	   <thead>
			<tr>
			<th><?php echo $this->translate("No");?></th>
			<th><?php echo $this->translate("Branch Name");?></th>	                       
			</tr>
	   </thead>
		<tbody>	                     
	   </tbody>
 </table>
</div>