<script type="text/javascript">
function deleteIntake(id){

	msg = confirm('<?php echo $this->translate('Are you sure you want to delete this Intake?')?>');
	if(msg){				
		window.location = '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'delete-intake'),'default',true);?>/id/'+id;
	}	
}
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
                   
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'newintake'),'default',true);?>';" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			 <li>
				<a href="#" >
					<span class='copy'></span>
					<?php echo $this->translate("Copy");?>
				</a>
			</li>
			<!--<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>-->
		</ul>
	</div>
</div>
<br></br>
    <fieldset>
	<legend><?php echo $this->translate("Search");?></legend>
        <div id="search_form">
	<form id="search_form" action="<?php echo $this->baseUrl();?>/generalsetup/intake/index/search/1" method="POST">
            <dl class="zend_form">
                <dt><label><?php echo $this->translate("Intake Id");?></label></dt>
                <dd><?php echo $this->lobjform->field3;?></dd>
                <dt><label><?php echo $this->translate("Intake Description");?></label></dt>
                <dd><?php echo $this->lobjform->field4;?></dd>
                <dd>
                    <?php echo $this->lobjform->Search;?><?php echo $this->lobjform->Clear;?>
                </dd>
            </dl>
	</form>
        </div>
</fieldset>
<br />
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Intake Id");?></th>
	        	<th><?php echo $this->translate("Intake Description");?></th>
	        	<th><?php echo $this->translate("Intake Description").' ('.$this->translate($this->defaultlanguage).')';?></th>
                        <th><?php echo $this->translate("");?></th>
	        	 	
	    	</tr>
	    	<?php if (count($this->paginator)): ?>
	    	<?php foreach ($this->paginator as $intake): ?>
	    	<tr>
	    		<td><?php print_r($this->escape($intake['IntakeId']));?></td>
	    		<td ><?php echo $this->escape($intake['IntakeDesc']);?></td>
	    		<td><?php echo $this->escape($intake['IntakeDefaultLanguage']);?></td>
				<td class="options center" >
				<a href="<?php echo $this->baseUrl();?>/generalsetup/intake/editintake/id/<?php echo $this->escape($intake['IdIntake']);?>"><?php echo $this->translate("Edit"); ?></a>
				|
				<a href="<?php echo $this->baseUrl();?>/generalsetup/intake/editintakeprogram/id/<?php echo $this->escape($intake['IdIntake']);?>" ><?php echo $this->translate("Programme"); ?></a>
				|
				<a href="<?php echo $this->baseUrl();?>/generalsetup/intake/viewreglocation/id/<?php echo $this->escape($intake['IdIntake']);?>" ><?php echo $this->translate("Registration Location"); ?></a>
				</td>
                </tr>
	    	<?php endforeach; ?>
	    	<?php endif; ?>
	   </table>
		<div class="pagination opt"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding', '/partials/my_pagination_control.phtml'); ?></div>
