<script type="text/javascript">

	dojo.addOnLoad(function() {
		dijit.byId('Program').set('value','');
		dijit.byId('Program').set('placeHolder','<?php echo $this->translate('Select')?>');	

		dijit.byId('studentCategory').set('value','');
		dijit.byId('studentCategory').set('placeHolder','<?php echo $this->translate('Select')?>');	

		dijit.byId('sem_seq').set('value','');
		dijit.byId('sem_seq').set('placeHolder','<?php echo $this->translate('Select')?>');

	});

	function getProgramScheme(){
		var id_program = dijit.byId("Program");

		if(id_program){
			var xhrArgs = {
					url: "/generalsetup/intake/get-program-data/type/scheme/idProgram/"+id_program,
					handleAs:'json',
					load:function(data){
						if(data){						
							AutoFillNextEditableDropDown('programScheme',data);
						}
					},
				      error: function(error){
				        }
			   }
			dojo.xhrGet(xhrArgs);
		}
	}
	
	function fnloadPrograms(idCollege) {
		dijit.byId('Program').store = new dojo.data.ItemFileReadStore({url: "<?php echo $this->baseUrl();?>"+"/generalsetup/intake/getprogramlist/idCollege/"+idCollege});
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/generalsetup/intake/getprogramlist/idCollege/"+idCollege,
				handleAs:'json',
				load:function(data){
					if(data){
						AutoFillNextEditableDropDown('Program',data);
					}
				},
			      error: function(error){
			        }
		   }
		dojo.xhrGet(xhrArgs);
	}

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
	    var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
	    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function displayAddProgram(){
		$("#addProgram").slideDown('slow');
	}

	function addProgram(){

		flag = true;
		if($('#Program').val()=='' || $('#studentCategory').val()=='' || $('#ProgramMode').val()=='' || $('#programStudy').val()=='' ){
			flag=false;
		}

		if(flag == true){	
			var idrow  = $("#idRow").val();
			idrow = Math.abs(idrow)+1;			
			addProgramRow(idrow);
			$("#idRow").val(idrow);
		}else{
			alert('All Program Information fields are required');
		}
	}
	
	function addProgramRow(idrow){
		
		var table = $('#programList tbody');
		var content = "<tr id='"+idrow+"'>" +
					  "<td align='center'><input type='hidden' value='"+dijit.byId("Program")+"' name=IdProgram[]>"+$('#Program').val()+"</td>" +
					  "<td align='center'><input type='hidden' value='"+dijit.byId("studentCategory")+"' name=IdStudentCategory[]>"+$('#studentCategory').val()+"</td>" +
					  "<td align='center'><input type='hidden' name='appStartDate[]' value='"+$("#ApplicationStartDate").val()+"'>"+$("#ApplicationStartDate").val()+"</td>" +
					  "<td align='center'><input type='hidden' name='appEndDate[]' value='"+$("#ApplicationEndDate").val()+"'>"+$("#ApplicationEndDate").val()+"</td>" +
                                          "<td align='center'><input type='hidden' name='adStartDate[]' value='"+$("#AdmissionStartDate").val()+"'>"+$("#AdmissionStartDate").val()+"</td>" +
					  "<td align='center'><input type='hidden' name='adEndDate[]' value='"+$("#AdmissionEndDate").val()+"'>"+$("#AdmissionEndDate").val()+"</td>" +
					  "<td align='center'><input type='hidden' value='"+dijit.byId("programScheme")+"' name=IdProgramScheme[]>"+$('#programScheme').val()+"</td>" +					  
					  "<td align='center'><input type='hidden' value='"+$('#quota').val()+"' name=programQuota[]>"+$('#quota').val()+"</td>" +
					  "<td align='center'><input type='hidden' value='"+dijit.byId("Branch")+"' name=IdBranch[]>"+$('#Branch').val()+"</td>" +
					  "<td align='center'><a href='#' onClick='deleteProgramRow("+idrow+"); return false;'>Delete</a></td>" +
					  '</tr>';

		$(table).append(content);
	}
	
	function deleteProgramRow(x){
		var row = "#"+x;		
		$(row).remove();
	}


	function addregloc(){

		flag = true;
		if($('#rl_branch').val()=='' || $('#rl_date').val()=='' || $('#rl_time').val()==''|| $('#rl_address').val()=='' ){
			flag=false;
		}

		if(flag == true){	
			var idrow  = $("#idRow").val();
			idrow = Math.abs(idrow)+1;			
			addreglocRow(idrow);
			$("#idRow").val(idrow);
		}else{
			alert('All Registration Location Information fields are required');
		}
	}

	function addreglocRow(idrow){
		
		var table = $('#reglocList tbody');
		var content = "<tr id='"+idrow+"'>" +
					  "<td align='center'><input type='hidden' value='"+dijit.byId("rl_branch")+"'  name=rlbranch[]>"+$('#rl_branch').val()+"</td>" +
					  "<td align='center'><input type='hidden' value='"+dijit.byId("rl_date")+"'    name=rldate[]>"+$('#rl_date').val()+"</td>" +
					  "<td align='center'><input type='hidden' value='"+$('#rl_time').val()+"'    name=rltime[]>"+$('#rl_time').val()+"</td>" +
					  "<td align='center'><input type='hidden' value='"+$('#rl_address').val()+"' name=rladdress[]>"+$('#rl_address').val()+"</td>" +		
					  "<td align='center'><a href='#' onClick='deleteProgramRow("+idrow+"); return false;'>Delete</a></td>" +
					  '</tr>';

		$(table).append(content);
	}
	
	

	function returnprograms(items,request) {
		allprograms = items;
	}

	function returnbranches(items,request) {
		console.log(items);
		allbranches = items;
	}


	function deleteRow(r){
		rowid--;
		var i=r.parentNode.parentNode.rowIndex;
		batchArray.splice(parseInt(i-1),1);
		document.getElementById('hor').deleteRow(i);
	}

	function clearpageAdd() {
		dijit.byId('Branch').set('value','');
		dijit.byId('Branch').set('placeHolder','Select');

		dijit.byId('Program').set('value','');
		dijit.byId('Program').set('placeHolder','Select');
	}

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}

	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }

	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}

	$(function(){
		$('.datepicker').datepicker( {
			dateFormat: 'yy-mm-dd',
	        changeMonth: true,
	        changeYear: true
		});
	});


</script>

<div class="message toolbar">
	<h2><?php echo $this->translate("Add Intake"); ?></h2>
	<div class="toolbar-button">
		<ul>
                    <li class="divider"></li>
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br>
<br>


<!-- Form for Intake -->

<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
	if (this.validate()) {
		return true;
	} else {
		return false;
	}
	</script>

<?php if($this->errorMsg=='1') { ?>
<div class="error">Current Start and End date are overlapping with existing intake. Please choose different dates.</div>
<?php } ?>
<?php if($this->errorMsg=='2') { ?>
<div class="error">Duplicate Entry of Intake</div>
<?php } ?>

<?php echo $this->lobjIntakeForm->UpdDate ;?>
<?php echo $this->lobjIntakeForm->UpdUser ;?>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Intake Details")?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Intake Id");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->IntakeId;?></td>
		<td><?php echo $this->translate("Semester Sequence");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->sem_seq;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Intake Description");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->IntakeDesc;?></td>
		<td><?php echo $this->defaultlanguage;?></td>
		<td><?php echo $this->lobjIntakeForm->IntakeDefaultLanguage;?></td>	
	</tr>
        <tr>
            <td><?php echo $this->translate("Intake Year");?></td>
            <td><?php echo $this->lobjIntakeForm->sem_year;?></td>
            <td><?php echo $this->translate("Special Intake");?></td>
            <td><?php echo $this->lobjIntakeForm->special_intake;?></td>
        </tr>
        <!--<tr>
            <td><?php //echo $this->translate("Apply Online ?") ?></td>
            <td><?php //echo $this->lobjIntakeForm->apply_online; ?></td>
            <td></td>
            <td></td>
        </tr>-->

</table>

<br></br>

<!--  Application Date Based on Program -->
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Programme Info")?></th>
	</tr>
	<tr>		
		<td><?php echo $this->translate("Programme");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->Program;?></td>
		<td><?php echo $this->translate("Programme Scheme");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->programScheme;?></td>
		
	</tr>
	<tr>		
		<td><?php echo $this->translate("Application Start Date");?></td>
		<td><?php echo $this->lobjIntakeForm->ApplicationStartDate;?></td>
		<td><?php echo $this->translate("Application End Date");?></td>
		<td><?php echo $this->lobjIntakeForm->ApplicationEndDate;?></td>
	</tr>
        <tr>		
		<td><?php echo $this->translate("Document Submission Start Date");?></td>
		<td><?php echo $this->lobjIntakeForm->AdmissionStartDate;?></td>
		<td><?php echo $this->translate("Document Submission End Date");?></td>
		<td><?php echo $this->lobjIntakeForm->AdmissionEndDate;?></td>
	</tr>
	<tr>
	    <td><?php echo $this->translate("Student Category");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->studentCategory;?></td>
	    <td><?php echo $this->translate("Quota");?></td>
		<td><?php echo $this->lobjIntakeForm->quota;?></td>
		
	</tr>
	<tr>
		<td><?php echo $this->translate("Branch");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->Branch;?></td>
	</tr>
	<tr>
	    <td colspan='4' align='center'><input type='button' onClick="javacript:addProgram();" value='<?php echo $this->translate("Add")?>'></td>
	</tr>	
</table>

<br />

<h3><?php echo $this->translate("List of Programme")?></h3>
<table class="table" width="100%" id="programList">
<thead>     
	<tr>
		<th><?php echo $this->translate("Programme")?></th>
		<th><?php echo $this->translate("Student Category")?></th>
		<th><?php echo $this->translate("Application Start Date")?></th>
		<th><?php echo $this->translate("Application End Date")?></th>
        <th><?php echo $this->translate("Document Submission Start Date")?></th>
		<th><?php echo $this->translate("Document Submission End Date")?></th>
		<th><?php echo $this->translate("Programme Scheme")?></th>		
		<th><?php echo $this->translate("Quota")?></th>
		<th><?php echo $this->translate("Branch")?></th>
		<th></th>
	</tr>
</thead>
<tbody>
</tbody>
</table>
<br></br>

<!-- Registration Location -->

<br></br>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Registration Location")?></th>
	</tr>
	<tr>		
		<td><?php echo $this->translate("Branch");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->rl_branch;?></td>
		<td><?php echo $this->translate("Registration Date");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->rl_date;?></td>
		
	</tr>
	<tr>		
		<td><?php echo $this->translate("Registration Time");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->rl_time;?></td>
		<td><?php echo $this->translate("Address");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjIntakeForm->rl_address;?></td>
	</tr>        
	<tr>
	    <td colspan=4 align='center'><input type='button' onClick="javacript:addregloc();" value='<?php echo $this->translate("Add")?>'></td>
	</tr>	
</table>

<br />

<h3><?php echo $this->translate("List of Registration Location")?></h3>
<table class="table" width="100%" id="reglocList">
<thead>     
	<tr>
		<th><?php echo $this->translate("Branch")?></th>
		<th><?php echo $this->translate("Date")?></th>
		<th><?php echo $this->translate("Time")?></th>
		<th><?php echo $this->translate("Address")?></th>                
		<th></th>
	</tr>
</thead>
<tbody>
</tbody>
</table>
<br></br>

<div class="form-opt">
	<?php echo $this->lobjIntakeForm->Save;?>
</div>
</form>

