<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
           
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'addreglocation','id'=>$this->idIntake),'default',true);?>';">
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>          
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Intake Id").' : '.$this->intakeInfo['IntakeId'] ?></li>
        <li><?php echo $this->translate("Intake Description").' : '.$this->intakeInfo['IntakeDesc'] ?></li>
    </ul>
</fieldset>
<br></br>
<fieldset>
<legend><?php echo $this->translate("Registration Location List")?></legend>
<table class="table" width="100%" id="reglocList">
<thead>     
	<tr>
		<th><?php echo $this->translate("Branch")?></th>
		<th><?php echo $this->translate("Date")?></th>
		<th><?php echo $this->translate("Time")?></th>
		<th><?php echo $this->translate("Address")?></th>                
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
<?php foreach($this->location_list as $loc){?>
	<tr>
		<td align='center'><?php echo $loc['BranchName'];?></td>
		<td align='center'><?php echo ($loc['rl_date']) ? date('d-m-Y',strtotime($loc['rl_date'])):'';?></td>
		<td align='center'><?php echo $loc['rl_time'];?></td>
		<td align='center'><?php echo $loc['rl_address'];?></td>
		<td align='center' class="options">
		<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'editreglocation','id'=>$this->idIntake,'rl_id'=>$loc['rl_id']),'default',true);?>" ><?php echo $this->translate("Edit")?></a>
		|
		<a onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')" href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'delete-reglocation','id'=>$this->idIntake,'rl_id'=>$loc['rl_id']),'default',true);?>" ><?php echo $this->translate("Delete")?></a></td>
	</tr>
<?php } ?>
</tbody>
</table>
</fieldset>