<script>
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
    $( "#dialog-program" ).dialog({
      modal: true,
      autoOpen: false,
      width: 650,
      buttons: {
        "Cancel": function() {
          $( this ).dialog( "close" );
        },
        "Save": function() {
       	   $('#formAddProgram').submit();
        }
      }
    });
});

function addProgram(){	
	$('#dialog-program').load("<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'branchofficevenue','action'=>'add-program','id'=>$this->idBranch,'idbrc'=>$this->lintidbrc),'default',true); ?>");
	$("#dialog-program" ).dialog('open');
}


function delProgram(){
	var id = $('input[name=bp_id]:checked').val();

	if(!id){
		alert('Please select any programme first');
	}else{
            if(confirm('Are you sure to delete this program?')){
                window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue', 'action'=>'delete-program','id'=>$this->idBranch,'idbrc'=>$this->lintidbrc),'default',true); ?>/bp_id/"+id;
            }
	}
}
</script>


<div class="message toolbar">
	<div class="toolbar-button">
		<ul>
		 <li>
				<a href="#" onclick="javascript:addProgram()" >
					<span class='add'></span>
					<?php echo $this->translate("Add New");?>
				</a>
			</li>
			<!--<li>
				<a href="#" onclick="javascript:editProgram()" >
					<span class='edit'></span>
					<?php //echo $this->translate("Edit");?>
				</a>
			</li>-->
			<li>
				<a href="#" onclick="javascript:delProgram()" >
					<span class='delete'></span>
					<?php echo $this->translate("Delete");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
	
<br></br>
	
<table class="table" width="100%" id="address">
<thead>
	<tr>
	    <th>&nbsp;</th>
            <th><?php echo $this->translate("Programme Code");?></th>
            <th><?php echo $this->translate("Program Description");?></th>		
	</tr>
</thead>
<tbody>
<?php if(count($this->program_list)>0){
foreach($this->program_list as $program){
?>
	<tr>
	    <td><input type='radio' name='bp_id' id="bp_id" value='<?php echo $program["bp_id"]?>'></td>
            <td><?php echo $program['ProgramCode']; ?></td>
            <td><?php echo $program['ProgramName']; ?></td>
	</tr>
<?php }} ?>
</tbody>
</table>
	
<div id="dialog-program" title="Add New Program">
</div>

<div id="dialog-edit-program" title="Edit Program">
</div>