<script>
$(function() {
	
    //$( "#dialog:ui-dialog" ).dialog( "destroy" );
    //require(["dijit/Dialog", "dijit/form/TextBox", "dijit/form/Button"]);
    /*$("#dialog-mou").dialog({
      modal: true,
      autoOpen: false,
      width: 650,
      buttons: {
        "Cancel": function() {
          $( this ).dialog( "close" );
        },
        "Save": function() {
       	   $('#formAddMou').submit();
        }
      }
    });*/
        
    /*dojo.parser.parse();
        //$("#dialog-mou" ).fancybox('open');
    $("#dialog-mou").fancybox(
    {
        openEffect  : 'none',
        closeEffect : 'none',
        type: 'inline',
        autoSize : false,
        beforeLoad : function() {         
            this.width  = parseInt(this.element.data('width'));  
            this.height = parseInt(this.element.data('height'));
        },
        afterLoad: function() 
        {
                //nothing here
        }
    });*/
});

function addMou(){	
    window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue', 'action'=>'add-mou','id'=>$this->idBranch,'idbrc'=>$this->lintidbrc),'default',true); ?>";
}


function delMou(){
	var id = $('input[name=mou_id]:checked').val();

	if(!id){
		alert('Please select any agreement first');
	}else{
            if(confirm('Are you sure to delete this agreement?')){
                window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue', 'action'=>'delete-mou','id'=>$this->idBranch,'idbrc'=>$this->lintidbrc),'default',true); ?>/mou_id/"+id;
            }
	}
}
</script>
<script type="dojo/method" event="onSubmit" >
    if (this.validate()) {
      return true;
    } else {
      return false;
    }
</script>


<div class="message toolbar">
	<div class="toolbar-button">
		<ul>
		 <li>
				<a href="#" onclick="javascript:addMou()">
					<span class='add'></span>
					<?php echo $this->translate("Add New");?>
				</a>
			</li>
			<!--<li>
				<a href="#" onclick="javascript:editProgram()" >
					<span class='edit'></span>
					<?php //echo $this->translate("Edit");?>
				</a>
			</li>-->
			<li>
				<a href="#" onclick="javascript:delMou()" >
					<span class='delete'></span>
					<?php echo $this->translate("Delete");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
	
<br></br>
	
<table class="table" width="100%" id="address">
<thead>
	<tr>
	    <th>&nbsp;</th>
            <th><?php echo $this->translate("Agreement Name");?></th>
            <th><?php echo $this->translate("Agreement Decription");?></th>
            <th><?php echo $this->translate("Agreement Start Date");?></th>
            <th><?php echo $this->translate("Agreement End Date");?></th>
            <th></th>
	</tr>
</thead>
<tbody>
<?php if(count($this->mou_list)>0){
foreach($this->mou_list as $mou){
?>
	<tr>
	    <td align="center"><input type='radio' name='mou_id' id="mou_id" value='<?php echo $mou["mou_id"]?>'></td>
            <td><?php echo $mou['mou_name']; ?></td>
            <td><?php echo $mou['mou_desc']; ?></td>
            <td><?php echo $mou['mou_startDate']; ?></td>
            <td><?php echo $mou['mou_endDate']; ?></td>
            <td><a href="<?php echo DOCUMENT_URL.$mou['mou_filepath']; ?>" target="_blank"><?php echo $this->translate("View Agreement Document");?></a></td>
	</tr>
<?php }} ?>
</tbody>
</table>