<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>


<div class="dashhead">
    <div class="title-wrap">
        <div class="subtitle"><?php echo $this->translate('wikis')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">

        <h3 class="uk-accordion-title"> Information</h3>
        <div class="uk-accordion-content">
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Title')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->title->setAttrib('class','uk-form-large uk-width-large')  ?>
                    <p class="desc">Give your wiki a title</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Course')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->course_id->setAttrib('onchange', 'getGroup()')  ?>
                    <p class="desc">Tag wiki to Course</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Group')?></label>
                <div class="uk-form-controls">
                    <span id="group_id_div"><?php echo $this->translate('Please select course first'); ?></span>
                </div>
            </div>
            

        </div>

        <h3 class="uk-accordion-title"> Description</h3>
        <div class="uk-form-row">
            <?php echo $this->form->description  ?>
        </div>

        <div class="uk-form-row">
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
            <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
        </div>
    </div>
</form>

<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
            
           
        }
    });

    $(function()
    {
        CKEDITOR.replace( 'description',
        {
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: 300
        });

    })

    function getGroup() 
    {
        var course_id = $("#course_id").val();

        $.ajax({
            url: "/admin/wiki/get-wiki-group/",
            data: { 'course_id': course_id },
            type: 'POST',
            dataType: 'json',
            success: function (data) 
            {
                if (data.length > 0) 
                {
                    $("#group_id_div").empty();
                    var selection = "<select class='select_new uk-form-medium uk-width-medium' name='group_id[]' id='group_id' multiple='multiple'>";

                    $.each(data, function (index) 
                    {
                        selection += "<option value='" + data[index].group_id + "'>" + data[index].group_name + "</option>";
                    });

                    selection += "</select>";

                    $("#group_id_div").append(selection);
                    $(".select_new").select2({
                        placeholder: "All groups",
                        allowClear: true
                    });
                }
                else
                {
                    $("#group_id_div").html("<?php echo $this->translate('No group found') ?>");
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }

</script>

<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>