<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

 <script type="text/javascript">
dojo.addOnLoad(function(){			
	dijit.byId("TemplateName").focus();
	dijit.byId('idDefinition').set('value','');
	dijit.byId('idDefinition').set('placeHolder','Select'); 
});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
}
</script>
<style type="text/css">

#add_template_style fieldset
{ 
    width: 100% !important;
}

</style>
<div  id="add_template_style" class="uk-grid"><fieldset>
    <legend><?php echo $this->translate("Member Document Checklist")." ".$this->translate("Add");?> </legend>

<form class="uk-form" id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/admin/member-document/add">
<script type="dojo/method" event="onSubmit" >
				if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("content1").set('value',content);
			 }

                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
</script>

		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
        	
            <th></th>
            <th></th>
       	</tr>
        <?php echo $this->form->UpdDate;?>
        <?php echo $this->form->UpdUser;?>
		
         <tr>
        	<td class="label"><?php echo $this->translate("Member")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->dropdown_member;?></td>
       
        	<td class="label"><?php echo $this->translate("Name")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->name;?></td>
           
        </tr>
        <tr>
        <td class="label"><?php echo $this->translate("Remark");?> <span class="reqMark"></span></td>
        <td><?php  echo $this->form->remarks;?></td>
            
           

        </tr>
        
        
	</table>
	

    <table width="100%">
    		
	<input dojoType = "dijit.form.TextBox" type="hidden" name="content1"  id = "content1">                                    
	<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock']"></td>


    </table> 
    
	<table align = "right">
		<tr>
        	<td>
					<?php echo $this->form->Save;?>
                     <input name="Clear" type="reset" class="uk-button"  label=<?php echo $this->translate("Clear") ?> value=<?php echo $this->translate("Clear") ?>>
					<input type="button" class="uk-button"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'MemberExperience', 'action'=>'index'),'default',true);?>';" />	

            </td>
        </tr>
    </table>

    </form>
</fieldset> 
</div>
<script type="text/javascript">
    
     $('#member').change(function () {

            var MemberId = $('#member').val();


                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/MemberFeeStructure/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                    var len = response.length;

                  
                $("#sub").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_subtype'];
                    var name = response[i]['member_subtype_name'];

                    
                    $("#sub").append("<option value='"+id+"'>"+name+"</option>");
                    $("#sub").attr('style','width:150px');

                }


                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>
