<div class="dashhead">
    <div class="title-info">
        <?php if ( isset($this->modified_user) ) { ?>
        <?php echo $this->translate('Last Modified') ?>: <?php echo Cms_Date::date($this->cat['modified_date'])?> <br />
            <?php echo $this->translate('By')?>: <?php echo $this->modified_user['username'] ?>
        <?php } ?>
    </div>
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Courses')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/courses/"><?php echo $this->translate('Courses')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/coursecategory/"><?php echo $this->translate('Course Category')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" >

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Name')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->name->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>

    <?php if ( Cms_Options::getOption('nestedcategory') == '1' ) { ?>
    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Parent')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->parent_id->setAttrib('class','uk-form-width-medium')  ?>
        </div>
    </div>
    <?php } ?>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Description')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->description  ?>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="title"><?php echo $this->translate('Active')?></label>
        <div class="uk-form-controls">
            <?php echo $this->form->active  ?><label for="active"><?php echo $this->translate('Yes')?></label>
        </div>
    </div>

    <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Submit')?></button>
        <button class="uk-button" type="reset"><?php echo $this->translate('Clear')?></button>
    </div>
</form>

<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            name: {
              validators: {
                  notEmpty: {
                      message: 'Title is required'
                  }
              }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: 'Description cannot be empty'
                    }
                }
            }
        }
    });

</script>