

<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">

            <a href="<?php echo $this->baseUrl()?>/admin/coursecategory/add" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('New Category')?> </a>

        </div>
        <div class="subtitle"><?php echo $this->translate('Courses')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>

    </div>

</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button> 
    <?php if(isset($this->formdata['search'])): ?> <a href="/admin/coursecategory/" class="uk-button uk-button-small">Reset</a> <?php endif; ?>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>

<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist" width="50%"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
        <?php if ( count($this->results) == 0 ) { ?>
        <tr>
            <td colspan="3"><?php echo $this->translate('No course category created yet.')?></td>
        </tr>
        <?php } else { ?>
        <?php foreach ( $this->results as $row) { ?>
        <tr>
            <td>
                <?php echo $row['active'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Not Active"></span>':''?>
                <?php echo str_repeat('&nbsp;&nbsp;', $row['depth'])?><a <?php echo $row['active'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/coursecategory/edit/id/<?php echo $row['id']?>"><?php echo $row['name']?></a>
            </td>
            <td><?php echo Cms_Date::date($row['created_date']) ?></td>
            <td>
                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/coursecategory/edit/id/<?php echo $row['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-cog"></i></a>
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/coursecategory/add/pid/<?php echo $row['id']?>" data-uk-tooltip title="Add Sub-Category"><i class="uk-icon-folder-open-o"></i></a>
                    <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this category?')?>')" href="<?php echo $this->baseUrl()?>/admin/coursecategory/delete/id/<?php echo $row['id']?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                </div>
            </td>
        </tr>
        <?php } ?>
        <?php } ?>
    </tbody>
</table>