<script type="text/javascript">
dojo.addOnLoad(function(){
	});
</script>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'countrymaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Country Master"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'state','action'=>'index'),'default',true);?>"><?php echo $this->translate("States"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'city','action'=>'index'),'default',true);?>"><?php echo $this->translate("City"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
    <h2><?php echo $this->translate("City Master"); ?></h2>
    <div class="toolbar-button">
        <!--<ul>
            <li class="divider"></li>
            <li>
            <a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'generalsetup','controller'=>'countrymaster', 'action'=>'newcountrymaster'),'default',true);?>';" >
            <span class='add'></span>
            <?php //echo $this->translate("Add");?>
            </a>
            </li>
        </ul>-->
    </div>
</div>
<br><br>
<fieldset>
<legend><?php echo $this->translate("City Master");?></legend>

<form action="<?php echo $this->baseUrl();?>/generalsetup/city/index/search/1" method="POST">
    <dl class="zend_form">
    <dt><?php echo $this->translate("Country Name");?></dt>
    <dd><?php echo $this->lobjform->field3;?></dd>
    <dt><?php echo $this->translate("State Name");?></dt>
    <dd><?php echo $this->lobjform->field2;?></dd>
    <dt><?php echo $this->translate("Active");?></dt>
    <dd><?php echo $this->lobjform->field7;?></dd>
    <dd>
    <?php echo $this->lobjform->Search;?>
    <?php echo $this->lobjform->Clear;?>
    </dd>
    </dl>
</form>	
</fieldset> 
<br/>       

<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("City Name") ?></th>
        <th><?php echo $this->translate("City Code") ?></th>
		<th><?php echo $this->translate("State Name") ?></th>
		<th><?php echo $this->translate("Country Name") ?></th>
    </tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $row ): ?>
	<tr>
		<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'city', 'action'=>'citylist' ,'id'=>$row['idState']),'default',true);?>" ><?php print_r($this->escape($row['CityName']));?></a></td>   
		<td><?php echo $row['CityCode'];?></td>
		<td><?php echo $row['StateName']?></td>
		<td><?php echo $row['CountryName']?></td>
	</tr>
	<?php endforeach; ?>
	<?php endif; ?>
				
</table>
<div class="pagination opt"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div>
</fieldset>

