<style type="text/css">
    #add-new-file {
        margin-left: 8px;
    }
</style>
<div class="uk-grid">
    <div class="uk-width-medium-2-10">
    
    </div>
    <div class="uk-width-medium-8-10">
        <!-- content -->
        <h2><?php echo $this->translate('Continuing Professional Development (CPD) Activities') ?></h2>

        <form class="uk-form uk-form-horizontal validate" method="post" id="addcpd" enctype="multipart/form-data">

            <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">
                <li aria-expanded="true" class="uk-active"><a href="#activity"><?php /*echo $this->translate('Activities')*/ ?></a></li>
            </ul>
            <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">
                <div class="tab uk-active" id="activity">
                    <!-- tab -->
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="learning"><?php echo $this->translate('Learning Activity') ?>
                            <span class="req">*</span></label>
                        <div class="uk-form-controls">
                            <select name="cpd_learning_id" id="cpd_learning_id" class="form-control"
                                    onchange="getLearningCategory(this.value)" required>
                                <option value=""></option>
                                <?php $learningLists = $this->applicationDb->getByCode('CPD Learning');
                                foreach ($learningLists as $cat) {
                                    ?>
                                    <option value="<?php echo $cat['idDefinition']; ?>"><?php echo $cat['DefinitionCode']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="category"><?php echo $this->translate('Activity Category') ?>
                            <span class="req">*</span></label>
                        <div class="uk-form-controls">
                            <select name="cpd_category_id" id="cpd_category_id" class="form-control" onchange="getLearningActivity(this.value)" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="activity"><?php echo $this->translate('Description of Activity') ?>
                            <span class="req">*</span></label>
                        <div class="uk-form-controls">
                            <select name="cpd_activity_id" id="cpd_activity_id" class="form-control" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="title"><?php echo $this->translate('Title') ?><span
                                    class="req">*</span></label>
                        <div class="uk-form-controls">
                            <input type="text" name="cpd_title" id="cpd_title" class="form-control" value=""
                                   required/>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="provider"><?php echo $this->translate('Provider') ?><span
                                    class="req">*</span></label>
                        <div class="uk-form-controls">
                            <input type="text" name="cpd_provider" id="cpd_provider" class="form-control"
                                   value="" required/>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="started"><?php echo $this->translate('Date Started') ?><span
                                    class="req">*</span></label>
                        <div class="uk-form-controls">
                            <input type="text" class="form-control" name="date_started" value=""
                                   id="date_started"/>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="completion"><?php echo $this->translate('Date Completion') ?>
                            <span class="req">*</span></label>
                        <div class="uk-form-controls">
                            <input type="text" class="form-control" name="date_completion"
                                   value="<?php //echo $dob ?>" id="date_completion"/>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="venue"><?php echo $this->translate('Venue') ?><span
                                    class="req">*</span></label>
                        <div class="uk-form-controls">
                            <input type="text" name="cpd_venue" id="cpd_venue" class="form-control" value=""
                                   required/>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="duration"><?php echo $this->translate('Duration (hours)') ?>
                            <span
                                    class="req">*</span></label>
                        <div class="uk-form-controls">

                            <input type="number" class="form-control" placeholder="0" id="cpd_duration" required name="cpd_duration"
                                   min="0.1" value="0" step="0.1"
                                   title="cpd_duration" pattern="^\d+(?:\.\d{1,2})?$"
                                   onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':''">
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label" for="description"><?php echo $this->translate('Description') ?>
                            <span class="req">*</span></label>
                        <div class="uk-form-controls">
                            <textarea name="cpd_description" id="cpd_description" class="form-controls" value=""
                                      rows="4" cols="50" required></textarea>
                        </div>
                    </div>


                    <div class="uk-form-row">
                        <label class="uk-form-label"
                               for="thumbnail"><?php echo $this->translate('Supporting Document ') ?><i>(evidence of
                                attendance)</i></label>
                        <div class="uk-form-controls">

                            <button class="uk-button uk-button-small" id="add-new-file" type="button">Add new file
                            </button>

                            <table class="uk-table uk-table-condensed uk-table-main" id="upload-table">
                                <tr>
                                    <td><input type="file" name="file[0]" id="file" class="input-document form-control"/></td>
                                    <td align="right">
                                        <button class="uk-button uk-button-small uk-button-danger remove-tr"
                                                type="button">Remove
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <p class="desc">Allowed file types:
                                pptx,xls,zip,ppt,rar,jpg,pdf,doc,docx,xlsx,jpg,jpeg,png,gif</p>
                        </div>
                    </div>


                    <!-- tab -->

                    <div class="uk-form-row">
                        <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="redirect('/user/cpd')">Cancel</button>
                    </div>

                </div>
            </div>


        </form>


        <!-- /content -->
    </div>
</div>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/js/plugins/moment/jstz.js"></script>

<script type="text/javascript">

    function getLearningCategory(idLearning) {

        if (idLearning != '') {
            $.ajax({
                url: "<?php echo $this->url(array('controller' => 'user', 'action' => 'get-learning-category'), 'default', true);?>",
                data: {'idLearning': idLearning},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                   $('#cpd_category_id').empty();
                   $('#cpd_category_id').append('<option value=""></option>');

                    $.each(data, function (index) {

                        var sel = '';

                        $('#cpd_category_id').append('<option value="' + data[index].cat_id + '"' + sel + '>' + data[index].description + '</option>');
                    });

                },
                error: function () {
                    alert("failure");
                },
                beforeSend: function () {
                    showLoading('cpd_category_id');

                },
                complete: function () {
                    hideLoading('cpd_category_id');
                }
            });
        }


    }

    function getLearningActivity(idCategory) {

        var idLearning = $('#cpd_learning_id').val();

        if(idCategory != ''){
            $.ajax({
                url: "<?php echo $this->url(array('controller'=>'user', 'action'=>'get-learning-activity'),'default',true);?>/idCategory/"+idCategory,
                data: {'idLearning':idLearning},
                type: 'POST',
                dataType: 'json',
                success: function(data){

                    $('#cpd_activity_id').empty();
                    $('#cpd_activity_id').append('<option value=""></option>');

                    $.each(data, function(index) {

                        var sel = '';

                        $('#cpd_activity_id').append('<option value="'+data[index].key+'"'+sel+' >'+data[index].description+'</option>');
                    });

                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('cpd_activity_id');

                },
                complete: function() {
                    hideLoading('cpd_activity_id');
                }
            });
        }



    }

    function showLoading(target) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'>Loading ...</div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }

    $('#add-new-file').click(function () {
        newFileUpload();
    });

    $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });

    $('#addcpd').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });

    var document_index = 1;

    function newFileUpload() {
        $('#upload-table').append('<tr><td><input type="file" name="file[' + document_index + ']" class="input-document" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

    function getTimezone() {
        var tz = jstz();
        var timezone = tz.timezone_name;


        alertify.confirm("Is your timezone '" + timezone + "' ?", function () {
            $("#timezone").val(timezone);
        }, function () {
            // user clicked "cancel"
        });
        return false;
    }

    $('#date_started').datepicker({
        yearRange: '1900:<?php echo date('Y'); ?>',
        dateFormat: "dd-mm-yy",
        changeMonth: true,
        changeYear: true
    });
    $('#date_completion').datepicker({
        yearRange: '1900:<?php echo date('Y'); ?>',
        dateFormat: "dd-mm-yy",
        changeMonth: true,
        changeYear: true
    });


</script>