<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/moment/moment.min.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.print.css', 'print');
?>
<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-6-10">

        <h2><?php echo $this->translate('Announcements') ?></h2>

        <!-- content -->
        <?php $total = 0; ?>
        <?php if (count($this->announcements) > 0) { ?>

        <article class="uk-comment">
            <header class="uk-comment-header">
            
                <?php foreach ($this->announcements as $list) { ?>
                
                    <?php $total++; ?>

                    <div class="description uk-panel uk-panel-box uk-panel-alt uk-margin-bottom <?php echo $specific_group ?>-div">
                        <div class="uk-float-right">
                            <!-- group -->
                                <i class="uk-icon-globe" data-uk-tooltip title="<?php echo $this->translate('General announcement') ?>"> </i>
                            <!-- /group -->
                        </div>
                        <div class="uk-panel-content">
                            <h3 class="title"><?php echo $list['title'] ?></h3>
                            <div class="uk-comment-meta">by <?php echo $this->escape($list['firstname'] . " " . $list['lastname'])?> | <?php echo Cms_Date::date($list['created_date']) ?></div>
                            <div class="uk-comment-meta"><h3><?php echo $list['description'] ?></h3></div>
                        </div>
                    </div>

                <?php } ?>

            </header>
        </article>
        <!-- /content -->

        <?php } else { ?>

            <div class="uk-placeholder uk-text-center">
                <i class="uk-icon-bell-o uk-icon-medium uk-text-muted uk-margin-small-right"></i> 
                <?php echo $this->translate('No announcement yet.'); ?>
            </div>

        <?php } ?>

    </div>
    <div class="uk-width-medium-2-10 uk-margin-large-top">
        <!-- side -->
            <div class="uk-panel uk-panel-box uk-panel-alt">
                <div class="uk-panel-content uk-margin-large-bottom">
                    <ul class="infolist">
                        <li>
                            <span>Total Announcements</span>
                            &nbsp;&nbsp;<?php echo number_format($this->total_announcemenets); ?>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- /side -->
        </div>
    </div>
</div>

<style type="text/css">
    .outline { margin-top:15px }
</style>

<?php echo $this->paginationControl($this->announcements,'Elastic','pagination.phtml'); ?>