 <div class="clearfix">                    
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="payment-block online">                                    
                                   <img src="<?php echo $this->baseUrl()?>/img/mobile-banking.svg" alt="">
                                    <h3>Online Payment</h3>
                                   
                                    <button class="btn btn-primary btn-block" >Make Online Payment</button>
                                </div>                               
                            </div>
                            <div class="col-md-2">
                                <h3 class="payment-or-text">OR</h3>                               
                            </div>                            
                            <div class="col-md-5">
                                <div class="payment-block offline">      
                                    <img src= "<?php echo $this->baseUrl()?>/img/cheque.svg" alt="">                              
                                    <h3>Offline Payment</h3>         
                             <button class="btn btn-primary btn-block" id="btn1">Upload Proof of Payment</button>
                                </div>                               
                            </div>                            
                        </div>
            <div  id="myModal" class="modal"  style="width: 300px;">
                <div class="modal-content">
                        <span class="close">&times;</span>
                         <div class="payment-block offline">      
                                    <img src="img/cheque.svg" alt="">

                         <form name='form2'  id='form2' method='post' action='<?php echo $this->baseUrl()?>/user/paybarred;?>' enctype="multipart/form-data"> 
                                  
                                  <!--   <h3>Offline Payment</h3> -->
                                    <p style='width: 200px;'><input style="float: left;" type="file" name="file1[]" id="file1" class="input-document form-control"  required /></p>
                                    <input type="submit"  class="btn btn-primary" value='Upload Proof of Payment'>
                                      </form>  
                                </div>
                </div>

            </div>

                                                                                                                
                    </div>                                                  
                </div>                             
           </div>                  
        </div>
    </div>
</div>  
<style>
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
   
    position: absolute;
    top: 50%;
    left: 35%;
  
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
}
</style>
<!-- ALL Terms & Conditions Modal Starts -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("btn1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  



<script type="text/javascript">
   $(document).ready(function(){
    $('#file1').prop('required',true);
     $('INPUT[type="file"]').change(function () {
  
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'pdf':
        case 'gif':
        case 'doc':
        case 'docx':
        case 'xsls':
        case 'xls':
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';
    }
});
    $('#file1').prop('required',true);
   })

$(document).ready(function(e){
    
    $("#sidebar").attr("disabled",true);
 
 $("#sidebar").click(function(e){
        if($("#sidebar").attr("disabled")=="disabled")
        {
            e.preventDefault();    
        }        
    });
       
    });
</script>