<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/moment/moment.min.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.print.css', 'print');
?>
<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php //Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-10-10">
        <!-- content -->
        <h2><?php echo $this->translate('Calendar & Events')?></h2>

        <div class="uk-grid" data-uk-grid-margin>
       <!--  <div class="uk-width-large">
            <div class="events-note">
                <i class="uk-icon-calendar uk-text-danger"></i> You have no events today.
            </div>
            <div class="events-note">
                <i class="uk-icon-calendar uk-text-success"></i> You have no events this week
            </div>
        </div> -->
        <div class="filter-block">
        <div class="uk-width-large">
            <div class="uk-panel">
                <div id="calendar"></div>
            </div>
        </div>

    </div>
</div>

   <script type="text/javascript">
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev, today',
                center: 'cpdm_title',
                right: 'next'
            },
            aspectRatio: 2,
            editable: false,
            eventLimit: true, // allow "more" link whn too many events
            events: [
                <?php foreach ($this->event as $event) : ?>
                {
                    'title':    '<?php echo addslashes($event['cpdm_title']) ?>',
                    'start':    '<?php echo $event['date_started'] ?>',
                    'end':      '<?php echo date('Y-m-d', strtotime('+1 day', strtotime($event['date_completion']))) ?>'
                },
                <?php endforeach; ?>
                <?php foreach ($this->course as $event) : ?>
                {
                    'title':    '<?php echo addslashes($event['title']) ?>',
                    'start':    '<?php echo $event['date_start'] ?>',
                    'end':      '<?php echo date('Y-m-d', strtotime('+1 day', strtotime($event['date_end']))) ?>'
                },
                <?php endforeach; ?>
            ],
            dayClick: function(date, jsEvent, view) {

                alert('No event for ' + date.format());

                // change the day's background color just for fun
                $(this).css('background-color', 'lightgreen');

            }
        });
    });

</script>
    </div>
</div>
