<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');

$auth = Zend_Auth::getInstance();
$user_id = $auth->getIdentity()->id;
?>
<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-6-10">
        <!-- content -->

        <h3><?php echo $this->translate('Chat with All Learners') ?></h3>

        <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">
            <div class="tab uk-active" id="profile">
                <div class="message_box_chat"></div>
                <div class="user_info_chat">
                    <input name="shout_message_box" id="shout_message_box" autofocus='true' type="text" placeholder="Type Message and Hit Enter" />
                </div>
            </div>
        </div>
        <!-- /content -->
    </div>
    <div class="uk-width-medium-2-10">
    <!-- side -->
        <div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
            <div class="uk-panel-content message_box_users">
                <div class="infolist">
                    <div>
                        <div class="infolist">
                            <div><span><strong>Online Users: </strong></span><?php echo number_format($this->totalusers) ?></div>
                            <div class="infolist uk-margin-left uk-margin-top user-list">
                                <?php foreach ($this->onlineusers as $user) : ?>
                                    <?php if ($user['user_id'] === $user_id) : ?>
                                        <div><i><?php echo Cms_Common::limitText('You (' . $user['firstname'] . ' ' . $user['lastname'] . ')',23) ?></i></div>
                                    <?php else : ?>
                                        <div><?php echo Cms_Common::limitText($user['firstname'] . ' ' . $user['lastname'],25) ?></div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    <!-- /side -->
    </div>
</div>

<style>
    .user-list { color: #008cdd; }
</style>

<script>
//method to trigger when user hits enter key
$("#shout_message_box").keypress(function(evt) {
    if(evt.which == 13) {
        var imessage = $('#shout_message_box').val();
        post_data = { 'message':imessage, 'type':'global' };
       
        //send data to "shout.php" using jQuery $.post()
        $.post('<?php echo $this->baseUrl() ?>/user/chat', post_data, function(data) {
           
            //append data into messagebox with jQuery fade effect!
            $(data).hide().appendTo('.message_box_chat').fadeIn();

            //keep scrolled to bottom of chat!
            var scrolltoh = $('.message_box_chat')[0].scrollHeight;
            $('.message_box_chat').scrollTop(scrolltoh);
           
            //reset value of message box
            $('#shout_message_box').val('');
           
        }).fail(function(err) {
            //alert HTTP server error
            alert(err.statusText);
        });
    }
});

//automatically refresh after every 10000 milliseconds.
load_data = {'fetch':1};
window.setInterval(function(){
 $.post('<?php echo $this->baseUrl() ?>/user/chat', load_data,  function(data) {
    $('.message_box_chat').html(data);
    var scrolltoh = $('.message_box_chat')[0].scrollHeight;
    $('.message_box_chat').scrollTop(scrolltoh);
 });
}, 5000);
</script>