<style type="text/css">
    #exemption-form th {
        vertical-align: top;
    }

    #exemption-form textarea {
        width: 100%
    }

    #add-new-file {
        margin-left: 8px;
    }

    #submit-btn {
        color: #fff;
    }
</style>

<div class="uk-grid">
    <div class="uk-width-medium-2-10">
      
    </div>
    <div class="uk-width-medium-8-10">
        <h2><?php echo $this->translate('CPD Declaration for Year ') ?><?php echo date("Y"); ?></h2>

        <form class="uk-form" id="exemption-form" method="post" enctype="multipart/form-data">
            <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">
                <!--<li aria-expanded="true" class="uk-active"><a href="#activity"><?php /*echo $this->translate('Activities')*/ ?></a></li>-->
            </ul>

            <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">
                <div class="tab uk-active" id="activity">

                    <?php
                    $applicationDb = new App_Model_SmsApplication();
                    $stud = $applicationDb->getStudentMemberDetails($this->user['external_id']); ?>

                    <table width="100%">
                        <tr>
                            <td>Name : <input type="text" id="stud_id" value="<?php echo $stud['std_fullname']?>"/></td>
                            <td>Member No : <input type="text" id="member_id" value="<?php echo $stud['std_idnumber']?>"/></td>
                        </tr>
                    </table>
                    <!-- tab -->
                    <div class="uk-form-row">
                        <b><?php echo $this->translate('Please select ONE option only.') ?></b>
                        <label class="uk-form-label" for="exemp"><b>
                                <span class="req">*</b></span></label>
                        <div class="uk-form-controls">
                            <table>
                                <?php $declaration = $applicationDb->getDeclaration();
                                foreach ($declaration as $dd) {
                                    ?>
                                    <tr>
                                        <td valign="top"><input name="declaration[]" type="checkbox"
                                                                id="declaration<?php echo $dd['cpdc_id'] ?>"
                                                                value="<?php echo $dd['cpdc_id'] ?>"></td>
                                        <td>
                                            <label for="r<?php echo $dd['cpdc_id'] ?>"><?php echo $dd['cpdc_description'] ?></label>
                                        </td>
                                    </tr>
                                <?php } ?>
                            </table>


                            <!--<div class="uk-form-group">
                                <input name="r" type="radio" id="r7" value="Others">
                                <label for="r7">Other, please state the circumstances</label>
                                <div class="Box" style="display:none">
                                    <div class="uk-form-controls">
                                    <textarea name="other_desc" id="other_desc" class="uk-form-width-large" value=""
                                      rows="4" cols="50"></textarea>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>


                <hr>

                    <div class="uk-text-left">
                        <!-- <p class="uk-text-muted">By clicking the "Submit" button, you agree to these <a href="#">Terms of Service</a>. </p>-->
                        <input type="submit" class="uk-button uk-button-primary" id="submit-btn"
                               value="<?php echo $this->translate('Submit') ?>"/>
                        <input type="button" class="uk-button uk-button-primary" name="back"
                               value="<?php echo $this->translate('Back') ?>"
                               onclick="javascript:history.go(-1)"/>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $('#add-new-file').click(function () {
        newFileUpload();
    });

    $('input[type="radio"]').click(function () {
        if ($(this).attr("value") == "Others") {
            $(".Box").show('slow');
        } else {
            $(".Box").hide('slow');
        }
    });
    $('input[type="radio"]').trigger('click');

    $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });

    $('#exemption-form').submit(function (e) {
        var document_count = 0;


        $('.radio').each(function (e) {
            if ($(this).val().length) {
                radio_count++;
                return false;
            }
        });

        if (!radio_count) {
            e.preventDefault();
            alert('<?php echo $this->translate("Please check your claim exemption"); ?>');
            return false;
        }

        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Exemption form?');
        if (!proceed) {
            return false;
        }
    });

    var document_index = 1;

    function newFileUpload() {
        $('#upload-table').append('<tr><td><input type="file" name="document[' + document_index + ']" class="input-document" /></td><td align="right"><button class="uk-button uk-button-primary uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }
</script>