<style type="text/css">
    #exemption-form th {
        vertical-align: top;
    }

    #exemption-form textarea {
        width: 100%
    }

    #add-new-file {
        margin-left: 8px;
    }

    #submit-btn {
        color: #fff;
    }
</style>

<div class="uk-grid">
   
    <div class="uk-width-medium-8-10">
        <h2><?php echo $this->translate('CPD Activity Details') ?></h2>

        <form class="uk-form" id="exemption-form" method="post" enctype="multipart/form-data">
            <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">
                <!--<li aria-expanded="true" class="uk-active"><a href="#activity"><?php /*echo $this->translate('Activities')*/ ?></a></li>-->
            </ul>

            <table class="uk-table uk-table-bordered uk-table-middles">
                <?php $defTypeDb = new App_Model_SmsApplication();
                $cpd = $defTypeDb->getCpdDetailsCpId($this->cpd_id);
                if ($cpd) {
                    foreach ($cpd as $details) {
                        ?>
                        <tr>
                            <th width="20%"><?php echo $this->translate('Learning Type') ?></th>
                            <td colspan="3"><?php echo $details['cpdtype'] ?></td>
                        </tr>
                        <tr>
                            <th><?php echo $this->translate('Activity Category') ?></th>
                            <td colspan="3"><?php echo $details['cpdcategory'] ?></td>
                        </tr>
                        <tr>
                            <th><?php echo $this->translate('Description of Activity') ?></th>
                            <td colspan="3"><?php echo $details['cpdactivity'] ?></td>
                        </tr>
                        <tr>
                            <th><?php echo $this->translate('Title') ?></th>
                            <td colspan="3"><?php echo $details['cpd_title'] ?></td>
                        </tr>
                        <tr>
                            <th><?php echo $this->translate('Venue') ?></th>
                            <td width="30%"><?php echo $details['cpd_venue'] ?></td>
                            <th width="20%"><?php echo $this->translate('Provider') ?></th>
                            <td><?php echo $details['cpd_provider'] ?></td>
                        </tr>

                        <tr>
                            <th><?php echo $this->translate('Date Started') ?></th>
                            <td><?php echo $details['date_started'] ?></td>
                            <th><?php echo $this->translate('CPD Hours') ?></th>
                            <td><?php echo $details['cpd_duration'] ?></td>
                        </tr>
                        <tr>
                            <th><?php echo $this->translate('Description') ?></th>
                            <td colspan="3"><?php echo $details['cpd_description'] ?></td>
                        </tr>

                        <tr>
                        <th><?php echo $this->translate('Content Type') ?></th>
                        <td><?php echo $details['cpdcontent'] ?></td>

                        <th><?php echo $this->translate('Supporting Document') ?></th>
                        <td>
                            <?php $doc = $defTypeDb->getDataDocCpid($this->cpd_id);
                            if ($doc) { ?>

                                <?php foreach ($doc as $docList) {

                                    if ($docList["doc_content_id"] == '1637') {
                                        ?>
                                        <a target="_blank"
                                           href="<?php echo $docList["doc_filename"] ?>"><i
                                                    class="icon-download"></i><?php echo $docList["doc_filename"] ?>
                                        </a><br>
                                    <?php } else {
                                        ?>
                                        <a target="_blank"
                                           href="<?php echo $this->url(array('controller' => 'user', 'action' => 'download', 'doc_id' => $docList["doc_id"]), 'default', true) ?>"><i
                                                    class="icon-download"></i><?php echo $docList["doc_filename"] ?>
                                        </a><br>
                                    <?php }
                                } ?>

                            <?php } else {
                                ?>
                                <i>No document</i>
                            <?php } ?>
                        </td>
                        </tr>
                    <?php } ?>

                <?php } ?>
            </table>

            <div class="uk-form-row">
                <button type="button" class="uk-button uk-button-primary" onclick="redirect('/user/cpd')">Back</button>
            </div>
    </div>
</div>

<script type="text/javascript">
    $('#add-new-file').click(function () {
        newFileUpload();
    });

    $('input[type="radio"]').click(function () {
        if ($(this).attr("value") == "12") {
            $(".Box").show('slow');
        } else {
            $(".Box").hide('slow');
        }
    });
    $('input[type="radio"]').trigger('click');

    $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });

    $('#exemption-form').submit(function (e) {
        var document_count = 0;


        $('.radio').each(function (e) {
            if ($(this).val().length) {
                radio_count++;
                return false;
            }
        });

        if (!radio_count) {
            e.preventDefault();
            alert('<?php echo $this->translate("Please check your claim exemption"); ?>');
            return false;
        }

        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Exemption form?');
        if (!proceed) {
            return false;
        }
    });

    var document_index = 1;

    function newFileUpload() {
        $('#upload-table').append('<tr><td><input type="file" name="document[' + document_index + ']" class="input-document" /></td><td align="right"><button class="uk-button uk-button-primary uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }
</script>