<style type="text/css">
    .enrollexam-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .enrollexam-caret {
        margin-left: -2px;
    }

    .enrollexam-caret li > a {
        padding: 0 15px;
    }
</style>

<?php
$cpd_flag = true;
?>


<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <div></div>
        <//?php Cms_Hooks::hook('user.sidebar') ?>
    </div>

    <div class="uk-width-medium-10-10">
        <!--CPD-->
        <h2>CPD</h2>
        <?php if($cpd_flag==true){ ?>
            <?php echo $this->partial('/user/partials/dashboard_cpd.phtml', 'default', array(
                'userid'       => $this->user_id,
                'exam'           => $this->exam,
                'myexams'        => $this->myexams,
                'registeredExam' => $this->registeredExam,
                'totalexam'      => $this->totalexam,
                'totalcpd'      => $this->totalcpd,
                'totalcpdhours'      => $this->totalcpdhours,
                'student_category_list' => $this->student_category_list,
                'external_id'      => $this->external_id,
                'membership'   => $this->membership,
            )); ?>
        <?php } ?>
        <!--CPD-->
        <!-- /content -->
    </div>
</div>