                  <?php if($this->get_info['payment_status'] == 2):?>
   <div class="filter-block">
                          <div class="row" >
                            <p style="text-align: center;">Your Application is still pending for Payment Approval</p>
                  </div>
                </div>
            


<?php elseif($this->get_info['approve_status'] == 0 && $this->get_info['approve_status1'] == 0):?>
   <div class="filter-block">
                          <div  class="row">
                            <p style="text-align: center;">Your Application is still Pending for Approval</p>
                  </div>
                </div>

         
    <?php if($this->doc_status):?>



<div class="clearfix">                    
                    <div class="clearfix">
                       
                          <div class="row">
                          
                          
                                    
                                </tbody>
                                </table>                              
                            </div>                      
                        </div>
        

                                                                                                                
                    </div>                                                  
                </div>                             
           </div>                  
        </div>
    </div>
</div>  
<?php endif;?>
<?php elseif($this->get_info['approve_status'] == 0 && $this->get_info['approve_status1'] == 1 ):?>
  <div class="filter-block">
                          <div class="row">
                            <p style="text-align: center;">Your Application is still Pending for Approval</p>
                  </div>
                </div>
      <?php if($this->doc_status):?>
<div class="clearfix">                    
                    <div class="clearfix">
                          <div class="row">
                           
                            </div>                       
                        </div>
        

                                                                                                                
                    </div>                                                  
                </div>                             
           </div>                  
        </div>
    </div>
</div>  
<?php endif;?>



<?php elseif($this->get_info['approve_status'] == 1 && $this->get_info['approve_status1'] == 1 && empty($this->get_info['idprogram'])):?>
         <div class="filter-block">
                          <div class="row">
                            <p style="text-align: center;">Please register for program</p>
                  </div>
                </div>
<?php else:?>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                         <?php if($this->get_info['idprogram'] == 1):?>                            
                            <?php if(!empty($this->get_qualifiacion)):?>
                            <?php foreach($this->get_qualifiacion as $module):?>
                            <div class="col-sm-6">
                                <div class="course-block">
                                    <h4><a href="#"><?php echo $module['name']?></a></h4>
                                    <p><?php echo $module['description']?></p>
                                    <div class="row cousre-block-bottom">
                                        <div class="col-xs-6">
                                            <span class="type">Module Type</span>
                                            <span><?php echo $module['level']?></span>
                                        </div>
                                        <div class="col-xs-6">
                                       <!--      <span class="type">Exempted</span> -->

                                            <span> <?php if(!empty($module['exemption_program'])){?>
                                             <?php if($module['exemption_program'] == 1){
                                                    
                                                    echo 'Registered';  
                                                    }else{
                                                     echo 'Exempted';
                                                    }?></span> 
                                                    <?php }?></span>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                        <?php endif;?>
                            
                        <?php endif;?>
                                                       
                        </div> 

              
            <?php endif;?>