<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        <!-- content -->
        <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">
            <li class="uk-active"><a href="#profile"><?php echo $this->translate('Enrolled') ?> <span
                        class="uk-badge<?php echo ($this->totalenrolled == 0) ? " uk-badge-warning" : ""; ?>"><?php echo $this->totalenrolled ?></span></a>
            </li>
            <li><a href="#settings"><?php echo $this->translate('Completed') ?> <span
                        class="uk-badge<?php echo ($this->totalcompleted == 0) ? " uk-badge-warning" : ""; ?>"><?php echo $this->totalcompleted ?></span></a>
            </li>
            <li><a href="#profile"><?php echo $this->translate('Exam') ?> <span
                        class="uk-badge<?php echo ($this->totalexam == 0) ? " uk-badge-warning" : ""; ?>"><?php echo ($this->totalexam) ? $this->totalexam : "0" ?></span></a>
            </li>
        </ul>
        <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">
            <div class="tab uk-active" id="profile">

                <?php if ($this->welcome == 1) { ?>
                    <div class="uk-block welcome uk-text-center">
                        <i class="uk-icon-thumbs-o-up animated bounceIn"></i>

                        <h2>Welcome to <?php echo APP_NAME ?>! Thank you for choosing us.</h2>
                        <a class="uk-button"
                           href="<?php echo $this->baseUrl() ?>/courses"><?php echo $this->translate('Browse Course Catalog') ?></a>
                    </div>
                <?php } ?>

                <?php if (!empty($this->pendingorders)) { ?>
                    <div class="uk-alert uk-alert-warning">
                        <i class="uk-icon-exclamation-triangle"></i>
                        You have <strong><?php echo count($this->pendingorders) ?></strong> pending
                        order<?php echo count($this->pendingorders) > 1 ? 's' : '' ?>. <a
                            href="<?php echo $this->baseUrl() ?>/user/purchase-history"
                            class="uk-button uk-button-mini"><?php echo $this->translate('View') ?></a>
                    </div>
                <?php } ?>

                <?php if ($this->totalenrolled == 0) { ?>
                    <div class="uk-placeholder uk-text-center">
                        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> <?php echo $this->translate('You have not enrolled in any course yet.') ?>
                        <a href="<?php echo $this->baseUrl() ?>/courses"><?php echo $this->translate('Browse courses') ?></a>.
                    </div>
                <?php } else { ?>
                <table class="uk-table uk-table-bordered">
                    <thead>
                    <th><?php echo $this->translate('Program/Course') ?></th>
                    <th><?php echo $this->translate('Code') ?></th>
                    <th><?php echo $this->translate('Date Enrolled') ?></th>
                    <th><?php echo $this->translate('Expiry Date') ?></th>
                    <th><?php echo $this->translate('Slip') ?></th>
                    <th><?php echo $this->translate('Exam') ?></th>
                    </thead>
                    <?php
                    if ($this->myprograms) {

                        foreach ($this->myprograms as $program) {

                            if (isset($program['name'])) {
                                ?>
                                <tr>
                                    <td>
                                        <div class="uk-text-muted"><?php echo $program['name'] ?>
                                            (<?php echo ($program['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                                            )
                                        </div>

                                    </td>
                                    <td>
                                        <?php echo $program['code'] ?>
                                    </td>
                                    <td>
                                        <?php echo Cms_Date::date($program['enrolled_date']) ?>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>

                                        <?php
                                        if (isset($program['exam'])) {

                                            $data = array(
                                                'regtype' => 'curriculum',
                                                'cid' => $program['id'],
                                                'time' => time()
                                            );
                                            $data = Cms_Common::encrypt(json_encode($data));

                                            ?>

                                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                                <a target="_blank"
                                                   href="<?php echo $this->baseUrl() ?>/register/enrollexam/i/<?php echo $data ?>">
                                                    <button class="uk-button uk-button-small">Register</button>
                                                </a>

                                            </div>
                                        <?php } ?>

                                    </td>
                                </tr>

                                <?php
                            }

                            foreach ($program['courses'] as $course) { ?>
                                <tr>
                                    <td>
                                        <?php if (isset($program['name'])) { ?>
                                            <i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>
                                        <?php } ?>

                                        <?php if ($course['active'] == 0) { ?>
                                            <div class="uk-text-muted"><?php echo $course['title'] ?></div>
                                        <?php } else { ?>
                                            <a href="<?php echo $this->baseUrl() ?>/courses/<?php echo $course['code_safe'] ?>/learn"><?php echo $course['title'] ?></a>
                                        <?php } ?>
                                    </td>
                                    <td>
                                        <?php echo $course['code'] ?>
                                    </td>
                                    <td>
                                        <?php echo Cms_Date::date($course['enrolled_date']) ?>
                                    </td>
                                    <td>
                                        <?php echo $course['expiry_date'] == null ? '&mdash;' : Cms_Date::date($course['expiry_date'], 'j M Y') ?>
                                    </td>
                                    <td>
                                        <!--
                                        <div style="margin-top:4px" class="uk-progress uk-progress-mini" data-uk-tooltip title="0%">
                                            <div class="uk-progress-bar" style="width:2%;"></div>
                                        </div> -->

                                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                            <button class="uk-button uk-button-small"><i class="uk-icon-download"></i>
                                            </button>
                                            <div class="uk-dropdown">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                    <li><a target="_blank"
                                                           href="<?php echo $this->baseUrl() ?>/user/slip-registration/IdStudentRegistration/<?php echo $this->user['external_id'] ?>/IdSubject/<?php echo $course['external_id'] ?>"><?php echo $this->translate('Registration Slip') ?></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </td>
                                    <td></td>
                                </tr>
                            <?php }
                        }
                    }

                    } ?>
                </table>
            </div>

            <?php if ($this->totalcompleted == 0) { ?>
                <div class="tab">
                    <div class="uk-placeholder uk-text-center">
                        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> You
                        have
                        to enrol in a course first <i class="uk-icon-smile-o"></i>.
                    </div>
                </div>
            <?php } else { ?>
                <div class="tab">
                    <table class="uk-table uk-table-bordered">
                        <thead>
                        <th><?php echo $this->translate('Program/Course') ?></th>
                        <th><?php echo $this->translate('Code') ?></th>
                        <th><?php echo $this->translate('Date Enrolled') ?></th>
                        <th><?php echo $this->translate('Download') ?></th>
                        </thead>
                        <?php
                        if ($this->completed) {

                            foreach ($this->completed as $program) {

                                if (isset($program['name'])) {
                                    ?>
                                    <tr>
                                        <td>
                                            <div class="uk-text-muted"><?php echo $program['name'] ?>
                                                (<?php echo ($program['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                                                )
                                            </div>

                                        </td>
                                        <td>
                                            <?php echo $program['code'] ?>
                                        </td>
                                        <td>
                                            <?php echo Cms_Date::date($program['enrolled_date']) ?>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <?php
                                }

                                foreach ($program['courses'] as $course) { ?>
                                    <tr>
                                        <td>
                                            <?php if (isset($program['name'])) { ?>
                                                <i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>
                                            <?php } ?>

                                            <?php if ($course['active'] == 0) { ?>
                                                <div class="uk-text-muted"><?php echo $course['title'] ?></div>
                                            <?php } else { ?>
                                                <a href="<?php echo $this->baseUrl() ?>/courses/<?php echo $course['code_safe'] ?>/learn"><?php echo $course['title'] ?></a>
                                            <?php } ?>
                                        </td>
                                        <td>
                                            <?php echo $course['code'] ?>
                                        </td>
                                        <td>
                                            <?php echo Cms_Date::date($course['enrolled_date']) ?>
                                        </td>
                                        <td>
                                            <!--
                                            <div style="margin-top:4px" class="uk-progress uk-progress-mini" data-uk-tooltip title="0%">
                                                <div class="uk-progress-bar" style="width:2%;"></div>
                                            </div> -->

                                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                                <button class="uk-button uk-button-small"><i
                                                        class="uk-icon-download"></i>
                                                </button>
                                                <div class="uk-dropdown">
                                                    <ul class="uk-nav uk-nav-dropdown">
                                                        <li><a target="_blank"
                                                               href="<?php echo $this->baseUrl() ?>/user/slip-registration/IdStudentRegistration/<?php echo $this->user['external_id'] ?>/IdSubject/<?php echo $course['external_id'] ?>"><?php echo $this->translate('Registration Slip') ?></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                <?php }
                            }
                        } ?>
                    </table>
                </div>
            <?php } ?>

            <div class="tab" id="exam">
                <?php if (count($this->exam) == 0) { ?>
                    <div class="uk-placeholder uk-text-center">
                        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> <?php echo $this->translate('You have not enrolled in any exam yet.') ?>
                        <a href="<?php echo $this->baseUrl() ?>/courses"><?php echo $this->translate('Browse courses') ?></a>.
                    </div>
                <?php } else { ?>

                <?php if ($this->exam) { ?>

                    <div class="uk-alert">
                        <strong> <?php echo count($this->exam) ?></strong> Examination are available.
                    </div>

                    <div class="tab" id="exam">
                        <table class="uk-table uk-table-bordered">
                            <thead>
                            <th><?php echo $this->translate('Program') ?></th>
                            <th><?php echo $this->translate('Prerequisite') ?></th>
                            <th><?php echo $this->translate('Fee') ?></th>
                            <th width="50px"></th>
                            </thead>

                            <?php foreach ($this->exam as $exam) {
                                $data = array(
                                    'regtype' => 'curriculum',
                                    'cid' => $exam['external_id'],
                                    'time' => time()
                                );

                                $data = Cms_Common::encrypt(json_encode($data));
                                ?>
                                <tr>
                                    <td><?php echo $exam['ProgramName'] ?></td>
                                     
                                    <td><?php echo '' ?></td>
                                    <td><?php echo $exam['amount'] ?></td>
                                    <td>

                                        <a
                                           href="<?php echo $this->baseUrl() ?>/register/enrollexam/i/<?php echo $data ?>">
                                            <button class="uk-button uk-button-small">Register</button>
                                        </a>

                                    </td>
                                </tr>
                            <?php } ?>
                        </table>
                    </div>
                <?php } ?>

        <?php } ?>
        <?php if ($this->myexams) { ?>

            <div class="uk-alert">
                <strong> Exam Registration.</strong>
            </div>

                        <table class="uk-table uk-table-bordered">
                            <thead>
                            <th><?php echo $this->translate('Program') ?></th>
                            <th><?php echo $this->translate('Exam Name') ?></th>
                            <th><?php echo $this->translate('Date') ?></th>
                            <th><?php echo $this->translate('Status') ?></th>
                            <th width="50px"><?php echo $this->translate('') ?></th>
                            <th width="50px"><?php echo $this->translate('Slip') ?></th>
                            <?php
                            //

                            foreach ($this->myexams as $list) { ?>
                                <tr>
                                    <td>
                                        <?php //echo $list['er_id']?>
                                       <?php echo $list['ProgramName'] ?>
                                    </td>
                                    <td>
                                        <?php echo $list['examname'] ?>
                                    </td>
                                    <td>
                                        <?php echo Cms_Date::date($list['createddt']) ?>
                                    </td>
                                    <td>
                                        <?php echo $list['examStatus'] ?>
                                    </td>
                                     <?php $eredit = $list['er_registration_type']  ?>
                                            <?php if ($eredit !=  10 ) { ?>
                                            <td>
                                                <a href="<?php echo $this->baseUrl() ?>/exam/view-exam-detail/id/<?php echo $list['er_id'] ?>">
                                                    <button class="uk-button uk-button-small">Edit</button>
                                                </a>
                                            </td>
                                            <?php } else { ?>
                                             <td>
                                                
                                            </td>
                                            <?php } ?>
                                    <!--er status | 0=Pre-Registered , 1=Registered , 10=Completed -->
                                    <?php $erstatus = $list['er_registration_type']  ?>
                                    <?php if ($erstatus ==  0 ) { ?>
                                    <td>
                                     <!--
                                            <div style="margin-top:4px" class="uk-progress uk-progress-mini" data-uk-tooltip title="0%">
                                                <div class="uk-progress-bar" style="width:2%;"></div>
                                            </div> -->
                                            
                                     </td> 
                                            <?php } else if ($erstatus == 1) { ?>
                                            <td>
                                             <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                                <button class="uk-button uk-button-small"><i
                                                        class="uk-icon-download"></i>
                                                </button>
                                                <div class="uk-dropdown">
                                                    <ul class="uk-nav uk-nav-dropdown">
                                                        <li><a target="_blank"
                                                               href="<?php echo $this->baseUrl() ?>/exam/examinationlms-slip/studid/<?php echo $list['student_id'] ?>/er_id/<?php echo $list['er_id'] ?>"><?php echo $this->translate('Exam Slip') ?></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </td>   
                                            <?php } else if ($erstatus == 10) { ?>
                                            <td>
                                             <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                                <button class="uk-button uk-button-small"><i
                                                        class="uk-icon-download"></i>
                                                </button>
                                                <div class="uk-dropdown">
                                                    <ul class="uk-nav uk-nav-dropdown">
                                                        <li><a target="_blank"
                                                               href="<?php echo $this->baseUrl() ?>/exam/examinationlms-slip/studid/<?php echo $list['student_id'] ?>/er_id/<?php echo $list['er_id'] ?>"><?php echo $this->translate('Exam Slip') ?></a>
                                                        </li>
                                                        <li><a target="_blank"
                                                               href="<?php echo $this->baseUrl() ?>/exam/result-sliplms/id/<?php echo $list['er_id'] ?>"><?php echo $this->translate('Result Slip') ?></a>
                                                        </li>







                                                    </ul>
                                                </div>
                                            </div>
                                            </td>             
                                            <?php } else { ?>
                                                 <td> 
                                                 </td>                      
                                           <?php } ?>
                                </tr>
                                          

                            <?php } ?>
                        </table>
                   

                <?php } ?>
            </div>

            <?php if ($this->totalcompleted == 0) { ?>
                <div class="tab">
                    <div class="uk-placeholder uk-text-center">
                        <i class="uk-icon-graduation-cap uk-icon-medium uk-text-muted uk-margin-small-right"></i> You
                        have
                        to enrol in a exam first <i class="uk-icon-smile-o"></i>.
                    </div>
                </div>
            <?php } else { ?>
                <div class="tab">
                    <table class="uk-table uk-table-bordered">
                        <thead>
                        <th><?php echo $this->translate('Program/Course') ?></th>
                        <th><?php echo $this->translate('Code') ?></th>
                        <th><?php echo $this->translate('Date Enrolled') ?></th>
                        <th><?php echo $this->translate('Expiry Date') ?></th>
                        <th><?php echo $this->translate('Download') ?></th>
                        </thead>
                        <?php
                        if ($this->myexams) {

                            foreach ($this->myexams as $program) {

                                if (isset($program['name'])) {
                                    ?>
                                    <tr>
                                        <td>
                                            <div class="uk-text-muted"><?php echo $program['name'] ?>
                                                (<?php echo ($program['learningmode'] == 'OL') ? 'Online' : 'Face to Face'; ?>
                                                )
                                            </div>

                                        </td>
                                        <td>
                                            <?php echo $program['code'] ?>
                                        </td>
                                        <td>
                                            <?php echo Cms_Date::date($program['enrolled_date']) ?>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <?php
                                }

                                foreach ($program['courses'] as $course) { ?>
                                    <tr>
                                        <td>
                                            <?php if (isset($program['name'])) { ?>
                                                <i class="uk-icon-caret-right uk-margin-small-right uk-margin-left uk-text-muted"></i>
                                            <?php } ?>

                                            <?php if ($course['active'] == 0) { ?>
                                                <div class="uk-text-muted"><?php echo $course['title'] ?></div>
                                            <?php } else { ?>
                                                <a href="<?php echo $this->baseUrl() ?>/courses/<?php echo $course['code_safe'] ?>/learn"><?php echo $course['title'] ?></a>
                                            <?php } ?>
                                        </td>
                                        <td>
                                            <?php echo $course['code'] ?>
                                        </td>
                                        <td>
                                            <?php echo Cms_Date::date($course['enrolled_date']) ?>
                                        </td>
                                        <td>
                                            <?php echo $course['expiry_date'] == null ? '&mdash;' : Cms_Date::date($course['expiry_date'], 'j M Y') ?>
                                        </td>
                                        <td>
                                            <!--
                                            <div style="margin-top:4px" class="uk-progress uk-progress-mini" data-uk-tooltip title="0%">
                                                <div class="uk-progress-bar" style="width:2%;"></div>
                                            </div> -->

                                        </td>
                                    </tr>
                                <?php }
                            }
                        } ?>
                    </table>
                </div>
            <?php } ?>
        </div>

    </div>
    <!-- /content -->
</div>
</div>
<script>
$('.prerequisite-alert').click(function(e) {
    var candidate = $(this).data('candidate');
    $('.pep_result[data-candidate='+candidate+']').each(function() {
        var pep_id = $(this).data('pep-id');
        var result = parseInt($(this).data('result'));

        if(result) {
            $('.pep_result_dialog.icon-check[data-pep-id='+pep_id+']').show();
            $('.pep_result_dialog.icon-cancel[data-pep-id='+pep_id+']').hide();
        }
        else {
            $('.pep_result_dialog.icon-check[data-pep-id='+pep_id+']').hide();
            $('.pep_result_dialog.icon-cancel[data-pep-id='+pep_id+']').show();
        }
    });

    $('#prerequisite-dialog').dialog('open');
});
</script>
