<style type="text/css">
    .enrollexam-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .enrollexam-caret {
        margin-left: -2px;
    }

    .enrollexam-caret li > a {
        padding: 0 15px;
    }
</style>

<?php
$exam_flag = true;
?>


<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <div></div>
       
    </div>

    <div class="uk-width-medium-8-10">
        <h2>Exam</h2>
        <?php if($exam_flag==true){ ?>
            <?php echo $this->partial('/user/partials/dashboard_exam.phtml', 'default', array(
                'userid'       => $this->user_id,
                'exam'           => $this->exam,
                'myexams'        => $this->myexams,
                'registeredExam' => $this->registeredExam,
                'totalexam'      => $this->totalexam,
                'studentRegDetl' => $this->studentRegDetl,
                'StudentSubjectsDetail' => $this->StudentSubjectsDetail,
                'studentExtendDetails' => $this->studentExtendDetails
            )); ?>
        <?php } ?>
    </div>
</div> 