<style>
    .red { color: #d7472f; }
    .hover-cursor:hover { cursor: pointer; }
</style>
<div class="uk-grid">
   
    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/membership">Account Statement</a></li>
            <li class="uk-active"><span>Invoice</span></li>
        </ul>

        <!-- content -->
        <h3>Invoice</h3>

        <div align="">
                        <h2 class="status unpaid"><?php echo $this->orders[0]['payment_status']?></h2>
      
        <?php if($this->orders[0]['payment_status'] != 'Paid' ):?>
                        <a href="/membership/qualificationpayment"
               class="uk-button">Pay</a>
            <?php endif;?>
                    </div>

        <div class="info  uk-margin-bottom">
            <strong>Invoice Number:</strong>&nbsp;&nbsp;<?php echo $this->orders[0]['invoice_no']?><br>
            <strong>Invoice Date:</strong>&nbsp;&nbsp;<?php echo $this->orders[0]['created_date']?>   
             </div>

        <table class="uk-table uk-table-stacked uk-table-main uk-margin-bottom">
            <thead>
            <tr>
                <th>Item</th>
                <th width="150" class="uk-text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <!--<td></td>-->
                <td><?php echo $this->orders[0]['level']?><br>                </td>
                <td class="uk-text-right"><?php echo $this->orders[0]['total_amount']?></td>
            </tr>
            
            <tr>
                <td class="uk-text-right">GST (6%):</td>
                <td class="uk-text-right">MYR202.80</td>
            </tr>
                        <tr>
                <td class="uk-text-right"><strong>Total:</strong></td>
                <td class="uk-text-right"><?php echo $this->orders[0]['total_amount']?></td>
            </tr>
            </tbody>
        </table>

        <table class="uk-table uk-table-stacked uk-margin-large-top">
            <thead>
            <tr>
                <th>Receipt</th>
                <th>Description</th>
                <th>Date</th>
                <th class="uk-text-right" width="150">Amount</th>
            </tr>
            </thead>
            <tbody>
                            <tr>
                    <td colspan="4">No transaction found.</td>
                </tr>
                                    <tr>
                <td colspan="3" class="uk-text-right"><strong>Balance:</strong></td>
                <td class="uk-text-right"><?php echo $this->orders[0]['total_amount']?></td>
            </tr>
            </tbody>
        </table>

        <div class="uk-text-right">
                        <!--<a class="uk-button uk-button-small" target="_blank" href="/user/slip-invoice/data/Fc5T0TmqgZQ3ELR7IvtmU2oJMAo2gWX70T3irxiXfaf6h1T_mShoD04pQd3C6fpMRaF9EYe8b_L9n5CXp494cTrtv0oVDCCQGUWa6wzg9OSpyupPf52huhdSWp8KYu1EoLO2G4eHHlqMgYUfLhieKCfoHgMvONGHvT9URfuA9zepVTw2_0E6PFvn4cxnfi_mcqDsBka7an4VFJNI_3917w"><i class="uk-icon-download"></i> Download Invoice</a>-->
            <button type="button" class="uk-button" onclick="redirect('/user/purchase-history')">Back</button>
            <button type="button" class="uk-button" onclick="parent.location='/user/slip-invoice/data/'" formtarget="_blank"><i class="uk-icon-download"></i> Download Invoice</button>
        </div>

    </div>
</div>

<script type="text/javascript">
    function deleteInvoice(id, orderId) {
        var msg = 'Are you sure you want to remove this invoice?';

        alertify.confirm(msg, function () {

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'deleteinvoice'),'default',true);?>",
                data: 'invoiceId=' + id + '&orderId=' + orderId,
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
//$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function () {

                }
            }).done(function (data) {

                location.reload();

            });


        });

        return false;
    }
    
    $('.hover-cursor').click(function(e)
    {
        alertify
            .alert("Your payment is being processed and will be updated shortly.<br><br>If the payment status is still pending after 15 minutes, please do not hesitate to contact us.", function() {
                
            });
    });
</script>
