<?php //echo $this->headLink()->prependStylesheet($this->baseUrl() . '/css/home.css'); ?>
<style type="text/css">
    .enrollexam-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .enrollexam-caret {
        margin-left: -2px;
    }

    .enrollexam-caret li > a {
        padding: 0 15px;
    }
</style>
<div class="uk-grid">

    <div class="uk-width-medium-8-10">


        <div class="uk-placeholder uk-text-center">
            <?php echo $this->translate('Welcome to AICB') ?>
            <a href="<?php echo $this->baseUrl() ?>/dashboard"><?php echo $this->translate('Go to Dashboard') ?></a>.
        </div>
    </div>



        <section class="vbox">

            <section>
                <section class="hbox stretch">


                    <section id="content">
                        <section class="hbox stretch">
                            <aside>
                                <section class="vbox">
                                    <section class="scrollable wrapper">

                                        <div class="timeline">
                                            <article class="timeline-item active">
                                                <div class="timeline-caption">
                                                    <div class="panel bg-primary lter no-borders">
                                                        <div class="panel-body">
                                                            <h5> <span>CHARTERED BANKER PATHWAY</span>  </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="timeline-item">
                                                <div class="timeline-caption">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body"> <span class="arrow left"></span> <span class="timeline-icon"><i class="fa fa-file-text time-icon bg-info"></i></span>
                                                            <span class="timeline-date"><h5> <span><b>Registration</b></span> </h5></span>
                                                            <h5> <span>a. Standard Route</span></h5>
                                                            <h5> <span>b. Accelerated Route</span></h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </article>

                                            <article class="timeline-item alt">
                                                <div class="timeline-caption">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body"> <span class="arrow right"></span> <span class="timeline-icon"><i class="fa fa-file-text time-icon bg-warning"></i></span>
                                                            <span class="timeline-date"><h5> <span><b>Education Pathway</b></span> </h5></span>
                                                            <h5> <span>a. Level 1 : Executive Banker</span></h5>
                                                            <h5> <span>d. Level 2 : Professional Banker</span> </h5>
                                                            <h5> <span>e. Level 3 : Chartered Banker</span></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>

                                            <article class="timeline-item">
                                                <div class="timeline-caption">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body"> <span class="arrow left"></span>
                                                            <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
                                                            <span class="timeline-date"><h5> <span><b>Membership Designation</b></span> </h5></span>
                                                            <h5> <span>a. Level 1 : Affliate, AICB </span></h5>
                                                            <h5> <span>d. Level 2 : Associate, AICB</span> </h5>
                                                            <h5> <span>d. Level 2 : Chartered Banker, AICB (CB)</span> </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <div class="timeline-footer"><a href="#"><i class="fa fa-minus time-icon inline-block bg-dark"></i></a></div>
                                        </div>
                                    </section>
                                </section>
                            </aside>

                        </section>
                    </section>
                </section>




    <!-- /content -->
</div>

