<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/moment/moment.min.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.js');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.min.css');
$this->headLink()->appendStylesheet($this->baseUrl().'/js/plugins/fullcalendar/fullcalendar.print.css', 'print');
?>
<style type="text/css">
    .enrollexam-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .enrollexam-caret {
        margin-left: -2px;
    }

    .enrollexam-caret li > a {
        padding: 0 15px;
    }
</style>

<?php
$membership_flag = true;
?>


<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <div></div>
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>

    <div class="uk-width-medium-8-10">

        <!-- membership -->
        <?php if($this->transaction[0]['mr_status']==1606 || $this->expired_flag==true){?>
            <div class="uk-alert uk-alert-danger"><span class="icon icon-attention uk-text-lef"> </span>Your Membership has already expired! Please renew to activate your membership.</div>
        <?php } ?>
        <?php if($this->transaction[0]['mr_status']==1604){?>
            <div class="uk-alert uk-alert-notice"><span class="icon icon-attention uk-text-lef"> </span>Your Membership has been approved. Please proceed with payment to activate your membership.</div>
        <?php } ?>

        <h2>Membership</h2>
        <?php if($membership_flag==true){ ?>
            <?php echo $this->partial('/user/partials/dashboard_membership.phtml', 'default', array(
                'userid'       => $this->user_id,
                'membership'  => $this->membership
            )); ?>
        <?php } ?>
    </div>
</div>