<fieldset>
<div class="container-fluid">
 <style type="text/css">
     .error
     {
        color: red;
     }

     .success
     {
        color: green;
     }
 </style>
<div>
<h2>Change Password</h2>
    <div style="margin-right: 130px; margin-left: 130px;">
    <!-- ERROR MESSAGE -->
    <?php
        if ( $this->successMsg != '' )
        {
            ?>
            <div class="success">
                <div class="text"><?php echo $this->successMsg ?></div>
            </div>
            <?php
        } else {
            if ( trim($this->errMsg) != '' )
            {
                ?>
                <div class="error">
                    <div class="text"><?php echo $this->errMsg ?></div>
                </div>
                <?php
            }}
    ?>
<form method="post" id="form-changepassword" class=""> 
    <div class="filter-block">
        <input type="hidden" name="token" value="<?php echo Cms_Common::token()?>" />
        <div class="row">
            <div class="col-sm-12">
                <label>Old Password</label>
                    <input type="password" class="form-control" name="oldpass" id="oldpass" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>New Password</label>
                    <input type="password" class="form-control" name="newpass" id="newpass" required data-fv-stringlength="true"
                       data-fv-stringlength-min="6"
                       data-fv-stringlength-message="Password must be at least 6 characters long"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Confirm Password</label>
                    <input type="password" value="" required class="form-control" id="confirmpassword" data-fv-identical="true"
                       data-fv-identical-field="newpass"
                       data-fv-identical-message="New password must match" name="confirmpassword"/>
            </div>
        </div>

        <br>
        <button type="submit" name="register" class=" btn btn-primary"><?php echo $this->translate('Submit')?></button>
        <button type="button" class="btn btn-inverse" onclick="window.location.href='<?php echo $this->url(array('module'=>'admin'),'default',true);?>';" ><?php echo $this->translate("Back") ?></button>
        </div>
    </form>
    </div>
</div>
</fieldset>

    

<style type="text/css">
/*#ch_password_grid
{
    padding-right: 160px;

}

#head_changepassword
{
    width: 600px;
    border:solid 1px;
    border-radius: 10px !important;
    border-color: #37B1BE ;

}  

#form-changepassword
{
    border-color: #37B1BE;
    width: 1000px;
    border-radius: 10px !important;
}*/
</style> 
</fieldset>