<div class="uk-grid">
<!--     <div class="uk-width-medium-2-10">
    </div> -->
    <div class="uk-width-medium-8-10">
    <!-- content -->
    <divs><h2><?php echo $this->translate('Profile')?></h2>

        <form class="uk-form uk-form-horizontal validate "  method="post" id="edituser"  enctype="multipart/form-data">

           
            <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">
                <div class="tab uk-active" id="profile">
                  
                     <h4 class="form-title">Personal Details</h4> 
                    <!-- tab -->
                    <div class="row">

                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="username"><?php echo $this->translate('NRIC/Passport Number')?>(Username) </label>
                        <div class="uk-form-controls">
                            <input type="text" id="username" class="form-control" value="<?php echo $this->user['username'] ?>" required/>
                           <!--  <p class="desc">NIRC NO cannot be changed</p> -->
                        </div>
                    </div>

                         <div class="col-sm-2">
                    <div class="form-group">
                        <label>Salutation <span class="requried">*</span></label>
                        <?php echo $this->form->salutation?>
                       
                    </div>                        
                   </div>                       
                   <div class="col-sm-4">
                    <div class="form-group">
                        <label>First Name <span class="requried">*</span></label>
                       
                        <?php echo $this->form->firstname?>
                    </div>                        
                   </div> 
                </div>
                <div class="row">
                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="lastname"><?php echo $this->translate('Last Name')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->lastname->setAttrib('class','form-control')  ?>
                        </div>
                    </div>

                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="gender"><?php echo $this->translate('Gender')?><span class="req"></span></label>
                        <div class="uk-form-controls">       
                            <?php echo $this->form->gender->setAttrib('class','form-control')  ?>                            
                        </div>
                            </div>
                        </div>


                <div class="row"> 
                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="gender"><?php echo $this->translate('Date of Birth')?><span class="req">*</span></label>
                        <div class="uk-form-controls">
                             <?php
                            $is_valid = Cms_Common::validateDate($this->user['birthdate']);
                            $dob      = ($is_valid ? date('d-m-Y', strtotime($this->user['birthdate'])) : '');
                            ?>
                             <input type="text" class="form-control" name="birthdate"<?php echo ($is_valid ? '' : ''); ?> value="<?php echo $dob ?>" id="input-dob" />
                        </div>
                    </div>


                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="email"><?php echo $this->translate('Email')?></label>
                        <div class="uk-form-controls">
                            <input type="text" class="form-control" disabled value="<?php echo $this->user['email'] ?>" />
                            <p class="desc">Email cannot be changed</p><br>
                        </div>
                    </div>
                </div>
                 <h4 class="form-title">Home Address</h4>  
                 <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate(' Address 1')?> <span class="requried">*</span></label>
                            <div class="form-controls">       
                                    <input type="text" name="address1" id="addr-address1" class="form-control" value="<?php echo $this->user['address1']; ?>" required>                        
                            </div>
                                </div>
                           
                        <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="city"><?php echo $this->translate('Address 2')?> <span class="requried">*</span></label>
                            <div class="form-controls">       
                                    <input type="text" name="address2" id="addr-address2" class="form-control" value="<?php echo $this->user['address2']; ?>" required>                            
                            </div>
                                </div>

                     
                        </div>
                <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate(' Address 3')?> </label>
                            <div class="uk-form-controls">       
                                    <input type="text" name="address3" id="addr-address3" class="form-control" value="<?php echo $this->user['address3']; ?>" required>                        
                            </div>
                                </div>
                           
                        <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="city"><?php echo $this->translate('City')?> <span class="requried">*</span></label>
                            <div class="uk-form-controls">       
                                     <input type="text" name="city" id="city" class="form-control" value="<?php echo $this->user['city'] ?>" required>                           
                            </div>
                                </div>

                     
                        </div>
                    <div class="row">
                            <div class="col-sm-6 col-md-6">
                        <label ><?php echo $this->translate('Country')?> <span class="requried">*</span></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->country;?>
                        </div>
                    </div>

                            <div class="col-sm-6 col-md-6">
                        <label><?php echo $this->translate('State')?> <span class="requried">*</span></label>
                        <div class="uk-form-controls">       
                            <?php echo $this->form->state?>                            
                        </div>
                            </div>
                        </div>
                     <div class="row">
                           
                       

                         <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate('Postcode')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                    <input type="text" name="postcode" id="addr-postcode" class="form-control" maxlength="6" value="<?php echo $this->user['postcode']; ?>" />                           
                            </div>
                                </div>
                        </div>


                     

                    </div>
          <h4 class="form-title">Correspondance Address</h4>  
                 <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate(' Address 1')?><span class="req"></span></label>
                            <div class="form-controls">       
                                    <input type="text" name="cor_address1" id="addr-address1" class="form-control" value="<?php echo $this->user['cor_address1']; ?>" required>                        
                            </div>
                                </div>
                           
                        <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="city"><?php echo $this->translate('Address 2')?><span class="req"></span></label>
                            <div class="form-controls">       
                                    <input type="text" name="cor_address2" id="addr-address2" class="form-control" value="<?php echo $this->user['cor_address2']; ?>" required>                            
                            </div>
                                </div>

                     
                        </div>
                <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate(' Address 3')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                    <input type="text" name="cor_address3" id="addr-address3" class="form-control" value="<?php echo $this->user['cor_address3']; ?>" required>                        
                            </div>
                                </div>
                           
                        <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="city"><?php echo $this->translate('City')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                     <input type="text" name="cor_city" id="city" class="form-control" value="<?php echo $this->user['cor_city'] ?>" required>                           
                            </div>
                                </div>

                     
                        </div>
                    <div class="row">
                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="lastname"><?php echo $this->translate('Country')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->cor_country;?>
                        </div>
                    </div>

                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="gender"><?php echo $this->translate('State')?><span class="req"></span></label>
                        <div class="uk-form-controls">       
                            <?php echo $this->form->cor_state?>                            
                        </div>
                            </div>
                        </div>
                     <div class="row">
                           
                       

                  <div class="col-sm-6 col-md-6">
                 <label class="uk-form-label" for="gender"><?php echo $this->translate('Postcode')?><span class="req"></span></label>
                     <div class="uk-form-controls">       
                         <input type="text" name="cor_postcode" id="addr-postcode" class="form-control" maxlength="6" value="<?php echo $this->user['cor_postcode']; ?>" />                           
                    </div>
                  </div>

                   <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate('Telephone Number(Direct)')?><span class="req"></span></label>
                            <div>       
                                    <?php echo $this->form->sec_mobile?>                           
                            </div>
                    </div>
                        </div>


                     

                    </div>
                     <h4 class="form-title">Work Experience</h4>
            <div class="row">
               <div class="col-sm-6">
                  <div class="form-group">
                     <label>Do you have work experience? <span class="requried">*</span></label>
                     <div class="clearfix">
                        <label class="radio-inline">
                          
                        <input type="radio" name="lectureshipRadio" id="yes1" value="true" checked><span class="check-radio"></span> Yes
                      
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="lectureshipRadio" id="no1" value="No"><span class="check-radio"></span> No
                        </label>                            
                     </div>
                  </div>
               </div>
                     
               <div class="col-sm-6" id="exp">
                    <div class="form-group" >
                      <label>Experience <span class="requried">*</span></label>
                       <?php echo $this->form->industrial_exp ?>
                
                   </div>
               </div>  
            </div>
                    <!-- tab -->
                <!--</div>
                
                <div class="tab" id="address-tab">-->
               <div id= 'company'>
               <div>
                   <h4 class="form-title">Current Working Company   <span class="font-small">(Please update your current employment information)</span></h4>
               </div>
                  <form>
                  <div class="row">
                      <div class="col-sm-3">
                          <label ><?php echo $this->translate('Company Name'); ?></label>
                          <input type="text" class="form-control" value="<?php echo $this->user['u_company'] ?>" name="u_company" id="u_company" value="" />
                  </div>
                  <div class="col-sm-3">
                      <div id ='oth' class="uk-form-row" id='other'>
                     <!--  <label class="uk-form-label" for="others" ><?php echo $this->translate('Others')?></label>
                      <div class="uk-form-controls">
                      <?php echo $this->form->company_others?>
                      </div> -->
                      </div>
                      <label ><?php echo $this->translate('Designation'); ?></label>
                      <input type="text" class="form-control" value="<?php echo $this->user['u_designation'] ?>" name="u_designation" id="u_designation" value="" />
                  </div>

                  <div class="col-sm-3">
                      <label ><?php echo $this->translate('From Date'); ?></label>

                       <?php
                            $is_valid = Cms_Common::validateDate($this->user['c_fromdate']);
                            $c_fromdate      = ($is_valid ? date('d-m-Y', strtotime($this->user['c_fromdate'])) : '');
                            ?>
                            
                      <input type="text"  value="<?php echo $c_fromdate ?>" class="form-control" name="c_fromdate" id="c_fromdate" value="" />
                    </div>
                     <div class="col-sm-3">
                      <label>Still employed in the same company ? </label>
                        <div class="clearfix">
                        <label class="radio-inline">
                        
                        
                        <input type="radio" name="samecompany" id="yescompany" value="yes" onchange="showData('yes')" 
                        <?php if($this->user['samecompany'] == 'yes') 
                        { echo "checked=checked"; }
                        ?> ><span class="check-radio"></span> Yes
                      
                         
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="samecompany" id="nocompany" value="no" onchange="showData('no')" <?php if($this->user['samecompany'] == 'no') { 
                          echo "checked=checked"; };?> ><span class="check-radio"></span> No
                        </label>                            
                     </div>

                </div>

                  <div class="col-sm-3" id="todateDiv">
                      <label ><?php echo $this->translate('To Date'); ?></label>
                       <?php
                            $is_valid = Cms_Common::validateDate($this->user['c_todate']);
                            $c_todate      = ($is_valid ? date('d-m-Y', strtotime($this->user['c_todate'])) : '');
                            ?>
                      <input type="text" class="form-control" value="<?php echo $c_todate ?>"   name="c_todate" id="c_todate" value="" />
                </div>
              

                <div class="col-sm-2">
                      <br>

                </div>
                <div class="col-sm-12 col-md-12">
                      <label class="uk-form-label" for="gender"><?php echo $this->translate('Summary of CV')?><span class="req"></span> <a href="" data-toggle="modal" data-target="#myModal">Click here for CV summary</a></label>
                            <div class="uk-form-controls">       
                            <textarea name="description" class="form-control"><?php echo $this->user['description'] ?></textarea>                           
                            </div>
                                </div>

                </div>

            </div>
            <h4 class="form-title">Company Address</h4>  
                 <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate(' Address 1')?><span class="req"></span></label>
                            <div class="form-controls">       
                                    <input type="text" name="c_address1" id="addr-address1" class="form-control" value="<?php echo $this->user['c_address1']; ?>" >                        
                            </div>
                                </div>
                           
                        <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="city"><?php echo $this->translate('Address 2')?><span class="req"></span></label>
                            <div class="form-controls">       
                                    <input type="text" name="c_address2" id="addr-address2" class="form-control" value="<?php echo $this->user['c_address2']; ?>" >                            
                            </div>
                                </div>

                     
                        </div>
                <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate(' Address 3')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                    <input type="text" name="c_address3" id="addr-address3" class="form-control" value="<?php echo $this->user['c_address3']; ?>" >                        
                            </div>
                                </div>
                           
                        <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="city"><?php echo $this->translate('City')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                     <input type="text" name="c_city" id="city" class="form-control" value="<?php echo $this->user['c_city'] ?>" >                           
                            </div>
                                </div>

                     
                        </div>
                    <div class="row">
                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="lastname"><?php echo $this->translate('Country')?></label>
                        <div class="uk-form-controls">
                            <?php echo $this->form->c_country;?>
                        </div>
                    </div>

                            <div class="col-sm-6 col-md-6">
                        <label class="uk-form-label" for="gender"><?php echo $this->translate('State')?><span class="req"></span></label>
                        <div class="uk-form-controls">       
                            <?php echo $this->form->c_state?>                            
                        </div>
                            </div>
                        </div>
                     <div class="row">
                           
                       

                         <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate('Postcode')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                    <input type="text" name="c_postcode" id="addr-postcode" class="form-control" maxlength="6" value="<?php echo $this->user['c_postcode']; ?>" />                           
                            </div>
                                </div>
       <div class="col-sm-6 col-md-6">
                                 <label class="uk-form-label" for="gender"><?php echo $this->translate('Mobile Number(Secondary)')?><span class="req"></span></label>
                            <div class="uk-form-controls">       
                                     <?php echo $this->form->tel_office?>                           
                            </div>
                    </div>
                        </div>

          <div id ="block" >
              <table class="table table filter-block table-striped" width="50%" id="reglocList">
             
                  <br>
            

                    
<div id ="job" class="form-group">
                     <label>Is Your current Job related to Islamic Finance <span class="requried">*</span></label>
                     <div class="clearfix">
                        <label class="radio-inline">
            <?php if($this->user['add_qualification'] == 1):?>
              <input type="radio" name="add_qualification" id="add" value="1" checked><span class="check-radio" ></span> Yes
            <?php else:?>
                 <input type="radio" name="add_qualification" id="add" value="1" > <span class="check-radio"></span> Yes
            <?php endif?>
            
                        
                        </label>
                        <label class="radio-inline">

                                        <label class="radio-inline">
            <?php if($this->user['add_qualification'] == 0):?>
             <input type="radio" name="add_qualification" id="d2" value="0" checked><span class="check-radio"></span> No
            <?php else:?>
                 <input type="radio" name="add_qualification" id="d2" value="0"><span class="check-radio"></span> No
            <?php endif?>
                        
                        </label>                            
                     </div>
                  </div>
                  <h4 class="form-title">Degree Awarded</h4>
                   <div > 
      <div class="row">
        <div class="col-sm-4">
      
      <label ><?php echo $this->translate('what is your highest level of Degree'); ?></label>
       <?php echo $this->form->qualification_level ?></div>
        </div>
         </div>
          <br>
          <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
              <label>Do you have Qualification related to Islamic Finance ? <span class="requried">*</span></label>
              <div class="clearfix">
              <label class="radio-inline">
                <?php if(empty($this->user['qualification'])){ ?>
              <input type="radio" name="Experience_type" id="yes" value="Yes" checked><span class="check-radio" ></span> Yes
            <?php }else{?>
                <input type="radio" name="Experience_type" id="yes" value="true" checked><span class="check-radio"></span> Yes
              <?php }?>
              </label>
              <label class="radio-inline">
              <input type="radio" name="Experience_type" id="no" value="No"><span class="check-radio"></span> No
              </label>                            
              </div>                                             
              </div> 
              <!-- <div class="form-group">
              <?php echo $this->form->industrialExp ?>                          
              </div>       -->                 
          </div>
      </div>
                  <br>

                  
     
       <div class="row" id='qualify'>
      <div class="col-sm-4">
      
      <label ><?php echo $this->translate('Highest Qualification'); ?></label>
      <input type="text" class="form-control" name='qualification' value="<?php echo $this->user['qualification'] ?>" id="qualification" value="" /></div>
      <div class="col-sm-4">
      <label ><?php echo $this->translate('Year of Completion'); ?></label>
      <input type="text" class="form-control" name='q_year' value="<?php echo $this->user['q_year'] ?>" id="completion" value="" /></div>
     
      <div class="col-sm-4">
      <label ><?php echo $this->translate('University'); ?></label>
      <input type="text" class="form-control" name='q_university' value="<?php echo $this->user['q_university'] ?>" id="university" value="" /></div>
      <br>
      <div class="col-sm-3">

    </div>
     
    </div>
      <table class="table table filter-block table-striped" width="50%" id="regqualification">
        <br>
               
    
      
      </table> 
      </div>
                                                        
               <h4 class="form-title">Upload Documents (pdf <2mb)</h4> 
               <div class="form-group"> 

                   <div> <label>IC Document <span class="requried">*</span></label> 
                    

                      <input type="file"  name="file1[]" id="file1" class="form-control" />  </div>
                      <?php if(!empty($this->IC_doc[0]['doc_name'])):?>
                      <div id='ic_doc'>
                        <a href="<?php echo APP_URL;?>/<?php  echo $this->IC_doc[0]['doc_name'] ?>" target="_blank" download> <?php echo $this->IC_doc[0]['doc_name']?> </a>
                  <button type="button" id='ic' class="close" style="color: red" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                      </div>   
                     <?php else:?>
                        <script>
                          $("#file1").attr('required',true)
                        </script>
                      <?php endif;?>              
               </div>
               <div class="form-group">                    
                    <div><label>Academic Certificate Document <span class="requried">*</span></label> 
                   
                    <input type="file" name="file2[]" id="file2" class="form-control" /> </div>
                     <?php if(!empty($this->AC_doc[0]['doc_name'])):?>
                    <div id='ac_doc'> 
                       <a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $this->AC_doc[0]['doc_name'] ?>"> <?php echo $this->AC_doc[0]['doc_name']?> </a>
                        <button type="button" class="close" id='ac' style="color: red" aria-label="Close"><span aria-hidden="true">&times;</span></button> 

                      </div> 
                      <?php else:?>
                        <script>
                          $("#file2").attr('required',true)
                        </script>
                      <?php endif;?>                      
               </div>
               <div class="form-group">                    
                    <label>Academic Transcript Document<span class="requried">*</span></label> 
                    
                    <input type="file" name="file3[]" id="file3" class="form-control" />  
                      <?php if(!empty($this->AT_doc[0]['doc_name'])):?>

                    <div id='al_doc'> 
                      <a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo $this->AT_doc[0]['doc_name'] ?>"> <?php echo $this->AT_doc[0]['doc_name']?> </a>
                     <button type="button" class="close" id='al' style="color: red" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div> 
                     <?php else:?>
                        <script>
                          $("#file3").attr('required',true)
                        </script>
                      <?php endif;?>                     
               </div>
               <div class="form-group">                    
                    <label>Confirmation Letter Document </label> 
                   
                    <input type="file" name="file4[]" id="file4" class="form-control" />
                      <?php if(!empty($this->CL_doc[0]['doc_name'])):?>

                    <div id='cl_doc'> 
                <a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $this->CL_doc[0]['doc_name'] ?>"> <?php echo $this->CL_doc[0]['doc_name']?> </a>
                 <button type="button" class="close" id='cl' style="color: red" aria-label="Close"><span aria-hidden="true">&times;</span></button>    
                      </div>   
                      <?php endif;?>                     
               </div> 
               <div class="form-group">                    
                    <label>CV/Resume<span class="requried">*</span></label>
                    
                    <input type="file" name="file6[]" id="file6" class="form-control" /> 
           <?php if(!empty($this->CV_doc[0]['doc_name'])):?>
 
                    <div id='cv_doc'> 
                  <a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $this->CV_doc[0]['doc_name'] ?>"> <?php echo $this->CV_doc[0]['doc_name']?> </a>

                  <button type="button" class="close" id='cv' style="color: red" aria-label="Close"><span aria-hidden="true">&times;</span></button>   
                      </div>   
                 <?php else:?>
                        <script>
                          $("#file6").attr('required',true)
                        </script>
                      <?php endif;?>                   
               </div>
               <div class="form-group">                    
                    <label>Previous Membership Document </label> 
                   
                    <input type="file" name="file5[]" id="file5" class="form-control" />
                 <?php if(!empty($this->Pre_doc[0]['doc_name'])):?>

                    <div id='pm_doc'> 
                    <a href="<?php echo APP_URL;?>/admin/users/downloadfile/file/<?php  echo  $this->Pre_doc[0]['doc_name'] ?>"> <?php echo $this->Pre_doc[0]['doc_name']?> </a>
                   <button type="button" class="close" id='pm' style="color: red" aria-label="Close"><span aria-hidden="true">&times;</span></button>         

                      </div>  
                  <?php endif;?>                      
               </div>

              <div class="form-group">
                 <div class="checkbox">
                    <label>
                      <input type="checkbox" id="privacy" name="privacy" value="1" required />
                      <span class="check-radio"></span>
                     I have read and filled up this application form to be a Member of Chartered Institute of Islamic Finance Professionals (CIIF) and understood regarding the processing of my personal data, and I hereby consent  to have CIIF to process my personal data for th purposes and to the to exetent stated above.
                    </label>
                  </div>            
                </div>
                <div class="form-group">
                 <div class="checkbox">
                    <label>
                      <input type="checkbox" id="privacy" name="privacy" value="1" required />
                      <span class="check-radio"></span>
                       
                       CIIF would like to contact you about other products or services available which may be of interest of you. Please tick this box if you would like to receive marketing and promotional materials from CIIF.

                    </label>
                  </div>            
                </div> 
      

  <div id="termsConditionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header common-questions-header-modal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Terms &amp; Conditions</h3>
            </div>
            <div class="modal-body">
                <div class="question">
                    <h3 id="dynamic-question"></h3>
                </div>
                <div class="answer">
                    <p id="dynamic-answer">
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                
            </div>
        </div>

    </div>
</div>
             <!--  <?php //if(//$this->user['estatus'] == 591):?> -->

            <div class="uk-form-row">
                <button type="submit" id='uploadButton' name="register" value="save" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-primary" name="submit" value="submit" onclick="redirect('/user/dashboard')">Submit</button>
            </div>
<!--           <?php //endif;?> -->
        </form>

    <!-- /content -->
    </div>
</div>
<div class="container">
 

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Summary of CV</h4>
        </div>
        <div class="modal-body">
          <p>1. Partner in the Litigation Dispute Resolution Department of Messrs,  Sachin & Co, 2006 - Current</p>
<p></p>2. Litigation and Dispute Resolution Department of Messrs. Sachin & Co, Senior Legal Assistant, 2004 – 2006</p>
<p>3. Litigation and Dispute Resolution Department of Messrs.  Sachin & Co – Legal Assistant, 2000 – 2004
</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript"  src="<?php echo $this->baseUrl()?>/js/plugins/moment/jstz.js"></script>
<script type="text/javascript">
    $(document).ready(function(){


      if($("#nocompany").is(":checked")) {
        
         $('#todateDiv').show()
     //write your code         
}else{

   $('#todateDiv').hide()
}
       //Common Questions Modal
       console.log($('input[name=samecompany]').val());
    $('#termsConditionModal').on('show.bs.modal', function (event) {
        var span = $(event.relatedTarget); // Button that triggered the modal
        var question = span.data('question'); // Extract info from data-* attributes        
        var modal = $(this);
        modal.find('#dynamic-question').text(question);

        var id = span.data('answer'); // Extract info from data-* attributes        
        var Answer = $('#answer' + id).html();
        modal.find('#dynamic-answer').html(Answer);

       
    }); 
        // $('#qualify').hide()
        //  $('#other').hide()
        //  $('#job').hide()
        //  $('#titlecompany').hide()
        //  $('#reglocList').hide()
        //  $('#regqualification').hide();
        //  $('#oth').hide();
        //  $('#company_others').hide()
         $('#yes').click(function(){
           $('#qualify').show()
           $('#regqualification').show()
   
       })
        $('#no').click(function(){
           //$('#qualify').hide()

          // $('#regqualification').hide()
   
       })
   
         //$('#company').hide()
       $('#yes1').click(function(){
           $('#company').show()
            $('#job').show()
           $('#reglocList').show()
           $('#exp').show()

   
       })
        $('#no1').click(function(){
           $('#company').hide()
             $('#job').hide()
           $('#reglocList').hide()
           $('#exp').hide()
   
       })
   
   
   
         $('#mem_company').change(function(){
           
   
       var company = $('#mem_company').val();
    
       if(company == 'Others')
       {
           
           $('#company_others').show()
           $('#oth').show();
            $('#other').show()
            $('#fromdate').show()
           $('#reglocList').show()
           $('#job').show()
            $('#todate').show()
            $('#Designation').show()
   
       }
       else
       {
            $('#fromdate').show()
            $('#todate').show()
            $('#Designation').show()
            $('#company_others').hide()
             $('#oth').hide();
              $('#job').show()
       }
       // if(company == 'Others')
       // {
      
       //     $('#company_others').hide()
       //      $('#other').hide()
       // }
   })
   
   })

    function showData(id) {
 
      if(id=='no') {
          $("#todateDiv").show();
      } else {
        $("#todateDiv").hide();
      }
    }
</script>

<script>
    
     
                        function initCity(on_ready)
                        {
                            console.log('state='+$('#addr-state').val());
                            if ($('#addr-state').val().length) {
                                $('#addr-city').prop('disabled', false);
                               

                                $.get('<?php echo $this->baseUrl(); ?>/ajax/get-city/id/' + $('#addr-state').val()+'/list/0', function(data)
                                {
                                    $.each(data, function(key, value)
                                    {
                                        $('#addr-city').append('<option value=' + value.id + '>' + value.name + '</option>');
                                    });

                                    if (on_ready == true)
                                    {
                                        $('#addr-city').val('<?php echo $this->user['city']; ?>');
                                    }

                                }, 'JSON');
                            }
                            else
                            {
                                $('#addr-city').val('');
                                $('#addr-city').prop('disabled', true);
                            }
                        }
                        

            function addregloc()
             {
                flag=true
                 if($('#mem_company').val()=='' || $('#Designation').val()==''
                    || $('#fromdate').val()=='' || $('#todate').val()=='') {
                flag=false;
            }
        if(flag ==true)
        
        {
            var idrow  = $("#idRow").val();
            idrow = Math.abs(idrow)+1;          
            addregRow(idrow);
            $("#idRow").val(idrow);
           }
           else
           {
            alert("Fill the Required Information");
           }
       }


        function addqualification()
             {

                flag=true
                 if($('#qualification').val()=='' 
                    || $('#completion').val()=='' || $('#university').val()=='') {
                flag=false;
            }
        if(flag ==true)
        
        {

            var idrow1  = $("#idRow1").val();
            idrow1 = Math.abs(idrow1)+1;          
            addquaRow(idrow1);
            $("#idRow").val(idrow1);
           }
           else
           {
            alert("Fill the Required Information");
           }
       }

 function addregRow(idrow)
    {
        var table = $('#reglocList tbody');
        if($('#mem_company').val() =='Others')
        {
            
        var content = "<tr id='"+idrow+"'>" +
                        "<td align='center'><input type='hidden' value='"+ $('#others').val()+"'  name=others[]> " +$('#others').val()+"</td>"+
                      "<td align='center'><input type='hidden' value='"+ $('#Designation').val()+"'  name=Designation[]> " +$('#Designation').val()+"</td>"+
                      "<td align='center'><input type='hidden' value='"+ $('#fromdate').val()+"'  name=fromdate[]> " +$('#fromdate').val()+"</td>"+
                      "<td align='center'><input type='hidden' value='"+ $('#todate').val()+"'  name=todate[]> " +$('#todate').val()+"</td>"+

                      "<td align='center'><a href='#' onClick='deleteProgramRow("+idrow+"); return false;'>Delete</a></td>" +
                      '</tr>';

        $(table).append(content);
     }

     else
     {
          var content = "<tr id='"+idrow+"'>" +
                          "<td align='center'><input type='hidden' value='"+ $('#mem_company').val()+"'  name=mem_company[]> " +$('#mem_company option:selected').text()+"</td>"+
                      "<td align='center'><input type='hidden' value='"+ $('#Designation').val()+"'  name=Designation[]> " +$('#Designation').val()+"</td>"+
                      "<td align='center'><input type='hidden' value='"+ $('#fromdate').val()+"'  name=fromdate[]> " +$('#fromdate').val()+"</td>"+
                      "<td align='center'><input type='hidden' value='"+ $('#todate').val()+"'  name=todate[]> " +$('#todate').val()+"</td>"+

                      "<td align='center'><a href='#' onClick='deleteProgramRow("+idrow+"); return false;'>Delete</a></td>" +
                      '</tr>';

        $(table).append(content);
     }

    }


    function addquaRow(idrow1)
    {
        var table = $('#regqualification tbody');

        var content = "<tr id='"+idrow1+"'>" +
                        "<td align='center'><input type='hidden' value='"+ $('#qualification').val()+"'  name=qualification[]> " +$('#qualification').val()+"</td>"+
                     
                      "<td align='center'><input type='hidden' value='"+ $('#completion').val()+"'  name=completion[]> " +$('#completion').val()+"</td>"+
                    
                      "<td align='center'><input type='hidden' value='"+ $('#university').val()+"'  name=university[]> " +$('#university').val()+"</td>"+

                      "<td align='center'><a href='#' onClick='deleteProgramRow("+idrow1+"); return false;'>Delete</a></td>" +
                      '</tr>';

        $(table).append(content);
    }

    function deleteProgramRow(x){
        var row = "#"+x;        
        $(row).remove();
    }
       
                       
                    </script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      


 <script>
        
$(document).ready(function(){
            

             $('#input-dob').datepicker({ dateFormat: 'dd-mm-yy',
          changeMonth: true,
          changeYear: true,
           yearRange: '1910:2015',
           maxDate: '0' })

            $( "#c_fromdate" ).datepicker({ dateFormat: 'dd-mm-yy',
          changeMonth: true,
          changeYear: true,
          maxDate: '0' })
        
      
         
            $( "#c_todate" ).datepicker({ dateFormat: 'dd-mm-yy',
          changeMonth: true,
          changeYear: true,maxDate: '0'  })
 })           //$( "#end_date" ).datepicker("show");
</script>

<script>      
$(document).ready(function(){
            
          if($("#yes").val() == 'true'){
               $('#qualify').show()
           $('#regqualification').show()
      
    }

     if($('#yes1').val() == 'true'){
        $('#company').show()
            $('#job').show()
           $('#reglocList').show()
    }

})

      </script>




<script type="text/javascript">
   $(document).ready(function(){

     $('#file1').change(function () {

    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
       
        case 'pdf':
        case 'png':
        case 'jpeg':
       
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';

    }

    
    })


     $('#file2').change(function () {

   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
       
        case 'pdf':
       
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';

    }

    
    })

     $('#file3').change(function () {

   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
       
        case 'pdf':
       
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';

    }

    
    })


     $('#file4').change(function () {

   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
       
        case 'pdf':
       
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';

    }

    
    })

     $('#file5').change(function () {

   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
       
        case 'pdf':
       
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';

    }

    
    })

     $('#file6').change(function () {

   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
       
        case 'pdf':
       
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';

    }

    
    })


    $('INPUT[type="file"]').change(function () {



     var maxFileSize = 2096000  
             var fileUpload = $('INPUT[type="file"]');
     
         if (fileUpload.val() == '') {
             return false;
         } else {
             
             if (fileUpload[0].files[0].size < maxFileSize) {
                 return true;
             } else {
                 alert('File size should be less than 2MB')
                 fileUpload.val('');
                 return false;
             }
         }
    })
    });
</script>
 <?php if(!empty($this->IC_doc[0]['doc_name'])):?>
<script type="text/javascript">
  $('#ic').click(function(){
   
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/deletefile/',
                   // dataType :'json',
                    data:{id:'<?php  echo  $this->IC_doc[0]['id'] ?>',
                          
                         },
                    success:function(response){
                                            $('#ic_doc').hide();

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                
        });
      </script>
    <?php endif;?>
        <?php if(!empty($this->AC_doc[0]['doc_name'])):?>
      <script type="text/javascript">
  $('#ac').click(function(){
   
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/deletefile/',
                   // dataType :'json',
                    data:{id:'<?php  echo  $this->AC_doc[0]['id'] ?>',
                          
                         },
                    success:function(response){
                                            $('#ac_doc').hide();

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                
        });
      </script>
    <?php endif;?>
 <?php if(!empty($this->AT_doc[0]['doc_name'])):?>

      <script type="text/javascript">
  $('#al').click(function(){
   
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/deletefile/',
                   // dataType :'json',
                    data:{id:'<?php  echo  $this->AT_doc[0]['id'] ?>',
                          
                         },
                    success:function(response){
                                            $('#al_doc').hide();

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                
        });
  </script>
<?php endif;?>
  <?php if(!empty($this->CL_doc[0]['doc_name'])):?>

  <script type="text/javascript">
  $('#cl').click(function(){
   
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/deletefile/',
                   // dataType :'json',
                    data:{id:"<?php  echo  $this->CL_doc[0]['id']; ?>",
                          
                         },
                    success:function(response){
                                            $('#cl_doc').hide();

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                
        });

 
  </script>
<?php endif;?>
           <?php if(!empty($this->CV_doc[0]['doc_name'])):?>

  <script type="text/javascript">
    $('#cv').click(function(){
   
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/deletefile/',
                   // dataType :'json',
                    data:{id:'<?php  echo  $this->CV_doc[0]['id'] ?>',
                          
                         },
                    success:function(response){
                                            $('#cv_doc').hide();

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                
        });
    </script>
  <?php endif;?>
                   <?php if(!empty($this->Pre_doc[0]['doc_name'])):?>

<script type="text/javascript">
  $('#pm').click(function(){
   
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/users/deletefile/',
                   // dataType :'json',
                    data:{id:'<?php  echo  $this->Pre_doc[0]['id'] ?>',
                          
                         },
                    success:function(response){
                                            $('#pm_doc').hide();

                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });
                
        });

</script>
<?php endif;?>
<script type="text/javascript">
  function getState(){
  var country_id = $('#country').val();

  $.ajax({
    url: "/default/ajax-utility/get-state",
      type: "post",
      async : false,
      data: {'country_id':country_id},
      dataType: 'json',
      success: function(data){
          console.log(data);
          $('#state').empty();
        $('#state').append('<option value="">-- Please Select --</option>');
            
          $.each(data, function(index) {
            $('#state').append('<option value="'+data[index].idState+'">'+data[index].StateName+'</option>'); 
          });
    },
    error:function(){
            alert("failure");
    },
    beforeSend: function() {
      showLoading('state');
        
    },
    complete: function() {
      hideLoading('state');
    }   
  });
}
</script>
<script type="text/javascript">
$("#c_country").change(function(){


  var country_id = $('#c_country').val();
alert(country_id)
  $.ajax({
    url: "/default/ajax-utility/get-state",
      type: "post",
      async : false,
      data: {'country_id':country_id},
      dataType: 'json',
      success: function(data){
          console.log(data);
          $('#c_state').empty();
        $('#c_state').append('<option value="">-- Please Select --</option>');
            
          $.each(data, function(index) {
            $('#c_state').append('<option value="'+data[index].idState+'">'+data[index].StateName+'</option>'); 
          });
    },
    error:function(){
            alert("failure");
    },
    beforeSend: function() {
      showLoading('state');
        
    },
    complete: function() {
      hideLoading('state');
    }   
  });
});
</script>
<script type="text/javascript">
                        
                        function initCity(on_ready)
                        {
                            console.log('state='+$('#addr-state').val());
                            if ($('#addr-state').val().length) {
                                $('#addr-city').prop('disabled', false);
                                $('#addr-city option[value!=]').remove();

                                $.get('<?php echo $this->baseUrl(); ?>/ajax/get-city/id/' + $('#addr-state').val()+'/list/0', function(data)
                                {
                                    $.each(data, function(key, value)
                                    {
                                        $('#addr-city').append('<option value=' + value.id + '>' + value.name + '</option>');
                                    });

                                    if (on_ready == true)
                                    {
                                        $('#addr-city').val('<?php echo $this->user['city']; ?>');
                                    }

                                }, 'JSON');
                            }
                            else
                            {
                                $('#addr-city').val('');
                                $('#addr-city').prop('disabled', true);
                            }
                        }
                        
                        function initState(on_ready)
                        {
                            console.log('country='+$('#addr-country').val());
                            if ($('#addr-country').val().length)
                            {
                                $('#addr-state').prop('disabled', false);
                                $('#addr-state option[value!=]').remove();
                                
                                $.get('<?php echo $this->baseUrl(); ?>/ajax/get-state/id/' + $('#addr-country').val()+'/list/0', function(data)
                                {
                                    $.each(data, function(key, value)
                                    {
                                        $('#addr-state').append('<option value=' + value.id + '>' + value.name + '</option>');
                                    });
                                    
                                    if (on_ready == true)
                                    {
                                        $('#addr-state').val('<?php echo $this->user['state']; ?>');
                                        initCity(true);
                                    }
                                    else
                                    {
                                        initCity(false);
                                    }
                                    
                                }, 'JSON');
                            }
                            else
                            {
                                $('#addr-state').val('');
                                $('#addr-state').prop('disabled', true);
                                initCity(false);
                            }
                        }

                        function initCorState(on_ready)
                        {
                            console.log('country='+$('#addr-cor-country').val());
                            if ($('#addr-cor-country').val().length)
                            {
                                $('#addr-cor-state').prop('disabled', false);
                                $('#addr-cor-state option[value!=]').remove();
                                
                                $.get('<?php echo $this->baseUrl(); ?>/ajax/get-state/id/' + $('#addr-cor-country').val()+'/list/0', function(data)
                                {
                                    $.each(data, function(key, value)
                                    {
                                        $('#addr-cor-state').append('<option value=' + value.id + '>' + value.name + '</option>');
                                    });
                                    
                                    if (on_ready == true)
                                    {
                                        $('#addr-cor-state').val('<?php echo $this->user['state']; ?>');
                                        initCity(true);
                                    }
                                    else
                                    {
                                        initCity(false);
                                    }
                                    
                                }, 'JSON');
                            }
                            else
                            {
                                $('#addr-cor-state').val('');
                                $('#addr-cor-state').prop('disabled', true);
                                initCity(false);
                            }
                        }

                        function initCState(on_ready)
                        {
                            console.log('country='+$('#addr-c_country').val());
                            if ($('#addr-c_country').val().length)
                            {
                                $('#addr-c_state').prop('disabled', false);
                                $('#addr-c_state option[value!=]').remove();
                                
                                $.get('<?php echo $this->baseUrl(); ?>/ajax/get-state/id/' + $('#addr-c_country').val()+'/list/0', function(data)
                                {
                                    $.each(data, function(key, value)
                                    {
                                        $('#addr-c_state').append('<option value=' + value.id + '>' + value.name + '</option>');
                                    });
                                    
                                    if (on_ready == true)
                                    {
                                        $('#addr-c_state').val('<?php echo $this->user['state']; ?>');
                                        initCity(true);
                                    }
                                    else
                                    {
                                        initCity(false);
                                    }
                                    
                                }, 'JSON');
                            }
                            else
                            {
                                $('#addr-state').val('');
                                $('#addr-state').prop('disabled', true);
                                initCity(false);
                            }
                        }
                        
                        $('#addr-country').change(function(e) {
                            initState(false);
                        })

                        $('#addr-cor-country').change(function(e) {
                            initCorState(false);
                        })

                        $('#addr-c_country').change(function(e) {
                            initCState(false);
                        })

                        $('#addr-state').change(function(e) {
                            initCity(false);
                        })
                        
                        initState(true);
                    </script>
  <script type="text/javascript">

$(document).ready(function(){

  $("#sec_mobile").attr('type','number')
    $("#tel_office").attr('type','number')
    $('#yes1').attr("checked",true);
    $("#no1").click(function() {
  $("#yes1").attr("checked", false); //uncheck all checkboxes

  $(this).attr("checked", true);  //check the clicked one
});
   $('#add1').attr("checked",true);

    $("#add2").click(function() {
  $("#add1").attr("checked", false); //uncheck all checkboxes
  $(this).attr("checked", true);  //check the clicked one
});
});
  </script>

    <script>

   
    //Common Questions Modal
    $('#termsConditionModal').on('show.bs.modal', function (event) {
        var span = $(event.relatedTarget); // Button that triggered the modal
        var question = span.data('question'); // Extract info from data-* attributes        
        var modal = $(this);
        modal.find('#dynamic-question').text(question);

        var id = span.data('answer'); // Extract info from data-* attributes        
        var Answer = $('#answer' + id).html();
        modal.find('#dynamic-answer').html(Answer);
    });    
    var user = $("#username").val();
    if(user != '')
    {
      $("#username").attr("readonly",true);
    }

   
    </script>  
