
<style>
    .red { color: #d7472f; }
    .hover-cursor:hover { cursor: pointer; }
</style>
<div class="uk-grid">
   
    <div class="membership-details">
        <!-- content -->
        <h2><?php echo $this->translate('Account Statement') ?></h2>
</div>
        
        <!-- /content -->
    </div>
    
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="clearfix custom-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabOne" aria-controls="tabOne" role="tab" data-toggle="tab">Proforma Invoice</a></li>
                    <li role="presentation"><a href="#tabTwo" aria-controls="tabTwo" role="tab" data-toggle="tab">Invoice</a></li>
                     <li role="presentation"><a href="#tabThree" aria-controls="tabThree" role="tab" data-toggle="tab">Receipt</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabOne">
                        <div class="table-responsive">


               <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Transcation Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Invoice</th>
             
                
            </tr>
            </thead>
            <tbody>


            <?php if (empty($this->orders)) : ?>
                <tr>
                    <td colspan="7"><?php echo $this->translate('No orders found.') ?></td>
                </tr>
            <?php else: ?>
               
                <?php foreach ($this->orders as $order) { ?>
                    <tr>
                        <td>
                            <?php echo (isset($order['created_date'])) ? date('d-m-Y', strtotime($order['created_date'])) : '-'; ?>
                            
                            
                        </td>
                        <td>
                            <?php echo $order['invoice_no'];?>
                          
                        </td>
                        <td>

                            <?php echo $order['description'];?>
                        </td>
                        <td>

                            <?php echo $order['amount'];?>
                           </td>
                    <td>
                        <a href="<?php echo $this->baseUrl() ?>/user/slipperformainvoice/id/<?php echo $order['fee_type'];?>/performaId/<?php echo $order['id_invoice'];?>">
                        <button type="button" class="btn btn-primary" onclick="redirect('/User/slipInvoice')">Print Invoice</button> 
                        </a>
                     </td>
                    
                       
                       
                    </tr>
              
                    
                
                     </tbody>
                 <?php } ?> 
            <?php endif; ?>
            
        </table>             
            </div>
        </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabTwo">
                        <div class="table-responsive">
                          <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Transcation Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Invoice</th>
               
                
            </tr>
            </thead>
            <tbody>


            <?php if (empty($this->get_invoice)) : ?>
                <tr>
                    <td colspan="7"><?php echo $this->translate('No orders found.') ?></td>
                </tr>
            <?php else: ?>
               
                <?php foreach ($this->get_invoice as $order) { ?>
                    <tr>
                        <td>
                           <?php echo (isset($order['created_date'])) ? date('d-m-Y', strtotime($order['created_date'])) : '-'; ?>
                            
                        </td>
                        <td>
                            <?php echo $order['invoice_no'];?>
                          
                        </td>
                        <td>

                            <?php echo $order['description'];?>
                        </td>
                        <td>

                            <?php echo $order['amount'];?>
                           </td>
                    <td>

                       
                        <a href="<?php echo $this->baseUrl() ?>/user/slipInvoice/id/<?php echo $order['fee_type'];?>/invoiceId/<?php echo $order['id_invoice'];?>">
                        <button type="button" class="btn btn-primary" onclick="redirect('/User/slipInvoice')">Print Invoice</button> 
                        </a>
                     </td>
                    
                       
                       
                    </tr>
              
                    
                
                     </tbody>
                 <?php } ?> 
            <?php endif; ?>
            
        </table>
                        </div>                                                                         
                    </div> 
                     <div role="tabpanel" class="tab-pane fade" id="tabThree">
                        <div class="table-responsive">
                          
                        </div>                                                                         
                    </div>                   
                  </div>
                </div>  




<script type="text/javascript">
    function deleteInvoice(id, orderId) {
        var msg = 'Are you sure you want to remove this invoice?';

        alertify.confirm(msg, function () {

            $.ajax({
                url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax', 'action'=>'api', 'get' => 'deleteinvoice'),'default',true);?>",
                data: 'invoiceId=' + id + '&orderId=' + orderId,
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
//$('#modal-container').css("min-height","450px").html('<div id="loader"><div class="typing-indicator"><span></span><span></span><span></span></div></div>');
                },
                complete: function () {

                }
            }).done(function (data) {

                location.reload();

            });


        });

        return false;
    }
    
    $('.hover-cursor').click(function(e)
    {
        alertify
            .alert("Your payment is being processed and will be updated shortly.<br><br>If the payment status is still pending after 15 minutes, please do not hesitate to contact us.", function() {
                
            });
    });
</script>
