<style type="text/css">
    .enrollexam-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .enrollexam-caret {
        margin-left: -2px;
    }

    .enrollexam-caret li > a {
        padding: 0 15px;
    }
</style>

<?php
$qualification_flag = true;
?>


<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <div></div>
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>

    <div class="uk-width-medium-8-10">
    	<!--
        <?php //pr($this->transaction);
        if($this->matrix['qualification_register']==true && $this->transaction[0]["registration_type"]=="Membership & Qualification" && $this->transaction[0]["qualification_status_id"] == 1604){?>
            <div class="uk-alert uk-alert-notice"><span class="icon icon-attention uk-text-lef"> </span>Your Qualification application has been approved. Please proceed with modules registration.</div>
        <?php } ?>
        <?php /*if(($this->matrix['qualification_register']==false || $this->matrix['qualification_pay']==false) && $this->transaction[0]['membership_status']!=''){?>
            <div class="uk-alert uk-alert-danger"><span class="icon icon-attention uk-text-lef"> </span>Your Qualification application has been freeze. Please activate your membership application.</div>
        <?php } */?>
        <?php if($this->matrix['qualification_register']==false || $this->matrix['qualification_pay']==false && $this->transaction[0]['qualification_status_id'] == 1603){?>
            <div class="uk-alert uk-alert-danger"><span class="icon icon-attention uk-text-lef"> </span>Your Qualification application has been <?php echo $this->transaction[0]['qualification_status']?>.</div>
        <?php } ?>

        -->
        
        <h2>Qualification</h2>
        <?php if($qualification_flag==true && $this->qualification_pay==true){ ?>
            <br />
            <?php if($this->auth->role != "administrator") { ?>
                <?php echo $this->partial('/user/partials/dashboard_qualification.phtml', 'default', array(
                    'userid'       => $this->user_id,
                    'welcome'       => $this->welcome,
                    'pendingorders' => $this->pendingorders,
                    'totalenrolled' => $this->totalenrolled,
                    'lmscurriculumid' => $this->lmscurriculumid,
                    'myApplication'    => $this->myApplication,
                    'qualification_pay'		=> $this->qualification_pay
                )); ?>
            <?php }?>
        <?php } ?>
    </div>
</div>