        <form class="uk-form uk-form-stacked uk-text-left" method="post"  enctype="multipart/form-data">
        <h4 class="form-title">Upload Documents</h4> 
        <?php if($this->doc_status['1']['doc_type'] == 1 && $this->doc_status['1']['status'] == 1668):?>
               <div class="form-group"> $this->doc_status['1']['doctype'


                   <div> <label>Academic Documents <span class="requried">*</span></label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file" type="button">Add new file
                            </button>

                      <input type="file"  name="file1[]" id="file1[]" class="form-control" required />  </div>
                      <div id='upload-table1'> 
                      </div>               
               </div>
             <?php endif;?>
            <?php if($this->doc_status['2']['doc_type'] == 2 && $this->doc_status['2']['status'] == 1668):?>
               <div class="form-group">                    
                    <div><label>Work Experience Documents <span class="requried">*</span></label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file2" type="button">Add new file
                            </button>
                    <input type="file" name="file2[]" id="file2[]" class="form-control" required /> </div>
                    <div id='upload-table2'> 
                      </div>                  
               </div>
                 <?php endif;?>
              <?php if($this->doc_status['3']['doc_type'] == 3 && $this->doc_status['3']['status'] == 1668):?>
               <div class="form-group">                    
                    <label>Previous Membership Documents</label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file3" type="button">Add new file
                            </button>
                    <input type="file" name="file3[]" id="file3[]" class="form-control" />  
                    <div id='upload-table3'> 
                      </div>                
               </div>
                 <?php endif;?>
               <?php if($this->doc_status['4']['doc_type'] == 4 && $this->doc_status['4']['status'] == 1668):?>
               <div class="form-group">                    
                    <label>Nominaton Letter Documents </label> 
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file4" type="button">Add new file
                            </button>
                    <input type="file" name="file4[]" id="file4[]" class="form-control" /> 
                    <div id='upload-table4'> 
                      </div>                   
               </div>
                  <?php endif;?>
               <?php if($this->doc_status['5']['doc_type'] == 5 && $this->doc_status['5']['status'] == 1668):?>
               <div class="form-group">                    
                    <label>Other Documents </label>
                    <button style="float: left;" class="uk-button uk-button-small " id="add-new-file5" type="button">Add new file
                            </button> 
                    <input type="file" name="file5[]" id="file5[]" class="form-control" />     
                    <div id='upload-table5'> 
                    
                    </div>              
               </div>  
                 <?php endif;?>
                <div class="form-group">
                 <div class="checkbox">
                    <label>
                      <input type="checkbox" id="privacy" name="privacy" value="1" required />
                      <span class="check-radio"></span>
                      I understand the terms and agree to provide my information in accordance to the PDPA notice. Click <a href="#">here</a> to view the PDPA.
                    </label>
                  </div>            
                </div> 
                <hr /> 
                <div class="clearfix m-b30">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    <button type="Reset" id='button_reset' name="button_reset" class="btn btn-link">Reset</button>
                   
                </div>
           </div>
           </form><script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("btn1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script>
    //Common Questions Modal
    $('#termsConditionModal').on('show.bs.modal', function (event) {
        var span = $(event.relatedTarget); // Button that triggered the modal
        var question = span.data('question'); // Extract info from data-* attributes        
        var modal = $(this);
        modal.find('#dynamic-question').text(question);

        var id = span.data('answer'); // Extract info from data-* attributes        
        var Answer = $('#answer' + id).html();
        modal.find('#dynamic-answer').html(Answer);
    });    
    </script>  
<script>




//   Academic Upload

   $('#add-new-file').click(function () {
  
        newFileUpload();
    });

  var document_index = 1;

   function newFileUpload() {
        $('#upload-table1').append('<tr><td><input style="float:left;" type="file"  name="file1[' + document_index + ']" class="input-document form-control" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
          document_count++;
            newFileUpload();
        }
    });


    $('#addcpd').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });

// Work Experience Upload



$('#add-new-file2').click(function () {
        newFileUpload1();
    });

  var document_index = 1;

   function newFileUpload1() {
        $('#upload-table2').append('<tr><td><input style="float:left;" type="file" name="file2[' + document_index + ']" class="input-document form-control" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

  $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });

   $('INPUT[type="file"]').change(function () {
   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'pdf':
        case 'gif':
        case 'doc':
        case 'docx':
        case 'xsls':
        case 'xls':
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';
    }
});
    $('#addcpd2').submit(function (e) {
        var document_count = 0;

        $('.input-document').each(function (e) {
          
                      if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });





//Previous MemberShip Document Upload


$('#add-new-file3').click(function () {
        newFileUpload2();
    });

  var document_index = 1;

   function newFileUpload2() {
        $('#upload-table3').append('<tr><td><input style="float:left;" type="file" name="file3[' + document_index + ']" class="input-document form-control" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd3').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });



 //Nomination Upload


$('#add-new-file4').click(function () {
   
        newFileUpload3();
    });

  var document_index = 1;

   function newFileUpload3() {
        $('#upload-table4').append('<tr><td><input style="float:left;" type="file" name="file4[' + document_index + ']" class="input-document form-control"/></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd4').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });




// Other Document Upload


$('#add-new-file5').click(function () {

        newFileUpload4();
    });

  var document_index = 1;

   function newFileUpload4() {
        $('#upload-table5').append('<tr><td><input style="float:left;" type="file" name="file5[' + document_index + ']" class="input-document form-control" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


});


</script>

</body>

</html>


           <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("btn1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script>
    //Common Questions Modal
    $('#termsConditionModal').on('show.bs.modal', function (event) {
        var span = $(event.relatedTarget); // Button that triggered the modal
        var question = span.data('question'); // Extract info from data-* attributes        
        var modal = $(this);
        modal.find('#dynamic-question').text(question);

        var id = span.data('answer'); // Extract info from data-* attributes        
        var Answer = $('#answer' + id).html();
        modal.find('#dynamic-answer').html(Answer);
    });    
    </script>  
<script>
  $('#membershiptype').change(function () {

    var memberType = $('#membershiptype').val();
    if(memberType == 1 || memberType == 3 )
      {
        $("#prof_des").prop("disabled", true);
      }
  });

        $('#membershiptype').change(function () {

    var memberType = $('#membershiptype').val();
      if(memberType == 4 || memberType == 5 )
        {
        
         $("#prof_des").prop("disabled", false);
        }
        });

    $(document).ready(function() {
       $('#contactno').attr('type','number');

  


      $('#email').blur(function(e) {

        
        var emailID = $('#email').val()
              atpos = emailID.indexOf("@");
              dotpos = emailID.lastIndexOf(".");
         
              if (atpos < 1 || ( dotpos - atpos < 2 )) 
              {
                $('#email_data').append("Invalid email-id");
                  $('#email').val('');
                  $('#email').focus();
                  $('#email_data').empty();
                  
                
        }

    });

 $('#membershiptype').change(function () {


            var MemberId = $('#membershiptype').val();
              
                $('#subclassifaication').empty(); 


                    $.ajax({
                    type:'post',
                    //<?php //echo $this->baseUrl()?>/admin/ajax/delete-content
                    url:'<?php echo APP_URL; ?>/ajax/getsubtype',
                    dataType :'json',
                    data:{member_id : MemberId
                         },
                    success:function(response){

                   //alert(response);     


                   $("#subclassifaication").append("<option value=''>--- Please Select--- </otion>");
                   // Add options
                    var len = response.length;

                    if(len == 0)
                    {
                       $("#subclassifaication").append("<option value='0'>Student </option>");
                    }

                  //  alert(len);

                  //  $("#subclassifaication").empty();
                  
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_subtype'];
                        var name = response[i]['member_subtype_name'];

                        
                        $("#subclassifaication").append("<option value='"+id+"'>"+name+"</option>");

                    }
                 //   $("#subclassifaication").prop("disabled", false);

                                               
                                              },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});

  $('#total_fee_amount').attr('readonly',true);


  $('#Experience_type-1').attr('checked','checked');
  $('#lectureshipRadio-1').attr('checked','checked');


 $(':radio').click(function(){
      var radioId = $(this).attr('id');
      //alert(radioId);
      if(radioId == 'Experience_type-0')
      {
       //var RadioVal = $(this).attr('value');  
       $('#industrialExp').hide();
      }
      if(radioId == 'Experience_type-1')
      {
        $('#industrialExp').show();
      }
      if(radioId == 'lectureshipRadio-0')
      {   
        $('#lectureship').hide();
      }
      if(radioId == 'lectureshipRadio-1')
      {
        $('#lectureship').show();
      }

  });

$("#ddlQualification").change(function(){


      var MemberId = $('#membershiptype').val();
      var SubTypeId = $("#subclassifaication").val();
      var qualificationsId = $('#ddlQualification').val();
     $("#workexperience").empty();

      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/ajax/getexperience',
                dataType :'json',
                data:
                    {
                      member_id : MemberId,
                      member_sub_id : SubTypeId,
                      degree_id : qualificationsId
                    },
                success:function(response)
                {

                    var len = response.length;
                    $("#workexperience").empty();
                    $("#workexperience").append("<option value=''>--- Please Select--- </option>");
                    for( var i = 0; i<len; i++)
                    {
                        var id = response[i]['id_exp'];
                        var name = response[i]['exp_name'];
    
                      $("#workexperience").append("<option value='"+id+"'>"+name+"</option>");

                    }
  
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });


   });


$("#username").blur(function(event){
    event.preventDefault();
     var username = $('#username').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getuser',
                dataType :'json',
                data:
                    {
                      username : username,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                                  
                alert('NRIC no already exists');
                $('#username').val('');
                $('#username').focus();
                              
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });

$("#contactno").blur(function(event){
    event.preventDefault();  
     var email = $('#email').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getemail',
                dataType :'json',
                data:
                    {
                      email : email,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                      $('#email_data').empty();     
                    $('#email_data').append("Email-Id already exists");                 
                      
                        $('#email').val('');
                $('#email').focus();
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
   });


 $('#workexperience').change(function(){
  
      var nationality_type = $('#nationality').val();

      if(nationality_type == "MY")
      {
        nationality_type;        
      }
      else
      {
        nationality_type = "OTH";
      }



   

      var memberType = $('#membershiptype').val();

      var degree = $('#ddlQualification').val();
      if(memberType == 1)
      {
        $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType,
                      degreeType : degree
                    },
              dataType: 'json',
              success: function(response)
                                { 

                               
                                  $('#total_fee_amount').val(response[0]['totalamount']+" "+response[0]['Currency']);
                                  $('#id_feestructure').show();
                                  //$("#total_fee_amount").prop('disabled', true);
                                  $('#total_fee_amount').show();

                                   
                                },
              error: function(e){
                                console.log(e);
                                } 

            });
      }
      var memberSubType = $('#subclassifaication').val();
      var degree = $('#ddlQualification').val();

      $.ajax({
              type:'post',
              url: '<?php echo APP_URL; ?>/ajax/getfeestructure',
              data:{
                      nation_type : nationality_type,
                      member_id : memberType,
                      member_subtype : memberSubType,
                      degreeType : degree
                    },
              dataType: 'json',
              success: function(response)
                                { 

                               
                                  $('#total_fee_amount').val(response[0]['totalamount']+" "+response[0]['Currency']);
                                  $('#id_feestructure').show();
                                  //$("#total_fee_amount").prop('disabled', true);
                                  $('#total_fee_amount').show();

                                   
                                },
              error: function(e){
                                console.log(e);
                                } 

            });

   });




    
$(function()
{
   if (!$('#nationality').val().length)
   {
       $('#nationality').val('MY').change();
       $('#username').focus();
   }
   // $('#nationality').attr('value','MY');
   //  $('#nationality').attr('value','MY');
  $(".cap").on('keyup change', function()
    {
      var val = $(this).val();
      $(this).val( val.charAt(0).toUpperCase() + val.slice(1) );
    }); 
});



  
//   Academic Upload

   $('#add-new-file').click(function () {
  
        newFileUpload();
    });

  var document_index = 1;

   function newFileUpload() {
        $('#upload-table1').append('<tr><td><input style="float:left;" type="file"  name="file1[' + document_index + ']" class="input-document form-control" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
          document_count++;
            newFileUpload();
        }
    });


    $('#addcpd').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });

// Work Experience Upload



$('#add-new-file2').click(function () {
        newFileUpload1();
    });

  var document_index = 1;

   function newFileUpload1() {
        $('#upload-table2').append('<tr><td><input style="float:left;" type="file" name="file2[' + document_index + ']" class="input-document form-control" required /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

  $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload();
        }
    });

   $('INPUT[type="file"]').change(function () {
   
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'pdf':
        case 'gif':
        case 'doc':
        case 'docx':
        case 'xsls':
        case 'xls':
            $('#uploadButton').attr('disabled', false);
            break;
        default:
            alert('This is not an allowed file type.');
            this.value = '';
    }
});
    $('#addcpd2').submit(function (e) {
        var document_count = 0;

        $('.input-document').each(function (e) {
          
                      if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });





//Previous MemberShip Document Upload


$('#add-new-file3').click(function () {
        newFileUpload2();
    });

  var document_index = 1;

   function newFileUpload2() {
        $('#upload-table3').append('<tr><td><input style="float:left;" type="file" name="file3[' + document_index + ']" class="input-document form-control" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd3').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });



 //Nomination Upload


$('#add-new-file4').click(function () {
   
        newFileUpload3();
    });

  var document_index = 1;

   function newFileUpload3() {
        $('#upload-table4').append('<tr><td><input style="float:left;" type="file" name="file4[' + document_index + ']" class="input-document form-control"/></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


    $('#addcpd4').submit(function (e) {
        var document_count = 0;


        $('.input-document').each(function (e) {
            if ($(this).val().length) {
                document_count++;
                return false;
            }
        });

        if (!document_count) {
            e.preventDefault();
            //alert('<?php echo $this->translate("Please upload supporting document"); ?>');
            return false;
        }

        var proceed = confirm('Submit this CPD Activity form?');
        if (!proceed) {
            return false;
        }
    });




// Other Document Upload


$('#add-new-file5').click(function () {

        newFileUpload4();
    });

  var document_index = 1;

   function newFileUpload4() {
        $('#upload-table5').append('<tr><td><input style="float:left;" type="file" name="file5[' + document_index + ']" class="input-document form-control" /></td><td align="right"><button class="uk-button uk-button-small uk-button-danger remove-tr" type="button">Remove</button></td></tr>');
        document_index++;
    }

   $(document).on('click', 'button.remove-tr', function (e) {
        $(this).parents('tr:first').remove();

        if (!$('.input-document').length) {
            newFileUpload2();
        }
    });


});

$('#form-register').submit(function(e){
    
    var username = $('#username').val();
      $.ajax({
                type:'post',
                url:'<?php echo APP_URL; ?>/index/getuser',
                dataType :'json',
                data:
                    {
                      username : username,
                     },
                success:function(response)
                {
                  if(response == 1)
                        {    
                                  
                alert('NRIC no already exists');
                e.preventDefault();
                         }                       
                },
                error: function(e)
                {
                    console.log(e);
                }  
              });
})



</script>

</body>

</html>