
<h1><i class="uk-icon-exclamation-circle"></i> Uh Oh!</h1>
  <p class="uk-alert uk-alert-danger"><?php echo $this->content?></p>

  <style type="text/css">

  h1 i { color:#e34f48 }

  </style>

<?php if ( isset($this->redirect) && $this->redirect != '' ) { ?>
<button type="button" class="uk-button" onclick="window.location.href='<?php echo $this->redirect?>'"><?php echo $this->translate('Go Back')?></button>
<?php } ?>
