<!-- content modal -->
<div id="login-modal" class="uk-modal">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h3><?php echo $this->translate('Login or Sign Up')?></h3>
    </div>

    <div id="login-modal-container">
      <p><?php echo $this->translate('You must be logged in or a member to perform this action.')?></p>
      <div class="uk-grid">
        <div class="uk-width-1-2">
        <!-- login -->
          <form class="uk-form" method="post" action="<?php echo $this->baseUrl()?>/index/login/r/<?php echo Cms_Common::encrypt($_SERVER['REQUEST_URI'])?>">

            <div class="uk-form-row">
              <div class="uk-form-icon uk-width-1-1">
                <i class="uk-icon-user"></i>
                <input name="username" id="username" required autofocus type="text" class="uk-width-1-1 uk-form-large" placeholder="Username">
              </div>
            </div>
            <div class="uk-form-row">
              <div class="uk-form-icon uk-width-1-1">
                <i class="uk-icon-lock"></i>
                <input name="password" id="password" required class="uk-width-1-1 uk-form-large" type="password" placeholder="Password">
              </div>
            </div>
            <div class="uk-form-row">
              <button type="submit" name="login" class=" uk-width-1-1 uk-button uk-button-primary uk-button-large"><?php echo $this->translate('Login')?></button>
            </div>

          </form>
        <!-- /login -->
        </div>
        <div class="uk-width-1-2">
        <!-- register -->
          <h3><?php echo $this->translate('Don\'t Have An Account Yet?')?></h3>
          <a href="<?php echo $this->baseUrl()?>/index/register/r/<?php echo Cms_Common::encrypt($_SERVER['REQUEST_URI'])?>" class="uk-button uk-button-success uk-width-1-1">Sign Up</a>
        <!-- /register -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content modal -->

<script type="text/javascript">
  function loginModal()
  {
    var modal = UIkit.modal("#login-modal");

    if ( modal.isActive() ) {
      modal.hide();
    } else {
      modal.show();
    }

    return false;
  }
</script>