<head>

<script type="text/javascript">

dojo.addOnLoad(function(){
	
	});
	
</script> 
</head>
<div style="overflow: hidden;">
<ul class="stepsmenu">
    <li class="first"><a href="<?php echo $this->baseUrl();?>/generalsetup/countrymaster">Country Master</a></li>
    <li class="second"><a href="<?php echo $this->baseUrl();?>/generalsetup/state">State</a></li>
    <li class="third"><a href="<?php echo $this->baseUrl();?>/generalsetup/city">City</a></li>
</ul>
</div>
<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Country"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'countrymaster', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>

        </ul>
    </div>
</div>
<br><br>
 <fieldset>
    <legend><?php echo $this->translate("Country");?></legend>
                 <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/countrymaster/countrymasterlist/id/<?php echo $this->idCountry; ?>" method="post"  name= "myForm">
               <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Country Details");?></th>
                        </tr>
                        <tr>
                        	<td ><?php echo $this->translate("Country Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CountryName;?></td>
                            <td ><?php echo $this->translate("Alias");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjCountrymasterForm->Alias;?>
                            	<?php echo $this->lobjCountrymasterForm->idCountry;?>
                         		<?php echo $this->lobjCountrymasterForm->UpdDate;?>
                           		<?php echo $this->lobjCountrymasterForm->UpdUser;?></td>
                        </tr>
                      	 <tr>
                        	<td ><?php echo $this->translate("Country ISO");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CountryIso;?></td>
                           <td ><?php echo $this->translate("Country ISO3");?></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CountryISO3;?></td>
                        </tr>
                        <tr>
                        	<td ><?php echo $this->translate("Currency Name");?></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CurrencyName;?></td>
                            <td ><?php echo $this->translate("Currency Short Name");?></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CurrencyShortName;?></td>
                        </tr>
                         <tr>
                        	<td ><?php echo $this->translate("Currency Symbol");?></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CurrencySymbol;?></td>
                            <td ><?php echo $this->translate("Active");?></td>
                            <td ><?php echo $this->lobjCountrymasterForm->Active;?></td>
                        </tr>
                        <tr>
                        	<td ><?php echo $this->translate("Default Language");?></td>
                            <td ><?php echo $this->lobjCountrymasterForm->DefaultLanguage;?></td>
                            <td ><?php echo $this->translate("Country Code");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjCountrymasterForm->CountryCode;?></td>
                        <tr>
                        <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjCountrymasterForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'countrymaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
