<!-- <br>
<form action="">
<p>(1) The capital of Egypt is</p>
  <input type="radio" name="gender" value="male"> Alexandria<br>
  <input type="radio" name="gender" value="female"> Nairobi<br>
  <input type="radio" name="gender" value="other"> Mombasa<br>
    <input type="radio" name="gender" value="other"> Cairo
</form>
<br>
<form action="">
<p>(2) The capital of Egypt is</p>
 <input type="radio" name="gender" value="male"> Alexandria<br>
  <input type="radio" name="gender" value="female"> Nairobi<br>
  <input type="radio" name="gender" value="other"> Mombasa<br>
    <input type="radio" name="gender" value="other"> Cairo
</form>
<br>
<form action="">
<p>(3) The capital of Egypt is</p>
 <input type="radio" name="gender" value="male"> Alexandria<br>
  <input type="radio" name="gender" value="female"> Nairobi<br>
  <input type="radio" name="gender" value="other"> Mombasa<br>
    <input type="radio" name="gender" value="other"> Cairo
</form>
  <center><button type="button" class="uk-button" onclick="redirect('/admin/quiz/sumattemptquiz    ')">Finish Attempt</button></center><br>
 -->
<style type="text/css">
.no-border { border: 0; border-bottom: 0 !important; }
.bordered { border: 1px solid #ddd; }
.answered { background-color: #f2fae3; }
.pending { background-color: red; }
.answer-indicator { background-color: #fff1f0; }
.answer-indicator.answered { background-color: #f2fae3; }
</style>

<?php Cms_Hooks::start(); ?>
    <div class="uk-block uk-block-hero uk-contrast">
        <div class="uk-container uk-container-center">
            <div class="uk-panel">
                    <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
            </div>
        </div>
    </div>
<?php Cms_Hooks::end('content.top'); ?>

<h2 class="title">Quiz: <?php echo $this->blockcontent['title']?></h2> <?php echo $this->blockcontent['description']?>

<hr />
<br />

<div class="uk-grid">
    <div class="uk-width-medium-3-10">
    <!-- side -->
    <?php /*
    <div class="uk-panel uk-panel-box uk-panel-alt uk-margin-bottom">
      <div class="uk-panel-content">
                <div id="ol_block">               
                <tr>
                    <td><?php echo $this->translate('Total Question') ?></td>
                    <td width='5px'>:</td>
                    <td><?php echo $this->countquestion ?></td>
                </tr>
                <tr>
                    <td colspan="3">
                       <table cellspacing='5' cellpadding='5'>
                            <?php
                            
                            $bil = 1;
                            $col = 5;
                            //$totalQuestion = count($this->question);
                            //$totalQuestion = 6;
                            $totalQuestion = $this->countquestion;
                            $row = $totalQuestion / $col;
                            
                            while($bil <= $totalQuestion){
                            ?>
                                    <tr>
                                        <?php
                                        for ($c = 1; $c <= $col; $c++) {
                                                                                
                                      //check if question available
                                      if(isset($this->question[$bil-1]['oseq_id'])){
                                        
                                        //evailable ok
                                        $link = "<a href='#quest-".$this->question[$bil-1]['oseq_id']."'><span id='".$this->question[$bil-1]['oseq_id']."'>".$bil."</span></a>";
                                        
                                        //check if already answered
                                            if(isset($this->question[$bil-1]['oseq_student_answer']) && $this->question[$bil-1]['oseq_student_answer']!=''){                                      
                                          $bgcolor="background-color:#A9F5BC;";
                                        }else{
                                          $bgcolor='background-color:red';
                                        }
                                        
                                      }else{                                        
                                        //hide bil no
                                        if($bil>$totalQuestion){
                                          $displayno='';
                                        }else{
                                          $displayno=$bil;
                                        }
                                        $bgcolor="background-color:";
                                        $link = "<span id=''>".$displayno."</span>";
                                      }                                   
                                          
                                            ?>

                                            <td width="100px" align="center" style="<?php echo $bgcolor; ?>"><?php echo $link; ?></td>

                                            <?php
                                            $bil++;
                                        }//end for c
                                        ?>
                                    </tr>
                            <?php
                              
                            }//end for q
                            ?>
                        </table>
                    </td>
                </tr>
            </table>

                <table width='100%' cellpadding='5' cellspacing='5' border=1>
                  <tr>
                    <td colspan=2>Legend:-</td>
                  </tr>
                  <tr>
                    <td width='5px' style="background-color:red"></td>
                    <td width='70px'><?php echo $this->translate('Not answered') ?></td>
                  </tr>
                  <tr>
                    <td width='5px' style="background-color:#A9F5BC"></td>
                    <td width='70px'><?php echo $this->translate('Answered') ?></td>
                  </tr>
                </table><br>
                        <!-- <div class="form-opt" align="center">
                      <input type="submit" value="<?php echo $this->translate('Submit') ?>" name="submit" class="uk-button btn-submit"/>                      
                  </div> -->
               </div>
                    </ul>
                  </div>
                </div>
    <!-- /side -->
    </div>
    */ ?>
        <div class="uk-panel uk-panel-box">
            <?php
            $total_questions = $this->countquestion;
            $counter         = 1;
            ?>
            <h3 class="uk-panel-title">Total Question: <?php echo $total_questions; ?></h3>
            <table class="uk-table">
                <?php do { ?>
                    <tr>
                        <?php for($i=1; $i<=5; $i++): ?>
                            <?php
                            $indicator_class = '';
                            $border_class    = 'no-border';
                            if ($counter <= $total_questions):
                                $indicator_class = 'answer-indicator';
                                $border_class = 'bordered';
                            endif;
                            ?>
                            <td width="20%" class="uk-text-center <?php echo $indicator_class; ?> <?php echo $border_class; ?>" data-question="<?php echo $counter; ?>"><?php echo ($counter <= $total_questions ? $counter : ''); ?></td>
                        <?php $counter++; endfor; ?>
                    </tr>
                <?php } while ($counter <= $total_questions); ?>
            </table>
            <h3 class="uk-panel-title">Legend</h3>
            <table class="uk-table">
                <tr>
                    <td width="20%" class="bordered answer-indicator">&nbsp;</td>
                    <td class="no-border">Pending</td>
                </tr>
                    <td class="bordered answer-indiciator answered">&nbsp;</td>
                    <td class="no-border">Answered</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="uk-width-medium-7-10">
        <!-- content -->
        <div class="uk-placeholder uk-text-left">
            <form enctype="multipart/form-data" method="post" action="<?php echo $this->baseUrl() ?>/admin/quiz/resultsubmit/bid/<?php echo $this->bid ?>/atid/<?php echo $this->atid ?>" name="form-question" id="form-question">
                
                <?php foreach ($this->quiz as $key => $data): ?>
                    <div class="uk-panel answer-panel">
                        <div class="uk-panel uk-panel-header">
                            <h1 class="uk-panel-title"><b>Question <?php echo $key+1 ?></b></h1>
                        </div>

                        <?php echo $data['question'] ?>
                        <!--         <input type="radio" name="q-<?php echo $data['id']?>-<?php echo $key+1 ?>" value="<?php echo $data['answer1'] ?>">  <?php echo $data['answer1'] ?><br> -->
                        <input type="radio" class="answer answer-a" data-question="<?php echo $data['id']; ?>" name="<?php echo $data['id']?>" value="1">  A) <?php echo $data['answer1'] ?><br>
                        <input type="radio" class="answer answer-b" data-question="<?php echo $data['id']; ?>" name="<?php echo $data['id']?>" value="2">  B) <?php echo $data['answer2'] ?><br>
                        <input type="radio" class="answer answer-c" data-question="<?php echo $data['id']; ?>" name="<?php echo $data['id']?>" value="3">  C) <?php echo $data['answer3'] ?><br>
                        <input type="radio" class="answer answer-d" data-question="<?php echo $data['id']; ?>" name="<?php echo $data['id']?>" value="4">  D) <?php echo $data['answer4'] ?><br>
                    </div>
                    <br />
                <?php endforeach; ?>

                <center>-- END OF QUESTION --</center>
                <br />
                <div class="form-opt" align="center">
                    <input type="submit" value="<?php echo $this->translate('Submit') ?>" name="submit" class="uk-button btn-submit uk-button-primary"/>                      
                </div>
            </form> 
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('input[type=radio].answer').change(function(e) {
        var question_id = $(this).data('question');
        $('td.answer-indicator[data-question='+question_id+']').addClass('answered');
    });

    $('#form-question').submit(function(e) {
        if ($('input[type=radio].answer:checked').length != $('.answer-panel').length) {
            e.preventDefault();
            alert('<?php echo $this->translate("Please answer all the questions"); ?>');
            return false;
        }

        <?php /*
        var proceed = false;

        alertify.confirm('<?php echo $this->translate("Are you sure to submit this quiz?"); ?>', function(c) {
            // proceed to submit
        }, function(d) {
            e.preventDefault();
            return false;
        });
        */ ?>
    });
});
</script>