<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/plugins/ckeditor/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/components/accordion.min.js');
?>

<div class="dashhead">
    <div class="title-wrap">
        <div class="uk-button-dropdown dash-breadcrumbs" data-uk-dropdown>
            <div class="subtitle"><?php echo $this->translate('Quiz')?> <i class="uk-icon-caret-down"></i></div>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="<?php echo $this->baseUrl()?>/admin/"><?php echo $this->translate('Dashboard')?></a></li>
                    <li><a href="<?php echo $this->baseUrl()?>/admin/quiz/view/bid/<?php echo $this->bid?>/course/<?php echo $this->cid?>"><?php echo $this->translate('Quiz')?></a></li>
                </ul>
            </div>
        </div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
    </div>
</div>

<form class="uk-form uk-form-horizontal" method="post" id="course-form" enctype="multipart/form-data">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">

    <!--     <h3 class="uk-accordion-title"> Information</h3> -->
       <!--  <div class="uk-accordion-content"> -->
            <div class="uk-form-row">
                <label class="uk-form-label" for="title"><?php echo $this->translate('Mark')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->mark->setAttrib('class','uk-form-large uk-width-large')  ?>
                    <p class="desc">Enter mark for this question</p>
                </div>
            </div>
           			
<!--         </div> -->

        <p></p>
        <div class="uk-form-row">
                <label class="uk-form-label" for="answer1"><?php echo $this->translate('Question')?></label>
                <div class="uk-form-controls">
                     <?php echo $this->form->question ?>
                </div>
            </div>

         <div class="uk-form-row">
                <label class="uk-form-label" for="answer1"><?php echo $this->translate('Answer 1')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->answer1->setAttrib('class','uk-form-large uk-width-large')  ?>
                </div>
               <?php //pr($this->qbank)?>

                <div class="uk-form-controls"><p></p>
                    <span class="uk-form-label" for="correct_answer1"><?php echo $this->translate('Correct Answer?')?></span> 
                    <input type="radio" name="correct_answer" value="1"  
                      <?php if($this->qbank['correct_answer']==1){ ?> 
                      <?php echo 'checked'?>
                      <?php } ?> >

                </div>
            
            </div>
               <div class="uk-form-row">
                <label class="uk-form-label" for="answer2"><?php echo $this->translate('Answer 2')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->answer2->setAttrib('class','uk-form-large uk-width-large')  ?>
                </div>

                <div class="uk-form-controls"><p></p>
                    <span class="uk-form-label" for="correct_answer2"><?php echo $this->translate('Correct Answer?')?></span> 
                    <input type="radio" name="correct_answer" value="2"  
                      <?php if($this->qbank['correct_answer']==2){ ?> 
                      <?php echo 'checked'?>
                      <?php } ?> >
                </div>

            </div>
        <div class="uk-form-row">
                <label class="uk-form-label" for="answer3"><?php echo $this->translate('Answer 3')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->answer3->setAttrib('class','uk-form-large uk-width-large')  ?>
                </div>

                <div class="uk-form-controls"><p></p>
                    <span class="uk-form-label" for="correct_answer3"><?php echo $this->translate('Correct Answer?')?></span> 
                    <input type="radio" name="correct_answer" value="3"  
                      <?php if($this->qbank['correct_answer']==3){ ?> 
                      <?php echo 'checked'?>
                      <?php } ?> >
                </div>

            </div>
         <div class="uk-form-row">
                <label class="uk-form-label" for="answer4"><?php echo $this->translate('Answer 4')?></label>
                <div class="uk-form-controls">
                    <?php echo $this->form->answer4->setAttrib('class','uk-form-large uk-width-large')  ?>
                </div>

                <div class="uk-form-controls"><p></p>
                    <span class="uk-form-label" for="correct_answer4"><?php echo $this->translate('Correct Answer?')?></span> 
                    <input type="radio" name="correct_answer" value="4"  
                      <?php if($this->qbank['correct_answer']==4){ ?> 
                      <?php echo 'checked'?> 
                      <?php } ?> >
                </div>

            </div>
            
        <div class="uk-form-row">
            <button class="uk-button uk-button-primary" type="submit"><?php echo $this->translate('Save')?></button>
            <a class="uk-button" href="<?php echo $this->baseUrl()?>/admin/quiz/view/bid/<?php echo $this->bid?>/course/<?php echo $this->cid?>">Back</a>
        </div>
    </div>
</form>
<style type="text/css">
    #accessperiod_wrap { margin-top:5px; }
</style>
<script type="text/javascript">

    $('#course-form').formValidation({
        framework: 'uikit',
        fields: {
            title: {
                validators: {
                    notEmpty: {
                        message: 'Title is required'
                    }
                }
            },
             visibility: {
                validators: {
                    notEmpty: {
                        message: 'Visibility is required'
                    }
                }
            },
          
        }
    });


    $(function()
    {
         $('.togglecheck').toggleCheckbox([
                    '<i class="uk-icon-circle-o toggleicon uncheck"></i>',
                    '<i class="uk-icon-check-circle-o toggleicon checked"></i>'
                ]);

        CKEDITOR.replace( 'question',
            {
                removePlugins : 'resize,placementtest',
                toolbar : 'Basic',
                height: 300
            });

    })

   

</script>
<style type="text/css">
    label.check { cursor:pointer }
    .toggleicon { font-size:1.5em; color:#aaa }
    .toggleicon.checked { color:forestgreen }
</style>