

<div class="dashhead">
    <div class="title-wrap">

        <div class="uk-float-right uk-margin-top">

        </div>
        <div class="subtitle"><?php echo $this->translate('Grading List')?></div>
        <div class="title"><h1><?php echo $this->translate($this->title)?></h1></div>
         <div class="subtitle"><h2><?php echo $this->translate($this->nametitle)?></h2></div>

    </div>

</div>

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>
<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Name')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="1"><?php echo $this->translate('Email')?></th>
             <th data-tablesaw-sortable-col data-tablesaw-priority="3"><?php echo $this->translate('Status')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Date Attempt')?></th>
              <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Date Completed')?></th>
             <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Mark (/')?><?php echo $this->gettmark?>)</th>
              <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Grade Point (/')?><?php echo $this->gradepoint?>)</th>
               <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Percent (100 %)')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->results) > 0 ) { ?>
    <?php foreach ( $this->results as $row ) { ?>
        <tr>
            <td><?php echo $this->escape($row['firstname']) ?></a>
            </td>
            <td><?php echo $this->escape($row['email'])?></td>
            <td>
                <?php if ( $this->escape($row['status'] == 0 )) { ?>
                                <?php echo $this->translate('Incompleted');?>
                                <?php } elseif ($this->escape($row['status'] == 1 )) {?>
                                <?php echo $this->translate('Completed');?>
                               <?php } ?>
            </td>
            <td><?php echo Cms_Date::date($row['date_attempt']) ?></td>
              <td><?php echo Cms_Date::date($row['date_completed']) ?></td>
             <td>
                <?php if ( $this->escape($row['total_mark'] == NULL )) { ?>
                                <?php echo $this->translate('0');?>
                                <?php } else {?>
                               <?php echo $row['total_mark']?>
                               <?php } ?>
                           </td>
             <td>
                <?php if ( $this->escape($row['total_grade'] == NULL )) { ?>
                                <?php echo $this->translate('-');?>
                                <?php } else {?>
                               <?php echo $row['total_grade']?>
                               <?php } ?>
                           </td> 
              <td>
                <?php if ( $this->escape($row['percent'] == NULL )) { ?>
                                <?php echo $this->translate('-');?>
                                <?php } else {?>
                               <?php echo $row['percent']?>
                               <?php } ?></td>   
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No data found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>