<?php Cms_Hooks::start(); ?>
    <div class="uk-block uk-block-hero uk-contrast">
        <div class="uk-container uk-container-center">
            <div class="uk-panel">
                    <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
            </div>
        </div>
    </div>
<?php Cms_Hooks::end('content.top'); ?>

<h2 class="title">Result and Review: <?php echo $this->blockcontent['title']?></h2>
<hr />
<br />
 
                <table class="uk-table uk-table-bordered uk-table-hover">
                    
                    <tr>
                        <th width="150em"><?php echo $this->translate('Date Attempt'); ?></th>
                      <!--    <td>Wednesday, 1 June 2016, 10:30 AM</td> -->
                       <td><?php echo Cms_Date::date($this->attempt['date_attempt']) ?></td>
                    </tr>
                    <tr>
                        <th><?php echo $this->translate('Status'); ?></th>
                        <td>
                            <?php if($this->attempt['status']==0){?>
                                Incompleted
                            <?php } else if($this->attempt['status']==1){?>
                                Completed
                            <?php } ?>
                        </td>
                    </tr>
                    <tr>
                        <th><?php echo $this->translate('Completed on'); ?></th>
                        <td><?php echo Cms_Date::date($this->attempt['date_completed']) ?></td>
                    </tr>
                   <!--  <tr>
                        <th><?php echo $this->translate('Time Taken'); ?></th>
                        <td>2 mins 9 secs</td>
                    </tr> -->
                    <th><?php echo $this->translate('Time Taken'); ?></th>
                        <td><?php
                            //$rem = strtotime($due_date) - time();
                            $datestart = date($this->attempt['date_attempt']);
                            $dateend = date($this->attempt['date_completed']);
                            //$rem = strtotime('2016-06-14 15:00:00') - strtotime('2016-06-14 14:00:00');
                            $rem = strtotime($dateend) - strtotime($datestart);
                            $day = floor($rem / 86400);
                            $hr  = floor(($rem % 86400) / 3600);
                            $min = floor(($rem % 3600) / 60);
                            $sec = ($rem % 60);
                            if($day) echo "$day Days ";
                            if($hr) echo "$hr Hours ";
                            if($min) echo "$min Minutes ";
                            if($sec) echo "$sec Seconds ";
                            //echo "Remaining"; ?>
                        </td>
                    <tr>
                        <th><?php echo $this->translate('Marks'); ?></th>
                        <td><?php echo $this->attempt['total_mark'] ?>.00 / <?php echo $this->gettmark ?>.00</td>
                    </tr>
                    <tr>
                    <?php //echo ($this->gettotcor)?> <?php //echo ($this->gettotques)?>
                       <!-- <?php pr($this->quiz)?> -->
                        <th><?php echo $this->translate('Grade'); ?></th>
                    <!--    <?php echo $this->gettotcor ?>-<?php echo $this->gettotques ?> -->
                        <td><?php echo round($this->point) ?>.00 out of <?php echo $this->getpointsum ?>.00 (<?php echo round($this->percent) ?> %)</td>
                    </tr>
                 </table>

        <div class="uk-placeholder uk-text-left">
       <?php
      foreach ($this->quiz as $key => $data): 
        ?>
      <?php //pr($data)?>

        <div class="uk-panel uk-panel-header">
          <h1 class="uk-panel-title"><b>Question <?php echo $key+1 ?></b></h1>
        </div>

       <?php echo $data['question'] ?>
       <br>
            <div class="uk-width-medium-1-4">
                    <ul class="uk-list">
                        <li>A)  <?php echo $data['answer1'] ?></li>
                        <li>B)  <?php echo $data['answer2'] ?></li>
                        <li>C)  <?php echo $data['answer3'] ?></li>
                        <li>D)  <?php echo $data['answer4'] ?></li>
                    </ul>
            </div>

            <div>Mark :  <?php echo $data['amark'] ?>.00 out of <?php echo $this->gettmark ?>.00</div>

            <?php if($data['correct_answer'] == $data['answer']) { ?>
            <div class="uk-alert uk-alert-success" data-uk-alert>
                <a href="#" class="uk-alert-close uk-close"></a>
                <p>Your answer "<?php echo $data['answer'] ?>" is correct. The answer is <?php echo $data['correct_answer'] ?></p>
            </div>
            <?php } else { ?>

            <div class="uk-alert uk-alert-danger" data-uk-alert>
                <a href="#" class="uk-alert-close uk-close"></a>
                <p>Your answer "<?php echo $data['answer'] ?>" is incorrect. The correct answer is <?php echo $data['correct_answer'] ?></p>
            </div>
            <?php } ?>

      <br>
      <?php endforeach; ?>
       <center><button type="button" class="uk-button" onclick="redirect('/admin/quiz/sumpreattemptquiz/bid/<?php echo $this->bid?>')">Finish Review</button></center><br>
        </div>