 <table class="uk-table uk-table-hover uk-table-striped">
       <!--          <caption>Table caption</caption> -->

                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Status</th>
                        <th>Marks</th>
                    </tr>
                </thead>
          
                <tbody>
                    
                    <tr>
                        <td>Q1</td>
                        <td>Answer Save</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Q2</td>
                        <td>Answer Save</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Q3</td>
                        <td>Answer Save</td>
                        <td></td>
                    </tr> 
                    
                </tbody>
            </table>
              <center><button type="button" class="uk-button" onclick="redirect('/admin/quiz/attemptquiz    ')">Return to Attempt</button></center><br>

                  <center><button type="button" class="uk-button" onclick="redirect('/admin/quiz/resultquiz    ')">Submit All and Finish</button></center><br>