<?php Cms_Hooks::start(); ?>
    <div class="uk-block uk-block-hero uk-contrast">
        <div class="uk-container uk-container-center">
            <div class="uk-panel">
                    <h1><i class="uk-icon-book"></i> <?php echo $this->course['title']?></h1>
            </div>
        </div>
    </div>
<?php Cms_Hooks::end('content.top'); ?>

<h2 class="title">Attempt History: <?php echo $this->blockcontent['title']?></h2>
<hr />
<br />
 <?php //pr($this->allattempt) ?>

 <table class="uk-table uk-table-hover uk-table-striped">
       <!--          <caption>Table caption</caption> -->

                <thead>
                    <tr>
                        <th>Attempt</th>
                        <th>Status</th>
                        <th>Marks / <?php echo $this->gettmark ?>.00</th>
                         <th>Grade / <?php echo $this->getpointsum ?>.00</th>
                          <th>Percent / (100 %)</th>
<!--                         <th>Grade /10.00</th> -->
                        <th>Review</th>
                    </tr>
                </thead>
           <?php foreach ($this->allattempt as $key => $att){ ?>
                <tbody>
                                    <?php //pr($att)?>
                    <tr>
                        <td><?php echo $key + 1?></td>
                        <!-- <td>Finished<br>Wednesday, 1 June 2016, 10:30 AM</td> -->
                        <td>
                            <?php if($att['status']==0){?>
                                Incompleted
                            <?php } else if($att['status']==1){?>
                                Completed
                            <?php } ?>
                        </td>
<!--                         <td>6.66</td> -->
                        <td>
                            <?php if($att['total_mark']==NULL){?>
                                0
                            <?php } else {?>
                                <?php echo $att['total_mark'] ?>
                            <?php } ?>
                        </td>
                        <td>
                            <?php if($att['total_grade']==NULL){?>
                                0
                            <?php } else {?>
                                <?php echo $att['total_grade'] ?>
                            <?php } ?>
                        </td>
                        <td>
                            <?php if($att['percent']==NULL){?>
                                0
                            <?php } else {?>
                                <?php echo $att['percent'] ?>
                            <?php } ?>
                        </td>
                        <td><a href="/admin/quiz/resultquiz/atid/<?php echo $att['id']?>">Review</a></td>
                    </tr> 
                </tbody>
          <?php } ?>
            </table>

            <!--   <center><button type="button" class="uk-button" onclick="redirect('/admin/quiz/attemptquiz')">Re-attempt Quiz</button></center><br> -->
            <center><button type="button" class="uk-button" onclick="redirect('/courses/block/id/<?php echo $this->bid?>/course/<?php echo $this->cid?>')">Back to quiz</button></center>