<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
<?php $courseid =  $this->getcoursesdata['id'] ?>
        <ul class="uk-subnav uk-subnav-pill uk-subnav-large uk-margin-large-bottom">
        <li class="uk-active"><a href="/courses/<?php echo $this->course['code_safe'] ?>/learn"><i class="icon uk-icon-file-text-o"></i> Course Overview</a></li>
        <li><a href="/announcements/view/course/<?php echo $courseid?>"><i class="icon uk-icon-bell-o"></i> Announcements</a></li>
        <li><a href="/forum/forum/course/<?php echo $courseid?>"><i class="icon uk-icon-commenting-o"></i> Discussion</a></li>
        <li><a href="/calendar/view/course/<?php echo $courseid?>"><i class="icon uk-icon-calendar-o"></i> Calendar</a></li>
        <li><a href="/wiki/view/course/<?php echo $courseid?>"><i class="icon uk-icon-wikipedia-w"></i>Wiki</a></li>
        <li><a href="/bookmark/index/course/<?php echo $courseid?>"><i class="icon uk-icon-bookmark"></i>Bookmark</a></li>
            <li><a href="/chat/index/course/<?php echo $courseid ?>"><i class="icon uk-icon-comments-o"></i>Chat</a></li>
    </ul>
            <h1><?php echo $this->getcoursesdata['title'] ?></h1>
               <h2>Editing quiz : Quiz 1</h2>
                <div class="uk-width-1-4">
                <p>Questions: <?php echo $this->totalcount ?> | This quiz is open</p>
            </div>
<?php //pr($this->blockcontent) ?>
<?php
//$coursesDb = new App_Model_Courses();
//$course = $coursesDb->getCourse(array("a.id = ?" => $this->blockcontent['course_id']));
//pr($course['code'])
?>
 

<form method="post" class="uk-form search">
    <input type="text" placeholder="<?php echo $this->translate('Search')?>" name="search" class="text" value="<?php echo isset($this->formdata['search']) ?  $this->formdata['search'] : '' ?>"/> <button class="uk-button uk-button-link" type="submit" name="search-btn"><i class="uk-icon-search"></i></button>
    <!-- <div class="more"><a href="#"><?php echo $this->translate('Advanced')?></a></div> -->
</form>
<div align="right">
      <a href="<?php echo $this->baseUrl()?>/admin/quiz/new/bid/<?php echo $this->bid?>/cid/<?php echo $this->getcoursesdata['id']?>" class="uk-button uk-button" data-uk-modal="{target:'#block-modal'}"><i class="uk-icon-cloud-upload uk-margin-small-right"></i> <?php echo $this->translate('Upload Questions')?> </a>
 <a href="<?php echo $this->baseUrl()?>/admin/quiz/new/bid/<?php echo $this->bid?>/cid/<?php echo $this->getcoursesdata['id']?>" class="uk-button uk-button-success"><i class="uk-icon-plus uk-margin-small-right"></i> <?php echo $this->translate('New Question')?> </a>
</div>

            <!-- block modal upload -->
                    <div id="block-modal" class="uk-modal">
                        <div class="uk-modal-dialog uk-modal-dialog-large">
                            <button type="button" class="uk-modal-close uk-close "></button>

                            <form method="post" class="uk-form uk-form-stacked" action ="<?php echo $this->baseUrl()?>/admin/quiz/upload-q/bid/<?php echo $this->bid?>/cid/<?php echo $courseid?>" name="form-block-content" id="form-block-content" enctype="multipart/form-data">
                            <div class="uk-modal-header">
                                <h3><?php echo $this->translate('Upload Questions')?></h3>
                            </div>

                            <div class="uk-modal-content">

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="block-name"><?php echo $this->translate('Template')?></label>
                                    <!-- <div class="uk-form-controls">
                                        <input type="text" name="block-name" required id="block-name" class="uk-width-1-1 uk-form-large">
                                    </div> -->
                                     <tr id="mcq" style="display:none">
<!--                                         <th><?php echo $this->translate('Template'); ?></th> -->
                                        <td>
                                            <a href="http://ibfim-docs.local/template/quizmcq.xlsx"><span class="icon"><i class="icon-download"></i></span>  <?php echo $this->translate('Download'); ?></a>
                                        </td>
                                    </tr>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="block-desc"><?php echo $this->translate('Upload File')?></label>
                                   <div class="uk-form-controls">
                                        <input name="files" type="file" required class="fileupload all">
                                        <p class="desc"><?php echo $this->translate('Supported Types: xlsx')?></p>
                                         <input type="hidden" value="quiz" name="type"/>
                                    </div>
                                </div>


                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button type="button" class="uk-button uk-modal-close"><?php echo $this->translate('Cancel')?></button>
                                <button type="submit" name="addblock" class="uk-button uk-button-primary"><?php echo $this->translate('Upload')?></button>
                            </div>
                            </form>
                        </div>
                    </div>
            <!-- /block modal upload -->
<table class="uk-table uk-table-stacked uk-table-admin">
    <thead>
        <tr>
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Question')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Created Date')?></th>
            <th data-tablesaw-sortable-col data-tablesaw-priority="2"><?php echo $this->translate('Mark')?></th>
<!--             <th></th> -->
            <th data-tablesaw-sortable-col data-tablesaw-priority="persist"><?php echo $this->translate('Options')?></th>
        </tr>
    </thead>
    <tbody>
    <?php if ( count($this->results) > 0 ) { ?>
    <?php foreach ( $this->results as $row ) { ?>
        <tr>
            <td>
                <?php echo $row['visibility'] == 0 ? '<span class="uk-float-right uk-text-muted uk-icon-eye-slash" data-uk-tooltip title="Hidden"></span>':''?>

                <a <?php echo $row['visibility'] == 0 ? 'class="uk-text-muted"':''?> href="<?php echo $this->baseUrl()?>/admin/quiz/editqbank/bid/<?php echo $this->bid?>/id/<?php echo $row['id']?>"><?php echo $row['question'] ?></a>
            </td>
            <td><?php echo Cms_Date::date($row['created_date']) ?></td>
            <td><?php echo $row['mark'] ?></td>
<!--              <td></td> -->
            <td>
                <div class="uk-button-group">
                    <a class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/quiz/editqbank/bid/<?php echo $this->bid?>/id/<?php echo $row['id']?>" data-uk-tooltip title="Edit"><i class="uk-icon-cog"></i></a>
                    <a target="_blank" class="uk-button uk-button-small" href="<?php echo $this->baseUrl()?>/admin/quiz/attemptquiz/bid/<?php echo $this->bid?>/cid/<?php echo $row['course_id']?>" data-uk-tooltip title="Preview"><i class="uk-icon-search-plus"></i></a>
          <a class="uk-button uk-button-small" onclick="return sure(this,'<?php echo $this->translate('Are you sure you want to delete this item?')?>')" href="<?php echo $this->baseUrl()?>/admin/quiz/delete/id/<?php echo $row['id']?>/cid/<?php echo $this->getcoursesdata['id']?>/bid/<?php echo $this->bid?>" data-uk-tooltip title="Delete"><i class="uk-icon-trash-o"></i></a>
                </div>
            </td>
           
        </tr>
       <?php } ?>
    <?php } else { ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No question found.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->results,'Elastic','pagination.phtml');
?>
                    
</table>