
<script type="text/javascript">
var prepend_val = false;
$(function() {
	/*$( "#tabs" ).tabs({
		beforeActivate: function( event, ui ) {
			
			if(ui.newPanel.selector == '#tabs-1' && !prepend_val){				
				$(ui.newPanel).prepend('<input type="button" value="Reload Account Statement" onClick="window.location.href=\'<?php echo $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'index', 'id'=>$this->appl_id),'default',true);  ?>\'" />');
				prepend_val = true;
			}
		},
		beforeLoad: function(event, ui){
			$(ui.panel).html("Loading...");
		},
		load: function( event, ui ) {
			
			if(ui.panel.selector == '#ui-tabs-3'){
				$(".view").click(function() {
					$.fancybox({
							'title'			: 'Advance Payment - Detail',
							'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
							'type'			: 'ajax'
						});

					return false;
				});
			}
		}
	}); */

});

</script>

<style type="text/css">
#ui-datepicker-div { display: none; }
th.right { text-align:right !important; }
.table td.desc { word-break: break-all; word-break: break-word; }
</style>
<div class="toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Finance')?></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>
<div id="tabs">
	<!--<ul>
    	<li><a href="#tabs-1">Account Statement</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'invoice', 'id'=>$this->appl_id,'type'=>$this->type),'default',true);?>">Invoice</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'payment', 'id'=>$this->appl_id,'type'=>$this->type),'default',true);?>">Payment</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'advance-payment', 'action'=>'applicant-detail', 'id'=>$this->appl_id,'type'=>$this->type),'default',true);?>">Advance Payment</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'receivable', 'id'=>$this->appl_id,'type'=>$this->type),'default',true);?>">Receivable Adjustment</a></li>
  	/ul>-->
  	<div id="tabs-1">
  	<?php 
  	$availableCur = count($this->availableCurrency);
  		if($availableCur == 1){
  			$colspan = "";
  		}else{
  			$colspan = "colspan = $availableCur";
  		}
  	?>
    	<table class="table bordered" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th width="20px"  rowspan="2">&nbsp;</th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Date")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Transaction Type")?></th>
				<th rowspan="2"><?php echo $this->translate("Reference No")?></th>				
				<th rowspan="2"><?php echo $this->translate("Description")?></th>
				<th <?php //echo $colspan;?>><?php echo $this->translate("Debit")?></th>
				<th><?php echo $this->translate("Credit")?></th>
				<th><?php echo $this->translate("Balance")?></th>
				<th></th>
			</tr>
			<tr>
			<?php 
			/*hide temp for($a=1;$a<=1;$a++){
					foreach($this->availableCurrency as $key=>$cur){*/?><!--
						<th width="80px"><?php /*echo $cur*/?></th>
				--><?php
/*					}
			}*/?>
            <th width="80px">MYR</th>
			<th width="80px">MYR</th>
			<th width="80px">MYR</th>
			<th></th>
			</tr>
			
			<?php 
			$i=0;
			
			if($this->account){
				
			$balance = 0;
			$totalDebit = 0;
			foreach ($this->account as $entry):
				
				$curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();

				$arrayDebit = array();
					if($entry['exchange_rate']){
						if($entry['exchange_rate']== 'x'){
							$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);//usd
//							$dataCur = $curRateDB->getCurrentExchangeRate(2);//usd
						}else{
							$dataCur = $curRateDB->getData($entry['exchange_rate']);//usd
						}
					}else{
						$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);
//						$dataCur = $curRateDB->getCurrentExchangeRate(2);//usd
					}

					if($entry['cur_id'] == 2){
						$amountDebit = number_format($entry['debit'] * $dataCur['cr_exchange_rate'],2);
						$amountCredit = number_format($entry['credit'] * $dataCur['cr_exchange_rate'],2);
						
						//hide temp $arrayDebit['USD'] = $entry['debit'];
						$arrayDebit['MYR'] = $amountDebit;
						$totalDebit = $amountDebit;
					
					}else{
						$amountDebit = number_format($entry['debit'] / $dataCur['cr_exchange_rate'],2);
						$arrayDebit['MYR'] = $entry['debit'];
						// hide temp $arrayDebit['USD'] = $amountDebit;
						$totalDebit = $entry['debit'];
					}
					
			/*	hide on 2015-06-18
			 * if($entry['cur_id'] == 2){
					$dataCur = $curRateDB->getData($entry['exchange_rate']);
					$amountDebit = number_format($entry['debit'] * $dataCur['cr_exchange_rate'],2);
					$arrayDebit['USD'] = $entry['debit'];
					$arrayDebit['MYR'] = $amountDebit;
					$totalDebit = $amountDebit;
					
					
				}
				
				if($entry['cur_id'] == 1){
					$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);
//					$curRateDB->getCurrentExchangeRate(2);
					$amountDebit = number_format($entry['debit'] / $dataCur['cr_exchange_rate'],2);
					$arrayDebit['MYR'] = $entry['debit'];
					$arrayDebit['USD'] = $amountDebit;
					$totalDebit = $entry['debit'];
					
				}*/
			
			
			if( $entry['txn_type']=="Invoice" ){
				
				$balance = $balance + $totalDebit;
				
			}elseif( $entry['txn_type']=="Proforma" ){
				
				$balance = $balance + $totalDebit;
				
			}else
			if( $entry['txn_type']=="Payment" || $entry['txn_type']=="Sponsor Payment"){
				
				if($entry['cur_id'] == 2){
					$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
				}
				
				if($entry['cur_id'] == 1){
					$amountCredit = $entry['credit'];
				}
				
				$balance = $balance - $amountCredit;
				
			}else
			if( $entry['txn_type']=="Advance Payment"  || $entry['txn_type']=="Refund Adjustment"  ){
				
				if($entry['cur_id'] == 2){
					$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
				}
				
				if($entry['cur_id'] == 1){
					$amountCredit = $entry['credit'];
				}
				
				$balance = $balance - $amountCredit;
			}else
			if( $entry['txn_type']=="Credit Note" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Discount" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Debit Note" ){
				$balance = $balance + $totalDebit;
			}else
			if( $entry['txn_type']=="Refund" ){
				$balance = $balance + $totalDebit;
			}else
			if( $entry['txn_type']=="Discount Adjustment" ){
				
				$balance = $balance + $totalDebit;
				
			}else
			if( $entry['txn_type']=="Payment Adjustment" ){
				
				$balance = $balance + $totalDebit;
				
			}else if ($entry['txn_type'] == "Sponsor Payment Adjustment"){
				$balance = $balance + $totalDebit;
			}
//			 echo "<br>".$balance ."+";
			
			
			?>
			<tr>
				<td align="center"><?php echo $i+1;?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
				<td><?php echo $entry['txn_type']; ?></td>
				<td><?php echo $entry['invoice_no']; ?></td>				
				<td>
				<?php 
				
				$desc = '';
				
				if($entry['migrate_code']!=''){
					$desc = $entry['migrate_desc'];
				}else{
					$arrayRental = array(63,64,65,70);
					if($entry['txn_type']=="Invoice" &&  in_array($entry['fc_seq'],$arrayRental) ){
						$desc = $entry['migrate_desc'];
					}else{
						
						$desc = '';
						if($entry['txn_type']!="Payment"){
							$desc .= ($entry['subject']) ? $entry['subject'].' - ' : ' ';
						} else if ($entry['description'] == "" && $entry['migrate_desc'] != "") {
							$desc = $entry['migrate_desc'];
						}
							$desc .= $entry['description'];
						
					}
				}//end else 
				
				echo $desc;
				?> 
				</td>
				<?php 
				//debit
				$color = '#000';
				if($entry['txn_type'] == 'Invoice' || $entry['txn_type'] == 'Proforma' || $entry['txn_type'] == 'Refund' || $entry['txn_type'] == 'Discount Adjustment' || $entry['txn_type'] == 'Payment Adjustment' || $entry['txn_type'] == 'Sponsor Payment Adjustment' || $entry['txn_type'] == 'Currency Adjustment'){
					if($this->availableCurrency){
						foreach($this->availableCurrency as $key=>$cur){
							
							foreach($arrayDebit as $keyD=>$dbt){
								
								if($key == $entry['cur_id']){
									$color = 'green';
								}else{
									$color = '#000';
								}
								
								if($cur == $keyD){
									echo '<td align="right"><font color="'.$color.'">'.$dbt.'</font></td>';
								}
								
							}
							
						}
					}
				}else{
					//echo '<td align="right">0.00</td>';
					echo '<td align="right">0.00</td>';
				}
				
				?>
			
						<td align="right"><?php echo !isset($this->amountCurr[$entry['invoice_no']]['MYR']['credit']) ? '0.00' : number_format($this->amountCurr[$entry['invoice_no']]['MYR']['credit'],2)?></td>
			
						<td align="right"><?php echo !isset($this->amountCurr[$entry['invoice_no']]['MYR']['balance']) ? '0.00' : $this->amountCurr[$entry['invoice_no']]['MYR']['balance']?></td>
			<td align="center">
			
			<?php 
			if($entry['txn_type']=="Invoice"){
				$urlPrint = $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'print-invoice', 'id'=>$entry['id']),'default',true);
				echo '<a href="'.$urlPrint.'" target="_blank">Print</a>';
			}elseif($entry['txn_type']=="Payment"){
				$urlPrint = $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'print-receipt', 'id'=>$entry['id']),'default',true);
				echo '<a href="'.$urlPrint.'" target="_blank">Print</a>';
			}
			/*elseif($entry['txn_type']=="Credit Note"){
				$urlPrint = $this->url(array('module'=>'studentfinance','controller'=>'index', 'action'=>'print-credit-note', 'id'=>$entry['id']),'default',true);
				echo '<a href="'.$urlPrint.'" target="_blank">Print</a>';
			}*/
			?>
			
			</td>	
			</tr>
			<?php 
			$i++;
			endforeach; 
			?>
			<?php 
			}else{
				
				echo '<tr><td colspan="9">'.$this->translate("There is no record available").'</td></tr>';
			}
			?>
		</table>
  	</div>
  	
  	
</div>

