<script>
$(document).ready(function() {
    $('#myiframe').attr('src','<?php echo $this->src_link; ?>');
});

$( ".src_link" ).click(function() {
	var url = $(this).attr('href');
    $('#myiframe').attr('src',url);
});

</script>
<table width='100%' border='0'>
	<tr>
		<td align='right'><a href='#' onclick='javascript:window.history.back();'>Back</a></td>
	</tr>
	
	<?php if($this->course==1){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM1/M1T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM1/M1T2/story.swf" target="myiframe" class='src_link'>Topik 2</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM1/M1T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM1/M1T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM1/M1T5/story.swf" target="myiframe" class='src_link'>Topik 5</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<?php } ?>
	
	<?php if($this->course==2){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM2/AQIF_M2_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM2/AQIF_M2_T2/story.swf" target="myiframe" class='src_link'>Topik 2</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<?php } ?>
	
	<?php if($this->course==3){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM3/AQIF_M3_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM3/AQIF_M3_T2/story.swf" target="myiframe" class='src_link'>Topik 2</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM3/AQIF_M3_T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<?php } ?>
	
	<?php if($this->course==4){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM4/AQIF_M4_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM4/AQIF_M4_T2/story.swf" target="myiframe" class='src_link'>Topik 2</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM4/AQIF_M4_T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM4/AQIF_M4_T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<?php } ?>
	
	<?php if($this->course==5){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM5/AQIF_M5_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM5/AQIF_M5_T2/story.swf" target="myiframe" class='src_link'>Topik 2</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM5/AQIF_M5_T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM5/AQIF_M5_T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
				<tr>
					<td><a href="/aqif/AQIFM5/AQIF_M5_T5/story.swf" target="myiframe" class='src_link'>Topik 5</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<?php } ?>
		
	
	<?php if($this->course==19){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>	
					<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T2/story.swf" target="myiframe"  class='src_link'>Topik 2</a></td>
				</tr>				
				<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T5/story.swf" target="myiframe" class='src_link'>Topik 5</a></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T6/story.swf" target="myiframe" class='src_link'>Topik 6</a></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFTM4/IQIFM4_T7/story.swf" target="myiframe" class='src_link'>Topik 7</a></td>
				</tr>
			</table>
			
		</td>
	</tr>	
	<?php } ?>
	
	
	<?php if($this->course==26){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFCM_M1/IQIFCM_M1_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>				
				<!--<tr>
					<td><a href="/iqif/IQIFCM_M1/IQIFCM_M1_T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFCM_M1/IQIFCM_M1_T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
			-->
			</table>
			
		</td>
	</tr>	
	<?php } ?>
	
	<?php if($this->course==27){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFCM_M2/IQIFCM_M2_T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
			</table>
			
		</td>
	</tr>	
	<?php } ?>
		
	<?php if($this->course==28){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFCM_M3/IQIFCM_M3_T2/story.swf" target="myiframe" class='src_link'>Topik 2</a></td>
				</tr>
			</table>
			
		</td>
	</tr>	
	<?php } ?>
	
	
	<?php if($this->course==29){?>
	<tr>
		<td align='left'>
		
			<table>
				<tr>
					<td><h4>Topic List :-</h4></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFCM_M4/IQIFCM_M4_T1/story.swf" target="myiframe"  class='src_link'>Topik 1</a></td>
				</tr>	
					<tr>
					<td><a href="/iqif/IQIFCM_M4/IQIFCM_M4_T2/story.swf" target="myiframe"  class='src_link'>Topik 2</a></td>
				</tr>				
				<tr>
					<td><a href="/iqif/IQIFCM_M4/IQIFCM_M4_T3/story.swf" target="myiframe" class='src_link'>Topik 3</a></td>
				</tr>
				<tr>
					<td><a href="/iqif/IQIFCM_M4/IQIFCM_M4_T4/story.swf" target="myiframe" class='src_link'>Topik 4</a></td>
				</tr>
			</table>
			
		</td>
	</tr>	
	<?php } ?>
	
	<tr>
		<td align='center'><iframe name="myiframe" src="" WIDTH=1024 HEIGHT=800></iframe></td>
	</tr>
</table>
