<head>

<script type="text/javascript">
dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){
	});
	
</script> 
</head>
<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Course Type"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'coursetype', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
 <!--<fieldset>-->
    <!--<legend><?php //echo $this->translate->_("Course").' '.$this->translate->_("Type");?></legend>-->
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/coursetype/coursetypelist/id/<?php echo $this->IdCourseType; ?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                       	<tr>
							<th colspan = "4"><?php echo $this->translate->_("Course").' '.$this->translate->_("Type Details");?></th>
						</tr>
                        <tr>
                        	<td><?php echo $this->translate("Course Type");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjCoursetypeform->CourseType;?></td>
                            <?php echo $this->lobjCoursetypeform->IdCourseType;?>
                            <?php echo $this->lobjCoursetypeform->UpdDate;?>
                            <?php echo $this->lobjCoursetypeform->UpdUser;?></td>
                        </tr>
                      	<tr>
							<td><?php echo $this->defaultlanguage;?><span class="reqMark"></span></td>
							<td><?php echo $this->lobjCoursetypeform->Bahasaindonesia;?></td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Credit Hours Mandatory");?></td>
							<td><?php echo $this->lobjCoursetypeform->MandatoryCreditHrs;?></td>
						</tr>
						<!--<tr>
							<td><?php //echo $this->translate("Amount Mandatory");?></td>
							<td><?php //echo $this->lobjCoursetypeform->MandatoryAmount;?></td>
						</tr>
						<tr>
				            <td><?php //echo $this->translate("Course Exam");?></td>
				            <td><?php //echo $this->lobjCoursetypeform->CourseExam;?></td>
			            </tr>-->
                        <tr>
							<td><?php echo $this->translate("Professional Project Paper");?></td>
							<td><?php echo $this->lobjCoursetypeform->Audit;?></td>
			           </tr>
			            <tr>
							<td><?php echo $this->translate("Project Paper/Thesis/Dissertation");?></td>
							<td><?php echo $this->lobjCoursetypeform->Project;?></td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Class Timetable");?></td>
							<td><?php echo $this->lobjCoursetypeform->ClassTimetable;?></td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Exam Timetable");?></td>
							<td><?php echo $this->lobjCoursetypeform->ExamTimeTable;?></td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Articleship");?></td>
							<td><?php echo $this->lobjCoursetypeform->Practical;?></td>
						</tr>
						<!--<tr>
							<td><?php //echo $this->translate("Pass/Fail Grade");?></td>
							<td><?php //echo $this->lobjCoursetypeform->PassFailGrade;?></td>
						</tr>-->
						<tr>
							<td><?php echo $this->translate("Active");?></td>
							<td><?php echo $this->lobjCoursetypeform->Active;?></td>
						</tr>	
						<tr>
                            <td align = "center" colspan="4"><?php echo $this->lobjCoursetypeform->Save;?>
                           <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'coursetype', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

<!--</fieldset>-->
