<script type="text/javascript">
    $(function(){
        $('#date').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,			
            //maxDate: '0'
        });
        
        $("#starttime, #endtime").timePicker({
            startTime: "06:00", // Using string. Can take string or Date object.
            endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
            show24Hours: true,
            separator: ':',
            step: 15
        });

        var oldTime = $.timePicker("#starttime").getTime();

        // Keep the duration between the two inputs.
        $("#starttime").change(function(){
            if ($("#endtime").val()){ // Only update when second input has a value.
                // Calculate duration.
                var duration = ($.timePicker("#endtime").getTime() - oldTime);
                var time = $.timePicker("#starttime").getTime();
                // Calculate and update the time in the second input.
                $.timePicker("#endtime").setTime(new Date(new Date(time.getTime() + duration)));
                oldTime = time;
            }
        });
        // Validate.
        $("#endtime").change(function() {
            if($.timePicker("#starttime").getTime() > $.timePicker(this).getTime()) {
                $(this).addClass("error");
            }
            else {
                $(this).removeClass("error");
            }
        });
    });
</script>
<form method="post" id="scheduleform" name="scheduleform" action="<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'attendance', 'action'=>'save-edit-schedule'),'default',true);?>">
    <table width="100%">
        <tr>
            <td><?php echo $this->translate('Date'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->date; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Start Time'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->starttime; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('End Time'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->endtime; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Venue'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->venue; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->lecturer; ?></td>
        </tr>
        <tr>
            <td>
                <input type="hidden" id="groupid" name="groupid" value="<?php echo $this->groupid; ?>">
                <input type="hidden" id="scdate" name="scdate" value="<?php echo $this->date; ?>">
            </td>
            <td><button type="submit" id="save" name="save"><?php echo $this->translate('Submit'); ?></button></td>
        </tr>
    </table>
</form>