
<form class="uk-form" id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Programme Category</h4>
                    <div class="filter-block">
                    <div class="clearfix">
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Programme Route</label>
                                  <?php echo $this->form->program_route->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Programme Level</label>
                                    <?php echo $this->form->program_level->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Name</label>
                                  <?php echo $this->form->name->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Category Code</label>
                                    <?php echo $this->form->code->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Start Date</label>
                                  <?php echo $this->form->start_date->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label> End Date</label>
                                    <?php echo $this->form->end_date->setAttrib('class','form-control')  ?>                 
                               </div>                                
                            </div>                            
                        </div>
                        
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Programme Mode</label>
                                  <?php echo $this->form->mode_of_program ?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Description</label>
                                     <textarea name="description" id="" cols="30" rows="5" class="form-control"></textarea> 
                                                    
                               </div>                                
                            </div>                            
                        </div>
                       <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                   <div class="clearfix">
                                       <label>Specific Modules</label>
                                   </div>                            
                                    <label class="radio-inline">
                                      <input type="radio" name="module_type" id="inlineRadio1" value="1"><span class="check-radio"></span> Yes
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="module_type" id="inlineRadio2" value="option2"><span class="check-radio"></span> No
                                    </label>                                
                                </div>                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                   <div class="clearfix">
                                       <label>Active</label>
                                   </div>                            
                                    <label class="radio-inline">
                                      <input type="radio" name="active" id="inlineRadio3" value="1"><span class="check-radio"></span> Yes
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="active" id="inlineRadio4" value="0"><span class="check-radio"></span> No
                                    </label>                                
                                </div>                                
                            </div>                            
                        </div> 
                     </div> 
                    <hr class="dark-diver">                                                  
                <div class="button-group">
                    <input type="submit" class="btn btn-primary" value='Submit'>
               <button type="button" class="btn btn-primary">Cancel</button>
                    <input type="button" class="btn btn-primary"  label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Programmecategory', 'action'=>'index'),'default',true);?>';" />
                </div>                    
                                                                                                                                        
                    </div>                                                  
                </div>

    </form>
  </div>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
<script type="text/javascript">
    
    $('#name').blur(function () {

            var name = $('#name').val();

            var level = $('#program_level').val();
             var route = $('#program_route').val();
             // alert(name)
                    $.ajax({
                    type:'post',
                    url:'<?php echo APP_URL;?>/admin/programmecategory/validiate-program',
                    dataType :'json',
                    data:{program_category: name,program_level: level,program_route: route
                         },
                    success:function(response){
                      console.log(response)
                      
                    if(response == 0)
                    {
                      
                    }else{
                      alert('Programme already exists')
                      $('#name').val('');
                      $('#name').val('<?php echo $this->program['name']?>');
                    }
                },
                    error: function(e){
                                            console.log(e);
                                      }  
                    });


    
});
</script>


<script type="text/javascript" src="/var/www/html/ciifp/public/js/plugins/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

</script>

   <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#start_date" ).datepicker();
           //$( "#start_date" ).datepicker("show");
         });
         $(function() {
            $( "#end_date" ).datepicker();
            //$( "#end_date" ).datepicker("show");
         });
      </script>
