<script type="text/javascript">
    
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'erp-user-sync', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Log'); ?></legend>
    <table class="table" width="100%">
        <tr>
            <th width="5%"><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('File Name'); ?></th>
            <th><?php echo $this->translate('Process'); ?></th>
            <th><?php echo $this->translate('Message'); ?></th>
            <th><?php echo $this->translate('Date & Time'); ?></th>
        </tr>
        <?php
        if ($this->log){
        $i = 0;
        foreach ($this->log as $log){
        $i++;
        ?>
        <tr>
            <td width="5%"><?php echo $i; ?></td>
            <td><?php echo $log['erp_log_filename']; ?></td>
            <td><?php echo $log['erp_log_process']; ?></td>
            <td><?php echo $log['erp_log_message']; ?></td>
            <td><?php echo date('d-m-Y H:i:s', strtotime($log['erp_log_date'])); ?></td>
        </tr>
        <?php
        }
        }
        ?>
    </table>
</fieldset>