<script>
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnGetCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("ec_state",data); 					
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
} 
function fnGetStateCityList(StCity){ 
	if(StCity != "")
		{ var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+StCity,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("ec_city",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 	

function checkOthers(name)
{
	var val = dijit.byId(name).value;
	
	if (val == '99')
	{
		$("#"+name+"_Others_wrap").show();
	}
	else
	{
		$("#"+name+"_Others_wrap").hide();
	}
}

function validate(){	
	
	var flag=true;
	
	if(dijit.byId("ec_code").value==''){
		 dijit.byId("ec_code").focus();
	     dijit.byId("ec_code").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_name").value==''){
		 dijit.byId("ec_name").focus();
	     dijit.byId("ec_name").set( "state", "Error" );
	     flag==false;
	}

	/*if(dijit.byId("ec_short_name").value==''){
		 dijit.byId("ec_short_name").focus();
	     dijit.byId("ec_short_name").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_start_date").value==''){
		 dijit.byId("ec_start_date").focus();
	     dijit.byId("ec_start_date").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_end_date").value==''){
		 dijit.byId("ec_end_date").focus();
	     dijit.byId("ec_end_date").set( "state", "Error" );
	     flag==false;
	}*/

	if(dijit.byId("ec_address1").value==''){
		 dijit.byId("ec_address1").focus();
	     dijit.byId("ec_address1").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_country").value==''){
		 dijit.byId("ec_country").focus();
	     dijit.byId("ec_country").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_state").value==''){
		 dijit.byId("ec_state").focus();
	     dijit.byId("ec_state").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_city").value==''){
		 dijit.byId("ec_city").focus();
	     dijit.byId("ec_city").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_zipcode").value==''){
		 dijit.byId("ec_zipcode").focus();
	     dijit.byId("ec_zipcode").set( "state", "Error" );
	     flag==false;
	}
	
	if(dijit.byId("ec_email").value==''){
		 dijit.byId("ec_email").focus();
	     dijit.byId("ec_email").set( "state", "Error" );
	     flag==false;
	}

	if(dijit.byId("ec_phone").value==''){
		 dijit.byId("ec_phone").focus();
	     dijit.byId("ec_phone").set( "state", "Error" );
	     flag==false;
	}


	if(flag==true){		
		$('#myform').submit();
	}else{
		alert('<?php echo $this->translate("Please fill in all required field(s)");?>');
	}
}

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	
	<div class="toolbar-button">
		<ul>	
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br></br>

<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
<script type="dojo/method" event="onSubmit" >
	if (this.validate()) {
	  return true;
	} else {
	  return false;
	}
</script>

<table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th colspan = "4"><?php echo $this->translate("Exam Center Details")?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate('Exam Center Code')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_code; ?></td>
		<td><?php echo $this->translate('Exam Center Name')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_name; ?></td>
	</tr>
	<tr>
		<!--<td><?php echo $this->translate('Exam Short Name')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_short_name; ?></td>-->
		<td><?php echo $this->translate($this->defaultlanguage)?></td>
		<td><?php echo $this->form->ec_default_language; ?></td>
		<td><?php echo $this->translate('Timezone')?></td>
		<td><?php echo $this->form->ec_timezone ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Start Date')?></td>
		<td><?php echo $this->form->ec_start_date; ?></td>
		<td><?php echo $this->translate('End Date')?></td>
		<td><?php echo $this->form->ec_end_date; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Capacity')?></td>
		<td><?php echo $this->form->ec_capacity; ?></td>
		<td><?php echo $this->translate('Active')?></td>
		<td><?php echo $this->form->ec_active; ?></td>		
	</tr>
	<tr>
		<th colspan = "4"><?php echo $this->translate("Address")?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate('Address Type')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->AddressType; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Address 1')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_address1; ?></td>
		<td><?php echo $this->translate('Address 2')?></td>
		<td><?php echo $this->form->ec_address2; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Country')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_country; ?></td>
		<td><?php echo $this->translate('State')?><!--<span class="reqMark">*</span>--></td>
		<td>
			<?php echo $this->form->ec_state; ?>
			<div class="others-wrap" style="display:none" id="ec_state_Others_wrap">
			<?php echo $this->form->State_Others;?>
			</div>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('City')?><!--<span class="reqMark">*</span>--></td>
		<td>
			<?php echo $this->form->ec_city; ?>
			<div class="others-wrap" style="display:none" id="ec_city_Others_wrap">
			<?php echo $this->form->City_Others;?>
			</div>
		</td>
		<td><?php echo $this->translate('Zip Code')?><!--<span class="reqMark">*</span>--></td>
		<td><?php echo $this->form->ec_zipcode; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Phone')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_phone; ?></td>
		<td><?php echo $this->translate('Email')?><!--<span class="reqMark">*</span>--></td>
		<td><?php echo $this->form->ec_email; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Fax')?></td>
		<td><?php echo $this->form->ec_fax; ?></td>
		<td></td>
		<td></td>
	</tr>
        <tr>
		<th colspan = "4"><?php echo $this->translate("Coordinator Information")?></th>
	</tr>
        <tr>
		<td><?php echo $this->translate('Name')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_coordinatorname; ?></td>
		<td><?php echo $this->translate('Email')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_coordinatoremail; ?></td>
	</tr>
        <tr>
		<td><?php echo $this->translate('Phone')?><span class="reqMark">*</span></td>
		<td><?php echo $this->form->ec_coordinatorphone; ?></td>
		<td><?php echo $this->translate('Mobile')?></td>
		<td><?php echo $this->form->ec_coordinatormobile; ?></td>
	</tr>
	<tr>
		<td colspan="4" align="center">
			<?php echo $this->form->save ?>
		</td>
	</tr>
</table>
</form>