<script>
$(function() {
    $( "#tabs" ).tabs();

    var ec_id = '<?php echo $this->ec_id ?>';
   
    url2="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'exam-center-address'),'default',true);?>/id/"+ec_id;
	 $( "#tab2" ).load( url2 );

	 url3="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'view-history'),'default',true);?>/id/"+ec_id;
	 $( "#tab3" ).load( url3 );

	
});

function saveData(){

	var flag=true;

	if(dijit.byId("ec_name").value==''){
	    dijit.byId("ec_name").attr('required','true');
		dijit.byId("ec_name").focus();
		flag = false;
	}

	if(dijit.byId("ec_code").value==''){
	    dijit.byId("ec_code").attr('required','true');
		dijit.byId("ec_code").focus();
		flag = false;
	}

	if(dijit.byId("ec_short_name").value==''){
	    dijit.byId("ec_short_name").attr('required','true');
		dijit.byId("ec_short_name").focus();
		flag = false;
	}

	/*if(dijit.byId("ec_start_date").value==''){
	    dijit.byId("ec_start_date").attr('required','true');
		dijit.byId("ec_start_date").focus();
		flag = false;
	}

	if(dijit.byId("ec_end_date").value==''){
	    dijit.byId("ec_end_date").attr('required','true');
		dijit.byId("ec_end_date").focus();
		flag = false;
	}*/

	if(flag==true){
		$('#myform').submit();
	}
}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br></br>

<div id="tabs">
  <ul>
    <li><a href="#tab1"><?php echo $this->translate('Exam Center Details')?></a></li>
    <li><a href="#tab2"><?php echo $this->translate('Exam Center Address')?></a></li>  
    <li><a href="#tab3"><?php echo $this->translate('Historical Records')?></a></li>       
  </ul>
  
	<div id="tab1">

		
		<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
		<script type="dojo/method" event="onSubmit" >
			if (this.validate()) {
			  return true;
			} else {
			  return false;
			}
			</script>

		<?php echo $this->form->ec_id ?>
	
		<table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th colspan = "4"><?php echo $this->translate("Exam Center Details")?></th>
			</tr>
			<tr>
				<td><?php echo $this->translate('Exam Center Code')?><span class="reqMark">*</span></td>
				<td><?php echo $this->form->ec_code; ?></td>
				<td><?php echo $this->translate('Exam Center Name')?><span class="reqMark">*</span></td>
				<td><?php echo $this->form->ec_name; ?></td>
			</tr>
			<tr>
				
				<td><?php echo $this->translate($this->defaultlanguage)?></td>
				<td><?php echo $this->form->ec_default_language; ?></td>
				<td><?php echo $this->translate('Timezone')?></td>
				<td><?php echo $this->form->ec_timezone ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Start Date')?></td>
				<td><?php echo $this->form->ec_start_date; ?></td>
				<td><?php echo $this->translate('End Date')?></td>
				<td><?php echo $this->form->ec_end_date; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Capacity')?></td>
				<td><?php echo $this->form->ec_capacity; ?></td>
				<td><?php echo $this->translate('Active')?></td>
				<td><?php echo $this->form->ec_active; ?></td>	
				
			</tr>
				<tr>
					<th colspan = "4"><?php echo $this->translate("Coordinator Information")?></th>
				</tr>
				<tr>
					<td><?php echo $this->translate('Name')?></td>
					<td><?php echo $this->form->ec_coordinatorname; ?></td>
					<td><?php echo $this->translate('Email')?></td>
					<td><?php echo $this->form->ec_coordinatoremail; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Phone')?><span class="reqMark">*</span></td>
					<td><?php echo $this->form->ec_coordinatorphone; ?></td>
					<td><?php echo $this->translate('Mobile')?></td>
					<td><?php echo $this->form->ec_coordinatormobile; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Fax')?></td>
					<td><?php echo $this->form->ec_coordinatorfax; ?></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<?php echo $this->form->save ?>
					</td>
				</tr>
			</table>			
		</form>
		
	</div>
	
   <div id="tab2"></div>
  
   <div id="tab3"></div> 
   
   
  
</div>
