<script>
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnGetCountryStateList(idCountry){ 
		if(idCountry != "")
		{ 
			//get city by country
			var city_data = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcitybycountry/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("ec_city",data); 					
					}
			   }
			dojo.xhrGet(city_data); 
		} 
} 
function addExamCenter(){
	window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'add-data'),'default',true);?>";
}
function clearSearch(){
	dijit.byId('ec_code').setValue("");
	dijit.byId('ec_name').setValue("");
	dijit.byId('ec_country').setValue("");
	dijit.byId('ec_state').setValue("");
}
</script>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university','action'=>'index'),'default',true);?>"><?php echo $this->translate("University"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Department"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Unit"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'index','idbrc'=>1),'default',true);?>"><?php echo $this->translate("CP"); ?></a></div></li>	
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'index'),'default',true);?>"><?php echo $this->translate("Exam Center"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>
<br></br>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center', 'action'=>'add-data'),'default',true);?>';" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center', 'action'=>'assign-exam-center'),'default',true);?>';" >
					<span class='generate'></span>
					<?php echo $this->translate("Assign Exam Center");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br></br>
<fieldset>
<legend><?php echo $this->translate('Search')?></legend>
<form name='searchform' method='post' action=''>
    <dl class="zend_form">
    <dt><?php echo $this->translate('Exam Center Code')?></dt>
    <dd><?php echo $this->form->ec_code; ?></dd>
    <dt><?php echo $this->translate('Exam Center Name')?></dt>
    <dd><?php echo $this->form->ec_name; ?></dd>
    <dt><?php echo $this->translate('Country')?></dt>
    <dd><?php echo $this->form->ec_country; ?></dd>
    <dt><?php echo $this->translate('City')?></dt>
    <dd><?php echo $this->form->ec_city; ?></dd>
    <dt><?php echo $this->translate('Active')?></dt>
    <dd><?php echo $this->form->ec_active; ?></dd>
    <dd><?php echo $this->form->search; ?><?php echo $this->form->clear; ?></dd>
    </dl>
</form>
</fieldset>
<br></br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate('Exam Center Code')?></th>
		<th><?php echo $this->translate('Exam Center Name')?></th>
		<th><?php echo $this->translate($this->defaultlanguage)?></th>
		<th><?php echo $this->translate("Country");?></th> 	
		<th><?php echo $this->translate("City");?></th> 	
		<!--<th><?php echo $this->translate("Action");?></th> 	
	--></tr>
	<?php if(count($this->examcenter_list)>0){
			foreach($this->examcenter_list as $ec){
	?>
		<tr>
			<td><?php echo $ec['ec_code'];?></td>
			<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'edit-data','id'=>$ec['ec_id']),'default',true);?>"><?php echo $ec['ec_name'];?></a></td>
			<td><?php echo $ec['ec_default_language'];?></td>
			<td><?php echo $ec['CountryName'];?></td>
			<td><?php echo $ec['CityName'];?></td>
			<!--<td><a href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'delete-data','id'=>$ec['ec_id']),'default',true);?>'><?php echo $this->translate("Delete");?></a></td>
		--></tr>
	<?php } } ?>
</table>
