<?php
	$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/fullcalendar/lib/moment.min.js'); 
    $this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/fullcalendar/fullcalendar.min.js'); 
	$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/fullcalendar/fullcalendar.min.css');
	$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/fullcalendar/fullcalendar.print.css', 'print');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/scroll/jquery.scroll.min.js', 'text/javascript');
?>
<div class="toolbar">
	<h2><?php echo $this->title ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<div class="grid">
	<div class="col-2-3">
		<div id="calendar"></div>
	</div>
	<div class="col-1-3">
		<div class="opt">
			<span class="icon icon-info-circled tooltip"></span><span class="tooltiptext">You may import/sync this calendar by downloading or subscribing to the calendar (if you are on mobile)</span>
			<a href="webcal://<?php echo APP_URL ?>/portal/calendar/subscribe" class="btn flat"><span class="icon icon-export"></span> <?php echo $this->translate('Subscribe to Calendar')?></a>
			
			<a href="http://<?php echo APP_URL ?>/portal/calendar/subscribe" class="btn flat"><span class="icon icon-download"></span> <?php echo $this->translate('Download Calendar')?></a>
			
		</div>
		<table class="maintable">
			<tr>
				<th><?php echo $this->translate('Event')?></th>
				<th colspan="3"><?php echo $this->translate('Date')?></th>
			</tr>
			<tr>
			<td colspan="3" style="padding:1px;">
			<div id="events-list" style=" height:500px; overflow:auto ">
			<table width="100%">
			<?php foreach ( $this->events as $event ) { ?>
			<tr>
				<td><?php echo $event['ActivityName']?></td>
				<td width="15%" align="center"><?php echo format_date_to_view($event['StartDate'])?></td>
				<td width="15" align="center">-</td>
				<td width="15%" align="center"><?php echo format_date_to_view($event['EndDate'])?></td>
			</tr>
			<?php } ?>
			</table>
			</div>
			</td>
			</tr>
		</table>
	</div>
</div>

<script>

	$(document).ready(function() {
		
		$("#events-list").niceScroll({cursorcolor:"#ccc"});

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek'
			},
			defaultDate: '<?php echo date('Y-m-d')?>',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			events: {
            url: '<?php echo $this->baseUrl()?>/portal/calendar/getevents',
				type: 'POST',
				error: function(a) {
					alert('There was an error while fetching events!');
				}
			}
		});
		
	});

</script>
<style type="text/css">
.icon-info-circled { color:#ccc; font-size:14px; float:left; margin-top:7px; }
</style>