<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	/*dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');*/
	dijit.byId('field20').set('value','');
	dijit.byId('field20').set('placeHolder','Select');
	});
</script>

<div class="breadcrum">
	<ul class="tri-steps">
		
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Course Master"); ?></a></div></li>
		
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectprerequisites','action'=>'index'),'default',true);?>"><?php echo $this->translate("Requisite"); ?></a></div></li>

		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectequivalent','action'=>'index'),'default',true);?>"><?php echo $this->translate("Equivalent"); ?></a></div></li>
		
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectdetails','action'=>'index'),'default',true);?>"><?php echo $this->translate("Details"); ?></a></div></li>
	
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
    <h2><?php echo $this->translate("Course Requisite"); ?></h2>
    <!--<div class="toolbar-button">
    </div>-->
</div>
<br/><br/>

	<fieldset>
		<legend><?php echo $this->translate("$this->Subject Requisite");?></legend>
         <form action="<?php echo $this->baseUrl();?>/generalsetup/subjectprerequisites/index/search/1" method="POST">
             <dl class="zend_form">
                   <dt><?php echo $this->translate("$this->College Name");?></dt>
                   <dd ><?php echo $this->lobjform->field5;?></dd>
                   <!--<dt><?php //echo $this->translate("Branch Name");?></dt>
                   <dd ><?php //echo $this->lobjform->field8;?></dd>-->
                   <dt><?php echo $this->translate("$this->Department Name");?></dt>
                   <dd ><?php echo $this->lobjform->field20;?></dd>
                   <dt><?php echo $this->translate("$this->Subject $this->Name");?></dt>
                   <dd ><?php echo $this->lobjform->field2;?></dd>
                   <dt><?php echo $this->translate("$this->Subject Code");?></dt>
                   <dd ><?php echo $this->lobjform->field3;?></dd>
                   <dt><?php echo $this->defaultlanguage;?></dt>
                   <dd ><?php echo $this->lobjform->field4;?></dd>
                   <dt ><?php echo $this->translate("Active");?></dt>
                   <dd ><?php echo $this->lobjform->field7;?></dd>
	           <dd>
                        <?php echo $this->lobjform->Search;?>
                        <?php echo $this->lobjform->Clear;?>
                   </dd>
             </dl>
        </form>	
    </fieldset> 
    <br/>
	<?php 
		echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
	?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

	<tr>
		<th><?php echo $this->translate("$this->Subject Name");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		<th><?php echo $this->translate("Course Type");?></th>
		<!--<th><?php //echo $this->translate("$this->Department Name");?></th>
		<th><?php //echo $this->translate("Branch Name");?></th>-->
		<th><?php echo $this->translate("$this->College Name");?></th>
			<th><?php echo $this->translate("");?></th>

	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjsubject ): ?>
	<tr>
		<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectprerequisites', 'action'=>'subjectprerequisiteslist' , 'id'=>$lobjsubject['IdSubject']),'default',true);?>" ><?php echo $lobjsubject['SubjectName'];?></a></td>
		<td><?php echo $lobjsubject['SubCode'];?></td>
		<td><?php echo $this->escape($lobjsubject['CourseName']);?></td>
		<!--<td><?php //echo $this->escape($lobjsubject['DepartmentName']);?></td>
		<td><?php //if($lobjsubject['DepartmentType']==0) { echo "--"; }else{ echo $this->escape($lobjsubject['BranchName']); }?></td>-->
		<td><?php echo $lobjsubject['BranchName']; ?></td>
				<td align="center" class="options"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectprerequisites', 'action'=>'subjectprerequisiteslist' , 'id'=>$lobjsubject['IdSubject']),'default',true);?>" ><?php echo $this->translate('Edit'); ?></a></td>
			  </tr>
					<?php endforeach; ?>
		<?php endif; ?> 
	</table>
	<div class="pagination">
	<?php 
		echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
	?>
	</div>