<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/profile/"><?php echo $this->translate('Profile')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<form method="post" enctype="multipart/form-data" onsubmit="return checkForm()" id="form_edu">
	<table width="100%" class="maintable">
		<thead>
			<tr>
				<th colspan="2"><?php echo $this->translate('Qualification Details')?></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="25%"><?php echo $this->translate('Qualification Level'); ?> <span class="reqMark">*</span></td>
				<td><?php echo $this->eduForm->ae_qualification; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Degree Awarded'); ?></td>
				<td><?php echo $this->eduForm->ae_degree_awarded; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Class Degree'); ?>  <span class="reqMark">*</span></td>
				<td><?php echo $this->eduForm->ae_class_degree; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Result/CGPA'); ?></td>
				<td><?php echo $this->eduForm->ae_result; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Year of Graduation'); ?>  <span class="reqMark">*</span></td>
				<td><?php echo $this->eduForm->ae_year_graduate; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Country of University/College')?> <span class="reqMark">*</span></td>
				<td><?php echo $this->eduForm->ae_institution_country; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Name of University/College'); ?> <span class="reqMark">*</span></td>
				<td>
					<?php echo $this->eduForm->ae_institution; ?> <br />
					<?php echo $this->eduForm->others; ?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Medium of Instruction'); ?> <span class="reqMark">*</span></td>
				<td><?php echo $this->eduForm->ae_medium_instruction; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Upload Certificate'); ?></td>
				<td>
					<input type="file" name="educationDetail_certificate">
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Upload Transcript'); ?></td>
				<td>
					<input type="file" name="educationDetail_transcript">
				</td>
			</tr>
			<tr>
				<td></td>
				<td><p class="desc">Allowed File Types: <strong>pdf, jpg, png, gif, zip, doc, docx</strong></p><p class="desc">Max Filesize: <strong>4MB</strong></p></td>
			</tr>
		</tbody>
	</table>
	<div class="form-opt">
		<input type="submit" class="btn-submit" value="Submit" id="save" name="save_education_detail" />	
	</div>
	</form>
<script type="text/javascript">
function checkForm()
{
	var error = 0;

	$("#form_edu .reqfield").each(function()
	{
		if ( $(this).attr("type") != 'radio' )
		{
			var field = $(this).parent().prev().html();

			var p = $(this).val();

			if ( p == '' )
			{                        
				//alert(field+" cannot be empty");
				$(this).parent().prev().addClass("req");
				$(this).focus();

				error = 1;
				//return false;
			}
			else
			{
				$(this).parent().prev().removeClass("req");
			}
		}
	});

	if ( error == 1 )
	{
		alert('Please fill in all the required fields');
		return false;
	}                


	$(window).unbind('beforeunload');

	return true;
}
function checkInsOthers(val)
{
	var e_val = $(val).val();
	
	if (e_val == '999')
	{
		$("#others").show();
	}
	else
	{
		$("#others").hide();
	}
}

function getInstitution(idCountry,element_name,institution_val)
{	
	var targetElement = '#'+element_name;
	$.ajax({
		url: "/ajax-utility/get-data",
		data: {'country_id':idCountry , 'type':'institution'},
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			showLoading(targetElement,'loading');
		},
		complete: function() {
			hideLoading(targetElement,'loading');
		}	
	}).done(function ( data ) {
		
		$(targetElement).empty().append('<option value=""> --Please Select-- </option>');
	
		$.each(data, function(index) {
			$(targetElement).append('<option value="'+data[index].idInstitution+'"> '+data[index].InstitutionName+' </option>');
		});
		$(targetElement).val(institution_val);
	});

	$('#please_specify_block').remove();
}

function showLoading(target,loading_id){
	$(target).hide();
	$(target).parent().append("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(target,loading_id){
	$('#'+loading_id).remove();
	$(target).show();
}

$(function()
{
	$("#ae_institution").on('change', function(){
		if ($(this).val() == '999' )
		{
			$("#others").addClass('reqfield');
		}
		else
		{
			$("#others").removeClass('reqfield');
		}
	});

	$('.monthcal').datepicker( {
		changeMonth: true,
		changeYear: true,	      
		maxDate: '0',
		showButtonPanel: true,
		yearRange: "-30:+0",
		dateFormat: 'mm/yy',
		onClose: function(dateText, inst) { 	       
			var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
			var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
			$(this).datepicker('setDate', new Date(year, month, 1));
		   
		}
	});

	 $(".monthcal").focus(function () {
		 $(".ui-datepicker-calendar").hide();
		 $("#ui-datepicker-div").position({
			 my: "center top",
			 at: "center bottom",
			 of: $(this)
		 });
	 });
});
</script>