<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/portal/profile/"><?php echo $this->translate('Profile')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<form method="post" enctype="multipart/form-data" id="form_employment" onsubmit="return checkForm()">
	<table width="100%" class="maintable vtop">
		<tbody>
			<tr>
				<td><?php echo $this->translate("Employment Status"); ?> <span class="reqMark">*</span></td>
				<td><?php echo $this->empForm->ae_status; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Company Name"); ?> <span class="reqMark" id="ae_comp_name_status">*</span></td>
				<td><?php echo $this->empForm->ae_comp_name; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Company Address"); ?> <span class="reqMark" id="ae_comp_address_status">*</span></td>
				<td><?php echo $this->empForm->ae_comp_address; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Telephone Number"); ?></td>
				<td><?php echo $this->empForm->ae_comp_phone; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Fax Number"); ?></td>
				<td><?php echo $this->empForm->ae_comp_fax; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Designation"); ?> <span class="reqMark" id="ae_designation_status">*</span></td>
				<td><?php echo $this->empForm->ae_designation; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Position Level"); ?> <span class="reqMark" id="ae_position_status">*</span></td>
				<td><?php echo $this->empForm->ae_position; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Years of Service"); ?> <span class="reqMark" id="emply_year_service_status">*</span></td>
				<td><?php echo $this->empForm->emply_year_service; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Industry"); ?> <span class="reqMark" id="ae_industry_status">*</span></td>
				<td><?php echo $this->empForm->ae_industry; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Job Description"); ?></td>
				<td><?php echo $this->empForm->ae_job_desc; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Employment Letter'); ?></td>
				<td>
					<input type="file" name="employmentDetail_letter" />
					<p class="desc">Allowed File Types: <strong>pdf, jpg, png, gif, zip, doc, docx</strong></p><p class="desc">Max Filesize: <strong>4MB</strong></p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="form-opt">
		<input type="submit" class="btn-submit" value="Submit" id="save" name="save_employment_detail">			
	</div>
</form>

<script type="text/javascript">
function toggleReq()
{
	if ( $("#ae_status").val() == '516' || $("#ae_status").val() == '517' || $("#ae_status").val() == '518' )
	{
		//hide
		$("#ae_comp_name_status, #ae_comp_address_status, #ae_designation_status, #ae_position_status, #emply_year_service_status, #ae_industry_status").hide();
		$("#ae_comp_name, #ae_comp_address, #ae_designation, #ae_position, #emply_year_service, #ae_industry").removeClass('reqfield');
	}
	else
	{
		$("#ae_comp_name_status, #ae_comp_address_status, #ae_designation_status, #ae_position_status, #emply_year_service_status, #ae_industry_status").show();
		$("#ae_comp_name, #ae_comp_address, #ae_designation, #ae_position, #emply_year_service, #ae_industry").addClass('reqfield');
	}
}

function checkForm()
{
	var error = 0;

	$("#form_employment .reqfield").each(function()
	{
		if ( $(this).attr("type") != 'radio' )
		{
			var field = $(this).parent().prev().html();

			var p = $(this).val();

			if ( p == '' )
			{                        
				//alert(field+" cannot be empty");
				$(this).parent().prev().addClass("req");
				$(this).focus();

				error = 1;
				//return false;
			}
			else
			{
				$(this).parent().prev().removeClass("req");
			}
		}
	});

	if ( error == 1 )
	{
		alert('Please fill in all the required fields');
		return false;
	}                


	$(window).unbind('beforeunload');

	return true;
}

$(function()
{
	 $("#emply_year_service").keydown(function (e) {
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            (e.keyCode == 65 && e.ctrlKey === true) || 
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 return;
        }
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
});
</script>