<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>
<?php if ( $this->errorMsg != '' ) { ?>
<div class="error message"><?php echo $this->errorMsg?></div>
<?php } ?>
<form method="post" dojoType="dijit.form.Form" enctype="multipart/form-data" id="form_changepass" onsubmit="return checkForm()">
	<table width="100%" class="table maintable">
		<tbody>
			<tr>
				<td><?php echo $this->translate('Current Password'); ?></td>
				<td><input type="password" name="current_pass" id="current_pass" value="" class="inputtext" /></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('New Password'); ?></td>
				<td><input type="password" name="new_pass" id="new_pass" value="" class="inputtext" />
					<p class="desc"><?php echo $this->translate('Password must be atleast 6 characters long'); ?></p>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Confirm New Password'); ?></td>
				<td><input type="password" name="new_pass2" id="new_pass2" value="" class="inputtext" /></td>
			</tr>
			
			</tbody>
	</table>
	<div class="form-opt">
		<input type="submit" class="btn-submit" value="Submit" id="save" name="change" />	
	</div>
</form>

<script type="text/javascript">
function checkForm()
{
	var pass_curr = $("#current_pass").val();

	if ( pass_curr == '' )
	{
		alert('<?php echo $this->translate('You must enter your current password')?>');
		return false;
	}

	var pass_new = $("#new_pass").val();
	var pass_confirm = $("#new_pass2").val();

	if ( pass_curr == '' )
	{
		alert('<?php echo $this->translate('You must enter your current password')?>');
		return false;
	}

	if ( pass_new == '' ||  pass_confirm == '' )
	{
		alert('<?php echo $this->translate('You must fill in your new passwords')?>');
		return false;
	}

	if ( pass_new != pass_confirm )
	{
		alert('<?php echo $this->translate("New password doesn\'t match. Please check and try again.")?>');
		return false;
	}

	if ( pass_new.length < 6 )
	{
		alert('<?php echo $this->translate("Your new password is too short. It must be atleast 6 characters long.")?>');
		return false;
	}

	return true;
}
</script>