<?php
$this->headScript()->appendFile($this->baseUrl().'/js/tabs.js', 'text/javascript');
?>
<div class="toolbar">
	<h2><?php echo $this->title; ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<ul class="tabs cf">
	<li><a href="#bio" class="active"><?php echo $this->translate('Biodata')?></a></li>
	<li><a href="#contact"><?php echo $this->translate('Contact Info')?></a></li>
	<li><a href="#qual"><?php echo $this->translate('Education')?></a></li>
	<li><a href="#emp"><?php echo $this->translate('Employment Details')?></a></li>	
</ul>

<div class="tabs-wrap">
	<div id="bio" class="tab">

		<br />

		<table width="100%" class=" maintable">
			<tbody>
				<tr>
					<th colspan="2"><?php echo $this->translate('Personal Details'); ?></th>
				</tr>
				<tr id="row-salutation">
					<td width="25%"><?php echo $this->translate('Salutation'); ?></td>
					<td data-name="salutation"><?php echo $this->studentInfo['appl_salutation']?></td>
				</tr>
				<tr id="row-first_name">
					<td width="25%"><?php echo $this->translate('First Name'); ?></td>
					<td data-name="first_name"><?php echo $this->studentInfo['appl_fname']?></td>
				</tr>
				<tr id="row-last_name">
				<td width="25%"><?php echo $this->translate('Last Name'); ?></td>
				<td data-name="last_name"><?php echo $this->studentInfo['appl_lname']?></td>
				</tr>
				<tr id="row-typeID">
					<td width="25%"><?php echo $this->translate('ID Type'); ?></td>
					<td data-name="typeID"><?php echo $this->studentInfo['appl_idnumber_type']; ?></td>
				</tr>
				<tr id="row-idNo">
					<td width="25%"><?php echo $this->translate('ID Number'); ?></td>
					<td data-name="idNo"><?php echo $this->studentInfo['appl_idnumber']; ?></td>
				</tr>
				<?php if ( $this->studentInfo['appl_passport_expiry'] != '' ) { ?>
				<tr id="row-passport_expiry">
					<td width="25%"><?php echo $this->translate('Passport Expiry Date'); ?></td>
					<td data-name="passport_expiry"><?php echo date('d-m-Y',strtotime($this->studentInfo['appl_passport_expiry'])) ; ?></td>
				</tr>
				<?php } ?>
				<tr id="row-gender">
					<td width="25%"><?php echo $this->translate('Gender'); ?></td>
					<td data-name="gender"><?php echo $this->studentInfo['appl_gender'] == 1 ? $this->translate('Male') : $this->translate('Female'); ?></td>
				</tr>
				<tr id="row-dob">
					<td width="25%"><?php echo $this->translate('Date of Birth'); ?></td>
					<td data-name="dob"><?php echo $this->studentInfo['appl_dob']; ?></td>
				</tr>
				<tr id="row-age">
					<td width="25%"><?php echo $this->translate('Age'); ?></td>
					<td data-name="age"><?php echo $this->studentInfo['appl_age']; ?></td>
				</tr>
				<tr id="row-marital_status">
					<td width="25%"><?php echo $this->translate('Marital Status'); ?></td>
					<td data-name="marital_status"><?php echo $this->studentInfo['appl_marital_status']; ?></td>
				</tr>
				<tr id="row-religion">
					<td width="25%">Religion</td>
					<td data-name="religion"><?php echo $this->studentInfo['appl_religion']; ?></td>
				</tr>
				<tr id="row-nationality">
					<td width="25%"><?php echo $this->translate('Nationality'); ?></td>
					<td data-name="nationality"><?php echo $this->studentInfo['appl_nationality']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Type of Nationality'); ?></td>
					<td><?php echo $this->studentInfo['appl_type_nationality']; ?></td>
				</tr>
				<tr id="row-race">
					<td width="25%"><?php echo $this->translate('Race'); ?></td>
					<td data-name="race"><?php echo $this->studentInfo['appl_race']; ?></td>
				</tr>
				<tr id="row-bumiputra_eligibility">
					<td width="25%"><?php echo $this->translate('Bumiputera Eligibility'); ?></td>
					<td data-name="bumiputra_eligibility"><?php echo $this->studentInfo['appl_bumiputera']; ?></td>
				</tr>
				<tr id="row-email">
					<td width="25%"><?php echo $this->translate('Email ID'); ?></td>
					<td data-name="email"><?php echo $this->studentInfo['appl_email']; ?></td>
				</tr>
				<tr id="row-email_personal">
					<td width="25%"><?php echo $this->translate('Personal Email ID'); ?></td>
					<td data-name="email_personal"><?php echo $this->studentInfo['appl_email_personal']; ?></td>
				</tr>
				
				</tbody>
		</table>
	</div>
	
	<div id="contact" class="tab">
	<form method="post" dojoType="dijit.form.Form" enctype="multipart/form-data">
		<table width="100%" class="table maintable">
			<tbody>
				<tr>
					<th colspan="2"><?php echo $this->translate('Personal Email'); ?></th>
				</tr>
				<tr>
					<td><?php echo $this->translate('Personal Email')?></td>
					<td><?php echo $this->personalDetailForm->appl_email_personal; ?></td>
				</tr>
				<tr id="row-">
					<th colspan="2"><?php echo $this->translate('Permanent Mailing Address'); ?></th>
				</tr>
				<tr id="row-address_perm1">
					<td width="25%"><?php echo $this->translate('Address'); ?></td>
					<td data-name="address_perm1"><?php echo $this->personalDetailForm->appl_address1; ?></td>
				</tr>
				<tr id="row-address_perm2">
					<td width="25%"><?php echo $this->translate(''); ?></td>
					<td data-name="address_perm2"><?php echo $this->personalDetailForm->appl_address2; ?></td>
				</tr>
				<tr id="row-address_perm3">
					<td width="25%"><?php echo $this->translate(''); ?></td>
					<td data-name="address_perm3"><?php echo $this->personalDetailForm->appl_address3; ?></td>
				</tr>
				<tr id="row-postcode_perm">
					<td width="25%"><?php echo $this->translate('Postcode/Zip Code'); ?></td>
					<td data-name="postcode_perm"><?php echo $this->personalDetailForm->appl_postcode; ?></td>
				</tr>
				<tr id="row-country_perm">
					<td width="25%"><?php echo $this->translate('Country'); ?></td>
					<td data-name="country_perm"><?php echo $this->personalDetailForm->appl_country; ?></td>
				</tr>
				<tr id="row-state_perm">
					<td width="25%"><?php echo $this->translate('State'); ?></td>
					<td data-name="state_perm">
						<?php echo $this->personalDetailForm->appl_state; ?>
						<?php echo $this->personalDetailForm->appl_state_others; ?>
					</td>
				</tr>
				<tr id="row-city_perm">
					<td width="25%"><?php echo $this->translate('City'); ?></td>
					<td data-name="city_perm">
						<?php echo $this->personalDetailForm->appl_city; ?>
						<?php echo $this->personalDetailForm->appl_city_others; ?>
					</td>
				</tr>
				<tr id="row-">
					<th colspan="2"><?php echo $this->translate('Correspondence Mailing Address'); ?></th>
				</tr>
				<tr id="row-address_perm1">
					<td width="25%"><?php echo $this->translate('Address'); ?></td>
					<td data-name="address_perm1"><?php echo $this->personalDetailForm->appl_caddress1; ?></td>
				</tr>
				<tr id="row-address_perm2">
					<td width="25%"><?php echo $this->translate(''); ?></td>
					<td data-name="address_perm2"><?php echo $this->personalDetailForm->appl_caddress2; ?></td>
				</tr>
				<tr id="row-address_perm3">
					<td width="25%"><?php echo $this->translate(''); ?></td>
					<td data-name="address_perm3"><?php echo $this->personalDetailForm->appl_caddress3; ?></td>
				</tr>
				<tr id="row-postcode_perm">
					<td width="25%"><?php echo $this->translate('Postcode/Zip Code'); ?></td>
					<td data-name="postcode_perm"><?php echo $this->personalDetailForm->appl_cpostcode; ?></td>
				</tr>
				<tr id="row-country_perm">
					<td width="25%"><?php echo $this->translate('Country'); ?></td>
					<td data-name="country_perm"><?php echo $this->personalDetailForm->appl_ccountry; ?></td>
				</tr>
				<tr id="row-state_perm">
					<td width="25%"><?php echo $this->translate('State'); ?></td>
					<td data-name="state_perm">
						<?php echo $this->personalDetailForm->appl_cstate; ?>
						<?php echo $this->personalDetailForm->appl_cstate_others; ?>
					</td>
				</tr>
				<tr id="row-city_perm">
					<td width="25%"><?php echo $this->translate('City'); ?></td>
					<td data-name="city_perm">
						<?php echo $this->personalDetailForm->appl_ccity; ?>
						<?php echo $this->personalDetailForm->appl_ccity_others; ?>
					</td>
				</tr>
				<tr id="row-">
					<th colspan="2"><?php echo $this->translate('Telephone Number'); ?></th>
				</tr>
				<tr>
					<td><?php echo $this->translate('Telephone Number (Home)(P)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_phone_home; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Telephone Number (Mobile)(P)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_phone_mobile; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Telephone Number (Office)(P)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_phone_office; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Fax (P)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_fax; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Telephone Number (Home)(C)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_cphone_home; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Telephone Number (Mobile)(C)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_cphone_mobile; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Telephone Number (Office)(C)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_cphone_office; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Fax (C)'); ?></td>
					<td><?php echo $this->personalDetailForm->appl_cfax; ?></td>
				</tr>
				
				</tbody>
		</table>
		<div class="form-opt">
			<input type="submit" class="btn-submit" value="Submit" id="save" name="save_personal_detail" />	
		</div>
	</form>
	</div>
	
	<!-- tab -->
	<div id="qual" class="tab">
		<?php if ( $this->totalqual < 3 ) { ?>
		<div class="opt"><a href="<?php echo $this->baseUrl()?>/portal/profile/add-education" class="btn flat"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Another')?></a></div>
		<?php } ?>
		<table class="maintable vtop">
			<thead>
				<tr>
					<th>Level</th>
					<th>Degree Awarded</th>
					<th>Major/ Specialization</th> 
					<th>Class Degree</th>
					<th>Result</th>
					<th>Year Graduates</th>
					<th>Institution Country</th>
					<th>Institution Name</th>
					<th>Medium Instruction</th>
					<th>Documents</th>
				</tr>
			</thead>
			<tbody>
			<?php if ( !empty($this->educationDetails) ) { ?>
			<?php foreach ( $this->educationDetails as $edu ) { ?>
			<tr>
				<td><?php echo $edu['QualificationLevel']?></td>
				<td><?php echo $edu['ae_degree_awarded']?></td>
				<td><?php echo $edu['ae_majoring']?></td>
				<td><?php echo $edu['class_degree']?></td>
				<td><?php echo $edu['ae_result']?></td>
				<td><?php echo $edu['ae_year_graduate']?></td>
				<td><?php echo $edu['CountryName']?></td>
				<td><?php echo $edu['ae_institution'] == 999 ? $edu['others'] : $edu['InstitutionName']?></td>
				<td><?php echo $edu['ae_medium_instruction']?></td>
				<td>
					<?php if ( !empty($edu['documents']) ) { ?>
					<ol>
						<?php foreach ( $edu['documents'] as $doc ) {  ?>
						<li><a href="<?php echo DOCUMENT_URL.$doc['ad_filepath']?>" class="fancy"><?php echo $doc['ad_ori_filename']?></a></li>
						<?php } ?>
					</ol>
					<?php } ?>
				</td>
			</tr>
			<?php } ?>
			<?php } else { ?>
			<tr>
				<td colspan="10"><?php echo $this->translate('No education details found.')?></td>
			</tr>
			<?php } ?>
			</tbody>
		</table>

		<p class="desc"><span class="icon icon-info-circled"></span> You cannot edit existing qualifications but you can add up to 3 entries.</p>
	</div>	
	<!--/tab -->

	<!-- tab -->
	<div id="emp" class="tab">
		
		<?php if ( $this->totalemp < 3 ) { ?>
		<div class="opt"><a href="<?php echo $this->baseUrl()?>/portal/profile/add-employment" class="btn flat"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Another')?></a></div>
		<?php } ?>

		<table class="maintable vtop">
			<thead>
				<tr>
					<th>Employment Status</th>
					<th>Company Info</th>		
					<th>Designation	</th>	
					<th>Position Level</th>		
					<th>Service Duration</th>	
					<th>Industry</th>
					<th>Letter</th>
				</tr>
			</thead>
			<tbody>
			<?php if ( !empty($this->empDetails) ) { ?>
			<?php foreach ( $this->empDetails as $emp ) { ?>
			<tr>
				<td><?php echo $emp['employmentStatusName']?></td>
				<td><?php echo $emp['ae_comp_name']?></td>
				<td><?php echo $emp['ae_designation']?></td>
				<td><?php echo $emp['employmentPositionName']?></td>
				<td><?php echo $emp['emply_year_service']?></td>
				<td><?php echo $emp['employmentIndustryName']?></td>
				<td>
					<?php if ( !empty($emp['documents']) ) { ?>
					<ol>
						<?php foreach ( $emp['documents'] as $doc ) {  ?>
						<li><a href="<?php echo DOCUMENT_URL.$doc['ad_filepath']?>" class="fancy"><?php echo $doc['ad_ori_filename']?></a></li>
						<?php } ?>
					</ol>
					<?php } ?>
				</td>
			</tr>
			<?php } ?>
			<?php } ?>
			</tbody>
		</table>		

		<p class="desc"><span class="icon icon-info-circled"></span> You cannot edit existing employment details but you can add up to 3 entries.</p>

	</div>
	<!--/tab -->
</div>

<script type="text/javascript">
$(function()
{
	getState($('#appl_country').val(),'appl_state',<?php echo $this->studentInfo['appl_state']?>);
	getCity($('#appl_state').val(),'appl_city',<?php echo $this->studentInfo['appl_city']?>);

	getState($('#appl_ccountry').val(),'appl_cstate',<?php echo $this->studentInfo['appl_cstate']?>);
	getCity($('#appl_cstate').val(),'appl_ccity',<?php echo $this->studentInfo['appl_ccity']?>);

});

function getState(idCountry,stateIdFormName,selectedState){
		
	var targetElement = '#'+stateIdFormName;
	$.ajax({
		url: "/ajax-utility/get-state",
		data: {'country_id':idCountry},
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			showLoading(targetElement,'loading');
		},
		complete: function() {
			hideLoading(targetElement,'loading');
		}	
	}).done(function ( data ) {
		
		$(targetElement).empty().append('<option value=""> --Please Select-- </option>');

		$.each(data, function(index) {
			if(selectedState==data[index].idState){
				var selected = 'selected';
			}else{
				var selected = '';
			}
			$(targetElement).append('<option value="'+data[index].idState+'" '+selected+'> '+data[index].StateName+' </option>');
		});
	});
}

function getCity(idState,cityIdFormName,selectedCity){
		
	var targetElement = '#'+cityIdFormName;
	$.ajax({
		url: "/ajax-utility/get-city",
		data: {'state_id':idState},
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			showLoading(targetElement,'loading');
		},
		complete: function() {
			hideLoading(targetElement,'loading');
		}	
	}).done(function ( data ) {
		
		$(targetElement).empty().append('<option value=""> --Please Select-- </option>');

		$.each(data, function(index) {
			if(selectedCity==data[index].idCity){
				var selected = 'selected';
			}else{
				var selected = '';
			}
			$(targetElement).append('<option value="'+data[index].idCity+'" '+selected+'> '+data[index].CityName+' </option>');
		});
	});
}

function checkOthers(val)
{
	var e_val = $(val).val();
	var name = $(val).attr("name");
	
	if (e_val == '99')
	{
		$("#"+name+"_others").show();
	}
	else
	{
		$("#"+name+"_others").hide();
	}
}

function showLoading(target,loading_id){
	$(target).hide();
	$(target).parent().append("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(target,loading_id){
	$('#'+loading_id).remove();
	$(target).show();
}
</script>