<div class="uk-grid">

    <!-- <div class="uk-width-medium-2-10">
        <?php //Cms_Hooks::hook('user.sidebar') ?>
    </div> -->
    
           
	    
    <!-- content -->
    <div class="uk-width-medium-8-10">      
	 
	 	<ul class="uk-breadcrumb">
	    <li><a href="/"><i class="uk-icon-home"></i></a></li>
	    <li><a href="/exam">Examination</a></li>
	    <li class="uk-active"><span>Exam Registration</span></li>
	    </ul>
	    
	     <h2>Exam Registration</h2>	
	     	    		
	   	<?php if($this->exam_open==false){ ?>
	   	
	    	<div class="uk-alert" data-uk-alert>
			    <a href="" class="uk-alert-close uk-close"></a>
			    <p>Exam Registration for <?php echo $this->studentRegDetl['ProgramName']; ?> is currently closed!</p>
			</div>
			
			<div class="uk-text-right">
  	        	<button type="button" class="uk-button" onclick="redirect('/exam')">Back</button>
    	 	</div>
			
		<?php }else{ ?>
		
		
			<!--//First Time => <?php /*echo (isset($this->first_time_registration)) ? $this->first_time_registration:''; */?>
			//Cycle : <?php /*echo $this->no_of_cycle;*/?>
			//sITTING : --><?php /*echo $this->sitting+1; */?>
			
			<?php if(count($this->StudentSubjectsDetail)>0){ ?>
			<form method="post" id="form-enroll"  action="<?php echo $this->baseUrl()?>/exam/register-exam">
	        
	        	<input type='hidden' name='IdProgram' id='IdProgram' value='<?php echo $this->studentRegDetl['IdProgram']; ?>'>
	        	<input type='hidden' name='IdLandscape' id='IdLandscape' value='<?php echo $this->studentRegDetl['IdLandscape']; ?>'>
	        	<input type='hidden' name='IdStudentRegistration' id='IdStudentRegistration' value='<?php echo $this->studentRegDetl['IdStudentRegistration']; ?>'>
	        	<input type='hidden' name='est_id' id='est_id' value='<?php echo $this->exam_sitting['est_id']; ?>'>
	        	<input type='hidden' name='erc_id' id='erc_id' value='<?php echo $this->current_erc_id; ?>'>
	
	        	<h3><?php echo $this->studentRegDetl['ProgramName']; ?></h3>
	        	
	        	<!-- PKMC ONLY -->
	        	<?php if($this->studentRegDetl['IdProgram']==52){?>
	        	Exam Sitting : <?php echo $this->exam_sitting['est_name']; ?>
	        	<?php } ?>        	
	        	<!-- PKMC ONLY -->	
	        
	        	 				<table width="100%" class="uk-table uk-table-bordered">
	                                <tr>
	                                    <th></th>
	                                    <th>Prerequisite</th>
	                                    <th>Module Name</th>
	                                    <th>Module Code</th>
	                                    <th>Exempted?</th>  
	                                    <th>Exam Center</th>
	                                    <th>Exam Date</th>
	                                </tr>
	                                <?php
	                                //pr($this->StudentSubjectsDetail);
	                                foreach ($this->StudentSubjectsDetail as $StudentSubjectsDetail){?>
	                                    <tr>
	                                    	<td>  
	                                    	<?php if(isset($this->first_time_registration) && $this->first_time_registration==true && $StudentSubjectsDetail['initial']==1 && $StudentSubjectsDetail['allow_register']==true) { ?>
	                                    		<!-- force register -->
	                                    		<input checked type='checkbox' value='1' id='idSubject-<?php echo $StudentSubjectsDetail["IdStudentRegSubjects"]?>' name='idSubject[<?php echo $StudentSubjectsDetail["IdStudentRegSubjects"]?>]' onchange='isinitial("<?php echo $StudentSubjectsDetail["IdStudentRegSubjects"]?>")'>
											<?php }else{ ?>	                                    	                                 	
	                                    		<input <?php echo ($StudentSubjectsDetail['allow_register']==false) ? 'disabled':''; ?> type='checkbox' value='1' id='' name='idSubject[<?php echo $StudentSubjectsDetail["IdStudentRegSubjects"]?>]'>
	                                    	<?php } ?>
	                                    	</td>
	                                    	<td>
	                                    	<?php if(isset($StudentSubjectsDetail['prerequisite'])){
	                                        		echo "<span>".$StudentSubjectsDetail['prerequisite']['status']."</span>";                       			
	                                    	}else{
													echo 'N/A';
	                                		}?>
	                                    	</td>
	                                    	
	                                        <td>                                  
	                                        <?php echo $StudentSubjectsDetail["SubjectName"]?>
	                                        </td>
	                                        <td><?php echo $StudentSubjectsDetail["SubCode"]?></td>                                       
	                                        <td width="20%"><?php echo ($StudentSubjectsDetail["ExemptionStatusSubject"] == 1) ? "Yes":'No';?>
	                                        </td>                                       
	                                       
	                                        <td>
	                                        <?php if(count($StudentSubjectsDetail['schedule'])>0){
	                                        		if(count($StudentSubjectsDetail['schedule'][0]['center'])>0){?>
	                                        	<select class='uk-select' name='examcenter_id[<?php echo $StudentSubjectsDetail['IdStudentRegSubjects']; ?>]' id='examcenter_id'>
	                                        		<?php 
	                                        			foreach($StudentSubjectsDetail['schedule'][0]['center'] as $center){?>
	                                        			<option value='<?php echo $center['tsc_examcenterid']; ?>'><?php echo $center['ec_name']; ?></option>
	                                        		<?php } ?>
	                                        	</select>
	                                        <?php } }else{ echo 'No exam scheduled';} ?>
	                                        </td>
	                                        
	                                         <td>
	                                        <?php if(count($StudentSubjectsDetail['schedule'])>0){?>
	                                        	<select class='uk-select' name='schedule[<?php echo $StudentSubjectsDetail['IdStudentRegSubjects']; ?>]' id='schedule'>
	                                        		<?php foreach($StudentSubjectsDetail['schedule'] as $schedule){?>
	                                        			<option value='<?php echo $schedule['schedule_id']; ?>-<?php echo $schedule['es_id']; ?>-<?php echo $schedule['esd_id']; ?>-<?php echo $schedule['exam_tagging_slot']; ?>'><?php echo $schedule['es_date']; ?></option>
	                                        		<?php } ?>
	                                        	</select>
	                                        <?php }else{ echo 'No exam scheduled';} ?>
	                                        </td>
	                                    </tr>
	                                <?php } ?>
	                            </table>
	
	  							<div class="uk-text-right">
	  							        <button type="button" class="uk-button" onclick="redirect('/exam')">Back</button>
						        		<input type="submit" class="uk-button uk-button-primary" name="register" id="register-btn" value="<?php echo $this->translate('Submit')?>" />
						    		
	                            </div>
	    
						    
	                        
				  </form> 
				  <?php }else{ //count subject?>
				  
				  	<div class="uk-alert" data-uk-alert>
					    <a href="" class="uk-alert-close uk-close"></a>
					    <p>There is no modules to registered!</p>
					</div>
					
					<div class="uk-text-right">
		  	        	<button type="button" class="uk-button" onclick="redirect('/exam')">Back</button>
		    	 	</div>
    	 	
			<?php } 
		}//end close open exam registration ?> 
		</div>
</div>

<script>

		$(function(){

			   $('#est_id').on('change', function() {			   		
	                    
				      var id = $(this).val();	
				      				      
					  if(id){
						  var iData = "<?php echo $this->i?>";
						  window.location = "<?php echo $this->url(array('module'=>'default','controller'=>'exam', 'action'=>'exam-registration'),'default',true);?>/i/"+iData+"/estid/"+id;
					  }
			   });
		});


		function isinitial(id){

			$('#idSubject-'+id).prop("checked", true);
		}

</script>