<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>


    <!-- content -->

    <div class="uk-width-medium-8-10">

        <ul class="uk-breadcrumb">
            <li><a href="/"><i class="uk-icon-home"></i></a></li>
            <li><a href="/membership">Membership</a></li>
            <li class="uk-active"><span>Membership Details</span></li>
        </ul>


        <h3>Membership Details</h3>

        <?php if (isset($this->application) && $this->application['mr_id'] != '') { ?>

        <div class="uk-column-6-6 uk-text-right">
            <!--Expired Member-->
            <?php if ($this->application['mr_status'] == 'Expired') { ?>
                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a href="<?php echo $this->baseUrl() ?>/membership/reinstatement-membership/mr_id/<?php echo $this->application["mr_id"]; ?>">
                        <button class="uk-button uk-button-small">Reinstatement</button>
                    </a>
                </div>
                <!--Expired Member-->
            <?php }  ?>
                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a href="<?php echo $this->baseUrl() ?>/membership/pay-renewal/mr_id/<?php echo $this->application["mr_id"]; ?>">
                        <button class="uk-button uk-button-small">Renewal</button>
                    </a>
                </div>

                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a href="<?php echo $this->baseUrl() ?>/membership/upgrade-membership/mr_id/<?php echo $this->application["mr_id"]; ?>">
                        <button class="uk-button uk-button-small">Upgrade</button>
                    </a>
                </div>
            

        </div>


        <table class="uk-table uk-table-stacked uk-table-main">
            <?php if ($this->application["mr_registrationId"]) { ?>
                <tr>
                    <th width="30%"><?php echo $this->translate('Membership ID'); ?></th>
                    <td><b><?php echo $this->application["mr_registrationId"]; ?></b></td>
                </tr>
            <?php } ?>
            <tr>
                <th width="30%"><?php echo $this->translate('Membership Name'); ?></th>
                <td><?php echo $this->application["MembershipName"]; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Membership Status'); ?></th>
                <td><?php echo $this->application["mr_status"]; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Activation Date'); ?></th>
                <td><?php echo (isset($this->application["mr_activation_date"])) ? date('d-m-Y', strtotime($this->application["mr_activation_date"])) : '-'; ?></td>
            </tr>
            <tr>
                <th><?php echo $this->translate('Expiry Date'); ?></th>
                <td><?php echo (isset($this->application["mr_expiry_date"])) ? date('d-m-Y', strtotime($this->application["mr_expiry_date"])) : '-'; ?></td>
            </tr>
        </table>

        <!-- tab section -->

        <h3>Records</h3>


        <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">
            <?php if ($this->application['mr_status'] == 'Expired') { ?>
                <li <?php echo ($this->tab == 'reinstatement') ? ' class="uk-active"' : "" ?>>
                    <a href="#reinstatement"><?php echo $this->translate('Reinstatement') ?></a>
                </li>
            <?php } ?>
            <li <?php echo ($this->tab == 'reinstate') ? ' class="uk-active"' : "" ?>>
                <a href="#reinstate"><?php echo $this->translate('Renew') ?></a>
            </li>
            <li <?php echo ($this->tab == 'upgrade') ? ' class=""' : "" ?>>
                <a href="#upgrade"><?php echo $this->translate('Upgrade') ?></a>
            </li>
            <li <?php echo ($this->tab == 'history') ? ' class=""' : "" ?>>
                <a href="#history"><?php echo $this->translate('History') ?></a>
            </li>

        </ul>


        <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">
            <?php if ($this->application['mr_status'] == 'Expired') { ?>
                <div class="tab" id="reinstatement">
                    <?php echo $this->partial('/membership/partials/reinstate_list.phtml', 'default', array(
                        'reinstate_list' => $this->reinstate_list)); ?>
                </div>
            <?php } ?>
            <div class="tab" id="reinstate">
                <?php echo $this->partial('/membership/partials/renew_list.phtml', 'default', array(
                    'renew_list' => $this->renew_list)); ?>
            </div>
            <div class="tab uk-active" id="upgrade">
                <?php echo $this->partial('/membership/partials/upgrade_list.phtml', 'default', array(
                    'upgrade_list' => $this->upgrade_list
                )); ?>
            </div>
            <div class="tab uk-active" id="history">
                <?php echo $this->partial('/membership/partials/history.phtml', 'default', array(
                    'history' => $this->history
                )); ?>
            </div>
        </div>


    </div>

    <!-- end tab section -->

    <?php } else { ?>
        <div class="uk-placeholder uk-text-center">
            <i class="uk-icon-group uk-icon-medium uk-text-muted uk-margin-small-right"></i>
            <?php echo $this->translate('Be part of AICB Member!') ?>&nbsp;<a href="#">Click here</a>
        </div>
    <?php } ?>

</div>
</div>