<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
           
	    
    <!-- content -->
    <div class="uk-width-medium-8-10">      
	 
	 	<ul class="uk-breadcrumb">
	    <li><a href="/"><i class="uk-icon-home"></i></a></li>
	    <li><a href="/user/exam">Examination</a></li>
	    <li class="uk-active"><span>Exam Registration</span></li>
	    </ul>
	    		
	    <h2>Exam Registration</h2>		
		<form method="post" id="form-enroll"  action="<?php echo $this->baseUrl()?>/exam/register-exam">
        
        	<input type='hidden' name='IdProgram' id='IdProgram' value='<?php echo $this->exam[0]['IdProgram']; ?>'>
        	<input type='hidden' name='IdLandscape' id='IdLandscape' value='<?php echo $this->studentRegDetl['IdLandscape']; ?>'>
        	<input type='hidden' name='IdStudentRegistration' id='IdStudentRegistration' value='<?php echo $this->studentRegDetl['IdStudentRegistration']; ?>'>

        	<h3><?php echo $this->exam[0]['ProgramName']; ?></h3>
        
        	 				<table width="100%" class="uk-table uk-table-bordered">
                                <tr>
                                    <th></th>
                                    <th>Module Name</th>
                                    <th>Module Code</th>
                                    <th>Exempted?</th>  
                                    <th>Exam Center</th>
                                    <th>Exam Date</th>
                                </tr>
                                <?php
                                //pr($this->StudentSubjectsDetail);
                                foreach ($this->StudentSubjectsDetail as $StudentSubjectsDetail){?>
                                    <tr>
                                    	<td><?php if($StudentSubjectsDetail["ExemptionStatusSubject"] != 1) {?><input type='checkbox' value='1' id='' name='idSubject[<?php echo $StudentSubjectsDetail["IdStudentRegSubjects"]?>]'><?php } ?><?php echo $StudentSubjectsDetail["IdStudentRegSubjects"]?></td>
                                        <td>                                        
                                        <?php echo $StudentSubjectsDetail["SubjectName"]?>
                                        </td>
                                        <td><?php echo $StudentSubjectsDetail["SubCode"]?></td>                                       
                                        <td width="20%"><?php echo ($StudentSubjectsDetail["ExemptionStatusSubject"] == 1) ? "Yes":'No';?>
                                        </td>                                       
                                       
                                        <td>
                                        <?php if(count($StudentSubjectsDetail['schedule'])>0){
                                        		if(count($StudentSubjectsDetail['schedule'][0]['center'])>0){?>
                                        	<select class='uk-select' name='examcenter_id[<?php echo $StudentSubjectsDetail['IdStudentRegSubjects']; ?>]' id='examcenter_id'>
                                        		<?php 
                                        			foreach($StudentSubjectsDetail['schedule'][0]['center'] as $center){?>
                                        			<option value='<?php echo $center['tsc_examcenterid']; ?>'><?php echo $center['ec_name']; ?></option>
                                        		<?php } ?>
                                        	</select>
                                        <?php } }else{ echo 'No exam scheduled';} ?>
                                        </td>
                                        
                                         <td>
                                        <?php if(count($StudentSubjectsDetail['schedule'])>0){?>
                                        	<select class='uk-select' name='schedule[<?php echo $StudentSubjectsDetail['IdStudentRegSubjects']; ?>]' id='schedule'>
                                        		<?php foreach($StudentSubjectsDetail['schedule'] as $schedule){?>
                                        			<option value='<?php echo $schedule['schedule_id']; ?>-<?php echo $schedule['es_id']; ?>-<?php echo $schedule['esd_id']; ?>-<?php echo $schedule['exam_tagging_slot']; ?>'><?php echo $schedule['es_date']; ?></option>
                                        		<?php } ?>
                                        	</select>
                                        <?php }else{ echo 'No exam scheduled';} ?>
                                        </td>
                                    </tr>
                                <?php } ?>
                            </table>

  							<div class="uk-text-right">
  							        <button type="button" class="uk-button" onclick="redirect('/user/exam')">Back</button>
					        		<input type="submit" class="uk-button uk-button-primary" name="register" id="register-btn" value="<?php echo $this->translate('Submit')?>" />
					    		
                            </div>
    
					    
                        
			  </form>  
			      </div>
</div>