<div class="uk-grid">

    <div class="uk-width-medium-2-10">
        <//?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    
           
	    
    <!-- content -->
    <div class="uk-width-medium-10-10">      
	 
	 	<ul class="uk-breadcrumb">
	    <li><a href="/"><i class="uk-icon-home"></i></a></li>
	    <li><a href="/user/exam">Examination</a></li>
	    <li class="uk-active"><span>Exam Registration History</span></li>
	    </ul>
	    		
	    <h2 >Exam Registration History</h2>
	   
	    <div class="uk-panel-box">
		    <form class="uk-form" method="post" id="form-search">
		    		<div class="uk-form-row">
	                        <label class="uk-form-label" for="program"><?php echo $this->translate('Program')?></label>
	                        <div class="uk-form-controls">
	                            <?php echo $this->form->program_id ?>
	                        </div>
	                </div>
	                <div class="uk-form-row">
	                        <label class="uk-form-label" for="program"><?php echo $this->translate('Start Date')?></label>
	                        <div class="uk-form-controls">
	                            <?php echo $this->form->date_from ?>
	                        </div>
	                </div>
	                <div class="uk-form-row">
	                        <label class="uk-form-label" for="program"><?php echo $this->translate('End Date')?></label>
	                        <div class="uk-form-controls">
	                            <?php echo $this->form->date_to ?>
	                        </div>
	                </div>
	                <div class="uk-form-row">
	                <button type="submit" name="search" class="uk-button uk-button-primary">Search</button>
	            	</div>                
			</form>
		</div>
		<br>
		 <ul class="uk-tab uk-tab-line" data-uk-tab="{connect:'#tab-content'}">           
            <li <?php echo ($this->tab == 'history') ? ' class=""' : "" ?>>
                <a href="#history"><?php echo $this->translate('Registration History') ?></a>
            </li>
            <li <?php echo ($this->tab == 'exam-cycle') ? ' class=""' : "" ?>>
                <a href="#cycle"><?php echo $this->translate('Exam Cycle Status') ?></a>
            </li>
        </ul>
        
         <div id="tab-content" class="uk-switcher uk-margin-top uk-margin-large-bottom">           
            <div class="tab uk-active" id="upgrade">
                 <!-- start------------------------------- -->
                
		          <?php if(count($this->qualification_registration)>0){ 
			    		foreach($this->qualification_registration as $program){	    			
			    ?>
			   	    	
			    	
			    			<h4 ><?php echo $program['ProgramName']; ?></h4>                     
			    		
				    		<!-- table exams -->
				    		<table class="uk-table uk-table-bordered">
						        <thead>
						            <th><?php echo $this->translate('Registration ID') ?></th>
						            <th><?php echo $this->translate('Exam Sitting') ?></th>
						            <th><?php echo $this->translate('Module Name') ?></th>
						            <th><?php echo $this->translate('Exam Date') ?></th>
						            <th><?php echo $this->translate('Exam Venue') ?></th>
						            <th><?php echo $this->translate('Reg. Status') ?></th>
						            <th><?php echo $this->translate('Attendance Status') ?></th>
						            <th><?php echo $this->translate('Exam Result') ?></th>
						            <th><?php echo $this->translate('') ?></th>
						        </thead>
			        
				    		<?php if(count($program['exams'])>0){
				    			
				    				foreach($program['exams'] as $list){
		            
							            $er_main_id     = $list['er_main_id'];
							            $er_id          = $list['er_id'];
							            $canChange      = false;
							            $eredit         = $list['er_registration_type'];
							            $today          = date('Y-m-d');
							            $today_unix     = strtotime($today);
							            $exam_date      = $list['es_date'];
							            $exam_date_unix = strtotime($exam_date);
							            $date_expired   = false;
							            $expired        = false;
							    
							            $tomorrow       = date("Y-m-d", strtotime("+1 day", strtotime($exam_date)));
							            $tomorrow_unix  = strtotime($tomorrow);
							    
							            if ($eredit != 10 && $list['result_status'] == 0)
							            {
							                $canChange = true;
							            }
							            if ($exam_date_unix <= $today_unix)
							            {
							                $canChange    = false;
							            }
							            
							            if ($tomorrow_unix <= $today_unix)
							            {
							                $date_expired = true;
							                $canChange    = false;
							            }
							            
							            if ($eredit == 2 || $list['attendance_status'] > 0)
							            {
							                $canChange    = false;
							            }
							            
							            if ($list['must_reschedule'])
							            {
							                $canChange = true;
							            }
				            ?>
				    		
				    		 <tr>
				                <td><?php echo $list['registrationId'] ?></td>
				                <td><?php echo $list['est_name'] ?></td>
				                <td><?php echo $list['SubjectName'] ?></td>   		                 
				                <td><?php echo date('d M Y', strtotime($list['es_date'])); ?></td> 
				                 <td><?php echo $list['ec_name'] ?></td>  
				                <td>
		   								<?php if (!$date_expired): ?>
			                                <?php echo $list['examStatus'] ?>
			                            <?php elseif ($date_expired): ?>	                               
			                                <?php
												if(!$list['attendance_status']){
			                                		echo $this->translate('Registered (Expired)'); 
				    							}else{
				    								echo $list['examStatus'] ;
				    							}?>	                           
			                            <?php endif; ?>			                
				                </td> 
				                <td><?php echo (isset($list['attendance_status'])) ? $list['attendance_status_desc']:'Not Updated'; ?></td>
				                <td>
				                	<?php 
				                	if($list['attendance_status'] == 395){
				                		if($list['allow_publish_result'] >= 0){
				                			echo $list['grade_name'];
				                		}else{
				                			echo $list['grade_name'];
				                		}
				                		echo ($list['exam_status']=='N') ? ' (Nullified)':'';
				    				}
				    				?>		                	
				                </td>
				                <td>
				                		<?php if ($canChange){?>
					                      <a href="<?php echo $this->baseUrl()?>/exam/view-exam-detail/id/<?php echo $list['er_id'] ?>">
				                             <button class="uk-button uk-button-small"><?php echo $this->translate('Reschedule'); ?></button>
				                          </a>
				                       <?php }//end can change ?>
				                       					           
							           <?php 
							           $result_status = $list['result_status']; 
							           if ($list['er_registration_type'] != 0 && $result_status < 2 && $eredit != 2 && !$expired){
							           		if (!$list['must_reschedule']){
							           ?>
							           		 <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}"
					                             data-uk-tooltip="{pos:'right'}" title="Download Exam Slip">
					                            <button class="uk-button uk-button-small"><i
					                                    class="uk-icon-download"></i>
					                            </button>
					                               <div class="uk-dropdown">
					                                    <ul class="uk-nav uk-nav-dropdown">
					                                        <li><a target="_blank"
					                                               href="<?php echo $this->baseUrl() ?>/exam/erm-slip/id/<?php echo $list['er_id'] ; ?>"><?php echo $this->translate('Exam Slip') ?></a>
					                                               <!--href="<?php echo $this->baseUrl() ?>/exam/examinationlms-slip/id/<?php echo $er_id; ?>"><?php echo $this->translate('Exam Slip') ?></a>-->
					                                        </li>
					                                    </ul>
					                                </div>                              
					                        </div>
					                        <?php }//end must schedule re?>
							           	<?php }elseif ($result_status == 2 && $eredit != 2 && !$expired){ //must reschedule?>
							           	
								           	<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}"
					                             data-uk-tooltip="{pos:'right'}"
					                             title="Certificate of Attendance <br> and Result Slip">
					                            <button class="uk-button uk-button-small"><i
					                                    class="uk-icon-download"></i>
					                            </button>
					                            <div class="uk-dropdown">
					                                <ul class="uk-nav uk-nav-dropdown">			                                   
					                                    <li><a target="_blank"
					                                           href="<?php echo $this->baseUrl() ?>/exam/result-sliplms/id/<?php echo $er_main_id; ?>/er/<?php echo $er_id; ?>"><?php echo $this->translate('Result Slip') ?></a>
					                                    </li>
					                                    <li>
					                                        <a target="_blank"
					                                           href="<?php echo $this->baseUrl() ?>/exam/certificate-of-attendance/id/<?php echo $list['er_id'] ?>"><?php echo $this->translate('Certificate of Attendance') ?></a>
					                                    </li>
					
					
					                                </ul>
					                            </div>
					                        </div>
								           	
							           <?php }//end can status ?>
		                    	</td>
				             </tr>
				    			
				    		<?php }//end foreach 
				    			} else { echo '<tr><td coslpan=8>No record found!</td></tr>';  } //end exams per program ?>	    		
				    		</table>
				    		<!-- end table exams -->
				    							
				    		
				    	<?php }//end foreach
				 	} //end count
				 ?>
                 <!-- end---------------------------- -->
            </div>
            
            <div class="tab uk-active" id="history">
               
                <?php if(count($this->qualification_registration)>0){ 
			    		foreach($this->qualification_registration as $program){	    			
			    ?>
			    <h4 ><?php echo $program['ProgramName']; ?></h4> 
               <?php 
					if($program['IdProgram']==52 && count($this->candidate_cycle)>0){
						foreach($this->candidate_cycle as $cycle){ ?>
								<strong>Exam Cycle : <?php echo $cycle['cycle_no']; ?></strong>
		    			 		<table class="uk-table uk-table-bordered">	    			 		
		    			 		<tr>
		    			 			<th width='5px'>No.</th>
		    			 			<th>Exam Sitting</th>
		    			 			<th>Status</th>
		    			 		</tr>
		    			 		<?php foreach($cycle['sitting'] as $no=>$sitting){?>	    			 		
		    			 		<tr>
		    			 			<td><?php echo $no+1?>.</td>
		    			 			<td><?php echo $sitting['est_name']; ?></td>
		    			 			<td><?php echo ($sitting['exam_sitting_status']==1)?'Active':'Inactive';?></td>
		    			 		</tr>	    			 		
		    			 		<?php } ?>
		    			 		</table>
		    			 		<?php }
						} ?>
				<?php }}else  { echo 'No records!'; } ?>		
            </div>
        </div>
        
		
	    
	   
		 
		 <div class="uk-text-right">
  	        <button type="button" class="uk-button uk-button-primary" onclick="redirect('/exam')">Back</button>
    	 </div>
                            
	</div>
	<!-- end content -->   
	   
	   
	   
</div>