<style type="text/css">
    table, div {
        font: 300 14px / 20px "Proxima Nova", Helvetica, Arial, sans-serif;
    }
.calendar { font: 300 14px / 20px "Proxima Nova", Helvetica, Arial, sans-serif;
    width: 200px; margin: 10px; /*display: inline-block;*/ float: left; }
.calendar h2 { font-size: 10pt; font-weight: bold; }
.calendar .fc-left { display: none; }
.calendar .fc-right { display: none; }
.calendar .fc-row.fc-week { max-height: 50px !important; min-height: 10px!important; }
.calendar .fc-today { background-color: #FFF; }
.calendar .fc-day-grid-event { display: none; }
.calendar .has-event { background-color: #398fd8 !important; color: #FFF;}
.calendar .has-event:hover { cursor: pointer; }
.calendar .fc-day-number.fc-other-month { color: #FFF; }
#session-container { display: none; }
#info-container { font-size: 9.0pt; }
.center { text-align: center; }
.blue-box { color: #398fd8; font-size: 30pt; }
.blue-box:hover { cursor: pointer; }
#select-date-dialog { background-color: rgb(255, 254, 246) !important; }
.reqMark { color: red; }
</style>

<div id="info-container">
    <input type="hidden" id="modal-esd-id" value="" />

    <table id="info-table" width="100%">
        <tr>
            <td width="100em"><strong><?php echo $this->translate('Paper'); ?></strong></td>
            <td id="info-paper">: </td>
        </tr>
        <tr>
            <td><strong><?php echo $this->translate('Exam Center'); ?></strong></td>
            <td id="info-exam-center">: </td>
        </tr>
        <tr>
            <td><strong><?php echo $this->translate('Address'); ?></strong></td>
            <td id="info-exam-center-address">: <?php echo $this->address; ?></td>
        </tr>
        <tr>
            <td><strong><?php echo $this->translate('Year'); ?></strong></td>
            <td id="info-exam-year">: 
                <select class="" id="select-exam-year">
                    <?php
                    $limit = 1;
                    $year = date('Y');
                    $max_limit = $year+$limit;

                    for($i = $year; $i <= $max_limit; $i++):
                        $selected = '';
                        if($i == $this->year):
                            $selected = 'selected="selected"';
                        endif;

                        echo "<option value='$i' $selected>$i</option>";
                    endfor;
                    ?>                
                </select>
            </td>
        </tr>
        <tr>
            <td><strong><?php echo $this->translate('Date'); ?></strong></td>
            <td id="info-date">: </td>
        </tr>
    </table>
</div>

<div id="calendar-container" style="text-align: center;">
    <p class=" reqMark">
        <?php echo $this->translate('Please click on'); ?> <span class="blue-box">■</span> <?php echo $this->translate('to select exam date'); ?>
    </p>
    <div style="clear:both;"></div>
    <?php for($i=1; $i<=12; $i++): ?>
        <?php $month = str_pad($i, 2, "00", STR_PAD_LEFT); ?>
        <div class="calendar" id="calendar-<?php echo $month; ?>" data-month="<?php echo $month; ?>"></div>
    <?php endfor; ?>
    <div style="clear:both;"></div>
</div>

<div id="session-container">
    <table id="session-table" class="uk-table uk-table-stacked uk-table-main" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate('Session'); ?></th>
                <th><?php echo $this->translate('Start Time'); ?></th>
                <th><?php echo $this->translate('End Time'); ?></th>
                <th><?php echo $this->translate('Available Seat'); ?></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div style="text-align: center;">
        <button type="button" id="reselect-date">Cancel</button>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
    var schedules_json = <?php echo $this->schedules_json; ?>;

    <?php foreach($this->schedules as $month => $dates): ?>
        $('.calendar[data-month=<?php echo $month; ?>]').fullCalendar({
            'firstDay': 1,
            'height':'auto',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month'
            },
            defaultView: 'month',
            defaultDate: '<?php echo $this->year; ?>-<?php echo $month; ?>-01',
            events: [
                <?php foreach($dates as $date => $schedules): ?>
                    <?php foreach($schedules as $schedule): ?>
                        {
                            id: <?php echo $schedule["es_id"]; ?>,
                            title: '<?php echo $schedule["pe_name"]; ?>',
                            start: '<?php echo $schedule["es_date"]; ?>T<?php echo $schedule["es_start_time"]; ?>',
                        },
                    <?php endforeach; ?>
                <?php endforeach; ?>
            ],
            eventRender: function (event, element) {
                var dataToFind = moment(event.start).format('YYYY-MM-DD');
                $("td[data-date='"+dataToFind+"']").not('.fc-other-month').addClass('has-event');
            }
        });
    <?php endforeach; ?>

    $(document).off('click', 'td.has-event');
    $(document).on('click', 'td.has-event', function(e) {
        var date     = $(this).data('date');
        var month    = date.substr(5,2);
        var paper    = null;
        var date_dmy = null;

        var html = '';

        $.each(schedules_json[month][date], function(key, data) {
            if (data.esd_id == '<?php echo $this->esd_id; ?>')
            {
                $.each(data.exam_slots, function(s_key, slot) {
                    var show_button = true;
                    if(parseInt(slot.seat_quota.available) <= 0) {
                        show_button = false;
                    }

                    html += '<tr>'+
                        '<td>'+slot.sl_name+'</td>'+
                        '<td width="100em" align="center">'+ slot.es_start_time_ampm +'</td>'+
                        '<td width="100em" align="center">'+ slot.es_end_time_ampm +'</td>'+
                        '<td width="100em" align="center">'+ slot.seat_quota.available +'</td>';

                    if(show_button) {
                        html += '<td width="100em" align="center"><button type="button" data-es-id="'+data.es_id+'" data-es-date="'+data.es_date_dmy+'" data-esd-id="'+data.es_esd_id+'" data-start-time="'+slot.es_start_time_ampm+'" data-end-time="'+slot.es_end_time_ampm+'" data-exam-tagging-slot-id="'+slot.sts_id+'" data-ec-id="'+data.ec_id+'" class="select-session-btn">Select</button></td>';
                    }
                    else {
                        html += '<td width="100em" align="center" class="reqMark">Slot is full</td>';
                    }

                    html += '</tr>';
                });
            }
            
            paper    = data.pe_name;
            date_dmy = data.es_date_dmy;
        });

        $('#info-date').text(': '+date_dmy);
        $('#session-container #session-table tbody').html(html);
        $('#session-container').show();
        $('#calendar-container').hide();
    });

    $('#reselect-date').click(function(e) {
        $('#calendar-container').show();
        $('#session-container').hide();
        $('#info-date').text(': Please select date');
    });

    $(document).off('click', 'button.select-session-btn');
    $(document).on('click', 'button.select-session-btn', function(e) {
        var examschedule_id    = $(this).data('es-id');
        var examcenter_id      = $(this).data('ec-id');
        var examtaggingslot_id = $(this).data('exam-tagging-slot-id');
        var esd_id             = $(this).data('esd-id');
        var date               = $(this).data('es-date');
        var start_time         = $(this).data('start-time');
        var end_time           = $(this).data('end-time');
        $('input.examschedule_id[data-esd-id='+esd_id+']').val(examschedule_id);
        $('input.examcenter_id[data-esd-id='+esd_id+']').val(examcenter_id);
        $('input.examtaggingslot_id[data-esd-id='+esd_id+']').val(examtaggingslot_id);
        $('div.es_date[data-esd-id='+esd_id+']').html(date+'<br/>'+start_time +' - '+ end_time);
        $('#select-date-dialog').dialog('close');
    });
});
</script>