<?php echo $this->headLink()->appendStylesheet($this->baseUrl() . '/js/plugins/fullcalendar/fullcalendar.min.css'); ?>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/plugins/moment/moment.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/plugins/fullcalendar/fullcalendar.js"></script>
<style type="text/css">
    #calendar-container { height: 430px; overflow-y: scroll; }
    .reqMark { color: red; }
</style>
<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">

        <!-- content -->
        <h3><?php //echo $this->translate('Exam Detail'); ?></a></h3>
        <h3><a href="<?php echo $this->baseUrl() ?>/user/dashboard/tab/exam"><?php echo $this->translate('Exam Detail') ?></a></h3>
<form method="post" id="schedule-form"  action="<?php echo $this->baseUrl()?>/exam/update-schedule-exam/id/<?php echo $this->myexams['er_id'];?>">
<table class="uk-table" width="100%">
    <tr>
        <th><?php echo $this->translate('Created Date'); ?></th>
        <td><?php echo date('d-m-Y H:i:A', strtotime($this->myexams['createddt'])); ?></td>
    </tr>

    <tr>
        <th width="150em"><?php echo $this->translate('Program'); ?></th>
        <td><?php echo $this->myexams['ProgramName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Learning Mode'); ?></th>
        <td><?php echo $this->myexams['mode_of_program_desc']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Exam Name'); ?></th>
        <td>
            <?php echo $this->myexams['es_name']; ?> — 
            <?php echo $this->myexams['es_online'] ? $this->translate('Online Examination') : $this->translate('Manual Examination'); ?>
        </td>
    </tr>
    <tr>
        <tr>
            <th><?php echo $this->translate('Exam Paper'); ?></th>
            <td>
                <table id="schedule-table" class="uk-table uk-table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th  width="120em"><?php echo $this->translate('Paper Name'); ?></th>
                            <!--th width="300em"><?php //echo $this->translate('Module'); ?></th-->
                            <th width="130em"><?php echo $this->translate('Exam Center'); ?></th>
                            <th width="50em"><?php echo $this->translate('Exam Date'); ?></th>
                            <th width="50em"></th>
                        </tr>
                    </thead>
                     <tbody>
                        <?php foreach($this->bes as $i =>$row): ?>
                            <?php
                            
                            $es_date         = $row['es_date'];
                            $day_limit_count = $this->myexams['days'];
                            $day_limit       = date('Y-m-d', strtotime("+$day_limit_count days"));
                            $allow_change    = true;
                            
                            if(strtotime($es_date) <= strtotime($day_limit)):
                                $allow_change = false;
                            endif;
    
                            if ($row['must_reschedule']):
                                $allow_change = true;
                            endif;
                            ?>
                            <tr>
                                <td class="paper_desc"><?php echo $row['pe_name']; ?><br><?php if($row['IdSubject']): ?>
                                        <?php echo $row['SubCode']; ?> —  <?php echo $row['SubjectName']; ?>
                                    <?php endif; ?>
                                    </td>
                                <!--td class="module_desc"></td-->
                                    
                                <td align="center">
                                    <?php if($allow_change): ?>
                                        <select class="uk-select uk-width-large ec_id">
                                            <?php foreach($row['details']['exam_centers'] as $ec): ?>
                                                <?php
                                                $selected = '';
                                                if($row['examcenter_id'] == $ec['ec_id']):
                                                    $selected = 'selected="selected"';
                                                endif;
                                                ?>
                                                <option value="<?php echo $ec['ec_id']; ?>" <?php echo $selected; ?>><?php echo $ec['ec_name']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    <?php else: ?>
                                        <?php echo $row['ec_name']; ?>
                                    <?php endif; ?>
                                </td>
                                <td align="center">
                                    <?php if($this->IdStudentRegistration): ?>
                                    <input 
                                        type  = "hidden" 
                                        name  = "<?php echo $i; ?>[examregistration_id]" 
                                        class = "examregistration_id" 
                                        value = "<?php echo $row['er_id']; ?>" 
                                        data-esd-id = "<?php echo $row['details']['esd_id']; ?>" />
                                    <?php endif; ?>

                                    <?php if($allow_change): ?>
                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[examsetupdetail_id]" 
                                            class = "examsetupdetail_id"     
                                            value = "<?php echo $row['details']['esd_id']; ?>"
                                            data-esd-id = "<?php echo $row['details']['esd_id']; ?>" />

                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[old-er_id]"          
                                            class = "old-bes_id"          
                                            value = "<?php echo $row['er_id']; ?>" 
                                            data-esd-id = "<?php echo $row['details']['esd_id']; ?>" />
                                            
                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[new-examschedule_id]" 
                                            class = "examschedule_id"     
                                            value = "<?php echo $row['examschedule_id']; ?>"
                                            data-esd-id = "<?php echo $row['esd_id']; ?>" />

                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[old-examschedule_id]" 
                                            class = "old-examschedule_id" 
                                            value = "<?php echo $row['examschedule_id']; ?>" 
                                            data-esd-id = "<?php echo $row['esd_id']; ?>" />

                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[new-examcenter_id]" 
                                            class = "examcenter_id"     
                                            value = "<?php echo $row['examcenter_id']; ?>"
                                            data-esd-id = "<?php echo $row['esd_id']; ?>" />

                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[old-examcenter_id]" 
                                            class = "old-examcenter_id" 
                                            value = "<?php echo $row['examcenter_id']; ?>" 
                                            data-esd-id = "<?php echo $row['esd_id']; ?>" />

                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[new-examtaggingslot_id]" 
                                            class = "examtaggingslot_id"     
                                            value = "<?php echo $row['examtaggingslot_id']; ?>"
                                            data-esd-id = "<?php echo $row['esd_id']; ?>" />

                                        <input 
                                            type  = "hidden" 
                                            name  = "<?php echo $i; ?>[old-examtaggingslot_id]" 
                                            class = "old-examtaggingslot_id" 
                                            value = "<?php echo $row['examtaggingslot_id']; ?>" 
                                            data-esd-id = "<?php echo $row['esd_id']; ?>" />
                                    <?php endif; ?>

                                    <?php if($allow_change): ?>
                                        <div class="es_date" data-esd-id="<?php echo $row['details']['esd_id']; ?>">
                                    <?php else: ?>
                                        <div>
                                    <?php endif; ?>
                                        <?php echo date('d-m-Y', strtotime($row['es_date'])); ?>
                                        <br />
                                        <?php echo date('H:iA', strtotime($row['es_start_time'])); ?> - <?php echo date('H:iA', strtotime($row['es_end_time'])); ?>
                                        <?php if($allow_change): ?>
                                        <br />
                                       
                                        <?php else: ?>
                                            <br /><span class="reqMark"><?php echo $this->translate('You are not allowed to change the schedule for this paper'); ?></span>
                                        <?php endif; ?>
                                    </div>
                                </td>
                                 <td align="center">
                                    <?php if($allow_change): ?>
                                        <a href="#" class="select-date-btn uk-button uk-button-primary" data-esd-id="<?php echo $row['details']['esd_id']; ?>"><i class="uk-icon-calendar uk-margin-small-right"></i>Select Date</a>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                   
                </table>
                <div align='right'>
                    <a href="<?php echo $this->baseUrl()?>/exam/view-exam-detail/id/<?php echo $this->myexams['er_id']?>" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
                    <button class="uk-button uk-button-primary btn-submit"><i class="uk-icon-calendar uk-margin-small-right"></i> <?php echo $this->translate('Update Schedule')?></button>
                </div>
                   
            </td>
        </tr>
    </tr>

</table> 
</form>
        <!-- /content -->
    </div>
</div>

<div id="select-date-dialog" title="<?php echo $this->translate('Select Session'); ?>"></div>

<script type="text/javascript">

$('#select-date-dialog').dialog({
    autoOpen: false,
    width: '925px',
    modal: true,
    resizable: false
});


$(document).on('change', 'select.ec_id', function(e) {
    $(this).parents('tr:first').find('input.examschedule_id').val('');
    $(this).parents('tr:first').find('div.es_date').html('');
});

$(document).on('click', 'a.select-date-btn', function(e) {
    e.preventDefault();
    var ec_id       = parseInt($(this).parents('tr:first').find('.ec_id').val());
    var esd_id      = parseInt($(this).data('esd-id'));
    var paper_desc  = $(this).parents('tr:first').find('.paper_desc').text();
    var module_desc = $(this).parents('tr:first').find('.module_desc').text();
    var ec_desc     = $(this).parents('tr:first').find('.ec_id option:selected').text();

    if(!ec_id) {
        alert('Please select Exam Center first');
        return false;
    }
    
    var ajaxUrl = '<?php echo $this->baseUrl(); ?>/exam/get-exam-date/';
    $.post(ajaxUrl, { esd_id:esd_id, ec_id:ec_id } , function(data) {
        $('#select-date-dialog').html(data);
        $('#info-paper').text(': '+paper_desc);
        $('#info-module').text(': '+module_desc);
        $('#info-exam-center').text(': '+ec_desc);
        $('#info-date').text(': Please select date');

        setTimeout(function(){
            $('.calendar').fullCalendar('render');
        }, 100);

        $('#select-date-dialog').dialog('open');
    })
    .fail(function() {
        $('#select-date-dialog').dialog('close');
        alert('Failed to get Exam Date');
        return false;
    })
    .always(function() {

    });
});

$('#schedule-form').submit(function(e) {
    if(!$('input.examschedule_id[type=hidden]').length) {
        e.preventDefault();
        alert('Please complete the form');
        return false;
    }

    var proceed = true;

    if ($('.select_paper:visible').length && !$('.select_paper:visible:checked').length)
    {
        e.preventDefault();
        alert('Please select Paper');
        return false;
    }


    $.each($('input.examschedule_id[type=hidden]:not(.disabled)'), function() {
        if(!$(this).val().length) {
            proceed = false;
            return false;
        }
    });

    if(!proceed) {
        e.preventDefault();
        alert('Please select exam date');
        return false;
    }

    proceed = confirm("Are you sure?");
    if(!proceed) {
        e.preventDefault();
        return false;
    }

    $('#IdProgramScheme').val($('#IdLandscape > option:selected').data('idprogramscheme'));

});

</script>
