<div class="uk-grid">
    <div class="uk-width-medium-2-10">
        <?php Cms_Hooks::hook('user.sidebar') ?>
    </div>
    <div class="uk-width-medium-8-10">
        
        <?php if (!$this->allow_payment): ?>
            <p class="uk-alert uk-alert-danger"><span class="icon icon-attention"></span> <?php echo $this->translate('Payment must be made at least 7 days before the examination date'); ?></p>
        <?php endif; ?>
        
        <?php if ($this->myexams['must_reschedule']): ?>
            <p class="uk-alert uk-alert-danger"><span class="icon icon-attention"></span> <?php echo $this->translate('Slot is full. Please reschedule'); ?></p>
        <?php endif; ?>

        <!-- content -->
        <h3><?php //echo $this->translate('Exam Detail'); ?></a></h3>
            
        <h3><a href="<?php echo $this->baseUrl() ?>/user/dashboard/tab/exam"><?php echo $this->translate('Exam Detail') ?></a></h3>

<table class="uk-table" width="100%">

    <tr>
        <th><?php echo $this->translate('Created Date'); ?></th>
        <td><?php echo date('d-m-Y H:i:A', strtotime($this->myexams['createddt'])); ?></td>
    </tr>

    <tr>
        <th width="150em"><?php echo $this->translate('Program'); ?></th>
        <td><?php echo $this->myexams['ProgramName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Learning Mode'); ?></th>
        <td><?php echo $this->myexams['mode_of_program_desc']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Exam Name'); ?></th>
        <td>
            <?php echo $this->myexams['es_name']; ?> —
            <?php echo $this->myexams['es_online'] ? $this->translate('Online Examination') : $this->translate('Manual Examination'); ?>
        </td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Exam Paper'); ?></th>
        <td>

            <?php //if(!$this->myexams['paid_status'] && $allow_change): ?>
                <?php //$url = "/exam/schedule-exam/id/". $this->myexams['er_id']; ?>
                <!--a id="update-candidate-btn" href="<?php //echo $url; ?>">
                    <button type="button" class="btn-submit">
                        <i class="icon icon-calendar"></i> 
                        <?php //echo $this->translate('Change Schedule'); ?>
                    </button>
                </a-->
            <?php //endif; ?>

            <table id="schedule-table" class="uk-table-main maintable" width="100%">
                <thead>
                    <tr>
                        <th  width="300em"><?php echo $this->translate('Paper Name'); ?><?php echo $this->programdate[0]['days'];?></th>
                            <!--th width="300em"><?php //echo $this->translate('Module'); ?></th-->
                            <th width="300em"><?php echo $this->translate('Exam Center'); ?></th>
                            <th width="80em"><?php echo $this->translate('Exam Date'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php //foreach($this->bes as $row): ?>
                        <tr>
                            <td><?php echo $this->myexams['pe_name']; ?><br>
                            <?php if($this->myexams['IdSubject']): ?>
                                    <?php echo $this->myexams['SubCode']; ?> —  <?php echo $this->myexams['SubjectName']; ?>
                            <?php endif; ?>
                            </td>                          
                            <td><?php echo $this->myexams['ec_name']; ?></td>
                            <td align="center" width="200px">
                                <?php echo date('d-m-Y', strtotime($this->myexams['es_date'])); ?>
                                <br />
                                <?php echo date('H:iA', strtotime($this->myexams['es_start_time'])); ?> - <?php echo date('H:iA', strtotime($this->myexams['es_end_time'])); ?>
                            </td>
                        </tr>
                    <?php //endforeach; ?>
                </tbody>
            </table>

                <?php $allow_change = true; ?>

                <?php
                $day       = '+' . $this->myexams['days'] . ' days';
                $es_date   = $this->myexams['es_date'];//$es_date = '2017-04-26';
                $day_limit = date('Y-m-d', strtotime($day));

                if(strtotime($es_date) <= strtotime($day_limit)):
                    $allow_change = false;
                endif;
                if ($this->myexams['must_reschedule']):
                    $allow_change = true;
                endif;
                //$allow_change = false;
                ?>

                <?php if ($this->allow_payment): ?>
                    <br />
                    <div align='right'><a href="<?php echo $this->baseUrl()?>/exam/schedule-exam/id/<?php echo $this->myexams['er_id']?>" class="uk-button uk-button-primary"><i class="uk-icon-calendar uk-margin-small-right"></i> <?php echo $this->translate('Change Schedule')?> </a></div>
                <?php endif; ?>

        </td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Status'); ?></th>
        <td>
            <?php if($this->myexams['er_registration_type']==1): ?>
                <?php $er_main_id = $this->myexams['er_main_id']; ?>
                <?php echo $this->translate('Registered'); ?>&nbsp; <a
                                    href="<?php echo $this->baseUrl() ?>/exam/erm-slip/id/<?php echo $er_main_id; ?>"
                                    target="_blank"><span class="icon"><i class="icon-print"></i></span></span></a></i>
                 
        </td>
            <table class="uk-table infotable maintable">
                <tr>
                    <td>
                        <div align="right">
                              <a href="<?php echo $this->baseUrl()?>/user/dashboard/tab/exam" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
                        </div>
                            </a>
                    </td>
                </tr>
            </table>
            <?php else: ?>
                <?php echo $this->translate('Pre-Registered'); ?> 
        </td>
    </tr>
</table>
    <?php if ($this->allow_payment): ?>
        <table class="uk-table infotable maintable">
            <tr>
                <td>
                    <p class="reqMark">
                        Note *:
                        <br />
                        Exam location and date may be changed.We will inform candidates atleast two days before any changes by email and sms
                        <br />
                        Last date of registration is 14 days prior to the choosen examination date
                    </p>
                    
                    <p align="center">
                        <p class="reqMark"><strong>Declaration</strong></p>
                        <input type="hidden" name="isallowpay" id="isallowpay" value="<?php echo $allow_change?>"/>
                        <input type="checkbox" name="agreement" id="agreement" onclick="checkdeclare()" />
                        I hereby declare that the information given is true and accurate. If I passed the examination and the information given is found to be not true, I understand that IBFIM reserves the right to Cancel the examination result and take action according to the rules and regulation of <?php echo $this->myexams['ProgramName']; ?>
    
    
                        <div align="right">
                            <a href="<?php echo $this->baseUrl()?>/dashboard" class="uk-button uk-button"><?php echo $this->translate('Back')?></a>
                            <?php $payment_url = $this->baseUrl() .'/exam/examcheckout/id/'. Cms_Common::encrypt($this->myexams['order_id']); ?>
                            <?php
                            $data = array(
                                'token'    => Cms_Common::token(),
                                'order_id' => $this->myexams['order_id'],
                                'er_id'    => $this->myexams['er_id']
                            );
                            $hash = Cms_Common::encrypt(json_encode($data));
                            $payment_url = $this->baseUrl() .'/register/checkout-mode/i/' . $hash;
                            ?>
                            <a id="payment-btn" href="<?php echo $payment_url; ?>">
                                 <button type="button" class="uk-button uk-button-primary" disabled id="pay-button">
                                    <i class="uk-icon icon-credit-card"></i> <?php echo $this->translate('Proceed to Payment'); ?>
                                </button>
                            </a>
                        </div>
                    </p>
                </td>
            </tr>
        </table>
    <?php endif; ?>
 <?php endif; ?>
    


    </div>
</div>

<script type="text/javascript">
$('#agreement').prop('checked', false);

$(document).ready(function(){
    var isallowpay =  $('#isallowpay').val();
    if(isallowpay=="" && isallowpay != '1') {
        $('#agreement').attr('disabled', 'disabled');
    }else{
        $('#agreement').removeAttr('disabled');
    }
});


//$('#agreement').change(function(e) {
//    $('#pay-button').prop('disabled', true);
//    if($('#agreement:checked').length) {
//        $('#pay-button').prop('disabled', false);
//    }
//
//});

function checkdeclare(){
    var isallowpay =  $('#isallowpay').val();
    if($("#agreement").is(':checked')){
        if(isallowpay!="" && isallowpay == '1'){
            $('#pay-button').prop('disabled', false);
        }else{
            $('#pay-button').prop('disabled', true);
        }
    }else{
        $('#pay-button').prop('disabled', true);
    }
};
</script>