 <form class="uk-form"  id="myform" name="myform" method="post" action="">
<div class="clearfix">
                    <h4>Cpd Learning</h4>
                <div class="filter-block">
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Learning Type</label>
                                    <?php  echo $this->form->DefinitionDesc;?>                 
                               </div>                                
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">                    
                                    <label>Description</label>
                                    <?php  echo $this->form->Description;?>                 
                               </div>                                
                            </div>                            
                        </div>
                     </div>                                                 
                <div class="button-group">
                    <?php echo $this->form->Save;?>
                    <input type="button" class="btn btn-primary" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back") ?> onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'Definitionms', 'action'=>'index'),'default',true);?>';" />   
                </div>                    
                                                                                                                                        
                    </div>                
                    </div>                                  
                </div>
</form>



    
